<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'menu_course.search_course' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="searchCourse" (ngSubmit)="onSubmit()">
            <div class="col-md-12 col-xl-12 form-group row p-20">
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label" ngbTooltip="You can request from your Instructor">{{'eva.manage_course.list_course.course_id' | translate}}</label>
                    <input type="text" class="form-control" id="CourseId" formControlName="CourseId">
                </div>
                <div class="col-md-12 col-xl-2 form-group">
                    <label class="col-form-label">&nbsp;</label>
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-ui-search"></i>{{'general.search' | translate}}
                    </button>
                </div>
            </div>
        </form>
        <div class="col-md-12 col-xl-12" style="text-align:center;" *ngIf="data == ''">
            <label class="col-form-label" style="color: red">{{'eva.manage_course.list_course.invalid_search_course' | translate}}.</label>
            <br/>
            <br/>
        </div>
        <div class="col-md-12 col-xl-12" style="text-align:center;" *ngIf="data != '' && data != null && data.Message == 'Expired'">
            <label class="col-form-label" style="color: red">Course ID you entered is expired, please contact your instructor.</label>
            <br/>
            <br/>
        </div>
        <div class="col-md-12 col-xl-12" *ngIf="data != '' && data != null && data.Message == 'NotExpired'">
            <div class="card card-border-default">
                <div class="card-header">
                    <span class="card-title">{{data.Name}}</span>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-striped table-borderless table-responsive full-data-table pull-center">
                                <tr>
                                    <td width="50%">
                                        <strong>{{'eva.manage_course.list_course.course_title' | translate}} : </strong>{{data.Name}}</td>
                                    <td width="50%">&nbsp;</td>
                                    <td width="50%">
                                        <strong>{{'eva.manage_course.list_course.course_id' | translate}} : </strong>{{data.CourseId}}</td>
                                </tr>
                                <tr>
                                    <td width="50%">
                                        <strong>{{'eva.manage_course.list_course.instructor_name' | translate}} : </strong>{{data.ContactName}}</td>
                                    <td width="50%">&nbsp;</td>
                                    <td width="50%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="50%">
                                        <strong>{{'general.start_date' | translate}} : </strong>{{data.StartDate | convertDate}}</td>
                                    <td width="50%">&nbsp;</td>
                                    <td width="50%">
                                        <strong>{{'general.end_date' | translate}} : </strong>{{data.CompletionDate | convertDate}}</td>
                                </tr>
                                <tr>
                                    <td width="50%">
                                        <strong>{{'epdb.admin.product.product_name' | translate}} : </strong>{{data.productName}}</td>
                                    <td width="50%">&nbsp;</td>
                                    <td width="50%">
                                        <strong>{{'eva.manage_course.detail.version' | translate}} : </strong>{{data.Version}}</td>
                                </tr>
                                <tr>
                                    <td width="50%">
                                        <strong>{{'eva.manage_course.list_course.teaching_hours' | translate}} : </strong>{{data.HoursTraining}}</td>
                                    <td width="50%">&nbsp;</td>
                                    <td width="50%">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="50%">
                                        <strong>{{'eva.manage_course.list_course.course_level' | translate}} : </strong>
                                        <p [innerHTML]="TeachingLevel"></p>
                                    </td>
                                    <td width="50%">&nbsp;</td>
                                    <td width="50%">&nbsp;</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-sm-10"></div>
                        <div class="col-sm-2">
                            <button type="button" (click)="enroll(data.CourseId, data.Name)" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                                {{'eva.manage_course.list_course.enroll_course' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>