<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.user.change_user_information' | translate }}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-6 col-xl-6 form-group">
                <label class="col-form-label">{{ 'epdb.user.user_id' | translate }}</label>
                <br/> nakarinb@bluecube.com.sg
            </div>
            <div class="col-md-6 col-xl-6">&nbsp;</div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{ 'epdb.user.user_name' | translate }}</label>
                <input type="email" class="form-control" id="email" value="nakarin B">
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{ 'epdb.user.email_address' | translate }}</label>
                <input type="email" class="form-control" id="email" value="nakarinb@bluecube.com.sg">
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{ 'epdb.user.show_duplicate' | translate }}</label>
                <br/>
                <div class="checkbox-fade fade-in-primary">
                    <label>
                        <input type="checkbox" value="">
                        <span class="cr">
                            <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                        </span>
                        <span class="text-inverse">{{ 'epdb.user.label_show_duplicate' | translate }}</span>
                    </label>
                </div>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{ 'epdb.user.company_name' | translate }}</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{ 'epdb.user.new_password' | translate }}</label>
                <input type="password" class="form-control" id="email">
            </div>
            <div class="col-md-12 col-xl-12">&nbsp;</div>
            <div class="col-md-6 col-xl-6">&nbsp;</div>
            <div class="col-md-2 col-xl-2">
                <button type="button" [routerLink]="['/epdb/change-user-information']" class="btn btn-success btn-md btn-block waves-effect text-center m-b-20">
                    <i class="icofont icofont-save"></i> {{'general.btn_save' | translate}}</button>
            </div>
            <div class="col-md-2 col-xl-2">
                <button type="button" [routerLink]="['/epdb/change-user-information']" class="btn btn-default btn-md btn-block waves-effect text-center m-b-20">
                    <i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}</button>
            </div>
            <div class="col-md-2 col-xl-2">
                <button type="button" [routerLink]="['/epdb/change-user-information']" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                    <i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
            </div>
        </div>
    </div>
</div>