<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'eva.manage-evaluation.take-survey.evaluation-survey' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div id='surveyElement'></div>
    </div>
</div>
