<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>Products Trained Statistics</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.report_eva.organization_report.filter_data' | translate}}:</label>
                <br>
                <label class="col-form-label">{{'epdb.admin.country.geo.geo' | translate}}</label>
                <angular2-multiselect [data]="dropdownListGeo " [(ngModel)]="selectedItemsGeo" [ngModelOptions]="{standalone:true}" [settings]="dropdownSettings"
                    (onSelect)="onGeoSelect($event)" (onDeSelect)="OnGeoDeSelect($event)" (onSelectAll)="onGeoSelectAll($event)"
                    (onDeSelectAll)="onGeoDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">&nbsp;</label>
                <br>
                <label class="col-form-label">{{ 'epdb.admin.country.territory.territory' | translate }}</label>
                <angular2-multiselect [data]="dropdownListTerritories" [(ngModel)]="selectedItemsTerritories" [settings]="dropdownSettings"
                    [ngModelOptions]="{standalone: true}" (onSelect)="onTerritorySelect($event)" (onDeSelect)="onTerritoryDeSelect($event)"
                    (onSelectAll)="onTerritorySelectAll($event)" (onDeSelectAll)="onTerritoryDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">&nbsp;</label>
                <br>
                <label class="col-form-label">{{'epdb.admin.country.countries.country' | translate}}</label>
                <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" [settings]="dropdownSettings" [ngModelOptions]="{standalone: true}"
                    (onSelect)="onCountriesSelect($event)" (onDeSelect)="OnCountriesDeSelect($event)" (onSelectAll)="onCountriesSelectAll($event)"
                    (onDeSelectAll)="onCountriesDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group ">
                <label class="col-form-label">{{'epdb.admin.market_type.market_type' | translate}}</label>
                <angular2-multiselect [data]="dropdownListMarketType" [(ngModel)]="selectedItemsMarketType" [settings]="dropdownSettings"
                    [ngModelOptions]="{standalone:true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                </angular2-multiselect>
            </div>
	   <div class="col-md-4 col-xl-4 form-group ">
                <label class="col-form-label">Primary Product</label>
              <select name="primary" class="form-control" [(ngModel)]="selectedPrimaryProduct">
                    <option value="">-- {{ 'general.select' | translate }} --</option>
                    <option *ngFor="let item of Primary" value="{{item.Id}}">{{item.itemName}}</option>
                </select>
            </div>
			 <div class="col-md-4 col-xl-4 form-group ">
                <label class="col-form-label">Secondary Product</label>
               <select name="secondary" class="form-control" [(ngModel)]="selectedSecondaryProduct">
                    <option value="">-- {{ 'general.select' | translate }} --</option>
                    <option *ngFor="let item of Secondary" value="{{item.Id}}">{{item.itemName}}</option>
                </select>
            </div>
            <div class="col-md-12 col-xl-12">&nbsp;</div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">Date Range by:</label>
                <div class="form-radio">
                    <div class="radio radio-inline">
                        <label>
                            <input type="radio" [(ngModel)]="selectedValueDateRange" value="SurveyYear">
                            <i class="helper"></i>Survey Year
                        </label>
                    </div>
                    <div class="radio radio-inline">
                        <label>
                            <input type="radio" [(ngModel)]="selectedValueDateRange" value="SubmittedDate">
                            <i class="helper"></i>Date submitted from
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-xl-8">&nbsp;</div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.report_eva.organization_report.survey_year' | translate}}</label>
                <select name="oStatus" class="form-control" [(ngModel)]="selectedYear">
                    <option value="">-- {{ 'general.select' | translate }} --</option>
                    <option *ngFor="let item of year" value="{{item.Key}}">{{item.KeyValue}}</option>
                </select>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'general.start_date' | translate}}:</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="modelPopup1" ngbDatepicker #d1="ngbDatepicker"
                        (ngModelChange)="onSelectDate($event)" readonly>
                    <div class="input-group-addon bg-default" (click)="d1.toggle()">
                        <span class="icofont icofont-ui-calendar"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'general.end_date' | translate}}:</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="modelPopup2" ngbDatepicker #d2="ngbDatepicker"
                        (ngModelChange)="onSelectDate($event)" readonly>
                    <div class="input-group-addon bg-default" (click)="d2.toggle()">
                        <span class="icofont icofont-ui-calendar"></span>
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.report_eva.performance_overview.site_active' | translate}}</label>
                <select name="oStatus" class="form-control" [(ngModel)]="SiteActive">
                    <option value="">-- {{ 'general.select' | translate }} --</option>
                    <option value="A">Active Only</option>
                    <option value="I">Inactive Only</option>
                </select>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.admin.partner_type.partner_type' | translate}}</label>
                <angular2-multiselect [data]="dropdownPartner" [(ngModel)]="selectedPartner" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                    (onSelect)="onPartnerSelect($event)" (onDeSelect)="OnPartnerDeSelect($event)" (onSelectAll)="onPartnerSelectAll($event)"
                    (onDeSelectAll)="onPartnerDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.admin.partner_type.certificate_type' | translate}}</label>
                <angular2-multiselect [data]="dropdownCertificate" [(ngModel)]="selectedCertificate" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onCertificateSelect($event)" (onDeSelect)="OnCertificateDeSelect($event)"
                    (onSelectAll)="onCertificateSelectAll($event)" (onDeSelectAll)="onCertificateDeSelectAll($event)">
                </angular2-multiselect>
            </div> -->
            <!-- <div class="col-md-4 col-xl-4 form-group" *ngIf="showEvent">
                <label class="col-form-label">Event Type</label>
                <angular2-multiselect [data]="dropdownEventType" [(ngModel)]="selectedEventType" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                    (onSelect)="onEventTypeSelect($event)" (onDeSelect)="OnEventTypeDeSelect($event)" (onSelectAll)="onEventTypeSelectAll($event)"
                    (onDeSelectAll)="onEventTypeDeSelectAll($event)">
                </angular2-multiselect>
            </div> -->
            <div class="col-md-6 col-xl-6">&nbsp;</div>
            <div class="col-md-2 col-xl-2">
                <button type="button" (click)="getReport()" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                    <i *ngIf="!loading" class="icofont icofont-play-alt-1 "></i>
                    <i class="fas fa-spinner fa-pulse" *ngIf="loading"></i>
                    {{ 'general.search' | translate }}
                </button>
            </div>
            <div class="col-md-2 col-xl-2">
                <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                    <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}
                </button>
            </div>
            <div class="col-md-2 col-xl-2">
                <button type="button" (click)="apiCall.unsubscribe();loading=false" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                    <i class="icofont icofont-stop"></i>{{ 'general.btn_stop_query' | translate }}</button>
            </div>
        </div>
    </div>
    <div class="card-block" *ngIf="!dataFound && totalEval==0">
        <p class="text-center">{{'general.data_empty' | translate}}</p>
    </div>
    <div class="card-block" *ngIf="dataFound">
        <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">{{'epdb.report_eva.organization_report.total_evaliation' | translate}}: {{totalEval}}</label>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="text-right">
                <i class="fa fa-file-excel-o"></i>
                <a href="javascript:;" (click)="ExportExceltoXls()"> Export to .xls</a> &nbsp;
                <a href="javascript:;" (click)="ExportExceltoXlSX()"> Export to .xlsx</a> &nbsp;
                <a href="javascript:;" (click)="ExportExceltoCSV()"> Export to .csv</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;" *ngIf="dataFound">
                <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="report | dataFilter: filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    
                    <!-- fix product trained statistic format issue 04/09/2018 -->

                    <thead *ngIf="listkey != null; else goAhead">
                        <tr>
                            <th width="20%" *ngFor="let kolom of listkey">
                                <mfDefaultSorter by="{{kolom}}">{{kolom}}</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <ng-template #goAhead>
                        <thead>
                            <tr>
                                <th width="200%">&nbsp;</th>
                            </tr>
                        </thead>
                    </ng-template>
                    <tbody *ngIf="report != null; else anotherBody">
                        <tr *ngFor="let item of mf.data">
                            <td *ngFor="let kolom of listkey" [innerHTML]="item[kolom]"></td>
                        </tr>
                    </tbody>
                    <ng-template #anotherBody>
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </ng-template>

                    <!-- fix product trained statistic format issue 04/09/2018 -->
                    
                    <!-- <thead>
                        <tr>
                            <th width="10%" colspan="2">Product - Version</th>
                            <th width="10%">Survey Partner Type</th>
                            <th width="10%">Worldwide</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="report != null">
                        <tr *ngFor="let item of mf.data">
                            <td>{{item.productName}}</td>
                            <td>{{item.Version}}</td>
                            <td>{{item.PartnerType}}</td>
                            <td>{{item.WorldWide}}</td>
                        </tr>
                    </tbody> -->

                    <tfoot>
                        <tr *ngIf="report!=null">
                            <td colspan="999">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="report==null">
                            <td colspan="999" class="text-center">{{'general.loading_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="report==''">
                            <td colspan="999" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        <!-- <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
            <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center">
                <ngx-loading [show]="loading_1" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                <thead>
                    <tr *ngIf="listkolom != null">
                        <th *ngFor="let kolom of listkolom">{{kolom}}</th>
                    </tr>
                </thead>
                <tbody *ngIf="report != null">
                    <tr *ngFor="let item of report | paginate : { itemsPerPage:10, currentPage:page, id : 1, totalItems:countdata }">
                        <td *ngFor="let kolom of listkolom">{{item[kolom]}}</td>
                    </tr>
                </tbody>
                <tbody *ngIf="report == null">
                    <tr *ngFor="let item of report_temp | paginate : { itemsPerPage:10, currentPage:page, id : 1, totalItems:countdata }">
                        <td *ngFor="let kolom of listkolom">{{item[kolom]}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr *ngIf="report!=null && report != ''">

                        <td colspan="999" class="text-left">
                            <pagination-controls (pageChange)="page = getServerData($event)" id="1" maxSize="8" directionLinks="true" autohide="true"></pagination-controls>
                        </td>
                    </tr>
                    <tr *ngIf="report==null">
                        <td colspan="999" class="text-center">{{'general.loading_data' | translate}} ...</td>
                    </tr>
                    <tr *ngIf="report==''">
                        <td colspan="999" class="text-center">{{'general.data_empty' | translate}}</td>
                    </tr>
                </tfoot>
            </table>
        </div> -->
    </div>
</div>