<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.manage.contact.search_general.general_search' | translate }}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="filtergeneralform" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-lg-12 col-xl-12 form-group">
                    <label class="label-control">{{ 'epdb.manage.contact.search_general.search_for' | translate }}</label>
                    <input type="text" class="form-control" id="SearchFor" formControlName="SearchFor" />
                    <span class="messages text-danger" *ngIf="!filtergeneralform.get('SearchFor').valid && filtergeneralform.get('SearchFor').touched">* Please enter below selected criteria</span>
                </div>
                <!--
                <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                    <label class="label-control">{{ 'epdb.manage.contact.search_general.search_in' | translate }}</label>
                    <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data | dataFilter : filterQuery"
                        #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                            <tr>
                                <th width="20%"></th>
                                <th width="20%">{{ 'epdb.manage.organization.detail.organization' | translate }}</th>
                                <th width="20%">{{ 'epdb.manage.site.detail.site' | translate }}</th>
                                <th width="20%">{{ 'epdb.manage.contact.detail.contact' | translate }}</th>
                                <th width="20%">{{ 'epdb.manage.contact.search_general.all' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>ID</th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="selectionChange($event.target.checked, $event.target.value)" value="id_org" [checked]="id_org">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="selectionChange($event.target.checked, $event.target.value)" value="id_site" [checked]="id_site">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="selectionChange($event.target.checked, $event.target.value)" value="id_contact" [checked]="id_contact">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="change_row_1($event.target.checked)" [checked]="id_all_row_1">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="selectionChange($event.target.checked, $event.target.value)" value="name_org" [checked]="name_org">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="selectionChange($event.target.checked, $event.target.value)" value="name_site" [checked]="name_site">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="selectionChange($event.target.checked, $event.target.value)" value="name_contact" [checked]="name_contact">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="change_row_2($event.target.checked)" [checked]="id_all_row_2">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="selectionChange($event.target.checked, $event.target.value)" value="address_org" [checked]="address_org">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="selectionChange($event.target.checked, $event.target.value)" value="address_site" [checked]="address_site">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>-</th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="change_row_3($event.target.checked)" [checked]="id_all_row_3">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>Contacts</th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="selectionChange($event.target.checked, $event.target.value)" value="contacts_org" [checked]="contacts_org">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="selectionChange($event.target.checked, $event.target.value)" value="contacts_site" [checked]="contacts_site">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>-</th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="change_row_4($event.target.checked)" [checked]="id_all_row_4">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="selectionChange($event.target.checked, $event.target.value)" value="email_org" [checked]="email_org">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="selectionChange($event.target.checked, $event.target.value)" value="email_site" [checked]="email_site">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="selectionChange($event.target.checked, $event.target.value)" value="email_contact" [checked]="email_contact">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="change_row_5($event.target.checked)" [checked]="id_all_row_5">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>CSN Numbers</th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="selectionChange($event.target.checked, $event.target.value)" value="CSN_org" [checked]="CSN_org">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="selectionChange($event.target.checked, $event.target.value)" value="CSN_site" [checked]="CSN_site">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>-</th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="change_row_6($event.target.checked)" [checked]="id_all_row_6">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>Serial Numbers</th>
                                <th>-</th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="selectionChange($event.target.checked, $event.target.value)" value="serialnumber_site" [checked]="serialnumber_site">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>-</th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="change_row_7($event.target.checked)" [checked]="id_all_row_7">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>Invoices</th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="selectionChange($event.target.checked, $event.target.value)" value="invoices_org" [checked]="invoices_org">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>-</th>
                                <th>-</th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="change_row_8($event.target.checked)" [checked]="id_all_row_8">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>Notes</th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="selectionChange($event.target.checked, $event.target.value)" value="notes_org" [checked]="notes_org">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="selectionChange($event.target.checked, $event.target.value)" value="notes_site" [checked]="notes_site">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="selectionChange($event.target.checked, $event.target.value)" value="notes_contact" [checked]="notes_contact">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="change_row_9($event.target.checked)" [checked]="id_all_row_9">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                            </tr>
                            <tr>
                                <th>All</th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="change_col_1($event.target.checked)" [checked]="id_all_col_1">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="change_col_2($event.target.checked)" [checked]="id_all_col_2">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="change_col_3($event.target.checked)" [checked]="id_all_col_3">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                                <th>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" (change)="change_col_4($event.target.checked)" [checked]="id_all_col_4">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                -->
                <div class="col-lg-12 col-xl-12 row p-20">
                    <div class="col-xs-4 col-sm-4 ">
                        <div class="form-radio">
                            <div class="radio radiofill radio-primary radio-inline">
                                <label>
                                    <input type="radio" name="member" value="hidedeleted" [checked]="showDataBy=='hidedeleted'" data-bv-field="member" (change)="radioBtn($event.target.value)">
                                    <i class="helper"></i>{{ 'epdb.manage.contact.search_general.hide' | translate }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 ">
                        <div class="form-radio">
                            <div class="radio radiofill radio-primary radio-inline">
                                <label>
                                    <input type="radio" name="member" value="showdeleted" [checked]="showDataBy=='showdeleted'" data-bv-field="member" (change)="radioBtn($event.target.value)">
                                    <i class="helper"></i>{{ 'epdb.manage.contact.search_general.show' | translate }}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4 col-sm-4 ">
                        <div class="form-radio">
                            <div class="radio radiofill radio-primary radio-inline">
                                <label>
                                    <input type="radio" name="member" value="showdeletedonly" [checked]="showDataBy=='showdeletedonly'" data-bv-field="member" (change)="radioBtn($event.target.value)">
                                    <i class="helper"></i>{{ 'epdb.manage.contact.search_general.show_only' | translate }}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-12 row">
                    <div class="col-xs-10 col-sm-10 text-right"></div>
                    <div class="col-xs-2 col-sm-2 text-right">
                        <button type="submit" class="btn btn-primary btn-md btn-block text-center">
                            <i class="icofont icofont-checked"></i> {{ 'general.search' | translate }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.manage.organization.detail.organization' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data_org | dataFilterOrganization : filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="25%">
                                <mfDefaultSorter by="OrgId">{{ 'epdb.manage.organization.detail.organization_id' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="25%">
                                <mfDefaultSorter by="PartnerType">Found</mfDefaultSorter>
                            </th>
                            <th width="25%">
                                <mfDefaultSorter by="PartnerType">{{ 'general.type' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="25%">
                                <mfDefaultSorter by="PartnerTypeStatus">{{ 'general.status' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="25%">
                                <mfDefaultSorter by="OrgName">{{ 'epdb.manage.organization.detail.organization_name' | translate }}</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="data_org!=null && data_org!=''">
                        <tr *ngFor="let item of mf.data">
                            <td>{{item.OrgId}}</td>
                            <td>
                                <div *ngFor="let fi of item.FoundInformation">{{fi}}</div>
                            </td>
                            <td [innerHTML]="item.PartnerType | replace">
                            </td>
                            <td>{{item.Status}}</td>
                            <td>
                                <a [routerLink]="['/manage/organization/detail-organization',item.OrganizationId]">{{item.OrgName}}</a>
                                <br/>GEO : {{item.GeoName}}
                                <br/>COUNTRY : {{item.CountriesName}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data_org==null">
                            <td colspan="5" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="data_org==''">
                            <td colspan="5" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.manage.site.detail.site' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4  row p-20">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage_site">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery_site" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data_site | dataFilterSite : filterQuery_site"
                    #mf2="mfDataTable" [mfRowsOnPage]="rowsOnPage_site" [(mfSortBy)]="sortBy_site" [(mfSortOrder)]="sortOrder_site">
                    <thead>
                        <tr>
                            <th width="10%">
                                <mfDefaultSorter by="SiteId">{{ 'epdb.manage.site.detail.site_id' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="OrgId">Found</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="OrgId">{{ 'epdb.manage.organization.detail.organization_id' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="PartnerType">{{ 'general.type' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="PartnerTypeStatus">{{'general.status' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="CSN">CSN</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="SiteName">{{ 'epdb.manage.site.detail.site_name' | translate }}</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="data_site!=null && data_site!=''">
                        <tr *ngFor="let item of mf2.data">
                            <td>{{item.SiteId}}</td>
                            <td>
                                <div *ngFor="let fi of item.FoundInformation">{{fi}}</div>
                            </td>
                            <td>
                                <a [routerLink]="['/manage/organization/detail-organization',item.OrganizationId]" *ngIf="item.OrganizationId">{{item.OrgId}}</a>
                                <span *ngIf="!item.OrganizationId">{{item.OrgId}}</span>
                            </td>
                            <td [innerHTML]="item.PartnerType | replace">
                            </td>
                            <td [innerHTML]="item.PartnerTypeStatus | replace">
                            </td>
                            <td>{{item.Csn}}</td>
                            <td>
                                <a [routerLink]="['/manage/site/detail-site',item.SiteIdInt]">{{item.SiteName}}</a>
                                <br/>GEO : {{item.GeoName}}
                                <br/>COUNTRY : {{item.CountriesName}}
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data_site==null">
                            <td colspan="6" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="data_site==''">
                            <td colspan="6" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.manage.contact.detail.contact' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4  row p-20">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage_contact">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery_contact" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data_contact | dataFilterContact : filterQuery_contact"
                    #mf3="mfDataTable" [mfRowsOnPage]="rowsOnPage_contact" [(mfSortBy)]="sortBy_contact" [(mfSortOrder)]="sortOrder_contact">
                    <thead>
                        <tr>
                            <th width="20%">
                                <mfDefaultSorter by="ContactId">{{ 'epdb.manage.contact.detail.contact_id' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="30%">
                                <mfDefaultSorter by="ContactName">Found</mfDefaultSorter>
                            </th>
                            <th width="30%">
                                <mfDefaultSorter by="ContactName">{{ 'general.name' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="30%">
                                <mfDefaultSorter by="emailAddress">{{ 'epdb.manage.organization.detail.email' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="countryCode">{{ 'epdb.admin.country.countries.country' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="10%"></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="data_contact!=null && data_contact!=''">
                        <tr *ngFor="let item of mf3.data">
                            <td>
                                <a [routerLink]="['/manage/contact/detail-contact',item.ContactIdInt,item.SiteId]" *ngIf="item.SiteId">{{item.ContactId}}</a>
                                <span *ngIf="!item.SiteId">{{item.ContactId}}</span>
                            </td>
                            <td>
                                <div *ngFor="let fi of item.FoundInformation">{{fi}}</div>
                            </td>
                            <td>{{item.ContactName}}</td>
                            <td>{{item.EmailAddress}}</td>
                            <td>{{item.CountriesName}}</td>
                            <td>
                                <button *ngIf="item.ContactIdInt!=null && item.ContactIdInt!='' && item.SiteId != null && item.SiteId != '' && item.OrganizationId != null && item.OrganizationId != ''"
                                    (click)="routeaffiliate(item.ContactIdInt,item.SiteId,item.OrganizationId)" type="button"
                                    class="btn btn-primary btn-sm">{{ 'epdb.manage.contact.site_affiliated.btn_choose_site' | translate }}</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data_contact==null">
                            <td colspan="6" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="data_contact==''">
                            <td colspan="6" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>