<div class="card">
	<div class="card-header">
		<div class="page-header-title">
			<h4>{{'epdb.admin.site_services.edit_site_services' | translate}}</h4>
		</div>
	</div>
	<div class="card-block">
		<form [formGroup]="updatesiteservice" (ngSubmit)="onSubmit()">
			<div class="dt-responsive dt-bootstrap4 row p-20">
				<div class="col-md-4 col-xl-4 form-group">
					<label class="col-form-label">{{'epdb.admin.site_services.code' | translate}}</label>
					<input type="email" class="form-control" id="site_service_code" formControlName="site_service_code">
					<span class="messages text-danger" *ngIf="!updatesiteservice.get('site_service_code').valid && updatesiteservice.get('site_service_code').touched">* Please Enter Site Service Code</span>
				</div>
				<div class="col-md-4 col-xl-4 form-group">
					<label class="col-form-label">{{'epdb.admin.site_services.name' | translate}}</label>
					<input type="email" class="form-control" id="site_service_name" formControlName="site_service_name">
					<span class="messages text-danger" *ngIf="!updatesiteservice.get('site_service_name').valid && updatesiteservice.get('site_service_name').touched">* Please Enter Site Service Name</span>
				</div>
				<div class="col-md-4 col-xl-4 form-group">
					<label class="col-form-label">{{'general.description' | translate}}</label>
					<textarea class="form-control" rows="5" id="description" formControlName="description"></textarea>
					<span class="messages text-danger" *ngIf="!updatesiteservice.get('description').valid && updatesiteservice.get('description').touched">* Description</span>
				</div>
				<div class="col-md-6 col-xl-6 form-group">
				</div>
				<div class="col-md-2 col-xl-2 form-group">
					<button type="submit" class="btn btn-success btn-md btn-block text-center"><i class="icofont icofont-save"></i> {{'general.btn_save_change' | translate}}</button>
				</div>
				<div class="col-md-2 col-xl-2 form-group">
					<button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center "><i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}</button>
				</div>
				<div class="col-md-2 col-xl-2 form-group">
					<button type="button" [routerLink]="['/admin/site-services/site-services-list']" class="btn btn-danger btn-md btn-block text-center "><i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
				</div>
			</div>
		</form>
	</div>
</div>