<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'eva.manage_course.confirm_student.confirm_student' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-xs-6 col-sm-6 col-sm-6 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilterStudent : filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="20%">
                                <mfDefaultSorter by="StudentID">{{'eva.manage_student_info.student_id' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="30%">
                                <mfDefaultSorter by="Firstname">{{'eva.manage_student_info.student_name' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="Email">{{'general.email_address' | translate}}</mfDefaultSorter>
                            </th>
                            <!-- <th width="20%">
                                <mfDefaultSorter by="Phone">{{'eim.profile.my_profile.telephone' | translate}}</mfDefaultSorter>
                            </th> -->
                            <th width="10%">{{'general.action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="data!=null">
                        <tr *ngFor="let item of mf.data">
                            <td class="text-center">{{item.StudentID}}</td>
                            <td>{{item.Firstname}} {{item.Lastname}}</td>
                            <td>{{item.Email}}</td>
                            <!-- <td>{{item.Phone}}</td> -->
                            <td>
                                <div class="checkbox-fade fade-in-primary" *ngIf="item.CourseTaken == 0; else this_checked">
                                    <label>
                                        <input type="checkbox" (change)="onChange(item.StudentID, $event.target.checked)">
                                        <span class="cr">
                                            <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                        </span>
                                    </label>
                                </div>
                                <ng-template #this_checked>
                                    <div class="checkbox-fade fade-in-primary">
                                        <label>
                                            <!-- <input type="checkbox" (change)="onChange(item.StudentID, $event.target.checked)" checked="true" disabled="disabled"> -->
                                            <input type="checkbox" (change)="onChange(item.StudentID, $event.target.checked)">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </ng-template>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="data!=null">
                            <td colspan="7">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="7" class="text-center">{{'general.loading_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="7" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="col-md-12 col-xl-12">&nbsp;</div>
            <div class="col-md-8 col-xl-8">&nbsp;</div>
            <div class="col-md-2 col-xl-2 form-group">
                <button type="button" class="btn btn-success btn-md btn-block text-center" (click)="saveStudentAttendance()">
                    <i class="icofont icofont-save"></i>{{'general.btn_save' | translate}}</button>
            </div>
            <!-- <div class="col-md-2 col-xl-2 form-group">
                <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                    <i class="icofont icofont-spinner-alt-3"></i>Reset</button>
            </div> -->
            <div class="col-md-2 col-xl-2 form-group">
                <button type="button" [routerLink]="['/course/course-list']" class="btn btn-danger btn-md btn-block text-center">
                    <i class="icofont icofont-ui-close"></i>{{'general.btn_cancel' | translate}}</button>
            </div>
        </div>
    </div>
</div>