<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.report.email_list_generator.email_list_generator' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="emailGenerator" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-8 col-xl-8 form-group">
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" value="" formControlName="logAfterMarch">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span class="text-inverse">{{'epdb.report.email_list_generator.only_show_user' | translate}}</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4 form-group">&nbsp;</div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.report.contact_report.filter_by_site_name' | translate}}:</label>
                    <input type="text" class="form-control" id="text" formControlName="searchBySiteName">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.report.email_list_generator.filter_by_contact_name' | translate}}:</label>
                    <input type="text" class="form-control" id="text" formControlName="searchByContactName">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.report.email_list_generator.who_looged' | translate}}:</label>
                    <select name="PartnerType" class="form-control" formControlName="byLastLogin">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of byLastLogin" value="{{item.val}}">{{item.name}}</option>
                    </select>
                </div>
                <div class="col-md-12 col-xl-12">&nbsp;</div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.report.organization_report.filter_by_partner_type' | translate}}:</label>
                    <angular2-multiselect [data]="dropdownListPartner" [(ngModel)]="selectedItemsPartner" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.report.organization_report.filter_by_partner_status' | translate}}:</label>
                    <angular2-multiselect [data]="dropdownListPartnerTypeStatus" [(ngModel)]="selectedItemsPartnerTypeStatus" [settings]="dropdownSettings"
                        [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.report.contact_report.filter_by_contact_role' | translate}}:</label>
                    <angular2-multiselect [data]="dropdownListContactRole" [(ngModel)]="selectedItemsContactRole" [settings]="dropdownSettings"
                        [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.report.contact_report.filter_by_industry' | translate}}:</label>
                    <angular2-multiselect [data]="dropdownListIndustry" [(ngModel)]="selectedItemsIndustry" [settings]="dropdownSettings" [ngModelOptions]="{standalone: true}"
                        (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                        (onDeSelectAll)="onDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.report.email_list_generator.filter_by_language' | translate}}:</label>
                    <angular2-multiselect [data]="dropdownListLanguage" [(ngModel)]="selectedItemsLanguage" [settings]="dropdownCountrySettings"
                        [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.report.email_list_generator.change_standard' | translate}}</label>
                    <br>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span class="text-inverse">{{'epdb.report.contact_report.use_primary' | translate}}</span>
                        </label>
                    </div>
                    <br>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span class="text-inverse">{{'epdb.report.email_list_generator.show_even_dont_email' | translate}}</span>
                        </label>
                    </div>
                    <br>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span class="text-inverse">{{'epdb.report.email_list_generator.show_even_email' | translate}}_*</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.report.organization_report.filter_by_location' | translate}}:</label>
                    <br>
                    <label class="col-form-label">{{ 'epdb.admin.country.geo.geo' | translate }}</label>
                    <angular2-multiselect [data]="dropdownListGeo " [(ngModel)]="selectedItemsGeo" [ngModelOptions]="{standalone:true}" [settings]="dropdownSettings"
                        (onSelect)="onGeoSelect($event)" (onDeSelect)="OnGeoDeSelect($event)" (onSelectAll)="onGeoSelectAll($event)"
                        (onDeSelectAll)="onGeoDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">&nbsp;</label>
                    <br>
                    <label class="col-form-label">{{ 'epdb.admin.country.region.region' | translate }}</label>
                    <angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onRegionSelect($event)" (onDeSelect)="OnRegionDeSelect($event)"
                        (onSelectAll)="onRegionSelectAll($event)" (onDeSelectAll)="onRegionDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">&nbsp;</label>
                    <br>
                    <label class="col-form-label">{{ 'epdb.admin.country.sub_region.sub_region' | translate }}</label>
                    <angular2-multiselect [data]="dropdownListSubRegion " [(ngModel)]="selectedItemsSubRegion" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onSubRegionSelect($event)" (onDeSelect)="OnSubRegionDeSelect($event)"
                        (onSelectAll)="onSubRegionSelectAll($event)" (onDeSelectAll)="onSubRegionDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.admin.country.countries.country' | translate }}</label>
                    <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" [settings]="dropdownSettings" [ngModelOptions]="{standalone: true}"
                        (onSelect)="onCountriesSelect($event)" (onDeSelect)="OnCountriesDeSelect($event)" (onSelectAll)="onCountriesSelectAll($event)"
                        (onDeSelectAll)="onCountriesDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-12 col-xl-12 form-group">&nbsp;</div>
                <div class="col-md-6 col-xl-6 form-group">&nbsp;</div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-play-alt-1"></i>{{ 'general.btn_run_query' | translate }}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}
                    </button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-stop"></i>{{ 'general.btn_stop_query' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card" *ngIf="dataFound">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.manage.organization.search.search_result' | translate}}</h4>
        </div>
    </div>

    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <label class="label-control">{{'general.show' | translate}}
                    <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                    </select>
                    {{'general.entries' | translate}}
                </label>
            </div>
            <!-- <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>Search:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                    </label>
                </div>
            </div> -->
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="emailRes | dataFilter : filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="25%">
                                <mfDefaultSorter by="ContactId">{{'epdb.manage.contact.detail.contact_id' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="25%">
                                <mfDefaultSorter by="ContactName">{{'epdb.manage.contact.detail.contact_name' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="25%">
                                <mfDefaultSorter by="EmailAddress">{{'eim.profile.my_profile.email_address' | translate}} 1</mfDefaultSorter>
                            </th>
                            <th width="25%">
                                <mfDefaultSorter by="EmailAddress2">{{'eim.profile.my_profile.email_address' | translate}} 2</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="emailRes != null">
                        <tr *ngFor="let item of mf.data">
                            <td class="text-center">{{item.ContactId}}</td>
                            <td>{{item.ContactName}}</td>
                            <td>{{item.EmailAddress}}</td>
                            <td>{{item.EmailAddress2}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="emailRes!=null">
                            <td colspan="75">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="emailRes==null">
                            <td colspan="75" class="text-center">{{'general.loading_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="emailRes==''">
                            <td colspan="75" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>