<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.manage.site.add_edit.add_new_site' | translate }}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="addsite" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-12 col-xl-12 form-group" *ngIf="datadetail!=null">
                    <label class="col-form-label">{{ 'epdb.manage.organization.detail.organization' | translate }} : {{datadetail.OrgName}} ({{datadetail.OrgId}})</label>
                </div>
                <div class="col-md-12 col-xl-4 form-group" *ngIf="datadetail!=null">
                    <label class="col-form-label">{{ 'epdb.manage.site.detail.site_name' | translate }}
                        <code>*</code>
                    </label>
                    <input type="text" class="form-control" id="SiteName" formControlName="SiteName" (change)="checkNameDuplicate($event.target.value)"
                        placeholder="{{ 'epdb.manage.site.detail.site_name' | translate }}">
                    <span class="messages text-danger" *ngIf="!addsite.get('SiteName').valid && addsite.get('SiteName').touched">* Please Enter Site Name</span>
                    <span class="messages text-danger" *ngIf="!validname">* Name site already exist</span>
                </div>
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.site.add_edit.english_site_name' | translate }}</label>
                    <input type="text" class="form-control" id="EnglishSiteName" formControlName="EnglishSiteName" placeholder="{{ 'epdb.manage.site.add_edit.english_site_name' | translate }}">
                </div>
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.site.add_edit.commercial_site_name' | translate }}</label>
                    <input type="text" class="form-control" id="CommercialSiteName" formControlName="CommercialSiteName" placeholder="{{ 'epdb.manage.site.add_edit.commercial_site_name' | translate }}">
                </div>
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.site.add_edit.workstation' | translate }}
                        <code>*</code>
                    </label>
                    <input type="text" class="form-control" id="Workstations" formControlName="Workstations" placeholder="{{ 'epdb.manage.site.add_edit.workstation' | translate }}">
                    <span class="messages text-danger" *ngIf="!addsite.get('Workstations').valid && addsite.get('Workstations').touched">* Please Enter Workstations Number</span>
                </div>
                <!-- <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.site.add_edit.magellan_id' | translate }}</label>
                    <input type="text" class="form-control" id="MagellanId" formControlName="MagellanId" placeholder="{{ 'epdb.manage.site.add_edit.magellan_id' | translate }}">
                </div> -->
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'eim.profile.my_profile.telephone' | translate }}
                        <code>*</code>
                    </label>
                    <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43" class="form-control"
                        id="SiteTelephone" formControlName="SiteTelephone" placeholder="{{ 'eim.profile.my_profile.telephone' | translate }}">
                    <span class="messages text-danger" *ngIf="!addsite.get('SiteTelephone').valid && addsite.get('SiteTelephone').touched">* Please Enter Telephone Number</span>
                </div>
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.organization.detail.fax' | translate }}</label>
                    <input type="text" class="form-control" id="SiteFax" formControlName="SiteFax" placeholder="{{ 'epdb.manage.organization.detail.fax' | translate }}">
                </div>
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'general.email' | translate }}
                        <code>*</code>
                    </label>
                    <input type="text" class="form-control" id="SiteEmailAddress" formControlName="SiteEmailAddress" placeholder="{{ 'general.email' | translate }}">
                    <span class="messages text-danger" *ngIf="!addsite.get('SiteEmailAddress').valid && addsite.get('SiteEmailAddress').touched">* Please Enter Email Address</span>
                </div>
                <!-- <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.site.siebel_site' | translate }}</label>
                    <input type="text" class="form-control" id="EnglishSiteName" formControlName="EnglishSiteName">
                </div> -->
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.admin.partner_type.partner_type' | translate }}
                        <code>*</code>
                    </label>
                    <angular2-multiselect [data]="dropdownListPartnerType" [(ngModel)]="selectedItemsPartnerType" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                    </angular2-multiselect>
                    <span class="messages text-danger" *ngIf="validpartnertype == false">* Please Enter Partner Type</span>
                </div>

                <div class="col-md-12 col-xl-12 form-group row" *ngFor="let item of formpartnertypedinamic">
                    <div class="col-md-12 col-xl-12">{{item.itemName}}</div>
                    <div class="col-md-12 col-xl-4" *ngIf="item.id == '1' || item.id == '58' || item.id == '60' || item.id == '55' || item.id == '54' ">
                        <label class="col-form-label">{{ 'epdb.admin.sub_partner_type.sub_partner_type' | translate }}</label>
                        <select name="select" class="form-control" id="SubPartnerType_{{item.id}}" *ngIf="item.id == '1'">
                            <option value="">-- {{ 'general.select' | translate }} --</option>
                            <option *ngIf="subpartnertype_1==null">{{'general.loading_data' | translate}} ...</option>
                            <option *ngIf="subpartnertype_1==''">{{'general.data_empty' | translate}}</option>
                            <option *ngFor="let item of subpartnertype_1" value={{item.RoleParamId}}>{{item.ParamValue}}</option>
                        </select>
                        <select name="select" class="form-control" id="SubPartnerType_{{item.id}}" *ngIf="item.id == '58'">
                            <option value="">-- {{ 'general.select' | translate }} --</option>
                            <option *ngIf="subpartnertype_58==null">{{'general.loading_data' | translate}} ...</option>
                            <option *ngIf="subpartnertype_58==''">{{'general.data_empty' | translate}}</option>
                            <option *ngFor="let item of subpartnertype_58" value={{item.RoleParamId}}>{{item.ParamValue}}</option>
                        </select>
                        <select name="select" class="form-control" id="SubPartnerType_{{item.id}}" *ngIf="item.id == '60'">
                            <option value="">-- {{ 'general.select' | translate }} --</option>
                            <option *ngIf="subpartnertype_60==null">{{'general.loading_data' | translate}} ...</option>
                            <option *ngIf="subpartnertype_60==''">{{'general.data_empty' | translate}}</option>
                            <option *ngFor="let item of subpartnertype_60" value={{item.RoleParamId}}>{{item.ParamValue}}</option>
                        </select>
                        <select name="select" class="form-control" id="SubPartnerType_{{item.id}}" *ngIf="item.id == '55'">
                            <option value="">-- {{ 'general.select' | translate }} --</option>
                            <option *ngIf="subpartnertype_55==null">{{'general.loading_data' | translate}} ...</option>
                            <option *ngIf="subpartnertype_55==''">{{'general.data_empty' | translate}}</option>
                            <option *ngFor="let item of subpartnertype_55" value={{item.RoleParamId}}>{{item.ParamValue}}</option>
                        </select>
                        <select name="select" class="form-control" id="SubPartnerType_{{item.id}}" *ngIf="item.id == '54'">
                            <option value="">-- {{ 'general.select' | translate }} --</option>
                            <option *ngIf="subpartnertype_54==null">{{'general.loading_data' | translate}} ...</option>
                            <option *ngIf="subpartnertype_54==''">{{'general.data_empty' | translate}}</option>
                            <option *ngFor="let item of subpartnertype_54" value={{item.RoleParamId}}>{{item.ParamValue}}</option>
                        </select>
                    </div>
                    <div class="col-md-12 col-xl-4 form-group">
                        <label class="col-form-label">{{'general.status' | translate}}</label>
                        <select name="select" class="form-control" id="Status_{{item.id}}">
                            <option value="">-- {{ 'general.select' | translate }} --</option>
                            <option *ngIf="partnertypestatus==null">{{'general.loading_data' | translate}} ...</option>
                            <option *ngIf="partnertypestatus==''">{{'general.data_empty' | translate}}</option>
                            <option *ngFor="let item of partnertypestatus" value={{item.Key}}>{{item.KeyValue}}</option>
                        </select>
                    </div>
                    <div class="col-md-12 col-xl-4 form-group" *ngIf="item.id=='58'">
                        <label class="col-form-label">{{ 'epdb.manage.site.add_edit.initial_accreditation_date' | translate }}</label>
                        <div class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" ngbDatepicker #d1="ngbDatepicker" readonly="true" id="InitialAccreditationDate_{{item.id}}">
                                    <div class="input-group-addon bg-default" (click)="d1.toggle()">
                                        <span class="icofont icofont-ui-calendar"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-4 form-group">
                        <label class="col-form-label">{{ 'epdb.manage.site.add_edit.location_csn' | translate }}</label>
                        <input type="text" class="form-control" id="LocationCSN_{{item.id}}" placeholder="{{ 'epdb.manage.site.add_edit.location_csn' | translate }}">
                    </div>
                    <div class="col-md-12 col-xl-4 form-group">
                        <label class="col-form-label">{{ 'epdb.manage.site.add_edit.parent_csn' | translate }}</label>
                        <input type="text" class="form-control" id="ParentCSN_{{item.id}}" placeholder="{{ 'epdb.manage.site.add_edit.parent_csn' | translate }}">
                    </div>
                    <div class="col-md-12 col-xl-4 form-group">
                        <label class="col-form-label">{{ 'epdb.manage.site.add_edit.ultimate_parent_csn' | translate }}</label>
                        <input type="text" class="form-control" id="UltimateParentCSN_{{item.id}}" placeholder="{{ 'epdb.manage.site.add_edit.ultimate_parent_csn' | translate }}">
                    </div>
                </div>
                <div class="col-md-12 col-xl-10 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.site.add_edit.site_web_address' | translate }}</label>
                    <input type="text" class="form-control" id="SiteWebAddress" formControlName="SiteWebAddress" (keyup)="getwebaddress($event.target.value)"
                        placeholder="{{ 'epdb.manage.site.add_edit.site_web_address' | translate }}">
                </div>
                <div class="col-md-12 col-xl-2 form-group">
                    <label class="col-form-label">&nbsp;</label>
                    <button type="button" (click)="testwebaddress()" class="btn btn-primary btn-sm btn-block waves-effect text-center">Test</button>
                </div>

                <div class="col-md-12 col-xl-12 form-group">
                    &nbsp;
                </div>

                <div class="col-md-12 col-xl-4 form-group">

                    <div class="col-md-12 col-xl-12 form-group">
                        <h4>{{ 'epdb.manage.site.add_edit.site_address' | translate }}</h4>
                    </div>

                    <!-- <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'epdb.manage.organization.add_edit.department' | translate }}</label>
                        <input type="text" class="form-control" id="SiteDepartment" formControlName="SiteDepartment" placeholder="{{ 'epdb.manage.organization.add_edit.department' | translate }}">
                    </div> -->
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.address' | translate }} 1
                            <code>*</code>
                        </label>
                        <input type="text" class="form-control" id="SiteAddress1" formControlName="SiteAddress1" placeholder="{{ 'eim.profile.my_profile.address' | translate }} 1">
                        <span class="messages text-danger" *ngIf="!addsite.get('SiteAddress1').valid && addsite.get('SiteAddress1').touched">* Please Enter Site Address</span>
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.address' | translate }} 2</label>
                        <input type="text" class="form-control" id="SiteAddress2" formControlName="SiteAddress2" placeholder="{{ 'eim.profile.my_profile.address' | translate }} 2">
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.address' | translate }} 3</label>
                        <input type="text" class="form-control" id="SiteAddress3" formControlName="SiteAddress3" placeholder="{{ 'eim.profile.my_profile.address' | translate }} 3">
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.city' | translate }}
                            <code>*</code>
                        </label>
                        <input type="text" class="form-control" id="SiteCity" formControlName="SiteCity" placeholder="{{ 'eim.profile.my_profile.city' | translate }}">
                        <span class="messages text-danger" *ngIf="!addsite.get('SiteCity').valid && addsite.get('SiteCity').touched">* Please Enter Site City</span>
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'epdb.admin.country.countries.country' | translate }}
                            <code>*</code>
                        </label>
                        <select name="select" class="form-control" id="SiteCountryCode" formControlName="SiteCountryCode" (change)="getState2($event.target.value)">
                            <option value="">-- {{ 'general.select' | translate }} --</option>
                            <option *ngIf="datacountry==null">{{'general.loading_data' | translate}} ...</option>
                            <option *ngIf="datacountry==''">{{'general.data_empty' | translate}}</option>
                            <option *ngFor="let item of datacountry" value={{item.countries_code}}>{{item.countries_name}}</option>
                        </select>
                        <span class="messages text-danger" *ngIf="!addsite.get('SiteCountryCode').valid && addsite.get('SiteCountryCode').touched">* Please Enter Site Country</span>
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.state' | translate }}</label>
                        <select name="select" class="form-control" id="SiteStateProvince" formControlName="SiteStateProvince">
                            <option value="">-- {{ 'general.select' | translate }} --</option>
                            <!-- <option *ngIf="datastate2==null">{{'general.loading_data' | translate}} ...</option>
                            <option *ngIf="datastate2==''">{{'general.data_empty' | translate}}</option> -->
                            <option *ngFor="let item of datastate2" value={{item.StateName}}>{{item.StateName}}</option>
                        </select>
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.postal_code' | translate }}</label>
                        <input type="text" class="form-control" id="SitePostalCode" formControlName="SitePostalCode" placeholder="{{ 'eim.profile.my_profile.postal_code' | translate }}">
                    </div>
                </div>


                <div class="col-md-12 col-xl-4 form-group">

                    <div class="col-md-12 col-xl-12 form-inline">
                        <h4>{{ 'epdb.manage.organization.detail.mailing_address' | translate }}</h4>
                        <button type="button" (click)="getSiteInvoice()" class="col-md-3 btn btn-default btn-sm btn-block waves-effect text-center m-b-10">copy</button>
                    </div>

                    <!-- <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'epdb.manage.organization.add_edit.department' | translate }}</label>
                        <input type="text" class="form-control" [(ngModel)]="MailingDepartment" id="MailingDepartment" formControlName="MailingDepartment"
                            placeholder="{{ 'epdb.manage.organization.add_edit.department' | translate }}">
                    </div> -->
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.address' | translate }} 1
                            <code>*</code>
                        </label>
                        <input type="text" class="form-control" [(ngModel)]="MailingAddress1" id="MailingAddress1" formControlName="MailingAddress1"
                            placeholder="{{ 'eim.profile.my_profile.address' | translate }} 1">
                        <span class="messages text-danger" *ngIf="!addsite.get('MailingAddress1').valid && addsite.get('MailingAddress1').touched">* Please Enter Mailing Address</span>
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.address' | translate }} 2</label>
                        <input type="text" class="form-control" [(ngModel)]="MailingAddress2" id="MailingAddress2" formControlName="MailingAddress2"
                            placeholder="{{ 'eim.profile.my_profile.address' | translate }} 2">
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.address' | translate }} 3</label>
                        <input type="text" class="form-control" [(ngModel)]="MailingAddress3" id="MailingAddress3" formControlName="MailingAddress3"
                            placeholder="{{ 'eim.profile.my_profile.address' | translate }} 3">
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.city' | translate }}
                            <code>*</code>
                        </label>
                        <input type="text" class="form-control" [(ngModel)]="MailingCity" id="MailingCity" formControlName="MailingCity" placeholder="{{ 'eim.profile.my_profile.city' | translate }}">
                        <span class="messages text-danger" *ngIf="!addsite.get('MailingCity').valid && addsite.get('MailingCity').touched">* Please Enter Mailing City</span>
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'epdb.admin.country.countries.country' | translate }}
                            <code>*</code>
                        </label>
                        <select name="select" class="form-control" id="MailingCountryCode" formControlName="MailingCountryCode" (change)="getState3($event.target.value)">
                            <option value="">-- {{ 'general.select' | translate }} --</option>
                            <option *ngIf="datacountry==null">{{'general.loading_data' | translate}} ...</option>
                            <option *ngIf="datacountry==''">{{'general.data_empty' | translate}}</option>
                            <option *ngFor="let item of datacountry" value={{item.countries_code}}>{{item.countries_name}}</option>
                        </select>
                        <span class="messages text-danger" *ngIf="!addsite.get('MailingCountryCode').valid && addsite.get('MailingCountryCode').touched">* Please Enter Mailing Country</span>
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.state' | translate }}</label>
                        <select name="select" class="form-control" id="MailingStateProvince" formControlName="MailingStateProvince">
                            <option value="">-- {{ 'general.select' | translate }} --</option>
                            <!-- <option *ngIf="datastate3==null">{{'general.loading_data' | translate}} ...</option>
                            <option *ngIf="datastate3==''">{{'general.data_empty' | translate}}</option> -->
                            <option *ngFor="let item of datastate3" value={{item.StateName}}>{{item.StateName}}</option>
                        </select>
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.postal_code' | translate }}</label>
                        <input type="text" class="form-control" [(ngModel)]="MailingPostalCode" id="MailingPostalCode" formControlName="MailingPostalCode"
                            placeholder="{{ 'eim.profile.my_profile.postal_code' | translate }}">
                    </div>
                </div>

                <div class="col-md-12 col-xl-4 form-group">

                    <div class="col-md-12 col-xl-12 form-inline">
                        <h4>{{ 'epdb.manage.organization.detail.shipping_address' | translate }}</h4>
                        <button type="button" (click)="getSiteContract()" class="col-md-3 btn btn-default btn-sm btn-block waves-effect text-center m-b-10">copy</button>
                    </div>

                    <!-- <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'epdb.manage.organization.add_edit.department' | translate }}</label>
                        <input type="text" class="form-control" [(ngModel)]="ShippingDepartment" id="ShippingDepartment" formControlName="ShippingDepartment"
                            placeholder="{{ 'epdb.manage.organization.add_edit.department' | translate }}">
                    </div> -->
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.address' | translate }} 1
                            <code>*</code>
                        </label>
                        <input type="text" class="form-control" [(ngModel)]="ShippingAddress1" id="ShippingAddress1" formControlName="ShippingAddress1"
                            placeholder="{{ 'eim.profile.my_profile.address' | translate }} 1">
                        <span class="messages text-danger" *ngIf="!addsite.get('ShippingAddress1').valid && addsite.get('ShippingAddress1').touched">* Please Enter Shiping Address</span>
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.address' | translate }} 2</label>
                        <input type="text" class="form-control" [(ngModel)]="ShippingAddress2" id="ShippingAddress2" formControlName="ShippingAddress2"
                            placeholder="{{ 'eim.profile.my_profile.address' | translate }} 2">
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.address' | translate }} 3</label>
                        <input type="text" class="form-control" [(ngModel)]="ShippingAddress3" id="ShippingAddress3" formControlName="ShippingAddress3"
                            formControlName="ShippingAddress2" placeholder="{{ 'eim.profile.my_profile.address' | translate }} 3">
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.city' | translate }}
                            <code>*</code>
                        </label>
                        <input type="text" class="form-control" [(ngModel)]="ShippingCity" id="ShippingCity" formControlName="ShippingCity" placeholder="{{ 'eim.profile.my_profile.city' | translate }}">
                        <span class="messages text-danger" *ngIf="!addsite.get('ShippingCity').valid && addsite.get('ShippingCity').touched">* Please Enter Shiping City</span>
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'epdb.admin.country.countries.country' | translate }}
                            <code>*</code>
                        </label>
                        <select name="select" class="form-control" id="ShippingCountryCode" formControlName="ShippingCountryCode" (change)="getState4($event.target.value)">
                            <option value="">-- {{ 'general.select' | translate }} --</option>
                            <option *ngIf="datacountry==null">{{'general.loading_data' | translate}} ...</option>
                            <option *ngIf="datacountry==''">{{'general.data_empty' | translate}}</option>
                            <option *ngFor="let item of datacountry" value={{item.countries_code}}>{{item.countries_name}}</option>
                        </select>
                        <span class="messages text-danger" *ngIf="!addsite.get('ShippingCountryCode').valid && addsite.get('ShippingCountryCode').touched">* Please Enter Shiping Country</span>
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.state' | translate }}</label>
                        <select name="select" class="form-control" id="ShippingStateProvince" formControlName="ShippingStateProvince">
                            <option value="">-- {{ 'general.select' | translate }} --</option>
                            <!-- <option *ngIf="datastate4==null">{{'general.loading_data' | translate}} ...</option>
                            <option *ngIf="datastate4==''">{{'general.data_empty' | translate}}</option> -->
                            <option *ngFor="let item of datastate3" value={{item.StateName}}>{{item.StateName}}</option>
                        </select>
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.postal_code' | translate }}</label>
                        <input type="text" class="form-control" [(ngModel)]="ShippingPostalCode" id="ShippingPostalCode" formControlName="ShippingPostalCode"
                            placeholder="{{ 'eim.profile.my_profile.postal_code' | translate }}">
                    </div>
                </div>

                <div class="col-md-12 col-xl-12 form-group">
                    &nbsp;
                </div>
                <div class="col-md-6 col-xl-6 form-group">

                    <div class="col-md-12 col-xl-12 form-group">
                        <h4>{{ 'epdb.manage.site.add_edit.site_manager' | translate }}</h4>
                    </div>

                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.first_name' | translate }}
                            <code>*</code>
                        </label>
                        <input type="text" class="form-control" id="SiteManagerFirstName" formControlName="SiteManagerFirstName" placeholder="{{ 'eim.profile.my_profile.first_name' | translate }}">
                        <span class="messages text-danger" *ngIf="!addsite.get('SiteManagerFirstName').valid && addsite.get('SiteManagerFirstName').touched">* Please Enter Site Manager First Name</span>
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.last_name' | translate }}
                            <code>*</code>
                        </label>
                        <input type="text" class="form-control" id="SiteManagerLastName" formControlName="SiteManagerLastName" placeholder="{{ 'eim.profile.my_profile.last_name' | translate }}">
                        <span class="messages text-danger" *ngIf="!addsite.get('SiteManagerLastName').valid && addsite.get('SiteManagerLastName').touched">* Please Enter Site Manager Last Name</span>
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'epdb.manage.organization.detail.email' | translate }}
                            <code>*</code>
                        </label>
                        <input type="email" class="form-control" id="SiteManagerEmailAddress" formControlName="SiteManagerEmailAddress" placeholder="{{ 'epdb.manage.organization.detail.email' | translate }}">
                        <span class="messages text-danger" *ngIf="!addsite.get('SiteManagerEmailAddress').valid && addsite.get('SiteManagerEmailAddress').touched">* Please Enter Email Address</span>
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.telephone' | translate }}
                            <code>*</code>
                        </label>
                        <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43 || event.charCode == 32 || event.charCode == 45"
                            class="form-control" id="SiteManagerTelephone" formControlName="SiteManagerTelephone" placeholder="{{ 'eim.profile.my_profile.telephone' | translate }}">
                        <span class="messages text-danger" *ngIf="!addsite.get('SiteManagerTelephone').valid && addsite.get('SiteManagerTelephone').touched">* Please Enter Telephone Number</span>
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'epdb.manage.organization.detail.fax' | translate }}</label>
                        <input type="text" class="form-control" id="SiteManagerFax" formControlName="SiteManagerFax" placeholder="{{ 'epdb.manage.organization.detail.fax' | translate }}">
                    </div>

                </div>

                <div class="col-md-6 col-xl-6 form-group">

                    <div class="col-md-12 col-xl-12 form-inline">
                        <h4>{{ 'epdb.manage.site.add_edit.site_administrator' | translate }}</h4>
                        <button type="button" (click)="getManagerAdmin()" class="col-md-3 btn btn-default btn-sm btn-block waves-effect text-center m-b-10">copy</button>
                    </div>

                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.first_name' | translate }}
                            <code>*</code>
                        </label>
                        <input type="text" class="form-control" [(ngModel)]="SiteAdminFirstName" id="SiteAdminFirstName" formControlName="SiteAdminFirstName"
                            placeholder="{{ 'eim.profile.my_profile.first_name' | translate }}">
                        <span class="messages text-danger" *ngIf="!addsite.get('SiteAdminFirstName').valid && addsite.get('SiteAdminFirstName').touched">* Please Enter Site Admin First Name</span>
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.last_name' | translate }}
                            <code>*</code>
                        </label>
                        <input type="text" class="form-control" [(ngModel)]="SiteAdminLastName" id="SiteAdminLastName" formControlName="SiteAdminLastName"
                            placeholder="{{ 'eim.profile.my_profile.last_name' | translate }}">
                        <span class="messages text-danger" *ngIf="!addsite.get('SiteAdminLastName').valid && addsite.get('SiteAdminLastName').touched">* Please Enter Site Admin Last Name</span>
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'epdb.manage.organization.detail.email' | translate }}
                            <code>*</code>
                        </label>
                        <input type="email" class="form-control" [(ngModel)]="SiteAdminEmailAddress" id="SiteAdminEmailAddress" formControlName="SiteAdminEmailAddress"
                            placeholder="{{ 'epdb.manage.organization.detail.email' | translate }}">
                        <span class="messages text-danger" *ngIf="!addsite.get('SiteAdminEmailAddress').valid && addsite.get('SiteAdminEmailAddress').touched">* Please Enter Email Address</span>
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'eim.profile.my_profile.telephone' | translate }}
                            <code>*</code>
                        </label>
                        <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43 || event.charCode == 32 || event.charCode == 45"
                            class="form-control" [(ngModel)]="SiteAdminTelephone" id="SiteAdminTelephone" formControlName="SiteAdminTelephone"
                            placeholder="{{ 'eim.profile.my_profile.telephone' | translate }}">
                        <span class="messages text-danger" *ngIf="!addsite.get('SiteAdminTelephone').valid && addsite.get('SiteAdminTelephone').touched">* Please Enter Telephone Number</span>
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{ 'epdb.manage.organization.detail.fax' | translate }}</label>
                        <input type="text" class="form-control" [(ngModel)]="SiteAdminFax" id="SiteAdminFax" formControlName="SiteAdminFax" placeholder="{{ 'epdb.manage.organization.detail.fax' | translate }}">
                    </div>

                </div>

                <div class="col-md-12 col-xl-12 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.organization.add_edit.administrative_notes' | translate }}</label>
                    <textarea class="form-control" rows="5" id="AdminNotes" formControlName="AdminNotes" placeholder="{{ 'epdb.manage.organization.add_edit.administrative_notes' | translate }}"></textarea>
                </div>

                <div class="col-md-12 col-xl-12 form-group">
                    <app-file-upload #fileUploader></app-file-upload>
                </div>

                <div class="col-md-3 col-xl-6 form-group">
                </div>
                <div class="col-md-3 col-xl-2 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-save"></i> {{ 'general.btn_save' | translate }}</button>
                </div>

                <div class="col-md-3 col-xl-2 form-group">
                    <button type="button" [routerLink]="['/epdb/add-Site']" class="btn btn-default btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}</button>
                </div>

                <div class="col-md-3 col-xl-2 form-group" *ngIf="datadetail!=null">
                    <button type="button" [routerLink]="['/manage/organization/detail-organization',datadetail.OrganizationId]" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-ui-close"></i> {{ 'general.btn_cancel' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>


<!-- <div class="col-md-6 col-xl-6 form-group">
    <div class="col-md-12 col-xl-12 form-group">
        <h4>{{ 'epdb.manage.site.head_siebel_address' | translate }}</h4>
    </div>

    <div class="col-md-12 col-xl-12 form-group">
        <label class="col-form-label">{{ 'epdb.manage.site.department' | translate }}</label>
        <input type="text" class="form-control" id="SiebelDepartment" formControlName="SiebelDepartment">
    </div>
    <div class="col-md-12 col-xl-12 form-group">
        <label class="col-form-label">{{ 'epdb.manage.site.address' | translate }} 1 <code>*</code></label>
        <input type="text" class="form-control" id="SiebelAddress1" formControlName="SiebelAddress1">
        <span class="messages text-danger" *ngIf="!addsite.get('SiebelAddress1').valid && addsite.get('SiebelAddress1').touched">* Please Enter Siebel Address</span>
    </div>
    <div class="col-md-12 col-xl-12 form-group">
        <label class="col-form-label">{{ 'epdb.manage.site.address' | translate }} 2</label>
        <input type="text" class="form-control" id="SiebelAddress2" formControlName="SiebelAddress2">
    </div>
    <div class="col-md-12 col-xl-12 form-group">
        <label class="col-form-label">{{ 'epdb.manage.site.address' | translate }} 3</label>
        <input type="text" class="form-control" id="SiebelAddress3" formControlName="SiebelAddress3">
    </div>
    <div class="col-md-12 col-xl-12 form-group">
        <label class="col-form-label">{{ 'epdb.manage.site.city' | translate }} <code>*</code></label>
        <input type="text" class="form-control" id="SiebelCity" formControlName="SiebelCity">
        <span class="messages text-danger" *ngIf="!addsite.get('SiebelCity').valid && addsite.get('SiebelCity').touched">* Please Enter Siebel City</span>
    </div>
    <div class="col-md-12 col-xl-12 form-group">
        <label class="col-form-label">{{ 'epdb.manage.site.country' | translate }} <code>*</code></label>
        <select name="select" class="form-control" id="SiebelCountryCode" formControlName="SiebelCountryCode" (change)="getState1($event.target.value)">
            <option value="">{{ 'epdb.manage.site.select_country' | translate }}</option> 
            <option *ngFor="let item of datacountry" value={{item.countries_code}}>{{item.countries_name}}</option> 
        </select> 
        <span class="messages text-danger" *ngIf="!addsite.get('SiebelCountryCode').valid && addsite.get('SiebelCountryCode').touched">* Please Enter Siebel Country</span>
    </div>
    <div class="col-md-12 col-xl-12 form-group">
        <label class="col-form-label">{{ 'epdb.manage.site.state' | translate }}</label>
        <select name="select" class="form-control" id="SiebelStateProvince" formControlName="SiebelStateProvince">
            <option value="">-- Select State --</option> 
            <option *ngFor="let item of datastate1" value={{item.StateName}}>{{item.StateName}}</option> 
        </select> 
    </div>
    <div class="col-md-12 col-xl-12 form-group">
        <label class="col-form-label">{{ 'epdb.manage.site.postal_code' | translate }}</label>
        <input type="text" class="form-control" id="SiebelPostalCode" formControlName="SiebelPostalCode">
    </div>
</div> -->