<div class="row">
    <div class="col-md-12 col-xl-12 page-header-title">
        <h4>Report : Login Counts Report With Graph - BETA</h4>
        <br/>
        <br/>
    </div>
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary"> 
            <div class="card-block row" >  
                <div class="col-md-12 col-xl-12 row">  
                    <div class="col-md-3 col-xl-3 form-group">
                    	<label>
                    		Total number of logins<br/><br/>
                    		<a [routerLink]="['/epdb/report-database-info/login-history-graphs-report']">For each Geo</a><br/>
                    		<a [routerLink]="['/epdb/report-database-info/login-history-graphs-report']">For each Country</a>
                    	</label>
                    </div>
                    <div class="col-md-3 col-xl-3 form-group">
                    	<label>
                    		Login per days<br/><br/>
                    		For the last 
                    		<select> 
                    			<option>30</option>
                    		</select>
                    		days<br/><br/>
                    		<a [routerLink]="['/epdb/report-database-info/login-history-graphs-report']">By Date By Geo</a><br/>
                    		<a [routerLink]="['/epdb/report-database-info/login-history-graphs-report']">By Month By Geo</a><br/>
                    		<a [routerLink]="['/epdb/report-database-info/login-history-graphs-report']">By Date By Region</a><br/>
                    		<a [routerLink]="['/epdb/report-database-info/login-history-graphs-report']">- (American Only)</a><br/>
                    		<a [routerLink]="['/epdb/report-database-info/login-history-graphs-report']">- (Apac Only)</a><br/>
                    		<a [routerLink]="['/epdb/report-database-info/login-history-graphs-report']">- (EMEA Only)</a><br/><br/>
                    		Change zoom : <a [routerLink]="['/epdb/report-database-info/login-history-graphs-report']">Zoom In</a> | <a [routerLink]="['/epdb/report-database-info/login-history-graphs-report']">Zoom Out</a><br/>
                    		Change width : <a [routerLink]="['/epdb/report-database-info/login-history-graphs-report']">5</a> | <a [routerLink]="['/epdb/report-database-info/login-history-graphs-report']">8</a> | <a [routerLink]="['/epdb/report-database-info/login-history-graphs-report']">10</a> | <a [routerLink]="['/epdb/report-database-info/login-history-graphs-report']">15</a>
                    	</label>
                    </div>
                    <div class="col-md-6 col-xl-6 form-group">
                    	<label><strong>Legend</strong></label>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary"> 
            <div class="card-block row" >  
                <div class="col-md-12 col-xl-12 row">  
                    <div class="col-md-5 col-xl-5 form-group">
                    </div>
                    <div class="col-md-2 col-xl-2 form-group">
                    	<label><strong>Graph Here</strong></label>
                    </div>
                    <div class="col-md-5 col-xl-5 form-group">
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div>

 