<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.country.countries.edit_country' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="editcountries" (ngSubmit)="onSubmitUpdate()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.geo.geo' | translate}} <span style="color:#DC3538">*</span></label>
                    <angular2-multiselect formControlName="geo_code" [data]="dropdownGeo" [(ngModel)]="selectedGeo" [settings]="dropdownSettings"
                        (onSelect)="onGeoSelect($event)" (onDeSelect)="OnGeoDeSelect($event)">
                    </angular2-multiselect>
                    <span class="messages text-danger" *ngIf="!editcountries.get('geo_code').valid && editcountries.get('geo_code').touched">* Please select geo code</span>
                </div>
                <!-- <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.territory.territory' | translate}}</label>
                    <select name="oStatus" class="form-control" id="territory_code" formControlName="territory_code">
                        <option value="">{{'general.select' | translate}}</option>
                        <option *ngFor="let item of dataterritory" value={{item.territory_code}}>{{item.territory_name}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editcountries.get('territory_code').valid && editcountries.get('territory_code').touched">* Please Enter Territory Code</span>
                </div> -->
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.region.region' | translate}} <span style="color:#DC3538">*</span></label>
                    <angular2-multiselect formControlName="region_code" [data]="dropdownListRegion" [(ngModel)]="selectedRegion" [settings]="dropdownSettings"
                        (onSelect)="onRegionSelect($event)" (onDeSelect)="OnRegionDeSelect($event)">
                    </angular2-multiselect>
                    <span class="messages text-danger" *ngIf="!editcountries.get('region_code').valid && editcountries.get('region_code').touched">* Please select region code</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.sub_region.sub_region' | translate}} <span style="color:#DC3538">*</span></label>
                    <angular2-multiselect formControlName="subregion_code" [data]="dropdownListSubregion" [(ngModel)]="selectedSubregion" [settings]="dropdownSettings"
                        (onSelect)="onSubregionSelect($event)" (onDeSelect)="OnSubregionDeSelect($event)">
                    </angular2-multiselect>
                    <span class="messages text-danger" *ngIf="!editcountries.get('subregion_code').valid && editcountries.get('subregion_code').touched">* Please select sub region code</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.countries.country_code' | translate}} <span style="color:#DC3538">*</span></label>
                    <input type="text" class="form-control" id="countries_code" formControlName="countries_code" placeholder="{{'epdb.admin.country.countries.country_code' | translate}}" maxlength="50">
                    <span class="messages text-danger" *ngIf="!editcountries.get('countries_code').valid && editcountries.get('countries_code').touched">* Please enter country name</span>
                </div>

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.countries.country_name' | translate}} <span style="color:#DC3538">*</span></label>
                    <input type="text" class="form-control" id="countries_name" formControlName="countries_name" placeholder="{{'epdb.admin.country.countries.country_name' | translate}}" maxlength="50">
                    <span class="messages text-danger" *ngIf="!editcountries.get('countries_name').valid && editcountries.get('countries_name').touched">* Please enter country name</span>
                </div>

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.countries.country_phone_code' | translate}} <span style="color:#DC3538">*</span></label>
                    <input type="number" class="form-control" id="countries_tel" formControlName="countries_tel" placeholder="{{'epdb.admin.country.countries.country_phone_code' | translate}}" maxlength="50">
                    <span class="messages text-danger" *ngIf="!editcountries.get('countries_tel').valid && editcountries.get('countries_tel').touched">* Please enter country code phone number</span>
                </div>
                <div class="col-md-8 col-xl-8"></div>
                <div class="col-md-5 col-xl-5"></div>
                <div class="col-md-3 col-xl-3 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i> {{'general.btn_save_change' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="resetFormUpdate()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" [routerLink]="['/admin/country/countries-list']" class="btn btn-danger btn-md btn-block text-center">
                        <i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>