<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>Copy Course</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="editCourse" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-6 col-xl-6 form-group">
                    <label class="col-form-label">{{'epdb.admin.partner_type.partner_type' | translate}}</label>
                    <select class="form-control" (change)="selectedPartner($event.target.value)" formControlName="PartnerType">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of dropdownPartner" value="{{item.RoleId}}">{{item.RoleName}}</option>
                    </select>
                    <!-- <span class="messages text-danger" *ngIf="!editCourse.get('PartnerType').valid && editCourse.get('PartnerType').touched">* Please Select Partner Type</span> -->
                </div>
                <div class="col-md-6 col-xl-6 form-group" *ngIf="CertificateType">
                    <label class="col-form-label">{{'epdb.admin.partner_type.certificate_type' | translate}}</label>
                    <select name="CertificateType" class="form-control" (change)="selectedCertificate($event.target.value)" formControlName="CertificateType"
                        disabled>
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of dropdownCertificate" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                    <!-- <span class="messages text-danger" *ngIf="!editCourse.get('CertificateType').valid && editCourse.get('CertificateType').touched">* Please Select Certificate Type</span> -->
                </div>
                <div class="col-md-12 col-xl-12 form-group">
                    <label class="col-form-label" *ngIf="parentLabel">{{'eva.manage_course.list_course.course_title' | translate}}</label>
                    <label class="col-form-label" *ngIf="Project">{{'eva.manage_course.list_course.project_title' | translate}}</label>
                    <label class="col-form-label" *ngIf="event">{{'eva.manage_course.list_course.event_title' | translate}}</label>
                    <input type="text" class="form-control" formControlName="CourseTitle">
                    <span class="messages text-danger" *ngIf="!editCourse.get('CourseTitle').valid && editCourse.get('CourseTitle').touched">*
                    Please Enter Course Title ( Max Length is 40 Character )</span>
                </div>
                <div class="col-md-3 col-xl-3 form-group m-b-30" *ngIf="courseFacility">
                    <label class="col-form-label">{{'eva.manage_course.add.course_facility' | translate}}</label>
                    <div class="form-radio">
                        <div class="radio radio-inline">
                            <label>
                                <input type="radio" formControlName="CourseFacility" value="1">
                                <i class="helper"></i>ATC Facility
                            </label>
                        </div>
                        <div class="radio radio-inline">
                            <label>
                                <input type="radio" formControlName="CourseFacility" value="0">
                                <i class="helper"></i>Onsite
                            </label>
                        </div>
                    </div>
                    <span class="messages text-danger" *ngIf="!editCourse.get('CourseFacility').valid && editCourse.get('CourseFacility').touched">*
                    Please Choose Course Facility</span>
                </div>
                <div class="col-md-3 col-xl-3 form-group" *ngIf="courseEquipment">
                    <label class="col-form-label">Computer Equipment</label>
                    <div class="form-radio">
                        <div class="radio radio-inline">
                            <label>
                                <input type="radio" formControlName="CourseEquipment" value="1">
                                <i class="helper"></i>ATC Computer
                            </label>
                        </div>
                        <div class="radio radio-inline">
                            <label>
                                <input type="radio" formControlName="CourseEquipment" value="0">
                                <i class="helper"></i>Onsite
                            </label>
                        </div>
                    </div>
                    <span class="messages text-danger" *ngIf="!editCourse.get('CourseEquipment').valid && editCourse.get('CourseEquipment').touched">*
                    Please Choose Course Equipment</span>
                </div>
                <div class="col-md-6 col-xl-6" *ngIf="courseEquipment">&nbsp;</div>
                <div class="col-md-3 col-xl-3 form-group">
                    <label class="col-form-label">{{'epdb.manage.site.detail.site_id' | translate}}</label>
                    <!-- <ng2-completer [(ngModel)]="siteId" [datasource]="dataService1" [minSearchLength]="2" [inputClass]="['form-control']" (selected)="onSelected($event)"
                    [matchClass]="completer-description" formControlName="SiteId" [clearUnselected]="true" (change)="checkIsSite($event.target.value)"></ng2-completer> -->
                    <angular2-multiselect [data]="listSites" [(ngModel)]="siteId" [settings]="dropdownSettings" formControlName="SiteId" (ngModelChange)="getInstructor()">
                    </angular2-multiselect>
                    <p class="text-danger">
                        <em>{{errorSites}}</em>
                    </p>
                    <span class="messages text-danger" *ngIf="!editCourse.get('SiteId').valid && editCourse.get('SiteId').touched">*
                    Please Select Site ID</span>
                </div>
                <div class="col-md-3 col-xl-3 form-group">
                    <label class="col-form-label">{{'eva.manage_course.list_course.instructor_id' | translate}}</label>
                    <ng2-completer [(ngModel)]="contactId" [datasource]="dataService2" [minSearchLength]="2" [inputClass]="['form-control']"
                    (selected)="onSelectedInstructor($event)" [matchClass]="completer-description" formControlName="ContactId"
                    [clearUnselected]="true" (change)="checkIsInstructor($event.target.value)"></ng2-completer>
                    <p class="text-danger">
                        <em>{{errorInstructor}}</em>
                    </p>
                    <span class="messages text-danger" *ngIf="!editCourse.get('ContactId').valid && editCourse.get('ContactId').touched">*
                    Please Enter Instuctor ID</span>
                </div>
                <div class="col-md-6 col-xl-6 form-group">
                    <label class="col-form-label">{{'eva.manage_course.list_course.instructor_name' | translate}}</label>
                    <input type="text" class="form-control" readonly formControlName="namaInstruktur">
                </div>
                <div class="col-md-12 col-xl-12 form-group" *ngIf="institution">
                    <label class="col-form-label">{{'eva.manage_course.detail.institution' | translate}}</label>
                    <input type="text" name="Institution" class="form-control" formControlName="Institution">
                    <span class="messages text-danger" *ngIf="!editCourse.get('Institution').valid && editCourse.get('Institution').touched">*
                    Please Enter Institution</span>
                </div>
                <div class="col-md-6 col-xl-6 form-group" *ngIf="projectInstitution">
                    <label class="col-form-label">{{'eva.manage_course.detail.institution' | translate}}</label>
                    <input type="text" name="Institution" class="form-control" formControlName="Institution">
                    <span class="messages text-danger" *ngIf="!editCourse.get('Institution').valid && editCourse.get('Institution').touched">* Please Enter Institution</span>
                </div>
                <div class="col-md-6 col-xl-6 form-group" *ngIf="projectLogoUpload">
                    <label class="col-form-label">Upload Institution Logo</label>
                    <input type="file" id="InstitutionLogo" class="form-control" placeholder="Upload File.." (change)="onFileChange($event)" accept=".png,.jpg,.jpeg" #fileInput>
                    <!-- <span class="messages text-danger" *ngIf="!editCourse.get('Institution').valid && editCourse.get('Institution').touched">* Please Select File</span> -->
                </div>
                <div class="col-md-6 col-xl-6 form-group" *ngIf="isAvailableLogo">
                    <label class="col-form-label">Upload Institution Logo</label><br/>
                    <img src="{{imgSrc}}" alt="uploaded logo" id="imageLogo" style="width: 60px; height: 50px">&nbsp;&nbsp;{{imgLogoName}}
                    <a href="javascript:;" (click)="clearLogo();">&nbsp;Change Logo</a>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label" *ngIf="parentLabel">{{'eva.manage_course.add.course_date_from' | translate}}</label>
                    <label class="col-form-label" *ngIf="Project">{{'eva.manage_course.add.project_date_from' | translate}}</label>
                    <label class="col-form-label" *ngIf="event">{{'eva.manage_course.add.event_date_from' | translate}}</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="modelPopup1" ngbDatepicker #d1="ngbDatepicker" id="StartDate"
                        formControlName="StartDate" readonly="true" (ngModelChange)="onSelectDateStart($event)">
                        <div class="input-group-addon bg-default" (click)="d1.toggle()">
                            <span class="icofont icofont-ui-calendar"></span>
                        </div>
                    </div>
                    <span class="messages text-danger" *ngIf="!editCourse.get('StartDate').valid && editCourse.get('StartDate').touched">*
                    Please Enter Start Date</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eva.manage_course.add.to' | translate}}</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="modelPopup2" ngbDatepicker #d2="ngbDatepicker" id="EndDate"
                        formControlName="EndDate" readonly="true" (ngModelChange)="onSelectDateEnd($event)" [minDate]="modelPopup1">
                        <div class="input-group-addon bg-default" (click)="d2.toggle()">
                            <span class="icofont icofont-ui-calendar"></span>
                        </div>
                    </div>
                    <span class="messages text-danger" *ngIf="!editCourse.get('EndDate').valid && editCourse.get('EndDate').touched">*
                    Please Enter End Date</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eva.manage_course.add.survey' | translate}}</label>
                    <select name="SurveyIndicator" class="form-control" formControlName="Survey">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of survey" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('Survey').valid && editCourse.get('Survey').touched">*
                    Please Select FY</span>
                </div>
                <div class="col-md-12 col-xl-12">&nbsp;</div>
                <div class="col-md-12 col-xl-12">&nbsp;</div>
                <div class="col-md-12 col-xl-12" *ngIf="event">
                    <label class="col-form-label">1a. {{'eva.manage_course.question.event.question_1a_event' | translate}}?</label>
                </div>
                <div class="col-md-6 col-xl-6 form-group" *ngIf="event">
                    <label class="col-form-label">{{'eva.manage_course.question.atc.select2a_primary_product' | translate}}</label>
                    <select name="QProduct" class="form-control" (change)="findVersion1($event.target.value)" formControlName="Product1">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of products" value="{{item.productId}}">{{item.productName}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('Product1').valid && editCourse.get('Product1').touched">*
                    Please Select Primary Product</span>
                </div>
                <div class="col-md-3 col-xl-3 form-group" *ngIf="event">
                    <label class="col-form-label">{{'eva.manage_course.question.atc.select2a_version' | translate}}</label>
                    <select name="QVersion" class="form-control" formControlName="Version1">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of versions1" value="{{item.ProductVersionsId}}">{{item.Version}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('Version1').valid && editCourse.get('Version1').touched">*
                    Please Select Primary Product Version</span>
                </div>
                <div class="col-md-12 col-xl-12" *ngIf="event">
                    <label class="col-form-label">1b. {{'eva.manage_course.question.event.question_1b_event' | translate}}?</label>
                </div>
                <div class="col-md-6 col-xl-6 form-group" *ngIf="event">
                    <label class="col-form-label">{{'eva.manage_course.question.atc.select2b_secondary_product' | translate}}</label>
                    <select name="QProduct" class="form-control" (change)="findVersion2($event.target.value)" formControlName="Product2">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of products" value="{{item.productId}}">{{item.productName}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('Product2').valid && editCourse.get('Product2').touched">*
                    Please Select Secondary Product</span>
                </div>
                <div class="col-md-3 col-xl-3 form-group" *ngIf="event">
                    <label class="col-form-label">{{'eva.manage_course.question.atc.select2a_version' | translate}}</label>
                    <select name="QVersion" class="form-control" formControlName="Version2">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of versions2" value="{{item.ProductVersionsId}}">{{item.Version}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('Version2').valid && editCourse.get('Version2').touched">*
                    Please Select Secondary Product Version</span>
                </div>
                <div class="col-md-12 col-xl-12" *ngIf="ATC1">
                    <label class="col-form-label">1. {{'eva.manage_course.question.atc.question_1_atc1' | translate}}?</label>
                </div>
                <div class="col-md-12 col-xl-12 form-group form-inline" *ngIf="ATC1">
                    <!-- <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Update">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox1_update' | translate}}</span>
                        </label>
                    </div>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Essentials">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>Level 1 : {{'eva.manage_course.question.atc.checkbox1_essential' | translate}}</span>
                        </label>
                    </div>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Intermediate">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>Level 2 : {{'eva.manage_course.question.atc.checkbox1_intermediate' | translate}}</span>
                        </label>
                    </div>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Advanced">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>Level 3 : {{'eva.manage_course.question.atc.checkbox1_advanced' | translate}}</span>
                        </label>
                    </div>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Customized">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox1_custmomized' | translate}}</span>
                        </label>
                    </div>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Other" (change)="onChangeOther($event.target.checked)">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox1_other' | translate}}</span>&nbsp;
                            <input type="text" class="form-control" formControlName="Komen">
                        </label>
                    </div> -->
                    <div class="form-radio">
                        <div class="radio radio-inline">
                            <label>
                                <input type="radio" formControlName="LevelTeaching" value="Update" (change)="onChangeOtherDisable($event.target.value)">
                                <i class="helper"></i>{{'eva.manage_course.question.atc.checkbox1_update' | translate}}
                            </label>
                        </div>
                        <div class="radio radio-inline">
                            <label>
                                <input type="radio" formControlName="LevelTeaching" value="Essentials" (change)="onChangeOtherDisable($event.target.value)">
                                <i class="helper"></i>Level 1 : {{'eva.manage_course.question.atc.checkbox1_essential' |
                                translate}}
                            </label>
                        </div>
                        <div class="radio radio-inline">
                            <label>
                                <input type="radio" formControlName="LevelTeaching" value="Intermediate" (change)="onChangeOtherDisable($event.target.value)">
                                <i class="helper"></i>Level 2 : {{'eva.manage_course.question.atc.checkbox1_intermediate'
                                | translate}}
                            </label>
                        </div>
                        <div class="radio radio-inline">
                            <label>
                                <input type="radio" formControlName="LevelTeaching" value="Advanced" (change)="onChangeOtherDisable($event.target.value)">
                                <i class="helper"></i>Level 3 : {{'eva.manage_course.question.atc.checkbox1_advanced' | translate}}
                            </label>
                        </div>
                        <div class="radio radio-inline">
                            <label>
                                <input type="radio" formControlName="LevelTeaching" value="Customized" (change)="onChangeOtherDisable($event.target.value)">
                                <i class="helper"></i>{{'eva.manage_course.question.atc.checkbox1_custmomized' | translate}}
                            </label>
                        </div>
                        <div class="radio radio-inline">
                            <label>
                                <input type="radio" formControlName="LevelTeaching" value="Other" (change)="onChangeOther($event.target.value)">
                                <i class="helper"></i>{{'eva.manage_course.question.atc.checkbox1_other' | translate}}
                            </label>
                        </div>
                    </div>
                    <input type="text" class="form-control" formControlName="Komen">
                    <span class="messages text-danger" *ngIf="!editCourse.get('LevelTeaching').valid && editCourse.get('LevelTeaching').touched">*
                    Please Select Course Teaching Level</span>
                </div>
                <div class="col-md-12 col-xl-12">&nbsp;</div>
                <div class="col-md-12 col-xl-12" *ngIf="ATC2">
                    <label class="col-form-label">2a. {{'eva.manage_course.question.atc.question_2a_atc2' | translate}}?</label>
                </div>
                <div class="col-md-6 col-xl-6 form-group" *ngIf="ATC2">
                    <label class="col-form-label">{{'eva.manage_course.question.atc.select2a_primary_product' | translate}}</label>
                    <select name="QProduct" class="form-control" (change)="findVersion1($event.target.value)" formControlName="Product1">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of products" value="{{item.productId}}">{{item.productName}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('Product1').valid && editCourse.get('Product1').touched">*
                    Please Select Primary Product</span>
                </div>
                <div class="col-md-3 col-xl-3 form-group" *ngIf="ATC2">
                    <label class="col-form-label">{{'eva.manage_course.question.atc.select2a_version' | translate}}</label>
                    <select name="QVersion" class="form-control" formControlName="Version1">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of versions1" value="{{item.ProductVersionsId}}">{{item.Version}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('Version1').valid && editCourse.get('Version1').touched">*
                    Please Select Primary Product Version</span>
                </div>
                <div class="col-md-12 col-xl-12" *ngIf="ATC2">
                    <label class="col-form-label">2b. {{'eva.manage_course.question.atc.question_2b_atc2' | translate}}?</label>
                </div>
                <div class="col-md-6 col-xl-6 form-group" *ngIf="ATC2">
                    <label class="col-form-label">{{'eva.manage_course.question.atc.select2b_secondary_product' | translate}}</label>
                    <select name="QProduct" class="form-control" (change)="findVersion2($event.target.value)" formControlName="Product2">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of products" value="{{item.productId}}">{{item.productName}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('Product2').valid && editCourse.get('Product2').touched">*
                    Please Select Secondary Product</span>
                </div>
                <div class="col-md-3 col-xl-3 form-group" *ngIf="ATC2">
                    <label class="col-form-label">{{'eva.manage_course.question.atc.select2a_version' | translate}}</label>
                    <select name="QVersion" class="form-control" formControlName="Version2">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of versions2" value="{{item.ProductVersionsId}}">{{item.Version}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('Version2').valid && editCourse.get('Version2').touched">*
                    Please Select Secondary Product Version</span>
                </div>
                <div class="col-md-12 col-xl-12 form-inline" *ngIf="event">
                    <label class="col-form-label">2. {{'eva.manage_course.question.event.question_2_event' | translate}}</label>&nbsp;&nbsp;
                    <input type="text" name="QLocation" class="form-control" formControlName="LocationName">
                    <span class="messages text-danger" *ngIf="!editCourse.get('LocationName').valid && editCourse.get('LocationName').touched">*
                    Please Enter Location Name</span>
                </div>
                <div class="col-md-12 col-xl-12">&nbsp;</div>
                <div class="col-md-12 col-xl-12 form-inline" *ngIf="ATC3">
                    <label class="col-form-label">3. {{'eva.manage_course.question.atc.question_3_atc3' | translate}}?</label>&nbsp;&nbsp;
                    <!-- <input type="text" name="QHour" class="form-control" formControlName="TrainingHours"> -->
                    <select formControlName="TrainingHours" class="form-control">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of trainingHours" value="{{item.KeyValue}}">{{item.KeyValue}}</option>
                    </select>
                    <input *ngIf="editCourse.get('TrainingHours').value=='Other'" type="text" class="form-control" style="height:calc(2.25rem + 2px);"
                    (input)="trainingHoursOther=$event.target.value"
                    [value]="trainingHoursOther" formControlName="tOthers">
                    <span class="messages text-danger" *ngIf="editCourse.get('TrainingHours').value == 'other' && trainingHoursOther=='' ">*
                            Please Enter Training Hours</span>
                    <span class="messages text-danger" *ngIf="!editCourse.get('TrainingHours').valid && editCourse.get('TrainingHours').touched">*
                        Please Enter Training Hours</span>
                    <!-- <span class="messages text-danger" *ngIf="!editCourse.get('TrainingHours').valid && editCourse.get('TrainingHours').touched">*
                    Please Enter Training Hours</span> -->
                </div>
                <div class="col-md-12 col-xl-12 form-inline" *ngIf="Project">
                    <label class="col-form-label">3. {{'eva.manage_course.question.project.question_3_project' | translate}}?</label>&nbsp;&nbsp;
                    <!-- <input type="text" name="QHour" class="form-control" formControlName="TrainingHours"> -->
                    <select formControlName="TrainingHours" class="form-control">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of trainingHours" value="{{item.KeyValue}}">{{item.KeyValue}}</option>
                    </select>
                    <input *ngIf="editCourse.get('TrainingHours').value=='Other'" type="text" class="form-control" style="height:calc(2.25rem + 2px);"
                    (input)="trainingHoursOther=$event.target.value"
                    [value]="trainingHoursOther" formControlName="pOthers">
                    <span class="messages text-danger" *ngIf="editCourse.get('TrainingHours').value == 'other' && trainingHoursOther=='' ">*
                        Please Enter Project Hours</span>
                    <span class="messages text-danger" *ngIf="!editCourse.get('TrainingHours').valid && editCourse.get('TrainingHours').touched">*
                        Please Enter Project Hours</span>
                    <!-- <span class="messages text-danger" *ngIf="!editCourse.get('TrainingHours').valid && editCourse.get('TrainingHours').touched">*
                    Please Enter Project Hours</span> -->
                </div>
                <div class="col-md-4 col-xl-4 form-inline" *ngIf="event">
                    <label class="col-form-label">3. {{'eva.manage_course.question.event.question_3_event' | translate}}</label>&nbsp;&nbsp;
                    <select name="EventType" class="form-control" formControlName="EventType">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of typeOf" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('EventType').valid && editCourse.get('EventType').touched">*
                    Please Select Event Type</span>
                </div>
                <div class="col-md-12 col-xl-12">&nbsp;</div>
                <div class="col-md-12 col-xl-12" *ngIf="ATC4">4. {{'eva.manage_course.question.atc.question_4_atc4' | translate}}?</div>
                <div class="col-md-6 col-xl-6 form-group" *ngIf="ATC4">
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="InstructorLed">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox4_classroom' | translate}}</span>
                        </label>
                    </div>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Online">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox4_online' | translate}}</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-12 col-xl-12 form-inline" *ngIf="Course">
                    <label class="col-form-label">4. {{'eva.manage_course.question.course.question_4_course' | translate}}?</label>&nbsp;&nbsp;
                    <select name="TrainingType" class="form-control" formControlName="TrainingType">
                        <option value="">--Select Training Type--</option>
                        <option *ngFor="let item of typeOf" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('TrainingType').valid && editCourse.get('TrainingType').touched">*
                    Please Select Training Type</span>
                </div>
                <div class="col-md-12 col-xl-12 form-inline" *ngIf="Project">
                    <label class="col-form-label">4. {{'eva.manage_course.question.project.question_4_project' | translate}}?</label>&nbsp;&nbsp;
                    <select class="form-control" formControlName="ProjectType">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of typeOf" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('ProjectType').valid && editCourse.get('ProjectType').touched">*
                    Please Select Project Type</span>
                </div>
                <div class="col-md-12 col-xl-12" *ngIf="Course">5. {{'eva.manage_course.question.atc.question_4_atc4' | translate}}?</div>
                <div class="col-md-6 col-xl-6 form-group" *ngIf="Course">
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="InstructorLed">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox4_classroom' | translate}}</span>
                        </label>
                    </div>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Online">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox4_online' | translate}}</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-12 col-xl-12" *ngIf="Course">6. {{'eva.manage_course.question.atc.question_5_atc5' | translate}}?</div>
                <div class="col-md-12 col-xl-12 form-group" *ngIf="Course">
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Autodesk">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox1_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="AAP">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox2_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="ATC">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox3_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Independent">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox4_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="IndependentOnline">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox5_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="ATCOnline">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox6_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="form-inline">
                        <div class="checkbox-fade fade-in-primary">
                            <label>
                                <input type="checkbox" formControlName="Other5" (change)="onChangeOther2($event.target.checked)">
                                <span class="cr">
                                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                </span>
                                <span>{{'eva.manage_course.question.atc.checkbox7_5' | translate}}</span>&nbsp;
                                <input type="text" class="form-control" formControlName="Komen5">
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-12" *ngIf="ATC6">5. {{'eva.manage_course.question.atc.question_5_atc5' | translate}}?</div>
                <div class="col-md-12 col-xl-12 form-group" *ngIf="ATC6">
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Autodesk">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox1_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="AAP">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox2_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="ATC">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox3_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Independent">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox4_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="IndependentOnline">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox5_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="ATCOnline">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox6_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="form-inline">
                        <div class="checkbox-fade fade-in-primary">
                            <label>
                                <input type="checkbox" formControlName="Other5" (change)="onChangeOther2($event.target.checked)">
                                <span class="cr">
                                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                </span>
                                <span>{{'eva.manage_course.question.atc.checkbox7_5' | translate}}</span>&nbsp;
                                <input type="text" class="form-control" formControlName="Komen5">
                            </label>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-10 col-xl-10 form-group">
                    <label class="col-form-label">Evaluation Template</label>
                    <select class="form-control" formControlName="EvaTemplate" (change)="getTemplateEvaId($event.target.value)">
                        <option value="">--Please Select--</option>
                        <option *ngFor="let item of evaTemplate" value="{{item.EvaluationQuestionId}}">{{item.CourseId}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('EvaTemplate').valid && editCourse.get('EvaTemplate').touched">* Please Select Evaluation Template</span>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <label class="col-form-label">&nbsp;</label>
                    <button type="button" class="btn btn-success btn-md btn-block text-center" (click)="evaTemplatePreview()">
                    <i class="icofont icofont-eye-alt"></i>Preview</button>
                </div>
                <div class="col-md-10 col-xl-10 form-group">
                    <label class="col-form-label">Certificate Template</label>
                    <select class="form-control" formControlName="CertTemplate" (change)="getTemplateCertificateId($event.target.value)">
                        <option value="">--Please Select--</option>
                        <option *ngFor="let item of cftTemplate" value="{{item.CertificateId}}">{{item.Name}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('CertTemplate').valid && editCourse.get('CertTemplate').touched">* Please Select Certificate Template</span>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <label class="col-form-label">&nbsp;</label>
                    <button type="button" class="btn btn-success btn-md btn-block text-center" (click)="certificatePreview()">
                    <i class="icofont icofont-eye-alt"></i>Preview</button>
                </div> -->
                <!-- <div class="col-md-12 col-xl-12">&nbsp;</div>
                <div class="col-md-12 col-xl-12">
                    <div class="card-header">
                        <div class="page-header-title">
                            <h4>{{'eva.manage_course.add.tag_student' | translate}}</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-12">&nbsp;</div> -->
                <!-- <div class="col-md-6 col-xl-6 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.geo.geo' | translate}}</label>
                    <angular2-multiselect [data]="dropdownListGeo" [(ngModel)]="selectedItemsGeo" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                        (onSelect)="onGeoSelect($event)" (onDeSelect)="OnGeoDeSelect($event)" (onSelectAll)="onGeoSelectAll($event)"
                        (onDeSelectAll)="onGeoDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-6 col-xl-6 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.region.region' | translate}}</label>
                    <angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onRegionSelect($event)" (onDeSelect)="OnRegionDeSelect($event)"
                        (onSelectAll)="onRegionSelectAll($event)" (onDeSelectAll)="onRegionDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-6 col-xl-6 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.sub_region.sub_region' | translate}}</label>
                    <angular2-multiselect [data]="dropdownListSubRegion" [(ngModel)]="selectedItemsSubRegion" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onSubRegionSelect($event)" (onDeSelect)="OnSubRegionDeSelect($event)"
                        (onSelectAll)="onSubRegionSelectAll($event)" (onDeSelectAll)="onSubRegionDeSelectAll($event)">
                    </angular2-multiselect>
                </div> -->
                <!-- <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.countries.country' | translate}}</label>
                    <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onCountriesSelect($event)" (onDeSelect)="OnCountriesDeSelect($event)"
                        (onSelectAll)="onCountriesSelectAll($event)" (onDeSelectAll)="onCountriesDeSelectAll($event)">
                    </angular2-multiselect>
                </div> -->
                <!-- <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eva.manage_course.add.find_student' | translate}}</label>
                    <ng2-completer [(ngModel)]="siswa" [datasource]="dataService3" [minSearchLength]="2" [inputClass]="['form-control']" (selected)="ketikaSiswaDipilih($event)"
                    [matchClass]="completer-description" [ngModelOptions]="{standalone: true}" placeholder="Type Student ID here..."></ng2-completer>
                </div> -->
                <!-- <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eva.manage_course.add.find_student' | translate}}</label>
                    <ng2-completer [textSearching]="'Please wait...'" [(ngModel)]="siswa" [datasource]="dataService3" [minSearchLength]="2" [inputClass]="['form-control']"
                    (selected)="ketikaSiswaDipilih($event)" [matchClass]="completer-description" [ngModelOptions]="{standalone: true}"
                    placeholder="{{'eva.manage_course.add.type_student' | translate}}...">
                    </ng2-completer>
                </div> -->
                <!-- <div class="col-md-12 col-xl-12">&nbsp;</div> -->
                <!-- <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6" *ngIf="studentFound">
                    <div>
                        <label class="label-control">{{'general.show' | translate}}
                            <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                                <option [ngValue]="5">5</option>
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="25">25</option>
                            </select>
                            {{'general.entries' | translate}}
                        </label>
                    </div>
                </div> -->
                <!-- <div class="col-xs-12 col-sm-12 col-md-6" *ngIf="studentFound">
                    <div class="text-right">
                        <label>{{'general.search' | translate}}:
                            <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                        </label>
                    </div>
                </div> -->
                <!-- <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                    <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="dataStudent | dataFilter : filterQuery"
                        #mf2="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" *ngIf="studentFound">
                        <thead>
                            <tr>
                                <th width="20%">
                                    <mfDefaultSorter by="StudentID">{{'eva.manage_student_info.student_id' | translate}}</mfDefaultSorter>
                                </th>
                                <th width="25%">
                                    <mfDefaultSorter by="Firstname">{{'eva.manage_student_info.student_name' | translate}}</mfDefaultSorter>
                                </th>
                                <th width="25%">
                                    <mfDefaultSorter by="Email">{{'epdb.user.email_address' | translate}}</mfDefaultSorter>
                                </th>
                                <th width="10%">{{'general.action' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="dataStudent!=null">
                            <tr *ngFor="let item of mf2.data">
                                <td class="text-center">{{item.StudentID}}</td>
                                <td>{{item.Firstname}} {{item.Lastname}}</td>
                                <td>{{item.Email}}</td>
                                <td class="action-icon">
                                    <a class="m-r-15 text-muted f-18 ml-3" (click)="addStudent(item.StudentID)" ngbTooltip="Add Student">
                                        <i class="icofont icofont-plus-circle"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                        <tr *ngIf="dataStudent!=null">
                            <td colspan="7">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="notFound==true">
                            <td colspan="7" class="text-right">There are no data meeting the search criteria specified above</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="col-md-12 col-xl-12" *ngIf="studentPicked">&nbsp;</div>
                <div class="col-md-12 col-xl-12" *ngIf="studentPicked">&nbsp;</div>
                <div class="col-md-12 col-xl-12" *ngIf="studentPicked">
                    <div class="text-left">
                        <p class="text-success" *ngIf="studentSuccessTag">
                            <em>{{successTagMessage}}</em>
                        </p>
                    </div>
                </div> -->
                <!-- <div class="col-xs-6 col-sm-6 col-sm-6 col-md-6" *ngIf="studentPicked">
                    <div>
                        <label class="label-control">{{'general.show' | translate}}
                            <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage1">
                                <option [ngValue]="5">5</option>
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="25">25</option>
                            </select>
                            {{'general.entries' | translate}}
                        </label>
                    </div>
                </div> -->
                <!-- <div class="col-xs-6 col-sm-6 col-md-6" *ngIf="studentPicked">
                    <div class="text-right">
                        <label>{{'general.search' | translate}}:
                            <input type="search" [(ngModel)]="filterQuery1" class="form-control input-sm full-data-search">
                        </label>
                    </div>
                </div> -->
                <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                    <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="pickedStudent | dataFilter : filterQuery1"
                        #mf2="mfDataTable" [mfRowsOnPage]="rowsOnPage1" [(mfSortBy)]="sortBy1" [(mfSortOrder)]="sortOrder1" *ngIf="studentPicked">
                        <thead>
                            <tr>
                                <th width="20%">
                                    <mfDefaultSorter by="StudentID">{{'eva.manage_student_info.student_id' | translate}}</mfDefaultSorter>
                                </th>
                                <th width="25%">
                                    <mfDefaultSorter by="Firstname">{{'eva.manage_student_info.student_name' | translate}}</mfDefaultSorter>
                                </th>
                                <th width="25%">
                                    <mfDefaultSorter by="Email">{{'epdb.user.email_address' | translate}}</mfDefaultSorter>
                                </th>
                                <!-- <th width="20%">
                                    <mfDefaultSorter by="Phone">{{'epdb.manage.organization.detail.telephone' | translate}}</mfDefaultSorter>
                                </th> -->
                                <th width="10%">{{'general.action' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="pickedStudent!=null">
                            <tr *ngFor="let item of mf2.data">
                                <td class="text-center">{{item.StudentID}}</td>
                                <td>{{item.Firstname}} {{item.Lastname}}</td>
                                <td>{{item.Email}}</td>
                                <!-- <td>{{item.Phone}}</td> -->
                                <td class="action-icon">
                                    <a class="m-r-15 text-muted f-18 ml-3" (click)="removeStudent(item.StudentID)" ngbTooltip="Remove Student">
                                        <i class="icofont icofont-delete-alt" style="cursor: pointer"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                        <tr *ngIf="pickedStudent!=null">
                            <td colspan="7">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="pickedStudent==null">
                            <td colspan="7" class="text-center">{{'general.cant_find_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="pickedStudent==''">
                            <td colspan="7" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="mt-2 ml-2 col-md-12 col-xl-12 form-group row">
                    <div class="col-md-6 col-xl-6 form-group">
                    </div>
                    <div class="col-md-2 col-xl-2 form-group">
                        <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i> {{'general.btn_save' | translate}}</button>
                    </div>
                    <div class="col-md-2 col-xl-2 form-group">
                        <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}</button>
                    </div>
                    <div class="col-md-2 col-xl-2 form-group">
                        <button type="button" [routerLink]="['/course/course-list']" class="btn btn-danger btn-md btn-block text-center">
                        <i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>