<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.admin.product.edit_product' | translate }}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="updateproduct" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.product.product_name' | translate}}
                        <code>*</code>
                    </label>
                    <input type="text" class="form-control" id="productName" formControlName="productName" placeholder="{{'epdb.admin.product.product_name' | translate}}">
                    <span class="messages text-danger" *ngIf="!updateproduct.get('productName').valid && updateproduct.get('productName').touched">* Please Enter Status</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.product.product_category' | translate}}
                        <code>*</code>
                    </label>
                    <angular2-multiselect formControlName="familyId" [data]="dropdownListCategory" [(ngModel)]="selectedItemsCategory" [settings]="dropdownSettings"
                        (onSelect)="onCategorySelect($event)" (onDeSelect)="OnCategoryDeSelect($event)" (onSelectAll)="onCategorySelectAll($event)"
                        (onDeSelectAll)="onCategoryDeSelectAll($event)">
                    </angular2-multiselect>
                    <span class="messages text-danger" *ngIf="showValid">* Please Select Product Category</span>
                </div>
                <!-- <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.product.year' | translate}}</label>
                    <select class="form-control" formControlName="year">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of year" value="{{item.Key}}">{{item.Key}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!updateproduct.get('year').valid && updateproduct.get('year').touched">* Please Enter Product Year</span>
                </div> -->
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.product.version' | translate}}
                        <code>*</code>
                    </label>
                    <input type="text" class="form-control" formControlName="version" placeholder="{{'epdb.admin.product.version' | translate}}">
                    <span class="messages text-danger" *ngIf="!updateproduct.get('version').valid && updateproduct.get('version').touched">* Please Enter Product Version</span>
                </div>
                
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'general.status' | translate}}
                        <code>*</code>
                    </label>
                    <select class="form-control" formControlName="Status">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option value="A">Active</option>
                        <option value="X">Disable</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!updateproduct.get('Status').valid && updateproduct.get('Status').touched">* Please Enter Product Status</span>
                </div>
                
                <div class="col-md-10 col-xl-10">&nbsp;</div>
                <div class="col-md-5 col-xl-5">&nbsp;</div>
                <div class="col-md-3 col-xl-3 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i> {{'general.btn_save_change' | translate}}
                    </button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center ">
                        <i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}
                    </button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" [routerLink]="['/admin/products/products-list']" class="btn btn-danger btn-md btn-block text-center ">
                        <i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>