<ngx-loading [show]="loading" [config]="{
  backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
  primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
  <div class="card-header">
      <div class="page-header-title">
          <h4>Merge Site</h4>
      </div>
  </div>
  <div class="card-block">
    <div class="">
      <table class="table table-bordered table-responsive" style="display:block">
        <thead>
          <tr>
            <th colspan="3" class="bg-disable">
              <div class="text-center"><b>Site to Mark as Duplicate</b></div>
              <div class="text-center text-danger">This Site will be "RETIRED"</div>
              <div class="text-center text-danger">Choose items to copy over to the Master</div>
            </th>
            <th colspan="3">
              <div class="text-center"><b>Master Site - the one to Keep</b></div>
              <div class="text-center"><b>This Site will get "bigger"</b></div>
              <div class="text-center"><b>Chosen items will be added or overwrite existing items</b></div>
            </th>
          </tr>
          <tr>
            <td>Item</td>
            <td>Value to copy</td>
            <td>Copy</td>
            <td colspan="3">Current Value - will be overwriten if checkbox is checked</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>SiteId</td>
            <td>{{dup_data.siteId}}</td>
            <td></td>
            <td colspan="3">
              <div class="form-group row mb-0">
                <div class="col-sm-5 col-form-label pr-0" style="white-space: normal;">Id of the site you want to keep</div>
                <div class="col-sm-3 p-0"><input class="form-control" [(ngModel)]="searchId"></div>
                <div class="col-sm-3"><button class="btn btn-primary" (click)="search()">Search</button></div>
              </div>
            </td>
          </tr>
          <tr>
            <td>SiteName</td>
            <td [innerHTML]="dup_data.siteName"></td>
            <td class="text-center"><input type="checkbox" (change)="checkField($event,'siteName')" [disabled]="!base_master_data.siteId"/></td>
            <td colspan="3">{{master_data.siteName?master_data.siteName:base_master_data.siteName}}</td>
          </tr>
          <tr>
            <td>EnglishSiteName</td>
            <td [innerHTML]="dup_data.englishSiteName"></td>
            <td class="text-center"><input type="checkbox" (change)="checkField($event,'englishSiteName')" [disabled]="!base_master_data.siteId"/></td>
            <td colspan="3">{{master_data.englishSiteName?master_data.englishSiteName:base_master_data.englishSiteName}}</td>
          </tr>
          <tr>
            <th >CommercialSiteName</th>
            <th colspan="2" [innerHTML]="dup_data.commercialSiteName"></th>
            <th>CommercialSiteName</th>
            <th colspan="2">{{base_master_data.commercialSiteName}}</th>
          </tr>
          <tr>
            <th>SiebelSiteName</th>
            <th colspan="2" [innerHTML]="dup_data.siebelSiteName"></th>
            <th>SiebelSiteName</th>
            <th colspan="2">{{base_master_data.siebelSiteName}}</th>
          </tr>
          <tr>
            <td>SiteWebAddress</td>
            <td [innerHTML]="dup_data.siteWebAddress"></td>
            <td class="text-center"><input type="checkbox" (change)="checkField($event,'siteWebAddress')" [disabled]="!base_master_data.siteId"/></td>
            <td colspan="3">{{master_data.siteWebAddress?master_data.siteWebAddress:base_master_data.siteWebAddress}}</td>
          </tr>
          <tr>
            <td>Workstations</td>
            <td>{{dup_data.workstations}}</td>
            <td class="text-center"><input type="checkbox" (change)="checkField($event,'workstations')" [disabled]="!base_master_data.siteId"/></td>
            <td colspan="3">{{master_data.workstations?master_data.workstations:base_master_data.workstations}}</td>
          </tr>
          <tr>
            <th>MagellanId</th>
            <th colspan="2">{{dup_data.magellanId}}</th>
            <th>MagellanId</th>
            <th colspan="2">{{base_master_data.magellanId}}</th>
          </tr>
          <tr>
            <td>Site Telephone</td>
            <td>{{dup_data.siteTelephone}}</td>
            <td class="text-center"><input type="checkbox" (change)="checkField($event,'siteTelephone')" [disabled]="!base_master_data.siteId"/></td>
            <td colspan="3">{{master_data.siteTelephone?master_data.siteTelephone:base_master_data.siteTelephone}}</td>
          </tr>
          <tr>
            <th>SiteFax</th>
            <th colspan="2">{{dup_data.siteFax}}</th>
            <th>SiteFax</th>
            <th colspan="2">{{base_master_data.siteFax}}</th>
          </tr>
          <tr>
            <td>SiteAdmin</td>
            <td>
              <div>{{dup_data.siteAdminFirstName}} {{dup_data.siteAdminLastName}}</div>
              <div>{{dup_data.siteAdminEmailAddress}}</div>
              <div>{{dup_data.siteAdminTelephone}}</div>
            </td>
            <td class="text-center">
              <input type="checkbox" (change)="checkField($event,'siteAdminFirstName');checkField($event,'siteAdminLastName');checkField($event,'siteAdminEmailAddress');checkField($event,'siteAdminTelephone')" [disabled]="!base_master_data.siteId"/>
            </td>
            <td colspan="3">
              <div>
                {{master_data.siteAdminFirstName?master_data.siteAdminFirstName:base_master_data.siteAdminFirstName}} 
                {{master_data.siteAdminLastName?master_data.siteAdminLastName:base_master_data.siteAdminLastName}}
              </div>
              <div>{{master_data.siteAdminEmailAddress?master_data.siteAdminEmailAddress:base_master_data.siteAdminEmailAddress}}</div>
              <div>{{master_data.siteAdminTelephone?master_data.siteAdminTelephone:base_master_data.siteAdminTelephone}}</div>
            </td>
          </tr>
          <tr>
            <td>SiteManager</td>
            <td>
              <div>{{dup_data.siteManagerFirstName}} {{dup_data.siteManagerLastName}}</div>
              <div>{{dup_data.legalContactEmailAddress}}</div>
              <div>{{dup_data.legalContactTelephone}}</div>
            </td>
            <td class="text-center">
              <input type="checkbox" (change)="checkField($event,'siteManagerFirstName');checkField($event,'siteManagerLastName');checkField($event,'legalContactEmailAddress');checkField($event,'legalContactTelephone')" [disabled]="!base_master_data.siteId"/>
            </td>
            <td colspan="3">
              <div>
                {{master_data.siteManagerFirstName?master_data.siteManagerFirstName:base_master_data.siteManagerFirstName}} 
                {{master_data.siteManagerLastName?master_data.siteManagerLastName:base_master_data.siteManagerLastName}}
              </div>
              <div>{{master_data.siteManagerEmailAddress?master_data.siteManagerEmailAddress:base_master_data.siteManagerEmailAddress}}</div>
              <div>{{master_data.siteManagerTelephone?master_data.siteManagerTelephone:base_master_data.siteManagerTelephone}}</div>
            </td>
          </tr>
          <tr>
            <td>Site Address</td>
            <td>
              <div>{{dup_data.siteAddress1}}</div>
              <div>{{dup_data.siteAddress2}}</div>
              <div>{{dup_data.siteAddress3}}</div>
              <div>{{dup_data.siteCity}} {{dup_data.siteCountryCode}}</div>
            </td>
            <td class="text-center">
              <input type="checkbox" 
                (change)="checkField($event,'siteAddress1');
                  checkField($event,'siteAddress2');
                  checkField($event,'siteAddress3');
                  checkField($event,'siteCity');
                  checkField($event,'siteCountryCode')"
                [disabled]="!base_master_data.siteId"
              />
            </td>
            <td colspan="3">
              <div>{{master_data.siteAddress1?master_data.siteAddress1:base_master_data.siteAddress1}}</div>
              <div>{{master_data.siteAddress2?master_data.siteAddress2:base_master_data.siteAddress2}}</div>
              <div>{{master_data.siteAddress3?master_data.siteAddress3:base_master_data.siteAddress3}}</div>
              <div>
                {{master_data.siteCity?master_data.siteCity:base_master_data.siteCity}} 
                {{master_data.siteCountryCode?master_data.siteCountryCode:base_master_data.siteCountryCode}}
              </div>
            </td>
          </tr>
          <tr>
            <td>Mailing Address</td>
            <td>
              <div>{{dup_data.mailingAddress1}}</div>
              <div>{{dup_data.mailingAddress2}}</div>
              <div>{{dup_data.mailingAddress3}}</div>
              <div>{{dup_data.mailingCity}} {{dup_data.mailingCountryCode}}</div>
            </td>
            <td class="text-center">
              <input type="checkbox" 
                (change)="checkField($event,'mailingAddress1');
                  checkField($event,'mailingAddress2');
                  checkField($event,'mailingAddress3');
                  checkField($event,'mailingCity');
                  checkField($event,'mailingCountryCode')"
                [disabled]="!base_master_data.siteId"
              />
            </td>
            <td colspan="3">
              <div>{{master_data.mailingAddress1?master_data.mailingAddress1:base_master_data.mailingAddress1}}</div>
              <div>{{master_data.mailingAddress2?master_data.mailingAddress2:base_master_data.mailingAddress2}}</div>
              <div>{{master_data.mailingAddress3?master_data.mailingAddress3:base_master_data.mailingAddress3}}</div>
              <div>
                {{master_data.mailingCity?master_data.mailingCity:base_master_data.mailingCity}} 
                {{master_data.mailingCountryCode?master_data.mailingCountryCode:base_master_data.mailingCountryCode}}
              </div>
            </td>
          </tr>
          <tr>
            <td>Shipping Address</td>
            <td>
              <div>{{dup_data.shippingAddress1}}</div>
              <div>{{dup_data.shippingAddress2}}</div>
              <div>{{dup_data.shippingAddress3}}</div>
              <div>{{dup_data.shippingCity}} {{dup_data.shippingCountryCode}}</div>
            </td>
            <td class="text-center">
              <input type="checkbox" 
                (change)="checkField($event,'shippingAddress1');
                  checkField($event,'shippingAddress2');
                  checkField($event,'shippingAddress3');
                  checkField($event,'shippingCity');
                  checkField($event,'shippingCountryCode')"
                [disabled]="!base_master_data.siteId"
              />
            </td>
            <td colspan="3">
              <div>{{master_data.shippingAddress1?master_data.shippingAddress1:base_master_data.shippingAddress1}}</div>
              <div>{{master_data.shippingAddress2?master_data.shippingAddress2:base_master_data.shippingAddress2}}</div>
              <div>{{master_data.shippingAddress3?master_data.shippingAddress3:base_master_data.shippingAddress3}}</div>
              <div>
                {{master_data.shippingCity?master_data.shippingCity:base_master_data.shippingCity}} 
                {{master_data.shippingCountryCode?master_data.shippingCountryCode:base_master_data.shippingCountryCode}}
              </div>
            </td>
          </tr>
          <tr>
            <th colspan="3">Partner Types</th>
            <th colspan="3">Partner Types</th>
          </tr>
          <tr>
            <td colspan="3">
              <ng-container *ngIf="dup_data.partnerTypes">
                <div *ngFor="let d of dup_data.partnerTypes" class="d-flex justify-content-between pr-2">
                  <span>{{d.type}}</span>
                  <span>{{d.status}} - {{d.csn}} -</span>
                  <input type="checkbox" (change)="checkField($event,'partnerTypes',d)" [disabled]="!base_master_data.siteId"/>
                </div>
              </ng-container>
            </td>
            <td colspan="3">
              <ng-container *ngIf="base_master_data.partnerTypes">
                <div *ngFor="let d of base_master_data.partnerTypes" class="d-flex justify-content-between pr-2">
                  <span>{{d.type}}</span>
                  <span>{{d.status}} - {{d.csn}} -</span>
                </div>
              </ng-container>
              <ng-container *ngIf="master_data.partnerTypes">
                <div *ngFor="let d of master_data.partnerTypes" class="d-flex justify-content-between pr-2">
                  <span>{{d.type}}</span>
                  <span>{{d.status}} - {{d.csn}} -</span>
                </div>
              </ng-container>
            </td>
          </tr>
          <tr>
            <th colspan="3">Contacts</th>
            <th colspan="3">Contacts</th>
          </tr>
          <tr>
            <td colspan="3">
              <ng-container *ngIf="dup_data.contacts">
                <div *ngFor="let d of dup_data.contacts" class="d-flex justify-content-between pr-2">
                  <span>{{d.contactId}}</span>
                  <span [innerHTML]="d.contactName"></span>
                  <input type="checkbox" (change)="checkField($event,'contacts',d)" [disabled]="!base_master_data.siteId"/>
                </div>
              </ng-container>
            </td>
            <td colspan="3">
              <ng-container *ngIf="base_master_data.contacts">
                <div *ngFor="let d of base_master_data.contacts" class="d-flex justify-content-between pr-2">
                  <span>{{d.contactId}}</span>
                  <span [innerHTML]="d.contactName"></span>
                </div>
              </ng-container>
              <ng-container *ngIf="master_data.contacts">
                <div *ngFor="let d of master_data.contacts" class="d-flex justify-content-between pr-2">
                  <span>{{d.contactId}}</span>
                  <span  [innerHTML]="d.contactName"></span>
                </div>
              </ng-container>
            </td>
          </tr>
          <tr>
            <th colspan="3">Attributes, Journal Entries, etc</th>
            <th colspan="3">Attributes, Journal Entries, etc</th>
          </tr>
          <tr>
            <td colspan="3">
              <ng-container *ngIf="dup_data.journalEntries">
                <div *ngFor="let d of dup_data.journalEntries" class="d-flex justify-content-between pr-2">
                  <span>{{d.journalId}}</span>
                  <span>{{d.entryType}}</span>
                  <input type="checkbox" (change)="checkField($event,'journalEntries',d)" [disabled]="!base_master_data.siteId"/>
                </div>
              </ng-container>
            </td>
            <td colspan="3">
              <ng-container *ngIf="base_master_data.journalEntries">
                <div *ngFor="let d of base_master_data.journalEntries" class="d-flex justify-content-between pr-2">
                  <span>{{d.journalId}}</span>
                  <span>{{d.entryType}}</span>
                </div>
              </ng-container>
              <ng-container *ngIf="master_data.journalEntries">
                <div *ngFor="let d of master_data.journalEntries" class="d-flex justify-content-between pr-2">
                  <span>{{d.journalId}}</span>
                  <span>{{d.entryType}}</span>
                </div>
              </ng-container>
            </td>
          </tr>
          <tr>
            <th colspan="3">Attachments</th>
            <th colspan="3">Attachments</th>
          </tr>
          <tr>
            <td colspan="3">
              <ng-container *ngIf="dup_data.attachments">
                <div *ngFor="let d of dup_data.attachments" class="d-flex justify-content-between pr-2">
                  <span>{{d.id}}</span>
                  <span>{{d.name}}</span>
                  <input type="checkbox" (change)="checkField($event,'attachments',d)" [disabled]="!base_master_data.siteId"/>
                </div>
              </ng-container>
            </td>
            <td colspan="3">
              <ng-container *ngIf="base_master_data.attachments">
                <div *ngFor="let d of base_master_data.attachments" class="d-flex justify-content-between pr-2">
                  <span>{{d.id}}</span>
                  <span>{{d.name}}</span>
                </div>
              </ng-container>
              <ng-container *ngIf="master_data.attachments">
                <div *ngFor="let d of master_data.attachments" class="d-flex justify-content-between pr-2">
                  <span>{{d.id}}</span>
                  <span>{{d.name}}</span>
                </div>
              </ng-container>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <button *ngIf="base_master_data.siteId" class="btn btn-secondary" (click)="merge()">Mark as duplicate</button>
            </td>
            <td colspan="3">
              <button *ngIf="base_master_data.siteId" class="btn btn-primary" (click)="reset()">Look up another</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>