<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.manage.organization.add_org_journal_entries.add_org_journal_entries' | translate }}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="orgjournalentriesform" (ngSubmit)="onSubmitOrgJournalEntries()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.organization.add_org_journal_entries.journal_entry_type' | translate }} <code>*</code></label>
                    <select class="form-control" id="ActivityId" formControlName="ActivityId">
                        <option value="">-- {{ 'general.select' | translate }} --</option>
                        <option *ngIf="orgentriestype==null">{{'general.loading_data' | translate}} ...</option>
                        <option *ngIf="orgentriestype==''">{{'general.data_empty' | translate}}</option>
                        <option *ngFor="let item of orgentriestype" value={{item.ActivityId}}>{{item.ActivityName}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!orgjournalentriesform.get('ActivityId').valid && orgjournalentriesform.get('ActivityId').touched">* Please Enter Journal Type</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'general.date' | translate }} <code>*</code></label>
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp3" [(ngModel)]="modelPopup" ngbDatepicker #d3="ngbDatepicker"
                                    readonly="true" id="ActivityDate" formControlName="ActivityDate">
                                <div class="input-group-addon bg-default" (click)="d3.toggle()">
                                    <span class="icofont icofont-ui-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="messages text-danger" *ngIf="!orgjournalentriesform.get('ActivityDate').valid && orgjournalentriesform.get('ActivityDate').touched">* Please Enter Activity Date</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                  <label class="col-form-label">{{ 'general.note_value' | translate }}</label>
                  <textarea class="form-control" id="Notes" placeholder="{{ 'general.note_value' | translate }}"
                            formControlName="Notes" rows="5"></textarea>
                </div>

                <div class="col-md-8 col-xl-8 form-group text-right"></div>
                <div class="col-md-2 col-xl-2 form-group text-right">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i> {{ 'general.btn_save' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group text-right">
                    <button type="button" [routerLink]="['/manage/organization/detail-organization',id]" class="btn btn-danger btn-md btn-block text-center">
                        <i class="icofont icofont-ui-close"></i> {{ 'general.btn_cancel' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
