<div class="card">
	<div class="card-header">
        <div class="page-header-title">
            <h4>PDB History</h4>
        </div>
	</div>
	<div class="card-block">
		<div class="dt-responsive dt-bootstrap4">
			<div class="col-lg-12 col-xl-12 row">  
				<div class="col-md-6 col-xl-6 form-group">
					<label class="col-form-label">Org ID</label>
					<input type="email" class="form-control" id="email">
				</div>
				<div class="col-md-6 col-xl-6 form-group">
					<label class="col-form-label">Site ID</label>
					<input type="email" class="form-control" id="email">
				</div>
				<div class="col-md-6 col-xl-6 form-group">
					<label class="col-form-label">Contact ID</label>
					<input type="email" class="form-control" id="email">
				</div>
				<div class="col-md-6 col-xl-6 form-group">
					<label class="col-form-label">Text To Match (Optional)</label>
					<input type="email" class="form-control" id="email" placeholder="Such as Basic, Migration, Invoice, Site Attribute, Link, Qualification and Serial">
				</div>
				<div class="col-md-6 col-xl-6 form-group">
					<label class="col-form-label">Admin User Name (Optional)</label>
					<input type="email" class="form-control" id="email">
				</div>
				<div class="col-md-6 col-xl-6 form-group">
					<label class="col-form-label">Show History For The Last X Days</label>
					<input type="email" class="form-control" id="email">
				</div>
			</div>
			<div class="col-lg-12 col-xl-12 row">
				<div class="col-md-4 col-xl-4 form-group"> 
						&nbsp;
				</div>
				<div class="col-md-4 col-xl-4 form-group"> 
					<button type="button" class="btn btn-primary btn-md btn-block text-center"><i class="icofont icofont-play-alt-1"></i>Run Query</button>
				</div>
				<div class="col-md-4 col-xl-4 form-group"> 
					<button type="button" class="btn btn-danger btn-md btn-block text-center"><i class="icofont icofont-stop"></i>Stop the Query</button>
				</div>
			</div>
			<div class="col-md-12 col-xl-12">
				&nbsp;
			</div>
			<div class="col-md-12 col-xl-12">
				&nbsp;
			</div>
			<div class="col-md-12 col-xl-12">
				&nbsp;
			</div>
			<div class="col-md-12 col-xl-12">
				<table class="table table-striped table-bordered table-responsive">
					<thead>
						<tr>
							<th width="5%">#</th>
							<th width="20%">Date</th>
							<th width="20%">Id</th>
							<th width="40%">Description</th>
							<th width="20%">Username</th>
							<th width="20%">Admin System</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td>Mar 30, 2017 8:34:24 PM</td>
							<td>OE303153</td>
							<td>
								ORGANIZATION JOURNAL ENTRY #179536: New - [ActivityId] -> 487 <br/>
								[ParentId] -> OE303153 <br/>
								[Notes] -> Renewed in November 2017 <br/>
								[ActivityDate] -> 2016-11-16 - Renewed in November 2017
							</td>
							<td>Ludmila Kim</td>
							<td></td>
						</tr>
					</tbody>
					<tfoot>
					</tfoot>
				</table>
			</div>
		</div>
	</div>
</div>