<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.currency.currency_conversion' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="addCurrency" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20" *ngIf="accesAddBtnCurrency">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.currency.currency' | translate}}</label>
                    <input type="text" class="form-control" formControlName="Key" placeholder="{{'epdb.admin.currency.currency' | translate}}">
                    <span class="messages text-danger" *ngIf="!addCurrency.get('Key').valid && addCurrency.get('Key').touched">* Please Enter Currency</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'general.description' | translate}}</label>
                    <textarea class="form-control" formControlName="KeyValue" rows="5" placeholder="{{'general.description' | translate}}"></textarea>
                    <span class="messages text-danger" *ngIf="!addCurrency.get('KeyValue').valid && addCurrency.get('KeyValue').touched">* Please Enter Description</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">&nbsp;</div>
                <div class="col-md-8 col-xl-8">&nbsp;</div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i>{{ 'general.btn_save' | translate }}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="resetCurrency()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }} </button>
                </div>
                <!-- <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" [routerLink]="['/admin/currency']" class="btn btn-danger btn-md btn-block text-center">
                        <i class="icofont icofont-ui-close"></i>{{ 'general.btn_cancel' | translate }}</button>
                </div> -->
            </div>
        </form>

        <div class="dt-responsive dt-bootstrap4  row p-20">
            <div class="col-md-12 col-xl-12"></div>

            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="currency | dataFilterCurrency : filterQuery"
                    #mf1="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortByCurrency" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="90%" class="text-center">
                                <mfDefaultSorter by="KeyValue">{{'epdb.admin.currency.list_currency' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%" class="text-center" *ngIf="accesUpdateBtnCurrency">{{'general.action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="currency!=null">
                        <tr *ngFor="let item of mf1.data">
                            <td>{{item.KeyValue}} ({{item.Key}})</td>
                            <td class="action-icon" *ngIf="accesUpdateBtnCurrency">
                                <a *ngIf="accesUpdateBtnCurrency" [routerLink]="['/admin/currency/currency-edit',item.Key]" class="m-r-15 text-muted f-18 ml-4"
                                    ngbTooltip="{{'general.tool_tip_edit' | translate}}">
                                    <i class="icofont icofont-ui-edit"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="currency!=null">
                            <td colspan="6">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="currency==null">
                            <td colspan="6" class="text-center">{{'general.cant_find_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="currency==''">
                            <td colspan="6" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>


            <div class="col-md-12 col-xl-12">&nbsp;</div>
            <div class="col-md-12 col-xl-12">&nbsp;</div>

            <div class="col-md-10 col-xl-10">&nbsp;</div>
            <!-- <div class="col-md-2 col-xl-2 form-group">
                <label class="col-form-label">&nbsp;</label>
                <button type="button" (click)="financialmodal.show()" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                    <i class="icofont icofont-ui-add"></i>{{'epdb.admin.currency.btn-add-financial-year' | translate}}
                </button>
            </div> -->
            <div class="col-md-9 col-xl-9">&nbsp;</div>
        </div>

        <form [formGroup]="addCurrencyConversion" (ngSubmit)="onSubmitConversion()">
            <div class="dt-responsive dt-bootstrap4 row p-20" *ngIf="accesAddBtnConversion">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'general.year' | translate}}</label>
                    <select name="Year" id="Year" class="form-control" formControlName="Year" (change)="changecurrency($event.target.value)">
                        <option value="">-- {{'general.select' | translate}} --</option>
						<option *ngIf="fyindicator==null">{{'general.loading_data' | translate}} ...</option>
						<option *ngIf="fyindicator==''">{{'general.data_empty' | translate}}</option>
                        <option *ngFor="let item of fyindicator" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!addCurrencyConversion.get('Year').valid && addCurrencyConversion.get('Year').touched">* Please Enter Year</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.currency.currency' | translate}}</label>
                    <select name="Currency" id="Currency" class="form-control" formControlName="Currency">
                        <option value="">-- {{'general.select' | translate}} --</option>
						<option *ngIf="currencyValue==null">{{'general.loading_data' | translate}} ...</option>
						<option *ngIf="currencyValue==''">{{'general.data_empty' | translate}}</option>
                        <option *ngFor="let item of currencyValue" value="{{item.Key}}">{{item.KeyValue}} ({{item.Key}})</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!addCurrencyConversion.get('Currency').valid && addCurrencyConversion.get('Currency').touched">* Please Enter Currency</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.currency.value_1_usd' | translate}}</label>
                    <input type="number" name="ValuePerUSD" id="ValuePerUSD" class="form-control" formControlName="ValuePerUSD" placeholder="{{'epdb.admin.currency.value_1_usd' | translate}}">
                    <span class="messages text-danger" *ngIf="!addCurrencyConversion.get('ValuePerUSD').valid && addCurrencyConversion.get('ValuePerUSD').touched">* Please Enter Value Per USD</span>
                </div>
                <div class="col-md-12 col-xl-12">&nbsp;</div>
                <div class="col-md-8 col-xl-8">&nbsp;</div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i>{{ 'general.btn_save' | translate }}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="resetConversion()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }} </button>
                </div>
                <!-- <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" [routerLink]="['/admin/currency']" class="btn btn-danger btn-md btn-block text-center">
                        <i class="icofont icofont-ui-close"></i>{{ 'general.btn_cancel' | translate }}</button>
                </div> -->
            </div>
        </form>

        <div class="dt-responsive dt-bootstrap4  row p-20">
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <!-- <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="conversion | dataFilter : filterQuery"
                    #mf2="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder"> -->
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="conversion | dataFilter : filterQuery1"
                    #mf2="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder"> <!-- fixed issue 20092018 - Currency Search issue Search is not functional when enter is clicked after text -->
                    <thead>
                        <tr>
                            <th width="20%" class="text-center">
                                <mfDefaultSorter by="KeyValue">{{'epdb.admin.currency.year' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="35%" class="text-center">
                                <mfDefaultSorter by="Currency">{{'epdb.admin.currency.currency' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="30%" class="text-center">
                                <mfDefaultSorter by="ValuePerUSD">{{'epdb.admin.currency.value_1_usd' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="15%" class="text-center" *ngIf="accesUpdateBtnConversion || accesDeleteBtnConversion">{{'general.action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="conversion!=null">
                        <tr *ngFor="let item of mf2.data">
                            <td>{{item.KeyValue}}</td>
                            <td>{{item.Currency}}</td>
                            <td>{{item.ValuePerUSD}}</td>
                            <td class="action-icon" *ngIf="accesUpdateBtnConversion || accesDeleteBtnConversion">
                                <a *ngIf="accesUpdateBtnConversion" (click)="getConversion(item.CurrencyConversionId)" class="m-r-15 text-muted f-18 ml-4"
                                    ngbTooltip="{{'general.tool_tip_edit' | translate}}" style="cursor: pointer;">
                                    <i class="icofont icofont-ui-edit"></i>
                                </a>
                                <a *ngIf="accesDeleteBtnConversion" (click)="openConfirmsSwal(item.CurrencyConversionId)" class="m-r-15 text-muted f-18 ml-4"
                                    ngbTooltip="{{'general.tool_tip_delete' | translate}}" style="cursor: pointer;">
                                    <i class="icofont icofont-delete-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="conversion!=null">
                            <td colspan="6">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="conversion==null">
                            <td colspan="6" class="text-center">{{'general.cant_find_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="conversion==''">
                            <td colspan="6" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>