<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.report.report_builder.report_builder' | translate }}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-lg-12 col-xl-12">
                <ngb-tabset>
                    <ngb-tab>
                        <ng-template ngbTabTitle><b class="text-dark">{{ 'epdb.report.report_builder.choose_criteria' | translate }}</b></ng-template>
                        <ng-template ngbTabContent>
                            <div class="card card-border-primary">
                                <div class="card-block row">
                                    <div class="col-lg-12 col-xl-12 form-group">
                                        <h5><strong>{{ 'epdb.report.report_builder.cchead_1' | translate }}</strong></h5>
                                    </div>
                                    <div class="col-lg-4 col-xl-4 form-group">
                                        <label><strong>{{ 'epdb.report.report_builder.cclbl_1' | translate }}</strong></label>
                                        <angular2-multiselect [data]="dropdownListGeo" [(ngModel)]="selectedItemsGeo" 
                                            [settings]="dropdownSettingsGeo" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                    <div class="col-lg-4 col-xl-4 form-group">
                                        <label><strong>{{ 'epdb.report.report_builder.cclbl_2' | translate }}</strong></label>
                                        <angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" 
                                            [settings]="dropdownSettingsRegion" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                    <div class="col-lg-4 col-xl-4 form-group">
                                        <label><strong>{{ 'epdb.report.report_builder.cclbl_3' | translate }}</strong></label>
                                        <angular2-multiselect [data]="dropdownListSubRegion" [(ngModel)]="selectedItemsSubRegion" 
                                            [settings]="dropdownSettingsSubRegion" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                    <div class="col-lg-4 col-xl-4 form-group">
                                        <label><strong>{{ 'epdb.report.report_builder.cclbl_4' | translate }}</strong></label>
                                        <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" 
                                            [settings]="dropdownSettingsCountry" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                    <div class="col-lg-4 col-xl-4 form-group">
                                        <label><strong>{{ 'epdb.report.report_builder.cclbl_5' | translate }}</strong></label>
                                        <angular2-multiselect [data]="dropdownListSubCountry" [(ngModel)]="selectedItemsSubCountry" 
                                            [settings]="dropdownSettingsSubCountry" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-border-primary">
                                <div class="card-block row">
                                    <div class="col-lg-12 col-xl-12 form-group">
                                        <h5><strong>{{ 'epdb.report.report_builder.cchead_2' | translate }}</strong></h5>
                                    </div>
                                    <div class="col-lg-4 col-xl-4 form-group">
                                        <label><strong>{{ 'epdb.report.report_builder.cclbl_6' | translate }}</strong></label>
                                        <angular2-multiselect [data]="dropdownListGeo" [(ngModel)]="selectedItemsGeo" 
                                            [settings]="dropdownSettingsGeo" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                    <div class="col-lg-4 col-xl-4 form-group">
                                        <label><strong>{{ 'epdb.report.report_builder.cclbl_7' | translate }}</strong></label>
                                        <angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" 
                                            [settings]="dropdownSettingsRegion" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                    <div class="col-lg-4 col-xl-4 form-group">
                                        <label><strong>{{ 'epdb.report.report_builder.cclbl_8' | translate }}</strong></label>
                                        <angular2-multiselect [data]="dropdownListSubRegion" [(ngModel)]="selectedItemsSubRegion" 
                                            [settings]="dropdownSettingsSubRegion" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                    <div class="col-lg-4 col-xl-4 form-group">
                                        <label><strong>{{ 'epdb.report.report_builder.cclbl_9' | translate }}</strong></label>
                                        <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" 
                                            [settings]="dropdownSettingsCountry" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                    <div class="col-lg-4 col-xl-4 form-group">
                                        <label><strong>{{ 'epdb.report.report_builder.cclbl_10' | translate }}</strong></label>
                                        <angular2-multiselect [data]="dropdownListSubCountry" [(ngModel)]="selectedItemsSubCountry" 
                                            [settings]="dropdownSettingsSubCountry" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                    <div class="col-lg-4 col-xl-4 form-group">

                                    </div>
                                    <div class="col-lg-4 col-xl-4 form-group">
                                        <label><strong>{{ 'epdb.report.report_builder.cclbl_11' | translate }}</strong></label>
                                        <angular2-multiselect [data]="dropdownListPartner" [(ngModel)]="selectedItemsPartner" 
                                            [settings]="dropdownSettingsPartner" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                    <div class="col-lg-4 col-xl-4 form-group">
                                        <label><strong>{{ 'epdb.report.report_builder.cclbl_12' | translate }}</strong></label>
                                        <angular2-multiselect [data]="dropdownListPartnerTypeStatus" [(ngModel)]="selectedItemsPartnerTypeStatus" 
                                            [settings]="dropdownSettingsPartnerTypeStatus" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-border-primary">
                                <div class="card-block row">
                                    <div class="col-lg-12 col-xl-12 form-group">
                                        <h5><strong>{{ 'epdb.report.report_builder.cchead_3' | translate }}</strong></h5>
                                    </div>
                                    <div class="col-lg-4 col-xl-4 form-group">
                                        <label><strong>{{ 'epdb.report.report_builder.cclbl_13' | translate }}</strong></label>
                                        <angular2-multiselect [data]="dropdownListJobRole" [(ngModel)]="selectedItemsJobRole" 
                                            [settings]="dropdownSettingsJobRole" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                    <div class="col-lg-4 col-xl-4 form-group">
                                        <label><strong>{{ 'epdb.report.report_builder.cclbl_14' | translate }}</strong></label>
                                        <angular2-multiselect [data]="dropdownListIndustry" [(ngModel)]="selectedItemsIndustry" 
                                            [settings]="dropdownSettingsIndustry" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-12 row" >  
                                <div class="col-md-6 col-xl-6 page-header-title">
                                </div> 
                                <div class="col-md-3 col-xl-3 page-header-title">
                                    <button type="button" [routerLink]="['/epdb/report-general-info/beta-report-builder']" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-play-alt-1"></i>{{ 'general.btn_run_query' | translate }}</button>
                                </div>
                                <div class="col-md-3 col-xl-3 page-header-title">
                                    <button type="button" [routerLink]="['/epdb/report-general-info/beta-report-builder']" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-stop"></i>{{ 'general.btn_stop_query' | translate }}</button>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle><b class="text-dark">{{ 'epdb.report.report_builder.choose_filed' | translate }}</b></ng-template>
                        <ng-template ngbTabContent>
                            <div class="card card-border-primary">
                                <div class="card-block row">
                                    <div class="col-lg-6 col-xl-6 form-group">
                                        <label><strong>{{ 'epdb.report.report_builder.cflbl_1' | translate }}</strong></label>
                                        <angular2-multiselect [data]="dropdownListFieldOrganization" [(ngModel)]="selectedItemsFieldOrganization" 
                                            [settings]="dropdownSettingsFieldOrganization" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                    <div class="col-lg-6 col-xl-6 form-group">
                                        <label><strong>{{ 'epdb.report.report_builder.cflbl_2' | translate }}</strong></label>
                                        <angular2-multiselect [data]="dropdownListLocationOrganization" [(ngModel)]="selectedItemsLocationOrganization" 
                                            [settings]="dropdownSettingsLocationOrganization" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-border-primary">
                                <div class="card-block row">
                                    <div class="col-lg-6 col-xl-6 form-group">
                                        <label><strong>{{ 'epdb.report.report_builder.cflbl_3' | translate }}</strong></label>
                                        <angular2-multiselect [data]="dropdownListFieldSite" [(ngModel)]="selectedItemsFieldSite" 
                                            [settings]="dropdownSettingsFieldSite" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                    <div class="col-lg-6 col-xl-6 form-group">
                                        <label><strong>{{ 'epdb.report.report_builder.cflbl_4' | translate }}</strong></label>
                                        <angular2-multiselect [data]="dropdownListLocationSite" [(ngModel)]="selectedItemsLocationSite" 
                                            [settings]="dropdownSettingsLocationSite" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                    <div class="col-lg-6 col-xl-6 form-group">
                                        <label><strong>{{ 'epdb.report.report_builder.cflbl_5' | translate }}</strong></label>
                                        <angular2-multiselect [data]="dropdownListPartnerType" [(ngModel)]="selectedItemsPartnerType" 
                                            [settings]="dropdownSettingsPartnerType" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                    <div class="col-lg-6 col-xl-6 form-group">
                                        <label><strong>{{ 'epdb.report.report_builder.cflbl_6' | translate }}</strong></label>
                                        <angular2-multiselect [data]="dropdownListPartnerTypeAttribute" [(ngModel)]="selectedItemsPartnerTypeAttribute" 
                                            [settings]="dropdownSettingsPartnerTypeAttribute" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                </div>
                            </div>
                            <div class="card card-border-primary">
                                <div class="card-block row">
                                    <div class="col-lg-6 col-xl-6 form-group">
                                        <label><strong>{{ 'epdb.report.report_builder.cflbl_7' | translate }}</strong></label>
                                        <angular2-multiselect [data]="dropdownListFieldContact" [(ngModel)]="selectedItemsFieldContact" 
                                            [settings]="dropdownSettingsFieldContact" 
                                            (onSelect)="onItemSelect($event)" 
                                            (onDeSelect)="OnItemDeSelect($event)"
                                            (onSelectAll)="onSelectAll($event)"
                                            (onDeSelectAll)="onDeSelectAll($event)">
                                        </angular2-multiselect>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-12 row" >  
                                <div class="col-md-6 col-xl-6 page-header-title">
                                </div> 
                                <div class="col-md-3 col-xl-3 page-header-title">
                                    <button type="button" [routerLink]="['/epdb/report-general-info/beta-report-builder']" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-play-alt-1"></i>{{ 'general.btn_run_query' | translate }}</button>
                                </div>
                                <div class="col-md-3 col-xl-3 page-header-title">
                                    <button type="button" [routerLink]="['/epdb/report-general-info/beta-report-builder']" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-stop"></i>{{ 'general.btn_stop_query' | translate }}</button>
                                </div>
                            </div>
                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>