<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.manage.site.site_accreditation.edit_site_accreditation' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="editJournal" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.site.site_accreditation.activity' | translate}}</label>
                    <select class="form-control" formControlName="ActivityId">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of journal" value="{{item.ActivityId}}">{{item.ActivityName}}</option>
                    </select>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'general.date' | translate}}</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="modelPopup1" ngbDatepicker #d1="ngbDatepicker" id="StartDate"
                            formControlName="ActivityDate" readonly="true" (ngModelChange)="onSelectDate($event)">
                        <div class="input-group-addon bg-default" (click)="d1.toggle()">
                            <span class="icofont icofont-ui-calendar"></span>
                        </div>
                    </div>
                    <span class="messages text-danger" *ngIf="!editJournal.get('ActivityDate').valid && editJournal.get('ActivityDate').touched">* Please Enter Activity Date</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'general.note_value' | translate}}</label>
                    <textarea class="form-control" rows="3" formControlName="Notes"></textarea>
                    <span class="messages text-danger" *ngIf="!editJournal.get('Notes').valid && editJournal.get('Notes').touched">* Please Enter Notes</span>
                </div>
                <div class="col-md-6 col-xl-6 form-group"></div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i>{{ 'general.btn_save_change' | translate }}
                    </button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}
                    </button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="go_Back_Bro()" class="btn btn-danger btn-md btn-block text-center">
                        <i class="icofont icofont-ui-close"></i>{{ 'general.btn_cancel' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>