<div class="card card-border-primary">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'eva.manage_certificate.list_background' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="row p-20">

            <div class="offset-md-6 col-md-6 offset-lg-6 col-lg-6  form-group text-right ">
                <label class="col-form-label"></label>
                <button *ngIf="accesAddCertificateBackgroundBtn" type="button" [routerLink]="['/certificate/certificate-add-background']"
                    class="btn btn-primary btn-md text-center ">
                    <i class="icofont icofont-ui-add"></i> {{'eva.manage_certificate.btn_add_background' | translate}}</button>
            </div>
            <!-- <div class="mt-5 col-md-12 col-xl-12 form-group">
                <h4>
                    <strong>{{title}}</strong>
                </h4>
            </div> -->
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" *ngIf="title!=''">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" *ngIf="title!=''">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data | dataFilterCertificat : filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" *ngIf="title!=''">
                    <thead>
                        <tr>
                            <th width="30%" class="text-center">
                                <mfDefaultSorter by="CertificateBackgroundId">{{'eva.manage_certificate.background_id' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="60%" class="text-center">
                                <mfDefaultSorter by="Name">{{'eva.manage_certificate.background_name' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%" class="text-center" *ngIf="accesViewCertificateBackgroundBtn || accesDeleteCertificateBackgroundBtn">
                                {{'general.action' | translate}}
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="data!=null">
                        <tr *ngFor="let item of mf.data">
                            <td>{{item.CertificateBackgroundId}}</td>
                            <td>{{item.Name}}</td>
                            <td class="action-icon" *ngIf="accesViewCertificateBackgroundBtn || accesDeleteCertificateBackgroundBtn">
                                <a *ngIf="accesViewCertificateBackgroundBtn" style="cursor:pointer" (click)="viewdetail(item.CertificateBackgroundId);viewdetailmodal.show();"
                                    class="m-r-15 text-muted f-18" ngbTooltip="{{'general.tool_tip_view' | translate}}">
                                    <i class="icofont icofont-eye-alt"></i>
                                </a>
                                <a *ngIf="accesDeleteCertificateBackgroundBtn" style="cursor:pointer" (click)="openConfirmsSwal(item.CertificateBackgroundId)"
                                    class="text-muted f-18" ngbTooltip="{{'general.tool_tip_delete' | translate}}">
                                    <i class="icofont icofont-delete-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="data!=null">
                            <td colspan="5">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="5" class="text-center">{{'general.cant_find_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="5" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>

    </div>
</div>

<!-- modal view detail -->
<app-modal-basic #viewdetailmodal [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">{{'eva.manage_certificate.certificate_background' | translate}}</h4>
        <button type="button" class="close basic-close" (click)="viewdetailmodal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <div class="col-md-12 col-xl-12 form-group row" *ngIf="datadetail==''">
            <div class="col-md-12 col-xl-12 text-center">
                <label class="col-form-label">{{'general.data-empty' | translate}}</label>
            </div>
        </div>
        <div class="col-md-12 col-xl-12 form-group row" *ngIf="datadetail==null">
            <div class="col-md-12 col-xl-12 text-center">
                <label class="col-form-label">{{'general.loading-data' | translate}}</label>
            </div>
        </div>
        <div class="col-md-12 col-xl-12 form-group row" *ngIf="datadetail!=null">
            <div class="col-md-12 col-xl-12 text-center">
                <label class="col-form-label">{{datadetail.name}} </label>

                <!-- <img src="assets/certificate/{{datadetail.Name}}" alt="Certificate Background" class="col-md-12 col-xl-12" /> -->
                <img [src]="datadetail.data" alt="Certificate Background" class="col-md-12 col-xl-12" />

            </div>
        </div>
    </div>
</app-modal-basic>
<!-- end modal view detail -->