<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>Site Detail Performance</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="queryForm" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-12 col-xl-12 form-group row">
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.report_eva.organization_report.filter_data' | translate}}</label>
                        <br>
                        <label class="col-form-label">{{'epdb.admin.partner_type.partner_type' | translate}}</label>
                        <angular2-multiselect [data]="dropdownPartner" [(ngModel)]="selectedPartner" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                            (onSelect)="onPartnerSelect($event)" (onDeSelect)="OnPartnerDeSelect($event)" (onSelectAll)="onPartnerSelectAll($event)"
                            (onDeSelectAll)="onPartnerDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">&nbsp;</label>
                        <br>
                        <label class="col-form-label">{{'epdb.admin.partner_type.certificate_type' | translate}}</label>
                        <angular2-multiselect [data]="dropdownCertificate" [(ngModel)]="selectedCertificate" [ngModelOptions]="{standalone: true}"
                            [settings]="dropdownSettings" (onSelect)="onCertificateSelect($event)" (onDeSelect)="OnCertificateDeSelect($event)"
                            (onSelectAll)="onCertificateSelectAll($event)" (onDeSelectAll)="onCertificateDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">&nbsp;</label>
                        <br>
                        <label class="col-form-label">{{'epdb.report_eva.organization_report.survey_year' | translate}}</label>
                        <select name="oStatus" class="form-control" formControlName="filterByYear">
                            <option value="">-- {{ 'general.select' | translate }} --</option>
                            <option *ngFor="let item of year" value="{{item.Key}}">{{item.KeyValue}}</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">&nbsp;</label>
                        <br>
                        <label class="col-form-label">{{'epdb.report_eva.organization_report.month' | translate}}:</label>
                        <select name="date" class="form-control" formControlName="filterByDate">
                            <!-- <option value="">-- {{ 'general.select' | translate }} --</option> -->
                            <option *ngFor="let c of date" value="{{c.id}}">{{c.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-10 col-xl-10 form-group">&nbsp;</div>
                    <div class="col-md-2 col-xl-2 form-group">
                        <button type="submit " class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                            <i class="icofont icofont-play-alt-1 "></i>{{ 'general.btn_submit' | translate }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <!-- <div class="col-md-12 col-xl-12" *ngIf="data!=null && data!=''"> -->
            <div class="col-md-12 col-xl-12">
                <div class="col-md-12 col-xl-12 row">
                    <label>{{'epdb.report_eva.organization_report.exclude' | translate}}:</label>
                    <div class="checkbox-fade fade-in-primary col-md-6 col-xl-6">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-12 col-xl-12">
                        <h3>{{SiteName}}</h3>
                    </label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">{{'epdb.manage.site.detail.site_id' | translate}}(s):</label>
                    <label class="col-form-label col-md-5 col-xl-5">{{SiteId}}</label>
                </div>
                <!-- <div class="row">
                    <label class="col-form-label col-md-6 col-xl-6">SAP ID:</label>
                    <label class="col-form-label col-md-6 col-xl-6"></label>
                </div> -->
                <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">{{'epdb.report_eva.organization_report.total_evaliation' | translate}}:</label>
                    <label class="col-form-label col-md-5 col-xl-5">{{TotalEva}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">{{'epdb.admin.country.countries.country' | translate}}:</label>
                    <label class="col-form-label col-md-5 col-xl-5">{{Country}}</label>
                </div>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4">
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="performance | dataFilter: filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="70%">{{'epdb.report_eva.organization_report.performance_overview' | translate}}</th>
                            <th width="30%">WDT %</th>
                        </tr>
                    </thead>
                    <!-- <tbody *ngIf="data!=null && data!=''"> -->
                    <tbody>
                        <tr>
                            <td>Course Content & Materials</td>
                            <td *ngIf="CCM != 0">{{CCM}}%</td>
                            <td *ngIf="CCM == 0">0%</td>
                        </tr>
                        <tr>
                            <td>Facilities & Registration</td>
                            <td *ngIf="FR != 0">{{FR}}%</td>
                            <td *ngIf="FR == 0">0%</td>
                        </tr>
                        <tr>
                            <td>Instructional Quality</td>
                            <td *ngIf="IQ != 0">{{IQ}}%</td>
                            <td *ngIf="IQ == 0">0%</td>
                        </tr>
                        <tr>
                            <td>Overall Performance</td>
                            <td *ngIf="OP != 0">{{OP}}%</td>
                            <td *ngIf="OP == 0">0%</td>
                        </tr>
                        <tr>
                            <td>Overall Experience</td>
                            <td *ngIf="OE != 0">{{OE}}%</td>
                            <td *ngIf="OE == 0">0%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4">
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter: filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="35%">{{'eva.manage_course.list_course.instructor_id' | translate}}</th>
                            <th width="30%"># {{'epdb.report_eva.organization_report.of_eval' | translate}}</th>
                            <th width="35%">WDT %</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data">
                            <td>
                                <a href="javascript:;" (click)="goToInstCourseList(item.InstructorId);">{{item.InstructorId}}</a>
                            </td>
                            <td>{{item.Evals}}</td>
                            <td>{{item.WDT}}%</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="data!=null">
                            <td colspan="3">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="3" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="3" class="text-center">There are no data meeting the search criteria specified above</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>