<div class="row">
  <div class="col-md-12 col-xl-12 page-header-title">
    <h4>Admin - Survey Report - Products Performance</h4>
    <br/>
    <br/>
  </div>
  <div class="col-md-12 col-xl-12">
    <div class="card card-border-primary"> 
      <div class="card-block row">  
        <div class="col-lg-12 col-xl-12 row">
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">This report describes how each site is performing by product trained. The PTP% (product-trained performance) value is the average OP% for each site by product.</label>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">Filter Data Based on</label><br/><br/>
            <div class="col-md-12 col-xl-12 row">
              <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label"><strong>Geo:</strong></label>
                <angular2-multiselect [data]="dropdownListGeo" [(ngModel)]="selectedItemsGeo" 
                  [settings]="dropdownSettingsGeo" 
                  (onSelect)="onItemSelect($event)" 
                  (onDeSelect)="OnItemDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onDeSelectAll)="onDeSelectAll($event)">
              </angular2-multiselect>
              </div>
              <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label"><strong>Region:</strong></label>
                <angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion"
                  [settings]="dropdownSettingsRegion" 
                  (onSelect)="onItemSelect($event)" 
                  (onDeSelect)="OnItemDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onDeSelectAll)="onDeSelectAll($event)">
                </angular2-multiselect>
              </div>
              <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label"><strong>Sub Region:</strong></label>
                <angular2-multiselect [data]="dropdownListSubRegion" [(ngModel)]="selectedItemsSubRegion"
                  [settings]="dropdownSettingsSubRegion" 
                  (onSelect)="onItemSelect($event)" 
                  (onDeSelect)="OnItemDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onDeSelectAll)="onDeSelectAll($event)">
                </angular2-multiselect>
              </div>
              <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label"><strong>Territory:</strong></label>
                <angular2-multiselect [data]="dropdownListTerritories" [(ngModel)]="selectedItemsTerritories"
                  [settings]="dropdownSettingsTerritories" 
                  (onSelect)="onItemSelect($event)" 
                  (onDeSelect)="OnItemDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onDeSelectAll)="onDeSelectAll($event)">
                </angular2-multiselect>
              </div>
              <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label"><strong>Market Type:</strong></label>
                <angular2-multiselect [data]="dropdownListMarketType" [(ngModel)]="selectedItemsMarketType" 
                    [settings]="dropdownSettingsMarketType" 
                    (onSelect)="onItemSelect($event)" 
                    (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    (onDeSelectAll)="onDeSelectAll($event)">
                </angular2-multiselect>
              </div>
              <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label"><strong>Country:</strong></label>
                <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" 
                    [settings]="dropdownSettingsCountry" 
                    (onSelect)="onItemSelect($event)" 
                    (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    (onDeSelectAll)="onDeSelectAll($event)">
                </angular2-multiselect>
              </div>
              <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label"><strong>Sub Country:</strong></label>
                <angular2-multiselect [data]="dropdownListSubCountry" [(ngModel)]="selectedItemsSubCountry" 
                    [settings]="dropdownSettingsSubCountry" 
                    (onSelect)="onItemSelect($event)" 
                    (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    (onDeSelectAll)="onDeSelectAll($event)">
                </angular2-multiselect>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <div class="col-md-12 col-xl-12 row">
              <div class="col-md-6 col-xl-6 form-group">
                <label class="col-form-label"><strong>Survey Year:</strong></label>
                <select name="oStatus" class="form-control">
                  <option>FY18 (2017)</option>
                  <option>FY18 (2016)</option>
                  <option>FY18 (2015)</option>
                </select>
              </div>
              <div class="col-md-6 col-xl-6 form-group">
                <label class="col-form-label"><strong>Site Active:</strong></label>
                <select name="oStatus" class="form-control">
                  <option>-All Site-</option>
                  <option>Active Only</option>
                  <option>Inactive Only</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <div class="col-md-12 col-xl-12 row">
              <div class="col-md-6 col-xl-6 form-group">
                <label class="col-form-label"><strong>Partner Type:</strong></label>
                <angular2-multiselect [data]="dropdownListPartner" [(ngModel)]="selectedItemsPartner" 
                    [settings]="dropdownSettingsPartner" 
                    (onSelect)="onItemSelect($event)" 
                    (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    (onDeSelectAll)="onDeSelectAll($event)">
                </angular2-multiselect>
              </div>
              <div class="col-md-6 col-xl-6 form-group">
                <label class="col-form-label"><strong>Certificate Type:</strong></label>
                <angular2-multiselect [data]="dropdownListCertificate" [(ngModel)]="selectedItemsCertificate" 
                    [settings]="dropdownSettingsCertificate" 
                    (onSelect)="onItemSelect($event)" 
                    (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    (onDeSelectAll)="onDeSelectAll($event)">
                </angular2-multiselect>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <div class="col-md-12 col-xl-12 row">
              <div class="col-md-4 col-xl-4 form-group">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                      <span class="text-inverse">Exclude Onsite course facilities scores from FR scores</span>
                    </label>
                  </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <div class="col-md-12 col-xl-12 row">
              <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label"><strong>Result per Page:</strong></label>
                <select name="oStatus" class="form-control">
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                  <option value="250">250</option>
                  <option value="500" selected="selected">500</option>
                  <option value="1000">1000</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-10 col-xl-10 form-group">
          </div>
          <div class="col-md-2 col-xl-2 form-group"> 
            <button type="button" [routerLink]="['/eva/products-peformance']" class="btn btn-primary btn-md btn-block text-center "><i class="icofont icofont-checked"></i> Submit</button>
          </div>
        </div>
      </div> 
    </div>
  </div>
  <div class="col-md-12 col-xl-12">
    <div class="card card-border-primary">
      <div class="card-block row dt-responsive class m-20">
        <div class="col-lg-12 col-xl-12 row mb-4">
          <div class="col-md-6 col-xl-6 form-group">
            <label class="col-form-label"><strong>Total Evaluations :</strong> 99</label>
          </div>
          <div class="col-md-6 col-xl-6 form-group">
            <div class="text-right">
              <label class="col-form-label"><a [routerLink]="['/eva/products-peformance']">&nbsp; Download </a><i class="fa fa-file-excel-o fa-2x text-primary"></i></label>
            </div>
          </div>
        </div> 
        <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
            <div>
              <label class="label-control">Show
                <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="25">25</option>
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="100">100</option>
                </select>
                entries
              </label>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6">
            <div class="text-right">
                <label>Search:
                <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                </label>
            </div>
        </div>  
        <table class="row table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            <thead>
                <tr>
                    <th width="8%"><mfDefaultSorter by="id">Site ID</mfDefaultSorter></th>
                    <th width="8%"><mfDefaultSorter by="id">Survey Partner Type</mfDefaultSorter></th>
                    <th width="8%"><mfDefaultSorter by="id">Site Name</mfDefaultSorter></th>
                    <th width="8%"><mfDefaultSorter by="id">Territory</mfDefaultSorter></th>
                    <th width="8%"><mfDefaultSorter by="id">Market Type</mfDefaultSorter></th>
                    <th width="8%"><mfDefaultSorter by="id">Tier</mfDefaultSorter></th>
                    <th width="8%"><mfDefaultSorter by="id">Year</mfDefaultSorter></th>
                    <th width="8%"><mfDefaultSorter by="id">3DS Max 2018</mfDefaultSorter></th>
                    <th width="8%"><mfDefaultSorter by="id">3DS Max 2017</mfDefaultSorter></th> 
                    <th width="8%"><mfDefaultSorter by="id">3DS Max 2016</mfDefaultSorter></th>
                    <th width="8%"><mfDefaultSorter by="id">3DS Max 2015</mfDefaultSorter></th> 
                    <th width="8%"><mfDefaultSorter by="id">3DS Max 2014</mfDefaultSorter></th>
                    <th width="8%"><mfDefaultSorter by="id">3DS Max 2013</mfDefaultSorter></th> 
                    <th width="8%"><mfDefaultSorter by="id">3DS Max 2012</mfDefaultSorter></th>
                    <th width="8%"><mfDefaultSorter by="id">3DS Max 2011</mfDefaultSorter></th> 
                </tr> 
            </thead>
            <tbody>
                <tr *ngFor="let item of mf.data">
                    <td>{{item.id}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.id}}</td>
                    <td>{{item.id}}</td>
                </tr>
            </tbody>
            <tfoot> 
                <tr>
                    <td colspan="15"><mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator></td>
                </tr>
            </tfoot>
        </table> 
      </div>
    </div>
  </div>
</div>