<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'eva.manage_evaluation.list_survey_template' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-12 col-xl-12 form-group text-right">
                <label class="col-form-label"></label>
                <button *ngIf="accesAddTemplateBtn" type="button" [routerLink]="['/evaluation/add-edit-templatedata']" class="btn btn-primary btn-md text-center ">
                    <i class="icofont icofont-ui-add"></i> {{'eva.manage_evaluation.btn_add_template' | translate}}</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="evaluationData | dataFilterSurveyTemplate : filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="25%">
                                <mfDefaultSorter by="eva_code">
                                    {{'eva.manage_evaluation.evaluation_template_code' | translate}}
                                </mfDefaultSorter>
                            </th>
                            <th width="25%">
                                <mfDefaultSorter by="certificate_type">
                                    {{'epdb.admin.partner_type.certificate_type' | translate}}
                                </mfDefaultSorter>
                            </th>
                            <th width="25%">
                                <mfDefaultSorter by="language">{{'epdb.admin.language.language' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="eva_title">
                                    {{'eva.manage_evaluation.evaluation_template_title' | translate}}
                                </mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="year">
                                    {{'eva.manage_evaluation.year' | translate}}
                                </mfDefaultSorter>
                            </th>
                            <th width="10%" *ngIf="accesAddEditFormTemplateBtn">{{'eva.manage_evaluation.template_builder' | translate}}</th>
                            <th width="10%" class="text-center" *ngIf="accesUpdateTemplateBtn || accesDeleteTemplateBtn">{{'general.action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="evaluationData!=null && evaluationData!=''">
                        <tr *ngFor="let item of mf.data">
                            <td>{{item.eva_code}}</td>
                            <td>{{item.certificate_type}}</td>
                            <td>{{item.language}}</td>
                            <td>{{item.eva_title}}</td>
                            <td>{{item.year}}</td>
                            <td class="action-icon text-center" *ngIf="accesAddEditFormTemplateBtn">
                                <a *ngIf="accesAddEditFormTemplateBtn" [routerLink]="['/evaluation/add-edit-form/',item.eva_id,item.eva_code]" class="m-r-15 text-muted f-18"
                                    ngbTooltip="Edit Survey Template">
                                    <i class="icofont icofont-list"></i>
                                </a>
                            </td>
                            <td class="action-icon" *ngIf="accesUpdateTemplateBtn || accesDeleteTemplateBtn">
                                <!-- <a [routerLink]="['/evaluation/survey-template-detail',item.eva_id]" class="m-r-15 text-muted f-18" ngbTooltip="{{'general.tool_tip_view' | translate}}"><i class="icofont icofont-eye-alt"></i></a> -->
                                <a *ngIf="accesUpdateTemplateBtn" [routerLink]="['/evaluation/update-templatedata',item.eva_id]" class="m-r-15 text-muted f-18"
                                    ngbTooltip="{{'general.tool_tip_edit' | translate}}">
                                    <i class="icofont icofont-ui-edit"></i>
                                </a>
                                <a *ngIf="accesDeleteTemplateBtn" (click)="openConfirmsSwal(item.eva_id,item.eva_code)" class="text-muted f-18" ngbTooltip="{{'general.tool_tip_delete' | translate}}">
                                    <i class="icofont icofont-delete-alt" style="cursor: pointer"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="evaluationData!=null">
                            <td colspan="7">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="evaluationData==null">
                            <td colspan="7" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="evaluationData==''">
                            <td colspan="7" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>