<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.manage.organization.add_invoice.add_invoice' | translate }}</h4>
        </div>
    </div>
    <div class="card-block">
        <form class="md-float-material" #editInvoiceForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-sm-12">Organization Id: {{addInvoice.OrgId}}</div>
                <div class="col-sm-12">Organization Name: {{orgName}}</div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">Reference no.</label>
                    <input class="form-control" name="InvoiceNumber" [(ngModel)]="addInvoice.InvoiceNumber">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">Payment received date</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" name="InvoiceDate" [(ngModel)]="addInvoice.InvoiceDate" [disabled]="addInvoice.Status!='Paid'">
                        <div *ngIf="addInvoice.Status=='Paid'" class="input-group-addon bg-default" (click)="d1.toggle()">
                            <span class="icofont icofont-ui-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">Financial Year</label>
                    <select class="form-control" name="FinancialYear" [(ngModel)]="addInvoice.FinancialYear">
                        <option value="" style="display:none">Select Financial Year</option>
                        <option *ngFor="let fy of fys" [value]="fy.value">{{fy.name}}</option>
                    </select>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">Description</label>
                    <textarea class="form-control" name="InvoiceDescription" [(ngModel)]="addInvoice.InvoiceDescription"></textarea>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">Territory</label>
                    <select class="form-control" name="Territory" [(ngModel)]="filter.ter">
                        <option value="" style="display:none">Select Territory</option>
                        <option *ngFor="let territory of territories" [value]="territory.territoryId">{{territory.territoryName}}</option>
                    </select>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">Country</label>
                    <select class="form-control" name="Country" [(ngModel)]="filter.coun" (change)="getSites();getSkus()">
                        <option value="" style="display:none">Select Country</option>
                        <option *ngFor="let country of countries" [value]="country.countriesCode">{{country.countriesName}}</option>
                    </select>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">Payment Status</label>
                    <select class="form-control" name="Status" [(ngModel)]="addInvoice.Status" [disabled]="checkDiscount || checkProRata" (ngModelChange)="statusChange()">
                        <option value="Pending">Pending</option>
                        <option value="Cancelled ">Cancelled </option>
                        <option value="Paid">Paid</option>
                    </select>
                </div>
                <div class="col-md-4 col-xl-4 form-group pt-2">
                    <fieldset style="border:solid 1px rgba(0,0,0,.15); width:auto;padding: 10px;">
                        <legend style="width:auto;font-size: 14px;margin-bottom: 0px;">Discount</legend>
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-4 pl-0">
                                    <div class="checkbox-fade fade-in-primary m-0 pt-2" style="white-space: nowrap;">
                                        <label>
                                            <input type="checkbox" [checked]="checkDiscount" (change)="checker($event.target.checked,'Discount');addInvoice.Status='Pending'" [disabled]="addInvoice.Status=='Paid'">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                            Discount
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <input class="form-control" name="Discounts.Discount.Amount" [(ngModel)]="addInvoice.Discounts.Discount.Amount" [disabled]="!checkDiscount || addInvoice.Status=='Paid'" >
                                </div>
                                <div class="col-sm-3 pr-0">
                                    <select class="form-control" name="Discounts.Discount.AmountType" [(ngModel)]="addInvoice.Discounts.Discount.AmountType" [disabled]="!checkDiscount">
                                        <option value="Exactly">$</option>
                                        <option value="Percentage">%</option>
                                    </select>
                                </div>
                                <div class="col-sm-4 pl-0">
                                    <div class="checkbox-fade fade-in-primary m-0 pt-2" style="white-space: nowrap;">
                                        <label>
                                            <input type="checkbox" [checked]="checkProRata" (change)="checker($event.target.checked,'ProRata');addInvoice.Status='Pending'">
                                            <!--<input type="checkbox" [checked]="checkProRata" (change)="checkProRata=!checkProRata;addInvoice.Discounts.ProRata.Amount='';addInvoice.Status='Pending'" [disabled]="!validProrataTime(addInvoice.InvoiceDate)">-->
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                            Pro-Rata
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <input class="form-control" name="Discounts.ProRata.Amount" [(ngModel)]="addInvoice.Discounts.ProRata.Amount" disabled>
                                    <!--<input class="form-control" name="Discounts.ProRata.Amount" [(ngModel)]="addInvoice.Discounts.ProRata.Amount" [disabled]="!checkProRata || !validProrataTime(addInvoice.InvoiceDate)">-->
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="col-md-4 col-xl-4 form-group pt-2">
                    <fieldset style="border:solid 1px rgba(0,0,0,.15); width:auto;padding: 10px;">
                        <legend style="width:auto;font-size: 14px;margin-bottom: 0px;">Summary</legend>
                        <div class="container">
                            <div>
                                <ng-container *ngFor="let type of types">
                                    <div *ngIf="type.parterType!='MED' && type.parterType!='RED'">
                                        {{type.parterType}} - Total License {{getTotal(type.parterType) | number}}
                                    </div>
                                </ng-container>
                                <div>Total Discount {{getTotal('TOTAL_DISCOUNT') | number: '1.2-2'}} USD</div>
                                <div>Total Amount {{getTotal('TOTAL_PRICE') | number: '1.2-2'}} USD</div>
                                <div>Total Quantity {{getTotal('TOTAL_QTY') | number}}</div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <h5>{{ 'epdb.manage.site.detail.site' | translate }} (s)</h5>
            <div class="col-sm-12" style="overflow-x:auto;">
                <span *ngIf="!havePrimarySite" class="text-danger">This Org has no primary site, please update Primary site before you proceed</span>
                <table *ngIf="havePrimarySite" class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="sites"
                    #mf="mfDataTable">
                    <thead>
                        <th>Site ID</th>
                        <th>Site Name</th>
                        <th>Site Status</th>
                    </thead>
                    <tbody>
                        <ng-container *ngFor="let item of mf.data">
                            <tr>
                                <td style="cursor: pointer;" (click)="selectSite(item.siteId)" >{{item.siteId}}</td>
                                <td [innerHTML]="item.siteName"></td>
                                <td>{{item.status}}</td>
                            </tr>
                            <tr *ngIf="currentSites.indexOf(item.siteId) >-1">
                                <td colspan="5">
                                    <table class="table table-striped table-bordered table-responsive">
                                        <thead>
                                            <th>Select</th>
                                            <th>SKU Name</th>
                                            <th>SKU Description</th>
                                            <th>Partner Type</th>
                                            <th>QTY</th>
                                            <th>Seats</th>
                                            <th>Price</th>
                                        </thead>
                                        <tbody>
                                            <ng-container *ngIf="item.isPrimary">
                                                <ng-container *ngFor="let i of skus[item.siteId]">
                                                    <tr *ngIf="(i.isForPrimarySite == true  || i.isForPrimarySite == null || i.siteId) && item.partnerType.indexOf(i.distributor)>-1">
                                                        <td style="width:1%">
                                                            <div class="checkbox-fade fade-in-primary m-0">
                                                                <label>
                                                                    <input type="checkbox" [checked]="i.siteId==item.siteId" (change)="i.siteId?i.siteId='':i.siteId=item.siteId">
                                                                    <span class="cr">
                                                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>{{i.skuName}}</td>
                                                        <td>{{i.description}}</td>
                                                        <td>{{i.distributor}}</td>
                                                        <td style="width:10%;">
                                                            <input class="form-control" [value]="i.qty" (change)="updateSku($event,i.id,item.siteId)">
															<span class="text-danger" *ngIf="i.isForPrimarySite && i.qty && i.qty!=1">Main site sku qty must be 1</span>
                                                        </td>
                                                        <td>{{i.license}}</td>
                                                        <td>{{i.price}}</td>
                                                    </tr>
                                                </ng-container>
                                            </ng-container>
                                            <ng-container *ngIf="!item.isPrimary">
                                                <ng-container *ngFor="let i of skus[item.siteId]">
                                                    <tr *ngIf="( i.isForPrimarySite == false || i.isForPrimarySite == null || i.siteId) && item.partnerType.indexOf(i.distributor)>-1">
                                                        <td style="width:1%">
                                                            <div class="checkbox-fade fade-in-primary m-0">
                                                                <label>
                                                                    <input type="checkbox" [checked]="i.siteId==item.siteId" (change)="i.siteId?i.siteId='':i.siteId=item.siteId">
                                                                    <span class="cr">
                                                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </td>
                                                        <td>{{i.skuName}}</td>
                                                        <td>{{i.description}}</td>
                                                        <td>{{i.distributor}}</td>
                                                        <td style="width:10%;">
                                                            <input class="form-control" [value]="i.qty" (change)="updateSku($event,i.id,item.siteId)">															
                                                        </td>
                                                        <td>{{i.license}}</td>
                                                        <td>{{i.price}}</td>
                                                    </tr>
                                                </ng-container>
                                            </ng-container>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </ng-container>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-12 row justify-content-end">
                <div class="col-sm-2">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i> {{'general.btn_save' | translate}}
                    </button>
                </div>
                <div class="col-sm-2">
                    <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}
                    </button>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-danger btn-md btn-block text-center" (click)="goBack()">
                        <i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
