<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.manage.organization.add_org_journal_entries.edit_org_journal_entries' | translate }}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="updateorgjournalentries" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-3 col-xl-3 form-inline">
                    <label class="col-form-label">{{ 'epdb.manage.organization.detail.organization_name' | translate }}</label>
                </div>
                <div class="col-md-9 col-xl-9 form-group">
                    <label class="col-form-label">{{data.ParentId}}</label>
                </div>
                <div class="col-md-3 col-xl-3 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.organization.add_org_journal_entries.journal_id' | translate }}</label>
                </div>
                <div class="col-md-9 col-xl-9 form-group">
                    <label class="col-form-label">{{data.JournalId}}</label>
                </div>
                <!-- <div class="col-md-3 col-xl-3 form-group">
                            <label class="col-form-label">{{ 'general.date_added' | translate }}</label>
                        </div>
                        <div class="col-md-9 col-xl-9 form-group">
                            <label class="col-form-label">{{data.DateAdded}}</label>
                        </div> -->
                <div class="col-md-3 col-xl-3 form-group">
                    <label class="col-form-label">{{ 'general.added_by' | translate }}</label>
                </div>
                <div class="col-md-9 col-xl-9 form-group">
                    <label class="col-form-label">{{data.AddedBy}}</label>
                </div>
                <div class="col-md-3 col-xl-3 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.organization.add_org_journal_entries.subject' | translate }}</label>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <!-- <label class="col-form-label">{{data.ActivityId}}</label> -->
                    <select class="form-control" id="ActivityId" formControlName="ActivityId">
                        <option value="">-- {{ 'general.select' | translate }} --</option>
                        <option *ngFor="let item of orgentriestype" value={{item.ActivityId}}>{{item.ActivityName}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!updateorgjournalentries.get('ActivityId').valid && updateorgjournalentries.get('ActivityId').touched">* Please Enter Activity</span>
                </div>
                <div class="col-md-5 col-xl-5 form-group"></div>
                <div class="col-md-3 col-xl-3 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.organization.add_org_journal_entries.activity_date' | translate }}</label>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <!-- <label class="col-form-label">{{data.ActivityDate}}</label> -->
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="modelPopup1" ngbDatepicker #d1="ngbDatepicker" id="StartDate"
                            formControlName="ActivityDate" readonly="true" (ngModelChange)="onSelectDate($event)">
                        <div class="input-group-addon bg-default" (click)="d1.toggle()">
                            <span class="icofont icofont-ui-calendar"></span>
                        </div>
                    </div>
                    <span class="messages text-danger" *ngIf="!updateorgjournalentries.get('ActivityDate').valid && updateorgjournalentries.get('ActivityDate').touched">* Please Enter Activity Date</span>
                </div>
                <div class="col-md-5 col-xl-5 form-group"></div>
                <div class="col-md-3 col-xl-3 form-group">
                    <label class="col-form-label">{{ 'general.description' | translate }}</label>
                </div>
                <div class="col-md-6 col-xl-6 form-group">
                  <textarea class="form-control" id="Notes" formControlName="Notes" rows="5"></textarea>
                </div>
                <div class="col-md-7 col-xl-7 form-group text-right"></div>
                <div class="col-md-7 col-xl-7 form-group text-right"></div>
                <div class="col-md-3 col-xl-3 form-group text-right">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i>
                        {{'general.btn_save_change' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group text-right">
                    <button type="button" [routerLink]="['/manage/organization/detail-organization',orgid]" class="btn btn-danger btn-md btn-block text-center">
                        <i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
