<div class="card">
        <div class="card-header">
            <div class="page-header-title">
                <h4>Copy Detail Template Survey</h4>
            </div>
        </div>
        <div class="card-block">
            <div ></div>
            <!-- <label>  {{ValueForEdit.title}}</label> -->
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label" ngbTooltip="{{Title_Survey}}">Title</label>
                <input type="text" class="form-control" id="Title"  placeholder="{{Title_Survey}}">
            </div>
    
            <app-card [blockClass]="'accordion-block scale-accordion'">
                <squeezebox [multiple]="false">
                    <sb-item class="accordion-panel" *ngFor="let itemPage of ValueForEditPages"><sb-item-head class="accordion-heading accordion-msg">{{itemPage.name}}</sb-item-head>
                    <sb-item-body class="accordion-content">
                        <div class="accordion-desc" *ngFor="let itemElement of itemPage.elements;">
                           <div class="row">
                               <div class="col-lg-12 col-md-12">
                                    <table class="table table-striped table-bordered full-data-table">
                                        <tr>
                                            <td width="50%"><b>{{itemElement.title}}</b></td>
                                            <td><input class="form-control" placeholder="{{itemElement.title}}"/></td>
                                        </tr>
                                    </table>
                               </div>
                               
    
                               <div class="col-lg-8 col-md-8">
                                    <table class="table table-bordered full-data-table">
                                        <tr *ngFor="let itemColumn of itemElement.columns;">
                                                <td >{{itemColumn.text}}</td>
                                                <td><input class="form-control" placeholder="{{itemColumn.text}}"/></td>
                                        </tr>
                                    </table>
                                </div>
    
                                <div class="col-lg-8 col-md-8">
                                    <table class="table table-bordered full-data-table">
                                        <tr *ngFor="let itemRows of itemElement.rows;">
                                                <td >{{itemRows.text}} </td>
                                                <td><input class="form-control" placeholder="{{itemRows.text}}"/></td>
                                        </tr>
                                    </table>
                                </div>
    
                                <div class="col-lg-8 col-md-8">
                                    <table class="table table-bordered full-data-table">
                                            <tr *ngFor="let itemChoices of itemElement.choices;">
                                                <td >{{itemChoices.text}} </td>
                                                <td><input class="form-control" placeholder="{{itemChoices.text}}"/></td>
                                            </tr>
                                    </table>
                                </div>
    
                                <div class="col-lg-8 col-md-8">
                                    <table class="table table-bordered full-data-table">
                                            <tr *ngFor="let itemItems of itemElement.items;">
                                                <td >{{itemItems.title}} </td>
                                                <td><input class="form-control" placeholder="{{itemItems.title}}"/></td>
                                            </tr>
                                    </table>
                                </div>
                           </div>
                           <hr>
                          
    
                           
                        </div>
                    </sb-item-body>
                    </sb-item>
                </squeezebox>
            </app-card>
    
        
            
        </div>
    </div>
    
    <div class="card">
            <div class="card-header">
                <div class="page-header-title">
                    <h4>Copy Detail Template Survey</h4>
                </div>
            </div>
            <div class="card-block">
                <div id='surveyElement'></div>
            </div>
        </div>
    
    <div class="card">
        <div class="card-header">
            <div class="page-header-title">
                <h4>Data Copy Detail Template Survey</h4>
            </div>
        </div>
        <div class="card-block">
            <div class="col-md-12 col-xl-12 form-group row" *ngIf="datadetail==''">
                <div class="col-md-12 col-xl-12 text-center">
                    <label class="col-form-label">{{'general.data-empty' | translate}}</label>
                </div>
            </div>
            <div class="col-md-12 col-xl-12 form-group row" *ngIf="datadetail==null">
                <div class="col-md-12 col-xl-12 text-center">
                    <label class="col-form-label">{{'general.loading-data' | translate}}</label>
                </div>
            </div>
            <div class="col-md-12 col-xl-12 form-group row" *ngIf="datadetail!=null">
                <div class="col-md-4 col-xl-4 text-left">
                    <label class="col-form-label">{{'eva.manage-evaluation.list-template.view-detail.evaluation-code' | translate}}</label>
                </div>
                <div class="col-md-8 col-xl-8 text-left">
                    <label class="col-form-label">{{datadetail.EvaluationQuestionCode}}</label>
                </div>
                <div class="col-md-4 col-xl-4 text-left">
                    <label class="col-form-label">{{'eva.manage-evaluation.list-template.view-detail.evaluation-title' | translate}}</label>
                </div>
                <div class="col-md-8 col-xl-8 text-left">
                    <label class="col-form-label">{{datadetail.CourseId}}</label>
                </div>
                <div class="col-md-12 col-xl-12 text-left">&nbsp;</div>
                <div class="col-md-10 col-xl-10 text-left"></div>
                <div class="col-md-2 col-xl-2 text-center">
                    <button type="button" [routerLink]="['/evaluation/survey-template-list']" class="btn btn-default btn-md text-center "><i class="icofont icofont-square-left"></i> Back</button>
                </div>
            </div>
            <form [formGroup]="addtemplatedata" (ngSubmit)="onSubmit()">
                <div class="dt-responsive dt-bootstrap4 row p-20">
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.admin.partner_type.certificate_type' | translate}}</label>
                        <select name="CertificateType" class="form-control" formControlName="CertificateType">
                            <option value="">-- {{'general.select' | translate}} --</option>
                            <option *ngFor="let item of dropdownCertificate" value="{{item.Key}}">{{item.KeyValue}}</option>
                        </select>
                        <span class="messages text-danger" *ngIf="!addtemplatedata.get('CertificateType').valid && addtemplatedata.get('CertificateType').touched">* Please Select Certificate Type</span>
                    </div>
                    <div class="col-md-8 col-xl-8"></div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'eva.manage_evaluation.evaluation_template_code' | translate}}</label>
                        <input type="text" class="form-control" id="EvaluationQuestionCode" formControlName="EvaluationQuestionCode" placeholder="{{'eva.manage_evaluation.evaluation_template_code' | translate}}">
                        <span class="messages text-danger" *ngIf="!addtemplatedata.get('EvaluationQuestionCode').valid && addtemplatedata.get('EvaluationQuestionCode').touched">* Please Enter Evaluation Template Code</span>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'eva.manage_evaluation.evaluation_template_title' | translate}}</label>
                        <input type="text" class="form-control" id="CourseId" formControlName="CourseId" placeholder="{{'eva.manage_evaluation.evaluation_template_title' | translate}}">
                        <span class="messages text-danger" *ngIf="!addtemplatedata.get('CourseId').valid && addtemplatedata.get('CourseId').touched">* Please Enter Evaluation Template Title</span>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'eva.manage_evaluation.year' | translate}}</label>
                        <select class="form-control" formControlName="Year">
                                <option value="">-- {{'general.select' | translate}} --</option>
                                <option *ngFor="let item of year" value="{{item.Key}}">{{item.KeyValue}}</option>
                            </select>
                        <span class="messages text-danger" *ngIf="!addtemplatedata.get('Year').valid && addtemplatedata.get('Year').touched">* Please Select Year</span>
                    </div>
                    <div class="col-md-6 col-xl-6"></div>
                    <div class="col-md-2 col-xl-2 form-group">
                        <button type="submit" class="btn btn-success btn-md btn-block text-center"><i class="icofont icofont-save"></i> {{'general.btn_save' | translate}}</button>
                    </div>
                    <div class="col-md-2 col-xl-2 form-group">
                        <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center ">
                            <i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}</button>
                    </div>
                    <div class="col-md-2 col-xl-2 form-group">
                        <button type="button" [routerLink]="['/evaluation/survey-template-list']" class="btn btn-danger btn-md btn-block text-center "><i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    