<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-10 text-left page-header-title">
                <h4>Detail Sub Partner Type</h4>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 text-right">
                <a [routerLink]="['/admin/partner-type/list-sub-partner-type']" style="color:black" ngbTooltip="Back"><i  style="font-size:25px" class="icofont icofont-arrow-left"></i></a>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="col-md-12 col-xl-12 form-group row" *ngIf="datadetail!=null">
                <div class="col-md-4 col-xl-4 text-left">
                    <label class="col-form-label">{{'epdb.admin.sub_partner_type.sub_partner_type_id' | translate}}</label>
                </div>
                <div class="col-md-8 col-xl-8 text-left">
                    <label class="col-form-label">{{datadetail.RoleSubTypeId}}</label>
                </div>
                <div class="col-md-4 col-xl-4 text-left">
                    <label class="col-form-label">{{'epdb.admin.sub_partner_type.sub_partner_type' | translate}}</label>
                </div>
                <div class="col-md-8 col-xl-8 text-left">
                    <label class="col-form-label">{{datadetail.RoleSubType}}</label>
                </div>
            </div>
    </div>
</div>