<div class="row">
    <div class="col-md-12 col-xl-12 page-header-title">
        <h4>Organization Attributes Report</h4>
        <br/>
        <br/>
    </div>
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary">
            <div class="card-block row">
                <div class="col-lg-12 col-xl-12">
                    <div class="tab-content card-block">
                        <div class="col-lg-12 col-xl-12 form-group row">
                            <div class="col-md-4 col-xl-4 form-group">
                                <label class="col-form-label"><strong>Check for this Activity/Subject:<code>*</code></strong></label>
                                <angular2-multiselect [data]="dropdownListActivity" [(ngModel)]="selectedItemsActivity" 
                                    [settings]="dropdownSettingsActivity" 
                                    (onSelect)="onItemSelect($event)" 
                                    (onDeSelect)="OnItemDeSelect($event)"
                                    (onSelectAll)="onSelectAll($event)"
                                    (onDeSelectAll)="onDeSelectAll($event)">
                                </angular2-multiselect>
                            </div>
                            <div class="col-md-4 col-xl-4 form-group">
                                <label class="col-form-label"><strong>Where the setting:</strong></label>
                                <div class="form-radio">
                                    <div class="radio radiofill radio-primary radio-inline">
                                        <label>
                                            <input type="radio" name="member" value="free" data-bv-field="member">
                                            <i class="helper"></i>Is NOT Present 
                                        </label>
                                    </div>
                                    <br>
                                    <div class="radio radiofill radio-primary radio-inline">
                                        <label>
                                            <input type="radio" name="member" value="personal" data-bv-field="member">
                                            <i class="helper"></i>Is Present 
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xl-4 form-group">
                                <label class="col-form-label">And where the activity date is between:</label>
                                <form class="form-inline">
                                    <div class="form-group">
                                      <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="modelPopup1" ngbDatepicker #d1="ngbDatepicker">
                                        <div class="input-group-addon bg-default" (click)="d1.toggle()" >
                                          <span class="icofont icofont-ui-calendar"></span>
                                        </div>
                                      </div>
                                    </div>
                                </form>
                                <label class="col-form-label">And</label> 
                                <form class="form-inline">
                                    <div class="form-group">
                                      <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="modelPopup2" ngbDatepicker #d2="ngbDatepicker">
                                        <div class="input-group-addon bg-default" (click)="d2.toggle()" >
                                          <span class="icofont icofont-ui-calendar"></span>
                                        </div>
                                      </div>
                                    </div>
                                </form>
                                <label class="col-form-label">Note: date values are used for "Is Present" only</label>
                            </div>
                        </div>

                        <div class="col-md-12 col-xl-12">
                            <div class="card card-border-primary">
                                <div class="card-block row">
                                    <div class="col-lg-12 col-xl-12 form-group row">
                                        <div class="col-md-4 col-xl-4 form-group">
                                            <label class="col-form-label"><strong>Filter by Partner Type:</strong></label>
                                            <angular2-multiselect [data]="dropdownListPartner" [(ngModel)]="selectedItemsPartner" 
                                                [settings]="dropdownSettingsPartner" 
                                                (onSelect)="onItemSelect($event)" 
                                                (onDeSelect)="OnItemDeSelect($event)"
                                                (onSelectAll)="onSelectAll($event)"
                                                (onDeSelectAll)="onDeSelectAll($event)">
                                            </angular2-multiselect>
                                        </div>
                                        <div class="col-md-4 col-xl-4 form-group">
                                            <label class="col-form-label"><strong>Filter by Status:</strong></label>
                                            <angular2-multiselect [data]="dropdownListPartnerTypeStatus" [(ngModel)]="selectedItemsPartnerTypeStatus" 
                                                [settings]="dropdownSettingsPartnerTypeStatus" 
                                                (onSelect)="onItemSelect($event)" 
                                                (onDeSelect)="OnItemDeSelect($event)"
                                                (onSelectAll)="onSelectAll($event)"
                                                (onDeSelectAll)="onDeSelectAll($event)">
                                            </angular2-multiselect>
                                        </div>
                                        <div class="col-md-4 col-xl-4 form-group">
                                            <label class="col-form-label"><strong>Filter by Market Type:</strong></label>
                                            <angular2-multiselect [data]="dropdownListMarketType" [(ngModel)]="selectedItemsMarketType" 
                                                [settings]="dropdownSettingsMarketType" 
                                                (onSelect)="onItemSelect($event)" 
                                                (onDeSelect)="OnItemDeSelect($event)"
                                                (onSelectAll)="onSelectAll($event)"
                                                (onDeSelectAll)="onDeSelectAll($event)">
                                            </angular2-multiselect>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-xl-12 form-group row">
                                        <div class="col-md-12 col-xl-12 form-group">
                                            <label class="col-form-label"><strong>Filter by Location:</strong></label>
                                        </div>
                                        
                                        <div class="col-md-4 col-xl-4 form-group">
                                            <label class="col-form-label"><strong>Territory:</strong></label>
                                            <angular2-multiselect [data]="dropdownListTerritories" [(ngModel)]="selectedItemsTerritories"
                                              [settings]="dropdownSettingsTerritories" 
                                              (onSelect)="onItemSelect($event)" 
                                              (onDeSelect)="OnItemDeSelect($event)"
                                              (onSelectAll)="onSelectAll($event)"
                                              (onDeSelectAll)="onDeSelectAll($event)">
                                            </angular2-multiselect>
                                        </div>
                                        <div class="col-md-4 col-xl-4 form-group">
                                            <label class="col-form-label"><strong>Geo</strong></label>
                                            <angular2-multiselect [data]="dropdownListGeo" [(ngModel)]="selectedItemsGeo" 
                                                [settings]="dropdownSettingsGeo" 
                                                (onSelect)="onItemSelect($event)" 
                                                (onDeSelect)="OnItemDeSelect($event)"
                                                (onSelectAll)="onSelectAll($event)"
                                                (onDeSelectAll)="onDeSelectAll($event)">
                                            </angular2-multiselect>
                                        </div>
                                        <div class="col-md-4 col-xl-4 form-group">
                                            <label class="col-form-label"><strong>Region</strong></label>
                                            <angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" 
                                                [settings]="dropdownSettingsRegion" 
                                                (onSelect)="onItemSelect($event)" 
                                                (onDeSelect)="OnItemDeSelect($event)"
                                                (onSelectAll)="onSelectAll($event)"
                                                (onDeSelectAll)="onDeSelectAll($event)">
                                            </angular2-multiselect>
                                        </div>
                                        <div class="col-md-4 col-xl-4 form-group">
                                            <label class="col-form-label"><strong>SubRegion</strong></label>
                                            <angular2-multiselect [data]="dropdownListSubRegion" [(ngModel)]="selectedItemsSubRegion" 
                                                [settings]="dropdownSettingsSubRegion" 
                                                (onSelect)="onItemSelect($event)" 
                                                (onDeSelect)="OnItemDeSelect($event)"
                                                (onSelectAll)="onSelectAll($event)"
                                                (onDeSelectAll)="onDeSelectAll($event)">
                                            </angular2-multiselect>
                                        </div>
                                        <div class="col-md-4 col-xl-4 form-group">
                                            <label class="col-form-label"><strong>Country</strong></label>
                                            <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" 
                                                [settings]="dropdownSettingsCountry" 
                                                (onSelect)="onItemSelect($event)" 
                                                (onDeSelect)="OnItemDeSelect($event)"
                                                (onSelectAll)="onSelectAll($event)"
                                                (onDeSelectAll)="onDeSelectAll($event)">
                                            </angular2-multiselect>
                                        </div>
                                        <div class="col-md-4 col-xl-4 form-group">
                                            <label class="col-form-label"><strong>SubCountry</strong></label>
                                            <angular2-multiselect [data]="dropdownListSubCountry" [(ngModel)]="selectedItemsSubCountry" 
                                                [settings]="dropdownSettingsSubCountry" 
                                                (onSelect)="onItemSelect($event)" 
                                                (onDeSelect)="OnItemDeSelect($event)"
                                                (onSelectAll)="onSelectAll($event)"
                                                (onDeSelectAll)="onDeSelectAll($event)">
                                            </angular2-multiselect>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-xl-12 form-group row">
                                        <div class="col-md-4 col-xl-4 form-group">
                                            <label class="col-form-label"><strong>Fields to show in result:</strong></label>
                                            <angular2-multiselect [data]="dropdownListFieldOrganization" [(ngModel)]="selectedItemsFieldOrganization" 
                                                [settings]="dropdownSettingsFieldOrganization" 
                                                (onSelect)="onItemSelect($event)" 
                                                (onDeSelect)="OnItemDeSelect($event)"
                                                (onSelectAll)="onSelectAll($event)"
                                                (onDeSelectAll)="onDeSelectAll($event)">
                                            </angular2-multiselect>
                                            <label class="col-form-label"><strong>&nbsp;</strong></label>
                                            <angular2-multiselect [data]="dropdownListFieldShow2" [(ngModel)]="selectedItemsFieldShow2" 
                                                [settings]="dropdownSettingsFieldShow2" 
                                                (onSelect)="onItemSelect($event)" 
                                                (onDeSelect)="OnItemDeSelect($event)"
                                                (onSelectAll)="onSelectAll($event)"
                                                (onDeSelectAll)="onDeSelectAll($event)">
                                            </angular2-multiselect>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 col-xl-12 row" >  
                            <div class="col-md-6 col-xl-6 page-header-title">
                            </div>
                            <div class="col-md-3 col-xl-3 page-header-title">
                                <button type="button" [routerLink]="['/epdb/training-partners/organization-attributes-report']" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-play-alt-1"></i> Run Query</button>
                            </div>
                            <div class="col-md-3 col-xl-3 page-header-title">
                                <button type="button" [routerLink]="['/epdb/training-partners/organization-attributes-report']" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-stop"></i> Stop Query</button>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-12 page-header-title">
    	<h4>Search Result</h4>
    	<br/>
    	<br/>
    </div>
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary">
            <div class="card-block row dt-responsive m-20">
                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                    <div>
                      <label class="label-control">Show
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                          <option [ngValue]="10">10</option>
                          <option [ngValue]="25">25</option>
                          <option [ngValue]="50">50</option>
                          <option [ngValue]="100">100</option>
                        </select>
                        entries
                      </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="text-right">
                        <label>Search:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                        </label>
                    </div>
                </div>
                <table class="row table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="20%"><mfDefaultSorter by="name">Name</mfDefaultSorter></th>
                            <th width="20%"><mfDefaultSorter by="position">Position</mfDefaultSorter></th>
                            <th width="20%"><mfDefaultSorter by="office">Office</mfDefaultSorter></th>
                            <th width="20%"><mfDefaultSorter by="age">Age</mfDefaultSorter></th>
                            <th width="20%"><mfDefaultSorter by="start-date">Start date</mfDefaultSorter></th>
                            <th width="20%"><mfDefaultSorter by="salary">Salary</mfDefaultSorter></th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data">
                            <td>{{item.name}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.name}}</td>
                        </tr>
                    </tbody>
                    <tfoot> 
                        <tr>
                            <td colspan="6"><mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>