<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.report.report' | translate }}</h4> 
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4">
            <div class="col-lg-12 col-xl-12 row">
                <div class="col-md-12 col-xl-12 form-group">
                    <label class="col-form-label">{{ 'epdb.report.filter-by-location' | translate }}</label>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.report.lbl-geo' | translate }}</label>
                    <angular2-multiselect 
                        [data]="dropdownListGeo" 
                        [(ngModel)]="selectedItemsGeo" 
                        [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" 
                        (onSelect)="onGeoSelect($event)" 
                        (onDeSelect)="OnGeoDeSelect($event)"
                        (onSelectAll)="onGeoSelectAll($event)"
                        (onDeSelectAll)="onGeoDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.report.lbl-region' | translate }}</label>
                    <angular2-multiselect 
                        [data]="dropdownListRegion" 
                        [(ngModel)]="selectedItemsRegion" 
                        [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" 
                        (onSelect)="onRegionSelect($event)" 
                        (onDeSelect)="OnRegionDeSelect($event)"
                        (onSelectAll)="onRegionSelectAll($event)"
                        (onDeSelectAll)="onRegionDeSelectAll($event)">
                </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.report.lbl-sub-region' | translate }}</label>
                    <angular2-multiselect 
                        [data]="dropdownListSubRegion" 
                        [(ngModel)]="selectedItemsSubRegion" 
                        [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" 
                        (onSelect)="onSubRegionSelect($event)" 
                        (onDeSelect)="OnSubRegionDeSelect($event)"
                        (onSelectAll)="onSubRegionSelectAll($event)"
                        (onDeSelectAll)="onSubRegionDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.report.lbl-territory' | translate }}</label>
                    <angular2-multiselect 
                        [data]="dropdownListTerritories" 
                        [(ngModel)]="selectedItemsTerritories" 
                        [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" 
                        (onSelect)="onTerritoriesSelect($event)" 
                        (onDeSelect)="OnTerritoriesDeSelect($event)"
                        (onSelectAll)="onTerritoriesSelectAll($event)"
                        (onDeSelectAll)="onTerritoriesDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.report.lbl-country' | translate }}</label> 
                    <angular2-multiselect 
                        [data]="dropdownListCountry" 
                        [(ngModel)]="selectedItemsCountry" 
                        [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" 
                        (onSelect)="onCountriesSelect($event)" 
                        (onDeSelect)="OnCountriesDeSelect($event)"
                        (onSelectAll)="onCountriesSelectAll($event)"
                        (onDeSelectAll)="onCountriesDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.report.lbl-sub-country' | translate }}</label>
                    <angular2-multiselect 
                        [data]="dropdownListSubCountry" 
                        [(ngModel)]="selectedItemsSubCountry" 
                        [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" 
                        (onSelect)="onSubCountriesSelect($event)" 
                        (onDeSelect)="OnSubCountriesDeSelect($event)"
                        (onSelectAll)="onSubCountriesSelectAll($event)"
                        (onDeSelectAll)="onSubCountriesDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
            </div>
            <div class="col-lg-12 col-xl-12 row">
                <div class="col-md-12 col-xl-12 form-group">
                    <label>{{ 'epdb.report.lbl-report' | translate }}</label>
                    <select name="report" class="form-control">
                        <option>{{ 'epdb.report.select-report' | translate }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>