<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.sku.add_edit_sku' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-sm-3"><b>FY: {{masterSku.fyIndicatorKey}}</b></div>
            <div class="col-sm-3"><b>Partner Type: {{masterSku.partnerType}}</b></div>
            <div class="col-sm-3"><b>SKU Name: {{masterSku.skuName}}</b></div>
            <div class="col-sm-3"><b>No. License: {{masterSku.license}}</b></div>
        </div>
        <form [formGroup]="addSKU" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form group">
                    <label class="col-form-label">Territory</label>
                    <select class="form-control" name="Territory" formControlName="Territory" (change)="getRegion()">
                        <option value="" style="display:none">Select Territory</option>
                        <option *ngFor="let t of territories" [value]="t.territoryId">{{t.territoryName}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!addSKU.get('Territory').valid && addSKU.get('Territory').touched">* Please select territory</span>
                </div>

                <div class="col-md-4 col-xl-4 form group">
                    <label class="col-form-label">Region</label>
                    <select class="form-control" name="Region" formControlName="Region">
                        <option value="" style="display:none">Select Region</option>
                        <option *ngFor="let r of regions" [value]="r.regionCode">{{r.regionName}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!addSKU.get('Region').valid && addSKU.get('Region').touched">* Please select region</span>
                </div>

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">Price</label>
                    <input currencyMask class="form-control" formControlName="Price" placeholder="{{'epdb.admin.sku.price' | translate}}">
                    <span class="messages text-danger" *ngIf="!addSKU.get('Price').valid && addSKU.get('Price').touched">* Please enter price</span>
                </div>
                
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">Status</label>
                    <select class="form-control" formControlName="Status">
                        <option value="" style="display:none">Select Status</option>
                        <option value="A">Active</option>
                        <option value="D">Deactive</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!addSKU.get('Status').valid && addSKU.get('Status').touched">* Please select status</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">Description</label>
                    <textarea class="form-control" formControlName="Description"></textarea>
                </div>
                <div class="col-md-12 col-xl-12">&nbsp;</div>
                <div class="col-md-6 col-xl-6"></div>
                <div class="col-md-2 col-xl-2">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i> {{'general.btn_save' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2">
                    <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2">
                    <button type="button" [routerLink]="['/admin/sku/list-sku']" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>