<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> -->
<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
      <div class="row">
          <div class="col-md-12 col-sm-12">
              <div class="md-float-material">
                  <div class="text-center">
                      <img src="assets/images/auth/logo2.png" alt="logo2.png">
                  </div>

              </div>
              <div class="login-card card-body auth-body" style="
              background-color: #ffffff;
              border-radius: 8px;
              padding-bottom: 60px;
              margin: 56px 0 0px 0;">

                  <div style="color: #383636;font-size: 32px;text-align: left;font-weight: inherit;">
                      Autodesk Partner Database & Training Evaluation System
                      <br/>
                      <br/>
                  </div>
                  <div style="color: #383636;font-size: 18px;text-align: left;font-weight: inherit;">
                      Welcome to the Autodesk Partner Database & Training Evaluation System<br/>
                      You are not authorized to acccess the System<br/>
                      Please contact your <a href="https://www.autodesk.com/training-and-certification/contact-us" style="font-size: 18px;text-align: left;font-weight: inherit;" >Regional Distributor for more information</a><br/>
                      Thank you.<br/>
                  </div>
                  <div class="row m-b-20"></div>
              </div>
          </div>
      </div>
  </div>