<div class="row">
    
    <div class="col-md-12 col-xl-12 page-header-title">
        <h4>Edit Organization Attribute</h4>
        <br/>
        <br/>
    </div>
    
    
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary"> 
            <div class="card-block row dt-responsive" style="margin:20px">  
                <div class="col-lg-12 col-xl-12 row">
                    <table class="row table table-striped table-bordered table-responsive">
                        <thead>
                            <tr>
                                <th width="5%">On</th>
                                <th width="20%">Accreditation</th>
                                <th width="20%">Date</th>
                                <th width="80%">Notes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="checkbox-fade">
                                        <label>
                                            <input type="checkbox" value="">
                                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span> 
                                        </label>
                                    </div>
                                </td>
                                <td>ADI - Americas</td>
                                <td>
                                    <input type="text" class="form-control">
                                </td>
                                <td>
                                    <textarea style="width:100%;height:100px;" class="form-control"></textarea>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4" class="text-center">
                                    <button type="button" class="btn btn-success text-center"><i class="icofont icofont-save"></i> Save Change</button>
                                    <button type="button" class="btn btn-default text-center"><i class="icofont icofont-spinner-alt-3"></i> Reset</button>
                                    <button type="button" class="btn btn-danger text-center"><i class="icofont icofont-ui-close"></i> Cancel</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
    
       
    
    