<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.report_eva.other_answer.other_answer' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">What level are you going to teach?</label>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.report_eva.organization_report.filter_data' | translate}}:</label>
                <br>
                <label class="col-form-label">{{'epdb.admin.country.geo.geo' | translate}}</label>
                <angular2-multiselect [data]="dropdownListGeo " [(ngModel)]="selectedItemsGeo" [ngModelOptions]="{standalone:true}" [settings]="dropdownSettings"
                    (onSelect)="onGeoSelect($event)" (onDeSelect)="OnGeoDeSelect($event)" (onSelectAll)="onGeoSelectAll($event)"
                    (onDeSelectAll)="onGeoDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">&nbsp;</label>
                <br>
                <label class="col-form-label">{{'epdb.admin.country.region.region' | translate}}</label>
                <angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onRegionSelect($event)" (onDeSelect)="OnRegionDeSelect($event)"
                    (onSelectAll)="onRegionSelectAll($event)" (onDeSelectAll)="onRegionDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">&nbsp;</label>
                <br>
                <label class="col-form-label">{{'epdb.admin.country.sub_region.sub_region' | translate}}</label>
                <angular2-multiselect [data]="dropdownListSubRegion " [(ngModel)]="selectedItemsSubRegion" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onSubRegionSelect($event)" (onDeSelect)="OnSubRegionDeSelect($event)"
                    (onSelectAll)="onSubRegionSelectAll($event)" (onDeSelectAll)="onSubRegionDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.admin.country.countries.country' | translate}}</label>
                <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" [settings]="dropdownSettings" [ngModelOptions]="{standalone: true}"
                    (onSelect)="onCountriesSelect($event)" (onDeSelect)="OnCountriesDeSelect($event)" (onSelectAll)="onCountriesSelectAll($event)"
                    (onDeSelectAll)="onCountriesDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.report_eva.organization_report.survey_year' | translate}}</label>
                <select name="oStatus" class="form-control">
                    <option value="">-- {{ 'general.select' | translate }} --</option>
                    <option *ngFor="let item of year" value="{{item.Key}}">{{item.KeyValue}}</option>
                </select>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.report_eva.organization_report.month' | translate}}:</label>
                <select name="oStatus" class="form-control">
                    <option value="">-- {{ 'general.select' | translate }} --</option>
                </select>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.report_eva.performance_overview.site_active' | translate}}</label>
                <select name="oStatus" class="form-control">
                    <option value="">-- {{ 'general.select' | translate }} --</option>
                    <option value="active">Active Only</option>
                    <option value="inactive">Inactive Only</option>
                </select>
            </div>
            <div class="col-md-12 col-xl-12 form-group">
                <div class="col-md-6 col-xl-6 row">
                    <label class="col-form-label">Results per page:</label>
                    <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">10</option>
                        <option [ngValue]="250">250</option>
                        <option [ngValue]="500">500</option>
                        <option [ngValue]="1000">1000</option>
                    </select>
                </div>
            </div>
            <div class="col-md-10 col-xl-10">&nbsp;</div>
            <div class="col-md-2 col-xl-2">
                <button type="submit " class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                    <i class="icofont icofont-play-alt-1 "></i>{{ 'general.btn_submit' | translate }}</button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4">
            <div class="col-md-12 col-xl-12 row form-group">
                <label class="col-form-label col-md-2 col-xl-2">{{'epdb.report_eva.organization_report.total_evaliation' | translate}}:</label>
                <label class="col-form-label col-md-5 col-xl-5"></label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="reportOrg | dataFilter: filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="20%">Course Date</th>
                            <th width="15%">Site ID</th>
                            <th width="20%">Site Name</th>
                            <th width="15%">Instructor ID</th>
                            <th width="20%">Student Name</th>
                            <th width="20%">Response</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a [routerLink]="['/report-eva/instructor-student']">2018-02-14</a>
                            </td>
                            <td>
                                <a [routerLink]="['/report-eva/site-profile']">EM0337</a>
                            </td>
                            <td></td>
                            <td>
                                <a [routerLink]="['/report-eva/instructor-course']">40803</a>
                            </td>
                            <td>
                                <a [routerLink]="['/report-eva/student-course']">Olga Olehnovica</a>
                            </td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>