<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'eva.manage_evaluation.add_evaluation_template_data' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="addtemplatedata" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.partner_type.partner_type' | translate}}</label>
                    <select class="form-control" (change)="selectedPartner($event.target.value)" formControlName="PartnerType">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngIf="dropdownPartner==null">{{'general.loading_data' | translate}} ...</option>
                        <option *ngIf="dropdownPartner==''">{{'general.data_empty' | translate}}</option>
                        <option *ngFor="let item of dropdownPartner" value="{{item.RoleId}}">{{item.RoleName}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!addtemplatedata.get('PartnerType').valid && addtemplatedata.get('PartnerType').touched">* Please select partner type</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group" *ngIf="CertificateType">
                    <label class="col-form-label">{{'epdb.admin.partner_type.certificate_type' | translate}}</label>
                    <select name="CertificateType" class="form-control" formControlName="certificatetype">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngIf="dropdownCertificate==null">{{'general.loading_data' | translate}} ...</option>
                        <option *ngIf="dropdownCertificate==''">{{'general.data_empty' | translate}}</option>
                        <option *ngFor="let item of dropdownCertificate" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!addtemplatedata.get('certificatetype').valid && addtemplatedata.get('certificatetype').touched">* Please select certificate type</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eva.manage_evaluation.evaluation_template_code' | translate}}</label>
                    <input (change)="checkCodeDuplicate($event.target.value)" type="text" class="form-control" id="EvaluationQuestionCode" formControlName="EvaluationQuestionCode" placeholder="{{'eva.manage_evaluation.evaluation_template_code' | translate}}">
                    <span class="messages text-danger" *ngIf="!addtemplatedata.get('EvaluationQuestionCode').valid && addtemplatedata.get('EvaluationQuestionCode').touched">* Please enter evaluation template code</span>
                    <span class="messages text-danger" *ngIf="!validcode">* Code already exist</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eva.manage_evaluation.evaluation_template_title' | translate}}</label>
                    <input type="text" class="form-control" id="CourseId" formControlName="CourseId" placeholder="{{'eva.manage_evaluation.evaluation_template_title' | translate}}">
                    <span class="messages text-danger" *ngIf="!addtemplatedata.get('CourseId').valid && addtemplatedata.get('CourseId').touched">* Please enter evaluation template title</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'general.year' | translate}}</label>
                    <select class="form-control" formControlName="Year">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngIf="year==null">{{'general.loading_data' | translate}} ...</option>
                        <option *ngIf="year==''">{{'general.data_empty' | translate}}</option>
                        <option *ngFor="let item of year" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!addtemplatedata.get('Year').valid && addtemplatedata.get('Year').touched">* Please select year</span>
                </div>
                <!-- <div class="col-md-6 col-xl-6 form-group">
                        <label class="col-form-label">{{'eva.manage-evaluation.add-new-evaluation-template.template-year' | translate}}</label>
                        <input type="number" class="form-control" id="TemplateYear" placeholder="{{'eva.manage-evaluation.add-new-evaluation-template.template-year' | translate}}">
                        <span class="messages text-danger" *ngIf="!addproduct.get('product_year').valid && addproduct.get('product_year').touched">* Please Enter Product Year</span>
                    </div>-->
                <br/>
                <br/>
                <div class="col-md-12 col-xl-12"></div>
                <div class="col-md-6 col-xl-6"></div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i> {{'general.btn_save' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center ">
                        <i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" [routerLink]="['/evaluation/survey-template-list']" class="btn btn-danger btn-md btn-block text-center ">
                        <i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>