<div class="row">
    <div class="col-md-10 col-xl-10 page-header-title">
        <h4>My Course</h4>
        <br/>
        <br/>
    </div>
    <div class="col-md-12 col-xl-12">
            <div class="card">
                    <div class="card-header">
                        <h5>My Course</h5>
                        <div class="card-header-right">
                            <i class="icofont icofont-rounded-left" ngbTooltip="Back"></i>
                        </div>
                    </div>
                    <div class="row card-block">
                        <div class="col-md-12">
                            <p>Hi, This is my short intro text. Lorem ipsum is a dummy content sit dollar. You can copy and paste this dummy content from anywhere and to anywhere. Its all free and must be a good to folllow
                            in prectice</p>
                            <table class="table table-striped table-bordered full-data-table text-center" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                                <thead>
                                    <tr>
                                        <th width="10%"><mfDefaultSorter by="">Course Code</mfDefaultSorter></th>
                                        <th width="10%"><mfDefaultSorter by="">Course Name</mfDefaultSorter></th>
                                        <th width="10%"><mfDefaultSorter by="">Course Date</mfDefaultSorter></th>
                                        <th width="10%"><mfDefaultSorter by="">Instructor ID</mfDefaultSorter></th>
                                        <th width="10%"><mfDefaultSorter by="">Instructor Name</mfDefaultSorter></th>
                                        <th width="10%"><mfDefaultSorter by="">Site Name</mfDefaultSorter></th>
                                        <th width="10%"><mfDefaultSorter by="">Site Address</mfDefaultSorter></th>
                                        <th width="10%"><mfDefaultSorter by="">Download</mfDefaultSorter></th>
                                    </tr> 
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>C2243</td>
                                        <td>Andorid Basic: User Interface</td>
                                        <td>27 January 2018</td> 
                                        <td>ID5523</td>
                                        <td>Hilman Achmad</td> 
                                        <td>Indonesia</td>
                                        <td>Bandung</td>
                                        <td class="action-icon">
                                            <a  class="m-r-15 text-muted f-20" ngbTooltip="Download Certificate"><i class="icofont icofont-download-alt  "></i></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>C2244</td>
                                        <td>React Basic: User Interface</td>
                                        <td>21 May 2018</td> 
                                        <td>ID5434</td>
                                        <td>Aek Mustofa</td> 
                                        <td>Indonesia</td>
                                        <td>Bandung</td>
                                        <td class="action-icon">
                                            <a  class="m-r-15 text-muted f-20" ngbTooltip="Download Certificate"><i class="icofont icofont-download-alt  "></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
            </div>
    </div>
</div>

