<ngx-loading [show]="loading" [config]="{
  backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
  primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
  <div class="card-header">
    <div class="page-header-title">
      <h4>Requested Instructor List</h4>
    </div>
  </div>
  <div class="card-block">
      <div class="dt-responsive dt-bootstrap4  row p-20">
          <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
              <div>
                  <label class="label-control">{{'general.show' | translate}}
                      <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                          <option [ngValue]="10">10</option>
                          <option [ngValue]="25">25</option>
                          <option [ngValue]="50">50</option>
                          <option [ngValue]="100">100</option>
                      </select>
                      {{'general.entries' | translate}}
                  </label>
              </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
              <div style="text-align: right;">
                  <label>{{'general.search' | translate}}:
                      <input type="search" [(ngModel)]="searchParam" class="form-control input-sm full-data-search">
                  </label>
              </div>
          </div>
    <table class="table table-striped table-bordered table-responsive full-data-table" style="display:table" [mfData]="instructorRequestedModel"
      #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
      <ngx-loading [show]="loading_1" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
      <thead>
        <tr>
          <th width="10%">Requester Name</th>
          <th width="10%">Site Name</th>
          <th width="10%">Role</th>
        </tr>
      </thead>
      <tbody *ngIf="instructorRequestedModel != null">
        <tr *ngFor="let item of instructorRequestedModel | search : 'name,siteName,userLevel': searchParam">
          <td style="cursor: pointer;" (click)="getInstructorList(item)">{{item.name}}</td>
          <td>{{item.siteName}}</td>
          <td>{{item.userLevel}}</td>
        </tr>
        <tr *ngIf="instructorList.length > 0">
          <td colspan="3" >
            <table class="table table-striped table-bordered table-responsive">
              <thead>
                 <th>Contact Name</th>
                  <th>Site Id(s)</th>
                   <th>Reason</th>
                    <th></th>
              </thead>
              <tbody>
                  <ng-container *ngFor="let i of instructorList">
                    <tr>
                        <td>{{i.contactName}}</td>
                        <td>{{i.requestedSiteId}}</td>
                        <td>{{i.reason}}</td>
                        <td>
                              <a (click)="approveAction(i.requestID)" class="m-r-15 text-muted f-18" ngbTooltip="{{'general.tool_tip_delete' | translate}}">
                              <i class="icofont icofont-delete-alt" style="cursor: pointer"></i>
                              </a>
      
                        </td>
                    </tr>
                 
        </ng-container>
      </tbody>
    </table>
    </td>
    </tr>
    </tbody>
    </table>
    </div>
  </div>
</div>