<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>Student Evaluation</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="col-lg-8 col-xl-8">
            <ul class="nav nav-tabs md-tabs" role="tablist">
                <li class="nav-item col-md-6">
                    <a class="nav-link " data-toggle="tab" [routerLink]="['/course/evaluation-student',evalsId,id,evalsNumber]" role="tab" aria-expanded="false">Course information/Prefill questions</a>
                    <div class="slide"></div>
                </li>
                <li class="nav-item col-md-6">
                    <a class="nav-link " data-toggle="tab" [routerLink]="['/course/detail-evaluation',evalsId,id,evalsNumber]" role="tab" aria-expanded="true">Student evaluations</a>
                    <div class="slide"></div>
                </li>
            </ul>
        </div>

        <!-- <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="mt-2 ml-2 col-md-12 col-xl-12 form-group row">
                <div class="col-md-8 col-xl-8 form-group"></div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i> {{'general.btn_save' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" [routerLink]="['/course/course-list']" class="btn btn-danger btn-md btn-block text-center">
                        <i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
                </div>
            </div>
        </div> -->

        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="mt-2 ml-2 col-md-12 col-xl-12 form-group row">
                <div id="surveyElement"></div>
                <div id="surveyResult"></div>
            </div>
        </div>

    </div>
</div>