<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'eva.manage_student_info.list_terminate_account' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6" *ngIf="title!=''">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6" *ngIf="title!=''">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data | dataFilterStudent : filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" *ngIf="title!=''">
                    <thead>
                        <tr>
                            <th width="25%">
                                <!-- {{'eva.manage-student-info.list-student.table.no' | translate}} -->
                                <mfDefaultSorter by="StudentID">{{'eva.manage_student_info.student_id' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="40%">
                                <mfDefaultSorter by="Firstname">{{'eva.manage_student_info.student_name' | translate}}</mfDefaultSorter>
                            </th>
                            <!-- <th width="15%">
                                <mfDefaultSorter by="unique">{{'eva.manage_student_info.company' | translate}}</mfDefaultSorter>
                            </th> -->
                            <!-- <th width="15%">{{'epdb.manage.organization.add_edit.city' | translate}}</th> -->
                            <!-- <th width="15%">{{'epdb.admin.country.countries.country' | translate}}</th> -->
                            <!-- <th width="15%">{{'epdb.manage.organization.detail.telephone' | translate}}</th> -->
                            <th width="25%">
                                <mfDefaultSorter by="Email">{{'epdb.manage.organization.detail.email' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%" class="text-center">{{'general.action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="data.length > 0 && !loadingdata">
                        <tr *ngFor="let item of mf.data">
                            <td>{{item.StudentID}}</td>
                            <td>{{item.Firstname}} {{item.Lastname}}</td>
                            <!-- <td>{{item.Company}}</td> -->
                            <!-- <td>{{item.City}}</td> -->
                            <!-- <td>{{item.countries_name}}</td> -->
                            <!-- <td>{{item.Phone}}</td> -->
                            <td>{{item.Email}}</td>
                            <td class="action-icon text-center">
                                <a (click)="openConfirmsSwal(item.StudentID)" class="text-muted f-18" ngbTooltip="Terminate">
                                    <i class="icofont icofont-ui-check" style="cursor: pointer"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="data.length > 0 && !loadingdata">
                            <td colspan="8">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="loadingdata">
                            <td colspan="8" class="text-center">{{'general.loading_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="data.length < 1 && !loadingdata">
                            <td colspan="8" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>