<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.market_type.add_update_market_type' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="updatemarkettype" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.market_type.market_name' | translate}}</label>
                    <input type="text" class="form-control" id="MarketType" formControlName="MarketType" placeholder="{{'epdb.admin.market_type.market_name' | translate}}">
                </div>
                <div class="col-md-4 col-xl-4 form-check form-inline">
                    <label class="col-form-label"></label>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" (change)="onChangeFilter($event.target.checked)">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            Filter Country
                        </label>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4 form-group">&nbsp;</div>
                <div class="col-md-4 col-xl-4 form-group" *ngIf="showFilter">
                    <label class="col-form-label">{{'epdb.admin.country.geo.geo' | translate}}</label>
                    <angular2-multiselect [data]="dropdownListGeo" [(ngModel)]="selectedItemsGeo" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                        (onSelect)="onGeoSelect($event)" (onDeSelect)="OnGeoDeSelect($event)" (onSelectAll)="onGeoSelectAll($event)"
                        (onDeSelectAll)="onGeoDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group" *ngIf="showFilter">
                    <label class="col-form-label">{{'epdb.admin.country.region.region' | translate}}</label>
                    <angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onRegionSelect($event)" (onDeSelect)="OnRegionDeSelect($event)"
                        (onSelectAll)="onRegionSelectAll($event)" (onDeSelectAll)="onRegionDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group" *ngIf="showFilter">
                    <label class="col-form-label">{{'epdb.admin.country.sub_region.sub_region' | translate}}</label>
                    <angular2-multiselect [data]="dropdownListSubRegion" [(ngModel)]="selectedItemsSubRegion" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onSubRegionSelect($event)" (onDeSelect)="OnSubRegionDeSelect($event)"
                        (onSelectAll)="onSubRegionSelectAll($event)" (onDeSelectAll)="onSubRegionDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-12 col-xl-12 form-group">&nbsp;</div>

                <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                    <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="listCountry | dataFilter : filterQuery"
                        #mf1="mfDataTable" [mfRowsOnPage]="5" [(mfSortBy)]="sortBy">
                        <thead>
                            <tr>
                                <th width="90%">
                                    <mfDefaultSorter by="countries_name">{{'epdb.admin.country.countries.country' | translate}}</mfDefaultSorter>
                                </th>
                                <th width="10%">{{'general.action' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="listCountry!=null">
                            <tr *ngFor="let item of mf1.data">
                                <td>{{item.countries_name}}</td>
                                <td class="action-icon">
                                    <a (click)="openConfirmsSwal(item.countries_id)" class="text-muted f-18 ml-3" ngbTooltip="{{'general.tool_tip_delete' | translate}}">
                                        <i class="icofont icofont-delete-alt" style="cursor: pointer"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngIf="listCountry!=null">
                                <td colspan="6">
                                    <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                                </td>
                            </tr>
                            <tr *ngIf="listCountry==null">
                                <td colspan="6" class="text-right">{{'general.cant_find_data' | translate}}</td>
                            </tr>
                            <tr *ngIf="listCountry==''">
                                <td colspan="6" class="text-right">{{'general.data_empty' | translate}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>

                <div class="col-md-12 col-xl-12">&nbsp;</div>
                <div class="col-md-12 col-xl-12">&nbsp;</div>

                <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                    <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center">
                        <thead>
                            <tr>
                                <th width="90%">{{'epdb.admin.country.countries.country' | translate}}</th>
                                <th width="10%">{{'general.action' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="dropdownListCountry!=null">
                            <tr *ngFor="let item of dropdownListCountry">
                                <td>{{item.countries_name}}</td>
                                <td>
                                    <div class="checkbox-fade fade-in-primary">
                                        <label>
                                            <input type="checkbox" (change)="onChange(item.countries_id, $event.target.checked)">
                                            <span class="cr">
                                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                            </span>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngIf="dropdownListCountry==null">
                                <td colspan="6" class="text-right">{{'general.cant_find_data' | translate}}</td>
                            </tr>
                            <tr *ngIf="dropdownListCountry==''">
                                <td colspan="6" class="text-right">{{'general.data_empty' | translate}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="col-md-12 col-xl-12">&nbsp;</div>
                <div class="col-md-5 col-xl-5">&nbsp;</div>
                <div class="col-md-3 col-xl-3">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i> {{'general.btn_save_change' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2">
                    <button type="button" [routerLink]="['/admin/market-type/market-type-list']" class="btn btn-default btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2">
                    <button type="button" [routerLink]="['/admin/market-type/market-type-list']" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>