<!-- <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading> -->
<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
    <div class="auth-fluid">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="md-float-material">
                    <div class="text-center">
                        <img src="assets/images/auth/logo2.png" alt="logo2.png">
                    </div>

                </div>
                <div class="login-card card-body auth-body" style="
                background-color: #ffffff;
                border-radius: 8px;
                padding-bottom: 60px;
                margin: 56px 0 0px 0;">

                    <div style="color: #383636;font-size: 32px;text-align: left;font-weight: inherit;">
                        Autodesk Partner Database & Training Evaluation System
                        <br/>
                        <br/>
                    </div>
                    <div style="color: #383636;font-size: 18px;text-align: left;font-weight: inherit;">
                        Welcome to Autodesk Partner Database & Training Evaluation System! It has been our endeavor to provide you with tools that
                        <br/>help you manage your training business efficiently. You can refer to below links for some tips about
                        how to utilize this tool.
                        <br/>
                    </div>
                    <div class="row m-b-20"></div>
                    <div class="row m-b-20">
                        <div class="col-md-6">
                            <a href="https://www.dropbox.com/sh/dotbd1szom2639h/AAB73DkEIEGROYKKN-9OiCp2a?dl=0"><h5>FAQ</h5></a>
                        </div>
                        <div class="col-md-6">
                            <a href="https://www.dropbox.com/sh/dotbd1szom2639h/AAB73DkEIEGROYKKN-9OiCp2a?dl=0"><h5>User Training Guide</h5></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>