<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.activities.activities_list' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-4 col-xl-4 form-group text-left">
                <label>{{ 'epdb.admin.activities.activity_type' | translate }}</label>
                <select name="oStatus" class="form-control" (change)="changetable($event.target.value)" [(ngModel)]="categoryId">
                    <option value="">-- {{ 'general.select' | translate }} --</option>
                    <option *ngIf="activitytype==null">{{'general.loading_data' | translate}} ...</option>
                    <option *ngIf="activitytype==''">{{'general.data_empty' | translate}}</option>
                    <option *ngFor="let item of activitytype" value={{item.ActivityType}}>{{item.ActivityType}}</option>
                </select>
            </div>
            <div class="col-md-5 col-xl-5"></div>
            <div class="col-md-3 col-xl-3 form-group mt-4 text-right">
                <button *ngIf="accesAddBtn" type="button" [routerLink]="['/admin/activities/activities-add']" class="btn btn-primary btn-md text-center">
                    <i class="icofont icofont-ui-add"></i> {{ 'epdb.admin.activities.btn_add_activities' | translate }}
                </button>
            </div>
            <!-- <div class="mt-5 col-md-12 col-xl-12 form-group">
                <h4>{{category}}</h4>
            </div> -->
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6" *ngIf="dataFound">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6" *ngIf="dataFound">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data | dataFilterActivities : filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" *ngIf="dataFound">
                    <thead>
                        <tr>
                            <th width="20%">
                                <mfDefaultSorter by="ActivityId">{{'epdb.admin.activities.activity_id' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="50%">
                                <mfDefaultSorter by="ActivityName">{{'epdb.admin.activities.activity_name' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="IsUnique">{{'epdb.admin.activities.unique' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%" *ngIf="accesUpdateBtn || accesDeleteBtn">{{'general.action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="data!=null && data!=''">
                        <tr *ngFor="let item of mf.data">
                            <!-- <td *ngIf="item.Status=='X'" style="color:darkgray">{{item.ActivityId}}</td>
                            <td *ngIf="item.Status=='X'" style="color:darkgray" class="text-left">{{item.ActivityName}}</td>
                            <td *ngIf="item.Status=='X'" style="color:darkgray" class="text-center">{{item.IsUnique}}</td> -->

                            <!-- <td *ngIf="item.Status=='A'">{{item.ActivityId}}</td>
                            <td *ngIf="item.Status=='A'" class="text-left">{{item.ActivityName}}</td>
                            <td *ngIf="item.Status=='A'" class="text-center">{{item.IsUnique}}</td> -->

                            <td>{{item.ActivityId}}</td>
                            <td class="text-left">{{item.ActivityName}}</td>
                            <td class="text-center">{{item.IsUnique}}</td>

                            <td class="action-icon text-center" *ngIf="accesUpdateBtn || accesDeleteBtn">
                                <!-- <a [routerLink]="['/admin/activities/activities-detail',item.activity_id]" class="m-r-15 text-muted f-18" ngbTooltip="{{'general.tool_tip_view' | translate}}">
                                    <i class="icofont icofont-eye-alt"></i>
                                </a> -->
                                <a *ngIf="accesUpdateBtn" [routerLink]="['/admin/activities/activities-update',item.ActivityId]" class="m-r-15 text-muted f-18"
                                    ngbTooltip="{{'general.tool_tip_edit' | translate}}">
                                    <i class="icofont icofont-ui-edit"></i>
                                </a>
                                <a *ngIf="accesDeleteBtn && item.Status=='A'" (click)="openConfirmsSwal(item.ActivityId)" class="text-muted f-18" ngbTooltip="{{'general.tool_tip_disable' | translate}}">
                                    <i class="icofont icofont-ui-block" style="cursor: pointer"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="data!=null">
                            <td colspan="6">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="6" class="text-center">{{'general.loading_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="6" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- modal view detail -->
<app-modal-basic #viewdetailmodal [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">{{'epdb.admin.activities.detail_activities' | translate}}</h4>
        <button type="button" class="close basic-close" (click)="viewdetailmodal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <div class="col-md-12 col-xl-12 form-group row" *ngIf="datadetail==''">
            <div class="col-md-12 col-xl-12 text-center">
                <label class="col-form-label">{{'general.data_empty' | translate}}</label>
            </div>
        </div>
        <div class="col-md-12 col-xl-12 form-group row" *ngIf="datadetail==null">
            <div class="col-md-12 col-xl-12 text-center">
                <label class="col-form-label">{{'general.loading_data' | translate}}</label>
            </div>
        </div>
        <div class="col-md-12 col-xl-12 form-group row" *ngIf="datadetail!=null">
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'epdb.admin.activities.activity_id' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.activity_id}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'epdb.admin.activities.date_added' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.cdate}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'epdb.admin.activities.admin_added' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.cuid}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'epdb.admin.activities.activity_name' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.activity_name}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'epdb.admin.activities.unique' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.unique}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'general.description' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.description}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'general.status' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.status}}</label>
            </div>
        </div>
    </div>
</app-modal-basic>