<style>
@charset "UTF-8";

@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style: normal;
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
}

.s-stepper-content .s-stepper-stage {
  display: none;

  /* box-shadow: 0 2px 4px 0px #aaa; */
  background-color: #fff;
}

.s-stepper-content .s-stepper-stage.active {
  display: flex;
}

.s-stepper {
  display: flex;
  /* box-shadow: 0 2px 4px 0px #aaa; */
  counter-reset: section;
  background-color: #fff;
}

.s-stepper .s-step {
  height: 50px!important;
  border: 2px solid #5aaaff;
  display: flex;
  flex: 1;
  /*padding: 15px;*/
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.6);
  position: relative;
  height:40px;
}

.s-stepper .s-step:first-child:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 0;
  content: "";
  border-top: none;
  border-bottom: none;
}

.s-stepper .s-step.active, .s-stepper .s-step.done {
  position: relative;
  background-color: #5aaaff;
  font-weight: bold;
  font-size: 16px;
  color: rgb(255, 255, 255);
  height: 50px!important;
}

.s-stepper .s-step.active:last-child:after {
  border: none;
}

.s-stepper .s-step.active:after {
  margin-top: -1px;
  position: absolute;
  right: 0;
  top: 0;
  margin-right: -40px;
  width: 0;
  height: 0;
  content: "";
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 37px solid #5aaaff;
  transition: all 900ms ease-in-out;
}

.s-stepper .s-step.active .s-step-counter:after {
  content: "";
  font-family: FontAwesome;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 15px;
  height: 15px;
  border-radius: 9999px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

.s-stepper .s-step.done .s-step-counter:after {
  content: "";
  font-family: FontAwesome;
  border-color: rgba(255, 255, 255, 0.6);
  color: rgba(255, 255, 255, 0.6);
}

.s-stepper .s-step .s-step-counter:after {
  counter-increment: section;
  content: counter(section);
  display: flex;
  font-size: 12px;
  border: 1px solid rgba(0, 0, 0, 0.6);
  width: 15px;
  height: 15px;
  justify-content: center;
  border-radius: 999px;
  align-items: center;
  margin-bottom: 5px;
}



@media only screen and (max-width: 600px) {
  small{
    width: 50%!important;
  }
  .s-stepper .s-step {
    height: 65px!important;
  }
  .s-stepper .s-step.active, .s-stepper .s-step.done {
    height: 65px!important;
  }
  .s-stepper .s-step.active:after {
    border-top: 32px solid transparent;
    border-bottom: 32px solid transparent;
    border-left: 49px solid #5aaaff;    
  }

}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .responsive-tab {
    max-width: 100% !important;
    margin: auto !important
  }

  .kecilkan-tab {
    padding-bottom: 200px !important;
  }
}

@media only screen and (min-width: 1000px) {
  .margin-on-desktop{
    margin-top: 250px;
  }
  
}

@media only screen and (min-width: 500px) {
  .card-regist-hilman{
    margin: 95px 30px 95px 30px
  }
}

.card-regist-hilman{
  background-color: #ffffff;
  border-radius: 5px;
  padding-bottom: 200px;
  margin: 95px 0px 95px 00px
  
  
}

.boxDiv {
  width: 40% !important;
  border: 1px silver double;
  height: 500px !important;
  z-index: 1;

}

.headerDiv {
  height: auto;
}

.stage {
  position: relative;
  padding-bottom: 5px;
}

.stage h1 {
  padding-bottom: 15px;
  padding-top: 30px;
}

</style>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

<div class="mt-20" id="pcoded" (window:resize)="onResize($event)" class="pcoded iscollapsed" theme-layout="vertical" vertical-placement="left"
vertical-layout="wide" [attr.pcoded-device-type]="deviceType" [attr.vertical-nav-type]="verticalNavType" [attr.vertical-effect]="verticalEffect"
vnavigation-view="view1">
<div class="pcoded-overlay-box"></div>
<div class="pcoded-container navbar-wrapper">
  <section class="login p-fixed d-flex text-center bg-primary common-img-bg2" style="overflow: auto">
    <div class="auth-fluid col-md-10">
      <div class="row margin-on-desktop">
        <div class="col-md-6 col-sm-6 responsive-tab">
          <div class="login-card card-body auth-body">
            <form class="md-float-material" [formGroup]="registerstudent" (ngSubmit)="onSubmit()" style="margin: 40px 0px 50px 0px">
              <div class="text-center">
                <img src="assets/images/auth/logo2.png" alt="logo2.png">
              </div>
              <div class="auth-box">
                <div class="s-stepper">
                  <div data-target="#stage1" id="stage-1-step" class="s-step active">
                    <span class="s-step-counter"></span>
                    <small>Register Information</small>
                  </div>
                  <div data-target="#stage2" id="stage-2-step" class="s-step">
                    <span class="s-step-counter"></span>
                    <small>Terms and Conditions</small>
                  </div>
                </div>
                <div class="s-stepper-content">
                  <div id="stage1" class="s-stepper-stage active">
                    <div class="col-md-12 stage">
                      <ngx-loading [show]="loading_1" [config]="{ backdropBorderRadius: '10px',backdropBackgroundColour:'rgba(0, 0, 0, 0.1)'}"></ngx-loading>
                      <h1>Personal Information</h1>
                      <div class="col-md-12 ">
                        <div class="form-group text-left text-dark">
                          <div class="checkbox-fade fade-in-primary">
                            <div class="form-inline">
                              <label>
                                <input type="checkbox" (change)="onChange($event.target.checked)" [checked]="ifStudent">
                                <span class="cr">
                                  <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                </span>
                              </label>
                              &nbsp; Are you a &nbsp;
                              <a (click)="infoStudent()" style="color: dodgerblue; text-decoration: underline; cursor: pointer">Student?</a>
                            </div>
                          </div>
                        </div>
                        <div class="form-group text-left text-dark" *ngIf="showSelected">{{CourseSelected}}</div>
                        <div class="form-group text-left text-dark">
                          <input type="text" class="form-control" id="FirstName" formControlName="FirstName" placeholder="{{'login_register.your_first_name' | translate}}">
                          <span class="messages text-danger" *ngIf="!registerstudent.get('FirstName').valid && registerstudent.get('FirstName').touched">* Please Enter First Name</span>
                        </div>
                        <div class="form-group text-left text-dark">
                          <input type="text" class="form-control" id="LastName" formControlName="LastName" placeholder="{{'login_register.your_last_name' | translate}}">
                          <span class="messages text-danger" *ngIf="!registerstudent.get('LastName').valid && registerstudent.get('LastName').touched">* Please Enter Last Name</span>
                        </div>
                        <div class="form-group text-left text-dark">
                          <input type="email" class="form-control" id="EmailAddress" formControlName="EmailAddress" placeholder="{{'login_register.your_email' | translate}}"
                          (keyup)="checkEmailDuplicate($event.target.value,$event)">
                          <span class="messages text-danger" *ngIf="!registerstudent.get('EmailAddress').valid && registerstudent.get('EmailAddress').touched">* Please Enter Primary Email Address</span>
                          <span class="messages text-danger" *ngIf="!validemail">* Email Address Already Exist</span>
                        </div>
                        <div class="form-group text-left text-dark">
                          <input type="email" class="form-control" id="EmailAddress2" formControlName="EmailAddress2" placeholder="{{'eim.profile.my_profile.email_address_2' | translate}}">
                          <span class="messages text-danger" *ngIf="!registerstudent.get('EmailAddress2').valid && registerstudent.get('EmailAddress2').touched">* Secondary Email Address must<br/>be diferent with Primary Email<br/>Address</span>
                        </div>
                        <div class="form-group text-left text-dark">
                          <select class="form-control" id="Country" formControlName="Country">
                            <option value="">{{'login_register.select_your_country' | translate}}</option>
                            <option *ngIf="datacountry==null">{{'general.loading' | translate}} ...</option>
                            <option *ngIf="datacountry==''">{{'general.data_empty' | translate}}</option>
                            <option *ngFor="let item of datacountry" value={{item.countries_code}}>{{item.countries_name}}</option>
                          </select>
                          <span class="messages text-danger" *ngIf="!registerstudent.get('Country').valid && registerstudent.get('Country').touched">* Please Enter Country</span>
                        </div>
                        <div class="form-group text-left text-dark">
                          <select id="LanguageID" class="form-control" formControlName="LanguageID">
                            <option value="">{{'login_register.select_language' | translate}}</option>
                            <option *ngFor="let item of language" value="{{item.Key}}">{{item.KeyValue}}</option>
                          </select>
                          <span class="messages text-danger" *ngIf="!registerstudent.get('LanguageID').valid && registerstudent.get('LanguageID').touched">* Please Enter Language</span>
                        </div>
                        <div class="form-group text-left text-dark" *ngIf="ifStudent">
                          <div class="form-inline">
                            <div class="form-group">
                              <div class="input-group">
                                <input class="form-control" placeholder="{{'login_register.expected_graduation_date' | translate}}" name="dp0" [(ngModel)]="modelPopup0"
                                ngbDatepicker #d0="ngbDatepicker" readonly="true" id="EGD" formControlName="EGD" [minDate]="minDateEGD">
                                <div class="input-group-addon bg-default" (click)="d0.toggle()">
                                  <span class="icofont icofont-ui-calendar"></span>
                                </div>
                              </div>
                              <span class="messages text-danger" *ngIf="!registerstudent.get('EGD').valid && registerstudent.get('EGD').touched">* Please Enter Excepted Graduation Date</span>
                            </div>
                          </div>
                        </div>
                        <div class="form-group text-left text-dark" *ngIf="ifStudent">
                          <div class="form-inline">
                            <div class="form-group">
                              <div class="input-group">
                                <input class="form-control" placeholder="{{'login_register.your_date_birth' | translate}}" name="dp1" [(ngModel)]="modelPopup1"
                                ngbDatepicker #d1="ngbDatepicker" readonly="true"
                                id="DateBirth" formControlName="DateBirth" [minDate]="minDate" (ngModelChange)="onDateSelect($event)"
                                [maxDate]="maxDate">
                                <div class="input-group-addon bg-default" (click)="d1.toggle()">
                                  <span class="icofont icofont-ui-calendar"></span>
                                </div>
                              </div>
                              <span class="messages text-danger" *ngIf="!registerstudent.get('DateBirth').valid && registerstudent.get('DateBirth').touched">* Please Enter Excepted Graduation Date</span>
                            </div>
                          </div>
                        </div>
                        <div class="row m-t-20">
                          <div class="col-md-6"></div>
                          <div class="col-md-6">
                            <button type="button" (click)="hideStage(1);showStage(2)" class="btn btn-primary btn-outline btn-md btn-block waves-effect text-center m-b-20">Next</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div id="stage2" class="s-stepper-stage">
                    <div class="col-md-12 col-xs-12 stage">
                      <h1>Terms And Conditions</h1>
                      <div style="float: right;margin-right:20px;">
                        <div class="form-group text-left text-dark">
                          <label>
                            We care about your privacy. Please indicate if we may<br/>
                            collect and use data we gather from your use of the<br/>
                            Autodesk Training Evaluation System and from completion<br/>
                            of course, project, and event surveys.<br/>
                            We collect and utilized advanced data analysis about<br/>
                            your use of the Training Evaluation System.<br/>
                            This help us build better applications to support your<br/>
                            learning experience. To ensure our email communications<br/>
                            regarding your scheduled<br/>
                            courses and your certificates of completion are relevant<br/>
                            to you, we collect and analyze data from your completed<br/>
                            course surveys.<br/>
                            All data analytics are reported to the Autodesk Learning<br/>
                            Partner who delivered your training course.
                          </label><br/><br/>
                          <label>
                            Agree to receive survey requests from Autodesk regarding<br/>
                            training courses you have completed or events you have<br/>
                            participated in? 
                          </label><br/>
                          <div class="text-right">
                            <div class="form-radio">
                              <div class="radio radio-inline">
                                <label>
                                  <input type="radio" formControlName="Term1" value="1" (change)="onChangeTerm1($event.target.value)">
                                  <i class="helper"></i>Yes
                                </label>
                              </div>
                              <div class="radio radio-inline">
                                <label>
                                  <input type="radio" formControlName="Term1" value="0" (change)="onChangeTerm1($event.target.value)">
                                  <i class="helper"></i>No
                                </label>
                              </div>
                            </div>
                          </div>
                          <label><br/>
                            Agree to collection and analysis of your feedback from<br/>
                            training evaluation surveys you complete and submit? 
                          </label>
                          <div class="text-right">
                            <div class="form-radio">
                              <div class="radio radio-inline">
                                <label>
                                  <input type="radio" formControlName="Term2" value="1" (change)="onChangeTerm2($event.target.value)">
                                  <i class="helper"></i>Yes
                                </label>
                              </div>
                              <div class="radio radio-inline">
                                <label>
                                  <input type="radio" formControlName="Term2" value="0" (change)="onChangeTerm2($event.target.value)">
                                  <i class="helper"></i>No
                                </label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="row m-t-20">
                          <div class="col-md-6">
                            <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" (click)="hideStage(2);showStage(1)">Back</button>
                          </div>
                          <div class="col-md-6">
                            <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">{{'login_register.btn_register' | translate}}!</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 responsive-tab login-card card-body  card-regist-hilman" style="border-style:solid;
			border-width:1px;
			border-color:gray;">
          <div style="color: #383636;font-size: 28px;text-align: left;font-weight: inherit;">
            {{'login_register.info_student1' | translate}}
            <br/>
            <br/>
          </div>
          <div style="color: #383636;font-size: 18px;text-align: left;font-weight: inherit;">
            <strong>{{'login_register.info_student2' | translate}}</strong>
            <br/>
            <br/> {{'login_register.info_student3' | translate}}.
            <br/>
          </div>
          </div>
        </div>
        <div class="card-footer p-t-0 p-b-0">
          <p class="m-b-0" style="text-align:center; color: black; font-weight: bold">
            <a href="https://www.autodesk.com/company/legal-notices-trademarks/privacy-statement" target="_blank"> Privacy </a> |
            <a href="https://www.autodesk.com/company/legal-notices-trademarks" target="_blank"> Legal Notices & Trademark </a> | © Copyright 2019 Autodesk, Inc. All right reserved.</p>
          </div>
        </div>
      </section>
    </div>
  </div>