<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>Edit Evaluation</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="col-lg-8 col-xl-8">
            <ul class="nav nav-tabs md-tabs" role="tablist">
                <li class="nav-item col-md-6">
                    <a class="nav-link " data-toggle="tab" [routerLink]="['/course/evaluation-student',evalsId,id,evalsNumber]" role="tab" aria-expanded="true">Course information/Prefill questions</a>
                    <div class="slide"></div>
                </li>
                <li class="nav-item col-md-6">
                    <a class="nav-link " data-toggle="tab" [routerLink]="['/course/detail-evaluation',evalsId,id,evalsNumber]" role="tab" aria-expanded="false">Student evaluations</a>
                    <div class="slide"></div>
                </li>
            </ul>
        </div>
        <form [formGroup]="editCourse" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">

                <!--Course title-->
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eva.manage_course.list_course.course_title' | translate}}</label>
                    <input type="text" class="form-control" formControlName="CourseTitle" readonly>
                </div>

                <!--Site id-->
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.manage.site.detail.site_id' | translate}}</label>
                    <ng2-completer [(ngModel)]="siteId" [datasource]="dataService1" [minSearchLength]="2" [inputClass]="['form-control']" (selected)="onSelected($event)"
                        [matchClass]="completer-description" formControlName="SiteId"></ng2-completer>
                </div>

                <!--Instructor id-->
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eva.manage_course.list_course.instructor_id' | translate}}</label>
                    <ng2-completer [(ngModel)]="contactId" [datasource]="dataService2" [minSearchLength]="2" [inputClass]="['form-control']"
                        (selected)="onSelectedInstructor($event)" [matchClass]="completer-description" formControlName="InstructorId"></ng2-completer>
                </div>

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label" *ngIf="parentLabel">{{'eva.manage_course.add.course_date_from' | translate}}</label>
                    <label class="col-form-label" *ngIf="Project">{{'eva.manage_course.add.project_date_from' | translate}}</label>
                    <label class="col-form-label" *ngIf="event">{{'eva.manage_course.add.event_date_from' | translate}}</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="modelPopup1" ngbDatepicker #d1="ngbDatepicker" id="StartDate"
                            formControlName="StartDate" readonly="true" (ngModelChange)="onSelectDateStart($event)">
                        <div class="input-group-addon bg-default" (click)="d1.toggle()">
                            <span class="icofont icofont-ui-calendar"></span>
                        </div>
                    </div>
                    <span class="messages text-danger" *ngIf="!editCourse.get('StartDate').valid && editCourse.get('StartDate').touched">* Please Enter Start Date</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eva.manage_course.add.to' | translate}}</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="modelPopup2" ngbDatepicker #d2="ngbDatepicker" id="EndDate"
                            formControlName="EndDate" readonly="true" (ngModelChange)="onSelectDateEnd($event)">
                        <div class="input-group-addon bg-default" (click)="d2.toggle()">
                            <span class="icofont icofont-ui-calendar"></span>
                        </div>
                    </div>
                    <span class="messages text-danger" *ngIf="!editCourse.get('EndDate').valid && editCourse.get('EndDate').touched">* Please Enter End Date</span>
                </div>

                <div class="col-md-12 col-xl-12" *ngIf="ATC1">
                    <label class="col-form-label">1. {{'eva.manage_course.question.atc.question_1_atc1' | translate}}?</label>
                </div>
                <div class="col-md-12 col-xl-12 form-check form-inline" *ngIf="ATC1">
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Update">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox1_update' | translate}}</span>
                        </label>
                    </div>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Essentials">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>Level 1 : {{'eva.manage_course.question.atc.checkbox1_essential' | translate}}</span>
                        </label>
                    </div>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Intermediate">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>Level 2 : {{'eva.manage_course.question.atc.checkbox1_intermediate' | translate}}</span>
                        </label>
                    </div>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Advanced">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>Level 3 : {{'eva.manage_course.question.atc.checkbox1_advanced' | translate}}</span>
                        </label>
                    </div>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Customized">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox1_custmomized' | translate}}</span>
                        </label>
                    </div>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Other" (change)="onChangeOther($event.target.checked)">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox1_other' | translate}}</span>&nbsp;
                            <input type="text" class="form-control" formControlName="Komen">
                        </label>
                    </div>
                </div>

                <div class="col-md-12 col-xl-12">&nbsp;</div>

                <div class="col-md-12 col-xl-12" *ngIf="ATC2">
                    <label class="col-form-label">2a. {{'eva.manage_course.question.atc.question_2a_atc2' | translate}}?</label>
                </div>
                <div class="col-md-6 col-xl-6 form-group" *ngIf="ATC2">
                    <label class="col-form-label">{{'eva.manage_course.question.atc.select2a_primary_product' | translate}}</label>
                    <select name="QProduct" class="form-control" (change)="findVersion1($event.target.value)" formControlName="Product1">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of products" value="{{item.productId}}">{{item.productName}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('Product1').valid && editCourse.get('Product1').touched">* Please Select Primary Product</span>
                </div>
                <div class="col-md-3 col-xl-3 form-group" *ngIf="ATC2">
                    <label class="col-form-label">{{'eva.manage_course.question.atc.select2a_version' | translate}}</label>
                    <select name="QVersion" class="form-control" formControlName="Version1">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of versions1" value="{{item.ProductVersionsId}}">{{item.Version}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('Version1').valid && editCourse.get('Version1').touched">* Please Select Primary Product Version</span>
                </div>

                <div class="col-md-12 col-xl-12" *ngIf="ATC2">
                    <label class="col-form-label">2b. {{'eva.manage_course.question.atc.question_2b_atc2' | translate}}?</label>
                </div>
                <div class="col-md-6 col-xl-6 form-group" *ngIf="ATC2">
                    <label class="col-form-label">{{'eva.manage_course.question.atc.select2b_secondary_product' | translate}}</label>
                    <select name="QProduct" class="form-control" (change)="findVersion2($event.target.value)" formControlName="Product2">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of products" value="{{item.productId}}">{{item.productName}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('Product2').valid && editCourse.get('Product2').touched">* Please Select Secondary Product</span>
                </div>
                <div class="col-md-3 col-xl-3 form-group" *ngIf="ATC2">
                    <label class="col-form-label">{{'eva.manage_course.question.atc.select2a_version' | translate}}</label>
                    <select name="QVersion" class="form-control" formControlName="Version2">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of versions2" value="{{item.ProductVersionsId}}">{{item.Version}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('Version2').valid && editCourse.get('Version2').touched">* Please Select Secondary Product Version</span>
                </div>

                <div class="col-md-12 col-xl-12 form-inline" *ngIf="event">
                    <label class="col-form-label">2. {{'eva.manage_course.question.event.question_2_event' | translate}}</label>&nbsp;&nbsp;
                    <input type="text" name="QLocation" class="form-control" formControlName="LocationName">
                    <span class="messages text-danger" *ngIf="!editCourse.get('LocationName').valid && editCourse.get('LocationName').touched">* Please Enter Location Name</span>
                </div>

                <div class="col-md-12 col-xl-12">&nbsp;</div>

                <div class="col-md-12 col-xl-12 form-inline" *ngIf="ATC3">
                    <label class="col-form-label">3. {{'eva.manage_course.question.atc.question_3_atc3' | translate}}?</label>&nbsp;&nbsp;
                    <!-- <input type="text" name="QHour" class="form-control" formControlName="TrainingHours"> -->
                    <select formControlName="TrainingHours" class="form-control">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of trainingHours" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('TrainingHours').valid && editCourse.get('TrainingHours').touched">* Please Enter Training Hours</span>
                </div>

                <div class="col-md-12 col-xl-12 form-inline" *ngIf="Project">
                    <label class="col-form-label">3. {{'eva.manage_course.question.project.question_3_project' | translate}}?</label>&nbsp;&nbsp;
                    <!-- <input type="text" name="QHour" class="form-control" formControlName="TrainingHours"> -->
                    <select formControlName="TrainingHours" class="form-control">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of trainingHours" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('TrainingHours').valid && editCourse.get('TrainingHours').touched">* Please Enter Project Hours</span>
                </div>

                <div class="col-md-4 col-xl-4 form-inline" *ngIf="event">
                    <label class="col-form-label">3. {{'eva.manage_course.question.event.question_3_event' | translate}}</label>&nbsp;&nbsp;
                    <select name="EventType" class="form-control" formControlName="EventType">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of typeOf" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('EventType').valid && editCourse.get('EventType').touched">* Please Select Event Type</span>
                </div>

                <div class="col-md-12 col-xl-12">&nbsp;</div>

                <div class="col-md-12 col-xl-12" *ngIf="ATC4">4. {{'eva.manage_course.question.atc.question_4_atc4' | translate}}?</div>
                <div class="col-md-6 col-xl-6 form-group" *ngIf="ATC4">
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="InstructorLed">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox4_classroom' | translate}}</span>
                        </label>
                    </div>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Online">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox4_online' | translate}}</span>
                        </label>
                    </div>
                </div>

                <div class="col-md-12 col-xl-12 form-inline" *ngIf="Course">
                    <label class="col-form-label">4. {{'eva.manage_course.question.course.question_4_course' | translate}}?</label>&nbsp;&nbsp;
                    <select name="TrainingType" class="form-control" formControlName="TrainingType">
                        <option value="">--Select Training Type--</option>
                        <option *ngFor="let item of typeOf" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('TrainingType').valid && editCourse.get('TrainingType').touched">* Please Select Training Type</span>
                </div>

                <div class="col-md-12 col-xl-12 form-inline" *ngIf="Project">
                    <label class="col-form-label">4. {{'eva.manage_course.question.project.question_4_project' | translate}}?</label>&nbsp;&nbsp;
                    <select class="form-control" formControlName="ProjectType">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of typeOf" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editCourse.get('ProjectType').valid && editCourse.get('ProjectType').touched">* Please Select Project Type</span>
                </div>

                <div class="col-md-12 col-xl-12" *ngIf="Course">5. {{'eva.manage_course.question.atc.question_4_atc4' | translate}}?</div>
                <div class="col-md-6 col-xl-6 form-group" *ngIf="Course">
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="InstructorLed">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox4_classroom' | translate}}</span>
                        </label>
                    </div>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Online">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox4_online' | translate}}</span>
                        </label>
                    </div>
                </div>

                <div class="col-md-12 col-xl-12" *ngIf="Course">6. {{'eva.manage_course.question.atc.question_5_atc5' | translate}}?</div>
                <div class="col-md-12 col-xl-12 form-group" *ngIf="Course">
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Autodesk">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox1_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="AAP">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox2_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="ATC">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox3_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Independent">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox4_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="IndependentOnline">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox5_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="ATCOnline">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox6_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="form-inline">
                        <div class="checkbox-fade fade-in-primary">
                            <label>
                                <input type="checkbox" formControlName="Other5" (change)="onChangeOther2($event.target.checked)">
                                <span class="cr">
                                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                </span>
                                <span>{{'eva.manage_course.question.atc.checkbox7_5' | translate}}</span>&nbsp;
                                <input type="text" class="form-control" formControlName="Komen5">
                            </label>
                        </div>
                    </div>
                </div>

                <div class="col-md-12 col-xl-12" *ngIf="ATC6">5. {{'eva.manage_course.question.atc.question_5_atc5' | translate}}?</div>
                <div class="col-md-12 col-xl-12 form-group" *ngIf="ATC6">
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Autodesk">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox1_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="AAP">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox2_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="ATC">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox3_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="Independent">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox4_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="IndependentOnline">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox5_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" formControlName="ATCOnline">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span>{{'eva.manage_course.question.atc.checkbox6_5' | translate}}</span>
                        </label>
                    </div>
                    <br/>
                    <div class="form-inline">
                        <div class="checkbox-fade fade-in-primary">
                            <label>
                                <input type="checkbox" formControlName="Other5" (change)="onChangeOther2($event.target.checked)">
                                <span class="cr">
                                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                </span>
                                <span>{{'eva.manage_course.question.atc.checkbox7_5' | translate}}</span>&nbsp;
                                <input type="text" class="form-control" formControlName="Komen5">
                            </label>
                        </div>
                    </div>
                </div>

                <div class="mt-2 ml-2 col-md-12 col-xl-12 form-group row">
                    <div class="col-md-10 col-xl-10 form-group">
                    </div>
                    <!-- <div class="col-md-2 col-xl-2 form-group">
                        <button type="submit" class="btn btn-success btn-md btn-block text-center">
                            <i class="icofont icofont-save"></i> {{'general.btn_save' | translate}}</button>
                    </div> -->
                    <!-- <div class="col-md-2 col-xl-2 form-group">
                        <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                            <i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}</button>
                    </div> -->
                    <div class="col-md-2 col-xl-2 form-group">
                        <button type="button" [routerLink]="['/course/course-update', id, evalsNumber, partnerType]" class="btn btn-danger btn-md btn-block text-center">
                            <i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>