.card-block-dashboard {
	height: 430px !important;
	max-height: 700px;
}
.card-container{
margin-left:1px;
padding:5px 15px 0px;

}
.ti-size {
  font-size: 50px;
  color: lightcoral;
}
.modal-dialog{
margin-top: 8.5% !important;
}
.clickablediv {
  cursor: pointer;
}
.modal-content{
	width:900px !important;
	margin-left:-50px !important;
}
