<div  class="col-md-12 col-xl-12" > 
    <div class="card card-border-message">
        <font style = "color: red ; padding: 2% ;">
            Attention—User Alert!
            On 13 MAY 2019, Autodesk will release a major version update of the Training Evaluation System (TES) and Partner Database (PDB). All users are required to complete the following steps after this release date.
           <ol><li> After 13 May 2019, each user must launch the TES or PDB System, and perform a user log out by selecting ‘Log Out’, located under their user name (email address). </li>
            <li> User must clear their browser cache before logging back into the TES or PDB system.  User will refer to their browser help for instructions on clearing the browser cache.</li>
            <li> User should log back into the TES or PDB after the browser cache is cleared.</li>
            <li> If a user does not complete these steps they will experience performance issues with the new release of the TES or PDB Systems.</li></ol>
          
           </font>
    </div>
</div>
<div class="col-lg-12 col-xl-4 form-group" *ngIf="adminkan">
    <label class="col-form-label">Choose the Organization
        <code>*</code>
    </label>
    <ng2-completer [textSearching]="'Please wait...'" [(ngModel)]="Organization" [datasource]="dataService" [minSearchLength]="2"
        [inputClass]="['form-control']" (selected)="PickedOrganization($event)" [matchClass]="completer-description" [ngModelOptions]="{standalone: true}">
    </ng2-completer>
</div>

<div class="row" *ngIf="tampilin">
  <div class="row col-12 card-container " style="margin-left: 0px !important;" *ngIf="useraccesdata.Access.UserLevelId==='TRAINER'">

    <div class="col clickablediv" id="endEval" name="endEval" (click)="open(content,'courseEnd')">
      <div style="margin-right:5px;margin-left:-19px;">
        <div class="card">
          <div class="card-body pv">
            <div class="clearfix">
              <div class="pull-left">
                <h4 class="m0 text-thin">{{courseModel.Count}}</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>TOP 5 Course End Date This Week</small>
              </div>
              <div class="pull-right d-none d-sm-none d-md-block">
                <div><span class="ti-size"><i class="ti-pie-chart"></i></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
	  
    </div>
    <div class="col clickablediv" id="courseEnd" name="courseEnd" (click)="open(content,'evalEnd')">
      <div style="margin-right:-13px;">
        <div class="card">
          <div class="card-body pv">
            <div class="clearfix">
              <div class="pull-left">
                <h4 class="m0 text-thin">{{evalModel.Count}}</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>TOP 5 Course Evaluation End Date This Week</small>
              </div>
              <div class="pull-right d-none d-sm-none d-md-block">
                <div><span class="ti-size"><i class="ti-pie-chart"></i></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--<div class="col clickablediv" id="enrol" name="enrol" (click)="open(content,'enrol')">
      <div style="margin-right:-13px;margin-left:5px;">
        <div class="card">
          <div class="card-body pv">
            <div class="clearfix">
              <div class="pull-left">
                <h4 class="m0 text-thin">{{studentModel.Count}}</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>TOP 5 Students Enrol This Week
                </small>
              </div>
              <div class="pull-right d-none d-sm-none d-md-block">
                <div><span class="ti-size"><i class="ti-pie-chart"></i></span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>-->


  </div>

  <ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{popUpModel.Title}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngFor="let item of popUpModel.List.DataList">
        <div class="row" style="padding: 5px;">
          <!-- [routerLink]="['/course/course-list']"-->
          <a class="col" (click)="confirmEdit(item.Id)">
            {{item.Id}}
          </a>
          <div class="col">{{item.Name}}</div>
          <div class="col">{{item.SDate}}</div>
          <div class="col">{{item.EDate}}</div>
        </div>


      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c('Close')">Close</button>
    </div>
  </ng-template>

  <div *ngIf="show1" class="col-md-12 col-xl-4">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Site Performance By Month</h5>
      </div>
      <div class="card-block card-block-dashboard">
        <!--isu di grup AD tambah loading di setiap chart-->
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
        <google-chart [data]="doughChartPerformanceSite"></google-chart>
      </div>
    </div>
  </div>

  <div *ngIf="show2" class="col-md-12 col-xl-4">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>{{'dashboard.organization.top_instructor' | translate}}</h5>
      </div>
      <div class="card-block card-block-dashboard">
        <!--isu di grup AD tambah loading di setiap chart-->
        <ngx-loading [show]="loading_1" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
        <google-chart [data]="tableChartDataTopInstructor"></google-chart>
      </div>
    </div>
  </div>

  <div *ngIf="show3" class="col-md-12 col-xl-4">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Total Courses Delivered By Sites</h5>
      </div>
      <div class="card-block card-block-dashboard">
        <!-- <div id="chart4"></div> -->
        <!--isu di grup AD tambah loading di setiap chart-->
        <ngx-loading [show]="loading_2" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
        <div id="morris-bar-chart-partner"></div>
      </div>
    </div>
  </div>

  <div *ngIf="show4" class="col-md-12 col-xl-4">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>{{ 'dashboard.admin.total_evaluation_survey' | translate }}</h5>
      </div>
      <div class="card-block card-block-dashboard">
        <!-- <google-chart [data]="doughChartTotalEvaluationSurveyByMonth"></google-chart> -->
        <!--isu di grup AD tambah loading di setiap chart-->
        <ngx-loading [show]="loading_3" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
        <div id="morris-bar-chart-month"></div>
      </div>
    </div>
  </div>

  <div *ngIf="show5" class="col-md-12 col-xl-4">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Evaluation Survey Taken By Core Products</h5>
      </div>
      <div class="card-block card-block-dashboard">
        <!--isu di grup AD tambah loading di setiap chart-->
        <ngx-loading [show]="loading_4" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
        <google-chart [data]="doughChartCoreProductsAgainstAllCourses"></google-chart>
      </div>
    </div>
  </div>

</div>
