<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>Fee Management Report</h4>
        </div>
    </div>
    <div class="card-block">
            <form [formGroup]="searchInvoice" (ngSubmit)="onSubmit()">
        <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-12 col-xl-12 form-group row">
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">Show On</label>
                        <select class="form-control" id="ORGReport" formControlName="ORGReport">
                            <option value='ALL'>All ORG</option>
							<option value='SKU'>With SKU</option>
                        </select>
                    </div>
                    <div class="col-md-12 col-xl-12">&nbsp;</div>
                    <div *ngIf="searchInvoice.get('ORGReport').value=='SKU'" class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">Reference no</label>
                        <input type="text" id="text" class="form-control" formControlName="invoiceNumber" placeholder="{{'epdb.manage.organization.add_invoice.invoice_number' | translate}}">
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">Fiscal Year</label>
                        <!-- <select class="form-control" id="FinancialYear" formControlName="FinancialYear">
                            <option value="">All</option>
                            <option *ngFor="let item of datayearcurrency" value={{item.Key}}>{{item.KeyValue}}</option>
                        </select> -->
                        <angular2-multiselect [data]="dropdownListFiscalYear" [(ngModel)]="selectedItemsFiscalYear" [ngModelOptions]="{standalone: true}"
                            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">Invoice status</label>
                        <!-- <select class="form-control" formControlName="filterByInvoiceStatus">
                            <option value="">All</option>
                            <option value="X">Paid</option>
                            <option value="A">Pending</option>
                            <option value="C">Cancelled</option>
                        </select> -->
                        <angular2-multiselect [data]="dropdownListStatus" [(ngModel)]="selectedItemsStatus" [ngModelOptions]="{standalone: true}"
                            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                        </angular2-multiselect>
                        <!--
                        <label class="col-form-label">{{'epdb.report.org_journal_entry.where_the_setting' | translate}}:</label>
                        <div class="form-radio">
                            <div class="radio radiofill radio-primary radio-inline">
                                <label>
                                    <input type="radio" name="member" value="free" data-bv-field="member" (change)="notpresent()">
                                    <i class="helper"></i>{{'epdb.report.org_journal_entry.is_not_present' | translate}}
                                </label>
                            </div>
                            <br>
                            <div class="radio radiofill radio-primary radio-inline">
                                <label>
                                    <input type="radio" name="member" value="personal" data-bv-field="member" (change)="present()">
                                    <i class="helper"></i>{{'epdb.report.org_journal_entry.is_present' | translate}}
                                </label>
                            </div>
                        </div>
                    -->
                    </div>
                    <div *ngIf="searchInvoice.get('ORGReport').value=='SKU'" class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">From</label>
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="modelPopup1" ngbDatepicker #d1="ngbDatepicker">
                                    <div class="input-group-addon bg-default" (click)="d1.toggle()">
                                        <span class="icofont icofont-ui-calendar"></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div *ngIf="searchInvoice.get('ORGReport').value=='SKU'" class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">To</label>
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="modelPopup2" ngbDatepicker #d2="ngbDatepicker">
                                    <div class="input-group-addon bg-default" (click)="d2.toggle()">
                                        <span class="icofont icofont-ui-calendar"></span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 col-xl-12">&nbsp;</div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.report.organization_report.filter_by_partner_type' | translate}}:</label>
                        <angular2-multiselect [data]="dropdownListPartner" [(ngModel)]="selectedItemsPartner" [ngModelOptions]="{standalone: true}"
                            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                        </angular2-multiselect>
                        <span class="messages text-danger" *ngIf="showValidPartnerType">* Please Select Partner Type</span>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.report.organization_report.filter_by_partner_status' | translate}}:</label>
                        <angular2-multiselect [data]="dropdownListPartnerTypeStatus" [(ngModel)]="selectedItemsPartnerTypeStatus" [settings]="dropdownSettings"
                            [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                        </angular2-multiselect>
                        <span class="messages text-danger" *ngIf="showValidPartnerStatus">* Please Select Partner Status</span>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.report.organization_report.filter_by_market_type' | translate}}:</label>
                        <angular2-multiselect [data]="dropdownListMarketType" [(ngModel)]="selectedItemsMarketType" [settings]="dropdownSettings"
                            [ngModelOptions]="{standalone:true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                        </angular2-multiselect>
                        <span class="messages text-danger" *ngIf="showValidMarketType">* Please Select Market Type</span>
                    </div>
                    <div class="col-md-12 col-xl-12">&nbsp;</div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.report.organization_report.filter_by_location' | translate}}:</label>
                        <br>
                        <label class="col-form-label">{{ 'epdb.admin.country.territory.territory' | translate }}</label>
                        <angular2-multiselect [data]="dropdownListTerritories" [(ngModel)]="selectedItemsTerritories" [settings]="dropdownSettings"
                            [ngModelOptions]="{standalone: true}" (onSelect)="onTerritorySelect($event)" (onDeSelect)="onTerritoryDeSelect($event)"
                            (onSelectAll)="onTerritorySelectAll($event)" (onDeSelectAll)="onTerritoryDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">&nbsp;</label>
                        <br>
                        <label class="col-form-label">{{ 'epdb.admin.country.geo.geo' | translate }}</label>
                        <angular2-multiselect [data]="dropdownListGeo " [(ngModel)]="selectedItemsGeo" [ngModelOptions]="{standalone:true}" [settings]="dropdownSettings"
                            (onSelect)="onGeoSelect($event)" (onDeSelect)="OnGeoDeSelect($event)" (onSelectAll)="onGeoSelectAll($event)"
                            (onDeSelectAll)="onGeoDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">&nbsp;</label>
                        <br>
                        <label class="col-form-label">{{ 'epdb.admin.country.countries.country' | translate }} <code>*</code></label>
                        <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" [settings]="dropdownSettings" [ngModelOptions]="{standalone: true}"
                            (onSelect)="onCountriesSelect($event)" (onDeSelect)="OnCountriesDeSelect($event)" (onSelectAll)="onCountriesSelectAll($event)"
                            (onDeSelectAll)="onCountriesDeSelectAll($event)">
                        </angular2-multiselect>
                        <span class="messages text-danger" *ngIf="showValidCountry">* Please Select Country</span>
                    </div>
                    <!--
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.manage.organization.detail.organization' | translate}}</label>
                        <angular2-multiselect [data]="dropdownListFieldOrganization" [(ngModel)]="selectedItemsFieldOrganization" [settings]="dropdownSettings"
                            [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                    -->
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{ 'epdb.report.organization_report.field_show_result' | translate }}</label>
                        <angular2-multiselect [data]="dropdownListFieldInvoice" [(ngModel)]="selectedItemsFieldInvoice" [settings]="dropdownSettings"
                            [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event) ">
                        </angular2-multiselect>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <!--
                        <label class="col-form-label"><b>&nbsp;</b></label>
                        <angular2-multiselect [data]="dropdownListFieldShow2" [(ngModel)]="selectedItemsFieldShow2" [settings]="dropdownSettings"
                            [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event) ">
                        </angular2-multiselect>
                        -->
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <!--
                        <label class="col-form-label">
                            <b>&nbsp;</b>
                        </label>
                        <br>
                        <label class="col-form-label">{{'epdb.report.invoice_report.preselected' | translate}}:</label>
                        <select name="PartnerType" class="form-control" (change)="preselected($event.target.value)">
                            <option value="">-- {{'general.select' | translate}} --</option>
                            <option value="1">Finance Report for Paid Total</option>
                            <option value="2">FY09 Financial Report</option>
                        </select>
                        -->
                    </div>
                    <div class="col-md-12 col-xl-12">&nbsp;</div>
                    <div class="col-md-6 col-xl-6">&nbsp;</div>
                    <div class="col-md-2 col-xl-2">
                        <button type="submit " class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                            <i class="icofont icofont-play-alt-1 "></i>{{ 'general.search' | translate }}</button>
                    </div>
                    <div class="col-md-2 col-xl-2 ">
                        <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                            <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}
                        </button>
                    </div>
                    <div class="col-md-2 col-xl-2">
                        <button type="button" (click)="stopquery()" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                            <i class="icofont icofont-stop"></i>{{ 'general.btn_stop_query' | translate }}</button>
                    </div>
                </div>
            
        </div>
		</form>
    </div>
</div>


<div class="card" *ngIf="dataFound">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.manage.organization.search.search_result' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4  row p-20">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-3">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-3 pt-2"><span *ngIf="totalamount">Total Amount: {{totalamount| number:'1.2-2'}}</span></div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <i class="fa fa-file-excel-o"></i><a [routerLink]="['/report/invoice-report-new']" (click)="ExportExceltoXls()"> Export to .xls</a> &nbsp;    
                    <i class="fa fa-file-excel-o"></i><a [routerLink]="['/report/invoice-report-new']" (click)="ExportExceltoXlSX()"> Export to .xlsx</a> &nbsp;    
                    <i class="fa fa-file-excel-o"></i><a [routerLink]="['/report/invoice-report-new']" (click)=" ExportExceltoCSV()"> Export to .csv</a>    
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table" style="display:table" [mfData]="reportInvoice"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
                    <thead>
                        <tr>
                            <th *ngIf="displayField('Territory name')" width="40%">Territory name</th>
                            <th *ngIf="displayField('ORG ID')" width="40%">ORG ID</th>
                            <th *ngIf="displayField('ORG Name')" width="40%">ORG Name</th>
                            <!--<th *ngIf="displayField('ORG Status')" width="40%">ORG Status</th>-->
                            <th *ngIf="displayField('Site ID')" width="20%">Site ID</th>
                            <th *ngIf="displayField('Site Name')" width="20%">Site Name</th>
                            <th *ngIf="displayField('Partner Type')" width="20%">Partner Type</th>
                            <th *ngIf="displayField('SKU Name')" width="20%">SKU Name</th>
                            <th *ngIf="displayField('Quantity')" width="20%">Quantity</th>
                            <th *ngIf="displayField('Site Status')" width="20%">Site Status</th>
                            <th *ngIf="displayField('SKU Price Band')" width="20%">SKU Price Band</th>
                            <th *ngIf="displayField('Country')" width="20%">Country</th>
                            <th *ngIf="displayField('SKU $ SRP')" width="20%">SKU $ SRP</th>
                            <th *ngIf="displayField('Invoice Status')" width="20%">Invoice Status</th>
                            <th *ngIf="displayField('Discount')" width="20%">Discount</th>
                            <th *ngIf="displayField('site total $$')" width="20%">site total $$</th>
                            <th *ngIf="displayField('ORG total $$')" width="20%">ORG total $$</th>
                            <th *ngIf="displayField('ORG total $$ (Incl. Discount)')" width="20%">ORG total $$ (Incl. Discount)</th>
                            <th *ngIf="displayField('Valid Agreement in place')" width="20%">Valid Agreement in place</th>
                            <th *ngIf="displayField('Date Payment Received')" width="20%">Payment Received Date</th>
                            <th *ngIf="displayField('Description')" width="20%">Description</th>
                            <th *ngIf="displayField('Last Admin')" width="20%">Last Admin</th>
                            <th *ngIf="displayField('Autodesk Approver')" width="20%">Autodesk Approver</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="reportInvoice!=null">
                        <tr *ngFor="let item of mf.data">
                            <td *ngIf="displayField('Territory name')">{{item.Territory}}</td>
                            <td *ngIf="displayField('ORG ID')"><a routerLink="/manage/organization/detail-organization/{{item.OrgIdInt}}">{{item.OrgId}}</a></td>
                            <td *ngIf="displayField('ORG Name')">{{item.OrgName}}</td>
                            <!--<td *ngIf="displayField('ORG Status')">{{item.OrgStatus}}</td>-->
                            <td *ngIf="displayField('Site ID')"><a routerLink="/manage/site/detail-site/{{item.SiteIdInt}}">{{item.SiteId}}</a></td>
                            <td *ngIf="displayField('Site Name')">{{item.SiteName}}</td>
                            <td *ngIf="displayField('Partner Type')">{{item.PartnerType}}</td>
                            <td *ngIf="displayField('SKU Name')">{{item.SKUName}}</td>
                            <td *ngIf="displayField('Quantity')">{{item.QTY}}</td>
                            <td *ngIf="displayField('Site Status')">{{getSiteStatusLabel(item.SiteStatus)}}</td>
                            <td *ngIf="displayField('SKU Price Band')" class="text-right">{{item.PriceBand| number:'1.2-2'}}</td>
                            <td *ngIf="displayField('Country')">{{item.CountriesName}}</td>
                            <td *ngIf="displayField('SKU $ SRP')" class="text-right">{{item.SKUSRP| number:'1.2-2'}}</td>
                            <td *ngIf="displayField('Invoice Status')">{{item.InvoiceStatus}}</td>
                            <td *ngIf="displayField('Discount')">{{item.Discount| number:'1.2-2'}} {{item.AmountType=='Percentage'?'%':'$'}}</td>
                            <td *ngIf="displayField('site total $$')" class="text-right">{{getSiteTotalAmount(item.OrgId,item.SiteId)| number:'1.2-2'}}</td>
                            <td *ngIf="displayField('ORG total $$')" class="text-right">{{item.OrgTotal| number:'1.2-2'}}</td>
                            <td *ngIf="displayField('ORG total $$ (Incl. Discount)')" class="text-right">{{item.ORGTotalInclDiscount| number:'1.2-2'}}</td>
                            <td *ngIf="displayField('Valid Agreement in place')">{{item.ValidAgreementInPlace}}</td>
                            <td *ngIf="displayField('Date Payment Received')">{{item.PaymentReceiveDate | date}}</td>
                            <td *ngIf="displayField('Description')">{{item.Description}}</td>
                            <td *ngIf="displayField('Last Admin')">{{item.LastAdmin}}</td>
                            <td *ngIf="displayField('Autodesk Approver')">{{item.Approver}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="reportInvoice!=null">
                            <td colspan="75">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="reportInvoice==null">
                            <td colspan="75" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="reportInvoice==''">
                            <td colspan="75" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>