.aap-agreement-content {
    font-family: "Times New Roman", Times, serif !important;
    font-size: 15px;
}

.aap-agreement-content .title{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

.aap-agreement-content .first-page {
    font-size: 17px;
}