<div class="text-justify aap-agreement-content">
  <div class="first-page">
    <p class="title">
        THIS AGREEMENT SHALL BE VOID IF UNILATERALLY MODIFIED BY TRAINING PROVIDER 
        <br/>AUTODESK AUTHORIZED ACADEMIC PARTNER AGREEMENT
        <br/>AAP Organization ID Number: {{data.orgId}}
    </p>
    <p>
      This Autodesk Authorized Training Center Agreement ("<b>Agreement</b>") is made between the AUTODESK (as defined below) ("<b>Autodesk</b>") and 
      {{data.orgName}} a company with offices located at {{data.address}}
      ("<b>Training Provider</b>"), and is effective as of the Effective Date. This Agreement consists of the terms set forth herein, the Autodesk Learning Partner
      General Terms and Conditions, the Forms, and the Program Guide.
    </p>
    <p>
      All Sites are bound by the terms and conditions of this Agreement. Training Provider represents that it has listed all Sites in its Forms.
    </p>
    <p>
      <b>ATC Appointment</b><br>
      Autodesk hereby appoints Training Provider as an Autodesk Authorized Training Center, subject to all of the terms and conditions set forth in this Agreement and the Program Guide. As an ATC, Training Provider shall offer and maintain quality services for End Users, using Autodesk Software Products as the primary training or support tools. Training Provider agrees to offer services solely to End Users who physically reside in the Territory.
    </p>
  </div>
  
  <div class="page-break"></div>
  <div>
    <p><b>Autodesk Learning Partner General Terms and Conditions</b></p>
    <p>These Autodesk Learning Partner General Terms and Conditions are hereby incorporated by reference into the Authorized Training Center Agreement and the Authorized Academic Partner Agreement.</p>
    <p><b>1. Definitions</b></p>
    <p>
      "<b>Academic Customers</b>" means Qualified Educational Institutions, Faculty, Educators, Students and other academic
      customers approved by Autodesk.
    </p>
    <p>
      "<b>Autodesk</b>" means Autodesk, Inc., a Delaware corporation, except that if, Training Provider submitted ATC or AAP authorization application Forms in (a) a country in Europe, Africa, or the Middle East, "Autodesk" means Autodesk Ireland Operations Limited or (b) a country in Asia, Oceania, or the Asia-Pacific region, "Autodesk" means Autodesk Asia Pte Ltd.
    </p>
    <p>
      "<b>Autodesk Authorized Academic Partner</b>" or "<b>AAP</b>" means an entity, which has been authorized by Autodesk as entitled to participate in the Authorized Academic Partner Program pursuant to the terms specified by Autodesk ("<b>AAP Program</b>").
    </p>
    <p>
      "<b>Autodesk Authorized Training Center</b>" or "<b>ATC</b>" means an entity, which has been authorized by Autodesk as entitled to participate in the Authorized Training Center Program pursuant to the terms specified by Autodesk ("<b>ATC Program</b>").
    </p>
    <p>
      "<b>Autodesk Certified Instructor</b>" or "<b>ACI</b>" means individuals meeting requirements established in the Autodesk Certified Instructor Program pursuant to the terms specified by Autodesk ("<b>ACI Program</b>") and holding a current Autodesk Certified Instructor certification.
    </p>
    <p>
      "<b>Autodesk Learning Partner</b>" "<b>Learning Partner</b>" or "<b>ALP</b>" means an entity authorized by Autodesk in writing to identify themselves as an Autodesk Learning Partner and given permission to use the designation, branding, and logo as identified in the Guide, as updated from time to time, posted to the Partner Portal or other location identified by Autodesk. Autodesk Learning Partners prepare and support educators, students, businesses, industry professionals, and End Users in their efforts to use Autodesk Software Products, Autodesk Learning Partners include, without limitation, Training Providers and Companies with the following authorizations: Autodesk Learning Products Distributors, ATC, AAP, ACI, MTP, CTC.
    </p>
    <p>
      "<b>Autodesk Software Product(s)</b>" means the then-current Autodesk software, web-based services offerings and other product offerings of Autodesk and its subsidiaries and affiliates (including their accompanying documentation and respective updates) made available by Autodesk or its designated Distributor for distribution to Training Providers, for which Training Provider meets the Program authorization requirements published by Autodesk from time to time.
    </p>
    <p>
      "<b>Autodesk Systems</b>" means the Autodesk systems and platforms Autodesk has authorized ATC or AAP to access to provide training services to End Users(s).
    </p>
    <p>
      "<b>Confidential Information</b>" means any (a) information designated as confidential orally or in writing by Autodesk, (b) information related to any Autodesk Software Product, (c) information related to Autodesk’s business, or (d) other information or materials received by Training Provider by virtue of its relationship with Autodesk, whether received directly from Autodesk or indirectly from a designated Distributor, including, but not limited to, Partner Records, End-User Records and End User Data which may be made available to designated Distributor by Autodesk or collected by designated Distributor in connection with the training services, product plans, product designs, product costs, product prices, product names, finances, marketing plans, business opportunities, personnel, research, development, or know-how.
    </p>
    <p>
      "<b>Course</b>" means a training course on Autodesk Software Products that meets the Course Requirements and is offered by an ATC or AAP to End Users and is registered in the Autodesk Training Evaluation System.
    </p>
    <p>
      "<b>Distributor</b>" means Autodesk’s designated Distributor for Autodesk Software Products, Autodesk Learning Partner programs, and other materials related to the applicable products or programs available in the Distributor’s assigned territory.
    </p>
    <p>
      "<b>Educational Purposes</b>" means (i) in the case of a Qualified Educational Institution, Faculty or Other Authorized Educational Licensees, purposes directly related to learning, teaching, training, research and development that are part of the instructional functions performed by a Qualified Educational Institution or Other Authorized Educational Licensee and (ii) in the case of Students, purposes related to learning, training, research or development. Educational Purposes does not include commercial, professional or any other for-profit purposes.
    </p>
    <p>
      "<b>Effective Date</b>" means the date this Agreement shall be effective, which is the date this Agreement was accepted by the Training Provider and receipt of payment of annual Subscription Fees as applicable by Training Provider to Autodesk or its designated Distributor and shall remain in full force and effect through the Term of the Agreement.
    </p>
    <p>
      "<b>End User</b>" means any third party customer or Academic Customer (i) receiving training or certification services from Training Provider related to Autodesk Software Products; or (ii) that desires to lawfully purchase, or who has lawfully licensed, one or more legitimate Autodesk Software Product, for its own use, and not for transfer, resale or redistribution; or (iii) an existing or potential customer of Training Provider; or an Educational Institution’s qualified student, educator, or Faculty user of Autodesk Software Products.
    </p>
    <p>
      "<b>End User Data</b>" means Autodesk Partner Records together with any information maintained by Autodesk or any third party on Autodesk’s behalf relating to a specific End User including Autodesk Product registration information and data (which may be modified by Autodesk in its sole discretion), customer satisfaction data, analytics and purchasing history.
    </p>
    <p>
      "<b>E-Learning Course</b>" means a virtual or online practical learning model or training course on Autodesk Software Products that combines video training courses and/or project-based learning, provided electronically to End Users and facilitated by an ACI Instructor or Approved Instructor, offered as an ATC Course that meets the E-Learning Requirements in the Program Guide and approved by Autodesk to provide E-Learning Courses. Approval for E- Learning courses is obtained prior to offering E-Learning Courses to End Users.
    </p>
    <p>
      "<b>Faculty</b>" means an individual person who is an employee or independent contractor working for a Qualified Educational Institution
    </p>
    <p>
      "<b>Forms</b>" shall mean the Site Authorization Form(s), the Global Instructor Authorization Form(s), and any other authorization or enrollment forms, required by Autodesk to be completed by Training Provider during the Program authorization process that have been approved by Autodesk or its designated Distributor. Autodesk or its designated Distributor will provide the Forms, or a link to the Forms, to the Training Provider during the authorization process.
    </p>
    <p>
      "<b>Instructor</b>" means persons designated by Training Provider in its Forms to provide instruction on the use of one or more Autodesk Software Products or, in the case of courses delivered electronically, persons authorized by Autodesk to serve as an instructor/facilitator to answer student questions regarding, one or more Autodesk Software Products. Instructors are authorized to train or denied approval to train by Autodesk during the ATC or AAP authorization process. Approved Instructor designation is given to an Instructor upon authorization.
    </p>
    <div class="ml-5">
      <p>
        "<b>ACI Instructor</b>" shall mean persons authorized by Autodesk who meet the program requirements and instructor criteria defined in the Autodesk Certified Instructor (ACI) Program who is a credentialed instructor in the ACI Program and who is an Affiliated Instructor with an ATC or AAP.
      </p>
      <p>
        "<b>Affiliated Instructor</b>" shall mean an Approved Instructor or ACI Instructor affiliated with an ATC or AAP .
      </p>
      <p>
        "<b>Approved Instructor</b>" shall mean persons authorized by Autodesk, to provide training and instruction on the use of Autodesk Software Products. In the case of E-Learning courses delivered electronically, persons
        authorized by Autodesk to serve, as an E-Learning instructor–facilitator to answer student questions and oversee the E-Learning course offered for Autodesk Software Products; course must meet all Qualifying Criteria as defined in the Program Guide.
      </p>
    </div>
    <p>
      "<b>Marketing Materials</b>" shall mean the marketing collateral and other advertising materials that Autodesk may supply Training Provider from time to time during the term of this Agreement.
    </p>
    <p>
      "<b>Materials</b>" shall mean all Autodesk Software Products, and media, documentation, and other materials included in or with the Autodesk Software Products, Autodesk Confidential Information, data, photographs, samples, literature and sales aids, and any other property of Autodesk and its subsidiaries and affiliates that Autodesk or its affiliates provide to Training Provider in any form or format.
    </p>
    <p>
      "<b>Partner Portal</b>" or "ATC Portal" means the current Autodesk website or websites or any successor website(s) designated by Autodesk for Autodesk or Distributor to provide current program and product updates or new information related to Autodesk Software Products, Autodesk programs and operations, Instructor or staff enablement information, or services Distributor provides to ATCs or AAPs in the Territory. Appropriate URLs to access portal is provided upon authorization.
    </p>
      "<b>Partner Records</b>" or "Autodesk Partner Record" means any record maintained in the organization details in Autodesk Education Partner Database ("PDB") or the then-current Autodesk System by Autodesk or its designated Distributor that shows, at a minimum, the name and contact information (address, telephone number and e-mail) for each Training Provider to whom Autodesk Software Products have been sold and the list of Autodesk Products and serial numbers sold to that Training Provider.
    <p>
      "<b>Program</b>" means the Autodesk Authorized Training Center Program and/or the Autodesk Authorized Academic Partner Program, as applicable, governed by the terms of this Agreement and the applicable Program Guide.
    </p>
    <p>
      "<b>Program Guide</b>" means the Authorized Training Center Global Program Guide and/or the Authorized Academic Partner Global Program Guide, as applicable, and any Program Guide Supplement(s) selected by Provider in its approved Forms, each as updated from time to time by Autodesk.
    </p>
    <p>
      "<b>Qualified Educational Institution</b>" means an educational institution which has been accredited by an authorized governmental agency within its applicable local, state, provincial, federal, or national government and has the primary purpose of teaching its enrolled students.
    </p>
    <p>
      "<b>Requirements</b>" means the requirements, rules, and obligations that Autodesk may set (and modify from time to time in its sole discretion) for an entity to qualify as an ATC or AAP; to qualify for a particular specialization, tier, or designation; and to participate in the applicable program benefits. The Requirements will be contained in the Program Guide, and include Site requirements, Approved Instructor or ACI Instructor requirements, Performance requirements, reporting requirements, and minimum course requirements.
    </p>
    <p>
      "<b>Services</b>" means the services provided to Qualified Educational Institutions selected by Training Provider in the Forms that have been approved by Autodesk. Services to Academic Customers the Training Provider may provide are further described in the AAP Program Guide.
    </p>
    <p>
      "<b>Site</b>" shall mean each physical location identified by Training Provider in its approved Form(s) and attachments thereto where Training Provider is authorized to offer training services to End Users as an ATC or AAP, as applicable. In the case of E-Learning Courses, Training Provider shall associate a physical location with such courses for administrative and reporting purposes.
    </p>
    <p>
      "<b>Student</b>" means an individual person enrolled as a student at a Qualified Educational Institution.
    </p>
    <p>
      "<b>Subscription Fee</b>" means the annual software license fee or subscription fee as applicable for the Program charged to the Training Provider, that Training Provider is required to pay every year and which may be modified from time to time by Distributors, without prior notice to Training Provider.
    </p>
    <p>
      "<b>Territory</b>" means the country or countries defined by Autodesk or its designated Distributor in which Training Provider may provide training services to End Users; Autodesk and its designated Distributor may agree to amend the Territory from time to time. Training Provider’s territory is defined during the authorization process and is maintained in the Partner Records.
    </p>
    <p>
      "<b>Training Provider</b>" means the company or Qualified Educational Institution accepting this Agreement and who has been approved and authorized by Autodesk to join the ATC Program or the AAP Program. For clarification "Training Provider" refers only to a single, specifically identified legal entity and the legal entity Sites identified in the Forms, and does not include any subsidiary or affiliate of any such legal entity or individual or any other related person.
    </p>
  </div>
  <div>
    <p><b>2. Authorization and Minimum Requirements</b></p>
    <p class="ml-5">
      <u>2.1. Authorization Application.</u> Training Provider acknowledges that it has completed and submitted to
      Autodesk the Form(s) confirming compliance with the Program Guide requirements, along with supporting documents, all upon which Autodesk has based its decision to enter into this Agreement. Furthermore, the approved Form(s), and the Program Guide, are incorporated hereto by reference. Training Provider shall report any changes in the information set forth in its Forms by promptly submitting notice to Autodesk, or to its designated Distributor, as applicable, identifying all changes for approval.
    </p>
    <p class="ml-5">
      <u>2.2. Minimum Requirements.</u> Training Provider shall, at a minimum, maintain and operate each Site in accordance with the Site requirements set forth in the Program Guide (the "<b>Site Requirement(s)</b>"). If Training Provider provides training services or E-Learning Courses it shall comply with any course requirements set forth in the Program Guide ("<b>Course Requirement(s)</b>"). Training Provider shall, at a minimum employ at least one full-time Approved Instructor or ACI Instructor. Each Approved Instructor employed or retained by Training Provider to provide training instruction on Autodesk Software Products under this Agreement shall, at a minimum, meet the requirements set forth in the Program Guide ("<b>Instructor Requirement(s)</b>"). Training Provider shall, at a minimum, meet the Autodesk Certified Instructor requirements set forth in the Program Guide ("<b>ACI Requirement(s)</b>"). Training Provider shall, at a minimum, perform at each Site and each E-Learning Course in accordance with minimum performance requirements set forth in the Program Guide ("<b>Performance Requirements</b>"). Training Provider represents and warrants that (a) each Site listed in the Forms, currently complies with the Site Requirements, and further agrees that it shall ensure that each Site continues to comply with the then- current Site Requirements as published by Autodesk from time to time, (b) each Site and each E-Learning Course currently complies with the Course Requirements and Performance Requirements and further agrees that it shall ensure that each Site and each E-Learning Course continues to comply with the then- current Course Requirements and Performance Requirements as published by Autodesk from time to time, and (c) each Approved Instructor currently complies with the Instructor Requirements and further agrees that it shall ensure that each Approved Instructor continues to comply with the then-current Instructor Requirements as published by Autodesk from time to time, provided that Training Provider shall have a period of three (3) months from the date of publication of new Site Requirements, Course Requirements, Instructor Requirements, ACI Requirements, or Performance Requirements, as applicable, to bring each Site, E-Learning Course or Approved Instructor, as applicable, into compliance with such new requirements.
    </p>
    <p class="ml-5">
      <u>2.3. Other Policies and Procedures.</u> Training Provider shall require that all Training Provider staff members read and adhere to the Forms, Agreement, Program Guide, and any Autodesk-related News Bulletins that may contain new policies, procedures or changes. Autodesk reserves the right to make changes in the Program Guide, as it deems necessary for the efficient management and operation of the Program.
    </p>
  </div>
  <div>
    <p><b>3. Licensing of Autodesk Software Products</b></p>
    <p class="ml-5">
      <u>3.1. Autodesk Software Product Licensing and Access.</u>
      Training Provider will purchase licenses or subscriptions for Autodesk Software Products from a Distributor who is authorized to sell the license or subscription in Training Provider’s country for the Autodesk Software Products, and related services and materials, including, but not limited to Subscription, utilities and tools, made available to ATCs or AAPs, as applicable, by Autodesk. The applicable Distributor will invoice Training Provider for the annual Subscription Fee, which may be modified from time to time by Distributors, without prior notice to Training Provider. After payment of the Subscription Fee, Autodesk or the Distributor shall deliver, or otherwise make available each Autodesk Software Product and updates, which Autodesk deems appropriate (in its sole discretion) to Training Provider. The Autodesk Software Products licensed under the Program may only be used on computers or other devices owned or leased, managed, or controlled by the Training Provider for training and Services provided by Training Provider in connection with the Program and in accordance with the terms of this Agreement unless otherwise specified in 3.2 Additional Limited License Use section. Training Provider understands that all Autodesk products and services or versions may not be available for Training Provider to subscribe to under the Program. Distributors will provide a complete list of the Autodesk Software Products that are available for the applicable Program that will be updated from time to time.
      Training Provider shall accept and be bound by the terms and conditions of the Autodesk Software Product Terms of Use–General Terms, subscription agreement, terms of service or other governing agreement accompanying each Autodesk Software Product or associated subscription, tool, utility or service. Training Provider also shall comply with any additional license terms and conditions that may be provided by Autodesk with respect to any Autodesk Software Products designated as Not for Resale, evaluation, beta or pre-release versions.
    </p>
    <p class="ml-5">
      <u>3.2. Additional End User Limited License Use.</u>
      Autodesk grants a non-exclusive, non-transferable, royalty-free, limited license or subscription to Training Provider to distribute to its End Users one (1) copy of licenses or subscriptions solely for the purpose of providing training services to such End User solely for the purpose of End User’s participation in an Online Learning course or E-Learning Facilitation course or online training service provided by Training Provider. Training Provider agrees to adhere strictly in accordance with this Agreement and the applicable Software License. Training Provider’s End Users may install and access one copy of the licenses or subscriptions only for the lesser of fifteen (15) day period, or as specified by Autodesk in writing. Training Provider shall ensure that the license or subscription that is reproduced and distributed is an exact replica of the Software in object code form. Permission to distribute the licenses or subscriptions is granted to Training Provider, provided that (a) all Autodesk markings, including but not limited to the copyright notice, trade names, trademark symbols, labels or proprietary notices that appear in the license or subscription, appear unmodified in all copies, (b) use of license or subscription is participation in training services only, (c) license or subscription is not modified in any way, (d) Training Provider does not charge a fee for the license or subscription and (e) Training Provider ensures that: (i) each copy of the Software reproduced and distributed by Training Provider shall include a copy of this Agreement and the applicable Software License; and (ii) the Software may not be installed onto a computer without the End User first agreeing to the Software License. In case of any discrepancy between this Agreement and the applicable Software License for use of any replica of the Evaluation Version Software, this Agreement shall prevail.
    </p>
    <p class="ml-5">
      <u>3.3 Confirm Genuine License Use.</u>
      Training Provider shall determine each End User is utilizing genuine Autodesk Software Products when participating in an Approved Course. Training provider is not permitted to provide training or Services to an End User who is participating in a Course using non-genuine software.
      Information regarding genuine software and established software asset management (SAM) practices is here: <a href="https://www.autodesk.com/genuine/license-compliance">https://www.autodesk.com/genuine/license-compliance</a>
    </p>
    <p class="ml-5">
      <u>3.4 Payment.</u> Pricing and payment terms shall be solely determined by Training Provider’s purchase agreement with such Distributor.
    </p>
  </div>
  <div>
    <p><b>4. Audit Rights.</b></p>
    <p>
      Autodesk, in its sole discretion may conduct an audit of the financial and other records, or may have its Distributor conduct such audit on its behalf, which may include, but is not limited to: (i) training records of End Users who have taken Courses at a Site, or a Course delivered electronically; (ii) training records of End Users and Courses entered into Autodesk Systems; (iii) confirmation of completion of Courses by End Users; (iv) confirmation of completion of satisfaction surveys by End Users; (v) subscriptions and licenses purchased and Site installation records of licenses purchased; (vi) and other requirements applicable to Training Provider for the purpose of ensuring Training Provider’s compliance with the terms and conditions of this Agreement. Such audit shall be conducted at one or more Site(s), as applicable, or Autodesk may request that materials be made available electronically for Autodesk’s review, in each case, during normal business hours upon reasonable notice to Training Provider. In addition to the audit rights set forth above, Autodesk, in its sole and absolute discretion, may conduct an audit of the Training Provider’s use of the Marketing Materials as necessary to ensure that Training Provider is complying with the requirements of Section 7, below.
    </p>
  </div>
  <div>
    <p><b>5. Confidentiality and End User Information</b></p>
    <p class="ml-5">
      <u>5.1. Confidential Information.</u> As used in this Agreement, "<b>Confidential Information</b>" shall mean any (a) information designated as confidential orally or in writing by Autodesk, (b) information related to any Autodesk Software Product, (c) information related to Autodesk’s business, or (d) other information or materials received by Training Provider by virtue of its relationship with Autodesk, whether received directly from Autodesk or indirectly from a distributor, including, but not limited to, End User personal information, product plans, product designs, product costs, product prices, product names, finances, marketing plans, business opportunities, personnel, research, development, or know-how.
    </p>  
    <p class="ml-5">
      <u>5.2. Limitations on Disclosure and Use of Confidential Information.</u> Training Provider shall prevent the unauthorized disclosure of Confidential Information by employing no less than the same degree of care employed by such party to prevent the unauthorized disclosure of its own Confidential Information (which under no circumstances should be less than a reasonable degree of care). Training Provider shall only use Confidential Information disclosed under this Agreement in the furtherance of this Agreement or the performance of its obligations hereunder.
    </p>  
    <p class="ml-5">
      <u>5.3. Exceptions.</u> Confidential Information does not include information which (a) is rightfully received by Training Provider from a third party without restriction, (b) is known to or developed by Training Provider independently without use of the Confidential Information, (c) is or becomes generally known to the public by other than a breach of duty hereunder by Training Provider, or (d) has been approved for release by written authorization of Autodesk.
    </p>  
    <p class="ml-5">
      <u>5.4. Satisfaction Surveys.</u> End Users must complete a satisfaction survey rating the performance of Training Provider and quality of Services provided by Training Provider ("<b>Evaluations</b>"). If any information provided by End Users in Evaluations (including without limitation, any personal information) is provided to Training Provider, Training Provider agrees to treat such information as Confidential Information and only use such information for internal evaluation purposes and may not use such information for marketing or any other purposes, unless the End User has specifically authorized such other use by Training Provider.
    </p>
    <p class="ml-5">
      <u>5.5. Course, Project, Event Certificates.</u>
      Training Provider is required to provide Evaluations to all End Users who participate in Training Provider’s Autodesk-related courses, projects, or events. Training Provider may only offer Autodesk Learning Partner course completion certificates, project completion certificates, and event participation certificates to End  
      Users from Autodesk’s Training and Evaluation System ("<b>TES</b>") or other designated system approved by Autodesk. Training Provider may not issue Autodesk-branded certificates from any other system.
    </p>
    <p class="ml-5">
      <u>Data Ownership.</u> All Evaluations and data associated with Evaluations and Courses are considered the property of Autodesk and will be maintained solely by Autodesk in Autodesk Systems using Autodesk guidelines.    
    </p>
  </div>
  <div>
    <p><b>6. Term, Renewal, Termination, and Other Remedies</b></p>
    <p class="ml-5">
      <u>6.1. Term and Renewal.</u> The term of this Agreement shall begin on the Effective Date and shall continue until January 31, of the following calendar year. Thereafter the Agreement shall automatically renew for successive 12-month periods, provided Training Provider has paid to Autodesk or its designated Distributor the then-current annual Subscription Fee, unless this Agreement has been terminated by either party in accordance with the provisions of this Section 6. Either party may elect to terminate (and not renew) this Agreement by providing at least thirty (30) days advance written notice of its intention to terminate (and not renew) this Agreement, and then to the Agreement will expire at the end of the then- current 12 month period.
    </p>  
    <p class="ml-5">
      <u>6.2. Termination for Insolvency.</u> This Agreement shall automatically terminate if Training Provider becomes the subject of a voluntary or involuntary petition in bankruptcy or any proceeding relating to insolvency, receivership, liquidation, or assignment for the benefit of creditors, if that proceeding is not dismissed with prejudice within sixty (60) days after filing. In addition to the foregoing, in the event Training Provider either voluntarily files for protection against its creditors under any relevant law or is the subject of an involuntary petition in bankruptcy, Training Provider agrees that Autodesk shall be entitled to all rights to retain the benefits of this Agreement which are set forth under applicable law. No right granted to Autodesk under applicable law shall be deemed to have been waived either expressly or by implication without a written agreement confirming such waiver.
    </p>
    <p class="ml-5">
      <u>6.3. Termination for Breach.</u> Either party may terminate this Agreement if the other party breaches any material term or material condition of this Agreement and fails to cure that breach within thirty (30) days after notice of the breach. In the event that such breach is the type, which cannot be cured, either party may terminate this Agreement immediately upon notice. In addition to the foregoing, if Training Provider is located in APAC, any failure by Training Provider to have purchased a valid and current license to each of the Autodesk Software Products for which it offers training as of the first day of a new Program year (i.e., February 1), whether such license is purchased from Autodesk or a distributor, will result in the immediate termination of this Agreement, even if Training Provider has signed and returned the Agreement to Autodesk.
    </p>
    <p class="ml-5">
      <u>6.4. Termination for Convenience.</u> Autodesk may terminate this Agreement for convenience upon thirty (30) days’ written notice to Training Provider.
    </p>
    <p class="ml-5">
      <u>6.5. Effect of Termination.</u>
    </p>
    <p class="ml-5">
      <u>a) Monies Due and Payable.</u> Notwithstanding any credit terms previously established with Training
      Provider or any other provision of this Agreement, upon notice of a material breach pursuant to this Agreement or notice of termination, all monies owed by Training Provider to Autodesk shall become due and Training Provider shall remit to Autodesk, directly or via its designated Distributor, such monies owed no later than ten (10) days after receipt of notice.
    </p>
    <p class="ml-5">
      <u>b) Return of Materials.</u> Upon termination of this Agreement, Training Provider shall uninstall, cease using and destroy all Autodesk Software Products obtained or accessed in connection with this Agreement, Autodesk Confidential Information, data, photographs, samples, literature and sales aids,        
      Materials, Marketing Materials and any other property of Autodesk then in Training Provider’s possession related to this Agreement, and upon request from Autodesk, provide evidence of such removal and destruction.
    </p>
    <p class="ml-5">
      <u>6.6. Surviving Provisions.</u> The terms and conditions which by their nature should survive, including without limitation, Sections 1, 4, 5, 6.5-6.6, 7, 8, 9 and 10, shall survive and continue after termination of the Agreement.
    </p>
  </div>
  <div>
    <p><b>7. Title, Trademark Use and Materials</b></p>
    <p class="ml-5">
      <u>7.1. Title and Proprietary Rights.</u> Autodesk and/or its affiliates own all right, title and interest in Autodesk’s trademarks, the Materials and the "Autodesk Authorized Training Center," "ATC," "Autodesk Authorized Academic Partner," and "AAP" "Autodesk Certified Instructor," "ACI," "Autodesk Learning Partner," and "ALP" names and brands. Training Provider acknowledges and agrees that Autodesk and/or Autodesk, Inc. holds the copyrights, trademarks and all other rights to the Autodesk Software Products and, except as expressly provided herein, Training Provider is not granted any right or license to patents, copyrights, trade secrets or trademarks with respect to the Materials. Training Provider shall take all reasonable measures to protect Autodesk’s and Autodesk, Inc.’s proprietary rights in the Materials and shall not copy, use or distribute the Materials or any derivative thereof in any manner or for any purpose except as expressly authorized in this Agreement. Training Provider shall not disassemble, decompile, or reverse-engineer any Autodesk Software Product, including the Materials, or otherwise attempt to discover any Autodesk or Autodesk, Inc. trade secret or other proprietary information. Training Provider shall notify Autodesk promptly in writing upon its discovery of any unauthorized use of the Autodesk Software Products or infringement of Autodesk or Autodesk, Inc.’s intellectual property rights.
    </p>
    <p class="ml-5">
      <u>7.2. Trademark Use.</u> During the term of this Agreement, Training Provider can refer to the names of the Autodesk Software Products for which Training Provider has been authorized in accordance with the Program Guide. If Training Provider has been authorized as an ATC, Training Provider may refer to itself as an "Autodesk Authorized Training Center" or an "ATC," solely for the purposes of marketing, promoting and delivering training services under the ATC Program. If Training Provider has been authorized as an AAP, Training Provider may refer to itself as an "Autodesk Authorized Academic Partner" or an "AAP," solely for the purposes of marketing, promoting and delivering training services under the AAP Program. Training Provider may refer to itself as an "Autodesk Learning Partner" solely for the purposes of marketing, promoting, and delivering training services as an ATC or AAP Training Provider shall not utilize any other trademark of Autodesk or Autodesk, Inc. without the express written consent of Autodesk. Training Provider shall not alter or remove any Autodesk or Autodesk, Inc. trademark included with the Materials. Nothing herein shall grant to Training Provider any right, title or interest in Autodesk or Autodesk, Inc.’s trademarks. Any and all goodwill arising from Training Provider’s use of Autodesk’s trademarks shall inure solely to the benefit of Autodesk and its affiliates. Training Provider may use Autodesk’s trademarks in conformance with any trademark guidelines made available to it by Autodesk, which may be revised by Autodesk from time to time. At no time during or after the term of this Agreement shall Training Provider challenge or assist others to challenge Autodesk’s or Autodesk, Inc.’s trademarks or the registration thereof or attempt to register any trademarks, marks or trade names confusingly similar to those of Autodesk or Autodesk, Inc.
    </p>
    <p class="ml-5">
      <u>7.3. Attempt to Register.</u> Training Provider will not use or attempt to register in any way any designation (whether using any technology now known or hereafter created), trademark, service mark, trade name, copyright, logo, Autodesk published acronym, domain name, social media user name or identifier, or any Product or service name, that in whole or in part contains, or is confusingly similar to any Product name, service name, trademark, service mark, trade name, copyright, logo, Autodesk published acronym, or domain name of Autodesk or any affiliated company of Autodesk or that is confusingly similar thereto. [VAR Agreement]
    </p>
    <p class="ml-5">   
      <u>7.4. Trademark Guidelines.</u> Training Provider’s use of Autodesk’s or Autodesk Inc.’s trademark is restricted. All representations of Autodesk’s or Autodesk, Inc.’s trademarks that Training Provider requests permission to use shall first be submitted to Autodesk for <u>approval in writing</u> of design, color and other details. Training Provider shall not use any Materials or trademarks on or in connection with any good, service, program or any advertising, web site, promotional, public relations, or other material that (or contains any content that) (a) is unlawful, obscene, indecent, pornographic or otherwise objectionable; threatening; false; misleading; discriminatory based on race, sex, religion, nationality, disability, sexual orientation or age; libelous; defamatory; obscene; or offensive; (b) is disparaging or critical of Autodesk or its products or services; (c) violates any applicable law, rule or regulation; (d) misappropriates or infringes upon the copyrights, patents, trademarks, trade secrets or any other intellectual property or proprietary rights of any third parties; or (e) violates the rights of privacy or publicity of, any third parties. Without limiting the foregoing, the restrictions described in this section are intended to apply to any and all uses of Autodesk’s rights described herein, including, without limitation on or through any social media. As of the Effective Date, Autodesk’s trademark guidelines are: <a href="https://www.autodesk.com/company/legal-notices-trademarks/trademarks">https://www.autodesk.com/company/legal-notices-trademarks/trademarks</a>
    </p>
    <p class="ml-5">
      <u>7.5. Disclaimer.</u> Training Provider shall include the following disclaimer with any description of courses or manuals, or other materials produced or distributed by Training Provider: "Autodesk is not responsible for the quality of the training offered by <b>«Name of Training Center»</b> or for any actions of <b>«Name of Training Center»</b>." Failure to comply with the foregoing shall constitute a material breach of this Agreement.
    </p>
    <p class="ml-5">
      <u>7.6. Marketing Materials.</u> During the term of this Agreement, Training Provider shall produce and make available to prospective customers detailed and accurate promotional materials describing its training services provided, including but not limited to information regarding the mode of delivery and learning goals for courses delivered electronically. Training Provider’s use of Marketing Materials provided by Autodesk, if any, shall be subject to the following grant and requirements:
      Subject to the terms and conditions of this Agreement and any additional limitations or exclusions on use of the Marketing Materials communicated or provided by Autodesk from time to time (including without limitation, those posted on Partner Portal or accompanying the Marketing Materials), Autodesk hereby grants Training Provider a non-exclusive, non-transferable, revocable, and non-sub licensable right during the Term to reproduce and distribute the Marketing Materials in connection with Training Provider’s training services under the Program.
      Training Provider will not incorporate Marketing Materials into a logo, trademark, or service mark. With respect to any Marketing Materials delivered or stored in an electronic form Training Provider must retain the copyright symbol and markings thereon. Except as expressly provided herein, Training Provider is not granted any other right or license to any copyright, trademark or other intellectual property right with respect to the Marketing Materials. Training Provider shall take all reasonable measures to protect Autodesk’s proprietary rights in the Marketing Materials and shall not copy, use or distribute the Marketing Materials, or any derivative thereof, in any manner or for any purpose, except as may be expressly authorized herein. Training Provider shall notify Autodesk promptly in writing upon its discovery of any unauthorized use of the Marketing Materials.
    </p>
  </div>
  <div>
    <p><b>8. Warranty Disclaimer, Indemnity and Limitation of Liability</b></p>
    <p class="ml-5">
      <u>8.1. No Warranties.</u> Training Provider shall not make any warranty or representation actually, apparently or ostensibly on behalf of Autodesk. FURTHER, AUTODESK AND ITS AFFILIATES AND ITS LICENSORS DISCLAIM ALL WARRANTIES WITH RESPECT TO THE MARKETING MATERIALS AND OTHER MATERIALS PROVIDED HEREUNDER, EXPRESS OR IMPLIED   
      INCLUDING, WITHOUT LIMITATION, ANY IMPLIED WARRANTIES OF NON-INFRINGEMENT, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE.
    </p>
    <p class="ml-5">
      <u>8.2. Indemnity by Training Provider.</u> Training Provider shall indemnify and hold Autodesk and its affiliates and their respective officers, directors, employees and representatives (collectively, the "Indemnitees") harmless from and against any cost, loss, liability, judgment or expense, including court costs and reasonable fees for attorneys or other professionals, arising out of or related to any claim or demand brought against any Indemnitee by a third party arising from or in connection with (a) any breach by Training Provider of the terms of this Agreement or the Program Guide, (b) the development, marketing, distribution, provision or promotion of Training Provider’s products or services, (c) any negligent or willful act or omission by Training Provider, or Training Provider’s employees including, but not limited to, any act or omission that contributes to (i) any bodily injury, sickness, disease, or death; (ii) any injury or destruction to tangible property or loss of use resulting therefrom; or (iii) any violation of any statute, ordinance or regulation.
    </p>
    <p class="ml-5">
      <u>8.3. Limitation of Liability.</u> PROVIDER AGREES THAT AUTODESK’S LIABILITY ARISING OUT OF THIS AGREEMENT SHALL NOT EXCEED THE GREATER OF (I) THE FEES RECEIVED BY AUTODESK HEREUNDER, WHETHER DIRECTLY OR INDIRECTLY THROUGH ONE OR MORE DISTRIBUTORS, IN THE 13 MONTH PERIOD PRECEDING THE EVENT GIVING RISE TO SUCH LIABILITY OR (II) $500. IN NO EVENT SHALL AUTODESK BE LIABLE FOR COSTS OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR FOR ANY SPECIAL, CONSEQUENTIAL, INCIDENTAL, OR INDIRECT DAMAGES ARISING OUT OF THIS AGREEMENT, HOWEVER CAUSED, WHETHER FOR BREACH OF CONTRACT, TORT, (INCLUDING NEGLIGENCE) OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT AUTODESK HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. THESE LIMITATIONS SHALL APPLY NOTWITHSTANDING ANY FUNDAMENTAL BREACH, BREACH OF A FUNDAMENTAL TERM OR FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY. AUTODESK DOES NOT EXCLUDE LIABILITY FOR DEATH OR PERSONAL INJURY ARISING FROM ITS NEGLIGENCE.
    </p>
  </div>
  <div>
    <p><b>9. End User Data</b></p>
    <p>
      Subject to the terms and conditions of the Data Usage and Protection Exhibit ("<u>Exhibit A</u>") and this Agreement, Autodesk hereby grants to Training Provider a non-exclusive, internal, limited, revocable license to use the Autodesk Sourced DPI Data (as defined in Exhibit A) solely for the purpose identified in Exhibit A and this Agreement. Training Provider shall meet the security requirements set forth in Exhibit B. To the extent Autodesk End Users indicate that they would like to be contacted by an [Autodesk Learning Partner], Autodesk may provide a list of names and contact information (e.g., email, city and country) to Training Provider ("<b>Contact List</b>"), in a manner consistent with the security commitments made in the Autodesk Privacy Statement (located at <a href="www.autodesk.com/privacy">www.autodesk.com/privacy</a>) and with internal Autodesk personal data handing policies, protocols and rules. Training Provider may only use the Contact List pursuant to the terms specified by the End User when requesting that Autodesk share such information with Training Provider and in accordance with any additional terms or restrictions specified in writing by Autodesk. Training Provider warrants and represents that: (a) it has a current, externally facing privacy policy, statement or notice explaining its personal data handling and management practices; (b) Training Provider shall at all times treat the Contact List consistent with the terms set out in such privacy policy, statement or notice; and (c) Training Provider will comply with relevant privacy, marketing and other laws in relation to the collection, use and security of the personal data contained in the Contact List, including but not limited to CAN-SPAM and similar laws. Autodesk provides the Contact List AS IS, and makes no guarantee, warranty or representation as to the accuracy of the information contained therein. Autodesk disclaims any implied warranties, including those of   
      merchantability, accuracy, fitness for a particular purpose, workmanlike effort and non-infringement, regarding the Contact List.    
    </p>
  </div>
  <div>
    <p><b>10. Miscellaneous Provisions</b></p>
    <p class="ml-5">
      <u>10.1. Compliance with Laws.</u> Training Provider shall comply with all applicable federal, state, county, and local laws, statutes, ordinances, and regulations which apply to the activities of Training Provider, including without limitation, the U.S. Export Administration Act and its implementing regulations ("Export Control Law"), the United States Foreign Corrupt Practices Act ("FCPA"), and all laws, regulations, or legal requirements of the country wherein the Autodesk Software Product licenses are purchased.
    </p>
    <p class="ml-5">
      <u>10.2.Export Control Laws.</u> Training Provider agrees and understands that under Export Control Law, the software, documentation, technical data (or direct products thereof) and services provided in connection with the Programs may not be, directly or indirectly, downloaded or otherwise exported, re-exported, or transferred to restricted countries, to restricted end-users, or for restricted end uses. By way of example but not limitation, Export Control Law may restrict Training Provider’s ability to export or transfer the software to countries that are the subject of a U.S. trade embargo, to end-users who appear on U.S. government restricted party lists, and for restricted end uses such as research into chemical, biological or nuclear weapons. Additional information concerning U.S. export control laws and regulations is publicly available at: <a href="http://www.bis.doc.gov/policiesandregulations/index.htm#ear">http://www.bis.doc.gov/policiesandregulations/index.htm#ear</a>
    </p>
    <p class="ml-5">
      <u>10.3.Anti-Corruption Laws.</u> In conformity with the FCPA or any rules or regulations thereunder, with all similar international laws, including the U.K. Bribery Act, and with Autodesk’s relevant corporate policies, Training Provider shall not take any action which would cause Training Provider or Autodesk to be in violation of such anti-corruption laws, including without limitation (i) the use of any funds for unlawful contributions, gifts, entertainment, or other expenses relating to political activity or (ii) making, attempting to make, offering or authorizing any unlawful payment, thing of value, bribe, rebate, payoff, influence payment, kickback or other similar unlawful payment to a foreign or domestic government official, or non-government partner, for the purpose of influencing an act or decision (including a decision not to act) or inducing such a person to use his or her influence to affect any such governmental act or decision to obtain, retain, or direct any business.
    </p>
    <p class="ml-5">
      <u>10.4.Approvals.</u> Training Provider shall obtain and maintain at its own expense all approvals, consents, permissions, licenses, and other governmental or other third party approvals necessary to enable Training Provider to provide the required of Training Provider hereunder.
    </p>
    <p class="ml-5">
      <u>10.5. Taxes.</u> Where Training Provider purchases directly from Autodesk, Training Provider shall be responsible for the payment of taxes, duties, fees, and other charges, including all applicable income, sales, VAT, withholding taxes, penalties and interest, with respect to the products and services provided by both Autodesk to Training Provider, and Training Provider to end users and others.
    </p>
    <p class="ml-5">
      <u>10.6.Assignment.</u> Training Provider acknowledges that Autodesk is relying upon Training Provider’s reputation, business standing, and goodwill under Training Provider’s present ownership in entering into this Agreement. Accordingly, Training Provider agrees that its rights and obligations under this Agreement may not be transferred or assigned and its duties may not be delegated directly or indirectly without the prior written consent of Autodesk. Training Provider shall notify Autodesk promptly in writing of any change of ownership of Training Provider or of any sale of all or substantially all of Training Provider’s assets. Training Provider acknowledges that any change of ownership, sale of all or substantially all of Training Provider’s assets, or attempted assignment by Training Provider of this Agreement, or any part thereof, without Autodesk’s prior written consent may result in immediate     
      termination of this Agreement by Autodesk. Autodesk may assign or otherwise transfer its rights and obligations to successors-in-interest (whether by purchase of stock or assets, merger, operation of law, or otherwise) of that portion of its business related to the subject matter hereof. Subject to the restrictions set forth in this Section, all of the terms and conditions of this Agreement shall be binding upon, inure to the benefit of, and be enforceable by the respective successors and permitted assigns of the parties hereto.
    </p>
    <p class="ml-5"><u>10.7. Choice of Law/Venue.</u></p>
    <p class="ml-5">
      If <u>Autodesk Ireland Operations Limited</u> is the Autodesk signatory of this Agreement, this Agreement shall be construed in accordance with the laws of Ireland (excluding rules regarding conflicts of law). Any controversy or claim arising out of or relating to this Agreement or the breach thereof shall be settled by arbitration in Geneva, Switzerland in accordance with the then current Rules of the International Chamber of Commerce and judgment on the award rendered by the arbitrator(s) may be entered in any court having jurisdiction thereof. Arbitrations hereunder shall be conducted in English. Notwithstanding the foregoing, all controversy or claim arising out of or relating to Autodesk’s intellectual property rights may be submitted by Autodesk to the exclusive jurisdiction of the courts of Dublin, in Ireland, without resorting to arbitration, and judgment on the award rendered by the court(s) may be entered in any court having jurisdiction thereof.
    </p>
    <p class="ml-5">
      If <u>Autodesk Asia Pte Ltd.</u> is the Autodesk signatory of this Agreement, this Agreement shall be construed in accordance with the laws of Singapore (excluding rules regarding conflicts of law). The parties hereby submit to the exclusive personal jurisdiction of and venue of the courts of Singapore.
    </p>
    <p class="ml-5">
      If <u>Autodesk Inc.</u> is the Autodesk signatory of this Agreement, this Agreement shall be construed in Accordance with the laws of the State of California (excluding rules regarding conflicts of law) and the United States of America, and the parties hereby submit to the exclusive personal jurisdiction of and venue in the Superior Court of the State of California, County of Marin or the United States District Court for the Northern District of California in San Francisco.
    </p>
    <p class="ml-5">
      <u>10.8. Notices.</u> Any notice required or permitted by this Agreement shall be in writing and shall be sent by email to the Signing Party contact and Business Owner or Principal contact available in the Partner Records maintained in PDB for which such party gives notice hereunder. Such notice shall be deemed to have been given three (3) days after email ‘Send Date". Notwithstanding the foregoing, notices required hereunder may be given by Autodesk by inclusion in a News Bulletin posted on the Partner Portal, Autodesk One Team Source Web internet site, Autodesk Learning Central (or any successor sites), or by email, and shall be deemed given when posted or emailed, as applicable.
    </p>
    <p class="ml-5">
      <u>10.9.Independent Contractors.</u> The relationship of Autodesk and Training Provider established by this Agreement is that of independent contractors and nothing contained in this Agreement shall be construed to (i) give either party the power to direct and control the day-to-day activities of the other, (ii) constitute the parties as partners, joint venturers, co-owners or otherwise as participants in a joint or common undertaking, or (iii) allow Training Provider to create or assume any obligation on behalf of Autodesk for any purpose whatsoever. All financial obligations associated with Training Provider’s business are the sole responsibility of Training Provider. All agreements between Training Provider and its customers are Training Provider's exclusive responsibility and shall have no effect on Training Provider's obligations under this Agreement. Training Provider shall be solely responsible for, and shall indemnify and hold Autodesk free and harmless from, any and all claims, damages or lawsuits (including Autodesk’s attorneys’ fees) arising or alleged to arise out of the acts of Training Provider, its employees or its agents. Training Provider shall retain the right to perform services for others during the term of this Agreement.
    </p>     
    <p class="ml-5">
      <u>10.10. Entire Agreement.</u> This Agreement, the Forms and the Program Guide contain the entire agreement and understanding concerning the subject matter between Training Provider and Autodesk and supersede all prior negotiations, proposed agreements, and all other agreements, whether written or oral, except all prior confidentiality and nondisclosure agreements to the extent that they are not expressly superseded by this Agreement. If the terms set forth in the Forms conflict with the terms of this Agreement, the terms of this Agreement shall control. The terms of this Agreement set forth herein in English shall control and be binding on the parties and any translations of this Agreement into other language shall be for informational purposes only. Autodesk makes no representations or warranties regarding the accuracy of any translations of this Agreement into any other language. Except as expressly set forth in Sections 2.3 and 2.4 this Agreement may be amended only in writing signed by authorized individuals for both Autodesk and Training Provider.
    </p>
    <p class="ml-5">
      <u>10.11. Severability.</u> In the event that it is determined by a court of competent jurisdiction as a part of a final nonappealable judgment that any provision of this Agreement or part thereof is invalid, illegal, or otherwise unenforceable, the remainder of the Agreement will remain in full force and effect.
    </p>
    <p class="ml-5">
      <u>10.12. Other Remedies.</u> In addition to the right to terminate this Agreement, Autodesk reserves all rights and remedies available to Autodesk under law or equity, including the right to seek damages and injunctive relief for breach or threatened breach of this Agreement by Training Provider.
    </p>
    <p class="ml-5">
      <u>10.13.Attorneys’ Fees.</u> In any action brought to enforce the terms and conditions of this Agreement, the prevailing party shall be entitled to recover reasonable costs and attorneys’ fees incurred in maintaining such action.
    </p>
    <p class="ml-5">
      <u>10.14. Construction.</u> This Agreement will be fairly interpreted in accordance with its terms and without any strict construction against either party. Ambiguity will not be interpreted against the drafting party.
    </p>
    <p class="ml-5">
      <u>10.15.Region-Specific Exhibits.</u> If Autodesk, Inc., is the Autodesk signatory to this Agreement, and Training Provider’s Site(s) are located in Latin America, Exhibit B shall apply.
    </p>
    <p class="ml-5">
      <u>10.16.Signature.</u> The parties agree that this Agreement may be executed with an electronic signature (such as scanned signature, signature by facsimile, or other means of secure electronic authorization). This Agreement may be executed in one or more counterparts and all of which together shall constitute one and the same agreement.
    </p>
  </div>
  <div>
    <p>This Agreement was accepted by {{data.firstName + data.lastName}} {{data.title}} on behalf of Training Provider.</p>
  </div>

  <div class="page-break"></div>
  <div>
    <p class="text-center"><strong>EXHIBIT A</strong></p>
    <p></p>
    <p class="text-center mb-5"><strong><u>DATA USAGE AND PROTECTION</u></strong></p>
    <p>
      This <b>Data Usage and Protection EXHIBIT B</b> is incorporated by reference into the <b>Autodesk Learning Partner General Terms and Conditions</b> between Autodesk and the Training Provider ("<b>Agreement</b>").
    </p>
    <p>
      Autodesk and Training Provider acknowledge that relevant data protection laws must be observed in connection with the services, and that certain security precautions must be taken to protect Personal Data. "<b>Personal Data</b>" means any information relating to an identified or identifiable natural person (‘<b>data subject</b>’); an identifiable natural person is one who can be identified, directly or indirectly, in particular by reference to an identifier such as a name, an identification number, location data, an online identifier or to one or more factors specific to the physical, physiological, genetic, mental, economic, cultural or social identity of that natural person.
    </p>
  </div>
  <div>
    <p><b>I. COMPLIANCE WITH DATA PROTECTION LAWS</b></p>
    <p>
      Training Provider shall comply with all applicable data protection laws when processing Personal Data in course of performance of the Agreement.
    </p>
    <p><b>II. ADDITIONAL TERMS FOR EEA PERSONAL DATA</b></p>
    <p>
      The following terms establish the baseline agreement with respect to the processing, transfer and protection of Personal Data, which originates from the European Economic Area ("<b>EEA</b>").
    </p>
    <p>
      All terms not specifically defined shall have the same meaning as the meaning attributed to them in the EU General Data Protection Regulation ("<b>GDPR</b>"), specifically in Art. 4 GDPR.
    </p>   
    <p class="ml-5"><b>1.Subject Matter</b></p>
    <p class="ml-5">
      Training Provider and Autodesk are separate Controllers with regard to processing of Personal Data, which originates from the European Economic Area ("<b>EEA</b>") in course of performance of the Agreement ("<b>Processing</b>"). The following terms set out the principles and general rules to which Training Provider and Autodesk shall adhere while Processing under the scope of the Agreement.
    </p>
    <p class="ml-5"><b>2.Purposes and Means of the Processing and GDPR Requirements.</b></p>
    <p class="ml-5">
      Training Provider and Autodesk determine the purposes and means of Processing themselves. Training Provider and Autodesk are not jointly determining the purposes and means of processing, and are thus not joint controllers in the meaning of Art. 26 GDPR. Training Provider and Autodesk are each individually responsible for Processing in accordance with the requirements set out in the GDPR.
    </p>
    <p class="ml-5"><b>3.Information Duties.</b></p>
    <p class="ml-5">
      The respective party that initially collects the personal data is responsible for providing the data subjects with the information referred to in Arts. 13 and 14 GDPR.
    </p>
    <p class="ml-5"><b>4.Other Rights of Data Subjects.</b></p>
    <p class="ml-5">  
      Irrespective of section II. 2. of this Exhibit B, each party is responsible for fulfilling its obligations to respond to requests for exercising the data subject’s rights regarding the processing of their Personal Data.
    </p>
    <p class="ml-5"><b>5.Technical and Organizational Measures.</b></p>
    <p class="ml-5">
      It is the responsibility of each party that receives personal data to process personal data falling under the scope of the Agreement in compliance with Art. 32 para. 1 GDPR. Each party will implement appropriate technical and organizational measures to ensure the appropriate level of data security.
    </p>
    <p class="ml-5"><b>6.Data Transfers between the Parties.</b></p>
    <p class="ml-5">
      The party disclosing personal data to the other party is responsible for confirming that such disclosure is permissible under the GDPR and in accordance with the provisions of this Exhibit B.
    </p>
    <p class="ml-5"><b>7.Cooperation between Parties.</b></p>
    <p class="ml-5">
      Training Provider and Autodesk will assist each other to the extent reasonably appropriate in complying with requests or complaints of data subjects or data protection supervisory authorities regarding compliance with the obligations under the GDPR. Training Provider and Autodesk will notify each other of any data subject requests that they carry out in accordance with their respective obligations under GDPR Arts.16, 17 (1) and 18.
    </p>
    <p class="ml-5"><b>8.Documentation Requirements.</b></p>
    <p class="ml-5">
      The party that collects or processes personal data in the course of the Processing is responsible for fulfilling the requirements pertaining to Controllers, as stipulated in Arts. 24 et seq. GDPR concerning the personal data collected or processed by itself. Each party is responsible for maintaining a record of processing activities in accordance with Art. 30 GDPR.
    </p>
    <p class="ml-5"><b>9.Liability towards Data Subjects.</b></p>
    <p class="ml-5">
      Data subjects may exercise their rights under the GDPR against the Controller that is responsible for the Processing that is the subject matter of their respective rights.
    </p>
  </div>
  
  <div class="page-break"></div>
  <div>
    <p class="text-center"><strong>EXHIBIT B</strong></p>
    <p></p>
    <p class="text-center mb-5"><strong>SECURITY REQUIREMENTS</strong></p>
    <strong>
      PRIOR TO EXECUTING THIS AGREEMENT TRAINING PROVIDER SHOULD HAVE READ THIS AGREEMENT AND THE APPENDICES AND SHOULD UNDERSTAND ITS TERMS; SHOULD ANY OF THOSE TERMS BE UNCLEAR TO TRAINING PROVIDER, TRAINING PROVIDER SHOULD SEEK INDEPENDENT LEGAL ADVICE. FURTHER TRAINING PROVIDER SHOULD ENSURE THAT THE INFORMATION IN THE SITE ENROLLMENT FORM AND BUSINESS PLAN IS COMPLETE AND ACCURATE.
    </strong>
  </div>
</div>