<div class="card">
    <div class="card-header">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-sm-10 text-left page-header-title">
                    <h4>Detail Partner Type</h4>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 text-right">
                    <a [routerLink]="['/admin/partner-type/list-partner-type']" style="color:black" ngbTooltip="Back"><i  style="font-size:25px" class="icofont icofont-arrow-left"></i></a>
                </div>
            </div>
    </div>
    <div class="card-block">
        <div class="col-md-12 col-xl-12 form-group row" *ngIf="datadetail!=null">
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'epdb.admin.partner_type.id' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.RoleId}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'epdb.admin.partner_type.code' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.RoleCode}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'epdb.admin.partner_type.role_name' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.RoleName}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'epdb.admin.partner_type.siebel_name' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.SiebelName}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'epdb.admin.partner_type.framework_name' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.FrameworkName}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'epdb.admin.partner_type.crb_approved_name' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.CRBApprovedName}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'epdb.admin.partner_type.role_type' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.RoleType}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'epdb.admin.partner_type.role_sub_type' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.RoleSubType}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'general.description' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.Description}}</label>
            </div>

            <div class="col-md-12 col-xl-12 text-left">
                &nbsp;
            </div>
            <div class="col-md-12 col-xl-12 text-left">
                <label class="col-form-label">{{'epdb.admin.sub_partner_type.sub_partner_type' | translate}}</label>
            </div>
            <div class="col-md-3 col-xl-3 text-left" *ngFor="let item of datadetailroleparams">
                <label class="col-form-label">{{item.ParamValue}}</label>
            </div>

            <div class="col-md-12 col-xl-12 text-left">
                &nbsp;
            </div>
            <div class="col-md-12 col-xl-12 text-left">
                <label class="col-form-label">{{'epdb.admin.partner_type.certificate_type' | translate}}</label>
            </div>
            <div class="col-md-3 col-xl-3 text-left" *ngFor="let item of datadetailrolecertificate">
                <label class="col-form-label">{{item.CertificateType}}</label>
            </div>
        </div>
    </div>
</div>