<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="card card-border-primary">
    <div class="card-header">
        <div class="page-header-title">
            <h4>Survey Course</h4>
        </div>
        <div style="display:flex">
            <h5>Progress</h5>
            <div class="progress" style="margin-top:1px;">
                <div 
                    class="progress-bar bg-success" 
                    role="progressbar" 
                    [style.width]="progress"
                    [attr.aria-valuenow]="answeredQuestions" 
                    aria-valuemin="0" 
                    [attr.aria-valuemax]="totalQuestions">
                </div>
            </div>
            <span style="margin-top:0px;color:#4a6076;margin-left:5px">{{answeredQuestionsNumber}}</span>
            <span style="margin-top:0px;color:#4a6076;">/{{totalQuestions}}</span>
        </div>
    </div>
    <div class="row">
        <div style="overflow-x: scroll" id='surveyElement' class="col-md-12"></div>
    </div>
</div>
