@-webkit-keyframes progress-bar-stripes {
    from {
      background-position: 1rem 0;
    }
    to {
      background-position: 0 0;
    }
}
  
@keyframes progress-bar-stripes {
    from {
      background-position: 1rem 0;
    }
    to {
      background-position: 0 0;
    }
}
  
.progress {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}
  
.progress-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    background-color: #007bff;
    transition: width 0.6s ease;
}
  
.progress-bar-striped {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-size: 1rem 1rem;
}
  
.progress-bar-animated {
    -webkit-animation: progress-bar-stripes 1s linear infinite;
    animation: progress-bar-stripes 1s linear infinite;
}

.card h5{
    text-transform: none!important;
}

.table-responsive{
    display: table; 
   
}


@media only screen and (max-width: 415px){
    .table-responsive{
        display: block; 
       
    }

    
    td { 
     
        word-wrap: break-word;
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
        padding-left: 50%; 
        white-space: normal;
    }

    table{
        display: block; 
        table-layout: fixed;
        max-width: 400px;
        overflow-x: scroll
    }
    

    

    .main-body.page-wrapper{
        padding: 0.3rem!important;
      }
      
      .pcoded-inner-content{
      padding : -9px!important;
      }
      
      .card-block{
      padding:0.8rem!important;
      }
      
      .card h5{
      font-size:14px!important;
      color:black!important;
      font-weight:300!important;
      line-height:1.6!important;
      }
       



    
    /* table, thead, tbody, th, td, tr { 
        display: block; 
        table-layout: fixed;
        max-width: 400px;
        
	}
	

	thead tr { 
        position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
     
        word-wrap: break-word;
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
        padding-left: 50%; 
        white-space: normal;
	}
	
	td:before { 
      
        word-wrap: break-word;
		position: absolute;
	
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		
	} */
}

