
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="card card-border-primary">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'eva.manage_certificate.add_background.add_background' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">

        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-3">
                <div class="sub-title">{{'eva.manage_certificate.add_background.drag_drop' | translate}}</div>
                <div
                        ng2FileDrop
                        [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                        (fileOver)="fileOverBase($event)"
                        [uploader]="uploader"
                        class="well ngb-drop-zone text-center">
                        {{'eva.manage_certificate.add_background.drag_drop_file' | translate}}
                </div>

                <!-- <div
                        ng2FileDrop
                        [ngClass]="{'another-file-over-class': hasAnotherDropZoneOver}"
                        (fileOver)="fileOverAnother($event)"
                        [uploader]="uploader"
                        class="well ngb-drop-zone text-center">
                Drag & Drop files here
                </div> -->


                <!-- <div class="sub-title">Multiple File</div>
                <label class="custom-file mb-3">
                <input type="file" ng2FileSelect [uploader]="uploader" multiple class="custom-file-input">
                <span class="custom-file-control"></span>
                </label> -->
        
                <div class="sub-title">{{'eva.manage_certificate.add_background.single_file' | translate}}</div>
                <label class="custom-file">
                <input type="file" multiple ng2FileSelect [uploader]="uploader" class="custom-file-input" accept="image/png,image/x-png,image/jpeg">
                <span class="custom-file-control"></span>
                </label>

            </div>


            <div class="col-md-9">
                <div class="sub-title">{{'eva.manage_certificate.add_background.upload_queue' | translate}}</div>
                <p>{{'eva.manage_certificate.add_background.queue_length' | translate}}: {{ uploader?.queue?.length }}</p>
                <table class="table table-responsive">
                <thead>
                <tr>
                    <th width="50%">{{'general.name' | translate}}</th>
                    <th>{{'eva.manage_certificate.add_background.size' | translate}}</th>
                    <!--
                    <th>Progress</th>
                -->
                    <th>{{'general.status' | translate}}</th>
                    <th>{{'general.action' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let item of uploader.queue">
                    <td><strong>{{ item?.file?.name }}</strong></td>
                    <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
                    <!--
                    <td *ngIf="uploader.options.isHTML5">
                    <div class="progress" style="margin-bottom: 0;">
                        <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                    </div>
                    </td>
                    -->
                    <td class="text-center">
                    <span *ngIf="item.isSuccess"><i class="fa fa-check"></i></span>
                    <span *ngIf="item.isCancel"><i class="fa fa-ban"></i></span>
                    <span *ngIf="item.isError"><i class="fa fa-times"></i></span>
                    </td>
                    <td nowrap>

                    <button type="button" class="btn btn-success btn-sm" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
                        <span class="fa fa-upload"></span> {{'general.upload' | translate}}
                    </button>
                    <button type="button" class="btn btn-warning btn-sm" (click)="item.cancel()" [disabled]="!item.isUploading">
                        <span class="fa fa-ban"></span> {{'general.btn_cancel' | translate}}
                    </button>
                    <button type="button" class="btn btn-danger btn-sm" (click)="item.remove()">
                        <span class="fa fa-trash"></span> {{'general.btn_delete' | translate}}
                    </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="5" class="text-center">
                    <span>{{'eva.manage_certificate.add_background.upload_file' | translate}}</span>
                    </td>
                </tr>
                </tbody>
                </table>

                <div>
                <div class="sub-title">{{'eva.manage_certificate.add_background.queue_progress' | translate}}</div>
                <p><ngb-progressbar type="primary" [value]="uploader.progress"></ngb-progressbar></p>

                <div class="sub-title">{{'eva.manage_certificate.add_background.common_action' | translate}}</div>
                <button type="button" class="btn btn-success" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                    <span class="fa fa-upload"></span> {{'eva.manage_certificate.add_background.upload_all' | translate}}
                </button>
                <button type="button" class="btn btn-warning" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
                    <span class="fa fa-ban"></span> {{'eva.manage_certificate.add_background.cancel_all' | translate}}
                </button>
                <button type="button" class="btn btn-danger" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
                    <span class="fa fa-trash"></span> {{'eva.manage_certificate.add_background.remove_all' | translate}}
                </button>
                </div>
            </div>
        </div>
    </div>
</div>
