<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.manage.organization.search.search_organization' | translate }}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="col-lg-12 col-xl-12">
            <ul class="nav nav-tabs md-tabs text-center" role="tablist">
                <li class="nav-item col-md-4">
                    <a class="nav-link active" data-toggle="tab" [routerLink]="['/manage/organization/search-organization']" role="tab" aria-expanded="true">{{ 'epdb.manage.organization.search.tab_organization' | translate }}</a>
                    <div class="slide"></div>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link" data-toggle="tab" [routerLink]="['/manage/site/search-site']" role="tab" aria-expanded="false">{{ 'epdb.manage.organization.search.tab_site' | translate }}</a>
                    <div class="slide"></div>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link" data-toggle="tab" [routerLink]="['/manage/contact/search-contact']" role="tab" aria-expanded="false">{{ 'epdb.manage.organization.search.tab_contact' | translate }}</a>
                    <div class="slide"></div>
                </li>
            </ul>
        </div>
        <form [formGroup]="filterorgform" (submit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.organization.detail.organization_id' | translate }}</label>
                    <input type="text" class="form-control" id="OrgId" formControlName="OrgId" placeholder="{{ 'epdb.manage.organization.detail.organization_id' | translate }}">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.organization.detail.organization_name' | translate }}</label>
                    <input type="text" class="form-control" id="OrgName" formControlName="OrgName" placeholder="{{ 'epdb.manage.organization.detail.organization_name' | translate }}">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.admin.partner_type.partner_type' | translate }}</label>
                    <select name="PartnerType" class="form-control" id="PartnerType" formControlName="PartnerType" (change)="onPartnerSelect($event.target.value)">
                        <option value="">All</option>
                        <option *ngFor="let item of partnertype" value={{item.RoleCode}}>{{item.RoleName}}</option>
                    </select>
                </div>

                <div class="col-md-6 col-xl-4 form-group">
                    <!-- <label class="col-form-label">{{ 'epdb.admin.partner_type.partner_type_status' | translate }}</label> -->
                    <label class="col-form-label">{{'Sub PartnerType' | translate}}</label>
                    <angular2-multiselect [data]="dropdownListSubPartnerType" [(ngModel)]="selectedItemsSubPartnerType" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                    </angular2-multiselect>
                </div>

                <div class="col-md-6 col-xl-4 form-group">
                    <!-- <label class="col-form-label">{{ 'epdb.admin.partner_type.partner_type_status' | translate }}</label> -->
                    <label class="col-form-label">Partner Type Status</label>
                    <angular2-multiselect [data]="dropdownListPartnerTypeStatus" [(ngModel)]="selectedItemsPartnerTypeStatus" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.admin.country.geo.geo' | translate }}</label>
                    <angular2-multiselect [data]="dropdownListGeo" [(ngModel)]="selectedItemsGeo" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                        (onSelect)="onGeoSelect($event)" (onDeSelect)="OnGeoDeSelect($event)" (onSelectAll)="onGeoSelectAll($event)"
                        (onDeSelectAll)="onGeoDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.admin.country.territory.territory' | translate }}</label>
                    <angular2-multiselect [data]="dropdownListTerritories" [(ngModel)]="selectedItemsTerritories" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onTerritorySelect($event)" (onDeSelect)="onTerritoryDeSelect($event)"
                        (onSelectAll)="onTerritorySelectAll($event)" (onDeSelectAll)="onTerritoryDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <!-- <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.admin.country.region.region' | translate }}</label>
                    <angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onRegionSelect($event)" (onDeSelect)="OnRegionDeSelect($event)"
                        (onSelectAll)="onRegionSelectAll($event)" (onDeSelectAll)="onRegionDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.admin.country.sub_region.sub_region' | translate }}</label>
                    <angular2-multiselect [data]="dropdownListSubRegion" [(ngModel)]="selectedItemsSubRegion" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onSubRegionSelect($event)" (onDeSelect)="OnSubRegionDeSelect($event)"
                        (onSelectAll)="onSubRegionSelectAll($event)" (onDeSelectAll)="onSubRegionDeSelectAll($event)">
                    </angular2-multiselect>
                </div> -->
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.admin.country.countries.country' | translate }}</label>
                    <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onCountriesSelect($event)" (onDeSelect)="OnCountriesDeSelect($event)"
                        (onSelectAll)="onCountriesSelectAll($event)" (onDeSelectAll)="onCountriesDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <!-- <div class="col-md-4 col-xl-4 form-group" >
                    <label class="col-form-label">{{ 'epdb.manage.search-organization.label-sub-country' | translate }}</label>
                    <angular2-multiselect 
                        [data]="dropdownListSubCountry" 
                        [(ngModel)]="selectedItemsSubCountry" 
                        [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" 
                        (onSelect)="onSubCountriesSelect($event)" 
                        (onDeSelect)="OnSubCountriesDeSelect($event)"
                        (onSelectAll)="onSubCountriesSelectAll($event)"
                        (onDeSelectAll)="onSubCountriesDeSelectAll($event)">
                    </angular2-multiselect>
                </div>   -->

                <div class="col-md-6 col-xl-4 form-group">
                    <!-- <label class="col-form-label">{{ 'epdb.admin.partner_type.partner_type_status' | translate }}</label> -->
                    <label class="col-form-label">{{'eim.profile.my_profile.state' | translate}}</label>
                    <angular2-multiselect [data]="dropdownListState" [(ngModel)]="selectedItemsState" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                    </angular2-multiselect>
                </div>


               


                 <!-- <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.organization.add_edit.state' | translate }}</label>
                    <input type="text" class="form-control" id="RegisteredStateProvince" formControlName="RegisteredStateProvince" placeholder="{{ 'epdb.manage.organization.add_edit.state' | translate }}">
                </div> -->

                <!-- <div class="col-lg-12 col-xl-12 row">
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{ 'epdb.manage.search-organization.label-state' | translate }}</label>
                        <input type="text" class="form-control" id="RegisteredStateProvince" formControlName="RegisteredStateProvince">
                    </div>
                </div> -->
                <div class="col-md-6 col-xl-6"></div>
                <div class="col-md-3 col-xl-3">
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-play-alt-1"></i> {{ 'general.search' | translate }}</button>
                </div>
                <div class="col-md-3 col-xl-3">
                    <button type="button" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20" (click)="stopquery()">
                        <i class="icofont icofont-stop"></i> {{ 'general.btn_stop_query' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.manage.organization.search.search_result' | translate }}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4  row p-20">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data | dataFilterOrganization : filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="20%">
                                <mfDefaultSorter by="OrgId">{{ 'epdb.manage.organization.detail.organization_id' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="OrgName">{{ 'epdb.manage.organization.detail.organization_name' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="geo_name">Geo</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="countries_name">Country</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="PartnerType">{{ 'general.type' | translate }}/{{ 'general.status' | translate }}</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="data!=null">
                        <ng-container *ngFor="let item of mf.data; let si = index">
                            <tr>
                                <td [attr.rowspan]="item.PartnerType.length?item.PartnerType.length:''" [style.background-color]="si%2==0?'#f1f1f1':'#fff'"><a [routerLink]="['/manage/organization/detail-organization',item.OrganizationId]">{{item.OrgId}}</a></td>
                                <td [attr.rowspan]="item.PartnerType.length?item.PartnerType.length:''" [style.background-color]="si%2==0?'#f1f1f1':'#fff'">
                                    <a [routerLink]="['/manage/organization/detail-organization',item.OrganizationId]" [innerHTML]="item.OrgName"></a>
                                </td>
                                <td [attr.rowspan]="item.PartnerType.length?item.PartnerType.length:''" [style.background-color]="si%2==0?'#f1f1f1':'#fff'">{{item.geo_name}}</td>
                                <td [attr.rowspan]="item.PartnerType.length?item.PartnerType.length:''" [style.background-color]="si%2==0?'#f1f1f1':'#fff'">{{item.countries_name}}</td>
                                <td *ngIf="item.PartnerType[0]" [ngClass]="[item.PartnerType[0].indexOf('Active')>-1?'table-success':'',
                                    item.PartnerType[0].indexOf('Pending')>-1?'table-info':'',
                                    item.PartnerType[0].indexOf('Terminated')>-1?'table-secondary':'',
                                    item.PartnerType[0].indexOf('Deleted')>-1?'table-danger':'',
                                    item.PartnerType[0].indexOf('Suspended')>-1?'table-warning':'',
                                    item.PartnerType[0].indexOf('Opportunity')>-1?'table-dark':'',
                                    item.PartnerType[0].indexOf('Inactive')>-1?'table-dark':'']"  >
                                    {{item.PartnerType[0]}}
                                </td>
                                <td *ngIf="!item.PartnerType[0]">
                                    No Partner Type
                                </td>
                            </tr>
                            <ng-container *ngFor="let p of item.PartnerType;let i = index">
                                <tr *ngIf="i!=0">
                                    <td [ngClass]="[p.indexOf('Active')>-1?'table-success':'',
                                        p.indexOf('Pending')>-1?'table-info':'',
                                        p.indexOf('Terminated')>-1?'table-secondary':'',
                                        p.indexOf('Deleted')>-1?'table-danger':'',
                                        p.indexOf('Suspended')>-1?'table-warning':'',
                                        p.indexOf('Opportunity')>-1?'table-dark':'',
                                        p.indexOf('Inactive')>-1?'table-dark':'']">
                                        <span>{{p}}</span>
                                    </td>
                                </tr>
                            </ng-container>
                        </ng-container>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="5" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="5" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
