<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.distributor.add_distributor' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4  row pl-4 pr-4">
            <div class="col-md-4 col-xl-4 form-group mb-0">
                <label class="col-form-label">{{'epdb.admin.country.geo.geo' | translate}}</label>
                <angular2-multiselect [data]="dropdownListGeo" [(ngModel)]="selectedItemsGeo" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                    (onSelect)="onGeoSelect($event)" (onDeSelect)="OnGeoDeSelect($event)" (onSelectAll)="onGeoSelectAll($event)"
                    (onDeSelectAll)="onGeoDeSelectAll($event)">
                </angular2-multiselect>
            </div>

            <!-- <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.admin.country.region.region' | translate}}</label>
                <angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onRegionSelect($event)" (onDeSelect)="OnRegionDeSelect($event)"
                    (onSelectAll)="onRegionSelectAll($event)" (onDeSelectAll)="onRegionDeSelectAll($event)">
                </angular2-multiselect>
            </div>

            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.admin.country.sub_region.sub_region' | translate}}</label>
                <angular2-multiselect [data]="dropdownListSubRegion" [(ngModel)]="selectedItemsSubRegion" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onSubRegionSelect($event)" (onDeSelect)="OnSubRegionDeSelect($event)"
                    (onSelectAll)="onSubRegionSelectAll($event)" (onDeSelectAll)="onSubRegionDeSelectAll($event)">
                </angular2-multiselect>
            </div> -->

            <div class="col-md-4 col-xl-4 form-group mb-0">
                <label class="col-form-label">{{'epdb.admin.country.countries.country' | translate}}</label>
                <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownCountrySettings" (onSelect)="onCountriesSelect($event)" (onDeSelect)="OnCountriesDeSelect($event)">
                </angular2-multiselect>
                <span class="messages text-danger" *ngIf="validCountry">* Please choose one country</span>
            </div>
            <div class="col-md-10 col-xl-10 form-group mb-0">&nbsp;</div>
            <div class="col-md-2 col-xl-2 form-group mb-0">
                <label class="col-form-label">&nbsp;</label>
                <button type="button" (click)="getDistributor()" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                    <i class="icofont icofont-ui-search"></i>{{'general.btn_search' | translate}}
                </button>
            </div>
        </div>

        <div class="dt-responsive dt-bootstrap4  row p-20 pt-0" *ngIf="showAll">
            <div class="col-md-12 col-xl-12 form-group" style="overflow-x:auto;">
                <table>
                    <tbody>
                        <tr>
                            <td style="text-align: left">
                                <h4>{{'epdb.admin.country.countries.country' | translate}}</h4>
                            </td>
                            <td>
                                <strong> :</strong>
                            </td>
                            <td style="text-align: left">
                                <h4> {{countryName}}</h4>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align: left">
                                <h4>{{'epdb.admin.country.countries.country_code' | translate}}</h4>
                            </td>
                            <td>
                                <strong> :</strong>
                            </td>
                            <td style="text-align: left">
                                <h4> {{countryCode}}</h4>
                            </td>
                            <td>&nbsp;</td>
                            <!-- <td>
                                <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                                    <i class="icofont icofont-ui-edit"></i> Update
                                </button>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-12 col-xl-12 form-group">
                <div class="jumbotron">
                    <table cellpadding="8">
                        <tbody>
                            <tr>
                                <!-- <td>
                                    <h5>{{'epdb.admin.country.geo.geo' | translate}}</h5>
                                </td>
                                <td>
                                    <strong>:</strong>
                                </td>
                                <td>
                                    <h5>{{geo}}</h5>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td> -->
                                <td>
                                    <h5>{{'epdb.admin.market_type.market_type' | translate}}</h5>
                                </td>
                                <td>
                                    <strong>:</strong>
                                </td>
                                <td>
                                    <h5>{{marketName}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <!-- <td>
                                    <h5>{{'epdb.admin.country.region.region' | translate}}</h5>
                                </td>
                                <td>
                                    <strong>:</strong>
                                </td>
                                <td>
                                    <h5>{{region}}</h5>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td> -->
                                <td>
                                    <h5>{{'epdb.admin.distributor.embargoed' | translate}}</h5>
                                </td>
                                <td>
                                    <strong>:</strong>
                                </td>
                                <td>
                                    <h5>{{embargoed}}</h5>
                                </td>
                            </tr>
                            <tr>
                                <!-- <td>
                                    <h5>{{'epdb.admin.country.sub_region.sub_region' | translate}}</h5>
                                </td>
                                <td>
                                    <strong>:</strong>
                                </td>
                                <td>
                                    <h5>{{subRegion}}</h5>
                                </td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td> -->
                                <td>
                                    <h5>{{'epdb.admin.country.territory.territory' | translate}}</h5>
                                </td>
                                <td>
                                    <strong>:</strong>
                                </td>
                                <td>
                                    <h5>{{territory}}</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <hr>
            <div class="col-md-6 col-xl-6 form-group">
                <h5>{{'epdb.admin.distributor.master_distributor' | translate}}</h5>
            </div>
            <div class="col-md-4 col-xl-4 form-group text-right">&nbsp;</div>
            <div class="col-md-2 col-xl-2 form-group text-right">
                <button *ngIf="accesAddBtnMaster" type="button" (click)="searchDistributorSite('MED');" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                    <i class="icofont icofont-plus"></i>{{'general.btn_add' | translate}}
                </button>
            </div>

            <!-- page add master distributor -->
            <!-- <div class="col-md-2 col-xl-2 form-group text-right">
                <label class="col-form-label"></label>
                <button type="button" [routerLink]="['/epdb/distributor/add-master-distributor']" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-ui-add"></i> {{'epdb.manage.add-new-distributor.result-search.btn-add' | translate}}</button>
            </div> -->

            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery1" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <!-- {{data_1}} -->

            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data_1 | dataFilterMasterDistributor : filterQuery1"
                    #mf1="mfDataTable" [mfRowsOnPage]="5" [(mfSortBy)]="sortByMaster">
                    <thead>
                        <tr>
                            <th width="20%">
                                <mfDefaultSorter by="SiteID">{{'epdb.manage.site.detail.site_id' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="SiteName">{{'epdb.manage.site.detail.site_name' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="50%">
                                <mfDefaultSorter by="Roles">{{'epdb.admin.partner_type.partner_type' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%" *ngIf="accesSetBtnMaster || accesDeleteBtnMaster">
                                {{'general.action' | translate}}
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="data!=null">
                        <tr *ngFor="let item of mf1.data; let i = index">
                            <td>{{item.SiteId}}</td>
                            <td>{{item.SiteName}}</td>
                            <td class="text-left">{{item.Roles}}</td>
                            <td class="action-icon text-center" *ngIf="accesSetBtnMaster || accesDeleteBtnMaster">
                                <span *ngIf="item.PrimaryD=='False'; else this_primary">
                                    <a *ngIf="accesSetBtnMaster" class=" text-muted f-18" (click)="updateDistributorPrimary(item.SiteId,item.PrimaryD,item.EDistributorType,countryCode)"
                                        ngbTooltip="Set Primary" style="cursor: pointer">
                                        <i class="icofont icofont-minus"></i>
                                    </a>
                                </span>
                                <ng-template #this_primary>
                                    <a *ngIf="accesSetBtnMaster" class=" text-muted f-18" (click)="updateDistributorPrimary(item.SiteId,item.PrimaryD,item.EDistributorType,countryCode)"
                                        ngbTooltip="Remove Primary" style="cursor: pointer">
                                        <i class="icofont icofont-verification-check"></i>
                                    </a>
                                </ng-template>
                                <a *ngIf="accesDeleteBtnMaster" class="text-muted f-18" (click)="openConfirmsMaster(item.SiteId,countryCode)" ngbTooltip="{{'general.tool_tip_delete' | translate}}"
                                    style="cursor: pointer">
                                    <i class="icofont icofont-delete-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="data_1!=null">
                            <td colspan="6">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data_1==null">
                            <td colspan="6" class="text-center">{{'general.cant_find_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="data_1==''">
                            <td colspan="6" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="col-md-12 col-xl-12 form-group">&nbsp;</div>


            <div class="col-md-6 col-xl-6 form-group">
                <h5>{{'epdb.admin.distributor.regional_distributor' | translate}}</h5>
            </div>
            <div class="col-md-4 col-xl-4 form-group text-right">&nbsp;</div>
            <div class="col-md-2 col-xl-2 form-group text-right">
                <button *ngIf="accesAddBtnRegional" type="button" (click)="searchDistributorSite('RED');" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                    <i class="icofont icofont-plus"></i>{{'general.btn_add' | translate}}
                </button>
            </div>

            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery2" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data_2 | dataFilterRegionalDistributor : filterQuery2"
                    #mf2="mfDataTable" [mfRowsOnPage]="5" [(mfSortBy)]="sortByRegional">
                    <thead>
                        <tr>
                            <th width="20%">
                                <mfDefaultSorter by="SiteId">{{'epdb.manage.site.detail.site_id' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="30%">
                                <mfDefaultSorter by="SiteName">{{'epdb.manage.site.detail.site_name' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="40%">
                                <mfDefaultSorter by="Roles">{{'epdb.admin.partner_type.partner_type' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%" *ngIf="accesSetBtnRegional || accesDeleteBtnRegional">{{'general.action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="data_2!=null">
                        <tr *ngFor="let item of mf2.data; let i = index">
                            <td>{{item.SiteId}}</td>
                            <td>{{item.SiteName}}</td>
                            <td>{{item.Roles}}</td>
                            <td class="action-icon" *ngIf="accesSetBtnRegional || accesDeleteBtnRegional">
                                <span *ngIf="item.PrimaryD=='False'; else this_primary">
                                    <a *ngIf="accesSetBtnRegional" class="text-muted f-18" (click)="updateDistributorPrimary(item.SiteId,item.PrimaryD,item.EDistributorType,countryCode)"
                                        ngbTooltip="Set Primary" style="cursor: pointer">
                                        <i class="icofont icofont-minus"></i>
                                    </a>
                                </span>
                                <ng-template #this_primary>
                                    <a *ngIf="accesSetBtnRegional" class="text-muted f-18" (click)="updateDistributorPrimary(item.SiteId,item.PrimaryD,item.EDistributorType,countryCode)"
                                        ngbTooltip="Remove Primary" style="cursor: pointer">
                                        <i class="icofont icofont-verification-check"></i>
                                    </a>
                                </ng-template>
                                <a *ngIf="accesDeleteBtnRegional" class="text-muted f-18" (click)="openConfirmsRegional(item.SiteId,countryCode)" ngbTooltip="{{'general.tool_tip_delete' | translate}}"
                                    style="cursor: pointer">
                                    <i class="icofont icofont-delete-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="data_2!=null">
                            <td colspan="6">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data_2==null">
                            <td colspan="6" class="text-center">{{'general.cant_find_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="data_2==''">
                            <td colspan="6" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="col-md-12 col-xl-12 form-group">&nbsp;</div>


            <div class="col-md-6 col-xl-6 form-group">
                <h5>{{'epdb.admin.distributor.contact_distributor' | translate}}</h5>
            </div>
            <div class="col-md-4 col-xl-4 form-group text-right">&nbsp;</div>
            <div class="col-md-2 col-xl-2 form-group text-right">
                <button *ngIf="accesAddBtnContact" type="button" (click)="addContact()" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                    <i class="icofont icofont-plus"></i>{{'general.btn_add' | translate}}
                </button>
            </div>

            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data_kontak | dataFilterContact : filterQuery"
                    #mf3="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortByContact">
                    <thead>
                        <tr>
                            <th width="10%">
                                <mfDefaultSorter by="ContactId">{{'general.id' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="InstructorId">{{'eva.manage_course.list_course.instructor_id' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="FirstName">{{'general.name' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="EmailAddress">{{'general.email' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="RoleName">{{'epdb.admin.distributor.job_role' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="Affiliate">{{'epdb.manage.contact.site_affiliated.site_affiliated' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%" *ngIf="accesSetBtnContact || accesDeleteBtnContact">{{'general.action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="data_kontak!=null">
                        <tr *ngFor="let item of mf3.data">
                            <td>{{item.ContactId}}</td>
                            <td>{{item.InstructorId}}</td>
                            <!-- <td>{{item.FirstName}} {{item.LastName}}</td> -->
                            <td>{{item.ContactName}}</td>
                            <td>{{item.EmailAddress}}</td>
                            <td>{{item.RoleName}}</td>
                            <td>{{item.Affiliate}}</td>
                            <td class="action-icon" *ngIf="accesSetBtnContact || accesDeleteBtnContact">
                                <span *ngIf="item.PrimaryD=='False'; else this_primary">
                                    <a *ngIf="accesSetBtnContact" class="text-muted f-18" (click)="updateContactPrimary(item.ContactId,item.PrimaryD,countryCode)"
                                        ngbTooltip="Set Primary" style="cursor: pointer">
                                        <i class="icofont icofont-minus"></i>
                                    </a>
                                </span>
                                <ng-template #this_primary>
                                    <a *ngIf="accesSetBtnContact" class="text-muted f-18" (click)="updateContactPrimary(item.ContactId,item.PrimaryD,countryCode)"
                                        ngbTooltip="Remove Primary" style="cursor: pointer">
                                        <i class="icofont icofont-verification-check"></i>
                                    </a>
                                </ng-template>
                                <a *ngIf="accesDeleteBtnContact" class="text-muted f-18" (click)="openConfirmsContact(item.ContactIdInt,item.ContactId)"
                                    ngbTooltip="{{'general.tool_tip_delete' | translate}}" style="cursor: pointer">
                                    <i class="icofont icofont-delete-alt"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="data_kontak!=null">
                            <td colspan="9">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data_kontak==null">
                            <td colspan="9" class="text-center">{{'general.cant_find_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="data_kontak==''">
                            <td colspan="9" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>