<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.report_eva.post_evaluation_responses.post_evaluation_responses' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="queryForm" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.report_eva.organization_report.filter_data' | translate}}:</label>
                    <br>
                    <label class="col-form-label">{{'epdb.admin.country.geo.geo' | translate}}</label>
                    <angular2-multiselect [data]="dropdownListGeo " [(ngModel)]="selectedItemsGeo" [ngModelOptions]="{standalone:true}" [settings]="dropdownSettings"
                        (onSelect)="onGeoSelect($event)" (onDeSelect)="OnGeoDeSelect($event)" (onSelectAll)="onGeoSelectAll($event)"
                        (onDeSelectAll)="onGeoDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <!-- <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">&nbsp;</label>
                    <br>
                    <label class="col-form-label">{{'epdb.admin.country.region.region' | translate}}</label>
                    <angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onRegionSelect($event)" (onDeSelect)="OnRegionDeSelect($event)"
                        (onSelectAll)="onRegionSelectAll($event)" (onDeSelectAll)="onRegionDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">&nbsp;</label>
                    <br>
                    <label class="col-form-label">{{'epdb.admin.country.sub_region.sub_region' | translate}}</label>
                    <angular2-multiselect [data]="dropdownListSubRegion " [(ngModel)]="selectedItemsSubRegion" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onSubRegionSelect($event)" (onDeSelect)="OnSubRegionDeSelect($event)"
                        (onSelectAll)="onSubRegionSelectAll($event)" (onDeSelectAll)="onSubRegionDeSelectAll($event)">
                    </angular2-multiselect>
                </div> -->
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">&nbsp;</label>
                    <br>
                    <label class="col-form-label">{{'epdb.admin.country.countries.country' | translate}}</label>
                    <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" [settings]="dropdownSettings" [ngModelOptions]="{standalone: true}"
                        (onSelect)="onCountriesSelect($event)" (onDeSelect)="OnCountriesDeSelect($event)" (onSelectAll)="onCountriesSelectAll($event)"
                        (onDeSelectAll)="onCountriesDeSelectAll($event)">
                    </angular2-multiselect>
                    <span class="messages text-danger" *ngIf="!validCountry">* Please enter country</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">&nbsp;</label>
                    <br>
                    <label class="col-form-label">{{'epdb.report_eva.organization_report.survey_year' | translate}}</label>
                    <select name="oStatus" class="form-control" formControlName="filterByYear">
                        <option value="">-- {{ 'general.select' | translate }} --</option>
                        <option *ngFor="let item of year" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.report_eva.organization_report.month' | translate}}:</label>
                    <select name="date" class="form-control" formControlName="filterByDate">
                        <!-- <option value="">-- {{ 'general.select' | translate }} --</option> -->
                        <option *ngFor="let c of date" [ngValue]="c.id">{{c.name}}</option>
                    </select>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.report_eva.performance_overview.site_active' | translate}}</label>
                    <select name="SiteActive" class="form-control" formControlName="filterBySiteStatus">
                        <option value="">-- {{ 'general.select' | translate }} --</option>
                        <option *ngFor="let c of siteActive" [ngValue]="c.id">{{c.name}}</option>
                    </select>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.partner_type.partner_type' | translate}}<code>*</code></label>
                    <angular2-multiselect [data]="dropdownPartner" [(ngModel)]="selectedPartner" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettingsSingle"
                        (onSelect)="onPartnerSelect($event)" (onDeSelect)="OnPartnerDeSelect($event)" (onSelectAll)="onPartnerSelectAll($event)"
                        (onDeSelectAll)="onPartnerDeSelectAll($event)">
                    </angular2-multiselect>
                    <span class="messages text-danger" *ngIf="!validpertner">* Please Enter Partner Type</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.partner_type.certificate_type' | translate}}</label>
                    <angular2-multiselect [data]="dropdownCertificate" [(ngModel)]="selectedCertificate" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettingsSingle" (onSelect)="onCertificateSelect($event)" (onDeSelect)="OnCertificateDeSelect($event)"
                        (onSelectAll)="onCertificateSelectAll($event)" (onDeSelectAll)="onCertificateDeSelectAll($event)">
                    </angular2-multiselect>
                    <span class="messages text-danger" *ngIf="!validcertificate">* Please Enter Certificate Type</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group" *ngIf="showEvent">
                    <label class="col-form-label">Event Type</label>
                    <angular2-multiselect [data]="dropdownEventType" [(ngModel)]="selectedEventType" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettingsSingle" (onSelect)="onEventTypeSelect($event)" (onDeSelect)="OnEventTypeDeSelect($event)"
                        (onSelectAll)="onEventTypeSelectAll($event)" (onDeSelectAll)="onEventTypeDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <!-- <div class="col-md-12 col-xl-12 form-group">
                    <div class="col-md-6 col-xl-6 row">
                        <label class="col-form-label">Results per page:</label>
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">10</option>
                            <option [ngValue]="250">250</option>
                            <option [ngValue]="500">500</option>
                            <option [ngValue]="1000">1000</option>
                        </select>
                    </div>
                </div> -->
                <div class="col-md-8 col-xl-8">&nbsp;</div>
                <div class="col-md-6 col-xl-6">&nbsp;</div>
                <div class="col-md-2 col-xl-2">
                    <button type="submit " class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                        <i *ngIf="!loading" class="icofont icofont-play-alt-1 "></i>
                        <i class="fas fa-spinner fa-pulse" *ngIf="loading"></i>
                        {{ 'general.search' | translate }}
                        </button>
                </div>
                <div class="col-md-2 col-xl-2">
                    <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}
                    </button>
                </div>
                <div class="col-md-2 col-xl-2">
                    <button type="button" (click)="apiCall.unsubscribe();loading=false" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-stop"></i>{{ 'general.btn_stop_query' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
    <!-- <div class="card-block" *ngIf="!dataFound && eva_madafaka==''"> -->

        <!-- issue 17102018 - When "No record found" it should be displayed in table like for other reports -->

        <!-- <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center">
            <thead>
                <tr>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td class="text-center">{{'general.data_empty' | translate}}</td>
                </tr>
            </tfoot>
        </table> -->

        <!-- end line issue 17102018 - When "No record found" it should be displayed in table like for other reports -->
        
    <!-- </div>
    <div class="card-block" *ngIf="dataFound">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-12 col-xl-12 form-group">
                <table border="0" width="35%">
                    <tr>
                        <td>{{'epdb.report_eva.organization_report.total_evaliation' | translate}}:</td>
                        <td>{{total_eva}}</td>
                    </tr>
                    <tr colspan="2">&nbsp;</tr>
                    <tr>
                        <td>{{'epdb.report_eva.evaluation_responses.onsite_facility' | translate}}:</td>
                        <td>{{facility}} ({{facility_percent | convertPercent}}%)</td>
                    </tr>
                    <tr>
                        <td>{{'epdb.report_eva.evaluation_responses.onsite_computer' | translate}}:</td>
                        <td>{{computer}} ({{computer_percent | convertPercent}}%)</td>
                    </tr>
                </table>
            </div>

            <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">1. What level are you going to teach?</label>
                <div class="col-md-10 col-xl-10"> -->
                    <!-- <table border="0" width="35%" *ngIf="teaching_level != null; else nothing">
                        <tr *ngFor="let item of teaching_level">
                            <td>{{item.Format}}</td>
                            <td>({{item.Percentage | convertPercent}}%)</td>
                            <td>{{item.Name}}</td>
                        </tr>
                    </table>
                    <ng-template #nothing>
                        <label class="col-form-label">
                            There are no data meeting the search criteria specified above
                        </label>
                    </ng-template> -->

                    <!-- <div class="row" *ngFor="let item of teaching_level">
                        <div class="col-md-2 col-xl-2">
                            {{item.Format}} ({{item.Percentage | convertPercent}}%)
                        </div>
                        <div class="col-md-8 col-xl-8">
                            {{item.Name}}
                        </div>
                    </div>
                </div>
            </div> -->
            
            <!-- <div class="col-md-12 col-xl-12 form-group" style="overflow-x:auto;">
                <label class="col-form-label">2. What is going to be the primary software used?</label>

                <div class="col-md-10 col-xl-10">
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label> <br/>
                    <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="course_software | dataFilter: filterQuery"
                            #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <tbody *ngIf="course_software != null">
                            <tr *ngFor="let item of mf.data">
                                <td>{{item.TotalUse}}</td>
                                <td>{{item.Percentage | convertPercent}}%</td>
                                <td>{{item.ProductName}}</td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngIf="course_software!=null">
                                <td colspan="3">
                                    <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                                </td>
                            </tr>
                            <tr *ngIf="course_software==null">
                                <td colspan="3" class="text-center">There are no data meeting the search criteria specified above</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>

            <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">3. How many hours of training will be delivered?</label>
                <div class="col-md-10 col-xl-10"> -->
                    <!-- <table border="0" width="35%" *ngIf="hours_training != null; else nothing">
                        <tr *ngFor="let item of hours_training">
                            <td>{{item.SelectedHour}}</td>
                            <td>({{item.Percentage | convertPercent}}%)</td>
                            <td>{{item.HoursTraining}}</td>
                        </tr>
                    </table>
                    <ng-template #nothing>
                        <label class="col-form-label">
                            There are no data meeting the search criteria specified above
                        </label>
                    </ng-template> -->

                    <!-- <div class="row" *ngFor="let item of hours_training">
                        <div class="col-md-2 col-xl-2">
                            {{item.SelectedHour}} ({{item.Percentage | convertPercent}}%)
                        </div>
                        <div class="col-md-8 col-xl-8">
                            {{item.HoursTraining}}
                        </div>
                    </div>
                </div>
            </div>
                
            <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                    4. What will be the training format (Check all that apply)?
                </label>
                <div class="col-md-10 col-xl-10"> -->
                    <!-- <table border="0" width="35%" *ngIf="training_format != null; else nothing">
                        <tr *ngFor="let item of training_format">
                            <td>{{item.Format}}</td>
                            <td>({{item.Percentage | convertPercent}}%)</td>
                            <td>{{item.Name}}</td>
                        </tr>
                    </table>
                    <ng-template #nothing>
                        <label class="col-form-label">
                            There are no data meeting the search criteria specified above
                        </label>
                    </ng-template> -->

                    <!-- <div class="row" *ngFor="let item of training_format">
                        <div class="col-md-2 col-xl-2">
                            {{item.Format}} ({{item.Percentage | convertPercent}}%)
                        </div>
                        <div class="col-md-8 col-xl-8">
                            {{item.Name}}
                        </div>
                    </div>
                </div>
            </div> -->
                
            <!-- <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                    5. What training materials will you use in this class (Check all that apply)?
                </label>
                <div class="col-md-10 col-xl-10"> -->

                    <!-- <table border="0" width="35%" *ngIf="training_materials != null; else nothing">
                        <tr *ngFor="let item of training_materials">
                            <td>{{item.Format}}</td>
                            <td>({{item.Percentage | convertPercent}}%)</td>
                            <td>{{item.Name}}</td>
                        </tr>
                    </table>
                    <ng-template #nothing>
                        <label class="col-form-label">
                            There are no data meeting the search criteria specified above
                        </label>
                    </ng-template> -->

                    <!-- <div class="row" *ngFor="let item of training_materials">
                        <div class="col-md-2 col-xl-2">
                            {{item.Format}} ({{item.Percentage | convertPercent}}%)
                        </div>
                        <div class="col-md-8 col-xl-8">
                            {{item.Name}}
                        </div>
                    </div>
                </div>
            </div> -->

            <!-- eva respons - issue 30-10-2018 -->
            <!-- <ng-progress [positionUsing]="'marginLeft'" [minimum]="0.15" [maximum]="1"
            [speed]="200" [showSpinner]="true" [direction]="'leftToRightIncreased'"
            [color]="'red'" [trickleSpeed]="250" [thick]="true" [ease]="'linear'" ></ng-progress>
           
            <div class="col-md-12 col-xl-12 form-group" *ngFor="let item of resulteval"> -->
                <!-- <ngx-loading [show]="loading1" [config]="{ 
                    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
                    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true  }"></ngx-loading> -->
                <!-- <label class="col-form-label" *ngIf="item.question != ''">
                    {{item.numquestion}}. {{item.question}}
                </label> 
                <div class="col-md-10 col-xl-10">
                    <div class="row">
                        <div class="col-md-2 col-xl-2">
                            {{item.result}}
                        </div>
                        <div class="col-md-8 col-xl-8" *ngIf="item.answer == ''">
                            Empty Answer
                        </div>
                        <div class="col-md-8 col-xl-8" *ngIf="item.answer == 'undefined'">
                            Not Answered
                        </div>
                        <div class="col-md-8 col-xl-8" *ngIf="item.answer != 'undefined' && item.answer != ''">
                            {{item.answer}}
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- end line eva respons - issue 30-10-2018 -->
        <!-- </div> -->
    <!-- </div> -->
</div>