<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
	<div class="card-header">
		<div class="page-header-title">
			<h4>{{'epdb.manage.organization.add_edit.edit_organization' | translate}}</h4>
		</div>
	</div>
	<div class="card-block">
		<form [formGroup]="editorganization" (ngSubmit)="onSubmit()">
      <div class="dt-responsive dt-bootstrap4 row p-20">
        <div class="col-md-12 col-xl-4 form-group">
          <label class="col-form-label">
            {{'epdb.manage.organization.detail.organization_name' | translate}}
            <code>*</code>
          </label>
          <input type="text" class="form-control" id="OrgName" formControlName="OrgName">
          <span class="messages text-danger" *ngIf="!editorganization.get('OrgName').valid && editorganization.get('OrgName').touched">* Please Enter Organization Name</span>
        </div>

        <div class="col-md-12 col-xl-4 form-group">
          <label class="col-form-label">{{'epdb.manage.organization.add_edit.english_organization_name' | translate}}</label>
          <input type="text" class="form-control" id="EnglishOrgName" formControlName="EnglishOrgName">
        </div>

        <div class="col-md-12 col-xl-4 form-group">
          <label class="col-form-label">{{'epdb.manage.organization.add_edit.commercial_organization_name' | translate}}</label>
          <input type="text" class="form-control" id="CommercialOrgName" formControlName="CommercialOrgName">
        </div>

        <div class="col-md-4 col-xl-4 form-group">
          <label class="col-form-label">{{'epdb.manage.organization.add_edit.atc_global_csn' | translate}}</label>
          <input type="text" class="form-control" id="ATCCSN" formControlName="ATCCSN">
        </div>
        <div class="col-md-4 col-xl-4 form-group">
          <label class="col-form-label">{{'epdb.manage.organization.add_edit.var_global_csn' | translate}}</label>
          <input type="text" class="form-control" id="VARCSN" formControlName="VARCSN">
        </div>
        <div class="col-md-4 col-xl-4 form-group">
          <label class="col-form-label">{{'epdb.manage.organization.add_edit.ap_global_csn' | translate}}</label>
          <input type="text" class="form-control" id="AUPCSN" formControlName="AUPCSN">
        </div>

        <div class="col-md-4 col-xl-4 form-group">
          <label class="col-form-label">{{'epdb.manage.organization.add_edit.tax_exempt' | translate}}</label>
          <select name="select" class="form-control" id="TaxExempt" formControlName="TaxExempt">
            <option value="">-- {{'general.select' | translate}} --</option>
            <option value="Y">YES</option>
            <option value="N">NO</option>
          </select>
        </div>
        <div class="col-md-4 col-xl-4 form-group">
          <label class="col-form-label">{{'epdb.manage.organization.add_edit.vat_number' | translate}}</label>
          <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control" id="VATNumber" formControlName="VATNumber">
        </div>
        <div class="col-md-4 col-xl-4 form-group">
          <label class="col-form-label">{{'epdb.manage.organization.add_edit.year_joined' | translate}}</label>
          <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control" id="YearJoined"
                 formControlName="YearJoined">
        </div>
        <div class="col-md-10 col-xl-10 form-group">
          <label class="col-form-label">{{'epdb.manage.organization.add_edit.organization_web_address' | translate}}</label>
          <input type="text" class="form-control" id="OrgWebAddress" formControlName="OrgWebAddress" (keyup)="getwebaddress($event.target.value)">
        </div>
        <div class="col-md-12 col-xl-2 form-group">
          <label class="col-form-label">&nbsp;</label>
          <button type="button" (click)="testwebaddress()" class="btn btn-primary btn-sm btn-block waves-effect text-center">Test</button>
        </div>
        <div class="col-md-6 col-xl-6 form-group" *ngIf="orgLogoUpload">
          <label class="col-form-label">Upload Organization Logo</label>
          <input type="file" id="orgLogo" class="form-control" placeholder="Upload File.." (change)="onFileChange($event)"
            accept=".png,.jpg,.jpeg" #fileInput>
        </div>
        <div class="col-md-6 col-xl-6 form-group" *ngIf="isAvailableLogo">
          <label class="col-form-label">Upload Institution Logo</label><br />
          <img src="{{imgSrc}}" alt="uploaded logo" id="imageLogo" style="width: 60px; height: 50px">&nbsp;&nbsp;{{imgLogoName}}
          <a href="javascript:;" (click)="clearLogo();">&nbsp;Change Logo</a>
          <i class="icofont icofont-ui-close" style="margin:0;" (click)=RemoveLogo();></i>
        </div>
        <!-- <div class="col-md-6 col-xl-6 form-group" *ngIf="isAvailableLogo">
          <label class="col-form-label">Upload Organization Logo</label>
          <input type="file" id="orgLogo" class="form-control" placeholder="Upload File.." (change)="onFileChange($event)" accept=".png,.jpg,.jpeg" #fileInput>
          <img src="{{imgSrc}}" alt="uploaded logo"  id="imageLogo" style="width: 60px; height: 50px">&nbsp;&nbsp;{{imgLogoName}}
          <i class="icofont icofont-ui-close" style="margin:0;"></i>
        </div> -->
        <div class="col-md-12 col-xl-12 form-group">
          &nbsp;
        </div>

        <div class="col-md-4 col-xl-4 form-group">
          <div class="col-md-12 col-xl-12 form-group">
            <h4>{{'epdb.manage.organization.add_edit.registered_address' | translate}}</h4>
          </div>

          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">{{'epdb.manage.organization.add_edit.department' | translate}}</label>
            <input type="text" class="form-control" id="RegisteredDepartment" formControlName="RegisteredDepartment">
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">
              {{'eim.profile.my_profile.address' | translate}} 1
              <code>*</code>
            </label>
            <input type="text" class="form-control" id="RegisteredAddress1" formControlName="RegisteredAddress1">
            <span class="messages text-danger" *ngIf="!editorganization.get('RegisteredAddress1').valid && editorganization.get('RegisteredAddress1').touched">* Please Enter Registered Address</span>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">{{'eim.profile.my_profile.address' | translate}} 2</label>
            <input type="text" class="form-control" id="RegisteredAddress2" formControlName="RegisteredAddress2">
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">{{'eim.profile.my_profile.address' | translate}} 3</label>
            <input type="text" class="form-control" id="RegisteredAddress3" formControlName="RegisteredAddress3">
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">
              {{'eim.profile.my_profile.city' | translate}}
              <code>*</code>
            </label>
            <input type="text" class="form-control" id="RegisteredCity" formControlName="RegisteredCity">
            <span class="messages text-danger" *ngIf="!editorganization.get('RegisteredCity').valid && editorganization.get('RegisteredCity').touched">* Please Enter Registered City</span>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">
              {{'epdb.admin.country.countries.country' | translate}}
              <code>*</code>
            </label>
            <select name="select" class="form-control" id="RegisteredCountryCode" formControlName="RegisteredCountryCode" (change)="getState1($event.target.value)">
              <option value="">-- {{'general.select' | translate}} --</option>
              <option *ngFor="let item of datacountry" value={{item.countries_code}}>{{item.countries_name}}</option>
            </select>
            <span class="messages text-danger" *ngIf="!editorganization.get('RegisteredCountryCode').valid && editorganization.get('RegisteredCountryCode').touched">* Please Enter Registered Country</span>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">{{'eim.profile.my_profile.state' | translate}}</label>
            <select name="select" class="form-control" id="RegisteredStateProvince" formControlName="RegisteredStateProvince">
              <option value="">-- {{'general.select' | translate}} --</option>
              <option *ngFor="let item of datastate1" value={{item.RegisteredStateProvince}} [attr.selected]="RegisteredStateProvince == item.RegisteredStateProvince ? true : null">{{item.RegisteredStateProvince}}</option>
            </select>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">{{'eim.profile.my_profile.postal_code' | translate}}</label>
            <input type="text" class="form-control" id="RegisteredPostalCode" formControlName="RegisteredPostalCode">
          </div>
        </div>

        <div class="col-md-4 col-xl-4 form-group">

          <div class="col-md-12 col-xl-12 form-inline">
            <h4>{{'epdb.manage.organization.add_edit.contact_address' | translate}}</h4>
            <button type="button" (click)="getRegisteredContract()" class="col-md-3 btn btn-default btn-sm btn-block waves-effect text-center m-b-10">Copy</button>
          </div>

          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">{{'epdb.manage.organization.add_edit.department' | translate}}</label>
            <input type="text" class="form-control" [(ngModel)]="ContractDepartment" id="ContractDepartment" formControlName="ContractDepartment">
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">
              {{'eim.profile.my_profile.address' | translate}} 1
              <code>*</code>
            </label>
            <input type="text" class="form-control" [(ngModel)]="ContractAddress1" id="ContractAddress1" formControlName="ContractAddress1">
            <span class="messages text-danger" *ngIf="!editorganization.get('ContractAddress1').valid && editorganization.get('ContractAddress1').touched">* Please Enter Contract Address</span>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">{{'eim.profile.my_profile.address' | translate}} 2</label>
            <input type="text" class="form-control" [(ngModel)]="ContractAddress2" id="ContractAddress2" formControlName="ContractAddress2">
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">{{'eim.profile.my_profile.address' | translate}} 3</label>
            <input type="text" class="form-control" [(ngModel)]="ContractAddress3" id="ContractAddress3" formControlName="ContractAddress3">
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">
              {{'eim.profile.my_profile.city' | translate}}
              <code>*</code>
            </label>
            <input type="text" class="form-control" [(ngModel)]="ContractCity" id="ContractCity" formControlName="ContractCity">
            <span class="messages text-danger" *ngIf="!editorganization.get('ContractCity').valid && editorganization.get('ContractCity').touched">* Please Enter Contract City</span>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">
              {{'epdb.admin.country.countries.country' | translate}}
              <code>*</code>
            </label>
            <select name="select" class="form-control" id="ContractCountryCode" formControlName="ContractCountryCode" (change)="getState2($event.target.value)">
              <option value="">-- {{'general.select' | translate}} --</option>
              <option *ngFor="let item of datacountry" value={{item.countries_code}}>{{item.countries_name}}</option>
            </select>
            <span class="messages text-danger" *ngIf="!editorganization.get('ContractCountryCode').valid && editorganization.get('ContractCountryCode').touched">* Please Enter Contract Country</span>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">{{'eim.profile.my_profile.state' | translate}}</label>
            <select name="select" class="form-control" id="ContractStateProvince" formControlName="ContractStateProvince">
              <option value="">-- {{'general.select' | translate}} --</option>
              <option *ngFor="let item of datastate2" value={{item.ContractStateProvince}} [attr.selected]="ContractStateProvince == item.ContractStateProvince ? true : null">{{item.ContractStateProvince}}</option>
            </select>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">{{'eim.profile.my_profile.postal_code' | translate}}</label>
            <input type="text" class="form-control" [(ngModel)]="ContractPostalCode" id="ContractPostalCode" formControlName="ContractPostalCode">
          </div>
        </div>


        <div class="col-md-4 col-xl-4 form-group">

          <div class="col-md-12 col-xl-12 form-inline">
            <h4>{{'epdb.manage.organization.add_edit.invoicing_address' | translate}}</h4>
            <button type="button" (click)="getRegisteredInvoice()" class="col-md-3 btn btn-default btn-sm btn-block waves-effect text-center m-b-10">Copy</button>
          </div>

          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">{{'epdb.manage.organization.add_edit.department' | translate}}</label>
            <input type="text" class="form-control" [(ngModel)]="InvoicingDepartment" id="InvoicingDepartment" formControlName="InvoicingDepartment">
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">
              {{'eim.profile.my_profile.address' | translate}} 1
              <code>*</code>
            </label>
            <input type="text" class="form-control" [(ngModel)]="InvoicingAddress1" id="InvoicingAddress1" formControlName="InvoicingAddress1">
            <span class="messages text-danger" *ngIf="!editorganization.get('InvoicingAddress1').valid && editorganization.get('InvoicingAddress1').touched">* Please Enter Invoicing Address</span>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">{{'eim.profile.my_profile.address' | translate}} 2</label>
            <input type="text" class="form-control" [(ngModel)]="InvoicingAddress2" id="InvoicingAddress2" formControlName="InvoicingAddress2">
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">{{'eim.profile.my_profile.address' | translate}} 3</label>
            <input type="text" class="form-control" [(ngModel)]="InvoicingAddress3" id="InvoicingAddress3" formControlName="InvoicingAddress3">
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">
              {{'eim.profile.my_profile.city' | translate}}
              <code>*</code>
            </label>
            <input type="text" class="form-control" [(ngModel)]="InvoicingCity" id="InvoicingCity" formControlName="InvoicingCity">
            <span class="messages text-danger" *ngIf="!editorganization.get('InvoicingCity').valid && editorganization.get('InvoicingCity').touched">* Please Enter Invoicing City</span>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">
              {{'epdb.admin.country.countries.country' | translate}}
              <code>*</code>
            </label>
            <select name="select" class="form-control" id="InvoicingCountryCode" formControlName="InvoicingCountryCode" (change)="getState3($event.target.value)">
              <option value="">-- {{'general.select' | translate}} --</option>
              <option *ngFor="let item of datacountry" value={{item.countries_code}}>{{item.countries_name}}</option>
            </select>
            <span class="messages text-danger" *ngIf="!editorganization.get('InvoicingCountryCode').valid && editorganization.get('InvoicingCountryCode').touched">* Please Enter Invoicing Country</span>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">{{'eim.profile.my_profile.state' | translate}}</label>
            <select name="select" class="form-control" id="InvoicingStateProvince" formControlName="InvoicingStateProvince">
              <option value="">-- {{'general.select' | translate}} --</option>
              <option *ngFor="let item of datastate3" value={{item.InvoicingStateProvince}} [attr.selected]="InvoicingStateProvince == item.InvoicingStateProvince ? true : null">{{item.InvoicingStateProvince}}</option>
            </select>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">{{'eim.profile.my_profile.postal_code' | translate}}</label>
            <input type="text" class="form-control" [(ngModel)]="InvoicingPostalCode" id="InvoicingPostalCode" formControlName="InvoicingPostalCode">
          </div>
        </div>



        <div class="col-md-12 col-xl-12 form-group">
          &nbsp;
        </div>

        <div class="col-md-4 col-xl-4 form-group">

          <div class="col-md-12 col-xl-12 form-group">
            <h4>{{'epdb.manage.organization.add_edit.atc_director' | translate}}</h4>
          </div>

          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">
              {{'eim.profile.my_profile.first_name' | translate}}
              <code>*</code>
            </label>
            <input type="text" class="form-control" id="ATCDirectorFirstName" formControlName="ATCDirectorFirstName">
            <span class="messages text-danger" *ngIf="!editorganization.get('ATCDirectorFirstName').valid && editorganization.get('ATCDirectorFirstName').touched">* Please Enter ATC Director First Name</span>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">
              {{'eim.profile.my_profile.last_name' | translate}}
              <code>*</code>
            </label>
            <input type="text" class="form-control" id="ATCDirectorLastName" formControlName="ATCDirectorLastName">
            <span class="messages text-danger" *ngIf="!editorganization.get('ATCDirectorLastName').valid && editorganization.get('ATCDirectorLastName').touched">* Please Enter ATC Director Last Name</span>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">
              {{'epdb.manage.organization.detail.email' | translate}}
              <code>*</code>
            </label>
            <input type="email" class="form-control" id="ATCDirectorEmailAddress" formControlName="ATCDirectorEmailAddress">
            <span class="messages text-danger" *ngIf="!editorganization.get('ATCDirectorEmailAddress').valid && editorganization.get('ATCDirectorEmailAddress').touched">* Please Enter Email Address</span>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">
              {{'eim.profile.my_profile.telephone' | translate}}
              <code>*</code>
            </label>
            <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43" class="form-control"
                   id="ATCDirectorTelephone" formControlName="ATCDirectorTelephone">
            <span class="messages text-danger" *ngIf="!editorganization.get('ATCDirectorTelephone').valid && editorganization.get('ATCDirectorTelephone').touched">* Please Enter Telephone Number</span>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">{{'epdb.manage.organization.detail.fax' | translate}}</label>
            <input type="text" class="form-control" id="ATCDirectorFax" formControlName="ATCDirectorFax">
          </div>

        </div>

        <div class="col-md-4 col-xl-4 form-group">

          <div class="col-md-12 col-xl-12 form-inline">
            <h4>{{'epdb.manage.organization.add_edit.legal_contact' | translate}}</h4>
            <button type="button" (click)="getATCLegal()" class="col-md-3 btn btn-default btn-sm btn-block waves-effect text-center m-b-10">Copy</button>
          </div>

          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">
              {{'eim.profile.my_profile.first_name' | translate}}
              <code>*</code>
            </label>
            <input type="text" class="form-control" [(ngModel)]="LegalContactFirstName" id="LegalContactFirstName" formControlName="LegalContactFirstName">
            <span class="messages text-danger" *ngIf="!editorganization.get('LegalContactFirstName').valid && editorganization.get('LegalContactFirstName').touched">* Please Enter Legal Contact First Name</span>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">
              {{'eim.profile.my_profile.last_name' | translate}}
              <code>*</code>
            </label>
            <input type="text" class="form-control" [(ngModel)]="LegalContactLastName" id="LegalContactLastName" formControlName="LegalContactLastName">
            <span class="messages text-danger" *ngIf="!editorganization.get('LegalContactLastName').valid && editorganization.get('LegalContactLastName').touched">* Please Enter Legal Contact Last Name</span>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">
              {{'epdb.manage.organization.detail.email' | translate}}
              <code>*</code>
            </label>
            <input type="email" class="form-control" [(ngModel)]="LegalContactEmailAddress" id="LegalContactEmailAddress" formControlName="LegalContactEmailAddress">
            <span class="messages text-danger" *ngIf="!editorganization.get('LegalContactEmailAddress').valid && editorganization.get('LegalContactEmailAddress').touched">* Please Enter Email Address</span>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">
              {{'eim.profile.my_profile.telephone' | translate}}
              <code>*</code>
            </label>
            <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43" class="form-control"
                   [(ngModel)]="LegalContactTelephone" id="LegalContactTelephone" formControlName="LegalContactTelephone">
            <span class="messages text-danger" *ngIf="!editorganization.get('LegalContactTelephone').valid && editorganization.get('LegalContactTelephone').touched">* Please Enter Telephone Number</span>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">{{'epdb.manage.organization.detail.fax' | translate}}</label>
            <input type="text" class="form-control" [(ngModel)]="LegalContactFax" id="LegalContactFax" formControlName="LegalContactFax">
          </div>

        </div>

        <div class="col-md-4 col-xl-4 form-group">

          <div class="col-md-12 col-xl-12 form-inline">
            <h4>{{'epdb.manage.organization.add_edit.billing_contact' | translate}}</h4>
            <button type="button" (click)="getATCBilling()" class="col-md-3 btn btn-default btn-sm btn-block waves-effect text-center m-b-10">Copy</button>
          </div>

          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">
              {{'eim.profile.my_profile.first_name' | translate}}
              <code>*</code>
            </label>
            <input type="text" class="form-control" [(ngModel)]="BillingContactFirstName" id="BillingContactFirstName" formControlName="BillingContactFirstName">
            <span class="messages text-danger" *ngIf="!editorganization.get('BillingContactFirstName').valid && editorganization.get('BillingContactFirstName').touched">* Please Enter Billing Contact First Name</span>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">
              {{'eim.profile.my_profile.last_name' | translate}}
              <code>*</code>
            </label>
            <input type="text" class="form-control" [(ngModel)]="BillingContactLastName" id="BillingContactLastName" formControlName="BillingContactLastName">
            <span class="messages text-danger" *ngIf="!editorganization.get('BillingContactLastName').valid && editorganization.get('BillingContactLastName').touched">* Please Enter Billing Contact Last Name</span>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">
              {{'epdb.manage.organization.detail.email' | translate}}
              <code>*</code>
            </label>
            <input type="email" class="form-control" [(ngModel)]="BillingContactEmailAddress" id="BillingContactEmailAddress" formControlName="BillingContactEmailAddress">
            <span class="messages text-danger" *ngIf="!editorganization.get('BillingContactEmailAddress').valid && editorganization.get('BillingContactEmailAddress').touched">* Please Enter Email Address</span>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">
              {{'eim.profile.my_profile.telephone' | translate}}
              <code>*</code>
            </label>
            <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43" class="form-control"
                   [(ngModel)]="BillingContactTelephone" id="BillingContactTelephone" formControlName="BillingContactTelephone">
            <span class="messages text-danger" *ngIf="!editorganization.get('BillingContactTelephone').valid && editorganization.get('BillingContactTelephone').touched">* Please Enter Telepone Number</span>
          </div>
          <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label">{{'epdb.manage.organization.detail.fax' | translate}}</label>
            <input type="text" class="form-control" [(ngModel)]="BillingContactFax" id="BillingContactFax" formControlName="BillingContactFax">
          </div>

        </div>

        <div class="col-md-12 col-xl-12 form-group">
          <label class="col-form-label">{{'epdb.manage.organization.add_edit.administrative_notes' | translate}}</label>
          <textarea class="form-control" rows="5" id="AdminNotes" formControlName="AdminNotes"></textarea>
        </div>
        <div class="col-md-12 col-xl-12">&nbsp;</div>
        <div class="col-md-12 col-xl-12">
          <h5>{{ 'epdb.manage.site.detail.site' | translate }} (S)</h5>
        </div>
        <div class="col-md-12 col-xl-12">&nbsp;</div>


        <!-- <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
    <div>
      <label class="label-control">{{'general.show' | translate}}
        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
          <option [ngValue]="10">10</option>
          <option [ngValue]="25">25</option>
          <option [ngValue]="50">50</option>
          <option [ngValue]="100">100</option>
        </select>
        {{'general.entries' | translate}}
      </label>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-6">
    <div style="text-align: right;">
      <label>{{'general.search' | translate}}:
        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
      </label>
    </div>
  </div> -->
        <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
          <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="dataSite"
                 #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            <thead>
              <tr>
                <th width="20%">
                  <mfDefaultSorter by="siteId">{{ 'epdb.manage.site.detail.site_id' | translate }}</mfDefaultSorter>
                </th>
                <th width="20%">
                  <mfDefaultSorter by="SiteName">{{ 'epdb.manage.site.detail.site_name' | translate }}</mfDefaultSorter>
                </th>
                <th width="20%">
                  <mfDefaultSorter by="RoleName">{{ 'epdb.admin.partner_type.partner_type' | translate }}</mfDefaultSorter>
                </th>
                <th width="20%">
                  <mfDefaultSorter by="SiteAddress1">{{ 'epdb.manage.contact.site_affiliated.site_location' | translate }}</mfDefaultSorter>
                </th>
                <th width="10%">
                  <mfDefaultSorter by="Status">{{ 'general.status' | translate }}</mfDefaultSorter>
                </th>
                <th width="10%">
                  <mfDefaultSorter by="count"># {{ 'epdb.manage.contact.detail.contact' | translate }}</mfDefaultSorter>
                </th>
                <th width="10%">
                  Set
                  <br />Primary
                </th>
              </tr>
            </thead>
            <tbody *ngIf="dataSite!=null && dataSite!=''">
              <tr *ngFor="let item of mf.data">
                <td>
                  <a [routerLink]="['/manage/site/detail-site',item.SiteIdInt]">{{item.SiteId}}</a>
                </td>
                <td>{{item.SiteName}}</td>
                <td>
                  <span *ngFor="let item2 of partnertype">
                    <span *ngIf="item.SiteId == item2.SiteId">
                      {{item2.RoleName}}
                      <br />
                    </span>
                  </span>
                </td>
                <td>{{item.SiteAddress1}}</td>
                <td>{{item.PartnerType}}</td>
                <td *ngIf="item.count!=null">{{item.count}}</td>
                <td *ngIf="item.count==null">0</td>
                <td>
                  <div class="form-radio">
                    <div class="radio radiofill">
                      <div *ngIf="PrimarySiteId == item.SiteId;else nothing">
                        <label>
                          <input type="radio" name="radio" (change)="onCheckboxChange(item.SiteId)" checked >
                          <i class="helper"></i>
                        </label>
                      </div>
                      <ng-template #nothing>
                        <label>
                          <input type="radio" name="radio" (change)="onCheckboxChange(item.SiteId)">
                          <i class="helper"></i>
                        </label>
                      </ng-template>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr *ngIf="dataSite!=null">
                <td colspan="7">
                  <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                </td>
              </tr>
              <tr *ngIf="dataSite==null">
                <td colspan="7" class="text-center">{{'general.loading_data' | translate}} ...</td>
              </tr>
              <tr *ngIf="dataSite==''">
                <td colspan="7" class="text-center">{{'general.data_empty' | translate}}</td>
              </tr>
            </tfoot>
          </table>
        </div>

        <div class="col-md-12 col-xl-12">
          <app-file-upload #fileUploader [cap]="5-attachments.length"></app-file-upload>
          <ng-container *ngFor="let file of attachments">
            <div *ngIf="attachments_remove.indexOf(file.Id)==-1" style="display: flex;justify-content: space-between;margin-bottom: 5px;">
              <span style="padding-top: 10px;">{{file.Name}}</span>
              <button class="btn btn-danger btn-sm waves-effect rounded-circle"
                      (click)="attachments_remove.push(file.Id)"
                      type="button">
                <i class="icofont icofont-ui-close" style="margin:0;"></i>
              </button>
            </div>
          </ng-container>
        </div>
        <div class="col-md-3 col-xl-3"></div>
        <div class="col-md-2 col-xl-2 form-group">
          <button type="submit" class="btn btn-success btn-md btn-block text-center">
            <i class="icofont icofont-save"></i>{{ 'general.btn_save' | translate }}
          </button>
        </div>
        <div class="col-md-2 col-xl-2 form-group" *ngIf="datadetail!=null">
          <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
            <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}
          </button>
        </div>
        <div class="col-md-2 col-xl-2 form-group" *ngIf="datadetail!=null">
          <button type="button" [routerLink]="['/manage/organization/detail-organization',datadetail.OrganizationId]" class="btn btn-danger btn-md btn-block text-center">
            <i class="icofont icofont-ui-close"></i>{{ 'general.btn_cancel' | translate }}
          </button>
        </div>
        <div class="col-md-3 col-xl-3 form-group" *ngIf="datadetail!=null">
          <button type="button" class="btn btn-default btn-md btn-block text-center" routerLink="/merge/org/{{datadetail.OrgId}}">
             Mark as duplicate
          </button>
        </div>
      </div>
		</form>
	</div>
</div>
