<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'eva.manage_evaluation.edit_evaluation_template_data' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="edittemplatedata" (ngSubmit)="onSubmitEditSurveyTemplate()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.partner_type.partner_type' | translate}}</label>
                    <select class="form-control" (change)="selectedPartner($event.target.value)" formControlName="PartnerType">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of dropdownPartner" value="{{item.RoleId}}">{{item.RoleName}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!edittemplatedata.get('PartnerType').valid && edittemplatedata.get('PartnerType').touched">* Please Select Partner Type</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group" *ngIf="CertificateTypeStat">
                    <label class="col-form-label">{{'epdb.admin.partner_type.certificate_type' | translate}}</label>
                    <select class="form-control" formControlName="certificatetype">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of dropdownCertificate" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!edittemplatedata.get('certificatetype').valid && edittemplatedata.get('certificatetype').touched">* Please Select Certificate Type</span>
                </div>
                <div class="col-md-8 col-xl-8" *ngIf="kolom"></div>
                <div class="col-md-4 col-xl-4" *ngIf="CertificateType"></div>
                <div class="col-md-4 col-xl-4">
                    <label class="col-form-label">{{'eva.manage_evaluation.evaluation_template_code' | translate}}</label>
                    <input type="text" class="form-control" id="EvaluationQuestionCode" formControlName="EvaluationQuestionCode">
                    <span class="messages text-danger" *ngIf="!edittemplatedata.get('EvaluationQuestionCode').valid && edittemplatedata.get('EvaluationQuestionCode').touched">* Please Enter Evaluation Code</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eva.manage_evaluation.evaluation_template_title' | translate}}</label>
                    <input type="text" class="form-control" id="CourseId" formControlName="CourseId">
                    <span class="messages text-danger" *ngIf="!edittemplatedata.get('CourseId').valid && edittemplatedata.get('CourseId').touched">* Please Enter Template Title</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'general.year' | translate}}</label>
                    <select class="form-control" formControlName="Year">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of year" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!edittemplatedata.get('Year').valid && edittemplatedata.get('Year').touched">* Please Select Year</span>
                </div>
                <div class="col-md-12 col-xl-12"></div>
                <div class="col-md-6 col-xl-6"></div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i>{{'general.btn_save_change' | translate}} </button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="resetFormUpdate()" class="btn btn-default btn-md btn-block text-center ">
                        <i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" [routerLink]="['/evaluation/survey-template-list']" class="btn btn-danger btn-md btn-block text-center ">
                        <i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>