<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.manage.contact.add_edit.edit_contact' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="editcontact" (ngSubmit)="onSubmit()">
          <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-12 col-xl-12 form-group text-left">
              <div class="checkbox-fade fade-in-primary">
                <label>
                  <input type="checkbox" value="" id="ATCRole" formControlName="ATCRole" (change)="changeItsInstructor($event.target.checked)">
                  <span class="cr">
                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                  </span>
                  <span class="text-inverse">Is an instructor?</span>
                </label>
              </div>
            </div>

            <div class="col-md-12 col-xl-12 form-group" *ngIf="datadetail!=null">
              <label class="col-form-label">{{'epdb.manage.contact.detail.contact_name' | translate}} : {{datadetail.ContactName}}</label>
            </div>

            <div class="col-md-4 col-xl-4 form-group">
              <label class="col-form-label">
                {{'eim.profile.my_profile.first_name' | translate}}
                <code>*</code>
              </label>
              <input type="text" class="form-control" id="FirstName" formControlName="FirstName" placeholder="{{'eim.profile.my_profile.first_name' | translate}}">
              <span class="messages text-danger" *ngIf="!editcontact.get('FirstName').valid && editcontact.get('FirstName').touched">* Please Enter First Name</span>
            </div>

            <div class="col-md-4 col-xl-4 form-group">
              <label class="col-form-label">
                {{'eim.profile.my_profile.last_name' | translate}}
                <code>*</code>
              </label>
              <input type="text" class="form-control" id="LastName" formControlName="LastName" placeholder="{{'eim.profile.my_profile.last_name' | translate}}">
              <span class="messages text-danger" *ngIf="!editcontact.get('LastName').valid && editcontact.get('LastName').touched">* Please Enter Last Name</span>
            </div>

            <div class="col-md-4 col-xl-4 form-group">
              <label class="col-form-label">{{'eim.profile.my_profile.honorific' | translate}}</label>
              <select class="form-control" formControlName="Honorific">
                <option value="">-- {{'general.select' | translate}} --</option>
                <option *ngFor="let item of honorific" value="{{item.Key}}">{{item.KeyValue}}</option>
              </select>
            </div>

            <div class="col-md-4 col-xl-4 form-group">
              <label class="col-form-label">{{'epdb.manage.organization.detail.email_1' | translate}} <code>*</code></label>
              <input type="email" class="form-control" id="EmailAddress1" formControlName="EmailAddress" (keyup)="checkEmailDuplicate($event.target.value)" (change)="checkEmailDuplicate($event.target.value)" placeholder="{{'epdb.manage.organization.detail.email_1' | translate}}">
              <span class="messages text-danger" *ngIf="!editcontact.get('EmailAddress').valid && editcontact.get('EmailAddress').touched">* Please Enter Email Address</span>
              <span class="messages text-danger" *ngIf="!validemail">* Email Address already exist</span>
            </div>

            <div class="col-md-4 col-xl-4 form-group">
              <label class="col-form-label">{{'epdb.manage.organization.detail.email_2' | translate}}</label>
              <input type="email" class="form-control" id="EmailAddress2" formControlName="EmailAddress2" placeholder="{{'epdb.manage.organization.detail.email_2' | translate}}">
              <span class="messages text-danger" *ngIf="!editcontact.get('EmailAddress2').valid && editcontact.get('EmailAddress2').touched">* Please Enter Secondary Email Address (Cant Be Same With Primary Email Address)</span>
            </div>

            <div class="col-md-12 col-xl-12 form-group">
              <div class="checkbox-fade fade-in-primary">
                <label>
                  <input type="checkbox" id="DoNotEmail" formControlName="DoNotEmail" [checked]="sendemail">
                  <span class="cr">
                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                  </span>
                  <span class="text-inverse">{{'epdb.manage.contact.add_edit.dont_send_email' | translate}}</span>
                </label>
              </div>
              <hr />
            </div>

            <div class="col-md-3 col-xl-3 form-group">
              <label class="col-form-label">{{'epdb.manage.contact.detail.primary_job_role' | translate}} <code>*</code></label>
              <select class="form-control" id="PrimaryRoleId" formControlName="PrimaryRoleId">
                <option value="">-- {{'general.select' | translate}} --</option>
                <option *ngFor="let item of jobrole" value="{{item.RoleId}}">{{item.RoleName}}</option>
              </select>
              <span class="messages text-danger" *ngIf="!validPri">* Please select job role</span>
            </div>

            <div class="col-md-4 col-xl-4 form-group">
              <label class="col-form-label">Role Access <code>*</code></label>
              <angular2-multiselect [data]="dropdownListRoleAcces" [(ngModel)]="selectedItemsRoleAcces" [ngModelOptions]="{standalone: true}"
                                    [settings]="dropdownSettingsRoleAcces" (onSelect)="onItemSelectRoleAcces($event)" (onDeSelect)="OnItemDeSelectRoleAcces($event)"
                                    (onSelectAll)="onSelectAllRoleAcces($event)" (onDeSelectAll)="onDeSelectAllRoleAcces($event)">
              </angular2-multiselect>
              <span class="messages text-danger" *ngIf="!validRoleAcc">* Please select role access</span>
            </div>

            <div class="col-md-4 col-xl-4 form-group">
              <label class="col-form-label">{{'eim.profile.my_profile.primary_industry' | translate}}</label>
              <select class="form-control" id="PrimaryIndustryId" formControlName="PrimaryIndustryId">
                <option value="">-- {{'general.select' | translate}} --</option>
                <option *ngFor="let item of primaryindustry" value="{{item.IndustryCode}}">{{item.Industry}}</option>
              </select>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
              <label class="col-form-label">Job Title</label>
              <input type="text" class="form-control" id="Designation" formControlName="Designation" placeholder="Job title">

            </div>
            <div class="col-md-12 col-xl-12 form-group">
              <hr />
            </div>

            <div class="col-md-4 col-xl-4 form-group">
              <label class="col-form-label">
                {{'epdb.manage.contact.detail.time_zone' | translate}}
                <code>*</code>
              </label>
              <select class="form-control" id="Timezone" formControlName="Timezone">
                <option value="">-- {{'general.select' | translate}} --</option>
                <option *ngFor="let item of timezones" value="{{item.compId}}">{{item.compName}}</option>
              </select>
              <span class="messages text-danger" *ngIf="!editcontact.get('Timezone').valid && editcontact.get('Timezone').touched">* Please Enter Timezone</span>
            </div>

            <div class="col-md-4 col-xl-4 form-group">
              <label class="col-form-label">{{'eim.profile.my_profile.telephone' | translate}} #1</label>
              <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43" class="form-control"
                     id="Telephone1" formControlName="Telephone1" placeholder="{{'eim.profile.my_profile.telephone' | translate}} #1">
            </div>

            <div class="col-md-4 col-xl-4 form-group">
              <label class="col-form-label">{{'eim.profile.my_profile.telephone' | translate}} #2</label>
              <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43" class="form-control"
                     id="Telephone2" formControlName="Telephone2" placeholder="{{'eim.profile.my_profile.telephone' | translate}} #2">
            </div>

            <div class="col-md-4 col-xl-4 form-group">
              <label class="col-form-label">{{'eim.profile.my_profile.mobile_number' | translate}} #1</label>
              <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43" class="form-control"
                     id="Mobile1" formControlName="Mobile1" placeholder="{{'eim.profile.my_profile.mobile_number' | translate}} #1">
            </div>

            <div class="col-md-4 col-xl-4 form-group">
              <label class="col-form-label">{{'eim.profile.my_profile.mobile_number' | translate}} #2</label>
              <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43" class="form-control"
                     id="Mobile2" formControlName="Mobile2" placeholder="{{'eim.profile.my_profile.mobile_number' | translate}} #2">
            </div>

            <div class="col-md-4 col-xl-4 form-group">
              <label class="col-form-label">{{'eim.profile.my_profile.primary_language' | translate}}</label>
              <select class="form-control" id="PrimaryLanguage" formControlName="PrimaryLanguage">
                <option value="">-- {{'general.select' | translate}} --</option>
                <option *ngFor="let item of language" value="{{item.Key}}">{{item.KeyValue}}</option>
              </select>
            </div>

            <div class="col-md-4 col-xl-4 form-group">
              <label class="col-form-label">{{'eim.profile.my_profile.secondary_language' | translate}}</label>
              <select class="form-control" id="SecondaryLanguage" formControlName="SecondaryLanguage">
                <option value="">-- {{'general.select' | translate}} --</option>
                <option *ngFor="let item of language" value="{{item.Key}}">{{item.KeyValue}}</option>
              </select>
            </div>
            <div class="col-md-12 col-xl-4 form-group">
              <label class="col-form-label">
                {{'epdb.manage.organization.detail.organization' | translate}}
                <code>*</code>
              </label>
              <!-- <angular2-multiselect [data]="dropdownListOrganization" [(ngModel)]="selectedItemsOrganization" [ngModelOptions]="{standalone: true}"
        [settings]="dropdownSettings" (onSelect)="onItemSelect($event)">
    </angular2-multiselect> -->
              <ng2-completer [textSearching]="'Please wait...'" [(ngModel)]="Organization" [datasource]="dataService" [minSearchLength]="2"
                             [inputClass]="['form-control']" (selected)="PickedOrganization($event)" [matchClass]="completer-description"
                             [ngModelOptions]="{standalone: true}">
              </ng2-completer>
              <span class="messages text-danger" *ngIf="!validorg">* Please enter organization</span>
            </div>

            <div class="col-md-12 col-xl-4 form-group">
              <label class="col-form-label">{{'epdb.manage.contact.detail.comment' | translate}}</label>
              <textarea class="form-control" id="Comments" formControlName="Comments" rows="5" ></textarea>
                       <!-- onkeypress="return event.charCode < 13 || event.charCode > 13 && event.charCode < 16 || event.charCode >16 && event.charCode <160 || event.charCode >161" pattern="[^(){}/<>[\]\\'|\x22]*"></textarea>-->
              <!--<span class="messages text-danger" *ngIf="editcontact.get('Comments').errors?.pattern">Do not allow to add this special character</span>-->
            </div>
            <div class="col-md-12 col-xl-4"></div>

            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;" *ngIf="selectedItemsOrganization!=''">
              <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center">
                <thead>
                  <tr>
                    <th width="10%">
                      <div class="checkbox-fade fade-in-primary">
                        <label class="col-form-label">
                          <input type="checkbox" (change)="checkAll($event)" *ngIf="allChecked == true" checked="checked">
                          <input type="checkbox" (change)="checkAll($event)" *ngIf="allChecked == false">
                          <input type="checkbox" (change)="checkAll($event)" *ngIf="allChecked == undefined" checked="checked">
                          <span class="cr">
                            <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                          </span>
                        </label>
                      </div>
                    </th>
                    <th width="20%">
                      {{ 'epdb.manage.site.detail.site_id' | translate }}
                    </th>
                    <th width="20%">
                      {{ 'epdb.manage.organization.detail.organization_id' | translate }}
                    </th>
                    <th width="10%">
                      {{ 'epdb.manage.site.detail.site_status' | translate }}
                    </th>
                    <th width="30%">
                      {{ 'epdb.manage.site.detail.site_name' | translate }}
                    </th>
                    <th width="10%">{{ 'epdb.manage.site.detail.primary_site' | translate }}</th>
                  </tr>
                </thead>
                <tbody *ngIf="datasite!=null && datasite!=''">
                  <tr *ngFor="let item of datasite">
                    <td>
                      <div class="checkbox-fade fade-in-primary">
                        <label class="col-form-label">
                          <input type="checkbox" (change)="selectSite($event,item.SiteId)" *ngIf="item.CheckedSites == true" checked="checked">
                          <input type="checkbox" (change)="selectSite($event,item.SiteId)" *ngIf="item.CheckedSites == false">
                          <input type="checkbox" (change)="selectSite($event,item.SiteId)" *ngIf="item.CheckedSites == undefined" checked>
                          <span class="cr">
                            <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                          </span>
                        </label>
                      </div>
                    </td>
                    <td>{{item.SiteId}}</td>
                    <td>{{item.OrgId}}</td>
                    <!-- <td>{{item.Status}}</td> -->
                    <td [innerHTML]="item.PartnerStatusDetail"></td> <!-- detail partner status -->
                    <td>
                      <a [routerLink]="['/manage/site/detail-site',item.SiteIdInt]">{{item.SiteName}}</a>
                      <br />GEO : {{item.geo_name}} {{'epdb.admin.country.countries.country' | translate}} : {{item.SiteCountryCode}}
                    </td>
                    <td>
                      <div class="form-radio">
                        <div class="radio radiofill radio-inline">
                          <label>
                            <input type="radio" name="radio" (change)="onCheckboxChangeFn(item.SiteId)" [checked]="item.SiteId == primarysiteid_value">
                            <i class="helper"></i>
                          </label>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr *ngIf="datasite!=null">
                    <td colspan="7">
                      <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                    </td>
                  </tr>
                  <tr *ngIf="datasite==null">
                    <td colspan="7" class="text-center">{{'general.loading_data' | translate}} ...</td>
                  </tr>
                  <tr *ngIf="datasite==''">
                    <td colspan="7" class="text-center">{{'general.data_empty' | translate}}</td>
                  </tr>
                </tfoot>
              </table>
            </div>

            <div class="col-md-12 col-xl-8 form-group"></div>
            <div class="col-md-12 col-xl-4 form-group text-right">
              <span class="messages text-danger" *ngIf="!affiliatevalid">* Please affiliate to any site</span>
            </div>

            <div class="col-md-12 col-xl-10 form-group">&nbsp;</div>
            <div class="col-md-12 col-xl-2 form-group">
              <span class="messages text-danger" *ngIf="!primarysiteidselect">* Please select primary site</span>
            </div>

            <div class="col-md-3 col-xl-3"></div>
            <div class="col-md-2 col-xl-2 form-group">
              <button type="submit" class="btn btn-success btn-md btn-block waves-effect text-center m-b-20">
                <i class="icofont icofont-save"></i> {{'general.btn_save' | translate}}
              </button>
            </div>
            <div class="col-md-2 col-xl-2 form-group">
              <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block waves-effect text-center m-b-20">
                <i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}
              </button>
            </div>
            <div class="col-md-2 col-xl-2 form-group" *ngIf="datadetail!=null">
              <button type="button" [routerLink]="['/manage/contact/detail-contact',id,siteid]" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                <i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}
              </button>
            </div>
            <div class="col-md-3 col-xl-3 form-group" *ngIf="datadetail!=null">
              <button type="button" class="btn btn-default btn-md btn-block text-center" routerLink="/merge/contact/{{datadetail.ContactId}}">
                 Mark as duplicate
              </button>
            </div>
          </div>
        </form>
    </div>
</div>
