<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.country.territory.add_new_territory' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="addterritory" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <!-- <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.geo.geo_code' | translate}}</label>
                    <select class="form-control" formControlName="geo_code">
                        <option value="">{{'general.select' | translate}}</option>
                        <option *ngFor="let item of datageo" value="{{item.geo_code}}">{{item.geo_name}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!addterritory.get('geo_code').valid && addterritory.get('geo_code').touched">* Please Select Geo Code</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.territory.territory_code' | translate}}</label>
                    <input type="text" class="form-control" id="territory_code" formControlName="territory_code" placeholder="{{'epdb.admin.country.territory.territory_code' | translate}}">
                    <span class="messages text-danger" *ngIf="!addterritory.get('territory_code').valid && addterritory.get('territory_code').touched">* Please Enter Territory Code</span>
                </div> -->
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.territory.territory_name' | translate}} <span style="color:#DC3538">*</span></label>
                    <input type="text" class="form-control" id="territory_name" formControlName="territory_name" placeholder="{{'epdb.admin.country.territory.territory_name' | translate}}" maxlength="50">
                    <span class="messages text-danger" *ngIf="!addterritory.get('territory_name').valid && addterritory.get('territory_name').touched">* Please enter territory Name</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.countries.country' | translate}} <span style="color:#DC3538">*</span></label>
                    <angular2-multiselect formControlName="country_id" [data]="dropdownCountries" [(ngModel)]="selectedCountry" [settings]="dropdownSettings"
                        (onSelect)="onCountrySelect($event)" (onDeSelect)="OnCountryDeSelect($event)">
                    </angular2-multiselect>
                    <span class="messages text-danger" *ngIf="!addterritory.get('country_id').valid && addterritory.get('country_id').touched">* Please select country</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">&nbsp;</div>
                <div class="col-md-6 col-xl-6"></div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i> {{'general.btn_save' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="resetFormAdd()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" [routerLink]="['/admin/country/territory-list']" class="btn btn-danger btn-md btn-block text-center">
                        <i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>