<div class="row">
  <div class="col-md-12 col-xl-12 page-header-title">
      <h4>Report : Regional Mapping Report</h4>
        <br/>
        <br/>
  </div>
  <div class="col-md-12 col-xl-12">
    <div class="card card-border-primary"> 
        <div class="card-block row">  
	        <div class="col-lg-12 col-xl-12 row"> 
	            <div class="card-block row dt-responsive" style="margin:20px">
	                <div class="col-md-12 col-xl-12 form-group text-left">
	                    <label>The tables below allow you to see the current regional mappings. Contact Fegus Quinn to request changes to the mapping.<br/><br/></label>
	                </div>
	                <div class="col-md-3 col-xl-3 form-group text-left">
	                </div>
	                <div class="col-md-6 col-xl-6 form-group">
	                    <select name="oStatus" class="form-control" (change)="changetable($event.target.value)">
	                        <option value="">-- Show All Categories --</option>
	                        <option value="Show Administrator Email">Show Administrator Email</option>
	                        <option value="Show Countries">Show Countries</option>
	                        <option value="Show States / Provinces / Prefectures">Show States / Provinces / Prefectures</option>
	                    </select>
	                </div>
	                <div class="col-md-3 col-xl-3 form-group text-left">
	                </div>
	                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
	                    <div>
	                      <label class="label-control">Show
	                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
	                          <option [ngValue]="10">10</option>
	                          <option [ngValue]="25">25</option>
	                          <option [ngValue]="50">50</option>
	                          <option [ngValue]="100">100</option>
	                        </select>
	                        entries
	                      </label>
	                    </div>
	                </div>
	                <div class="col-xs-12 col-sm-12 col-md-6">
	                    <div style="text-align: right;">
	                        <label>Search:
	                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
	                        </label>
	                    </div>
	                </div>  
	                <table class="row table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
	                    <thead>
	                        <tr>
	                            <th width="10%"><mfDefaultSorter by="name">Geo</mfDefaultSorter></th>
	                            <th width="10%"><mfDefaultSorter by="name">Region</mfDefaultSorter></th>
	                            <th width="10%"><mfDefaultSorter by="name">Sub Region</mfDefaultSorter></th>
	                            <th width="10%" *ngIf="showemail"><mfDefaultSorter by="name">Email Address</mfDefaultSorter></th>
	                            <th width="10%" *ngIf="showcountries"><mfDefaultSorter by="name">Country</mfDefaultSorter></th> 
	                            <th width="10%" *ngIf="showstateprovpref"><mfDefaultSorter by="name">State/Province/Prefecture</mfDefaultSorter></th> 
	                            <th width="10%" *ngIf="showstateprovpref"><mfDefaultSorter by="name">Abbrevation</mfDefaultSorter></th> 
	                        </tr> 
	                    </thead>
	                    <tbody>
	                        <tr *ngFor="let item of mf.data">
	                            <td>{{item.name}}</td>
	                            <td>{{item.name}}</td>
	                            <td>{{item.name}}</td>
	                            <td *ngIf="showemail">{{item.name}}</td>
	                            <td *ngIf="showcountries">{{item.name}}</td>
	                            <td *ngIf="showstateprovpref">{{item.name}}</td>
	                            <td *ngIf="showstateprovpref">{{item.name}}</td>
	                        </tr>
	                    </tbody>
	                    <tfoot> 
	                        <tr>
	                            <td colspan="7"><mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator></td>
	                        </tr>
	                    </tfoot>
	                </table> 
	            </div> 
	        </div>
        </div>
    </div>
</div>

 