<div class="row">
    <div class="col-md-12 col-xl-12 page-header-title">
	    <h4>Report : History Report</h4>
	    <br/>
		<br/>
	</div>
  	<div class="col-md-12 col-xl-12">
	    <div class="card card-border-primary"> 
	        <div class="card-block row">  
	        <div class="col-lg-12 col-xl-12 row"> 
	            <div class="card-block row dt-responsive" style="margin:20px">  
	                <div class="col-md-12 col-xl-12 form-group">
	                    <label class="col-form-label"><strong>Org ID</strong></label>
	                    <input type="email" class="form-control" id="email">
	                </div>
	                <div class="col-md-12 col-xl-12 form-group">
	                    <label class="col-form-label"><strong>Site ID</strong></label>
	                    <input type="email" class="form-control" id="email">
	                </div>
	                <div class="col-md-12 col-xl-12 form-group">
	                    <label class="col-form-label"><strong>Contact ID</strong></label>
	                    <input type="email" class="form-control" id="email">
	                </div>
	                <div class="col-md-12 col-xl-12 form-group">
	                    <label class="col-form-label"><strong>Text To Match (Optional)</strong></label>
	                    <input type="email" class="form-control" id="email" placeholder="Such as Basic, Migration, Invoice, Site Attribute, Link, Qualification and Serial">
	                </div>
	                <div class="col-md-12 col-xl-12 form-group">
	                    <label class="col-form-label"><strong>Admin User Name (Optional)</strong></label>
	                    <input type="email" class="form-control" id="email">
	                </div>
	                <div class="col-md-12 col-xl-12 form-group">
	                    <label class="col-form-label"><strong>Show History For The Last X Days</strong></label>
	                    <input type="email" class="form-control" id="email">
	                </div>
	                <div class="col-md-12 col-xl-12 form-group row">
	                	<div class="col-md-2 col-xl-8 form-group"> 
	                    </div>
	                    <div class="col-md-4 col-xl-2 form-group"> 
	                        <button type="button" [routerLink]="['/epdb/report-database-info/history-report']" class="btn btn-primary btn-md btn-block text-center"><i class="icofont icofont-play-alt-1"></i>Run Query</button>
	                    </div>
	                    <div class="col-md-4 col-xl-2 form-group"> 
	                        <button type="button" [routerLink]="['/epdb/report-database-info/history-report']" class="btn btn-danger btn-md btn-block text-center"><i class="icofont icofont-stop"></i>Stop the Query</button>
	                    </div>
	                </div>
	            </div> 
	        </div>
        </div>
    </div>
</div>

 