<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'menu_course.my_course' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row">
            <div class="col-xs-12 col-sm-12 col-md-3">
                <div>
                    <label class="label-control">{{'general.show' | translate}} &nbsp;
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select> 
                        &nbsp; {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5">
                <label class="label-control">Status &nbsp;
                    <select style="width:150px" class="form-control input-sm full-data-show-entry" [(ngModel)]="filterStatus">
                        <option value="All">All</option>
                        <option value="Active">Active</option>
                        <option value="Expired">Expired</option>
                        <option value="Not Started">Not Started</option>
                        <option value="Completed">Completed</option>
                    </select>
                </label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="text-right-autodesk">
                    <label class="label-control">{{'general.search' | translate}}: &nbsp;
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" style="margin-left: 0!important">
                    </label>
                </div>
            </div>
            <!-- <div class="col-xs-12 col-sm-12 col-md-12">&nbsp;</div> -->
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table dt-options="dtOptions" class="table-autodesk table table-striped table-bordered table-responsive full-data-table text-center pull-center"
                    [mfData]="data | dataFilterActivities : filterQuery | dataFilterStatus : filterStatus" #mf="mfDataTable"
                    [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" style="width: 100%">
                    <thead>
                        <tr>
                            <th width="10%">
                                <mfDefaultSorter by="CourseId">{{'eva.manage_course.list_course.course_id' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="Name">{{'eva.manage_course.list_course.course_name' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="StartDate">{{'student.my_course.course_date' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="ContactId">{{'eva.manage_course.list_course.instructor_id' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="ContactName">{{'eva.manage_course.list_course.instructor_name' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="SiteName">{{'epdb.manage.site.detail.site_name' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="">{{'student.my_course.survey_status' | translate}}</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="data!=null && data!=''">
                        <tr *ngFor="let item of mf.data">
                            <td data-label="CourseId"><b class="availForMobile">{{'eva.manage_course.list_course.course_id' | translate}}</b>{{item.CourseId}}</td>
                            <td data-label="Name"><b class="availForMobile">{{'eva.manage_course.list_course.course_name' | translate}}</b>{{item.Name}}</td>
                            <td data-label="StartDate"><b class="availForMobile">{{'student.my_course.course_date' | translate}}</b>{{item.StartDate}}</td>
                            <td data-label="ContactId"><b class="availForMobile">{{'eva.manage_course.list_course.instructor_id' | translate}}</b>{{item.InstructorId}}</td>
                            <td data-label="ContactName"><b class="availForMobile">{{'eva.manage_course.list_course.instructor_name' | translate}}</b>{{item.ContactName}}</td>
                            <td style="word-wrap: break-word" data-label="SiteName"><b class="availForMobile">{{'epdb.manage.site.detail.site_name' | translate}}</b>{{item.SiteName}}</td>
                            <td data-label="Survey Status"><b class="availForMobile">Status</b>
                                <!--untuk event type, tidak ada survey yg harus diisi. Student bisa unduh sertifikat kalau eventnya sudah berakhir [sy handle di pas student login #auth/login-student/student.component.ts baris 198]-->
								
                                <a href="javascript:;" *ngIf="(item.SurveyTaken == 0 && item.activesurveylink == 'Active') && (item.EventTypeKey == ''||item.EventTypeKey ==null)" (click)="takeSurvey(item.FYIndicatorKey,item.TrainingTypeKey,item.ProjectTypeKey,item.EventTypeKey,item.CourseId,item.PartnerType)"
                                    ngbTooltip="Answer Survey">Not Completed</a>
                                <span *ngIf="item.activesurveylink == 'Not Started'">{{item.activesurveylink}}</span>
                                <span *ngIf="item.activesurveylink == 'Expired'" style="color: gray">{{item.activesurveylink}}</span>
                                <span *ngIf="item.SurveyTaken == 1" style="color: gray">Completed</span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="data!=null">
                            <td colspan="7">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="7" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="7" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        
        <!-- <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right-autodesk">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data | dataFilterActivities : filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="10%">
                                <mfDefaultSorter by="CourseId">{{'eva.manage_course.list_course.course_id' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="NAME">{{'eva.manage_course.list_course.course_name' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="StartDate">{{'student.my_course.course_date' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="ContactName">{{'eva.manage_course.list_course.instructor_name' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="SiteName">{{'epdb.manage.site.detail.site_name' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%">{{'student.my_course.survey_link' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="data!=null && data!=''">
                        <tr *ngFor="let item of mf.data">
                            <td>{{item.CourseId}}</td>
                            <td>{{item.NAME}}</td>
                            <td>{{item.StartDate | convertDate}}</td>
                            <td>{{item.ContactName}}</td>
                            <td>{{item.SiteName}}</td>
                            <td>
                                <a *ngIf="item.SurveyTaken == 0 && item.activesurveylink == true" (click)="takeSurvey(item.FYIndicatorKey,item.TrainingTypeKey,item.ProjectTypeKey,item.EventTypeKey,item.CourseId)"
                                    ngbTooltip="{{'student.my_course.tool_tip_survey' | translate}}" style="cursor:pointer; color:blue">{{'student.my_course.click_here' | translate}}</a>
                                <span *ngIf="item.SurveyTaken == 1 || item.activesurveylink == false">{{'student.my_course.survey_closed' | translate}}</span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="data!=null">
                            <td colspan="9">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="9" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="9" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div> -->
        
    </div>
</div>