<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'menu_report_epdb.contact_report' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
	<form [formGroup]="searchContact" (ngSubmit)="onSubmit()">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            
                <div class="col-md-12 col-xl-12 form-group row">
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.report.organization_report.filter_by_name' | translate}}:</label>
                        <input type="text" class="form-control" id="text" formControlName="filterByName" placeholder="{{'epdb.report.organization_report.filter_by_name' | translate}}">
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.report.contact_report.filter_by_email' | translate}}:</label>
                        <input type="text" class="form-control" id="text" formControlName="filterByEmail" placeholder="{{'epdb.report.contact_report.filter_by_email' | translate}}">
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.report.contact_report.filter_by_site_name' | translate}}:</label>
                        <input type="text" class="form-control" id="text" formControlName="filterBySiteName" placeholder="{{'epdb.report.contact_report.filter_by_site_name' | translate}}">
                    </div>
                    <div class="col-md-12 col-xl-12">&nbsp;</div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.report.organization_report.filter_by_partner_type' | translate}}:</label>
                        <angular2-multiselect [data]="dropdownListPartner" [(ngModel)]="selectedItemsPartner" [ngModelOptions]="{standalone: true}"
                            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                        </angular2-multiselect>
                        <span class="messages text-danger" *ngIf="showValidPartnerType">* Please Select Partner Type</span>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">Partner Type Status</label>
                        <angular2-multiselect [data]="dropdownListPartnerTypeStatus" [(ngModel)]="selectedItemsPartnerTypeStatus" [settings]="dropdownSettings"
                            [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                        </angular2-multiselect>
                        <span class="messages text-danger" *ngIf="showValidPartnerStatus">* Please Select Partner Status</span>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.report.organization_report.filter_by_market_type' | translate}}:</label>
                        <angular2-multiselect [data]="dropdownListMarketType" [(ngModel)]="selectedItemsMarketType" [settings]="dropdownSettings"
                            [ngModelOptions]="{standalone:true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                        </angular2-multiselect>
                        <span class="messages text-danger" *ngIf="showValidMarketType">* Please Select Market Type</span>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.report.contact_report.filter_by_contact_role' | translate}}:</label>
                        <angular2-multiselect [data]="dropdownListContactRole" [(ngModel)]="selectedItemsContactRole" [settings]="dropdownSettings"
                            [ngModelOptions]="{standalone:true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                        </angular2-multiselect>
                        <span class="messages text-danger" *ngIf="showValidContactRole">* Please Select Contact Role</span>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <br>
                        <br>
                        <div class="checkbox-fade fade-in-primary">
                            <label>
                                <input type="checkbox" (change)="atcrole($event.target.checked ? 'Y': 'N')" >
                                <span class="cr">
                                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                </span>
                                <span class="text-inverse">{{'epdb.report.contact_report.atc_role' | translate}} = "Y"</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-12">&nbsp;</div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.report.organization_report.filter_by_location' | translate}}:</label>
                        <br>
                        <label class="col-form-label">{{ 'epdb.admin.country.geo.geo' | translate }}</label>
                        <angular2-multiselect [data]="dropdownListGeo " [(ngModel)]="selectedItemsGeo" [ngModelOptions]="{standalone:true}" [settings]="dropdownSettings"
                            (onSelect)="onGeoSelect($event)" (onDeSelect)="OnGeoDeSelect($event)" (onSelectAll)="onGeoSelectAll($event)"
                            (onDeSelectAll)="onGeoDeSelectAll($event)">
                        </angular2-multiselect>
                        <!-- <span class="messages text-danger" *ngIf="showValidGeo">* Please Select Geo</span> -->
                    </div>
                    <!-- <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">&nbsp;</label>
                        <br>
                        <label class="col-form-label">{{ 'epdb.admin.country.region.region' | translate }}</label>
                        <angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" [ngModelOptions]="{standalone: true}"
                            [settings]="dropdownSettings" (onSelect)="onRegionSelect($event)" (onDeSelect)="OnRegionDeSelect($event)"
                            (onSelectAll)="onRegionSelectAll($event)" (onDeSelectAll)="onRegionDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">&nbsp;</label>
                        <br>
                        <label class="col-form-label">{{ 'epdb.admin.country.sub_region.sub_region' | translate }}</label>
                        <angular2-multiselect [data]="dropdownListSubRegion " [(ngModel)]="selectedItemsSubRegion" [ngModelOptions]="{standalone: true}"
                            [settings]="dropdownSettings" (onSelect)="onSubRegionSelect($event)" (onDeSelect)="OnSubRegionDeSelect($event)"
                            (onSelectAll)="onSubRegionSelectAll($event)" (onDeSelectAll)="onSubRegionDeSelectAll($event)">
                        </angular2-multiselect>
                    </div> -->
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label ">&nbsp;</label>
                        <br>
                        <label class="col-form-label">{{ 'epdb.admin.country.territory.territory' | translate }}</label>
                        <angular2-multiselect [data]="dropdownListTerritories" [(ngModel)]="selectedItemsTerritories" [settings]="dropdownSettings"
                            [ngModelOptions]="{standalone: true}" (onSelect)="onTerritorySelect($event)" (onDeSelect)="onTerritoryDeSelect($event)"
                            (onSelectAll)="onTerritorySelectAll($event)" (onDeSelectAll)="onTerritoryDeSelectAll($event)">
                        </angular2-multiselect>
                        <!-- <span class="messages text-danger" *ngIf="showValidTerritory">* Please Select Territory</span>   -->
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label ">&nbsp;</label>
                        <br>
                        <label class="col-form-label">{{ 'epdb.admin.country.countries.country' | translate }} <code>*</code></label>
                        <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" [settings]="dropdownSettings" [ngModelOptions]="{standalone: true}"
                            (onSelect)="onCountriesSelect($event)" (onDeSelect)="OnCountriesDeSelect($event)" (onSelectAll)="onCountriesSelectAll($event)"
                            (onDeSelectAll)="onCountriesDeSelectAll($event)">
                        </angular2-multiselect>
                        <span class="messages text-danger" *ngIf="showValidCountry">* Please Select Country</span>
                    </div>
                    <!--  <div class="col-md-12 col-xl-12">&nbsp;</div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.report.contact_report.filter_by_industry' | translate}}:</label>
                        <angular2-multiselect [data]="dropdownListIndustry" [(ngModel)]="selectedItemsIndustry" [settings]="dropdownSettings" [ngModelOptions]="{standalone: true}"
                            (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>   -->
                    <div class="col-md-8 col-xl-8 form-group mt-1">
                        <br>
                        <div class="checkbox-fade fade-in-primary">
                            <label>
                                <input type="checkbox" (change)="primarysite($event.target.checked ? 'Y': 'N')" >
                                <span class="cr">
                                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                </span>
                                <span class="text-inverse">{{'epdb.report.contact_report.use_primary' | translate}}</span>
                            </label>
                        </div>
                        <br/>
                        <div class="checkbox-fade fade-in-primary form-inline">
                            <label>
                                <input type="checkbox" (change)="lastlogin($event.target.checked ? $event.target.checked: false)">
                                <span class="cr">
                                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                </span>
                                <span class="text-inverse">{{'epdb.report.contact_report.only_show_user' | translate}}:</span>
                                <select name="lastlogindays" class="form-control" *ngIf="lastloginpick" formControlName="lastlogindays">
                                    <option value="">{{'general.select' | translate}}</option>
                                    <option value="1">1 day</option>
                                    <option value="2">2 days</option>
                                    <option value="3">3 days</option>
                                    <option value="7">1 week</option>
                                    <option value="14">2 weeks</option>
                                    <option value="30">30 days</option>
                                </select>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-12">&nbsp;</div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{ 'epdb.report.organization_report.field_show_result' | translate }}:</label>
                        <br>
                        <label class="col-form-label">{{ 'epdb.report.site_report.site_field' | translate }}:</label>
                        <angular2-multiselect [data]="dropdownListFieldSite" [(ngModel)]="selectedItemsFieldSite" [settings]="dropdownSettings" [ngModelOptions]="{standalone: true}"
                            (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)">
                        </angular2-multiselect>
                        <span class="messages text-danger" *ngIf="showValidFieldSite">* Please Select Field</span>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">&nbsp;</label>
                        <br>
                        <label class="col-form-label">{{ 'epdb.report.contact_report.contact_field' | translate }}</label>
                        <angular2-multiselect [data]="dropdownListFieldContact" [(ngModel)]="selectedItemsFieldContact" [settings]="dropdownSettings"
                            [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                        </angular2-multiselect>
                        <span class="messages text-danger" *ngIf="showValidFieldContact">* Please Select Field</span>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">&nbsp;</label>
                        <br>
                        <label class="col-form-label">
                            Demographic Fields 
                        </label>
                        <angular2-multiselect [data]="dropdownListFieldShow2" [(ngModel)]="selectedItemsFieldShow2" [settings]="dropdownSettings"
                            [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event) ">
                        </angular2-multiselect>
                        <br/>
                        <div class="checkbox-fade fade-in-primary">
                            <label>
                                <input type="checkbox"  (change)="RollupPartnerDataType($event.target.checked ? 'Y': 'N')" >
                                <span class="cr">
                                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                </span>
                                <span class="text-inverse">{{ 'epdb.report.organization_report.rollup_partner_type_data' | translate }}</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-md-12 col-xl-12 form-group">&nbsp;</div>
                    <div class="col-md-6 col-xl-6 form-group">&nbsp;</div>
                    <div class="col-md-2 col-xl-2 form-group">
                        <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                            <i class="icofont icofont-play-alt-1"></i>{{ 'general.search' | translate }}</button>
                    </div>
                    <div class="col-md-2 col-xl-2 form-group">
                        <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                            <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}
                        </button>
                    </div>
                    <div class="col-md-2 col-xl-2 form-group">
                        <button type="button" (click)="stopquery()" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                            <i class="icofont icofont-stop"></i>{{ 'general.btn_stop_query' | translate }}</button>
                    </div>
                </div>
           
			</div>
		 </form>
    </div>
</div>

<div class="card" *ngIf="dataFound">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.manage.organization.search.search_result' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4  row p-20">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <!-- <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div> -->
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <i class="fa fa-file-excel-o"></i><a [routerLink]="['/report/contact-report']" (click)="ExportExceltoXls()"> Export to .xls</a>   &nbsp; 
                    <i class="fa fa-file-excel-o"></i><a [routerLink]="['/report/contact-report']" (click)="ExportExceltoXlSX()"> Export to .xlsx</a> &nbsp;   
                    <i class="fa fa-file-excel-o"></i><a [routerLink]="['/report/contact-report']" (click)="ExportExceltoCSV()"> Export to .csv</a>    
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="reportContact | dataFilter: filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead *ngIf="listkey != null; else goAhead">
                        <tr>
                            <th *ngFor="let kolom of listkey">
                                <mfDefaultSorter by="{{kolom}}">{{kolom}}</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <ng-template #goAhead>
                        <thead>
                            <tr>
                                <th width="200%">&nbsp;</th>
                            </tr>
                        </thead>
                    </ng-template>
                    <tbody *ngIf="reportContact != null; else anotherBody">
                        <tr *ngFor="let item of mf.data">
                            <td *ngFor="let kolom of listkey">{{item[kolom]}}</td>
                        </tr>
                    </tbody>
                    <ng-template #anotherBody>
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </ng-template>
                    <tfoot>
                        <tr *ngIf="reportContact!=null">
                            <td colspan="75">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="reportContact==null">
                            <td colspan="75" class="text-center">{{'general.loading_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="reportContact==''">
                            <td colspan="75" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>