<div class="row">
	<div class="col-md-12 col-xl-12">
		<div class="card card-border-primary">
			<div class="card-block row dt-responsive" style="margin:20px"> 
				<table class="row table table-striped table-bordered table-responsive">
					<thead>
						<tr>
							<th width="5%">Contact Id</th>
							<th width="20%">Parent Name</th>
							<th width="20%">Contact Name</th>
							<th width="40%">Activity Name</th>
							<th width="20%">Reg. Date</th>
							<th width="20%">Status</th>
							<th width="20%">Completion Date</th>
							<th width="20%">Score</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					</tbody>
					<tfoot>
					</tfoot>
				</table>
			</div> 
		</div>
	</div>
</div>

 