<div class="row">
    <div class="col-md-12 col-xl-12 page-header-title">
        <h4>{{'eva.manage_course.add.add_course' | translate}}</h4>
        <br/>
        <br/>
    </div>
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary">
            <form [formGroup]="addcourseform" (ngSubmit)="onSubmit()">
                <div class="card-block row">
                    <div class="col-lg-12 col-xl-12 row">
                        <div class="col-md-6 col-xl-4 form-group">
                            <label class="col-form-label">{{'epdb.admin.partner_type.partner_type' | translate}}</label>
                            <select name="oStatus" class="form-control" id="partnertype" formControlName="partnertype">
                                <option value="">{{'general.select' | translate}}</option>
                                <option value="ATC">ATC</option>
                                <option value="AAP">AAP</option>
                            </select>
                        </div>
                        <div class="col-md-6 col-xl-4 form-group">
                            <label class="col-form-label"><b>{{'eva.manage_course.list_course.course_id' | translate}</b></label>
                            <input type="text" name="email" class="form-control" readonly="true"/>
                        </div>
                        <div class="col-md-6 col-xl-4 form-group">
                            <label class="col-form-label">Course Title:</label>
                            <input type="text" name="coursetitle" class="form-control" id="coursetitle" placeholder="Course Title" formControlName="coursetitle" pattern="^[a-z0-9_-]$"/>
							<div *ngIf="coursetitle.errors?.pattern">Temporary not allow to add special characters</div> 
                        </div>
                    </div>

                    <div class="col-lg-12 col-xl-12 row">
                        <div class="col-md-3 col-xl-4 form-group">
                            <label class="col-form-label"><b>Site ID:</b></label>
                            <input type="text" name="siteid" class="form-control" id="siteid" placeholder="Site ID" formControlName="siteid" />
                        </div>
                        <div class="col-md-3 col-xl-4 form-group">
                            <label class="col-form-label"><b>Instructor ID:</b></label>
                            <input type="text" name="instructorid" class="form-control" id="instructorid" placeholder="Instructor ID" formControlName="instructorid" />
                        </div>
                    </div>
                    
                    <div class="col-lg-12 col-xl-12 row">
                        <!-- <div class="col-md-8 col-xl-8 form-group">
                            <label class="col-form-label"><b>Survey:</b></label>
                            <textarea class="form-control" rows="6" readonly="true"></textarea>
                        </div> -->
                        <div class="col-md-4 col-xl-4 form-group">
                            <label class="col-form-label"><b>Course Start Date:</b></label>
                            <div class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="modelPopup1" ngbDatepicker #d1="ngbDatepicker" readonly="true">
                                        <div class="input-group-addon bg-default" (click)="d1.toggle()" >
                                            <span class="icofont icofont-ui-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <label class="col-form-label"><b>Course End Date:</b></label>
                            <div class="form-inline">
                                <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="modelPopup2" ngbDatepicker #d2="ngbDatepicker" readonly="true">
                                        <div class="input-group-addon bg-default" (click)="d2.toggle()">
                                            <span class="icofont icofont-ui-calendar"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-12 row" >
                    <div class="col-md-8 col-xl-8">
                    </div>
                    <div class="col-md-2 col-xl-2">
                        <button type="submit" [disabled]="!addcourseform.valid" class="btn btn-success btn-md btn-block waves-effect text-center m-b-15"><i class="icofont icofont-save"></i> Save</button>
                    </div>
                    <div class="col-md-2 col-xl-2">
                        <button type="button" [routerLink]="['/eva/add-course']" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-15"><i class="icofont icofont-ui-close"></i> Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>