<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.report_eva.organization_report.organization_report' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.admin.partner_type.partner_type' | translate}}</label>
                <angular2-multiselect [data]="dropdownPartner" [(ngModel)]="selectedPartner" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                    (onSelect)="onPartnerSelect($event)" (onDeSelect)="OnPartnerDeSelect($event)" (onSelectAll)="onPartnerSelectAll($event)"
                    (onDeSelectAll)="onPartnerDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.admin.partner_type.certificate_type' | translate}}</label>
                <angular2-multiselect [data]="dropdownCertificate" [(ngModel)]="selectedCertificate" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onCertificateSelect($event)" (onDeSelect)="OnCertificateDeSelect($event)"
                    (onSelectAll)="onCertificateSelectAll($event)" (onDeSelectAll)="onCertificateDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group" *ngIf="showEvent">
                <label class="col-form-label">Event Type</label>
                <angular2-multiselect [data]="dropdownEventType" [(ngModel)]="selectedEventType" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                    (onSelect)="onEventTypeSelect($event)" (onDeSelect)="OnEventTypeDeSelect($event)" (onSelectAll)="onEventTypeSelectAll($event)"
                    (onDeSelectAll)="onEventTypeDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label" *ngIf="showEvent">&nbsp;</label>
                <br *ngIf="showEvent">
                <label class="col-form-label">{{'epdb.report_eva.organization_report.select_organization' | translate}}
                    <code>*</code>
                </label>
                <!-- <select name="oStatus" class="form-control" [(ngModel)]="selectedOrg" (change)="changeSelected($event.target.value)">
                    <option value="">-- {{ 'general.select' | translate }} --</option>
                    <option *ngFor="let item of orgId" value="{{item.OrgId}}">{{item.OrgId}}</option>
                </select> -->
                <angular2-multiselect [data]="dropdownListOrganization" [(ngModel)]="selectedItemsOrganization" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettingsOrg" (onSelect)="onItemSelect($event)">
                </angular2-multiselect>
                <span class="messages text-danger" *ngIf="showValidOrg">* Please select an organization</span>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.report_eva.organization_report.filter_data' | translate}}</label>
                <br>
                <label class="col-form-label">{{'epdb.report_eva.organization_report.survey_year' | translate}}</label>
                <select name="oStatus" class="form-control" [(ngModel)]="selectedYear" (change)="changeSelected($event.target.value)">
                    <option value="">-- {{ 'general.select' | translate }} --</option>
                    <option *ngFor="let item of year" value="{{item.Key}}">{{item.KeyValue}}</option>
                </select>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">&nbsp;</label>
                <br>
                <label class="col-form-label">{{'epdb.report_eva.organization_report.month' | translate}}:</label>
                <select name="date" class="form-control" [(ngModel)]="selectedValueDate" (change)="changeSelected($event.target.value)">
                    <!-- <option value="">-- {{ 'general.select' | translate }} --</option> -->
                    <option *ngFor="let c of date" [ngValue]="c.id">{{c.name}}</option>
                </select>
            </div>
            <div class="col-md-6 col-xl-6">&nbsp;</div>
            <div class="col-md-2 col-xl-2">
                <button type="button" (click)="getOrgReport()" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                    <i *ngIf="!loading" class="icofont icofont-play-alt-1 "></i>
                    <i class="fas fa-spinner fa-pulse" *ngIf="loading"></i>
                    {{ 'general.search' | translate }}
                </button>
            </div>
            <div class="col-md-2 col-xl-2">
                <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                    <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}
                </button>
            </div>
            <div class="col-md-2 col-xl-2">
                <button type="button" (click)="apiCall.unsubscribe();loading=false" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                    <i class="icofont icofont-stop"></i>{{ 'general.btn_stop_query' | translate }}</button>
            </div>
            <div class="col-md-12 col-xl-12">&nbsp;</div>
            <div class="col-md-12 col-xl-12">&nbsp;</div>
            <div class="col-md-12 col-xl-12" *ngIf="dataFound">
                <!-- <div class="col-md-12 col-xl-12 row">
                    <label>{{'epdb.report_eva.organization_report.exclude' | translate}}:</label>
                    <div class="checkbox-fade fade-in-primary col-md-6 col-xl-6">
                        <label>
                            <input type="checkbox" value="">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                        </label>
                    </div>
                </div> -->
                <div class="row">
                    <h3>{{OrgName}}</h3>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">{{'epdb.manage.site.detail.site_id' | translate}} (s):</label>
                    <label class="col-form-label col-md-8 col-xl-8">
                        <a *ngFor="let item of sites, let isLast = last" [routerLink]="['/report-eva/site-profile']"  [queryParams]="{ SiteId: item.SiteId, filterBySurveyYear: selectedYear, filterByDate: selectedValueDate }">
                            {{item.SiteId}}{{isLast ? '' : ', '}}
                        </a> &nbsp;
                    </label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">{{'epdb.manage.site.search.sap_id' | translate}}:</label>
                    <label class="col-form-label col-md-5 col-xl-5"></label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">{{'epdb.report_eva.organization_report.total_evaliation' | translate}}:</label>
                    <label class="col-form-label col-md-5 col-xl-5">{{totalEva}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">{{'epdb.admin.country.countries.country' | translate}}:</label>
                    <label class="col-form-label col-md-5 col-xl-5">
                        <!-- <span *ngFor="let item of countries">
                            |{{item}}
                        </span> -->
                        {{countries}}
                    </label>
                </div>
            </div>
        </div>
    </div>
    <div class="card-block" *ngIf="dataFound">
        <div class="dt-responsive dt-bootstrap4">
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="performance | dataFilter: filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="70%">{{'epdb.report_eva.organization_report.performance_overview' | translate}}</th>
                            <th width="30%">WDT %</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Course Content & Materials</td>
                            <td *ngIf="CCM != 0">{{CCM}}%</td>
                            <td *ngIf="CCM == 0">0%</td>
                        </tr>
                        <tr>
                            <td>Facilities & Registration</td>
                            <td *ngIf="FR != 0">{{FR}}%</td>
                            <td *ngIf="FR == 0">0%</td>
                        </tr>
                        <tr>
                            <td>Instructional Quality</td>
                            <td *ngIf="IQ != 0">{{IQ}}%</td>
                            <td *ngIf="IQ == 0">0%</td>
                        </tr>
                        <tr>
                            <td>Overall Performance</td>
                            <td *ngIf="OP != 0">{{OP}}%</td>
                            <td *ngIf="OP == 0">0%</td>
                        </tr>
                        <tr>
                            <td>Overall Experience</td>
                            <td *ngIf="OE != 0">{{OE}}%</td>
                            <td *ngIf="OE == 0">0%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card-block" *ngIf="dataFound">
        <div class="dt-responsive dt-bootstrap4">
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="performanceReport | dataFilter: filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="35%">{{'eva.manage_course.list_course.instructor_id' | translate}}</th>
                            <th width="30%"># {{'epdb.report_eva.organization_report.of_eval' | translate}}</th>
                            <th width="35%">WDT %</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="performanceReport != null">
                        <tr *ngFor="let item of mf.data">
                            <td class="text-center">
                                <a [routerLink]="['/report-eva/instructor-course']" [queryParams]="{ InstructorId: item.InstructorId, SiteId: item.SiteId, Year: item.FYIndicator, SiteName: item.SiteName, Month: selectedValueDate, RoleId: item.RoleId }" >{{item.InstructorId}}</a>
                            </td>
                            <td class="text-center">{{item.Evals}}</td>
                            <td class="text-center">{{item.WDT}}%</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="performanceReport!=null">
                            <td colspan="3">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="performanceReport==null">
                            <td colspan="3" class="text-center">{{'general.loading_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="performanceReport==''">
                            <td colspan="3" class="text-center">There are no data meeting the search criteria specified above</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>