<div class="row">
    <div class="col-md-12 col-xl-12 page-header-title">
        <h4>Site Attributes Report</h4>
        <br/>
        <br/>
    </div>
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary">
            <div class="card-block row">
                <div class="col-lg-12 col-xl-12">
                    <div class="tab-content card-block">
                        <div class="col-lg-12 col-xl-12 form-group row">
                            <div class="col-md-4 col-xl-4 form-group">
                                <label class="col-form-label"><b>Check for this Activity/Subject:</b><code>*</code></label>
                                <select name="oStatus" size="10" multiple="true" class="form-control">
                                    <option value="385">A3P (FY13) and Academic ATC (FY14)</option>
                                    <option value="455">AAP</option>
                                    <option value="2">AIA Member</option>
                                    <option value="4">ATC Locator</option>
                                    <option value="3">AUGI Member</option>
                                </select>
                            </div>
                            <div class="col-md-4 col-xl-4 form-group">
                                <label class="col-form-label"><b>Where the setting:</b></label>
                                <div class="form-radio">
                                    <div class="radio radiofill radio-primary radio-inline">
                                        <label>
                                            <input type="radio" name="member" value="free" data-bv-field="member">
                                            <i class="helper"></i>Is NOT Present 
                                        </label>
                                    </div>
                                    <br>
                                    <div class="radio radiofill radio-primary radio-inline">
                                        <label>
                                            <input type="radio" name="member" value="personal" data-bv-field="member">
                                            <i class="helper"></i>Is Present 
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-xl-4 form-group">
                                <label class="col-form-label">And where the entry was created between:</label>
                                <form class="form-inline">
                                    <div class="form-group">
                                      <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="modelPopup1" ngbDatepicker #d1="ngbDatepicker">
                                        <div class="input-group-addon bg-default" (click)="d1.toggle()" >
                                          <span class="icofont icofont-ui-calendar"></span>
                                        </div>
                                      </div>
                                    </div>
                                </form>
                                <label class="col-form-label">And</label> 
                                <form class="form-inline">
                                    <div class="form-group">
                                      <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="modelPopup2" ngbDatepicker #d2="ngbDatepicker">
                                        <div class="input-group-addon bg-default" (click)="d2.toggle()" >
                                          <span class="icofont icofont-ui-calendar"></span>
                                        </div>
                                      </div>
                                    </div>
                                </form>
                                <label class="col-form-label">Note: date values are used for "Is Present" only</label>
                            </div>

                            <div class="col-md-12 col-xl-12">
                                <div class="card card-border-primary">
                                    <div class="card-block row">
                                        <div class="col-lg-12 col-xl-12 form-group row">
                                            <div class="col-md-4 col-xl-4 form-group">
                                                <label class="col-form-label"><b>Filter by Partner Type:</b></label>
                                                <select name="oStatus" size="8" multiple="true" class="form-control">
                                                    <option value="" selected="">All</option>
                                                    <option *ngFor="let item of partnertype">{{item.name}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 col-xl-4 form-group">
                                                <label class="col-form-label"><b>Filter by Status:</b></label>
                                                <select name="oStatus" size="8" multiple="true" class="form-control">
                                                    <option value="" selected="">All</option>
                                                    <option *ngFor="let item of partnertypestatus">{{item.name}}</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 col-xl-4 form-group">
                                                <label class="col-form-label"><b>Filter by Market Type:</b></label>
                                                <select name="oStatus" size="8" multiple="true" class="form-control">
                                                    <option value="" selected="">All</option>
                                                    <option value="1">N/A</option>
                                                    <option value="2">Emerging Markets</option>
                                                    <option value="3">Mature Markets</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-xl-12 form-group row">
                                            <div class="col-md-12 col-xl-12 form-group">
                                                <label class="col-form-label"><b>Filter by Location:</b></label>
                                            </div>
                                            <div class="col-md-4 col-xl-4 form-group">
                                                <label class="col-form-label"><b>Territory:</b></label>
                                                <select name="oStatus" size="8" multiple="true" class="form-control">
                                                    <option value="" selected="">All</option>
                                                    <option value="16">Europe</option>
                                                    <option value="17">ME & N.Africa</option>
                                                    <option value="18">ASEAN</option>
                                                    <option value="19">GCR</option>
                                                    <option value="20">Taiwan</option>
                                                    <option value="21">JAK</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 col-xl-4 form-group">
                                                <label class="col-form-label"><b>Geo</b></label>
                                                <select name="oStatus" size="8" multiple="true" class="form-control">
                                                    <option value="" selected="">All</option>
                                                    <option value="A">AMER</option>
                                                    <option value="E">EMEA</option>
                                                    <option value="G">GCR</option>
                                                    <option value="P">APAC (excl. GCR)</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 col-xl-4 form-group">
                                                <label class="col-form-label"><b>Region</b></label>
                                                <select name="oStatus" size="8" multiple="true" class="form-control">
                                                    <option value="CA">Canada</option>
                                                    <option value="LA">Latin America</option>
                                                    <option value="US">US</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 col-xl-4 form-group">
                                                <label class="col-form-label"><b>Sub Region</b></label>
                                                <select name="oStatus" size="8" multiple="true" class="form-control">
                                                    <option value="US">US</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 col-xl-4 form-group">
                                                <label class="col-form-label"><b>Country</b></label>
                                                <select name="oStatus" size="8" multiple="true" class="form-control">
                                                    <option value="GU">Guam</option>
                                                    <option value="US">United States</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 col-xl-4 form-group">
                                                <label class="col-form-label"><b>Sub Country</b></label>
                                                <select name="oStatus" size="8" multiple="true" class="form-control">
                                                    <option value="US Central">US Central</option>
                                                    <option value="US East">US East</option>
                                                    <option value="US South">US South</option>
                                                    <option value="US West">US West</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-xl-12 form-group row">
                                            <div class="col-md-12 col-xl-12 form-group">
                                                <label class="col-form-label"><b>Fields to show in result:</b></label>
                                            </div>
                                            <div class="col-md-4 col-xl-4 form-group">
                                                <label class="col-form-label"><b>Organizations fields</b></label>
                                                <select name="oStatus" size="8" multiple="true" class="form-control">
                                                    <option value="s.OrgId">OrgId</option>
                                                    <option value="s.ATCOrgId">ATCOrgId</option>
                                                    <option value="s.OrgStatus_retired">OrgStatus_retired</option>
                                                    <option value="s.OrgName">OrgName</option>
                                                    <option value="s.EnglishOrgName">EnglishOrgName</option>
                                                </select>
                                            </div>
                                            <div class="col-md-4 col-xl-4 form-group">
                                                <label class="col-form-label"><b>Site fields</b></label>
                                                <select name="oStatus" size="8" multiple="true" class="form-control">
                                                    <option value="ss.SiteId">SiteId</option>
                                                    <option value="ss.ATCSiteId">ATCSiteId</option>
                                                    <option value="ss.OrgId">OrgId</option>
                                                    <option value="ss.SiteStatus_retired">SiteStatus_retired</option>
                                                    <option value="ss.SiteName">SiteName</option>
                                                    <option value="ss.SiebelSiteName">SiebelSiteName</option>
                                                    <option value="ss.EnglishSiteName">EnglishSiteName</option>
                                                </select>
                                                <hr/>
                                                <select name="oStatus" size="8" multiple="true" class="form-control">
                                                    <option value="m.MarketType As MarketType">Market Type</option>
                                                    <option value="sr.RoleId As PartnerType">Partner Type</option>
                                                    <option value="sr.Status">Partner Type Status</option>
                                                    <option value="viewsr.CSN">Partner Type CSN</option>
                                                    <option value="viewsr.ITS_ID as 'ITS Site ID'">ITS Site ID</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 col-xl-12 row" >  
                                <div class="col-md-6 col-xl-6 page-header-title">
                                </div>
                                <div class="col-md-3 col-xl-3 page-header-title">
                                    <button type="button" [routerLink]="['/epdb/training-partners/site-attributes-report']" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-play-alt-1"></i> Run Query</button>
                                </div>
                                <div class="col-md-3 col-xl-3 page-header-title">
                                    <button type="button" [routerLink]="['/epdb/training-partners/site-attributes-report']" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-stop"></i> Stop Query</button>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-12 page-header-title">
    	<h4>Search Result</h4>
    	<br/>
    	<br/>
    </div>
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary">
            <div class="card-block row dt-responsive m-20">
                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                    <div>
                      <label class="label-control">Show
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                          <option [ngValue]="10">10</option>
                          <option [ngValue]="25">25</option>
                          <option [ngValue]="50">50</option>
                          <option [ngValue]="100">100</option>
                        </select>
                        entries
                      </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="text-right">
                        <label>Search:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                        </label>
                    </div>
                </div>
                <table class="row table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="20%"><mfDefaultSorter by="name">Name</mfDefaultSorter></th>
                            <th width="20%"><mfDefaultSorter by="position">Position</mfDefaultSorter></th>
                            <th width="20%"><mfDefaultSorter by="office">Office</mfDefaultSorter></th>
                            <th width="20%"><mfDefaultSorter by="age">Age</mfDefaultSorter></th>
                            <th width="20%"><mfDefaultSorter by="start-date">Start date</mfDefaultSorter></th>
                            <th width="20%"><mfDefaultSorter by="salary">Salary</mfDefaultSorter></th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data">
                            <td>{{item.name}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.name}}</td>
                        </tr>
                    </tbody>
                    <tfoot> 
                        <tr>
                            <td colspan="6"><mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator></td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>