<div class="row">
    <div class="col-md-2 col-xl-2">
        <label class="col-form-label"><strong>Report</strong></label>
    </div>
    <div class="col-md-10 col-xl-10">
        <label class="col-form-label"><strong>Show Attachments</strong><br/>Folder Not Found: D:\sites\Autodesk\Education\attachments</label>
    </div>
</div>

 