<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'eva.manage_evaluation.add_edit_form' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">Available Languages</label>
                <select class="form-control" [(ngModel)]="selectedLang" (change)="changeSurvey($event.target.value)">
                    <option value="">-- {{'general.select' | translate}}--</option>
                    <option *ngIf="language==''">{{'general.data_empty' | translate}}</option>
                    <option *ngFor="let item of language" value="{{item.Key}}">{{item.KeyValue}}</option>
                </select>
                <br/>
                <span class="messages text-success" *ngIf="success">* Changes have been saved...</span>
            </div>
            <div class="col-md-12 col-xl-12">&nbsp;</div>
            <div id="surveyEditorContainer" style="width: 100%;"></div>
            <div class="col-md-12 col-xl-12">&nbsp;</div>
            <div class="col-md-10 col-xl-10">&nbsp;</div>
            <div class="col-md-2 col-xl-2 form-group text-right">
                <button type="button" [routerLink]="['/evaluation/survey-template-list']" class="btn btn-default btn-md btn-block text-center">
                    <i class="icofont icofont-arrow-left"></i> {{'general.btn_back' | translate}}</button>
            </div>
        </div>
    </div>
</div>