
<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
    
<div class="card" >
    <div class="card-header">
        <div class="page-header-title">
            <h4>
                <button class="btn btn-default text-center" (click)="back()">
                    <i class="icofont icofont-arrow-left"></i>
                </button>
                {{ 'epdb.manage.organization.detail.detail_organization' | translate }}
            </h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4  row p-20" *ngIf="datadetail==null">
            <label class="col-form-label col-md-12 col-xl-12 text-center">{{'general.loading_data' | translate}} ...</label>
        </div>
        <div class="dt-responsive dt-bootstrap4  row p-20" *ngIf="datadetail==''">
            <label class="col-form-label col-md-12 col-xl-12 text-center">{{'general.data_empty' | translate}}</label>
        </div>
       
        <div class="dt-responsive dt-bootstrap4  row p-20" *ngIf="datadetail!=null">
            <div class="col-md-8 col-xl-8">
               <h4>
                    <b>{{ 'epdb.manage.organization.detail.organization' | translate }}: {{datadetail.OrgName}}</b>
                    <a [routerLink]="['/manage/organization/detail-organization',datadetail.OrganizationId]" class="text-muted f-18"  ngbTooltip="Print Detail Organization">
                        <i class="icofont icofont-print" onclick="printDiv('PrintDivId')"></i>
                    </a>
                </h4>
                <h6 style="font-size: 19px">
                    <b *ngIf="datadetail.EnglishOrgName != '' && datadetail.EnglishOrgName != null">({{datadetail.EnglishOrgName}})</b>
                </h6>
            </div>
            
            <div class="col-md-2 col-xl-2">
                <button *ngIf="!deleteOpen" type="button" class="btn btn-danger btn-block text-center" (click)="deleteOpen=true">
                    <i class="icofont icofont-trash"></i>Delete 
                </button>      
            </div>
            <div class="col-md-2 col-xl-2">
                <button *ngIf="accesEditOrgBtn" [routerLink]="['/manage/organization/edit-organization',datadetail.OrganizationId,datadetail.OrgId]"
                    type="button" class="btn btn-primary btn-block text-center">
                    <i class="icofont icofont-ui-edit"></i> {{ 'general.btn_edit' | translate }}</button>
            </div>
            <div class="col-md-12 col-xl-12 mb-2 mt-2">
                <div *ngIf="deleteOpen" class="row">
                    <div class="col-md-12 col-xs-12">
                        <app-file-upload #fileUploader></app-file-upload>
                    </div>
                    <div class="col-md-8 col-xs-8"></div>
                    <div class="col-md-2 col-xs-2">
                        <button type="button"  class="btn btn-danger btn-block text-center" (click)="deleteOpen=false;fileUploader.files=[]">
                            Cancel
                        </button>  
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button type="button" class="btn btn-danger btn-block text-center" (click)="deleteOrganizationbyID(datadetail.OrganizationId,datadetail.OrgId)">
                            <i class="icofont icofont-trash"></i>Delete 
                        </button>  
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
              <div class="row">
                <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.detail.organization_id' | translate }}</label>
                <label class="col-form-label col-md-8 col-xl-8">{{datadetail.OrgId}}</label>
              </div>
              <div class="row">
                <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.detail.organization_name' | translate }}</label>
                <label class="col-form-label col-md-8 col-xl-8">{{datadetail.OrgName}}</label>
              </div>
              <div class="row">
                <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.detail.commercial_name' | translate }}</label>
                <label class="col-form-label col-md-8 col-xl-8">{{datadetail.CommercialOrgName}}</label>
              </div>
              <div class="row" *ngFor="let item of partnertypeorg;let i = index">
                <label *ngIf="i<1" class="col-form-label col-md-4 col-xl-4">{{ 'epdb.admin.partner_type.partner_type' | translate }}</label>
                <label *ngIf="i>0" class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                <label class="col-form-label col-md-8 col-xl-8">{{item.RoleName}}</label>
              </div>
              <div class="row">
                <label class="col-form-label col-md-4 col-xl-4">{{ 'general.status' | translate }}</label>
                <label class="col-form-label col-md-8 col-xl-8">{{datadetail.Status}}</label>
              </div>
              <div class="row">
                <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.add_edit.tax_exempt' | translate }}</label>
                <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.TaxExempt==''">
                  <i>None</i>
                </label>
                <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.TaxExempt==''">{{datadetail.TaxExempt}}</label>
              </div>
              <div class="row">
                <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.add_edit.vat_number' | translate }}</label>
                <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.VATNumber==''">
                  <i>None</i>
                </label>
                <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.VATNumber==''">{{datadetail.VATNumber }}</label>
              </div>
              <div class="row">
                <label class="col-form-label col-md-4 col-xl-4">SAP Sold To</label>
                <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.SAPSoldTo==''">
                  <i>None</i>
                </label>
                <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.SAPSoldTo==''">{{datadetail.SAPSoldTo}}</label>
              </div>
              <div class="row">
                <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.add_edit.year_joined' | translate }}</label>
                <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.YearJoined==''">
                  <i>None</i>
                </label>
                <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.YearJoined==''">{{datadetail.YearJoined}}</label>
              </div>
              <div class="row">
                <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.detail.organization_web' | translate }}</label>
                <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.OrgWebAddress==''">
                  <i>None</i>
                </label>
                <!-- <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.OrgWebAddress==''">{{datadetail.OrgWebAddress}}</label> -->
                <a class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.OrgWebAddress==''" href="http://{{datadetail.OrgWebAddress}}"
                   target="_blank">{{datadetail.OrgWebAddress}}</a>
              </div>
              <div class="row">
                <label class="col-form-label col-md-4 col-xl-4">{{ 'general.date_added' | translate }}</label>
                <label class="col-form-label col-md-8 col-xl-8">{{datadetail.DateAdded | convertDate}}</label>
              </div>
              <div class="row">
                <label class="col-form-label col-md-4 col-xl-4">{{ 'general.last_admin' | translate }}</label>
                <label class="col-form-label col-md-8 col-xl-8">{{datadetail.LastAdminBy}}</label>
              </div>
              <div class="row">
                <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.detail.admin_note' | translate }}</label>
                <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.AdminNotes==''">
                  <i>None</i>
                </label>
                <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.AdminNotes==''" [innerHTML]="datadetail.AdminNotes"></label>
              </div>
              <div class="row">
                <label class="col-form-label col-md-4 col-xl-4">Organization Logo</label>
                <img src="{{imgSrc}}" alt="uploaded logo" *ngIf="isAvailableLogo" id="imageLogo" style="width: 60px; height: 50px">
                <!--<label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.AdminNotes==''">
                  <i>None</i>
                </label>
                <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.AdminNotes==''" [innerHTML]="datadetail.AdminNotes"></label>-->
              </div>

             
              <!-- <div class="row">
      <label class="col-form-label col-md-4 col-xl-4">{{ 'general.email' | translate }}</label>
      <label class="col-form-label col-md-8 col-xl-8">{{datadetail.ATCDirectorEmailAddress}}</label>
  </div>
  <div class="row">
      <label class="col-form-label col-md-4 col-xl-4">{{ 'eim.profile.my_profile.telephone' | translate }}</label>
      <label class="col-form-label col-md-8 col-xl-8">{{datadetail.ATCDirectorTelephone}}</label>
  </div>
  <div class="row">
      <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.detail.fax' | translate }}</label>
      <label class="col-form-label col-md-8 col-xl-8">{{datadetail.ATCDirectorFax}}</label>
  </div> -->
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.detail.geo_region' | translate }}</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.geo_name}} / {{datadetail.region_name}}</label>
                </div>

                <!-- Organization Address -->
                <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.detail.organization_address' | translate }}</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.RegisteredAddress1}}</label>
                </div>
                <div class="row" *ngIf="!datadetail.RegisteredAddress2==''">
                    <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.RegisteredAddress2}}</label>
                </div>
                <div class="row" *ngIf="!datadetail.RegisteredAddress3==''">
                    <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.RegisteredAddress3}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.RegisteredCity}}, {{datadetail.RegisteredStateProvince}} {{datadetail.RegisteredPostalCode}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.countries_name}}</label>
                </div>
                <!-- Organization Address -->

                <!-- Invoicing Address -->
                <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.detail.mailing_address' | translate }}</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.InvoicingAddress1}}</label>
                </div>
                <div class="row" *ngIf="!datadetail.InvoicingAddress2==''">
                    <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.InvoicingAddress2}}</label>
                </div>
                <div class="row" *ngIf="!datadetail.InvoicingAddress3==''">
                    <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.InvoicingAddress3}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.InvoicingCity}}, {{datadetail.InvoicingStateProvince}} {{datadetail.InvoicingPostalCode}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.countries_name}}</label>
                </div>
                <!-- Invoicing Address -->

                <!-- Contract Address -->
                <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.detail.shipping_address' | translate }}</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.ContractAddress1}}</label>
                </div>
                <div class="row" *ngIf="!datadetail.ContractAddress2==''">
                    <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.ContractAddress2}}</label>
                </div>
                <div class="row" *ngIf="!datadetail.ContractAddress3==''">
                    <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.ContractAddress3}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.ContractCity}}, {{datadetail.ContractStateProvince}} {{datadetail.ContractPostalCode}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.countries_name}}</label>
                </div>
                <!-- <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">City</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.RegisteredCity}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">Country State</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.countries_name}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">Postal Code</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.RegisteredPostalCode}}</label>
                </div> -->
                <!-- <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{ 'general.status' | translate }}</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.Status}}</label>
                </div> -->
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.manage.site.detail.site' | translate }} (S)</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4  row p-20" *ngIf="datadetail!=null">
            <div class="col-md-10 col-xl-10"></div>
            <div class="col-md-2 col-xl-2">
                <button *ngIf="accesAddSiteBtn" type="button" [routerLink]="['/manage/site/add-site',datadetail.OrganizationId]" class="btn btn-primary btn-md btn-block text-center ">
                    <i class="icofont icofont-ui-add"></i> {{ 'general.btn_add' | translate }}</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-sm-12">
                &nbsp;
            </div>
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div style="text-align: right;">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data | dataFilterSite : filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="15%">
                                <mfDefaultSorter by="siteId">{{ 'epdb.manage.site.detail.site_id' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="SiteName">{{ 'epdb.manage.site.detail.site_name' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="RoleName">{{ 'general.type' | translate }}/{{ 'general.status' | translate }}</mfDefaultSorter>
                            </th>
                           
                            <th width="20%">
                                <mfDefaultSorter by="SiteAddress1">{{ 'epdb.manage.contact.site_affiliated.site_location' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="5%">
                                <mfDefaultSorter by="count"># {{ 'epdb.manage.contact.detail.contact' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="10%">{{ 'epdb.manage.site.detail.primary_site' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="data!=null && data!=''">
                        <tr *ngFor="let item of mf.data">
                            <td>
                                <a [routerLink]="['/manage/site/detail-site',item.SiteIdInt]">{{item.SiteId}}</a>
                            </td>
                            <td>{{item.SiteName}}</td>
                            <td [innerHTML]="item.PartnerType | replace"></td>
                          
                            <!-- <td>{{item.SiteAddress1}}</td> -->
                            <td [innerHTML]="item.Location"></td> <!-- add location detail issue 12092018 -->
                            <td>{{item.count}}</td>
                            <!-- <td *ngIf="item.count!=null">{{item.count}}</td>
                            <td *ngIf="item.count==''">0</td> -->
                            <td>
                                <div class="form-radio">
                                    <div class="radio radiofill radio-primary radio-inline">
                                        <label *ngIf="selectedSite == item.SiteId;else nothing">
                                            <input type="radio" name="radio-1" value="item.SiteId" checked disabled>
                                            <i class="helper"></i>
                                        </label>
                                        <ng-template #nothing>
                                        <label>
                                            <input type="radio" name="radio-1" value="item.SiteId" disabled>
                                            <i class="helper"></i>
                                        </label>
                                        </ng-template>
                                    </div>
                                </div>
                                <!-- <span>&nbsp;</span> -->
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="data!=null">
                            <td colspan="7">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="7" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="7" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="page-header-title" *ngIf="datacontact != null">
            <h4>{{ 'epdb.manage.contact.detail.contact' | translate }} ({{datacontact.length}})</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4  row p-20">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage2">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div style="text-align: right;">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery2" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="datacontact | dataFilterContact : filterQuery2"
                    #mf2="mfDataTable" [mfRowsOnPage]="rowsOnPage2" [(mfSortBy)]="sortBy2" [(mfSortOrder)]="sortOrder2">
                    <thead>
                        <tr>
                            <th width="20%">
                                <mfDefaultSorter by="ContactIdInt">{{ 'epdb.manage.contact.detail.contact_id' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="InstructorId">{{ 'epdb.manage.contact.add_edit.instructor_id' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="ContactName">{{ 'general.name' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="EmailAddress">{{ 'general.email' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="CountSites">{{ 'epdb.manage.contact.site_affiliated.site_affiliated' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="10%" *ngIf="accesAffiliateSiteBtn">{{ 'general.action' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="datacontact!=null && datacontact!=''">
                        <tr *ngFor="let item of mf2.data">
                            <td>
                                <a [routerLink]="['/manage/contact/detail-contact/',item.ContactIdInt,item.SiteId]">{{item.ContactId}}</a>
                            </td>
                            <td>{{item.InstructorId}}</td>
                            <td>{{item.ContactName}}</td>
                            <td>{{item.EmailAddress}}</td>
                            <td>{{item.CountSites}}</td>
                            <td *ngIf="accesAffiliateSiteBtn">
                                <button (click)="routeaffiliate(item.ContactIdInt,item.SiteId,datadetail.OrganizationId)" type="button" class="btn btn-primary btn-sm">{{'epdb.manage.contact.detail.btn_affiliation' | translate}}</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="datacontact!=null">
                            <td colspan="8">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="datacontact==null">
                            <td colspan="8" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="datacontact==''">
                            <td colspan="8" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.manage.organization.detail.partner_type_spec_properties' | translate }}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4  row p-20" *ngIf="datadetail==''">
            <label class="col-form-label col-md-12 col-xl-12 text-center">{{'general.data_empty' | translate}}</label>
        </div>
        <div class="dt-responsive dt-bootstrap4  row p-20" *ngIf="datadetail==null">
            <label class="col-form-label col-md-12 col-xl-12 text-center">{{'general.loading_data' | translate}} ...</label>
        </div>
        <div class="dt-responsive dt-bootstrap4  row p-20" *ngIf="datadetail!=null">
            <h5 class="col-md-6 col-xl-6 form-group row">{{ 'epdb.manage.organization.add_edit.atc_director' | translate }}
                <hr/>
            </h5>
            <h5 class="col-md-6 col-xl-6 form-group row">{{ 'epdb.manage.organization.add_edit.legal_contact' | translate }}
                <hr/>
            </h5>

            <label class="col-form-label col-md-2 col-xl-2">{{ 'epdb.manage.organization.add_edit.atc_global_csn' | translate }}</label>
            <label class="col-form-label col-md-4 col-xl-4">{{datadetail.ATCCSN}}</label>
            <label class="col-form-label col-md-6 col-xl-6"></label>

            <label class="col-form-label col-md-2 col-xl-2">{{ 'general.name' | translate }}</label>
            <label class="col-form-label col-md-4 col-xl-4">{{datadetail.ATCDirectorFirstName}} {{datadetail.ATCDirectorLastName}}</label>
            <label class="col-form-label col-md-2 col-xl-2">{{ 'general.name' | translate }}</label>
            <label class="col-form-label col-md-4 col-xl-4">{{datadetail.LegalContactFirstName}} {{datadetail.LegalContactLastName}}</label>

            <label class="col-form-label col-md-2 col-xl-2">{{ 'eim.profile.my_profile.telephone' | translate }}</label>
            <label class="col-form-label col-md-4 col-xl-4">{{datadetail.ATCDirectorTelephone}}</label>
            <label class="col-form-label col-md-2 col-xl-2">{{ 'eim.profile.my_profile.telephone' | translate }}</label>
            <label class="col-form-label col-md-4 col-xl-4">{{datadetail.LegalContactTelephone}}</label>

            <label class="col-form-label col-md-2 col-xl-2">{{ 'epdb.manage.organization.detail.fax' | translate }}</label>
            <label class="col-form-label col-md-4 col-xl-4">{{datadetail.ATCDirectorFax}}</label>
            <label class="col-form-label col-md-2 col-xl-2">{{ 'epdb.manage.organization.detail.fax' | translate }}</label>
            <label class="col-form-label col-md-4 col-xl-4">{{datadetail.LegalContactFax}}</label>

            <label class="col-form-label col-md-2 col-xl-2">{{ 'general.email' | translate }}</label>
            <label class="col-form-label col-md-4 col-xl-4">{{datadetail.ATCDirectorEmailAddress}}</label>
            <label class="col-form-label col-md-2 col-xl-2">{{ 'general.email' | translate }}</label>
            <label class="col-form-label col-md-4 col-xl-4">{{datadetail.LegalContactEmailAddress}}</label>

            <h5 class="col-md-12 col-xl-12 form-group row">&nbsp;</h5>
            <h5 class="col-md-6 col-xl-6 form-group row">{{ 'epdb.manage.organization.add_edit.billing_contact' | translate }}
                <hr/>
            </h5>
            <h5 class="col-md-6 col-xl-6 form-group row"></h5>

            <label class="col-form-label col-md-2 col-xl-2">{{ 'general.name' | translate }}</label>
            <label class="col-form-label col-md-4 col-xl-4">{{datadetail.BillingContactFirstName}} {{datadetail.BillingContactLastName}}</label>
            <label class="col-form-label col-md-6 col-xl-6"></label>

            <label class="col-form-label col-md-2 col-xl-2">{{ 'eim.profile.my_profile.telephone' | translate }}</label>
            <label class="col-form-label col-md-4 col-xl-4">{{datadetail.BillingContactTelephone}}</label>
            <label class="col-form-label col-md-6 col-xl-6"></label>

            <label class="col-form-label col-md-2 col-xl-2">{{ 'epdb.manage.organization.detail.fax' | translate }}</label>
            <label class="col-form-label col-md-4 col-xl-4">{{datadetail.BillingContactFax}}</label>
            <label class="col-form-label col-md-6 col-xl-6"></label>

            <label class="col-form-label col-md-2 col-xl-2">{{ 'general.email' | translate }}</label>
            <label class="col-form-label col-md-4 col-xl-4">{{datadetail.BillingContactEmailAddress}}</label>
            <label class="col-form-label col-md-6 col-xl-6"></label>

            <h5 class="col-md-12 col-xl-12 form-group row">&nbsp;</h5>
            <h5 class="col-md-12 col-xl-12 form-group row">&nbsp;</h5>
            <h5 class="col-md-12 col-xl-12 form-group row">&nbsp;</h5>

            <h5 class="col-md-12 col-xl-12 form-group row">
                {{ 'epdb.manage.organization.add_org_journal_entries.organization_journal_entry' | translate }}
                <hr/>
            </h5>
            <div class="col-md-10 col-xl-10"></div>
            <div class="doNotPrint">
                <button *ngIf="accessAddorgjournalentriesBtn" type="button" [routerLink]="['/manage/organization/add-orgjournalentries',datadetail.OrganizationId]"
                    class="btn btn-primary btn-block text-center">
                    <i class="icofont icofont-ui-add"></i> {{ 'general.btn_add' | translate }}</button>
            </div>
            <h5 class="col-md-12 col-xl-12 form-group row">&nbsp;</h5>
            <div class="col-xs-12 col-sm-12 col-md-6 ">
                <label class="label-control">{{'general.show' | translate}}
                    <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage3">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                    </select>
                    {{'general.entries' | translate}}
                </label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div style="text-align: right;">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery3" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="dataorgjournalentries | dataFilterOrganization : filterQuery3"
                    #mf3="mfDataTable" [mfRowsOnPage]="rowsOnPage3" [(mfSortBy)]="sortBy3" [(mfSortOrder)]="sortOrder3">
                    <thead>
                        <tr>
                            <th width="15%">
                                <mfDefaultSorter by="AddedBy">{{ 'general.added_by' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="30%">
                                <mfDefaultSorter by="ActivityName">{{ 'epdb.manage.organization.add_org_journal_entries.journal_entry_type' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="ActivityDate">{{ 'general.date' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="25%">
                                <mfDefaultSorter by="Notes">{{ 'epdb.manage.organization.add_org_journal_entries.note_value' | translate }}</mfDefaultSorter>
                            </th>
                            <!--
                            <th width="10%">
                                <mfDefaultSorter by="Sites">{{'epdb.manage.site.detail.site' | translate}}</mfDefaultSorter>
                            </th>
                            -->
                            <th width="10%" *ngIf="accessEditorgjournalentriesBtn">{{ 'general.action' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="dataorgjournalentries!=null && dataorgjournalentries!=''">
                        <tr *ngFor="let item of mf3.data">
                            <td>{{item.AddedBy}}</td>
                            <td>{{item.ActivityName}}</td>
                            <td>{{item.ActivityDate | convertDate}}</td>
                            <td>{{item.Notes}}</td>
                            <!--<td [innerHTML]="item.Sites | replace"></td>-->
                            <td class="text-center" *ngIf="accessEditorgjournalentriesBtn">
                                <a *ngIf="accessEditorgjournalentriesBtn" [routerLink]="['/manage/organization/edit-orgjournalentries/',item.JournalId]"
                                    class="text-muted f-18" ngbTooltip="{{'general.tool_tip_edit' | translate}}">
                                    <i class="icofont icofont-ui-edit"></i>
                                </a>
                                <a (click)="openConfirmsSwal(item.JournalId)" class="text-muted f-18" ngbTooltip="{{'general.tool_tip_delete' | translate}}">
                                    <i class="icofont icofont-delete-alt" style="cursor: pointer"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="dataorgjournalentries!=null">
                            <td colspan="6">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="dataorgjournalentries==null">
                            <td colspan="8" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="dataorgjournalentries==''">
                            <td colspan="8" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <h5 class="col-md-12 col-xl-12 form-group row">&nbsp;</h5>
            <h5 class="col-md-12 col-xl-12 form-group row">&nbsp;</h5>
            <h5 class="col-md-12 col-xl-12 form-group row">&nbsp;</h5>

            <h5 class="col-md-12 col-xl-12 form-group row">
                FEE MANAGEMENT
                <hr/>
            </h5>
            <div class="col-md-10 col-xl-10"></div>
            <div class="doNotPrint" *ngIf="datadetail!=null">
                <button *ngIf="accessAddinvoiceBtn" [routerLink]="['/manage/organization/add-invoice',datadetail.OrgId]" type="button"
                    class="btn btn-primary btn-block text-center">
                    <i class="icofont icofont-ui-add"></i> {{ 'general.btn_add' | translate }}</button>
            </div>
            <h5 class="col-md-12 col-xl-12 form-group row">&nbsp;</h5>
            <div class="col-xs-12 col-sm-12 col-md-6 ">
                <label class="label-control">{{'general.show' | translate}}
                    <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage4">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                    </select>
                    {{'general.entries' | translate}}
                </label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div style="text-align: right;">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery4" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <!-- change invoice -->
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="datainvoices | dataFilterInvoice : filterQuery4"
                    #mf4="mfDataTable" [mfRowsOnPage]="rowsOnPage4" [(mfSortBy)]="sortBy4" [(mfSortOrder)]="sortOrder4">
                    <thead>
                        <tr>
                            <th width="10%">
                                <mfDefaultSorter by="InvoiceNumber">{{ 'epdb.manage.organization.add_invoice.invoice' | translate }} #</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="InvoiceDate">{{ 'epdb.manage.organization.add_invoice.pay_receive_date' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="TotalInvoicedAmount">{{ 'epdb.manage.organization.add_invoice.amount_invoice' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="SKUDescription">{{ 'epdb.admin.sku.sku_description' | translate }}</mfDefaultSorter>
                            </th>    
                            <th width="10%">
                                <mfDefaultSorter by="NumberOfLicenses">{{ 'epdb.manage.organization.add_invoice.license' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="NumberOfLicenses">QTY</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="ContactName">Contact Name</mfDefaultSorter>
                            </th>
                            <th width="10%" *ngIf="accessEditinvoiceBtn">{{'general.action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="datainvoices!=null && datainvoices!=''">
                        <tr *ngFor="let item of mf4.data">
                            <td>{{item.InvoiceNumber}}
								<br/> 
                                <span *ngIf="item.ApprovedBy">Approved by {{item.ApprovedBy}}</span>
                                <span *ngIf="item.RejectedBy">Rejected by {{item.RejectedBy}}</span>
							</td>
                            <td><span *ngIf="item.InvoiceStatus=='Paid'">{{item.InvoiceDate | date}}</span>
                                <span *ngIf="item.InvoiceStatus!='Paid'">{{item.InvoiceStatus}}</span>
							</td>
                            <!-- <td>{{item.TotalInvoicedAmount}}</td> -->
                            <td>{{item.TotalInvoiceAmmount.toFixed(2)}} {{item.InvoicedCurrency | replace}}</td>
                            <td style="white-space: pre-line;min-width: 200px;">{{item.SKUDescription}}</td>
                            <td>{{item.NumberOfLicenses}}</td>
                            <td>{{item.QTY}}</td>
                            <td><a routerLink="/manage/contact/detail-contact/{{item.ContactIdInt}}/{{item.SiteId}}">{{item.ContactName}}</a></td>
                            <td class="text-center" *ngIf="accessEditinvoiceBtn">
                                <a *ngIf="accessEditinvoiceBtn" [routerLink]="['/manage/organization/update-invoice/',item.InvoiceId]" class="text-muted f-18"
                                    ngbTooltip="{{'general.tool_tip_edit' | translate}}">
                                    <i class="icofont icofont-ui-edit"></i>
                                </a>
                                <a *ngIf="accessEditinvoiceBtn" class="text-muted f-18" ngbTooltip="{{'general.tool_tip_delete' | translate}}" (click)="deleteInvoice(item)">
                                    <i class="icofont icofont-delete-alt" style="cursor: pointer"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="datainvoices!=null">
                            <td colspan="8">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="datainvoices==null">
                            <td colspan="8" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="datainvoices==''">
                            <td colspan="8" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>Attachment (S)</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4  row p-20">
            <div class="col-xs-12 col-sm-12 col-sm-12">
                &nbsp;
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center">
                    <tbody>
                        <tr *ngFor="let item of attachments">
                            <td>{{item.Name}}</td>
                            <td><a href="{{'api/MainOrganization/getFile?id='+item.Id}}" style="cursor: pointer;">Download</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--This div is just use to print document-->
<div id ="PrintDivId" hidden="hidden">
        
    <div class="card" >
        <div class="card-header">
            <div class="page-header-title">
                <h4>{{ 'epdb.manage.organization.detail.detail_organization' | translate }}</h4>
            </div>
        </div>
        <div class="card-block">
            <div class="dt-responsive dt-bootstrap4  row p-20" *ngIf="datadetail==null">
                <label class="col-form-label col-md-12 col-xl-12 text-center">{{'general.loading_data' | translate}} ...</label>
            </div>
            <div class="dt-responsive dt-bootstrap4  row p-20" *ngIf="datadetail==''">
                <label class="col-form-label col-md-12 col-xl-12 text-center">{{'general.data_empty' | translate}}</label>
            </div>
           
            <div class="dt-responsive dt-bootstrap4  row p-20" *ngIf="datadetail!=null">
                
                <div class="col-md-8 col-xl-8" >
                    <h4>
                         <b>{{ 'epdb.manage.organization.detail.organization' | translate }}: {{datadetail.OrgName}}</b>
                         <a [routerLink]="['/manage/organization/detail-organization',datadetail.OrganizationId]" class="text-muted f-18" ngbTooltip="Print Detail Organization">
                             <i class="icofont icofont-print" ></i>
                         </a>
                     </h4>
                     <h6 style="font-size: 19px">
                         <b *ngIf="datadetail.EnglishOrgName != '' && datadetail.EnglishOrgName != null">({{datadetail.EnglishOrgName}})</b>
                     </h6>
                 </div>
                <div class="doNotPrint">
                    <button *ngIf="!deleteOpen" type="button" class="btn btn-danger btn-block text-center" (click)="deleteOpen=true">
                        <i class="icofont icofont-trash"></i>Delete 
                    </button>      
                </div>
                <div class="doNotPrint">
                    <button *ngIf="accesEditOrgBtn" [routerLink]="['/manage/organization/edit-organization',datadetail.OrganizationId,datadetail.OrgId]"
                        type="button" class="btn btn-primary btn-block text-center">
                        <i class="icofont icofont-ui-edit"></i> {{ 'general.btn_edit' | translate }}</button>
                </div>
                <div class="col-md-12 col-xl-12 mb-2 mt-2">
                    <div *ngIf="deleteOpen" class="row">
                        <div class="col-md-12 col-xs-12">
                            <app-file-upload #fileUploader></app-file-upload>
                        </div>
                        <div class="col-md-8 col-xs-8"></div>
                        <div class="col-md-2 col-xs-2">
                            <button type="button"  class="btn btn-danger btn-block text-center" (click)="deleteOpen=false;fileUploader.files=[]">
                                Cancel
                            </button>  
                        </div>
                        <div class="col-md-2 col-xs-2">
                            <button type="button" class="btn btn-danger btn-block text-center" (click)="deleteOrganizationbyID(datadetail.OrganizationId,datadetail.OrgId)">
                                <i class="icofont icofont-trash"></i>Delete 
                            </button>  
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6">
                  <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.detail.organization_id' | translate }}</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.OrgId}}</label>
                  </div>
                  <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.detail.organization_name' | translate }}</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.OrgName}}</label>
                  </div>
                  <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.detail.commercial_name' | translate }}</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.CommercialOrgName}}</label>
                  </div>
                  <div class="row" *ngFor="let item of partnertypeorg;let i = index">
                    <label *ngIf="i<1" class="col-form-label col-md-4 col-xl-4">{{ 'epdb.admin.partner_type.partner_type' | translate }}</label>
                    <label *ngIf="i>0" class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{item.RoleName}}</label>
                  </div>
                  <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{ 'general.status' | translate }}</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.Status}}</label>
                  </div>
                  <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.add_edit.tax_exempt' | translate }}</label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.TaxExempt==''">
                      <i>None</i>
                    </label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.TaxExempt==''">{{datadetail.TaxExempt}}</label>
                  </div>
                  <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.add_edit.vat_number' | translate }}</label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.VATNumber==''">
                      <i>None</i>
                    </label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.VATNumber==''">{{datadetail.VATNumber }}</label>
                  </div>
                  <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">SAP Sold To</label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.SAPSoldTo==''">
                      <i>None</i>
                    </label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.SAPSoldTo==''">{{datadetail.SAPSoldTo}}</label>
                  </div>
                  <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.add_edit.year_joined' | translate }}</label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.YearJoined==''">
                      <i>None</i>
                    </label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.YearJoined==''">{{datadetail.YearJoined}}</label>
                  </div>
                  <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.detail.organization_web' | translate }}</label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.OrgWebAddress==''">
                      <i>None</i>
                    </label>
                    <!-- <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.OrgWebAddress==''">{{datadetail.OrgWebAddress}}</label> -->
                    <a class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.OrgWebAddress==''" href="http://{{datadetail.OrgWebAddress}}"
                       target="_blank">{{datadetail.OrgWebAddress}}</a>
                  </div>
                  <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{ 'general.date_added' | translate }}</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.DateAdded | convertDate}}</label>
                  </div>
                  <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{ 'general.last_admin' | translate }}</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.LastAdminBy}}</label>
                  </div>
                  <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.detail.admin_note' | translate }}</label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.AdminNotes==''">
                      <i>None</i>
                    </label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.AdminNotes==''" [innerHTML]="datadetail.AdminNotes"></label>
                  </div>
                  <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">Organization Logo</label>
                    <img src="{{imgSrc}}" alt="uploaded logo" *ngIf="isAvailableLogo" id="imageLogo" style="width: 60px; height: 50px">
                    <!--<label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.AdminNotes==''">
                      <i>None</i>
                    </label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.AdminNotes==''" [innerHTML]="datadetail.AdminNotes"></label>-->
                  </div>
    
                 
                  <!-- <div class="row">
          <label class="col-form-label col-md-4 col-xl-4">{{ 'general.email' | translate }}</label>
          <label class="col-form-label col-md-8 col-xl-8">{{datadetail.ATCDirectorEmailAddress}}</label>
      </div>
      <div class="row">
          <label class="col-form-label col-md-4 col-xl-4">{{ 'eim.profile.my_profile.telephone' | translate }}</label>
          <label class="col-form-label col-md-8 col-xl-8">{{datadetail.ATCDirectorTelephone}}</label>
      </div>
      <div class="row">
          <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.detail.fax' | translate }}</label>
          <label class="col-form-label col-md-8 col-xl-8">{{datadetail.ATCDirectorFax}}</label>
      </div> -->
                </div>
                <div class="col-md-6 col-xl-6">
                    <div class="row">
                        <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.detail.geo_region' | translate }}</label>
                        <label class="col-form-label col-md-8 col-xl-8">{{datadetail.geo_name}} / {{datadetail.region_name}}</label>
                    </div>
    
                    <!-- Organization Address -->
                    <div class="row">
                        <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.detail.organization_address' | translate }}</label>
                        <label class="col-form-label col-md-8 col-xl-8">{{datadetail.RegisteredAddress1}}</label>
                    </div>
                    <div class="row" *ngIf="!datadetail.RegisteredAddress2==''">
                        <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                        <label class="col-form-label col-md-8 col-xl-8">{{datadetail.RegisteredAddress2}}</label>
                    </div>
                    <div class="row" *ngIf="!datadetail.RegisteredAddress3==''">
                        <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                        <label class="col-form-label col-md-8 col-xl-8">{{datadetail.RegisteredAddress3}}</label>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                        <label class="col-form-label col-md-8 col-xl-8">{{datadetail.RegisteredCity}}, {{datadetail.RegisteredStateProvince}} {{datadetail.RegisteredPostalCode}}</label>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                        <label class="col-form-label col-md-8 col-xl-8">{{datadetail.countries_name}}</label>
                    </div>
                    <!-- Organization Address -->
    
                    <!-- Invoicing Address -->
                    <div class="row">
                        <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.detail.mailing_address' | translate }}</label>
                        <label class="col-form-label col-md-8 col-xl-8">{{datadetail.InvoicingAddress1}}</label>
                    </div>
                    <div class="row" *ngIf="!datadetail.InvoicingAddress2==''">
                        <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                        <label class="col-form-label col-md-8 col-xl-8">{{datadetail.InvoicingAddress2}}</label>
                    </div>
                    <div class="row" *ngIf="!datadetail.InvoicingAddress3==''">
                        <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                        <label class="col-form-label col-md-8 col-xl-8">{{datadetail.InvoicingAddress3}}</label>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                        <label class="col-form-label col-md-8 col-xl-8">{{datadetail.InvoicingCity}}, {{datadetail.InvoicingStateProvince}} {{datadetail.InvoicingPostalCode}}</label>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                        <label class="col-form-label col-md-8 col-xl-8">{{datadetail.countries_name}}</label>
                    </div>
                    <!-- Invoicing Address -->
    
                    <!-- Contract Address -->
                    <div class="row">
                        <label class="col-form-label col-md-4 col-xl-4">{{ 'epdb.manage.organization.detail.shipping_address' | translate }}</label>
                        <label class="col-form-label col-md-8 col-xl-8">{{datadetail.ContractAddress1}}</label>
                    </div>
                    <div class="row" *ngIf="!datadetail.ContractAddress2==''">
                        <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                        <label class="col-form-label col-md-8 col-xl-8">{{datadetail.ContractAddress2}}</label>
                    </div>
                    <div class="row" *ngIf="!datadetail.ContractAddress3==''">
                        <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                        <label class="col-form-label col-md-8 col-xl-8">{{datadetail.ContractAddress3}}</label>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                        <label class="col-form-label col-md-8 col-xl-8">{{datadetail.ContractCity}}, {{datadetail.ContractStateProvince}} {{datadetail.ContractPostalCode}}</label>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-md-4 col-xl-4">&nbsp;</label>
                        <label class="col-form-label col-md-8 col-xl-8">{{datadetail.countries_name}}</label>
                    </div>
                    <!-- <div class="row">
                        <label class="col-form-label col-md-4 col-xl-4">City</label>
                        <label class="col-form-label col-md-8 col-xl-8">{{datadetail.RegisteredCity}}</label>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-md-4 col-xl-4">Country State</label>
                        <label class="col-form-label col-md-8 col-xl-8">{{datadetail.countries_name}}</label>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-md-4 col-xl-4">Postal Code</label>
                        <label class="col-form-label col-md-8 col-xl-8">{{datadetail.RegisteredPostalCode}}</label>
                    </div> -->
                    <!-- <div class="row">
                        <label class="col-form-label col-md-4 col-xl-4">{{ 'general.status' | translate }}</label>
                        <label class="col-form-label col-md-8 col-xl-8">{{datadetail.Status}}</label>
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="page-break"></div>
    <div class="page-break-after"></div>
    <div class="card">
        <div class="card-header">
            <div class="page-header-title">
                <h4>{{ 'epdb.manage.site.detail.site' | translate }} (S)</h4>
            </div>
        </div>
        <div class="card-block">
            <div class="dt-responsive dt-bootstrap4  row p-20" *ngIf="datadetail!=null">
                <div class="col-md-10 col-xl-10"></div>
                <div class="doNotPrint">
                    <button *ngIf="accesAddSiteBtn" type="button" [routerLink]="['/manage/site/add-site',datadetail.OrganizationId]" class="btn btn-primary btn-md btn-block text-center ">
                        <i class="icofont icofont-ui-add"></i> {{ 'general.btn_add' | translate }}</button>
                </div>
                <div class="col-xs-12 col-sm-12 col-sm-12">
                    &nbsp;
                </div>
                <div class="doNotPrint">
                    <div>
                        <label class="label-control">{{'general.show' | translate}}
                            <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="25">25</option>
                                <option [ngValue]="50">50</option>
                                <option [ngValue]="100">100</option>
                            </select>
                            {{'general.entries' | translate}}
                        </label>
                    </div>
                </div>
                <div class="doNotPrint">
                    <div style="text-align: right;">
                        <label>{{'general.search' | translate}}:
                            <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                    <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data | dataFilterSite : filterQuery"
                        #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                        <thead>
                            <tr>
                                <th width="15%">
                                    <mfDefaultSorter by="siteId">{{ 'epdb.manage.site.detail.site_id' | translate }}</mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="SiteName">{{ 'epdb.manage.site.detail.site_name' | translate }}</mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="RoleName">{{ 'epdb.admin.partner_type.partner_type' | translate }}</mfDefaultSorter>
                                </th>
                                <th width="10%">
                                    <mfDefaultSorter by="Status">{{ 'general.status' | translate }}</mfDefaultSorter>
                                </th>
                                <th width="20%" class="doNotPrint">
                                    <mfDefaultSorter by="SiteAddress1">{{ 'epdb.manage.contact.site_affiliated.site_location' | translate }}</mfDefaultSorter>
                                </th>
                                <th width="5%">
                                    <mfDefaultSorter by="count"># {{ 'epdb.manage.contact.detail.contact' | translate }}</mfDefaultSorter>
                                </th>
                                <th width="10%">{{ 'epdb.manage.site.detail.primary_site' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="data!=null && data!=''">
                            <tr *ngFor="let item of mf.data">
                                <td>
                                    <a [routerLink]="['/manage/site/detail-site',item.SiteIdInt]">{{item.SiteId}}</a>
                                </td>
                                <td>{{item.SiteName}}</td>
                                <td [innerHTML]="item.PartnerType | replace"></td>
                                <td [innerHTML]="item.Status | replace"></td>
                                <!-- <td>{{item.SiteAddress1}}</td> -->
                                <td [innerHTML]="item.Location"></td> <!-- add location detail issue 12092018 -->
                                <td>{{item.count}}</td>
                                <!-- <td *ngIf="item.count!=null">{{item.count}}</td>
                                <td *ngIf="item.count==''">0</td> -->
                                <td>
                                    <div class="form-radio">
                                        <div class="radio radiofill">
                                            <label *ngIf="selectedSite == item.SiteId;else nothing">
                                                <input type="radio" name="radio" disabled checked>
                                                <i class="helper"></i>
                                            </label>
                                            <ng-template #nothing>
                                                <input type="radio" name="radio" disabled>
                                                <i class="helper"></i>
                                            </ng-template>
                                        </div>
                                    </div>
                                    <!-- <span>&nbsp;</span> -->
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngIf="data!=null">
                                <td colspan="7">
                                    <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                                </td>
                            </tr>
                            <tr *ngIf="data==null">
                                <td colspan="7" class="text-center">{{'general.loading_data' | translate}} ...</td>
                            </tr>
                            <tr *ngIf="data==''">
                                <td colspan="7" class="text-center">{{'general.data_empty' | translate}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="page-break"></div>
    <div class="page-break-after"></div>
    <div class="card">
        <div class="card-header">
            <div class="page-header-title" *ngIf="datacontact != null">
                <h4>{{ 'epdb.manage.contact.detail.contact' | translate }} ({{datacontact.length}})</h4>
            </div>
        </div>
        <div class="card-block">
            <div class="dt-responsive dt-bootstrap4  row p-20">
                <div class="doNotPrint">
                    <div>
                        <label class="label-control">{{'general.show' | translate}}
                            <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage2">
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="25">25</option>
                                <option [ngValue]="50">50</option>
                                <option [ngValue]="100">100</option>
                            </select>
                            {{'general.entries' | translate}}
                        </label>
                    </div>
                </div>
                <div class="doNotPrint">
                    <div style="text-align: right;">
                        <label>{{'general.search' | translate}}:
                            <input type="search" [(ngModel)]="filterQuery2" class="form-control input-sm full-data-search">
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                    <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="datacontact | dataFilterContact : filterQuery2"
                        #mf12="mfDataTable" [mfRowsOnPage]="rowsOnPage2" [(mfSortBy)]="sortBy2" [(mfSortOrder)]="sortOrder2">
                        <thead>
                            <tr>
                                <th width="20%">
                                    <mfDefaultSorter by="ContactIdInt">{{ 'epdb.manage.contact.detail.contact_id' | translate }}</mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="InstructorId">{{ 'epdb.manage.contact.add_edit.instructor_id' | translate }}</mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="ContactName">{{ 'general.name' | translate }}</mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="EmailAddress">{{ 'general.email' | translate }}</mfDefaultSorter>
                                </th>
                                <th width="10%">
                                    <mfDefaultSorter by="CountSites">{{ 'epdb.manage.contact.site_affiliated.site_affiliated' | translate }}</mfDefaultSorter>
                                </th>
                                <th width="10%"  class="doNotPrint" *ngIf="accesAffiliateSiteBtn">{{ 'general.action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="datacontact!=null && datacontact!=''">
                            <tr *ngFor="let item of mf12.data">
                                <td>
                                    <a [routerLink]="['/manage/contact/detail-contact/',item.ContactIdInt,item.SiteId]">{{item.ContactId}}</a>
                                </td>
                                <td>{{item.InstructorId}}</td>
                                <td>{{item.ContactName}}</td>
                                <td>{{item.EmailAddress}}</td>
                                <td>{{item.CountSites}}</td>
                                <td *ngIf="accesAffiliateSiteBtn" class="doNotPrint">
                                    <button (click)="routeaffiliate(item.ContactIdInt,item.SiteId,datadetail.OrganizationId)" type="button" class="btn btn-primary btn-sm">{{'epdb.manage.contact.detail.btn_affiliation' | translate}}</button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngIf="datacontact!=null">
                                <td colspan="8">
                                    <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                                </td>
                            </tr>
                            <tr *ngIf="datacontact==null">
                                <td colspan="8" class="text-center">{{'general.loading_data' | translate}} ...</td>
                            </tr>
                            <tr *ngIf="datacontact==''">
                                <td colspan="8" class="text-center">{{'general.data_empty' | translate}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="page-break"></div>
    <div class="page-break-after"></div>
    <div class="card">
        <div class="card-header">
            <div class="page-header-title">
                <h4>{{ 'epdb.manage.organization.detail.partner_type_spec_properties' | translate }}</h4>
            </div>
        </div>
        <div class="card-block">
            <div class="dt-responsive dt-bootstrap4  row p-20" *ngIf="datadetail==''">
                <label class="col-form-label col-md-12 col-xl-12 text-center">{{'general.data_empty' | translate}}</label>
            </div>
            <div class="dt-responsive dt-bootstrap4  row p-20" *ngIf="datadetail==null">
                <label class="col-form-label col-md-12 col-xl-12 text-center">{{'general.loading_data' | translate}} ...</label>
            </div>
            <div class="dt-responsive dt-bootstrap4  row p-20" *ngIf="datadetail!=null">
                <h5 class="doNotPrint">{{ 'epdb.manage.organization.add_edit.atc_director' | translate }}
                    <hr/>
                </h5>
                <h5 class="doNotPrint">{{ 'epdb.manage.organization.add_edit.legal_contact' | translate }}
                    <hr/>
                </h5>
    
                <label class="col-form-label col-md-2 col-xl-2">{{ 'epdb.manage.organization.add_edit.atc_global_csn' | translate }}</label>
                <label class="col-form-label col-md-4 col-xl-4">{{datadetail.ATCCSN}}</label>
                <label class="col-form-label col-md-6 col-xl-6"></label>
    
                <label class="col-form-label col-md-2 col-xl-2">{{ 'general.name' | translate }}</label>
                <label class="col-form-label col-md-4 col-xl-4">{{datadetail.ATCDirectorFirstName}} {{datadetail.ATCDirectorLastName}}</label>
                <label class="col-form-label col-md-2 col-xl-2">{{ 'general.name' | translate }}</label>
                <label class="col-form-label col-md-4 col-xl-4">{{datadetail.LegalContactFirstName}} {{datadetail.LegalContactLastName}}</label>
    
                <label class="col-form-label col-md-2 col-xl-2">{{ 'eim.profile.my_profile.telephone' | translate }}</label>
                <label class="col-form-label col-md-4 col-xl-4">{{datadetail.ATCDirectorTelephone}}</label>
                <label class="col-form-label col-md-2 col-xl-2">{{ 'eim.profile.my_profile.telephone' | translate }}</label>
                <label class="col-form-label col-md-4 col-xl-4">{{datadetail.LegalContactTelephone}}</label>
    
                <label class="col-form-label col-md-2 col-xl-2">{{ 'epdb.manage.organization.detail.fax' | translate }}</label>
                <label class="col-form-label col-md-4 col-xl-4">{{datadetail.ATCDirectorFax}}</label>
                <label class="col-form-label col-md-2 col-xl-2">{{ 'epdb.manage.organization.detail.fax' | translate }}</label>
                <label class="col-form-label col-md-4 col-xl-4">{{datadetail.LegalContactFax}}</label>
    
                <label class="col-form-label col-md-2 col-xl-2">{{ 'general.email' | translate }}</label>
                <label class="col-form-label col-md-4 col-xl-4">{{datadetail.ATCDirectorEmailAddress}}</label>
                <label class="col-form-label col-md-2 col-xl-2">{{ 'general.email' | translate }}</label>
                <label class="col-form-label col-md-4 col-xl-4">{{datadetail.LegalContactEmailAddress}}</label>
    
                <h5 class="col-md-12 col-xl-12 form-group row">&nbsp;</h5>
                <h5 class="col-md-6 col-xl-6 form-group row">{{ 'epdb.manage.organization.add_edit.billing_contact' | translate }}
                    <hr/>
                </h5>
                <h5 class="col-md-6 col-xl-6 form-group row"></h5>
    
                <label class="col-form-label col-md-2 col-xl-2">{{ 'general.name' | translate }}</label>
                <label class="col-form-label col-md-4 col-xl-4">{{datadetail.BillingContactFirstName}} {{datadetail.BillingContactLastName}}</label>
                <label class="col-form-label col-md-6 col-xl-6"></label>
    
                <label class="col-form-label col-md-2 col-xl-2">{{ 'eim.profile.my_profile.telephone' | translate }}</label>
                <label class="col-form-label col-md-4 col-xl-4">{{datadetail.BillingContactTelephone}}</label>
                <label class="col-form-label col-md-6 col-xl-6"></label>
    
                <label class="col-form-label col-md-2 col-xl-2">{{ 'epdb.manage.organization.detail.fax' | translate }}</label>
                <label class="col-form-label col-md-4 col-xl-4">{{datadetail.BillingContactFax}}</label>
                <label class="col-form-label col-md-6 col-xl-6"></label>
    
                <label class="col-form-label col-md-2 col-xl-2">{{ 'general.email' | translate }}</label>
                <label class="col-form-label col-md-4 col-xl-4">{{datadetail.BillingContactEmailAddress}}</label>
                <label class="col-form-label col-md-6 col-xl-6"></label>
    
                <h5 class="col-md-12 col-xl-12 form-group row">&nbsp;</h5>
                <h5 class="col-md-12 col-xl-12 form-group row">&nbsp;</h5>
                <h5 class="col-md-12 col-xl-12 form-group row">&nbsp;</h5>
    
                <h5 class="col-md-12 col-xl-12 form-group row">
                    {{ 'epdb.manage.organization.add_org_journal_entries.organization_journal_entry' | translate }}
                    <hr/>
                </h5>
                <div class="col-md-10 col-xl-10"></div>
                <div  class="doNotPrint">
                    <button *ngIf="accessAddorgjournalentriesBtn" type="button" [routerLink]="['/manage/organization/add-orgjournalentries',datadetail.OrganizationId]"
                        class="btn btn-primary btn-block text-center">
                        <i class="icofont icofont-ui-add"></i> {{ 'general.btn_add' | translate }}</button>
                </div>
                <h5 class="col-md-12 col-xl-12 form-group row">&nbsp;</h5>
                <div class="doNotPrint">
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage3">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
                <div class="doNotPrint">
                    <div style="text-align: right;">
                        <label>{{'general.search' | translate}}:
                            <input type="search" [(ngModel)]="filterQuery3" class="form-control input-sm full-data-search">
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                    <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="dataorgjournalentries | dataFilterOrganization : filterQuery3"
                        #mf3="mfDataTable" [mfRowsOnPage]="rowsOnPage3" [(mfSortBy)]="sortBy3" [(mfSortOrder)]="sortOrder3">
                        <thead>
                            <tr>
                                <th width="15%">
                                    <mfDefaultSorter by="AddedBy">{{ 'general.added_by' | translate }}</mfDefaultSorter>
                                </th>
                                <th width="30%">
                                    <mfDefaultSorter by="ActivityName">{{ 'epdb.manage.organization.add_org_journal_entries.journal_entry_type' | translate }}</mfDefaultSorter>
                                </th>
                                <th width="10%">
                                    <mfDefaultSorter by="ActivityDate">{{ 'general.date' | translate }}</mfDefaultSorter>
                                </th>
                                <th width="25%">
                                    <mfDefaultSorter by="Notes">{{ 'epdb.manage.organization.add_org_journal_entries.note_value' | translate }}</mfDefaultSorter>
                                </th>
                                <th width="10%">
                                    <mfDefaultSorter by="Sites">{{'epdb.manage.site.detail.site' | translate}}</mfDefaultSorter>
                                </th>
                                <th  class="doNotPrint" width="10%" *ngIf="accessEditorgjournalentriesBtn">{{ 'general.action' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="dataorgjournalentries!=null && dataorgjournalentries!=''">
                            <tr *ngFor="let item of mf3.data">
                                <td>{{item.AddedBy}}</td>
                                <td>{{item.ActivityName}}</td>
                                <td>{{item.ActivityDate | convertDate}}</td>
                                <td>{{item.Notes}}</td>
                                <td [innerHTML]="item.Sites | replace"></td>
                                <td class="doNotPrint" *ngIf="accessEditorgjournalentriesBtn">
                                    <a *ngIf="accessEditorgjournalentriesBtn" [routerLink]="['/manage/organization/edit-orgjournalentries/',item.JournalId]"
                                        class="text-muted f-18" ngbTooltip="{{'general.tool_tip_edit' | translate}}">
                                        <i class="icofont icofont-ui-edit"></i>
                                    </a>
                                    <a (click)="openConfirmsSwal(item.JournalId)" class="text-muted f-18" ngbTooltip="{{'general.tool_tip_delete' | translate}}">
                                        <i class="icofont icofont-delete-alt" style="cursor: pointer"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngIf="dataorgjournalentries!=null">
                                <td colspan="6">
                                    <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                                </td>
                            </tr>
                            <tr *ngIf="dataorgjournalentries==null">
                                <td colspan="8" class="text-center">{{'general.loading_data' | translate}} ...</td>
                            </tr>
                            <tr *ngIf="dataorgjournalentries==''">
                                <td colspan="8" class="text-center">{{'general.data_empty' | translate}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
    
                <h5 class="col-md-12 col-xl-12 form-group row">&nbsp;</h5>
                <h5 class="col-md-12 col-xl-12 form-group row">&nbsp;</h5>
                <h5 class="col-md-12 col-xl-12 form-group row">&nbsp;</h5>
    
                <h5 class="col-md-12 col-xl-12 form-group row">
                    FEE MANAGEMENT
                    <hr/>
                </h5>
                <div class="col-md-10 col-xl-10"></div>
                <div class="doNotPrint" *ngIf="datadetail!=null">
                    <button *ngIf="accessAddinvoiceBtn" [routerLink]="['/manage/organization/add-invoice',datadetail.OrgId]" type="button"
                        class="btn btn-primary btn-block text-center">
                        <i class="icofont icofont-ui-add"></i> {{ 'general.btn_add' | translate }}</button>
                </div>
                <h5 class="col-md-12 col-xl-12 form-group row">&nbsp;</h5>
                <div class="doNotPrint">
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage4">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
                <div class="doNotPrint">
                    <div style="text-align: right;">
                        <label>{{'general.search' | translate}}:
                            <input type="search" [(ngModel)]="filterQuery4" class="form-control input-sm full-data-search">
                        </label>
                    </div>
                </div>
                <!-- change invoice -->
                <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                    <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="datainvoices | dataFilterInvoice : filterQuery4"
                        #mf4="mfDataTable" [mfRowsOnPage]="rowsOnPage4" [(mfSortBy)]="sortBy4" [(mfSortOrder)]="sortOrder4">
                        <thead>
                            <tr>
                                <th width="10%">
                                    <mfDefaultSorter by="InvoiceNumber">{{ 'epdb.manage.organization.add_invoice.invoice' | translate }} #</mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="InvoiceDate">{{ 'epdb.manage.organization.add_invoice.pay_receive_date' | translate }}</mfDefaultSorter>
                                </th>
                                <th width="10%">
                                    <mfDefaultSorter by="TotalInvoicedAmount">{{ 'epdb.manage.organization.add_invoice.amount_invoice' | translate }}</mfDefaultSorter>
                                </th>
                                <th width="20%">
                                    <mfDefaultSorter by="SKUDescription">{{ 'epdb.admin.sku.sku_description' | translate }}</mfDefaultSorter>
                                </th>    
                                <th width="10%">
                                    <mfDefaultSorter by="NumberOfLicenses">{{ 'epdb.manage.organization.add_invoice.license' | translate }}</mfDefaultSorter>
                                </th>
                                <th width="10%">
                                    <mfDefaultSorter by="NumberOfLicenses">QTY</mfDefaultSorter>
                                </th>
                                <th width="10%">
                                    <mfDefaultSorter by="ContactName">Contact Name</mfDefaultSorter>
                                </th>
                                <th width="10%" *ngIf="accessEditinvoiceBtn">{{'general.action' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="datainvoices!=null && datainvoices!=''">
                            <tr *ngFor="let item of mf4.data">
                                <td>{{item.InvoiceNumber}}</td>
                                <td>{{item.InvoiceDate | date}}</td>
                                <td>{{item.TotalInvoiceAmmount.toFixed(2)}} {{item.InvoicedCurrency | replace}}</td>
                                <td style="white-space: pre-line;min-width: 200px;">{{item.SKUDescription}}</td>
                                <td>{{item.NumberOfLicenses}}</td>
                                <td>{{item.QTY}}</td>
                                <td><a routerLink="/manage/contact/detail-contact/{{item.ContactIdInt}}/{{item.SiteId}}">{{item.ContactName}}</a></td>
                                <td class="text-center" *ngIf="accessEditinvoiceBtn">
                                    <a *ngIf="accessEditinvoiceBtn" [routerLink]="['/manage/organization/update-invoice/',item.InvoiceId]" class="text-muted f-18"
                                        ngbTooltip="{{'general.tool_tip_edit' | translate}}">
                                        <i class="icofont icofont-ui-edit"></i>
                                    </a>
                                    <a *ngIf="accessEditinvoiceBtn" class="text-muted f-18" ngbTooltip="{{'general.tool_tip_delete' | translate}}" (click)="deleteInvoice(item)">
                                        <i class="icofont icofont-delete-alt" style="cursor: pointer"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngIf="datainvoices!=null">
                                <td colspan="8">
                                    <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                                </td>
                            </tr>
                            <tr *ngIf="datainvoices==null">
                                <td colspan="8" class="text-center">{{'general.loading_data' | translate}} ...</td>
                            </tr>
                            <tr *ngIf="datainvoices==''">
                                <td colspan="8" class="text-center">{{'general.data_empty' | translate}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="page-break"></div>
    <div class="page-break-after"></div>
    <div class="card">
        <div class="card-header">
            <div class="page-header-title">
                <h4>Attachment (S)</h4>
            </div>
        </div>
        <div class="card-block">
            <div class="dt-responsive dt-bootstrap4  row p-20">
                <div class="col-xs-12 col-sm-12 col-sm-12">
                    &nbsp;
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                    <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center">
                        <tbody>
                            <tr *ngFor="let item of attachments">
                                <td>{{item.Name}}</td>
                                <td><a href="{{'api/MainOrganization/getFile?id='+item.Id}}" style="cursor: pointer;">Download</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    </div>
<!--This div is just use to print document-->