.table-responsive {
    display: table;
}

th {
    text-align: center;
}

td {
    text-align: center;
}
@media print{
    
    .doNotPrint{display:none !important;}
    .page-break { display: block; page-break-before: always; }
    .page-break-after { display: block; page-break-after: always; }
  }
  
  
