<div class="row">
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary"> 
            <div class="card-block row" >  
                <div class="col-lg-12 col-xl-12"> 
                    <div class="mt-3 col-md-12 col-xl-12 row">  
                        <div class="col-md-3 col-xl-3 form-group">
                            <label class="col-form-label">Geo</label>
                            <select name="oStatus" size="9" multiple="true" class="form-control">
                                <option value="All" selected="">All</option>
                                <option *ngFor="let item of datageo" value={{item.geo_name}}>{{item.geo_name}}</option> 
                            </select>
                        </div>
                        <div class="col-md-3 col-xl-3 form-group">
                            <label class="col-form-label">Region</label>
                            <select name="oStatus" size="9" multiple="true" class="form-control">
                                <option value="AZ">All</option>
                                <option *ngFor="let item of dataregion" value={{item.region_name}}>{{item.region_name}}</option> 
                            </select>
                        </div>
                        <div class="col-md-3 col-xl-3 form-group">
                            <label class="col-form-label">Sub Region</label>
                            <select name="oStatus" size="9" multiple="true" class="form-control">
                                <option value="AZ">All</option>
                                <option *ngFor="let item of datasubregion" value={{item.subregion_name}}>{{item.subregion_name}}</option> 
                            </select>
                        </div>
                        <div class="col-md-3 col-xl-3 form-group">
                            <label class="col-form-label">Country</label>
                            <select name="oStatus" size="9" multiple="true" class="form-control">
                                <option *ngFor="let item of datacountries" value={{item.countries_name}}>{{item.countries_name}}</option> 
                            </select>
                        </div> 
                    </div>  

                    <!-- 
                    <div class="col-md-12 col-xl-12 row" >  
                        <div class="col-md-4 col-xl-4 page-header-title">
                        </div>
                        <div class="col-md-2 col-xl-2 page-header-title">
                            <button type="button" [routerLink]="['/epdb/country/country-list']" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-checked"></i> Submit</button>
                        </div> 
                        <div class="col-md-2 col-xl-2 page-header-title">
                            <button type="button" [routerLink]="['/epdb/country/country-list']" class="btn btn-default btn-md btn-block text-center"><i class="icofont icofont-spinner-alt-3"></i> Reset</button>
                        </div>
                        <div class="col-md-4 col-xl-4 page-header-title">
                        </div>
                    </div> 
                    -->

                </div>
            </div>
        </div>
    </div>

    <!-- 
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary">
            <div class="m-4 card-block row dt-responsive">
                <div class="mt-5 col-md-12 col-xl-12 form-group">
                    <h4><strong>Geo</strong></h4>
                </div>
                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                    <div>
                      <label class="label-control">Show
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                          <option [ngValue]="10">10</option>
                          <option [ngValue]="25">25</option>
                          <option [ngValue]="50">50</option>
                          <option [ngValue]="100">100</option>
                        </select>
                        entries
                      </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="text-right">
                        <label>Search:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                        </label>
                    </div>
                </div>
                <table class="row table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" *ngIf="title!=''">
                    <thead>
                        <tr>
                            <th width="20%"><mfDefaultSorter by="geo_id">Geo ID</mfDefaultSorter></th>
                            <th width="80%"><mfDefaultSorter by="geo_code">Geo Code</mfDefaultSorter></th>
                            <th width="100%"><mfDefaultSorter by="geo_name">Geo Name</mfDefaultSorter></th>
                        </tr> 
                    </thead>
                    <tbody *ngIf="datageo!=null">
                        <tr *ngFor="let item of datageo">
                            <td>{{item.geo_id}}</td>
                            <td>{{item.geo_code}}</td>
                            <td>{{item.geo_name}}</td>
                        </tr>
                    </tbody>
                    <tfoot > 
                        <tr *ngIf="datageo!=null">
                            <td colspan="3"><mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator></td>
                        </tr>
                        <tr *ngIf="datageo==null">
                            <td colspan="3" class="text-right">Cant Find Data</td>
                        </tr>
                        <tr *ngIf="datageo==''">
                            <td colspan="3" class="text-right">Data Empty</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary">
            <div class="m-4 card-block row dt-responsive">
                <div class="mt-5 col-md-12 col-xl-12 form-group">
                    <h4><strong>Region</strong></h4>
                </div>
                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                    <div>
                      <label class="label-control">Show
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                          <option [ngValue]="10">10</option>
                          <option [ngValue]="25">25</option>
                          <option [ngValue]="50">50</option>
                          <option [ngValue]="100">100</option>
                        </select>
                        entries
                      </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="text-right">
                        <label>Search:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                        </label>
                    </div>
                </div>
                <table class="row table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" *ngIf="title!=''">
                    <thead>
                        <tr>
                            <th width="20%"><mfDefaultSorter by="region_id">Region ID</mfDefaultSorter></th>
                            <th width="80%"><mfDefaultSorter by="geo_code">Geo Code</mfDefaultSorter></th>
                            <th width="100%"><mfDefaultSorter by="region_code">Region Code</mfDefaultSorter></th>
                            <th width="100%"><mfDefaultSorter by="region_name">Region Name</mfDefaultSorter></th>
                        </tr> 
                    </thead>
                    <tbody *ngIf="dataregion!=null">
                        <tr *ngFor="let item of dataregion">
                            <td>{{item.region_id}}</td>
                            <td>{{item.geo_code}}</td>
                            <td>{{item.region_code}}</td>
                            <td>{{item.region_name}}</td>
                        </tr>
                    </tbody>
                    <tfoot > 
                        <tr *ngIf="dataregion!=null">
                            <td colspan="3"><mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator></td>
                        </tr>
                        <tr *ngIf="dataregion==null">
                            <td colspan="3" class="text-right">Cant Find Data</td>
                        </tr>
                        <tr *ngIf="dataregion==''">
                            <td colspan="3" class="text-right">Data Empty</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
     -->

</div>