<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.sku.list_sku' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-10 col-xl-10">
                <label class="label-control">SKU Type
                    <select class="form-control input-sm full-data-show-entry" [(ngModel)]="viewList" style="width:150px">
                        <option value="master">Master SKU</option>
                        <option value="price">SKU Pricing List</option>
                    </select>
                </label>
            </div>
            <div class="col-md-2 col-xl-2 form-group text-right">
                <button *ngIf="accesAddBtn && viewList=='master'" type="button" [routerLink]="['/admin/sku/add-sku']" class="btn btn-primary btn-md text-center">
                    <i class="icofont icofont-ui-add"></i> {{ 'epdb.admin.sku.btn_add_sku' | translate }}</button>
            </div>
            <div class="col-xs-10 col-sm-10 col-sm-10 col-md-10">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div *ngIf="viewList=='price'" class="col-xs-4 col-sm-4 col-md-4">
                <div>
                    <label class="label-control">FY</label>
                    <select class="form-control input-sm full-data-show-entry" style="width:70%" [(ngModel)]="filter.fy">
                        <option value="">All</option>
                        <option *ngFor="let fy of fys" [value]="fy.value">{{fy.name}}</option>
                    </select>
                </div>
            </div>
            <div *ngIf="viewList=='price'" class="col-xs-4 col-sm-4 col-md-4">
                <label class="label-control">Territory</label>
                <select class="form-control input-sm full-data-show-entry" style="width:70%" [(ngModel)]="filter.ter" (ngModelChange)="getRegion()">
                    <option value="">All</option>
                    <option *ngFor="let t of territories" [value]="t.territoryId">{{t.territoryName}}</option>
                </select>
            </div>
            <div *ngIf="viewList=='price'" class="col-xs-4 col-sm-4 col-md-4">
                <label class="label-control">Region</label>
                <select class="form-control input-sm full-data-show-entry" style="width:70%" [(ngModel)]="filter.reg">
                    <option value="">All</option>
                    <option *ngFor="let r of regions" [value]="r.regionCode">{{r.regionName}}</option>
                </select>
            </div>
            <div *ngIf="viewList=='price'" class="col-xs-12 col-sm-12 col-md-12 mt-2" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data | dataFilterSKU : filter.fy:filter.ter:filter.reg"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="40%">
                                <mfDefaultSorter by="skuName">SKU Name</mfDefaultSorter>
                            </th>
                            <th width="40%">
                                <mfDefaultSorter by="partnerType">Partner Type</mfDefaultSorter>
                            </th>
                            <th width="40%">
                                <mfDefaultSorter by="territory">Territory</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="region">Region</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="description">Description</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="license">No. License</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="price">Price</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="currency">Currency</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="status">Status</mfDefaultSorter>
                            </th>
                            <th width="10%" *ngIf="accesUpdateBtn || accesDeleteBtn">{{'general.action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="data!=null">
                        <tr *ngFor="let item of mf.data">
                            <td class="text-center">{{item.skuName}}</td>
                            <td class="text-center">{{item.partnerType}}</td>
                            <td class="text-center">{{getTerName(item.territory)}}</td>
                            <td class="text-center">{{item.region}}</td>
                            <td class="text-center">{{item.description}}</td>
                            <td class="text-center">{{item.license}}</td>
                            <td class="text-center">{{item.price}}</td>
                            <td class="text-center">{{item.currency}}</td>
                            <td class="text-center">{{item.status=='A'?'Active':'Deactive'}}</td>
                            <td class="action-icon text-center" *ngIf="accesUpdateBtn || accesDeleteBtn">
                                <a *ngIf="accesUpdateBtn" [routerLink]="['/admin/sku/update-sku',item.id]" class="m-r-15 text-muted f-18"
                                    ngbTooltip="{{'general.tool_tip_edit' | translate}}">
                                    <i class="icofont icofont-ui-edit"></i>
                                </a>
                                <a *ngIf="accesDeleteBtn" (click)="openConfirmsSwal(item.id)" class="m-r-15 text-muted f-18" ngbTooltip="{{'general.tool_tip_delete' | translate}}">
                                    <i class="icofont icofont-delete-alt" style="cursor: pointer"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="data!=null">
                            <td colspan="11">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="11" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="11" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
                <!-- <button (click)="exportToExcel()" class="btn btn-primary">Export to excel</button> -->
            </div>
            <div *ngIf="viewList=='master'" class="col-xs-12 col-sm-12 col-md-12 mt-2" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="dataMaster"
                    #mf2="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="40%">
                                <mfDefaultSorter by="skuName">SKU Name</mfDefaultSorter>
                            </th>
                            <th width="40%">
                                <mfDefaultSorter by="partnerType">Partner Type</mfDefaultSorter>
                            </th>
                            <th width="40%">
                                <mfDefaultSorter by="license">No. License</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="fyIndicatorKey">FY</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="status">Status</mfDefaultSorter>
                            </th>
                            <th width="10%" *ngIf="accesUpdateBtn || accesDeleteBtn">{{'general.action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="dataMaster!=null">
                        <tr *ngFor="let item of mf2.data">
                            <td class="text-center">{{item.skuName}}</td>
                            <td class="text-center">{{item.partnerType}}</td>
                            <td class="text-center">{{item.license}}</td>
                            <td class="text-center">{{item.fyIndicatorKey}}</td>
                            <td class="text-center">{{item.status=='A'?'Active':'Deactive'}}</td>
                            <td class="action-icon text-center" *ngIf="accesUpdateBtn || accesDeleteBtn">
                                <a *ngIf="accesUpdateBtn" class="m-r-15 text-muted f-18" [routerLink]="'/admin/sku/pricing-sku-add/'+item.siteCountryDistributorSKUId">
                                    <i class="icofont icofont-ui-add" style="cursor: pointer"></i>
                                </a>
                                <a *ngIf="accesUpdateBtn" [routerLink]="'/admin/sku/master-sku-edit/'+item.siteCountryDistributorSKUId" class="m-r-15 text-muted f-18"
                                    ngbTooltip="{{'general.tool_tip_edit' | translate}}">
                                    <i class="icofont icofont-ui-edit"></i>
                                </a>
                                <a *ngIf="accesDeleteBtn" (click)="openConfirmsSwal2(item.siteCountryDistributorSKUId)" class="m-r-15 text-muted f-18" ngbTooltip="{{'general.tool_tip_delete' | translate}}">
                                    <i class="icofont icofont-delete-alt" style="cursor: pointer"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="data!=null">
                            <td colspan="7">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="7" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="7" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
                <!-- <button (click)="exportToExcel()" class="btn btn-primary">Export to excel</button> -->
            </div>
        </div>
    </div>
</div>
