
<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
    <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Are You Sure To {{statusActivate}} this user</h4>
          <button type="button" class="close" aria-label="Close" (click)="JoinAndClose()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
              <div class="form-group" style="padding:10px;">
                  <label class="row">Contact Id:  <strong> {{datadetail.ContactId}}</strong></label>
                  <label class="row">Contact Name:  <strong> {{datadetail.ContactName}}</strong></label>
              </div>
              <div class="form-group">
                  <p style="color: red;" *ngIf="isActive == true">*If you activate this user, this user will gain access to the system.</p>
                  <p style="color: red;" *ngIf="isActive == false">*If you disabled this user, this user will no longer access the system.</p>
              </div>
            <div class="form-group">
              <label for="reason">Reason:</label>
              <div class="input-group">
              <textarea id="reason" class="form-control" [(ngModel)]="TerminateReason"></textarea>

              </div>
              <label *ngIf="validationError === true">{{validationMsg}}</label>
            </div>         
        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark btn-block col-4" [disabled] ="TerminateReason == ''" (click)="ChangeStatus()">Update</button>
        </div>
      </ng-template>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>
                <button class="btn btn-default text-center" (click)="back()">
                    <i class="icofont icofont-arrow-left"></i>
                </button>
                {{'epdb.manage.contact.detail.detail_contact' | translate}}
            </h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4  row p-20" *ngIf="datadetail==null">
            <label class="col-form-label col-md-12 col-xl-12 text-center">Loading Data ...</label>
        </div>
        <div class="dt-responsive dt-bootstrap4  row p-20" *ngIf="datadetail!=null">
            <div class="col-md-4 col-xl-4">
                <h4>
                    <b>{{'epdb.manage.contact.detail.contact' | translate}} : {{datadetail.ContactName}} </b>
                    <a [routerLink]="['/manage/contact/detail-contact',datadetail.ContactIdInt]" class="text-muted f-18" ngbTooltip="Print Detail Organization">
                       <i class="icofont icofont-print"  onclick="printDiv('PrintDivId')"></i>
                    </a>
                </h4>
            </div>
            <div class="col-md-1 col-xl-1 pr-0">
                <button (click)="deleteContactbyID(datadetail.ContactId)" type="button" class="btn btn-danger btn-block text-center">
                    <i class="icofont icofont-trash"></i> </button>
            </div>
            <div class="col-md-2 col-xl-2" >
                <button *ngIf="accessEditContactBtn" [disabled] = "datadetail.Status != 'A'" [routerLink]="['/manage/contact/edit-contact',datadetail.ContactIdInt,siteid]" type="button"
                    class="btn btn-primary btn-block text-center">
                    <i class="icofont icofont-ui-edit"></i> {{'general.btn_edit' | translate}}</button>
            </div>
            <div class="col-md-2 col-xl-2 pr-0 pl-0" >
                <button *ngIf="accessEditContactBtn" [disabled]= "datadetail.Status == 'A'? false : true" (click)="generatePassword(datadetail.ContactIdInt)" type="button" class="btn btn-primary btn-block text-center">
                    <i class="icofont icofont-key"></i> Reset Password</button>
            </div>
            <div class="col-md-3 col-xl-3 pr-0" >
                <button *ngIf="accessEditContactBtn" [disabled] = "datadetail.Status == 'A' ? false : true" (click)="generatePasswordPopUp(datadetail.ContactIdInt)" type="button" class="btn btn-primary btn-block text-center">
                    <i class="icofont icofont-lock"></i> Get Temporary Password</button>
            </div>

            <!-- change request 28082018 - delete contact -->

            <!-- <div class="col-md-2 col-xl-2">
                <button (click)="deleteContact(datadetail.ContactId)" type="button" class="btn btn-danger btn-block text-center">
                    <i class="icofont icofont-trash"></i> Delete</button>
            </div> -->

            <!-- end line change request 28082018 - delete contact -->

            <div class="col-md-12 col-xl-12">&nbsp;
            </div>

            <div class="col-md-6 col-xl-6">
                <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{'general.name' | translate}}</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.ContactName}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{'eim.profile.my_profile.telephone' | translate}}</label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.Telephone1==''">
                        <i>None</i>
                    </label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.Telephone1==''">{{datadetail.Telephone1}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{'epdb.manage.contact.detail.mobile' | translate}}</label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.Mobile1==''">
                        <i>None</i>
                    </label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.Mobile1==''">{{datadetail.Mobile1}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{'epdb.manage.contact.detail.time_zone' | translate}}</label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.Timezone==''">
                        <i>None</i>
                    </label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.Timezone==''">{{datadetail.Timezone}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{'epdb.manage.contact.detail.comment' | translate}}</label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.Comments==''">
                        <i>None</i>
                    </label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.Comments==''">{{datadetail.Comments}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{'general.modified' | translate}}</label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.DateLastAdmin==''">
                        <i>None</i>
                    </label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.DateLastAdmin==''">{{datadetail.DateLastAdmin | convertDate}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{'epdb.manage.contact.detail.primary_industry' | translate}}</label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.PrimaryIndustryId==''">
                        <i>None</i>
                    </label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.PrimaryIndustryId==''">{{datadetail.PrimaryIndustryId}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">Status</label>  
                    <div class="col-form-label col-md-8 col-xl-8">
                        <label class="form-check-inline" style="padding-left:15px;">
                            <input class="form-check-input" id="active" (change)="open(content,item)" type="radio" name="mode" [value]="true" [(ngModel)]="isActive"/>
                            Active
                        </label>
                        <label class="form-check-inline" style="padding-left:15px;">
                            <input class="form-check-input" id="inactive" type="radio" (change)="open(content,item)" name="mode" [value]="false" [(ngModel)]="isActive"/>
                            Inactive
                        </label>     
                    </div>                                              
                </div>
                <div class="row"*ngIf="datadetail.TerminationReason != '' && datadetail.Status == 'I'">
                    <label class="col-form-label col-md-4 col-xl-4">Terminate reason</label>                  
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.TerminationReason == ''">{{datadetail.TerminationReason}}</label>
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
              <div class="row">
                <label class="col-form-label col-md-4 col-xl-4">{{'epdb.manage.contact.detail.contact_id' | translate}}</label>
                <label class="col-form-label col-md-8 col-xl-8">{{datadetail.ContactId}}</label>
              </div>
              <div class="row">
                <label class="col-form-label col-md-4 col-xl-4">{{'eva.manage_course.list_course.instructor_id' | translate}}</label>
                <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.InstructorId==''">
                  <i>None</i>
                </label>
                <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.InstructorId==''">{{datadetail.InstructorId}}</label>
              </div>
              <div class="row">
                <label class="col-form-label col-md-4 col-xl-4">{{'epdb.manage.organization.add_edit.department' | translate}}</label>
                <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.Department==''">
                  <i>None</i>
                </label>
                <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.Department==''">{{datadetail.Department}}</label>
              </div>
              <div class="row">
                <label class="col-form-label col-md-4 col-xl-4">{{'general.email' | translate}}</label>
                <label class="col-form-label col-md-8 col-xl-8">{{datadetail.EmailAddress}}</label>
              </div>
              <div class="row">
                <label class="col-form-label col-md-4 col-xl-4">{{'epdb.admin.language.language' | translate}}</label>
                <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.PrimaryLanguageUI=='' && datadetail.SecondaryLanguageUI==''">
                  <i>None</i>
                </label>
                <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.PrimaryLanguageUI==''">{{datadetail.PrimaryLanguageUI}}</label>
                <label class="col-form-label col-md-4 col-xl-4" *ngIf="!datadetail.SecondaryLanguageUI==''"></label><label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.SecondaryLanguageUI==''">{{datadetail.SecondaryLanguageUI}}</label>
              </div>
              <div class="row">
                <label class="col-form-label col-md-4 col-xl-4">{{'epdb.manage.contact.detail.last_login' | translate}}</label>
                <label class="col-form-label col-md-8 col-xl-8">{{datadetail.LastLogin | convertDate}}</label>
              </div>
              <div class="row">
                <label class="col-form-label col-md-4 col-xl-4">{{'epdb.manage.contact.detail.primary_job_role' | translate}}</label>
                <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.RoleName==''">
                  <i>None</i>
                </label>
                <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.RoleName==''">{{datadetail.RoleName}}</label>
              </div>
              <div class="row">
                <label class="col-form-label col-md-4 col-xl-4">Job Title</label>
                <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.Designation==''">
                  <i>None</i>
                </label>
                <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.Designation==''">{{datadetail.Designation}}</label>
              </div>
              <!-- <div class="row">
      <label class="col-form-label col-md-4 col-xl-4">
          <strong>{{'epdb.manage.contact.detail.last_valid' | translate}}</strong>
      </label>
      <label class="col-form-label col-md-8 col-xl-8">{{datadetail.LastAdminBy}}</label>
  </div> -->
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.manage.contact.site_affiliated.site_affiliated' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4  row p-20">
            <div class="col-md-10 col-xl-10"></div>
            <div class="col-md-2 col-xl-2" *ngIf="datadetail!=null">
                <button *ngIf="accessSiteAffiliationBtn" type="button" (click)="routeaffiliate(datadetail.ContactIdInt,siteid,datadetail.OrganizationId)"
                    class="btn btn-primary btn-md btn-block text-center ">{{'epdb.manage.contact.site_affiliated.btn_choose_site' | translate}}</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-sm-12">&nbsp;</div>
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage1">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div style="text-align: right;">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery1" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="affiliatesite | dataFilterAffiliatedSites : filterQuery1"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage1" [(mfSortBy)]="sortBy1" [(mfSortOrder)]="sortOrder1">
                    <thead>
                        <tr>
                            <th width="30%">
                                <mfDefaultSorter by="siteId">{{ 'epdb.manage.site.detail.site_id' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="30%">
                                <mfDefaultSorter by="SiteName">{{ 'epdb.manage.site.detail.site_name' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="30%">
                                <mfDefaultSorter by="SiteAddress1">{{ 'epdb.manage.contact.site_affiliated.site_location' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="Status">{{ 'general.status' | translate }}</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="data!=null">
                        <tr *ngFor="let item of mf.data">
                            <td>
                                <a [routerLink]="['/manage/site/detail-site',item.SiteIdInt]">{{item.SiteId}}</a>
                            </td>
                            <td [innerHTML]="item.SiteName"></td>
                            <td>{{item.SiteAddress1}}</td>
                            <!-- <td>{{item.Status}}</td> -->
                            <td [innerHTML]="item.PartnerStatusDetail"></td> <!-- detail partner status -->
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="data!=null">
                            <td colspan="4">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="4" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="4" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <!-- Partner Type specific Properties -->
        <div class="page-header-title">
            <h4>{{'epdb.manage.contact.partner_type_spec.partner_type_spec' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4  row p-20">
            <h5 class="col-md-12 col-xl-12 form-group row">
                <strong>{{'epdb.manage.contact.partner_type_spec.qualification' | translate}}</strong>
            </h5>
            <div class="col-md-10 col-xl-10"></div>
            <div class="col-md-2 col-xl-2">
                <button *ngIf="accessAddContactQualificationBtn" type="button" (click)="addContactQualificationsRoute()" class="btn btn-primary btn-md btn-block text-center">
                    <i class="icofont icofont-ui-add"></i> {{'general.btn_add' | translate}}</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-sm-12">&nbsp;</div>
            <div class="col-xs-12 col-sm-12 col-md-6 ">
                <label class="label-control">{{'general.show' | translate}}
                    <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage2">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                    </select>
                    {{'general.entries' | translate}}
                </label>
            </div>
            <!-- <div class="col-xs-12 col-sm-12 col-md-6">
                <div style="text-align: right;">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery2" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div> -->
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="Siebel_CSN | dataFilterQ : filterQuery2"
                    #mf2="mfDataTable" [mfRowsOnPage]="rowsOnPage2" [(mfSortBy)]="sortBy2" [(mfSortOrder)]="sortOrder2">
                    <thead>
                        <tr>
                            <th width="25%">
                                <mfDefaultSorter by="productName">{{'epdb.admin.product.product' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="25%">
                                <mfDefaultSorter by="Version">{{'epdb.admin.product.version' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="25%">
                                <mfDefaultSorter by="QualificationType">{{'general.type' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="QualificationDate">{{'general.date' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="25%">
                                <mfDefaultSorter by="Comments">{{'epdb.manage.contact.detail.comment' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%" *ngIf="accessEditContactQualificationBtn">{{'general.action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="contactQualifications!=null">
                        <tr *ngFor="let item of contactQualifications">
                            <td>{{item.productName}}</td>
                            <td>{{item.Version}}</td>
                            <td>{{item.QualificationType}}</td>
                            <td>{{item.QualificationDate | convertDate}}</td>
                            <td [innerHTML]="item.Comments"></td>
                            <td *ngIf="accessEditContactQualificationBtn">
                                <a *ngIf="accessEditContactQualificationBtn" (click)="editQualificationRoute(item.QualificationId)" class="m-r-15 text-muted f-18"
                                    ngbTooltip="{{'general.tool_tip_edit' | translate}}">
                                    <i class="icofont icofont-ui-edit" style="cursor: pointer"></i>
                                </a>
                                <a (click)="deleteQualification(item.QualificationId)" class="text-muted f-18" ngbTooltip="{{'general.tool_tip_delete' | translate}}">
                                    <i class="icofont icofont-delete-alt" style="cursor: pointer"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="contactQualifications!=null">
                            <td colspan="6">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="contactQualifications==''">
                            <td colspan="6" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                        <tr *ngIf="contactQualifications==null">
                            <td colspan="6" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="col-xs-12 col-sm-12 col-sm-12">&nbsp;</div>

            <!-- Contact Journal Entries -->
            <h5 class="col-md-12 col-xl-12 form-group row" style="margin-top:20px">
                <strong>{{'epdb.manage.contact.partner_type_spec.contact_journal_entrie' | translate}}</strong>
            </h5>
            <div class="col-md-10 col-xl-10"></div>
            <div class="col-md-2 col-xl-2">
                <button *ngIf="accessAddContactJournalBtn" type="button" (click)="addContactJournalRoute()" class="btn btn-primary btn-md btn-block text-center">
                    <i class="icofont icofont-ui-add"></i> {{'general.btn_add' | translate}}</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-sm-12">&nbsp;</div>
            <div class="col-xs-12 col-sm-12 col-md-6 ">
                <label class="label-control">{{'general.show' | translate}}
                    <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage3">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                    </select>
                    {{'general.entries' | translate}}
                </label>
            </div>
            <!-- <div class="col-xs-12 col-sm-12 col-md-6">
                <div style="text-align: right;">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery3" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div> -->
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="contactJournal | dataFilterCJE : filterQuery3"
                    #mf3="mfDataTable" [mfRowsOnPage]="rowsOnPage3" [(mfSortBy)]="sortBy3" [(mfSortOrder)]="sortOrder3">
                    <thead>
                        <tr>
                            <th width="25%">
                                <mfDefaultSorter by="AddedBy">{{'general.added_by' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="25%">
                                <mfDefaultSorter by="ActivityName">{{'epdb.manage.contact.partner_type_spec.attribute' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="ActivityDate">{{'general.date' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="25%">
                                <mfDefaultSorter by="Notes">{{'general.note_value' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%" *ngIf="accessEditContactJournalBtn">{{'general.action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="contactJournal!=null">
                        <tr *ngFor="let item of contactJournal">
                            <td>{{item.AddedBy}}</td>
                            <td>{{item.ActivityName}}</td>
                            <td>{{item.ActivityDate | convertDate}}</td>
                            <td [innerHTML]="item.Notes"></td>
                            <td *ngIf="accessEditContactJournalBtn">
                                <a *ngIf="accessEditContactJournalBtn" (click)="editContactJournalRoute(item.JournalId)" class="m-r-15 text-muted f-18" ngbTooltip="{{'general.tool_tip_edit' | translate}}">
                                    <i class="icofont icofont-ui-edit"></i>
                                </a>
                                <a (click)="deleteJournalAndAttribute(item.JournalId)" class="text-muted f-18" ngbTooltip="{{'general.tool_tip_delete' | translate}}">
                                    <i class="icofont icofont-delete-alt" style="cursor: pointer"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="contactJournal!=null">
                            <td colspan="5">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="contactJournal==''">
                            <td colspan="5" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                        <tr *ngIf="contactJournal==null">
                            <td colspan="5" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <div class="col-xs-12 col-sm-12 col-sm-12">&nbsp;</div>

            <!-- issue 17102018 - add back contact attribute -->

            <!-- Contact Attributes -->
            <h5 class="col-md-12 col-xl-12 form-group row" style="margin-top:20px">
                <strong>Contact Attributes</strong>
            </h5>
            <div class="col-md-10 col-xl-10"></div>
            <div class="col-md-2 col-xl-2">
                <button type="button" (click)="addContactAttribute()" class="btn btn-primary btn-md btn-block text-center">
                    <i class="icofont icofont-ui-add"></i> {{'general.btn_add' | translate}}</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-sm-12">&nbsp;</div>
            <div class="col-xs-12 col-sm-12 col-md-6 ">
                <label class="label-control">{{'general.show' | translate}}
                    <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage4">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                    </select>
                    {{'general.entries' | translate}}
                </label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="contactAtt"
                    #mf4="mfDataTable" [mfRowsOnPage]="rowsOnPage4" [(mfSortBy)]="sortBy4" [(mfSortOrder)]="sortOrder4">
                    <thead>
                        <tr>
                            <th width="25%">
                                <mfDefaultSorter by="AddedBy">{{'general.added_by' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="25%">
                                <mfDefaultSorter by="ActivityName">{{'epdb.manage.contact.partner_type_spec.attribute' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="15%">
                                <mfDefaultSorter by="ActivityDate">{{'general.date' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="25%">
                                <mfDefaultSorter by="Notes">{{'general.note_value' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%">{{'general.action' | translate}}</th>
                        </tr> 
                    </thead>
                    <tbody *ngIf = "contactAtt!=null && contactAtt!=''">
                        <tr *ngFor="let item of contactAtt">
                            <td>{{item.AddedBy}}</td>
                            <td>{{item.ActivityName}}</td>
                            <td>{{item.ActivityDate | convertDate}}</td>
                            <td [innerHTML]="item.Notes"></td>
                            <td >
                                <a (click)="editContactAtt(item.JournalId)" class="m-r-15 text-muted f-18" ngbTooltip="{{'general.tool_tip_edit' | translate}}">
                                    <i class="icofont icofont-ui-edit"></i>
                                </a>
                                <a (click)="deleteJournalAndAttribute(item.JournalId)" class="text-muted f-18" ngbTooltip="{{'general.tool_tip_delete' | translate}}">
                                    <i class="icofont icofont-delete-alt" style="cursor: pointer"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf = "contactAtt!=null && contactAtt!=''">
                            <td colspan="5"><mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator></td>
                        </tr>  
                        <tr *ngIf="contactAtt==''">
                            <td colspan="5" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                        <tr *ngIf="contactAtt==null">
                            <td colspan="5" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                    </tfoot>
                </table> 
            </div>

            <!-- end line issue 17102018 - add back contact attribute -->

        </div>
    </div>
</div>
<!--This div is just use to print document-->
<div id="PrintDivId" hidden="hidden">
    <ngx-loading [show]="loading" [config]="{
        backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
        primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
    <div class="card">
        <div class="card-header">
            <div class="page-header-title">
                <h4>{{'epdb.manage.contact.detail.detail_contact' | translate}}</h4>
            </div>
        </div>
        <div class="card-block">
            <div class="dt-responsive dt-bootstrap4  row p-20" *ngIf="datadetail==null">
                <label class="col-form-label col-md-12 col-xl-12 text-center">Loading Data ...</label>
            </div>
            <div class="dt-responsive dt-bootstrap4  row p-20" *ngIf="datadetail!=null">
                <div class="doNotPrint">
                    <h4>
                        <b>{{'epdb.manage.contact.detail.contact' | translate}} : {{datadetail.ContactName}} </b>
                        <a [routerLink]="['/manage/contact/detail-contact',datadetail.ContactIdInt]" class="text-muted f-18" ngbTooltip="Print Detail Organization">
                           <i class="icofont icofont-print"></i>
                        </a>
                    </h4>
                </div>
                <div class="doNotPrint">
                    <button (click)="deleteContactbyID(datadetail.ContactId)" type="button" class="btn btn-danger btn-block text-center">
                        <i class="icofont icofont-trash"></i> </button>
                </div>
                <div class="doNotPrint">
                    <button *ngIf="accessEditContactBtn" [routerLink]="['/manage/contact/edit-contact',datadetail.ContactIdInt,siteid]" type="button"
                        class="btn btn-primary btn-block text-center">
                        <i class="icofont icofont-ui-edit"></i> {{'general.btn_edit' | translate}}</button>
                </div>
                <div class="doNotPrint">
                    <button *ngIf="accessEditContactBtn" (click)="generatePassword(datadetail.ContactIdInt)" type="button" class="btn btn-primary btn-block text-center">
                        <i class="icofont icofont-key"></i> Reset Password</button>
                </div>
                <div class="doNotPrint">
                    <button *ngIf="accessEditContactBtn" (click)="generatePasswordPopUp(datadetail.ContactIdInt)" type="button" class="btn btn-primary btn-block text-center">
                        <i class="icofont icofont-lock"></i> Get Temporary Password</button>
                </div>
    
                <!-- change request 28082018 - delete contact -->
    
                <!-- <div class="col-md-2 col-xl-2">
                    <button (click)="deleteContact(datadetail.ContactId)" type="button" class="btn btn-danger btn-block text-center">
                        <i class="icofont icofont-trash"></i> Delete</button>
                </div> -->
    
                <!-- end line change request 28082018 - delete contact -->
    
                <div class="col-md-12 col-xl-12">&nbsp;
                </div>
    
                <div class="col-md-6 col-xl-6">
                    <div class="row">
                        <label class="col-form-label col-md-4 col-xl-4">{{'general.name' | translate}}</label>
                        <label class="col-form-label col-md-8 col-xl-8">{{datadetail.ContactName}}</label>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-md-4 col-xl-4">{{'eim.profile.my_profile.telephone' | translate}}</label>
                        <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.Telephone1==''">
                            <i>None</i>
                        </label>
                        <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.Telephone1==''">{{datadetail.Telephone1}}</label>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-md-4 col-xl-4">{{'epdb.manage.contact.detail.mobile' | translate}}</label>
                        <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.Mobile1==''">
                            <i>None</i>
                        </label>
                        <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.Mobile1==''">{{datadetail.Mobile1}}</label>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-md-4 col-xl-4">{{'epdb.manage.contact.detail.time_zone' | translate}}</label>
                        <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.Timezone==''">
                            <i>None</i>
                        </label>
                        <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.Timezone==''">{{datadetail.Timezone}}</label>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-md-4 col-xl-4">{{'epdb.manage.contact.detail.comment' | translate}}</label>
                        <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.Comments==''">
                            <i>None</i>
                        </label>
                        <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.Comments==''">{{datadetail.Comments}}</label>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-md-4 col-xl-4">{{'general.modified' | translate}}</label>
                        <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.DateLastAdmin==''">
                            <i>None</i>
                        </label>
                        <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.DateLastAdmin==''">{{datadetail.DateLastAdmin | convertDate}}</label>
                    </div>
                    <div class="row">
                        <label class="col-form-label col-md-4 col-xl-4">{{'epdb.manage.contact.detail.primary_industry' | translate}}</label>
                        <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.PrimaryIndustryId==''">
                            <i>None</i>
                        </label>
                        <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.PrimaryIndustryId==''">{{datadetail.PrimaryIndustryId}}</label>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6">
                  <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{'epdb.manage.contact.detail.contact_id' | translate}}</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.ContactId}}</label>
                  </div>
                  <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{'eva.manage_course.list_course.instructor_id' | translate}}</label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.InstructorId==''">
                      <i>None</i>
                    </label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.InstructorId==''">{{datadetail.InstructorId}}</label>
                  </div>
                  <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{'epdb.manage.organization.add_edit.department' | translate}}</label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.Department==''">
                      <i>None</i>
                    </label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.Department==''">{{datadetail.Department}}</label>
                  </div>
                  <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{'general.email' | translate}}</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.EmailAddress}}</label>
                  </div>
                  <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{'epdb.admin.language.language' | translate}}</label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.PrimaryLanguageUI=='' && datadetail.SecondaryLanguageUI==''">
                      <i>None</i>
                    </label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.PrimaryLanguageUI==''">{{datadetail.PrimaryLanguageUI}}</label>
                    <label class="col-form-label col-md-4 col-xl-4" *ngIf="!datadetail.SecondaryLanguageUI==''"></label><label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.SecondaryLanguageUI==''">{{datadetail.SecondaryLanguageUI}}</label>
                  </div>
                  <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{'epdb.manage.contact.detail.last_login' | translate}}</label>
                    <label class="col-form-label col-md-8 col-xl-8">{{datadetail.LastLogin | convertDate}}</label>
                  </div>
                  <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">{{'epdb.manage.contact.detail.primary_job_role' | translate}}</label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.RoleName==''">
                      <i>None</i>
                    </label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.RoleName==''">{{datadetail.RoleName}}</label>
                  </div>
                  <div class="row">
                    <label class="col-form-label col-md-4 col-xl-4">Job Title</label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="datadetail.Designation==''">
                      <i>None</i>
                    </label>
                    <label class="col-form-label col-md-8 col-xl-8" *ngIf="!datadetail.Designation==''">{{datadetail.Designation}}</label>
                  </div>
                  <!-- <div class="row">
          <label class="col-form-label col-md-4 col-xl-4">
              <strong>{{'epdb.manage.contact.detail.last_valid' | translate}}</strong>
          </label>
          <label class="col-form-label col-md-8 col-xl-8">{{datadetail.LastAdminBy}}</label>
      </div> -->
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="page-header-title">
                <h4>{{'epdb.manage.contact.site_affiliated.site_affiliated' | translate}}</h4>
            </div>
        </div>
        <div class="card-block">
            <div class="dt-responsive dt-bootstrap4  row p-20">
                <div class="col-md-10 col-xl-10"></div>
                <div class="doNotPrint" *ngIf="datadetail!=null">
                    <button *ngIf="accessSiteAffiliationBtn" type="button" (click)="routeaffiliate(datadetail.ContactIdInt,siteid,datadetail.OrganizationId)"
                        class="btn btn-primary btn-md btn-block text-center ">{{'epdb.manage.contact.site_affiliated.btn_choose_site' | translate}}</button>
                </div>
                <div class="col-xs-12 col-sm-12 col-sm-12">&nbsp;</div>
                <div class="doNotPrint">
                    <div>
                        <label class="label-control">{{'general.show' | translate}}
                            <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage1">
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="25">25</option>
                                <option [ngValue]="50">50</option>
                                <option [ngValue]="100">100</option>
                            </select>
                            {{'general.entries' | translate}}
                        </label>
                    </div>
                </div>
                <div class="doNotPrint">
                    <div style="text-align: right;">
                        <label>{{'general.search' | translate}}:
                            <input type="search" [(ngModel)]="filterQuery1" class="form-control input-sm full-data-search">
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                    <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="affiliatesite | dataFilterAffiliatedSites : filterQuery1"
                        #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage1" [(mfSortBy)]="sortBy1" [(mfSortOrder)]="sortOrder1">
                        <thead>
                            <tr>
                                <th width="30%">
                                    <mfDefaultSorter by="siteId">{{ 'epdb.manage.site.detail.site_id' | translate }}</mfDefaultSorter>
                                </th>
                                <th width="30%">
                                    <mfDefaultSorter by="SiteName">{{ 'epdb.manage.site.detail.site_name' | translate }}</mfDefaultSorter>
                                </th>
                                <th width="30%">
                                    <mfDefaultSorter by="SiteAddress1">{{ 'epdb.manage.contact.site_affiliated.site_location' | translate }}</mfDefaultSorter>
                                </th>
                                <th width="10%">
                                    <mfDefaultSorter by="Status">{{ 'general.status' | translate }}</mfDefaultSorter>
                                </th>
                            </tr>
                        </thead>
                        <tbody *ngIf="data!=null">
                            <tr *ngFor="let item of mf.data">
                                <td>
                                    <a [routerLink]="['/manage/site/detail-site',item.SiteIdInt]">{{item.SiteId}}</a>
                                </td>
                                <td>{{item.SiteName}}</td>
                                <td>{{item.SiteAddress1}}</td>
                                <!-- <td>{{item.Status}}</td> -->
                                <td [innerHTML]="item.PartnerStatusDetail"></td> <!-- detail partner status -->
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngIf="data!=null">
                                <td colspan="4">
                                    <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                                </td>
                            </tr>
                            <tr *ngIf="data==null">
                                <td colspan="4" class="text-center">{{'general.loading_data' | translate}} ...</td>
                            </tr>
                            <tr *ngIf="data==''">
                                <td colspan="4" class="text-center">{{'general.data_empty' | translate}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
    <div class="card">
        <div class="card-header">
            <!-- Partner Type specific Properties -->
            <div class="page-header-title">
                <h4>{{'epdb.manage.contact.partner_type_spec.partner_type_spec' | translate}}</h4>
            </div>
        </div>
        <div class="card-block">
            <div class="dt-responsive dt-bootstrap4  row p-20">
                <h5 class="col-md-12 col-xl-12 form-group row">
                    <strong>{{'epdb.manage.contact.partner_type_spec.qualification' | translate}}</strong>
                </h5>
                <div class="col-md-10 col-xl-10"></div>
                <div class="doNotPrint">
                    <button *ngIf="accessAddContactQualificationBtn" type="button" (click)="addContactQualificationsRoute()" class="btn btn-primary btn-md btn-block text-center">
                        <i class="icofont icofont-ui-add"></i> {{'general.btn_add' | translate}}</button>
                </div>
                <div class="col-xs-12 col-sm-12 col-sm-12">&nbsp;</div>
                <div class="doNotPrint">
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage2">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
                <!-- <div class="col-xs-12 col-sm-12 col-md-6">
                    <div style="text-align: right;">
                        <label>{{'general.search' | translate}}:
                            <input type="search" [(ngModel)]="filterQuery2" class="form-control input-sm full-data-search">
                        </label>
                    </div>
                </div> -->
                <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                    <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="Siebel_CSN | dataFilterQ : filterQuery2"
                        #mf2="mfDataTable" [mfRowsOnPage]="rowsOnPage2" [(mfSortBy)]="sortBy2" [(mfSortOrder)]="sortOrder2">
                        <thead>
                            <tr>
                                <th width="25%">
                                    <mfDefaultSorter by="productName">{{'epdb.admin.product.product' | translate}}</mfDefaultSorter>
                                </th>
                                <th width="25%">
                                    <mfDefaultSorter by="Version">{{'epdb.admin.product.version' | translate}}</mfDefaultSorter>
                                </th>
                                <th width="25%">
                                    <mfDefaultSorter by="QualificationType">{{'general.type' | translate}}</mfDefaultSorter>
                                </th>
                                <th width="15%">
                                    <mfDefaultSorter by="QualificationDate">{{'general.date' | translate}}</mfDefaultSorter>
                                </th>
                                <th width="25%">
                                    <mfDefaultSorter by="Comments">{{'epdb.manage.contact.detail.comment' | translate}}</mfDefaultSorter>
                                </th>
                                <th  class="doNotPrint" width="10%" *ngIf="accessEditContactQualificationBtn">{{'general.action' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="contactQualifications!=null">
                            <tr *ngFor="let item of contactQualifications">
                                <td>{{item.productName}}</td>
                                <td>{{item.Version}}</td>
                                <td>{{item.QualificationType}}</td>
                                <td>{{item.QualificationDate | convertDate}}</td>
                                <td>{{item.Comments}}</td>
                                <td  class="doNotPrint" *ngIf="accessEditContactQualificationBtn">
                                    <a *ngIf="accessEditContactQualificationBtn" (click)="editQualificationRoute(item.QualificationId)" class="m-r-15 text-muted f-18"
                                        ngbTooltip="{{'general.tool_tip_edit' | translate}}">
                                        <i class="icofont icofont-ui-edit" style="cursor: pointer"></i>
                                    </a>
                                    <a (click)="deleteQualification(item.QualificationId)" class="text-muted f-18" ngbTooltip="{{'general.tool_tip_delete' | translate}}">
                                        <i class="icofont icofont-delete-alt" style="cursor: pointer"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngIf="contactQualifications!=null">
                                <td colspan="6">
                                    <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                                </td>
                            </tr>
                            <tr *ngIf="contactQualifications==''">
                                <td colspan="6" class="text-center">{{'general.data_empty' | translate}}</td>
                            </tr>
                            <tr *ngIf="contactQualifications==null">
                                <td colspan="6" class="text-center">{{'general.loading_data' | translate}} ...</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
    
                <div class="col-xs-12 col-sm-12 col-sm-12">&nbsp;</div>
    
                <!-- Contact Journal Entries -->
                <h5 class="col-md-12 col-xl-12 form-group row" style="margin-top:20px">
                    <strong>{{'epdb.manage.contact.partner_type_spec.contact_journal_entrie' | translate}}</strong>
                </h5>
                <div class="col-md-10 col-xl-10"></div>
                <div class="doNotPrint">
                    <button *ngIf="accessAddContactJournalBtn" type="button" (click)="addContactJournalRoute()" class="btn btn-primary btn-md btn-block text-center">
                        <i class="icofont icofont-ui-add"></i> {{'general.btn_add' | translate}}</button>
                </div>
                <div class="col-xs-12 col-sm-12 col-sm-12">&nbsp;</div>
                <div class="doNotPrint">
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage3">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
                <!-- <div class="col-xs-12 col-sm-12 col-md-6">
                    <div style="text-align: right;">
                        <label>{{'general.search' | translate}}:
                            <input type="search" [(ngModel)]="filterQuery3" class="form-control input-sm full-data-search">
                        </label>
                    </div>
                </div> -->
                <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                    <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="contactJournal | dataFilterCJE : filterQuery3"
                        #mf3="mfDataTable" [mfRowsOnPage]="rowsOnPage3" [(mfSortBy)]="sortBy3" [(mfSortOrder)]="sortOrder3">
                        <thead>
                            <tr>
                                <th width="25%">
                                    <mfDefaultSorter by="AddedBy">{{'general.added_by' | translate}}</mfDefaultSorter>
                                </th>
                                <th width="25%">
                                    <mfDefaultSorter by="ActivityName">{{'epdb.manage.contact.partner_type_spec.attribute' | translate}}</mfDefaultSorter>
                                </th>
                                <th width="15%">
                                    <mfDefaultSorter by="ActivityDate">{{'general.date' | translate}}</mfDefaultSorter>
                                </th>
                                <th width="25%">
                                    <mfDefaultSorter by="Notes">{{'general.note_value' | translate}}</mfDefaultSorter>
                                </th>
                                <th width="10%" *ngIf="accessEditContactJournalBtn">{{'general.action' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody *ngIf="contactJournal!=null">
                            <tr *ngFor="let item of contactJournal">
                                <td>{{item.AddedBy}}</td>
                                <td>{{item.ActivityName}}</td>
                                <td>{{item.ActivityDate | convertDate}}</td>
                                <td>{{item.Notes}}</td>
                                <td  class="doNotPrint" *ngIf="accessEditContactJournalBtn">
                                    <a *ngIf="accessEditContactJournalBtn" (click)="editContactJournalRoute(item.JournalId)" class="m-r-15 text-muted f-18" ngbTooltip="{{'general.tool_tip_edit' | translate}}">
                                        <i class="icofont icofont-ui-edit"></i>
                                    </a>
                                    <a (click)="deleteJournalAndAttribute(item.JournalId)" class="text-muted f-18" ngbTooltip="{{'general.tool_tip_delete' | translate}}">
                                        <i class="icofont icofont-delete-alt" style="cursor: pointer"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngIf="contactJournal!=null">
                                <td colspan="5">
                                    <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                                </td>
                            </tr>
                            <tr *ngIf="contactJournal==''">
                                <td colspan="5" class="text-center">{{'general.data_empty' | translate}}</td>
                            </tr>
                            <tr *ngIf="contactJournal==null">
                                <td colspan="5" class="text-center">{{'general.loading_data' | translate}} ...</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
    
                <div class="col-xs-12 col-sm-12 col-sm-12">&nbsp;</div>
    
                <!-- issue 17102018 - add back contact attribute -->
    
                <!-- Contact Attributes -->
                <h5 class="col-md-12 col-xl-12 form-group row" style="margin-top:20px">
                    <strong>Contact Attributes</strong>
                </h5>
                <div class="col-md-10 col-xl-10"></div>
                <div class="doNotPrint" >
                    <button type="button" (click)="addContactAttribute()" class="btn btn-primary btn-md btn-block text-center">
                        <i class="icofont icofont-ui-add"></i> {{'general.btn_add' | translate}}</button>
                </div>
                <div class="col-xs-12 col-sm-12 col-sm-12">&nbsp;</div>
                <div class="doNotPrint" >
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage4">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                    <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="contactAtt"
                        #mf4="mfDataTable" [mfRowsOnPage]="rowsOnPage4" [(mfSortBy)]="sortBy4" [(mfSortOrder)]="sortOrder4">
                        <thead>
                            <tr>
                                <th width="25%">
                                    <mfDefaultSorter by="AddedBy">{{'general.added_by' | translate}}</mfDefaultSorter>
                                </th>
                                <th width="25%">
                                    <mfDefaultSorter by="ActivityName">{{'epdb.manage.contact.partner_type_spec.attribute' | translate}}</mfDefaultSorter>
                                </th>
                                <th width="15%">
                                    <mfDefaultSorter by="ActivityDate">{{'general.date' | translate}}</mfDefaultSorter>
                                </th>
                                <th width="25%">
                                    <mfDefaultSorter by="Notes">{{'general.note_value' | translate}}</mfDefaultSorter>
                                </th>
                                <th class="doNotPrint"  width="10%">{{'general.action' | translate}}</th>
                            </tr> 
                        </thead>
                        <tbody *ngIf = "contactAtt!=null && contactAtt!=''">
                            <tr *ngFor="let item of contactAtt">
                                <td>{{item.AddedBy}}</td>
                                <td>{{item.ActivityName}}</td>
                                <td>{{item.ActivityDate | convertDate}}</td>
                                <td>{{item.Notes}}</td>
                                <td class="doNotPrint" >
                                    <a (click)="editContactAtt(item.JournalId)" class="m-r-15 text-muted f-18" ngbTooltip="{{'general.tool_tip_edit' | translate}}">
                                        <i class="icofont icofont-ui-edit"></i>
                                    </a>
                                    <a (click)="deleteJournalAndAttribute(item.JournalId)" class="text-muted f-18" ngbTooltip="{{'general.tool_tip_delete' | translate}}">
                                        <i class="icofont icofont-delete-alt" style="cursor: pointer"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr *ngIf = "contactAtt!=null && contactAtt!=''">
                                <td colspan="5"><mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator></td>
                            </tr>  
                            <tr *ngIf="contactAtt==''">
                                <td colspan="5" class="text-center">{{'general.data_empty' | translate}}</td>
                            </tr>
                            <tr *ngIf="contactAtt==null">
                                <td colspan="5" class="text-center">{{'general.loading_data' | translate}} ...</td>
                            </tr>
                        </tfoot>
                    </table> 
                </div>
    
                <!-- end line issue 17102018 - add back contact attribute -->
    
            </div>
        </div>
    </div>
    </div>
<!--This div is just use to print document-->