.table-responsive {
    display: table;
}

th {
    text-align: center;
}

td {
    text-align: center;
}
.btn-primary:disabled{
    background-color:grey !important;
}
.btn-primary:disabled :hover{
    background-color:grey !important;
}
@media print{
    .doNotPrint{display:none !important;}
  }