<div class="row">
    <div class="col-md-12 col-xl-12 page-header-title">
        <h4>{{ 'epdb.admin.line-item-summaries.title1' | translate }}</h4>
        <br/>
        <br/>
    </div>
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary">
            <div class="m-4 card-block row dt-responsive">
                <div class="col-md-6 col-xl-6 form-group text-left">
                    <label><strong>{{ 'epdb.admin.line-item-summaries.label1' | translate }}</strong></label>
                    <select name="oStatus" class="form-control" (change)="changetable($event.target.value)">
                        <option value="">{{ 'epdb.admin.line-item-summaries.pholder1' | translate }}</option>
                        <option *ngFor="let item of activitytype" value={{item.activity_type}}>{{item.activity_type}}</option>
                    </select>
                </div>
                <div class="col-md-6 col-xl-6 form-group text-right">
                    <label class="col-form-label"></label>
                    <button type="button" [routerLink]="['/epdb/line-item-summaries/line-item-summaries-add']" class="btn btn-primary btn-md text-center "><i class="icofont icofont-ui-add"></i> Add Summary</button>
                </div>
                
                <div class="mt-5 col-md-12 col-xl-12 form-group">
                    <h4><strong>{{title}}</strong></h4>
                </div>
                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6" *ngIf="title!=''">
                    <div>
                      <label class="label-control">Show
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                          <option [ngValue]="10">10</option>
                          <option [ngValue]="25">25</option>
                          <option [ngValue]="50">50</option>
                          <option [ngValue]="100">100</option>
                        </select>
                        entries
                      </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6" *ngIf="title!=''">
                    <div class="text-center">
                        <label>Search:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                        </label>
                    </div>
                </div>  
                <table class="row table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" *ngIf="title!=''">
                    <thead>
                        <tr>
                            <th width="20%"><mfDefaultSorter by="line_item_summary_id">ID</mfDefaultSorter></th>
                            <th width="20%"><mfDefaultSorter by="summary">Summary</mfDefaultSorter></th>
                            <th width="20%"><mfDefaultSorter by="quantity">Quantity</mfDefaultSorter></th>
                            <th width="20%"><mfDefaultSorter by="unit_price">Unit Price</mfDefaultSorter></th>
                            <th width="20%"><mfDefaultSorter by="vat_rate">VAT Rate</mfDefaultSorter></th>
                            <th width="20%">Action</th>
                        </tr> 
                    </thead>
                    <tbody *ngIf="data!=null">
                        <tr *ngFor="let item of mf.data">
                            <td>{{item.line_item_summary_id}}</td>
                            <td>{{item.summary}}</td> 
                            <td>{{item.quantity}}</td>
                            <td>{{item.unit_price}}</td>
                            <td>{{item.vat_rate}}</td>
                            <td class="action-icon">
                                <a (click)="viewdetail(item.line_item_summary_id);viewdetailmodal.show();" class="m-r-15 text-muted f-18" ngbTooltip="View Detail Summary"><i class="icofont icofont-eye-alt"></i></a>
                                <a [routerLink]="['/epdb/line-item-summaries/line-item-summaries-update',item.line_item_summary_id]" class="m-r-15 text-muted f-18" ngbTooltip="Edit Line Item Summary"><i class="icofont icofont-ui-edit"></i></a>
                                <a (click)="openConfirmsSwal(item.line_item_summary_id)" class="text-muted f-18" ngbTooltip="Delete Line Item Summary"><i class="icofont icofont-delete-alt"></i></a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot> 
                        <tr *ngIf="data!=null">
                            <td colspan="7"><mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator></td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="7" class="text-center">Cant Find Data</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="7" class="text-center">Data Empty</td>
                        </tr>
                    </tfoot>
                </table> 
            </div>
        </div>
    </div>
</div>

<!-- modal view detail -->
<app-modal-basic #viewdetailmodal [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">Detail Line Item Summary</h4>
        <button type="button" class="close basic-close" (click)="viewdetailmodal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <div class="col-md-12 col-xl-12 form-group row" *ngIf="datadetail!=null">
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"><strong>Line Item Summary ID</strong></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.line_item_summary_id}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"><strong>Date Added</strong></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.cdate.toString().substr(0,10)}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"><strong>Admin Added</strong></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.cuid}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                    <label class="col-form-label"><strong>Activity Type</strong></label>
                </div>
                <div class="col-md-8 col-xl-8 text-left">
                    <label class="col-form-label">{{datadetail.activity_type}}</label>
                </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"><strong>Line Item Summary</strong></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.summary}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"><strong>Quantity</strong></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.quantity}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"><strong>Unit Price</strong></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.unit_price}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"><strong>VAT Rate</strong></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.vat_rate}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"><strong>Total Amount</strong></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.vat_amount}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"><strong>VAT Amount</strong></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.total_amount}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"><strong>Status</strong></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.status}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"><strong>Description</strong></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.description}}</label>
            </div>
        </div>
    </div>
</app-modal-basic>
<!-- end modal view detail -->

 