<div class="row">
    <div class="col-md-12 col-xl-12 page-header-title">
        <h4>Report : History And Login Counts Report</h4>
        <br/>
        <br/>
    </div>
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary"> 
            <div class="card-block row" >  
                <div class="col-lg-12 col-xl-12"> 
                	<div class="col-md-12 col-xl-12 row mt-10"> 
                		<label>Filte by location<br/>Note: the # Admin Logins and Total Activity columns are NOT affected by this setting - those numbers are always worldwide and cannot be filtered</label>
                	</div>
                    <div class="col-md-12 col-xl-12 row mt-15" > 
                        <div class="col-md-4 col-xl-4 form-group">
                            <label class="col-form-label"><strong>Geo</strong></label>
							<angular2-multiselect [data]="dropdownListGeo" [(ngModel)]="selectedItemsGeo" 
								[settings]="dropdownSettingsGeo" 
								(onSelect)="onItemSelect($event)" 
								(onDeSelect)="OnItemDeSelect($event)"
								(onSelectAll)="onSelectAll($event)"
								(onDeSelectAll)="onDeSelectAll($event)">
							</angular2-multiselect>
                        </div>
                        <div class="col-md-4 col-xl-4 form-group">
                            <label class="col-form-label"><strong>Region</strong></label>
							<angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" 
								[settings]="dropdownSettingsRegion" 
								(onSelect)="onItemSelect($event)" 
								(onDeSelect)="OnItemDeSelect($event)"
								(onSelectAll)="onSelectAll($event)"
								(onDeSelectAll)="onDeSelectAll($event)">
							</angular2-multiselect>
                        </div>
                        <div class="col-md-4 col-xl-4 form-group">
                            <label class="col-form-label"><strong>Sub Region</strong></label>
							<angular2-multiselect [data]="dropdownListSubRegion" [(ngModel)]="selectedItemsSubRegion" 
								[settings]="dropdownSettingsSubRegion" 
								(onSelect)="onItemSelect($event)" 
								(onDeSelect)="OnItemDeSelect($event)"
								(onSelectAll)="onSelectAll($event)"
								(onDeSelectAll)="onDeSelectAll($event)">
							</angular2-multiselect>
                        </div>
                        <div class="col-md-4 col-xl-4 form-group">
                            <label class="col-form-label"><strong>Country</strong></label>
							<angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" 
								[settings]="dropdownSettingsCountry" 
								(onSelect)="onItemSelect($event)" 
								(onDeSelect)="OnItemDeSelect($event)"
								(onSelectAll)="onSelectAll($event)"
								(onDeSelectAll)="onDeSelectAll($event)">
							</angular2-multiselect>
                        </div> 
                        <div class="col-md-4 col-xl-4 form-group">
                            <label class="col-form-label"><strong>SubCountry</strong></label>
							<angular2-multiselect [data]="dropdownListSubCountry" [(ngModel)]="selectedItemsSubCountry" 
								[settings]="dropdownSettingsSubCountry" 
								(onSelect)="onItemSelect($event)" 
								(onDeSelect)="OnItemDeSelect($event)"
								(onSelectAll)="onSelectAll($event)"
								(onDeSelectAll)="onDeSelectAll($event)">
							</angular2-multiselect>
                        </div> 
                    </div>
                    <hr/>
                    <div class="col-md-12 col-xl-12 row" >  
                        <div class="col-md-2 col-xl-7 form-group"> 
	                    </div>
	                    <div class="col-md-4 col-xl-2 form-group"> 
	                        <button type="button" [routerLink]="['/epdb/report-database-info/login-history-report']" class="btn btn-primary btn-md btn-block text-center"><i class="icofont icofont-play-alt-1"></i>Run Query</button>
	                    </div>
	                    <div class="col-md-3 col-xl-3 form-group"> 
	                        <button type="button" [routerLink]="['/epdb/report-database-info/login-history-report']" class="btn btn-danger btn-md btn-block text-center"><i class="icofont icofont-stop"></i>Stop the Query</button>
	                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-12">
	  	<div class="card card-border-primary"> 
	        <div class="card-block row">  
	        	<br/>
                <div class="col-md-12 col-xl-12 form-group text-left">
                	<label><a [routerLink]="['/epdb/report-database-info/login-history-report']">Excel Download</a> | <a [routerLink]="['/epdb/report-database-info/login-history-report']">Cut&Paste</a> (Recomended)</label>
                </div>
                <div class="col-md-12 col-xl-12 form-group text-left">
                	<label><a [routerLink]="['/epdb/report-database-info/login-history-report']">Click here</a> if you are having encoding issues with downloaded Excel files</label>
                </div>
                <hr/>
		        <div class="col-lg-6 col-xl-6 row ml-2">
	                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
	                    <div>
	                      <label class="label-control">Show
	                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
	                          <option [ngValue]="10">10</option>
	                          <option [ngValue]="25">25</option>
	                          <option [ngValue]="50">50</option>
	                          <option [ngValue]="100">100</option>
	                        </select>
	                        entries
	                      </label>
	                    </div>
	                </div>
	                <div class="col-xs-12 col-sm-12 col-md-6">
	                    <div class="text-right">
	                        <label>Search:
	                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
	                        </label>
	                    </div>
	                </div>  
	                <table class="row table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
	                    <thead>
	                        <tr>
	                            <th width="5%"><mfDefaultSorter by="id">Date</mfDefaultSorter></th>
	                            <th width="5%"><mfDefaultSorter by="name">Self Modifications</mfDefaultSorter></th>
	                            <th width="5%"><mfDefaultSorter by="id">Last Logins</mfDefaultSorter></th>
	                            <th width="5%"><mfDefaultSorter by="id"># ALC Logins</mfDefaultSorter></th>
	                            <th width="5%"><mfDefaultSorter by="name"># Admin Logins</mfDefaultSorter></th>
	                            <th width="5%"><mfDefaultSorter by="id">Totel Activity</mfDefaultSorter></th>
	                        </tr> 
	                    </thead>
	                    <tbody>
	                        <tr *ngFor="let item of mf.data">
	                            <td>{{item.id}}</td>
	                            <td>{{item.id}}</td> 
	                            <td>{{item.id}}</td>
	                            <td>{{item.id}}</td>  
	                            <td>{{item.id}}</td>
	                            <td>{{item.id}}</td>   
	                        </tr>
	                    </tbody>
	                    <tfoot> 
	                        <tr>
	                            <td colspan="6"><mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator></td>
	                        </tr>
	                    </tfoot>
	                </table> 
		        </div>
		        <div class="col-lg-6 col-xl-6 row ml-2">
	                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
	                    <div>
	                      <label class="label-control">Show
	                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
	                          <option [ngValue]="10">10</option>
	                          <option [ngValue]="25">25</option>
	                          <option [ngValue]="50">50</option>
	                          <option [ngValue]="100">100</option>
	                        </select>
	                        entries
	                      </label>
	                    </div>
	                </div>
	                <div class="col-xs-12 col-sm-12 col-md-6">
	                    <div class="text-right">
	                        <label>Search:
	                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
	                        </label>
	                    </div>
	                </div>  
	                <table class="row table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
	                    <thead>
	                        <tr>
	                            <th width="5%"><mfDefaultSorter by="id">Time</mfDefaultSorter></th>
	                            <th width="5%"><mfDefaultSorter by="name">Self Modifications</mfDefaultSorter></th>
	                            <th width="5%"><mfDefaultSorter by="id">Last Logins</mfDefaultSorter></th>
	                            <th width="5%"><mfDefaultSorter by="id"># ALC Logins</mfDefaultSorter></th>
	                            <th width="5%"><mfDefaultSorter by="name"># Admin Logins</mfDefaultSorter></th>
	                            <th width="5%"><mfDefaultSorter by="id">Totel Activity</mfDefaultSorter></th>
	                        </tr> 
	                    </thead>
	                    <tbody>
	                        <tr *ngFor="let item of mf.data">
	                            <td>{{item.id}}</td>
	                            <td>{{item.id}}</td> 
	                            <td>{{item.id}}</td>
	                            <td>{{item.id}}</td>  
	                            <td>{{item.id}}</td>
	                            <td>{{item.id}}</td>   
	                        </tr>
	                    </tbody>
	                    <tfoot> 
	                        <tr>
	                            <td colspan="6"><mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator></td>
	                        </tr>
	                    </tfoot>
	                </table> 
		        </div>
		    </div>
	    </div>
	</div>
</div>

 