<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.activities.detail_activities' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-2 col-xl-2 text-left">
                <label class="col-form-label">{{'epdb.admin.activities.activity_id' | translate}}</label>
            </div>
            <div class="col-md-10 col-xl-10 text-left">
                <label class="col-form-label">{{id}}</label>
            </div>
            <div class="col-md-2 col-xl-2 text-left">
                <label class="col-form-label">{{'general.date_added' | translate}}</label>
            </div>
            <div class="col-md-10 col-xl-10 text-left">
                <label class="col-form-label">{{cdate}}</label>
            </div>
            <div class="col-md-2 col-xl-2 text-left">
                <label class="col-form-label">{{'general.admin_added' | translate}}</label>
            </div>
            <div class="col-md-10 col-xl-10 text-left">
                <label class="col-form-label">{{cuid}}</label>
            </div>
            <div class="col-md-2 col-xl-2 text-left">
                <label class="col-form-label">{{'epdb.admin.activities.activity_name' | translate}}</label>
            </div>
            <div class="col-md-10 col-xl-10 text-left">
                <label class="col-form-label">{{activity_name}}</label>
            </div>
            <div class="col-md-2 col-xl-2 text-left">
                <label class="col-form-label">{{'epdb.admin.activities.unique' | translate}}</label>
            </div>
            <div class="col-md-10 col-xl-10 text-left">
                <label class="col-form-label">{{unique}}</label>
            </div>
            <div class="col-md-2 col-xl-2 text-left">
                <label class="col-form-label">{{'general.description' | translate}}</label>
            </div>
            <div class="col-md-10 col-xl-10 text-left">
                <label class="col-form-label">{{description}}</label>
            </div>
            <div class="col-md-2 col-xl-2 text-left">
                <label class="col-form-label">{{'general.status' | translate}}</label>
            </div>
            <div class="col-md-10 col-xl-10 text-left">
                <label class="col-form-label">{{status}}</label>
            </div>
            <div class="col-md-10 col-xl-10"></div>
            <div class="col-md-2 col-xl-2 form-group">
                <button type="button" [routerLink]="['/admin/activities/activities-list']" class="btn btn-danger btn-md btn-block text-center">
                    <i class="icofont icofont-ui-close"></i>{{ 'general.btn_back' | translate }}</button>
            </div>
        </div>
    </div>
</div>