<div class="row">
    <div class="col-md-12 col-xl-12 page-header-title">
        <h4>Report : Academic Targets Report</h4>
        <br/>
        <br/>
	</div>
	
    <div class="col-md-12 col-xl-12">
		<div class="card card-border-primary">
			<div class="card-block row">
				<div class="col-lg-12 col-xl-12">
					<div class="tab-content card-block">
						<div class="col-lg-12 col-xl-12 form-group row">
							<label>Total Record To Display : 99 | Displayed : 99</label>
							<hr/>
						</div>
						<div class="col-lg-12 col-xl-12 form-group row">
							<div class="col-md-4 col-xl-4 form-group">
								<label><strong>Filter by Partner Type Status</strong></label>
								<angular2-multiselect [data]="dropdownListPartnerTypeStatus" [(ngModel)]="selectedItemsPartnerTypeStatus" 
									[settings]="dropdownSettingsPartnerTypeStatus" 
									(onSelect)="onItemSelect($event)" 
									(onDeSelect)="OnItemDeSelect($event)"
									(onSelectAll)="onSelectAll($event)"
									(onDeSelectAll)="onDeSelectAll($event)">
								</angular2-multiselect>
							</div>
							<div class="col-md-4 col-xl-4 form-group">
								<label><strong>Filter by Market Type</strong></label>
								<angular2-multiselect [data]="dropdownListMarketType" [(ngModel)]="selectedItemsMarketType" 
									[settings]="dropdownSettingsMarketType" 
									(onSelect)="onItemSelect($event)" 
									(onDeSelect)="OnItemDeSelect($event)"
									(onSelectAll)="onSelectAll($event)"
									(onDeSelectAll)="onDeSelectAll($event)">
								</angular2-multiselect>
							</div>
							<div class="col-md-4 col-xl-4 form-group">
								<label><strong>Filter by Targets Type Status</strong></label>
								<angular2-multiselect [data]="dropdownListTargetType" [(ngModel)]="selectedItemsTargetType" 
									[settings]="dropdownSettingsTargetType" 
									(onSelect)="onItemSelect($event)" 
									(onDeSelect)="OnItemDeSelect($event)"
									(onSelectAll)="onSelectAll($event)"
									(onDeSelectAll)="onDeSelectAll($event)">
								</angular2-multiselect>
							</div>
						</div>
						<div class="col-lg-12 col-xl-12 form-group row">
							<div class="col-md-4 col-xl-12 form-group">
								<label><strong>Filter by Location:</strong></label>	
							</div>
							<div class="col-md-4 col-xl-4 form-group">
								<label class="col-form-label"><strong>Geo</strong></label>
								<angular2-multiselect [data]="dropdownListGeo" [(ngModel)]="selectedItemsGeo" 
									[settings]="dropdownSettingsGeo" 
									(onSelect)="onItemSelect($event)" 
									(onDeSelect)="OnItemDeSelect($event)"
									(onSelectAll)="onSelectAll($event)"
									(onDeSelectAll)="onDeSelectAll($event)">
								</angular2-multiselect>
							</div>
							<div class="col-md-4 col-xl-4 form-group">
								<label class="col-form-label"><strong>Region</strong></label>
								<angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" 
									[settings]="dropdownSettingsRegion" 
									(onSelect)="onItemSelect($event)" 
									(onDeSelect)="OnItemDeSelect($event)"
									(onSelectAll)="onSelectAll($event)"
									(onDeSelectAll)="onDeSelectAll($event)">
								</angular2-multiselect>
							</div>
							<div class="col-md-4 col-xl-4 form-group">
								<label class="col-form-label"><strong>Sub Region</strong></label>
								<angular2-multiselect [data]="dropdownListSubRegion" [(ngModel)]="selectedItemsSubRegion" 
									[settings]="dropdownSettingsSubRegion" 
									(onSelect)="onItemSelect($event)" 
									(onDeSelect)="OnItemDeSelect($event)"
									(onSelectAll)="onSelectAll($event)"
									(onDeSelectAll)="onDeSelectAll($event)">
								</angular2-multiselect>
							</div>
							<div class="col-md-4 col-xl-4 form-group">
								<label class="col-form-label"><strong>Territory</strong></label>
								<angular2-multiselect [data]="dropdownListTerritories" [(ngModel)]="selectedItemsTerritories"
								  [settings]="dropdownSettingsTerritories" 
								  (onSelect)="onItemSelect($event)" 
								  (onDeSelect)="OnItemDeSelect($event)"
								  (onSelectAll)="onSelectAll($event)"
								  (onDeSelectAll)="onDeSelectAll($event)">
								</angular2-multiselect>
							</div>
							<div class="col-md-4 col-xl-4 form-group">
								<label class="col-form-label"><strong>Country</strong></label>
								<angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" 
									[settings]="dropdownSettingsCountry" 
									(onSelect)="onItemSelect($event)" 
									(onDeSelect)="OnItemDeSelect($event)"
									(onSelectAll)="onSelectAll($event)"
									(onDeSelectAll)="onDeSelectAll($event)">
								</angular2-multiselect>
							</div>
							<div class="col-md-4 col-xl-4 form-group">
								<label class="col-form-label"><strong>Sub Country</strong></label>
								<angular2-multiselect [data]="dropdownListSubCountry" [(ngModel)]="selectedItemsSubCountry" 
									[settings]="dropdownSettingsSubCountry" 
									(onSelect)="onItemSelect($event)" 
									(onDeSelect)="OnItemDeSelect($event)"
									(onSelectAll)="onSelectAll($event)"
									(onDeSelectAll)="onDeSelectAll($event)">
								</angular2-multiselect>
							</div>
						</div>
						<div class="col-lg-12 col-xl-12 form-group row">
							<div class="col-md-4 col-xl-12 form-group">
								<label><strong>Field to Show in Result:</strong></label>	
							</div>
							<div class="col-md-4 col-xl-4 form-group">
								<label><strong>Organization Fields</strong></label>
								<select name="oStatus" size="8" multiple="true" class="form-control">
									<option value="OrgID" selected="">OrgID</option>
									<option value="AOrgID">ATC OrgID</option> 
									<option value="OrgSR">Org Status_Retired</option>
									<option value="OrgN">Org Name</option>
									<option value="EOrgN">English Org Name</option>
								</select>
							</div>
							<div class="col-md-4 col-xl-4 form-group">
								<label><strong>Site Fields</strong></label>
								<select name="oStatus" size="8" multiple="true" class="form-control">
									<option value="OrgID" selected="">Site Manager First Name</option>
									<option value="AOrgID">Site Manager Last Name</option> 
									<option value="OrgSR">Site Manager Email Address</option>
									<option value="OrgN">Site Manager Telephone</option>
									<option value="EOrgN">Site Manager Fax</option>
								</select>
								<hr/>
								<select name="oStatus" size="8" multiple="true" class="form-control">
									<option value="OrgID" selected="">Market Type</option>
									<option value="AOrgID">Partner Type</option> 
									<option value="OrgSR">Partner Type Status</option>
									<option value="OrgN">Partner Type CSN</option>
									<option value="EOrgN">ITS Site ID</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-12 col-xl-12 row" >
				<div class="col-md-8 col-xl-8 page-header-title">
				</div>
				<div class="col-md-2 col-xl-2 page-header-title">
					<button type="button" [routerLink]="['/epdb/academic-partner-report/academic-targets-report']" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-play-alt-1"></i> Run Query</button>
				</div>
				<div class="col-md-2 col-xl-2 page-header-title">
					<button type="button" [routerLink]="['/epdb/academic-partner-report/academic-targets-report']" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-stop"></i> Stop Query</button>
				</div> 
			</div>
		</div>
	</div>
	
    <div class="col-md-12 col-xl-12">
	    <div class="card card-border-primary"> 
	        <div class="card-block row">  
	        	<br/>
                <div class="col-md-12 col-xl-12 form-group text-left">
                	<label><a [routerLink]="['/epdb/academic-partner-report/academic-targets-report']">Excel Download</a> | <a [routerLink]="['/epdb/academic-partner-report/academic-targets-report']">Cut&Paste</a> (Recomended)</label>
                </div>
                <div class="col-md-12 col-xl-12 form-group text-left">
                	<label><a [routerLink]="['/epdb/academic-partner-report/academic-targets-report']">Click here</a> if you are having encoding issues with downloaded Excel files</label>
                </div>
		        <div class="col-lg-12 col-xl-12 row"> 
		            <div class="card-block row dt-responsive m-20">
		                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
		                    <div>
		                      <label class="label-control">Show
		                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
		                          <option [ngValue]="10">10</option>
		                          <option [ngValue]="25">25</option>
		                          <option [ngValue]="50">50</option>
		                          <option [ngValue]="100">100</option>
		                        </select>
		                        entries
		                      </label>
		                    </div>
		                </div>
		                <div class="col-xs-12 col-sm-12 col-md-6">
		                    <div class="text-right">
		                        <label>Search:
		                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
		                        </label>
		                    </div>
		                </div>  
		                <table class="row table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
		                    <thead>
		                        <tr>
		                            <th width="5%"><mfDefaultSorter by="id">No</mfDefaultSorter></th>
		                            <th width="15%"><mfDefaultSorter by="name">Site ID</mfDefaultSorter></th>
		                            <th width="20%"><mfDefaultSorter by="name">Site Name</mfDefaultSorter></th>
		                            <th width="30%"><mfDefaultSorter by="name">Site Country Code</mfDefaultSorter></th>
		                            <th width="50%"><mfDefaultSorter by="name">Last Admin By</mfDefaultSorter></th>
		                        </tr> 
		                    </thead>
		                    <tbody>
		                        <tr *ngFor="let item of mf.data">
		                            <td>{{item.id}}</td>
		                            <td>{{item.name}}</td>
		                            <td>{{item.name}}</td>
		                            <td>{{item.name}}</td>
		                            <td>{{item.name}}</td>
		                        </tr>
		                    </tbody>
		                    <tfoot> 
		                        <tr>
		                            <td colspan="5"><mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator></td>
		                        </tr>
		                    </tfoot>
		                </table> 
		            </div> 
		        </div>
	        </div>
	    </div>
	</div>
</div>