<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'eva.manage_student_info.list_student' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="StudentFilter" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eva.manage_student_info.student_id' | translate}}</label>
                    <input type="text" class="form-control" formControlName="StudentId" placeholder="{{'eva.manage_student_info.student_id' | translate}}">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eva.manage_student_info.student_name' | translate}}</label>
                    <input type="text" class="form-control" formControlName="StudentName" placeholder="{{'eva.manage_student_info.student_name' | translate}}">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'general.email' | translate}}</label>
                    <input type="text" class="form-control" formControlName="StudentEmail" placeholder="Student Email">
                </div>
                <div class="col-md-10 col-xl-10 form-group">
                    <span class="text-danger" *ngIf="!valid">
                        Please enter at least 1 search criteria
                    </span>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <label class="col-form-label">&nbsp;</label>
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-ui-search"></i>{{'general.search' | translate}}
                    </button>
                </div>
            </div>
        </form>
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-8">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
              <div class="text-right form-inline">
                <label>
                  {{'general.search' | translate}}:
                  <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                </label>
                <!--<label style="padding-right: 20px">{{'general.search' | translate}}: </label>
  <ng2-completer [textSearching]="'Please wait...'" [(ngModel)]="siswa" [datasource]="dataService3" [minSearchLength]="2" [inputClass]="['form-control']"
      (selected)="ketikaSiswaDipilih($event)" [matchClass]="completer-description" [ngModelOptions]="{standalone: true}">
  </ng2-completer>-->
                <br />
                <br />
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data | dataFilterStudent : filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="25%">
                                <!-- {{'eva.manage-student-info.list-student.table.no' | translate}} -->
                                <mfDefaultSorter by="StudentID">{{'eva.manage_student_info.student_id' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="40%">
                                <mfDefaultSorter by="Firstname">{{'eva.manage_student_info.student_name' | translate}}</mfDefaultSorter>
                            </th>
                            <!-- <th width="15%">
                                <mfDefaultSorter by="unique">{{'eva.manage_student_info.company' | translate}}</mfDefaultSorter>
                            </th> -->
                            <!-- <th width="15%">{{'epdb.manage.organization.add_edit.city' | translate}}</th> -->
                            <!-- <th width="15%">{{'epdb.admin.country.countries.country' | translate}}</th> -->
                            <!-- <th width="15%">{{'epdb.manage.organization.detail.telephone' | translate}}</th> -->
                            <th width="25%">
                                <mfDefaultSorter by="Email">{{'general.email' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%" class="text-center" *ngIf="accesUpdateStudentInfoBtn">{{'general.action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="data!=null">
                        <tr *ngFor="let item of mf.data">
                            <td class="text-center">{{item.StudentID}}</td>
                            <td>{{item.Firstname}} {{item.Lastname}}</td>
                            <!-- <td>{{item.Company}}</td> -->
                            <!-- <td>{{item.City}}</td> -->
                            <!-- <td>{{item.countries_name}}</td> -->
                            <!-- <td>{{item.Phone}}</td> -->
                            <td>{{item.Email}}</td>
                            <td class="action-icon text-center" *ngIf="accesUpdateStudentInfoBtn">
                                <!-- <a (click)="viewdetail(item.StudentID);viewdetailmodal.show();" class="m-r-15 text-muted f-18 offset-md-2" ngbTooltip="{{'general.tool_tip_view' | translate}}"><i class="icofont icofont-eye-alt"></i></a> -->
                                <a *ngIf="accesUpdateStudentInfoBtn" [routerLink]="['/studentinfo/update-student-information',item.StudentID]" class="text-muted f-18"
                                    ngbTooltip="{{'general.tool_tip_edit' | translate}}">
                                    <i class="icofont icofont-ui-edit" style="cursor: pointer"></i>
                                </a>
                                <a *ngIf="accesUpdateStudentInfoBtn" [routerLink]="['/studentinfo/search-student']" (click)="generatePassword(item.StudentID)"
                                    class="text-muted f-18" ngbTooltip="Reset Password">
                                    <i class="icofont icofont-key" style="cursor: pointer"></i>
                                </a>
                               <a *ngIf="accesUpdateStudentInfoBtn" [routerLink]="['/studentinfo/search-student']" (click)="openConfirmsSwal(item.StudentID)"
                                    class="text-muted f-18" ngbTooltip="Delete Student">
                                    <i class="icofont icofont-delete-alt" style="cursor: pointer"></i>
                                </a> 
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="data!=null">
                            <td colspan="8">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="8" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="8" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- modal view detail -->
<app-modal-basic #viewdetailmodal [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">{{'eva.manage_student_info.student_detail_information' | translate}}</h4>
        <button type="button" class="close basic-close" (click)="viewdetailmodal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <div class="col-md-12 col-xl-12 form-group row" *ngIf="student_detail!=null">
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">{{'eva.manage_student_info.student_name' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{student_detail.Firstname}} {{student_detail.Lastname}}</label>
            </div>

            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">{{'eva.manage_student_info.company' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{student_detail.Company}}</label>
            </div>

            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">{{'eva.manage_student_info.address' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{student_detail.Address}}</label>
            </div>

            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">{{'eva.manage_student_info.address' | translate}} 2</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{student_detail.Address2}}</label>
            </div>

            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">{{'epdb.manage.organization.add_edit.city' | translate}}</label>
            </div>
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">{{student_detail.City}}</label>
            </div>

            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">{{'epdb.admin.country.countries.country_id' | translate}}</label>
            </div>
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">{{student_detail.Country}}</label>
            </div>

            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">{{'epdb.manage.organization.add_edit.zip' | translate}}</label>
            </div>
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">{{student_detail.PostalCode}}</label>
            </div>

            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">{{'epdb.manage.organization.detail.telephone' | translate}}</label>
            </div>
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">{{student_detail.Phone}}</label>
            </div>
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">{{'epdb.manage.organization.detail.email' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{student_detail.Email}}</label>
            </div>
        </div>
    </div>
    <div class="app-modal-footer">
        <button type="button" class="btn btn-danger btn-md btn-block text-center" (click)="viewdetailmodal.hide()"> {{'general.btn_close' | translate}}</button>
    </div>
</app-modal-basic>
<!-- end modal view detail -->
