<div class="card">
  <div class="card-header">
    <div class="page-header-title">
      <h4>Organginaition Name: {{data.orgName}}</h4>
    </div>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-sm-12">
        <div class="alert alert-dark">
          <p>READ CAREFULLY: AUTODESK ACCEPTS YOUR AUTODESK {{partnerType == 'ATC'?'AUTHORIZED TRAINING CENTER':'AUTHORIZED ACADEMIC PARTNER'}} ONLY ON THE CONDITION THAT YOU ACCEPT ALL OF THE TERMS CONTAINED OR REFERENCED IN THIS AUTODESK  {{partnerType == 'ATC'?'AUTHORIZED TRAINING CENTER':'AUTHORIZED ACADEMIC PARTNER'}} AGREEMENT (“AGREEMENT”).</p>
          <p>By checking the “I AM ACCEPTING…” box and clicking “CONTINUE” button or other button or mechanism designed to acknowledge agreement to the terms of an electronic copy of this Agreement, (i) you accept this Agreement on behalf of the entity for which you are authorized to act (e.g., an employer) and acknowledge that such entity is legally bound by this Agreement (and you agree to act in a manner consistent with this Agreement) or, if there is no such entity for which you are authorized to act, you accept this Agreement on behalf of yourself as an individual and acknowledge that you are legally bound by this Agreement, and (ii) you represent and warrant that you have the right, power and authority to act on behalf of and bind such entity (if any) or yourself. You may not accept this Agreement on behalf of another entity unless you are an employee or other agent of such other entity with the right, power and authority to act on behalf of such other entity.</p>
        </div>
      </div>
      <div class="col-sm-6">
        <h4>Agreement {{data.fy}}: {{data.orgId}}</h4>
      </div>
      <div class="col-sm-6 text-right">
      </div>
      <div class="col-sm-12">
        <div class="mt-5" *ngIf="partnerType == 'AAP'">
          <app-aap-agreement-template id="AAP" [data]="data"></app-aap-agreement-template>
        </div>
        
        <div class="mt-5" *ngIf="partnerType == 'ATC'">
          <app-atc-agreement-template id="ATC" [data]="data"></app-atc-agreement-template>
        </div>

        <table class="mt-5">
          <tbody>
            <ng-container *ngFor="let l of data.remarkHistories">
              <ng-container *ngIf="l.action=='Acknowledged'">
                <tr>
                  <td><b>{{l.recordDateTime | date}} :</b></td>
                  <td><b>Signed</b></td>
                  <td>by {{l.recordBy}}</td>
                </tr>
              </ng-container>
              <ng-container *ngIf="l.action=='Rejected'">
                <tr>
                  <td><b>{{l.recordDateTime | date}} :</b></td>
                  <td><b>{{l.action}}</b></td>
                  <td>by {{l.recordBy}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td colspan="2"><b>Remark</b> {{l.remark}}</td>
                </tr>
              </ng-container>
              <ng-container *ngIf="l.action=='Approved'">
                <tr>
                  <td><b>{{l.recordDateTime | date}} :</b></td>
                  <td><b>{{l.action}}</b></td>
                  <td>by {{l.recordBy}}</td>
                </tr>
                <tr>
                  <td></td>
                  <td colspan="2"><b>Remark</b> Approved</td>
                </tr>
              </ng-container>
            </ng-container>
            
          </tbody>
        </table>

        <div class="mt-5" *ngIf="data.status!='Approved'"> 
          <p>Remarks/Feedback</p>
          <textarea class="form-control" [(ngModel)]="remark"></textarea>
        </div>
        
        <div class="text-right mt-2">
          <button *ngIf="data.status && data.status!='Approved' && data.status!='Pending' && isOrgAdmin" class="btn btn-success ml-2" routerLink="/agreement/execute/{{form.AgreementMasterId}}/{{partnerType}}">Continue To Sign</button>
          <button *ngIf="isOrgAdmin" class="btn btn-info ml-2" (click)="export()">Export</button>
          <button *ngIf="data.status!='Approved' && isSuperAdmin" class="btn btn-success ml-2" (click)="approve()">Approve</button>
          <button *ngIf="data.status!='Approved' && isSuperAdmin" class="btn btn-secondary ml-2" (click)="resubmit()">Reject</button>
          <button class="btn btn-danger ml-2" routerLink="/agreement">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>