<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
	<div class="card-header">
		<div class="page-header-title">
			<h4>{{'epdb.manage.contact.site_affiliated.site_affiliated' | translate}}</h4>
			<!-- {{'epdb.manage.contact.site_affiliated.site_affiliated' | translate}} -->
		</div>
	</div>
	<div class="card-block">
		<div class="dt-responsive dt-bootstrap4 row p-20">
			<div class="col-md-12 col-xl-12 form-group">
				<label class="col-form-label">
					{{'epdb.manage.contact.site_affiliated.p1' | translate}}
					<br/> {{'epdb.manage.contact.site_affiliated.p2' | translate}}
					<br/>
					<br/> {{'epdb.manage.contact.site_affiliated.p3' | translate}}
				</label>
			</div>
			<div class="col-md-12 col-xl-12 form-group">
				<label class="col-form-label">
					{{'epdb.manage.contact.site_affiliated.p4' | translate}}
				</label>
			</div>
			<!-- <div class="col-lg-12 col-xl-4 form-group">
				<label class="col-form-label">
					Search for Site
				</label>
				<ng2-completer [textSearching]="'Please wait...'" [(ngModel)]="Site" [datasource]="dataService" [minSearchLength]="2"
					[inputClass]="['form-control']" (selected)="PickedSite($event)" [matchClass]="completer-description"
					[ngModelOptions]="{standalone: true}">
				</ng2-completer>
			</div>
			<div class="col-lg-12 col-xl-8 form-group"></div> -->
			<div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
				<div>
					<label class="label-control">{{'general.show' | translate}}
						<select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage" [ngModelOptions]="{standalone: true}">
							<option [ngValue]="10">10</option>
							<option [ngValue]="25">25</option>
							<option [ngValue]="50">50</option>
							<option [ngValue]="100">100</option>
						</select>
						{{'general.entries' | translate}}
					</label>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6">
				<div class="text-right">
					<label>{{'general.search' | translate}}:
						<input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" [ngModelOptions]="{standalone: true}">
					</label>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
				<table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data | dataFilterAffiliation : filterQuery"
				 #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
					<thead>
						<tr>
							<th width="10%"></th>
							<th width="20%">
								<mfDefaultSorter by="siteId">{{ 'epdb.manage.site.detail.site_id' | translate }}</mfDefaultSorter>
							</th>
							<th width="20%">
								<mfDefaultSorter by="orgId">{{ 'epdb.manage.organization.detail.organization_id' | translate }}</mfDefaultSorter>
							</th>
							<th width="20%">{{ 'epdb.manage.site.detail.site_status' | translate }}</th>
							<th width="20%">
								<mfDefaultSorter by="siteName">{{ 'epdb.manage.site.detail.site_name' | translate }}</mfDefaultSorter>
							</th>
							<th width="10%">{{'epdb.manage.site.detail.primary_site' | translate}}</th>
						</tr>
					</thead>
					<tbody *ngIf="data!=null && data!='' && data[0] != 'eweuh'">
						<tr *ngFor="let item of mf.data">
							<td>
								<div class="checkbox-fade fade-in-primary">
									<label class="col-form-label">
										<input type="checkbox" (change)="selectSite($event,item.SiteId)" *ngIf="item.CheckedSites == true" checked="checked">
										<input type="checkbox" (change)="selectSite($event,item.SiteId)" *ngIf="item.CheckedSites == false">
										<span class="cr">
											<i class="cr-icon icofont icofont-ui-check txt-primary"></i>
										</span>
									</label>
								</div>
							</td>
							<td>{{item.SiteId}}</td>
							<td>{{item.OrgId}}</td>
							<!-- <td [innerHTML]="item.Status | replace"></td> -->
							<!-- <td>{{item.Status}}</td> -->
							<td [innerHTML]="item.PartnerStatusDetail"></td> <!-- detail partner status -->
							<td>
								<a [routerLink]="['/manage/site/detail-site',item.SiteIdInt]">{{item.SiteName}}</a>
								<br/>GEO : {{item.geo_name}} {{'epdb.admin.country.countries.country' | translate}} : {{item.SiteCountryCode}}
							</td>
							<td>
								<div class="form-radio">
									<div class="radio radiofill radio-inline">
										<label>
											<input type="radio" name="radio" *ngIf="datacontact!=null && primarysiteid_value == item.SiteId" checked (change)="onCheckboxChangeFn(item.SiteId)">
											<input type="radio" name="radio" (change)="onCheckboxChangeFn(item.SiteId)">
											<i class="helper"></i>
										</label>
									</div>
								</div>
							</td>
						</tr>
					</tbody>
					<tfoot>
						<tr *ngIf="data!=null">
							<td colspan="7">
								<mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
							</td>
						</tr>
						<tr *ngIf="data==''">
							<td colspan="7" class="text-center">{{'general.loading_data' | translate}} ...</td>
						</tr>
						<tr *ngIf="data[0]=='eweuh'">
							<td colspan="7" class="text-center">{{'general.data_empty' | translate}}</td>
						</tr>
					</tfoot>
				</table>
			</div>
			<div class="col-md-12 col-xl-12"></div>
			<div class="col-md-8 col-xl-8"></div>
			<div class="col-md-2 col-xl-2">
				<button (click)="updateSiteAffiliations()" type="button" class="btn btn-success btn-block text-center">
					<i class="icofont icofont-save"></i> {{'general.btn_save' | translate}}</button>
			</div>
			<div class="col-md-2 col-xl-2">
				<button (click)="linkaction()" type="button" class="btn btn-danger btn-block text-center">
					<i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
			</div>
		</div>
	</div>
</div>