<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'menu_report_epdb.atc_aap_acc_count_report' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
			<div class="col-xs-12 col-sm-12 col-sm-12 col-md-12" style="margin-bottom:15px;" ><b>Please note:</b> The count numbers stated in this report are filtered based on Country which the Organization is located at, and not actual sites' locations. 
				For instance: If an organisation has sites in different countries, 
				it will add up the total number of sites and display it in the country which the organisation is located in.</div>
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
			
            <!-- <div class="col-xs-12 col-sm-12 col-md-6">
                <div style="text-align: right;">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="{{'general.search' | translate}}">
                    </label>
                </div>
            </div> -->
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <i class="fa fa-file-excel-o"></i><a [routerLink]="['/report/ATC-AAP-accreditation-counts-report']"  (click)="ExportExceltoXls()"> Export to .xls </a>  &nbsp;
                    <i class="fa fa-file-excel-o"></i><a [routerLink]="['/report/ATC-AAP-accreditation-counts-report']"  (click)="ExportExceltoXlSX()"> Export to .xlsx </a>   &nbsp;
                    <i class="fa fa-file-excel-o"></i><a [routerLink]="['/report/ATC-AAP-accreditation-counts-report']"  (click)="ExportExceltoCSV()"> Export to .csv </a>       
                </div>
               
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilteratcaap : filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead *ngIf="listkey != null; else goAhead">
                        <tr>
                            <th *ngFor="let kolom of listkey">
                                <mfDefaultSorter by="{{kolom}}">{{kolom}}</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <ng-template #goAhead>
                        <thead>
                            <tr>
                                <th width="200%">&nbsp;</th>
                            </tr>
                        </thead>
                    </ng-template>
                    <tbody *ngIf="data != null; else anotherBody">
                        <tr *ngFor="let item of mf.data">
                            <td *ngFor="let kolom of listkey" [innerHTML]="item[kolom]"></td>
                        </tr>
                    </tbody>
                    <ng-template #anotherBody>
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </ng-template>
                    <tfoot>
                        <tr *ngIf="data!=null">
                            <td colspan="999">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="999" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="999" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                    
                    <!-- <thead>
                        <tr>
                            <th width="4%">
                                {{'epdb.admin.country.countries.country_code' | translate}}
                            </th>
                            <th width="4%">
                                {{'epdb.admin.country.geo.geo' | translate}}
                            </th>
                            <th width="4%">
                                {{'epdb.admin.country.region.region' | translate}}
                            </th>
                            <th width="4%">
                                {{'epdb.admin.country.sub_region.sub_region' | translate}}
                            </th>
                            <th width="4%">
                                {{'epdb.admin.country.territory.territory' | translate}}
                            </th>
                            <th width="4%">
                                {{'epdb.admin.market_type.market_type' | translate}}
                            </th>
                            <th width="4%">
                                # Active Training
                                <br/>Partner ORGs
                            </th>
                            <th width="4%">
                                # Active ATC Only
                                <br/>Sites
                            </th>
                            <th width="4%">
                                # Active Academic
                                <br/>Partner Only
                            </th>
                            <th width="4%">
                                # Active ATC And
                                <br/>AAP
                            </th>
                            <th width="4%">
                                # Total Training
                                <br/>Partner Sites
                            </th>
                            <th width="4%">
                                # ATC Instructors
                            </th>
                            <th width="4%">
                                # FY17 ATC AEC
                                <br/>BIM 360 Field Glue
                            </th>
                            <!-- <th width="4%">
                            <th width="4%">
                                # FY17 ATC AEC
                                <br/>COREXV
                            </th>
                            <th width="4%">
                                # FY17 ATC AEC
                                <br/>FAB
                            </th>
                            <th width="4%">
                                # FY17 ATC AEC
                                <br/>INFRAWORKS
                            </th>
                            <th width="4%">
                                # FY17 ATC AEC
                                <br/>INFRSTR MAP
                                <br/>SVR
                            </th>
                            <th width="4%">
                                # FY17 ATC AEC
                                <br/>RSAPRO
                            </th>
                            <th width="4%">
                                # FY17 ATC AEC XV
                                <br/>Plant
                            </th>
                            <th width="4%">
                                # FY17 ATC CF
                                <br/>CORE
                            </th>
                            <th width="4%">
                                # FY17 ATC HRZ
                                <br/>CORE
                            </th>
                            <th width="4%">
                                # FY17 ATC MED
                                <br/>COREXV
                            </th>
                            <th width="4%">
                                # FY17 ATC MED
                                <br/>SMFMAC
                            </th>
                            <th width="4%">
                                # FY17 ATC MFG
                                <br/>FUSION 360
                            </th>
                            <th width="4%">
                                # FY17 ATC MFG
                                <br/>ALIA SAUTO
                            </th>
                            <th width="4%">
                                # FY17 ATC MFG
                                <br/>ALIA S SURFACE
                            </th>
                            <th width="4%">
                                # FY17 ATC MFG
                                <br/>COREXV
                            </th>
                            <th width="4%">
                                # FY17 ATC MFG
                                <br/>MOLD
                            </th>
                            <th width="4%">
                                # FY17 ATC MFG
                                <br/>SIMULATION
                            </th>
                            <th width="4%">
                                # FY17 ATC MFG
                                <br/>VRED
                            </th>
                            <th width="4%">
                                # FY17 ATC MFG
                                <br/>XV Plant
                            </th> 
                        </tr>
                    </thead>
                    <tbody *ngIf="data != null">
                        <tr *ngFor="let item of mf.data">
                            <td>{{item.countries_name}}</td>
                            <td>{{item.geo_name}}</td>
                            <td>{{item.region_name}}</td>
                            <td>{{item.subregion_name}}</td>
                            <td>{{item.Territory_Name}}</td>
                            <td>{{item.MarketType}}</td>
                            <td>{{item.ActiveTrainingPartnerORGs}}</td>
                            <td>{{item.ATCSiteOnly}}</td>
                            <td>{{item.AAPSiteOnly}}</td>
                            <td>{{item.ATCAAPSiteOnly}}</td>
                            <td>{{item.TotalATCAAPSite}}</td>
                            <td>{{item.ATCInstructor}}</td>
                            <td>{{item.AutodeskBIM360}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="data!=null">
                            <td colspan="35">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="35" class="text-center">{{'general.loading_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="35" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot> -->
                </table>
            </div>
        </div>
    </div>
</div>