<ngx-loading [show]="loading" [config]="{
  backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
  primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Instructor Deletion</h4>
      <button type="button" class="close" aria-label="Close" (click)="JoinAndClose()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

          <div class="form-group">
              <label>Instructor Id: {{selectedInstructorID}}</label>
          </div>
        <div class="form-group">
          <label for="reasonType">Reason Type</label>
          <div class="input-group">
           <select class="form-control" [(ngModel)]="selectedRespondType" aria-placeholder="Select Reason Type" (change)="ddlRespondChange(selectedRespondType)"> 
                <option [ngValue]="undefined" disabled  selected> Please select </option>
                <option *ngFor="let c of reasonType" [ngValue]="c">{{c.name}}</option>
           </select>
          </div>
        </div>
        <div class="form-group" *ngIf="removeAffiliateStatus == true">
            <label>Select Site</label>       
            <angular2-multiselect [data]="ddlSiteList" [(ngModel)]="selectedSites" [settings]="dropdownSettings" 
            (onSelect)="onSiteSelect($event)" (onDeSelect)="OnSiteDeSelect($event)" (onSelectAll)="onSiteSelectAll($event)"
                (onDeSelectAll)="onSiteDeSelectAll($event)">
            </angular2-multiselect>           
        </div>
    </div>
    
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="requestAction()">Save</button>
    </div>
  </ng-template>

<div class="card">
  <div class="card-header">
      <div class="page-header-title">
          <h4>Instructor List</h4>
      </div>
  </div>
  <div class="card-block">
        <div class="dt-responsive dt-bootstrap4  row p-20">
        <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div style="text-align: right;">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="searchParam" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
      <table class="table table-striped table-bordered table-responsive full-data-table" style="display:table" [mfData]="instructorListModel"
      #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
          <ngx-loading [show]="loading_1" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
          <thead>
              <tr>
                  <th width="10%" >Contact ID</th>
                  <th width="10%" >Instructor ID</th>
                  <th width="10%" >Name</th>
                  <th width="10%" >Site ID</th>
                  <!--
                  <th width="10%" >Action</th>
                  <th width="10%"></th>
                  -->
              </tr>
          </thead>
          <tbody *ngIf="instructorListModel != null">
              <tr *ngFor="let item of instructorListModel | search : 'contactID,instructorID,name,status': searchParam">
                  <td>{{item.contactID}}</td>
                  <td>{{item.instructorID}}</td>
                  <td>{{item.name}}</td>                 
                  <td> 
                    <ol>
                      <li *ngFor="let site of item.siteId">{{site.name}} - {{site.id}}</li>
                    </ol>
                  </td>
                  <!--
                  <td>
                      <a *ngIf="item.status == null" (click)="open(content,item)" class="m-r-15 text-muted f-18" ngbTooltip="{{'general.tool_tip_delete' | translate}}">
                          <i class="icofont icofont-delete-alt" style="cursor: pointer"></i>
                      </a>
                      <label *ngIf="item.status != null">{{item.status}}</label>                     
                      
                  </td>
                  <td>
                      <a href="javascript:;" *ngIf="item.status == 'Pending'" class="" (click)="cancelRequest(item.contactID)">
                          Cancel
                      </a>
                  </td>
                    -->
              </tr>
          </tbody>
          <tfoot>
              <tr *ngIf="instructorListModel != null">
                  <td colspan="75">
                      <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                  </td>
              </tr>
              <tr *ngIf="instructorListModel == null">
                  <td colspan="75" class="text-center">{{'general.loading_data' | translate}} ...</td>
              </tr>
              <tr *ngIf="instructorListModel == ''">
                  <td colspan="75" class="text-center">{{'general.data_empty' | translate}}</td>
              </tr>
          </tfoot>
        </table>
        </div>
    </div>
