.table-responsive {
    display: table;
}

th {
    text-align: center;
}

td {
    text-align: center;
}
.modal-dialog-centered
{
    justify-content: center;
    align-items: center;
    top: 20%;
}