<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.country.geo.add_new_geo' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="addgeo" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.geo.geo_code' | translate}} <span style="color:#DC3538">*</span></label>
                    <input type="text" class="form-control" id="geo_code" formControlName="geo_code" placeholder="{{'epdb.admin.country.geo.geo_code' | translate}}" maxlength="50">
                    <span class="messages text-danger" *ngIf="!addgeo.get('geo_code').valid && addgeo.get('geo_code').touched">* Please enter geo code</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.geo.geo_name' | translate}} <span style="color:#DC3538">*</span></label>
                    <input type="text" class="form-control" id="geo_name" formControlName="geo_name" placeholder="{{'epdb.admin.country.geo.geo_name' | translate}}" maxlength="50">
                    <span class="messages text-danger" *ngIf="!addgeo.get('geo_name').valid && addgeo.get('geo_name').touched">* Please enter geo name</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">&nbsp;</div>
                <div class="col-md-6 col-xl-6"></div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i> {{'general.btn_save' | translate}}
                    </button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="resetFormAdd()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}
                    </button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" [routerLink]="['/admin/country/geo-list']" class="btn btn-danger btn-md btn-block text-center">
                        <i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>