/* You can add global styles to this file, and also import other style files */

aside.pcoded-slider.ng-sidebar {
    top: 56px;
}

.slimscroll-wrapper, .scroll-window {
    width: 100% !important;
}

.userlist-box.show {
    display: -webkit-box;
}

.userlist-box.hide {
    display: none;
}

.slimScrollDiv{
    /*overflow: scroll!important;*/
    size: "4px"; 
    color:"#fff";
    opacity:"0.3";
    /*height: 100%;*/
    
}

.main-menu{
    position: absolute;
    overflow: scroll;
}

.main-menu::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
.main-menu::-webkit-scrollbar-thumb {
    background: #FF0000;
}


.main-menu div{
    margin-bottom: 56px
}
ngx-loading div {
    z-index: 1000!important;
  }
  