<div id="pcoded" (window:resize)="onResize($event)" class="pcoded iscollapsed" theme-layout="vertical" vertical-placement="left"
    vertical-layout="wide" [attr.pcoded-device-type]="deviceType" [attr.vertical-nav-type]="verticalNavType" [attr.vertical-effect]="verticalEffect"
    vnavigation-view="view1">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header" header-theme="theme4" pcoded-header-position="fixed" style="z-index: 3000">
            <div class="navbar-wrapper">
                <div class="navbar-logo" navbar-theme="theme5">
                    <a class="mobile-menu" id="mobile-collapse" href="javascript:;" (click)="toggleOpened()" [exclude]="'#main_navbar'" (clickOutside)="onClickedOutside($event)">
                        <i class="ti-menu"></i>
                    </a>
                    <a [routerLink]="['/']" style="margin-left:20px">
                        <img class="img-fluid" src="assets/images/logo4.png" alt="Theme-Logo" />
                    </a>
                    <a (click)="onMobileMenu()" class="mobile-options">
                        <i class="ti-more"></i>
                    </a>
                </div>

                <div class="navbar-container">
                    <div>
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle">
                                    <a href="javascript:;" (click)="toggleOpened()">
                                        <i class="ti-menu f-18"></i>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a href="javascript:;" appToggleFullscreen>
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li>
                        </ul>
                        <ul [@mobileMenuTop]="isCollapsedMobile" class="nav-right" [ngClass]="isCollapsedMobile" style="margin-right: 20px">

                            <li class="header-notification lng-dropdown">
                                <a href="javascript:;" id="dropdown-active-item">
                                    <i class="fa fa-language"></i>
                                    <!-- <span>{{'general.choose_language' | translate}}</span> -->
                                    <span>{{ActiveLang}}</span>
                                    <i class="ti-angle-down"></i>
                                    <!-- <i class="flag-icon {{ 'general.navbar.language_flag' | translate }} m-r-5"></i> {{ 'general.navbar.language_name' | translate }} <i class="ti-angle-down"></i> -->
                                </a>
                                <ul class="show-notification" style="height: 300px; overflow-x: scroll">
                                    <!-- <ul class="show-notification"> -->
                                    <li *ngFor="let lang of translate.getLangs()" [class.selected]="lang === translate.currentLang">
                                        <!-- <li *ngFor="let lang of translate.getLangs()" [class.selected]="lang === translate.currentLang"> -->
                                        <a href="javascript:;" data-lng="id" (click)="setLanguage(lang.KeyValue,lang.Key);getKeyLang(lang.Key)">
                                            {{lang.KeyValue}}
                                            <!-- {{lang}} -->
                                        </a>
                                    </li>
                                </ul>
                            </li>

                            <!-- <li class="header-notification">
                                <a [routerLink]="['/eim']" class="displayChatbox" placement="bottom" ngbTooltip="Education Identity Manager">
                                  <i class="ti-settings"></i>
                                </a>
                            </li>
                            <li class="header-notification">
                                <a [routerLink]="['/epdb']" class="displayChatbox" placement="bottom" ngbTooltip="Education Partner Database">
                                  <i class="ti-search"></i>
                                </a>
                            </li>
                            <li class="header-notification"  style="background-color: #1ABC9C">
                                <a [routerLink]="['/eva']" class="displayChatbox" placement="bottom" ngbTooltip="Evaluation System">
                                  <i class="ti-blackboard"></i>
                                </a>
                            </li> -->

                            <li class="user-profile header-notification">
                                <!-- <a [routerLink]="['/']">   </a> -->
                                <a href="javascript:;" id="dropdown-active-item">
                                    <!-- <img class="img-fluid img-circle" src="{{ProfilePicture}}" alt="User-Profile-Image"> -->
                                    <span>{{useraccesdata.Email}}</span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification">
                                    <!-- <li>
                                        <a href="#">
                                            <i class="ti-settings"></i> {{ 'general.navbar.setting' | translate }}
                                        </a>
                                    </li> -->
                                    <ng-template [ngIf]="useraccesdata.UserLevelId != 'STUDENT'">
                                        <li>
                                            <a [routerLink]="['/profile']">
                                                <i class="ti-user"></i> {{ 'general.navbar.profile' | translate }}
                                            </a>
                                        </li>
                                    </ng-template>

                                    <ng-template [ngIf]="useraccesdata.UserLevelId == 'STUDENT'">
                                        <li>
                                            <a [routerLink]="['/student/student-profile']">
                                                <i class="ti-user"></i> {{ 'general.navbar.profile' | translate }}
                                            </a>
                                        </li>
                                    </ng-template>

                                    <ng-template [ngIf]="useraccesdata.UserLevelId == 'STUDENT'">
                                        <li>
                                            <a [routerLink]="['/terminate-account']">
                                                <i class="ti-trash"></i> {{ 'login_register.terminate_account' | translate }}
                                            </a>
                                        </li>
                                    </ng-template>

                                    <li>
                                        <a (click)="logout();clearFilterStorage();resetLanguage();" [routerLink]="">
                                            <i class="ti-layout-sidebar-left"></i> {{ 'general.navbar.logout' | translate }}
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="header-notification lng-dropdown" style="color: white">
                                <a href="javascript:;" (click)="HelpMe();">Help</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        <!-- rightbar chat end-->
        <div class="pcoded-main-container" style="margin-top: 56px;">
            <div class="pcoded-wrapper">
                <nav id="main_navbar" class=" pcoded-navbar" navbar-theme="theme1" active-item-theme="theme5" sub-item-theme="theme2" active-item-style="style0"
                    pcoded-navbar-position="fixed" (clickOutside)="onClickedOutside($event)" [exclude]="'#mobile-collapse'">
                    <div class="sidebar_toggle">
                        <a href="javascript:;">
                            <i class="icon-close icons"></i>
                        </a>
                    </div>
                    <div class="pcoded-inner-navbar main-menu" appAccordion width="100%" height="100%" size="4px" color="#fff" opacity="0.3"
                        allowPageScroll="true">
                        <!-- <div class="">
                            <div class="main-menu-header">
                                <img class="img-40" src="assets/images/avatar-2.png" alt="User-Profile-Image">
                                <div class="user-details">
                                    <span style="font-size:  12px;">{{useraccesdata.Email}}</span>
                                    <span id="more-details" (click)="toggleOpenedSidebar()">{{useraccesdata.Access.Name}}<i class="ti-angle-down"></i></span>
                                </div>
                            </div>
                            <div class="main-menu-content">
                                <ul>
                                    <li [@mobileMenuTop]="isCollapsedSideBar" class="more-details" [ngClass]="isCollapsedSideBar">
                                        <a [routerLink]="['/profile']"><i class="ti-user"></i>{{ 'general.navbar.view-profile' | translate }}</a>
                                        <a [routerLink]="['/logout']"><i class="ti-layout-sidebar-left"></i>{{ 'general.navbar.logout' | translate }}</a>
                                    </li>
                                </ul>
                            </div>
                        </div> -->
                        <div>
                            <!-- <div *ngFor="let asideItems of sidebarMenu"> -->
                            <!-- <div class="pcoded-navigatio-lavel" menu-title-theme="theme5">{{asideItems.label}}</div> -->
                            <!-- <div class="pcoded-navigatio-lavel" menu-title-theme="theme5">Navigation Menu</div> -->
                            <ul class="pcoded-item pcoded-left-item" item-border="none" item-border-style="solid" subitem-border="solid" *ngFor="let asideItem of sidebarMenu"
                                appAccordionLink group="{{asideItem.state}}">
                                <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'external' && asideItem.show === true" appAccordionLink group="{{asideItem.state}}">
                                    <a href="{{asideItem.external}}" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle>
                                        <span class="pcoded-micon">
                                            <i class="{{ asideItem.icon }}"></i>
                                        </span>
                                        <span class="pcoded-mtext">{{asideItem.name}}</span>
                                        <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                </li>

                                <li [routerLinkActive]="['active']" *ngIf="asideItem.type === 'link' && asideItem.show === true" appAccordionLink group="{{asideItem.state}}">
                                    <a [routerLink]="['/', asideItem.main_state, asideItem.state]" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle
                                        *ngIf="asideItem.main_state; else: mainContent">
                                        <span class="pcoded-micon">
                                            <i class="{{ asideItem.icon }}"></i>
                                        </span>
                                        <span class="pcoded-mtext">{{asideItem.name}}</span>
                                        <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <ng-template #mainContent>
                                        <a [routerLink]="['/', asideItem.state]" target="{{asideItem.target ? '_blank' : '_self'}}" appAccordionToggle>
                                            <span class="pcoded-micon">
                                                <i class="{{ asideItem.icon }}"></i>
                                            </span>
                                            <span class="pcoded-mtext">{{asideItem.name | translate }}</span>
                                            <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                                            <span class="pcoded-mcaret"></span>
                                        </a>
                                    </ng-template>
                                </li>

                                <!-- Mulai rubah dari sini -->
                                <li [routerLinkActive]="" [ngClass]="rla.isActive?'active pcoded-trigger':''" #rla="routerLinkActive" *ngIf="asideItem.type === 'sub' && asideItem.show === true"
                                    class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6" appAccordionLink group="{{asideItem.state}}">
                                    <!-- Kondisi Menu Jika State Menunya Management Student Information -->
                                    <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle (click)="clearFilterStorage()" *ngIf="asideItem.state != 'studentinfo'">
                                        <span class="pcoded-micon">
                                            <i class="{{ asideItem.icon }}"></i>
                                        </span>
                                        <span class="pcoded-mtext">{{ asideItem.name | translate }}</span>
                                        <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle (click)="clearFilterStorage()" *ngIf="asideItem.state == 'studentinfo'"
                                        style="height: 60px;">
                                        <span class="pcoded-micon">
                                            <i class="{{ asideItem.icon }}"></i>
                                        </span>
                                        <span style="width: 74%" class="pcoded-mtext">{{ asideItem.name | translate }}</span>
                                        <span *ngFor="let asideBadge of asideItem.badge" class="pcoded-badge label label-{{ asideBadge.type }}">{{asideBadge.value}}</span>
                                        <span class="pcoded-mcaret"></span>
                                    </a>
                                    <!-- Kondisi Menu Jika State Menunya Management Student Information -->
                                    <ul class="pcoded-submenu">
                                        <ng-template ngFor let-asideChildren [ngForOf]="asideItem.children">
                                            <li [routerLinkActive]="['active']" *ngIf="asideChildren.type !== 'sub'  && asideChildren.show === true">
                                                <a [routerLink]="['/', asideItem.state, asideChildren.state]" (click)="reload(asideChildren.state);clearFilterStorage()"
                                                    target="{{asideChildren.target ? '_blank' : '_self'}}">
                                                    <span class="pcoded-micon">
                                                        <i class="ti-angle-right"></i>
                                                    </span>
                                                    <span class="pcoded-mtext">{{ asideChildren.name | translate }} </span>
                                                    <span *ngFor="let asideChildrenBadge of asideChildren.badge" class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                            </li>

                                            <li [routerLinkActive]="" [ngClass]="rla.isActive?'active pcoded-trigger':''" #rla="routerLinkActive" class="pcoded-hasmenu"
                                                dropdown-icon="style3" subitem-icon="style6" *ngIf="asideChildren.type === 'sub'  && asideChildren.show === true"
                                                appAccordionLink group="sub-toggled">
                                                <!-- appAccordionLink group="{{asideChildren.state}}">     -->
                                                <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle (click)="clearFilterStorage()">
                                                    <span class="pcoded-micon">
                                                        <i class="ti-direction-alt"></i>
                                                    </span>
                                                    <span class="pcoded-mtext">{{ asideChildren.name | translate }}</span>
                                                    <span *ngFor="let asideChildrenBadge of asideChildren.badge" class="pcoded-badge label label-{{ asideChildrenBadge.type }}">{{asideChildrenBadge.value}}</span>
                                                    <span class="pcoded-mcaret"></span>
                                                </a>
                                                <ul class="pcoded-submenu">
                                                    <ng-template ngFor let-asideChildrenSub [ngForOf]="asideChildren.children">
                                                        <li [routerLinkActive]="['active']" *ngIf=" asideChildrenSub.show === true">
                                                            <a [routerLink]="['/', asideItem.state, asideChildren.state, asideChildrenSub.state]" target="{{asideChildrenSub.target ? '_blank' : '_self'}}"
                                                                (click)="clearFilterStorage()">
                                                                <span class="pcoded-micon">
                                                                    <i class="ti-angle-right"></i>
                                                                </span>
                                                                <span class="pcoded-mtext">{{ asideChildrenSub.name | translate }}</span>
                                                                <span *ngFor="let asideChildrenSubBadge of asideChildrenSub.badge" class="pcoded-badge label label-{{ asideChildrenSubBadge.type }}">{{asideChildrenSubBadge.value}}</span>
                                                                <span class="pcoded-mcaret"></span>
                                                            </a>
                                                        </li>
                                                    </ng-template>
                                                </ul>
                                            </li>
                                        </ng-template>
                                    </ul>
                                </li>
                            </ul>
                            <!-- </div> -->
                        </div>
                    </div>
                </nav>
                <div class="pcoded-content">
                    <div class="pcoded-inner-content">
                        <div class="main-body">
                            <div class="page-wrapper">
                                <app-title></app-title>
                                <app-breadcrumbs></app-breadcrumbs>
                                <div class="page-body">
                                    <router-outlet>
                                        <spinner></spinner>
                                    </router-outlet>
                                </div>

                                <div class="card-footer p-t-25 p-b-25">
                                    <p class="m-b-0" style="text-align:center;">
                                        <a href="https://www.autodesk.com/company/legal-notices-trademarks/privacy-statement?_ga=2.148040887.1425593351.1557148711-1262952180.1540359948" target="_blank"> Privacy </a> |
                                        <a href="https://www.autodesk.com/company/legal-notices-trademarks" target="_blank"> Legal Notices & Trademark </a> | © Copyright 2019 Autodesk, Inc. All right reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>