<div class="row">
    
        <div  class="col-md-12 col-xl-12" > 
                <div class="card card-border-message">
                    
                        <font style = "color: red ; padding: 2% ;">
                                Attention—User Alert!
                                On 13 MAY 2019, Autodesk will release a major version update of the Training Evaluation System (TES) and Partner Database (PDB). All users are required to complete the following steps after this release date.
                               <ol><li> After 13 May 2019, each user must launch the TES or PDB System, and perform a user log out by selecting ‘Log Out’, located under their user name (email address). </li>
                                <li> User must clear their browser cache before logging back into the TES or PDB system.  User will refer to their browser help for instructions on clearing the browser cache.</li>
                                <li> User should log back into the TES or PDB after the browser cache is cleared.</li>
                                <li> If a user does not complete these steps they will experience performance issues with the new release of the TES or PDB Systems.</li></ol>
                              
                        </font>
                </div>
            </div>

    <div *ngIf="show1" class="col-md-12 col-xl-4">



        <div class="card card-border-primary">
            <div class="card-header">
                <h5>{{ 'dashboard.admin.total_instructor' | translate }}</h5>
            </div>
            <div class="card-block card-block-dashboard">
                <!--isu di grup AD tambah loading di setiap chart-->
                <ngx-loading [show]="loading_7" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                <chart [type]="type_ActiveInstructor" [data]="data_ActiveInstructor" [options]="options_ActiveInstructor" style="width: 100%; height: 360px;"></chart>
            </div>
        </div>
    </div>
  

    <div *ngIf="show2" class="col-md-12 col-xl-4">
        <div class="card card-border-primary">
            <div class="card-header">
                <h5>THIS MONTH COURSES DELIVERED BY PARTNERS</h5>
            </div>
            <div class="card-block card-block-dashboard">
                <!--isu di grup AD tambah loading di setiap chart-->
                <ngx-loading [show]="loading_8" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                <div id="morris-bar-chart-partner"></div>
            </div>
        </div>
    </div>

    <div *ngIf="show3"  class="col-md-12 col-xl-4">
        <div class="card card-border-primary">
            <div class="card-header">
                <h5>Sites Meet Their Annual Requirements ATC</h5>
            </div>
            <div class="card-block card-block-dashboard">
                <!--isu di grup AD tambah loading di setiap chart-->
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                <div id="sitemeetATC" style="width: 100%; height: 360px;"></div>
                <!-- <chart [type]="type1" [data]="dataSiteMeetTheirAnnualReq" style="width: 100%; height: 360px;"></chart> -->
            </div>
        </div>
    </div>

    <div *ngIf="show12"  class="col-md-12 col-xl-4">
        <div class="card card-border-primary">
            <div class="card-header">
                <h5>Sites Meet Their Annual Requirements AAP</h5>
            </div>
            <div class="card-block card-block-dashboard">
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                <div id="sitemeetAAP" style="width: 100%; height: 360px;"></div>
              
            </div>
        </div>
    </div>

    <div *ngIf="show4"  class="col-md-12 col-xl-4">
        <div class="card card-border-primary">
            <div class="card-header">
                <h5>Sites Participated In Evaluation Survey (ATC)</h5>
            </div>
            <div class="card-block card-block-dashboard">
                <!--isu di grup AD tambah loading di setiap chart-->
                <ngx-loading [show]="loading_1" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                <!-- <google-chart [data]="doughSitesInEvaSurvey2" ></google-chart> -->
                <div id="SitesParticipatedATC" style="width: 100%; height: 360px;"></div>
            </div>
        </div>
    </div>

    <div *ngIf="show5" class="col-md-12 col-xl-4">
        <div class="card card-border-primary">
            <div class="card-header">
                <h5>TOTAL COURSES DELIVERED BY PARTNERS</h5>
            </div>
            <div class="card-block card-block-dashboard">
                <!--isu di grup AD tambah loading di setiap chart-->
                <ngx-loading [show]="loading_9" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                <div id="morris-bar-chart-partner2"></div>
            </div>
        </div>
    </div>

    <div *ngIf="show6"  class="col-md-12 col-xl-4">
        <div class="card card-border-primary">
            <div class="card-header">
                <h5>Sites Participated In Evaluation Survey (AAP)</h5>
            </div>
            <div class="card-block card-block-dashboard">
                <!--isu di grup AD tambah loading di setiap chart-->
                <ngx-loading [show]="loading_2" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                <div id="SitesParticipatedAAP" style="width: 100%; height: 360px;"></div>
            </div>
        </div>
    </div>

    <div *ngIf="show7"  class="col-md-12 col-xl-4">
        <div class="card card-border-primary">
            <div class="card-header">
                <h5>{{ 'dashboard.admin.total_course_by_core' | translate }} (ATC)</h5>
            </div>
            <div class="card-block card-block-dashboard">
                <!--isu di grup AD tambah loading di setiap chart-->
                <ngx-loading [show]="loading_3" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                <google-chart [data]="doughATCParticipatedEvaSurvey"></google-chart>
            </div>
        </div>
    </div>

    <div *ngIf="show8"  class="col-md-12 col-xl-4">
        <div class="card card-border-primary">
            <div class="card-header">
                <h5>{{ 'dashboard.admin.total_course_by_core' | translate }} (AAP)</h5>
            </div>
            <div class="card-block card-block-dashboard">
                <!--isu di grup AD tambah loading di setiap chart-->
                <ngx-loading [show]="loading_4" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                <google-chart [data]="doughAAPParticipatedEvaSurvey"></google-chart>
            </div>
        </div>
    </div>

    <div *ngIf="show9"  class="col-md-12 col-xl-4">
        <div class="card card-border-primary">
            <div class="card-header">
                <h5>{{ 'dashboard.admin.new_partner' | translate }}</h5>
            </div>
            <div class="card-block card-block-dashboard">
                <!--isu di grup AD tambah loading di setiap chart-->
                <ngx-loading [show]="loading_10" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                <chart [type]="type1" [data]="data2" [options]="optionsBar" style="width: 100%; height: 360px;"></chart>
            </div>
        </div>
    </div>
<!-- 
    <div *ngIf="show10"  class="col-md-12 col-xl-4">
        <div class="card card-border-primary">
            <div class="card-header">
                <h5>{{ 'dashboard.admin.total_partner' | translate }}</h5>
            </div>
            <div class="card-block card-block-dashboard">
                <ngx-loading [show]="loading_5" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                <chart [type]="type1" [data]="data1" [options]="optionsBar" style="width: 100%; height: 360px;"></chart>
            </div>
        </div>
    </div> -->
    <div *ngIf="show10"  class="col-md-12 col-xl-4">
        <div class="card card-border-primary">
            <div class="card-header">
                <h5>{{ 'dashboard.admin.total_partner' | translate }}</h5>
            </div>
            <div class="card-block card-block-dashboard">
                <!--isu di grup AD tambah loading di setiap chart-->
                <ngx-loading [show]="loading_5" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                <div id="totalPartnerNew" style="width: 100%; height: 360px;"></div>
            </div>
        </div>
    </div>

    <div *ngIf="show11"  class="col-md-12 col-xl-4">
        <div class="card card-border-primary">
            <div class="card-header">
                <h5>{{ 'dashboard.distributor.evaluation_survey_taken' | translate }}</h5>
            </div>
            <div class="card-block card-block-dashboard">
                <!--isu di grup AD tambah loading di setiap chart-->
                <ngx-loading [show]="loading_6" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                <div id="id-evaluation-by-month"></div>
            </div>
        </div>
    </div>

    <!-- 
    <div class="col-md-12 col-xl-4">
        <div class="card card-border-primary">
            <div class="card-header"><h5>{{ 'dashboard.admin.total_instructor' | translate }}</h5></div>
            <div class="card-block">
                <google-chart [data]="doughChartActiveInstructure"></google-chart>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-xl-4">
        <div class="card card-border-primary">
            <div class="card-header"><h5>{{ 'dashboard.admin.total_course' | translate }}</h5></div>
            <div class="card-block">
                <div id="morris-bar-chart"></div>
            </div>
        </div>
    </div> 
    
    <div class="col-md-12 col-xl-4">
        <div class="card card-border-primary">
            <div class="card-header"><h5>{{ 'dashboard.admin.total_course_by_core' | translate }}</h5></div>
            <div class="card-block">
                <google-chart [data]="doughAAPParticipatedEvaSurvey"></google-chart>
            </div>
        </div>
    </div>  
    -->

</div>