<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.manage.organization.add_edit.add_new_organization' | translate }}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="addorganization" (ngSubmit)="onSubmit()">
          <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-12 col-xl-4 form-group">
              <label class="col-form-label">
                {{ 'epdb.manage.organization.detail.organization_name' | translate }}
                <code>*</code>
              </label>
              <input type="text" class="form-control" id="OrgName" formControlName="OrgName" (change)="checkNameDuplicate($event.target.value)"
                     placeholder="{{ 'epdb.manage.organization.detail.organization_name' | translate }}">
              <span class="messages text-danger" *ngIf="!addorganization.get('OrgName').valid && addorganization.get('OrgName').touched">* Please enter organization name</span>
              <span class="messages text-danger" *ngIf="!validname">* Organisation name already exists</span>
            </div>
            <div class="col-md-12 col-xl-4 form-group">
              <label class="col-form-label">{{ 'epdb.manage.organization.add_edit.english_organization_name' | translate }}</label>
              <input type="text" class="form-control" id="EnglishOrgName" formControlName="EnglishOrgName" placeholder="{{ 'epdb.manage.organization.add_edit.english_organization_name' | translate }}">
            </div>

            <div class="col-md-12 col-xl-4 form-group">
              <label class="col-form-label">{{ 'epdb.manage.organization.add_edit.commercial_organization_name' | translate }}</label>
              <input type="text" class="form-control" id="CommercialOrgName" formControlName="CommercialOrgName" placeholder="{{ 'epdb.manage.organization.add_edit.commercial_organization_name' | translate }}">
            </div>

            <div class="col-md-4 col-xl-4 form-group">
              <label class="col-form-label">{{ 'epdb.manage.site.add_edit.location_csn' | translate }}</label>
              <input type="text" class="form-control" id="ATCCSN" formControlName="ATCCSN" placeholder="{{ 'epdb.manage.organization.add_edit.atc_global_csn' | translate }}">
            </div>
            <div class="col-md-4 col-xl-4 form-group">
              <label class="col-form-label">{{ 'epdb.manage.site.add_edit.parent_csn' | translate }}</label>
              <input type="text" class="form-control" id="VARCSN" formControlName="VARCSN" placeholder="{{ 'epdb.manage.organization.add_edit.var_global_csn' | translate }}">
            </div>
            <div class="col-md-4 col-xl-4 form-group">
              <label class="col-form-label">{{ 'epdb.manage.site.add_edit.ultimate_parent_csn' | translate }}</label>
              <input type="text" class="form-control" id="AUPCSN" formControlName="AUPCSN" placeholder="{{ 'epdb.manage.organization.add_edit.ap_global_csn' | translate }}">
            </div>

            <div class="col-md-4 col-xl-4 form-group">
              <label class="col-form-label">{{ 'epdb.manage.organization.add_edit.tax_exempt' | translate }}</label>
              <select name="select" class="form-control" id="TaxExempt" formControlName="TaxExempt">
                <option value="">-- {{'general.select' | translate}} --</option>
                <option value="Y">YES</option>
                <option value="N">NO</option>
              </select>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
              <label class="col-form-label">{{ 'epdb.manage.organization.add_edit.vat_number' | translate }}</label>
              <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control" id="VATNumber" formControlName="VATNumber"
                     placeholder="{{ 'epdb.manage.organization.add_edit.vat_number' | translate }}">
            </div>
            <div class="col-md-4 col-xl-4 form-group">
              <label class="col-form-label">{{ 'epdb.manage.organization.add_edit.year_joined' | translate }}</label>
              <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57" class="form-control" id="YearJoined"
                     formControlName="YearJoined" placeholder="{{ 'epdb.manage.organization.add_edit.year_joined' | translate }}">
            </div>

            <div class="col-md-10 col-xl-10 form-group">
              <label class="col-form-label">{{ 'epdb.manage.organization.add_edit.organization_web_address' | translate }}</label>
              <input type="text" class="form-control" id="OrgWebAddress" formControlName="OrgWebAddress" (keyup)="getwebaddress($event.target.value)"
                     placeholder="{{ 'epdb.manage.organization.add_edit.organization_web_address' | translate }}">
            </div>
            <div class="col-md-2 col-xl-2 form-group">
              <label class="col-form-label">&nbsp;</label>
              <button type="button" (click)="testwebaddress()" class="col-md-8 btn btn-primary btn-sm btn-block waves-effect text-center m-b-20">Test</button>
            </div>
            <div class="col-md-6 col-xl-6 form-group">
              <label class="col-form-label">Upload Organization Logo <span style="color:red;font-size:12px;">Please note that Logo upload should be 70*70 pixels.</span></label>
              <input type="file" id="orgLogo" class="form-control" placeholder="Upload File.." (change)="onFileChange($event)" accept=".png,.jpg,.jpeg" #fileInput>
            </div>

            <div class="col-md-12 col-xl-12 form-group">
              &nbsp;
            </div>

            <div class="col-md-4 col-xl-4 form-group">
              <div class="col-md-12 col-xl-12 form-group">
                <h4>{{ 'epdb.manage.organization.add_edit.registered_address' | translate }}</h4>
              </div>

              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">{{ 'epdb.manage.organization.add_edit.department' | translate }}</label>
                <input type="text" class="form-control" id="RegisteredDepartment" formControlName="RegisteredDepartment" placeholder="{{ 'epdb.manage.organization.add_edit.department' | translate }}">
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                  {{ 'eim.profile.my_profile.address' | translate }} 1
                  <code>*</code>
                </label>
                <input type="text" class="form-control" id="RegisteredAddress1" formControlName="RegisteredAddress1" placeholder="{{ 'eim.profile.my_profile.address' | translate }} 1">
                <span class="messages text-danger" *ngIf="!addorganization.get('RegisteredAddress1').valid && addorganization.get('RegisteredAddress1').touched">* Please enter registered address</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">{{ 'eim.profile.my_profile.address' | translate }} 2</label>
                <input type="text" class="form-control" id="RegisteredAddress2" formControlName="RegisteredAddress2" placeholder="{{ 'eim.profile.my_profile.address' | translate }} 2">
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">{{ 'eim.profile.my_profile.address' | translate }} 3</label>
                <input type="text" class="form-control" id="RegisteredAddress3" formControlName="RegisteredAddress3" placeholder="{{ 'eim.profile.my_profile.address' | translate }} 3">
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                  {{ 'eim.profile.my_profile.city' | translate }}
                  <code>*</code>
                </label>
                <input type="text" class="form-control" id="RegisteredCity" formControlName="RegisteredCity" placeholder="{{ 'eim.profile.my_profile.city' | translate }}">
                <span class="messages text-danger" *ngIf="!addorganization.get('RegisteredCity').valid && addorganization.get('RegisteredCity').touched">* Please enter registered city</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                  {{ 'epdb.admin.country.countries.country' | translate }}
                  <code>*</code>
                </label>
                <select name="select" class="form-control" id="RegisteredCountryCode" formControlName="RegisteredCountryCode" (change)="getState1($event.target.value)">
                  <option value="">-- {{ 'general.select' | translate }} --</option>
                  <option *ngIf="datacountry==null">{{'general.loading_data' | translate}} ...</option>
                  <option *ngIf="datacountry==''">{{'general.data_empty' | translate}}</option>
                  <option *ngFor="let item of datacountry" value={{item.countries_code}}>{{item.countries_name}}</option>
                </select>
                <span class="messages text-danger" *ngIf="!addorganization.get('RegisteredCountryCode').valid && addorganization.get('RegisteredCountryCode').touched">* Please enter registered country</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">{{ 'eim.profile.my_profile.state' | translate }}</label>
                <select name="select" class="form-control" id="RegisteredStateProvince" formControlName="RegisteredStateProvince">
                  <option value="">-- {{ 'general.select' | translate }} --</option>
                  <!-- <option *ngIf="datastate1==null">{{'general.loading_data' | translate}} ...</option>
        <option *ngIf="datastate1==''">{{'general.data_empty' | translate}}</option> -->
                  <option *ngFor="let item of datastate1" value={{item.StateName}}>{{item.StateName}}</option>
                </select>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">{{ 'eim.profile.my_profile.postal_code' | translate }}</label>
                <input type="text" class="form-control" id="RegisteredPostalCode" formControlName="RegisteredPostalCode" placeholder="{{ 'eim.profile.my_profile.postal_code' | translate }}">
              </div>
            </div>

            <div class="col-md-4 col-xl-4 form-group">

              <div class="col-md-12 col-xl-12 form-inline">
                <h4>{{ 'epdb.manage.organization.add_edit.contact_address' | translate }}</h4>
                <button type="button" (click)="getRegisteredContract()" class="col-md-3 btn btn-default btn-sm btn-block waves-effect text-center m-b-10">Copy</button>
              </div>

              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">{{ 'epdb.manage.organization.add_edit.department' | translate }}</label>
                <input type="text" class="form-control" [(ngModel)]="ContractDepartment" id="ContractDepartment" formControlName="ContractDepartment"
                       placeholder="{{ 'epdb.manage.organization.add_edit.department' | translate }}">
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                  {{ 'eim.profile.my_profile.address' | translate }} 1
                  <code>*</code>
                </label>
                <input type="text" class="form-control" [(ngModel)]="ContractAddress1" id="ContractAddress1" formControlName="ContractAddress1"
                       placeholder="{{ 'eim.profile.my_profile.address' | translate }} 1">
                <span class="messages text-danger" *ngIf="!addorganization.get('ContractAddress1').valid && addorganization.get('ContractAddress1').touched">* Please enter contract address</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">{{ 'eim.profile.my_profile.address' | translate }} 2</label>
                <input type="text" class="form-control" [(ngModel)]="ContractAddress2" id="ContractAddress2" formControlName="ContractAddress2"
                       placeholder="{{ 'eim.profile.my_profile.address' | translate }} 2">
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">{{ 'eim.profile.my_profile.address' | translate }} 3</label>
                <input type="text" class="form-control" [(ngModel)]="ContractAddress3" id="ContractAddress3" formControlName="ContractAddress3"
                       placeholder="{{ 'eim.profile.my_profile.address' | translate }} 3">
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                  {{ 'eim.profile.my_profile.city' | translate }}
                  <code>*</code>
                </label>
                <input type="text" class="form-control" [(ngModel)]="ContractCity" id="ContractCity" formControlName="ContractCity" placeholder="{{ 'eim.profile.my_profile.city' | translate }}">
                <span class="messages text-danger" *ngIf="!addorganization.get('ContractCity').valid && addorganization.get('ContractCity').touched">* Please enter contract city</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                  {{ 'epdb.admin.country.countries.country' | translate }}
                  <code>*</code>
                </label>
                <select name="select" class="form-control" id="ContractCountryCode" formControlName="ContractCountryCode" (change)="getState2($event.target.value)">
                  <option value="">-- {{ 'general.select' | translate }} --</option>
                  <option *ngIf="datacountry==null">{{'general.loading_data' | translate}} ...</option>
                  <option *ngIf="datacountry==''">{{'general.data_empty' | translate}}</option>
                  <option *ngFor="let item of datacountry" value={{item.countries_code}}>{{item.countries_name}}</option>
                </select>
                <span class="messages text-danger" *ngIf="!addorganization.get('ContractCountryCode').valid && addorganization.get('ContractCountryCode').touched">* Please enter contract country</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">{{ 'eim.profile.my_profile.state' | translate }}</label>
                <select name="select" class="form-control" id="ContractStateProvince" formControlName="ContractStateProvince">
                  <option value="">-- {{ 'general.select' | translate }} --</option>
                  <!-- <option *ngIf="datastate2==null">{{'general.loading_data' | translate}} ...</option>
        <option *ngIf="datastate2==''">{{'general.data_empty' | translate}}</option> -->
                  <option *ngFor="let item of datastate2" value={{item.StateName}}>{{item.StateName}}</option>
                </select>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">{{ 'eim.profile.my_profile.postal_code' | translate }}</label>
                <input type="text" class="form-control" [(ngModel)]="ContractPostalCode" id="ContractPostalCode" formControlName="ContractPostalCode"
                       placeholder="{{ 'eim.profile.my_profile.postal_code' | translate }}">
              </div>
            </div>


            <div class="col-md-4 col-xl-4 form-group">

              <div class="col-md-12 col-xl-12 form-inline">
                <h4>{{ 'epdb.manage.organization.add_edit.invoicing_address' | translate }}</h4>
                <button type="button" (click)="getRegisteredInvoice()" class="col-md-3 btn btn-default btn-sm btn-block waves-effect text-center m-b-10">Copy</button>
              </div>

              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">{{ 'epdb.manage.organization.add_edit.department' | translate }}</label>
                <input type="text" class="form-control" [(ngModel)]="InvoicingDepartment" id="InvoicingDepartment" formControlName="InvoicingDepartment"
                       placeholder="{{ 'epdb.manage.organization.add_edit.department' | translate }}">
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                  {{ 'eim.profile.my_profile.address' | translate }} 1
                  <code>*</code>
                </label>
                <input type="text" class="form-control" [(ngModel)]="InvoicingAddress1" id="InvoicingAddress1" formControlName="InvoicingAddress1"
                       placeholder="{{ 'eim.profile.my_profile.address' | translate }} 1">
                <span class="messages text-danger" *ngIf="!addorganization.get('InvoicingAddress1').valid && addorganization.get('InvoicingAddress1').touched">* Please enter invoicing address</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">{{ 'eim.profile.my_profile.address' | translate }} 2</label>
                <input type="text" class="form-control" [(ngModel)]="InvoicingAddress2" id="InvoicingAddress2" formControlName="InvoicingAddress2"
                       placeholder="{{ 'eim.profile.my_profile.address' | translate }} 2">
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">{{ 'eim.profile.my_profile.address' | translate }} 3</label>
                <input type="text" class="form-control" [(ngModel)]="InvoicingAddress3" id="InvoicingAddress3" formControlName="InvoicingAddress3"
                       placeholder="{{ 'eim.profile.my_profile.address' | translate }} 3">
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                  {{ 'eim.profile.my_profile.city' | translate }}
                  <code>*</code>
                </label>
                <input type="text" class="form-control" [(ngModel)]="InvoicingCity" id="InvoicingCity" formControlName="InvoicingCity" placeholder="{{ 'eim.profile.my_profile.city' | translate }}">
                <span class="messages text-danger" *ngIf="!addorganization.get('InvoicingCity').valid && addorganization.get('InvoicingCity').touched">* Please enter invoicing city</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                  {{ 'epdb.admin.country.countries.country' | translate }}
                  <code>*</code>
                </label>
                <select name="select" class="form-control" id="InvoicingCountryCode" formControlName="InvoicingCountryCode" (change)="getState3($event.target.value)">
                  <option value="">-- {{ 'general.select' | translate }} --</option>
                  <option *ngIf="datacountry==null">{{'general.loading_data' | translate}} ...</option>
                  <option *ngIf="datacountry==''">{{'general.data_empty' | translate}}</option>
                  <option *ngFor="let item of datacountry" value={{item.countries_code}}>{{item.countries_name}}</option>
                </select>
                <span class="messages text-danger" *ngIf="!addorganization.get('InvoicingCountryCode').valid && addorganization.get('InvoicingCountryCode').touched">* Please enter invoicing country</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">{{ 'eim.profile.my_profile.state' | translate }}</label>
                <select name="select" class="form-control" id="InvoicingStateProvince" formControlName="InvoicingStateProvince">
                  <option value="">-- {{ 'general.select' | translate }} --</option>
                  <!-- <option *ngIf="datastate3==null">{{'general.loading_data' | translate}} ...</option>
        <option *ngIf="datastate3==''">{{'general.data_empty' | translate}}</option> -->
                  <option *ngFor="let item of datastate3" value={{item.StateName}}>{{item.StateName}}</option>
                </select>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">{{ 'eim.profile.my_profile.postal_code' | translate }}</label>
                <input type="text" class="form-control" [(ngModel)]="InvoicingPostalCode" id="InvoicingPostalCode" formControlName="InvoicingPostalCode"
                       placeholder="{{ 'eim.profile.my_profile.postal_code' | translate }}">
              </div>
            </div>



            <div class="col-md-12 col-xl-12 form-group">
              &nbsp;
            </div>

            <div class="col-md-4 col-xl-4 form-group">

              <div class="col-md-12 col-xl-12 form-group">
                <h4>{{ 'epdb.manage.organization.add_edit.atc_director' | translate }}</h4>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                  {{ 'eim.profile.my_profile.first_name' | translate }}
                  <code>*</code>
                </label>
                <input type="text" class="form-control" id="ATCDirectorFirstName" formControlName="ATCDirectorFirstName" placeholder="{{ 'eim.profile.my_profile.first_name' | translate }}">
                <span class="messages text-danger" *ngIf="!addorganization.get('ATCDirectorFirstName').valid && addorganization.get('ATCDirectorFirstName').touched">* Please enter ATC director first name</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                  {{ 'eim.profile.my_profile.last_name' | translate }}
                  <code>*</code>
                </label>
                <input type="text" class="form-control" id="ATCDirectorLastName" formControlName="ATCDirectorLastName" placeholder="{{ 'eim.profile.my_profile.last_name' | translate }}">
                <span class="messages text-danger" *ngIf="!addorganization.get('ATCDirectorLastName').valid && addorganization.get('ATCDirectorLastName').touched">* Please enter ATC director last name</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                  {{ 'general.email' | translate }}
                  <code>*</code>
                </label>
                <input type="email" class="form-control" id="ATCDirectorEmailAddress" formControlName="ATCDirectorEmailAddress" placeholder="{{ 'general.email' | translate }}">
                <span class="messages text-danger" *ngIf="!addorganization.get('ATCDirectorEmailAddress').valid && addorganization.get('ATCDirectorEmailAddress').touched">* Please enter email address</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                  {{ 'eim.profile.my_profile.telephone' | translate }}
                  <code>*</code>
                </label>
                <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43"
                       class="form-control" id="ATCDirectorTelephone" formControlName="ATCDirectorTelephone" placeholder="{{ 'eim.profile.my_profile.telephone' | translate }}">
                <span class="messages text-danger" *ngIf="!addorganization.get('ATCDirectorTelephone').valid && addorganization.get('ATCDirectorTelephone').touched">* Please enter telephone number</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">{{ 'epdb.manage.organization.detail.fax' | translate }}</label>
                <input type="number" class="form-control" id="ATCDirectorFax" formControlName="ATCDirectorFax" placeholder="{{ 'epdb.manage.organization.detail.fax' | translate }}" min="0">
              </div>

            </div>

            <div class="col-md-4 col-xl-4 form-group">
              <div class="col-md-12 col-xl-12 form-inline">
                <h4>{{ 'epdb.manage.organization.add_edit.legal_contact' | translate }}</h4>
                <button type="button" (click)="getATCLegal()" class="col-md-3 btn btn-default btn-sm btn-block waves-effect text-center m-b-10">Copy</button>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                  {{ 'eim.profile.my_profile.first_name' | translate }}
                  <code>*</code>
                </label>
                <input type="text" class="form-control" [(ngModel)]="LegalContactFirstName" id="LegalContactFirstName" formControlName="LegalContactFirstName"
                       placeholder="{{ 'eim.profile.my_profile.first_name' | translate }}">
                <span class="messages text-danger" *ngIf="!addorganization.get('LegalContactFirstName').valid && addorganization.get('LegalContactFirstName').touched">* Please enter legal contact first name</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                  {{ 'eim.profile.my_profile.last_name' | translate }}
                  <code>*</code>
                </label>
                <input type="text" class="form-control" [(ngModel)]="LegalContactLastName" id="LegalContactLastName" formControlName="LegalContactLastName"
                       placeholder="{{ 'eim.profile.my_profile.last_name' | translate }}">
                <span class="messages text-danger" *ngIf="!addorganization.get('LegalContactLastName').valid && addorganization.get('LegalContactLastName').touched">* Please enter legal contact last name</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                  {{ 'general.email' | translate }}
                  <code>*</code>
                </label>
                <input type="email" class="form-control" [(ngModel)]="LegalContactEmailAddress" id="LegalContactEmailAddress" formControlName="LegalContactEmailAddress"
                       placeholder="{{ 'general.email' | translate }}">
                <span class="messages text-danger" *ngIf="!addorganization.get('LegalContactEmailAddress').valid && addorganization.get('LegalContactEmailAddress').touched">* Please enter email address</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                  {{ 'eim.profile.my_profile.telephone' | translate }}
                  <code>*</code>
                </label>
                <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43 || event.charCode == 32 || event.charCode == 45"
                       class="form-control" [(ngModel)]="LegalContactTelephone" id="LegalContactTelephone" formControlName="LegalContactTelephone"
                       placeholder="{{ 'eim.profile.my_profile.telephone' | translate }}">
                <span class="messages text-danger" *ngIf="!addorganization.get('LegalContactTelephone').valid && addorganization.get('LegalContactTelephone').touched">* Please enter telephone number</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">{{ 'epdb.manage.organization.detail.fax' | translate }}</label>
                <input type="number" class="form-control" [(ngModel)]="LegalContactFax" id="LegalContactFax" formControlName="LegalContactFax"
                       placeholder="{{ 'epdb.manage.organization.detail.fax' | translate }}" min="0">
              </div>

            </div>

            <div class="col-md-4 col-xl-4 form-group">
              <div class="col-md-12 col-xl-12 form-inline">
                <h4>{{ 'epdb.manage.organization.add_edit.billing_contact' | translate }}</h4>
                <button type="button" (click)="getATCBilling()" class="col-md-3 btn btn-default btn-sm btn-block waves-effect text-center m-b-10">Copy</button>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                  {{ 'eim.profile.my_profile.first_name' | translate }}
                  <code>*</code>
                </label>
                <input type="text" class="form-control" [(ngModel)]="BillingContactFirstName" id="BillingContactFirstName" formControlName="BillingContactFirstName"
                       placeholder="{{ 'eim.profile.my_profile.first_name' | translate }}">
                <span class="messages text-danger" *ngIf="!addorganization.get('BillingContactFirstName').valid && addorganization.get('BillingContactFirstName').touched">* Please enter billing contact first name</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                  {{ 'eim.profile.my_profile.last_name' | translate }}
                  <code>*</code>
                </label>
                <input type="text" class="form-control" [(ngModel)]="BillingContactLastName" id="BillingContactLastName" formControlName="BillingContactLastName"
                       placeholder="{{ 'eim.profile.my_profile.last_name' | translate }}">
                <span class="messages text-danger" *ngIf="!addorganization.get('BillingContactLastName').valid && addorganization.get('BillingContactLastName').touched">* Please enter billing contact last name</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                  {{ 'general.email' | translate }}
                  <code>*</code>
                </label>
                <input type="email" class="form-control" [(ngModel)]="BillingContactEmailAddress" id="BillingContactEmailAddress" formControlName="BillingContactEmailAddress"
                       placeholder="{{ 'general.email' | translate }}">
                <span class="messages text-danger" *ngIf="!addorganization.get('BillingContactEmailAddress').valid && addorganization.get('BillingContactEmailAddress').touched">* Please enter email address</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                  {{ 'eim.profile.my_profile.telephone' | translate }}
                  <code>*</code>
                </label>
                <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43 || event.charCode == 32 || event.charCode == 45"
                       class="form-control" [(ngModel)]="BillingContactTelephone" id="BillingContactTelephone" formControlName="BillingContactTelephone"
                       placeholder="{{ 'eim.profile.my_profile.telephone' | translate }}">
                <span class="messages text-danger" *ngIf="!addorganization.get('BillingContactTelephone').valid && addorganization.get('BillingContactTelephone').touched">* Please enter telepone number</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">{{ 'epdb.manage.organization.detail.fax' | translate }}</label>
                <input type="number" class="form-control" [(ngModel)]="BillingContactFax" id="BillingContactFax" formControlName="BillingContactFax"
                       placeholder="{{ 'epdb.manage.organization.detail.fax' | translate }}" min="0">
              </div>
            </div>
            <div class="col-md-12 col-xl-12 form-group">
              <label class="col-form-label">{{ 'epdb.manage.organization.add_edit.administrative_notes' | translate }}</label>
              <textarea class="form-control" rows="5" id="AdminNotes" formControlName="AdminNotes" placeholder="{{ 'epdb.manage.organization.add_edit.administrative_notes' | translate }}"></textarea>
            </div>

            <div class="col-md-12 col-xl-12 form-group">
              <app-file-upload #fileUploader></app-file-upload>
            </div>

            <div class="col-md-3 col-xl-6 form-group">
            </div>
            <div class="col-md-3 col-xl-2 form-group">
              <button type="submit" class="btn btn-success btn-md btn-block waves-effect text-center m-b-20">
                <i class="icofont icofont-save"></i> {{ 'general.btn_save' | translate }}
              </button>
            </div>

            <div class="col-md-3 col-xl-2 form-group">
              <!-- <button type="button" [routerLink]="['/manage/add-organization']" class="btn btn-default btn-md btn-block waves-effect text-center m-b-20"> -->
              <button (click)="resetForm()" type="button" [routerLink]="['/manage/organization/add-organization']" class="btn btn-default btn-md btn-block waves-effect text-center m-b-20">
                <!-- issue 20092018 - Reset button on add organisation takes to different page -->
                <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}
              </button>
            </div>

            <div class="col-md-3 col-xl-2 form-group">
              <button type="button" [routerLink]="['/manage/organization/add-organization']" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                <i class="icofont icofont-ui-close"></i> {{ 'general.btn_cancel' | translate }}
              </button>
            </div>
          </div>
        </form>
    </div>
</div>
