<div class="card card-border-primary"> 
    <div class="card-header">
        <div class="page-header-title">
            <h4>Autodesk | Add Edit Form</h4>
        </div>
    </div>
    <div class="card-block row">
        <div class="dt-responsive dt-bootstrap4  row p-20">
            <survey-editor [json]="json" (surveySaved)="onSurveySaved($event)"></survey-editor>
        </div>
    </div>
</div>
