<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.report_eva.comparison_report.comparison_report' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.report_eva.organization_report.filter_data' | translate}}:</label>
                <br>
                <label class="col-form-label">{{'epdb.admin.country.geo.geo' | translate}}</label>
                <angular2-multiselect [data]="dropdownListGeo " [(ngModel)]="selectedItemsGeo" [ngModelOptions]="{standalone:true}" [settings]="dropdownSettings"
                    (onSelect)="onGeoSelect($event)" (onDeSelect)="OnGeoDeSelect($event)" (onSelectAll)="onGeoSelectAll($event)"
                    (onDeSelectAll)="onGeoDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">&nbsp;</label>
                <br>
                <label class="col-form-label">{{'epdb.admin.country.region.region' | translate}}</label>
                <angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onRegionSelect($event)" (onDeSelect)="OnRegionDeSelect($event)"
                    (onSelectAll)="onRegionSelectAll($event)" (onDeSelectAll)="onRegionDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">&nbsp;</label>
                <br>
                <label class="col-form-label">{{'epdb.admin.country.sub_region.sub_region' | translate}}</label>
                <angular2-multiselect [data]="dropdownListSubRegion " [(ngModel)]="selectedItemsSubRegion" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onSubRegionSelect($event)" (onDeSelect)="OnSubRegionDeSelect($event)"
                    (onSelectAll)="onSubRegionSelectAll($event)" (onDeSelectAll)="onSubRegionDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.admin.country.countries.country' | translate}}</label>
                <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" [settings]="dropdownSettings" [ngModelOptions]="{standalone: true}"
                    (onSelect)="onCountriesSelect($event)" (onDeSelect)="OnCountriesDeSelect($event)" (onSelectAll)="onCountriesSelectAll($event)"
                    (onDeSelectAll)="onCountriesDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.report_eva.organization_report.survey_year' | translate}}</label>
                <select name="oStatus" class="form-control" [(ngModel)]="selectedYear" (change)="changeSelected($event.target.value)">
                    <option value="">-- {{ 'general.select' | translate }} --</option>
                    <option *ngFor="let item of year" value="{{item.Key}}">{{item.KeyValue}}</option>
                </select>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.report_eva.organization_report.month' | translate}}:</label>
                <select name="date" class="form-control" [(ngModel)]="selectedValueDate" (change)="changeSelected($event.target.value)">
                    <option value="">-- {{ 'general.select' | translate }} --</option>
                    <option *ngFor="let c of date" [ngValue]="c.id">{{c.name}}</option>
                </select>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.report_eva.performance_overview.site_active' | translate}}</label>
                <select name="SiteActive" class="form-control" [(ngModel)]="selectValueSite" (change)="changeSelected($event.target.value)">
                    <option value="">-- {{ 'general.select' | translate }} --</option>
                    <option *ngFor="let c of siteActive" [ngValue]="c.id">{{c.name}}</option>
                </select>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.admin.partner_type.partner_type' | translate}}</label>
                <angular2-multiselect [data]="dropdownPartner" [(ngModel)]="selectedPartner" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                    (onSelect)="onPartnerSelect($event)" (onDeSelect)="OnPartnerDeSelect($event)" (onSelectAll)="onPartnerSelectAll($event)"
                    (onDeSelectAll)="onPartnerDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.admin.partner_type.certificate_type' | translate}}</label>
                <angular2-multiselect [data]="dropdownCertificate" [(ngModel)]="selectedCertificate" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onCertificateSelect($event)" (onDeSelect)="OnCertificateDeSelect($event)"
                    (onSelectAll)="onCertificateSelectAll($event)" (onDeSelectAll)="onCertificateDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">Type:</label>
                <select name="type" class="form-control" [(ngModel)]="selectedValueType" (change)="changeSelected($event.target.value)">
                    <!-- <option value="">{{ 'general.select' | translate }}</option> -->
                    <option *ngFor="let c of type" [ngValue]="c.id">{{c.name}}</option>
                </select>
            </div>
            <div class="col-md-10 col-xl-10">&nbsp;</div>
            <div class="col-md-2 col-xl-2">
                <button type="button" (click)="getReport()" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                    <i class="icofont icofont-play-alt-1 "></i>{{ 'general.btn_submit' | translate }}</button>
            </div>

            <div class="col-md-12 col-xl-12 form-group">
                <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">{{'epdb.report_eva.organization_report.total_evaliation' | translate}}:</label>
                    <label class="col-form-label col-md-5 col-xl-5">{{evalTotal}}</label>
                </div>
            </div>
            <div class="col-md-12 col-xl-12 form-group">
                <label>Based on responses to the following Questions</label>
            </div>
            <div class="col-md-12 col-xl-12 form-group">
                <label>Survey</label>
                <br>
                <label>Q5. Do you plan to obtain an Autodesk Certification for the software learned in this course?</label>
                <br>
                <label>Q1.1. Overall experience</label>
            </div>
            <div class="col-md-12 col-xl-12 form-group">
                <label>Post - Survey</label>
                <br>
                <label>P5. Do you plan to obtain an Autodesk Certification for the software learned in this course?</label>
                <br>
                <label>Q1. Overall, how satisfied or dissatisfied are you with this course?</label>
            </div>
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6" *ngIf="dataFound">
                <label class="label-control">{{'general.show' | translate}}
                    <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">10</option>
                        <option [ngValue]="250">250</option>
                        <option [ngValue]="500">500</option>
                        <option [ngValue]="1000">1000</option>
                    </select>
                    {{'general.entries' | translate}}
                </label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6" *ngIf="dataFound">
                <div style="text-align: right;">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="report | dataFilter: filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead *ngIf="listkey != null; else goAhead">
                        <tr>
                            <th width="10%" *ngFor="let kolom of listkey">
                                <mfDefaultSorter by="{{kolom}}">{{kolom}}</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <ng-template #goAhead>
                        <thead>
                            <tr>
                                <th width="200%">&nbsp;</th>
                            </tr>
                        </thead>
                    </ng-template>
                    <tbody *ngIf="report != null">
                        <tr *ngFor="let item of mf.data">
                            <td *ngFor="let kolom of listkey">{{item[kolom]}}</td>
                        </tr>
                    </tbody>
                    <ng-template #anotherBody>
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </ng-template>
                    <tfoot>
                        <tr *ngIf="report!=null">
                            <td colspan="12">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="report==null">
                            <td colspan="12" class="text-center">{{'general.loading_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="report==''">
                            <td colspan="12" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>