<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.report_eva.download_site_evaluation.download_site_evaluation' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.report_eva.organization_report.filter_data' | translate}}:</label>
                <br>
                <label class="col-form-label">{{'epdb.admin.country.geo.geo' | translate}}</label>
                <angular2-multiselect [data]="dropdownListGeo " [(ngModel)]="selectedItemsGeo" [ngModelOptions]="{standalone:true}"
                    [settings]="dropdownSettings" (onSelect)="onGeoSelect($event)" (onDeSelect)="OnGeoDeSelect($event)"
                    (onSelectAll)="onGeoSelectAll($event)" (onDeSelectAll)="onGeoDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <!-- <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">&nbsp;</label>
                <br>
                <label class="col-form-label">{{'epdb.admin.country.region.region' | translate}}</label>
                <angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onRegionSelect($event)" (onDeSelect)="OnRegionDeSelect($event)"
                    (onSelectAll)="onRegionSelectAll($event)" (onDeSelectAll)="onRegionDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">&nbsp;</label>
                <br>
                <label class="col-form-label">{{'epdb.admin.country.sub_region.sub_region' | translate}}</label>
                <angular2-multiselect [data]="dropdownListSubRegion " [(ngModel)]="selectedItemsSubRegion" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onSubRegionSelect($event)" (onDeSelect)="OnSubRegionDeSelect($event)"
                    (onSelectAll)="onSubRegionSelectAll($event)" (onDeSelectAll)="onSubRegionDeSelectAll($event)">
                </angular2-multiselect>
            </div> -->
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">&nbsp;</label>
                <br>
                <label class="col-form-label ">{{ 'epdb.admin.country.territory.territory' | translate }}</label>
                <angular2-multiselect [data]="dropdownListTerritories" [(ngModel)]="selectedItemsTerritories"
                    [settings]="dropdownSettings" [ngModelOptions]="{standalone: true}" (onSelect)="onTerritorySelect($event)"
                    (onDeSelect)="onTerritoryDeSelect($event)" (onSelectAll)="onTerritorySelectAll($event)"
                    (onDeSelectAll)="onTerritoryDeSelectAll($event)">
                </angular2-multiselect>
                <!-- <span class="messages text-danger" *ngIf="!validTer">* Please select a single territory</span> -->
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">&nbsp;</label>
                <br>
                <label class="col-form-label">{{'epdb.admin.country.countries.country' | translate}}</label>
                <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" [settings]="dropdownSettings"
                    [ngModelOptions]="{standalone: true}" (onSelect)="onCountriesSelect($event)" (onDeSelect)="OnCountriesDeSelect($event)"
                    (onSelectAll)="onCountriesSelectAll($event)" (onDeSelectAll)="onCountriesDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.report_eva.organization_report.survey_year' | translate}}</label>
                <select name="oStatus" class="form-control" [(ngModel)]="selectedYear" (change)="changeSelected($event.target.value)">
                    <option value="">-- {{ 'general.select' | translate }} --</option>
                    <option *ngFor="let item of year" value="{{item.Key}}">{{item.KeyValue}}</option>
                </select>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.manage.organization.detail.organization_id' | translate}}</label>
                <angular2-multiselect [data]="dropdownListOrganizationId" [(ngModel)]="selectedItemsOrganizationId"
                    [settings]="dropdownSettingsSearch" [ngModelOptions]="{standalone: true}" (onSelect)="onOrgSelect($event)"
                    (onDeSelect)="OnOrgDeSelect($event)" (onSelectAll)="onOrgSelectAll($event)" (onDeSelectAll)="onOrgDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.manage.site.detail.site_id' | translate}}</label>
                <angular2-multiselect [data]="dropdownListSiteId" [(ngModel)]="selectedItemsSiteId" [settings]="dropdownSettingsSearch2"
                    [ngModelOptions]="{standalone: true}" (onSelect)="onSiteSelect($event)" (onDeSelect)="OnSiteDeSelect($event)"
                    (onSelectAll)="onSiteSelectAll($event)" (onDeSelectAll)="onSiteDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group ">
                <label class="col-form-label ">{{'epdb.admin.market_type.market_type' | translate}}</label>
                <angular2-multiselect [data]="dropdownListMarketType" [(ngModel)]="selectedItemsMarketType" [settings]="dropdownSettings"
                    [ngModelOptions]="{standalone:true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.admin.partner_type.partner_type' | translate}}
                    <code>*</code>
                </label>
                <angular2-multiselect [data]="dropdownPartner" [(ngModel)]="selectedPartner" [ngModelOptions]="{standalone: true}"
                [settings]="dropdownSettingsSingle" (onSelect)="onPartnerSelect($event)" (onDeSelect)="OnPartnerDeSelect($event)"
                    (onSelectAll)="onPartnerSelectAll($event)" (onDeSelectAll)="onPartnerDeSelectAll($event)">
                </angular2-multiselect>
                <span class="messages text-danger" *ngIf="!validPartner">* Please select partner type</span>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.admin.partner_type.certificate_type' | translate}}</label>
                <angular2-multiselect [data]="dropdownCertificate" [(ngModel)]="selectedCertificate" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onCertificateSelect($event)" (onDeSelect)="OnCertificateDeSelect($event)"
                    (onSelectAll)="onCertificateSelectAll($event)" (onDeSelectAll)="onCertificateDeSelectAll($event)">
                </angular2-multiselect>
                <span class="messages text-danger" *ngIf="!validCer">* Please select certificate type</span>
            </div>
            <div class="col-md-4 col-xl-4 form-group" *ngIf="showEvent">
                <label class="col-form-label">Event Type</label>
                <angular2-multiselect [data]="dropdownEventType" [(ngModel)]="selectedEventType" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onEventTypeSelect($event)" (onDeSelect)="OnEventTypeDeSelect($event)"
                    (onSelectAll)="onEventTypeSelectAll($event)" (onDeSelectAll)="onEventTypeDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group ">
                <label class="col-form-label">Primary Product</label>
                <select name="primary" class="form-control" [(ngModel)]="selectedPrimaryProduct" style="box-shadow:0px 1px 5px #959595;height:calc(2.55rem + 2px);">
                    <option value="">{{'general.select' | translate}}</option>
                    <option *ngFor="let item of Primary" value="{{item.Id}}">{{item.itemName}}</option>
                </select>
            </div>
            <div class="col-md-4 col-xl-4 form-group ">
                <label class="col-form-label">Secondary Product</label>
                <select name="secondary" class="form-control" [(ngModel)]="selectedSecondaryProduct" style="box-shadow:0px 1px 5px #959595;height:calc(2.55rem + 2px);">
                    <option value="">{{'general.select' | translate}}</option>
                    <option *ngFor="let item of Secondary" value="{{item.Id}}">{{item.itemName}}</option>
                </select>
            </div>

            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">Date Range by:</label>
                <!-- <div *ngFor="let range of dateRange">
                    <div class="form-radio">
                        <form>
                            <div class="radio radio-inline">
                                <label>
                                    <input type="radio" name="range" [(ngModel)]="selectedValueDateRange" [value]="range.id" checked="checked">
                                    <i class="helper"></i>{{range.name}}
                                </label>
                            </div>
                        </form>
                    </div>
                </div> -->
                <div class="form-radio">
                    <div class="radio radio-inline">
                        <label>
                            <input type="radio" [(ngModel)]="selectedValueDateRange" value="radCourseEndDate" checked="checked">
                            <i class="helper"></i>Course End Dates
                        </label>
                    </div>
                    <div class="radio radio-inline">
                        <label>
                            <input type="radio" [(ngModel)]="selectedValueDateRange" value="radSubmittedDate">
                            <i class="helper"></i>Evaluation Submitted Dates
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'general.start_date' | translate}}:</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="modelPopup1"
                        ngbDatepicker #d1="ngbDatepicker" (ngModelChange)="onSelectDate($event)" readonly>
                    <div class="input-group-addon bg-default" (click)="d1.toggle()">
                        <span class="icofont icofont-ui-calendar"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'general.end_date' | translate}}:</label>
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="modelPopup2"
                        ngbDatepicker #d2="ngbDatepicker" (ngModelChange)="onSelectDate($event)" readonly>
                    <div class="input-group-addon bg-default" (click)="d2.toggle()">
                        <span class="icofont icofont-ui-calendar"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-6">&nbsp;</div>
            <div class="col-md-2 col-xl-2">
                <button type="button" (click)="getReport()" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                    <i *ngIf="!loading" class="icofont icofont-play-alt-1 "></i>
                    <i class="fas fa-spinner fa-pulse" *ngIf="loading"></i>
                    {{ 'general.search' | translate }}
                </button>
            </div>
            <div class="col-md-2 col-xl-2">
                <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                    <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}
                </button>
            </div>
            <div class="col-md-2 col-xl-2">
                <button type="button" (click)="apiCall.unsubscribe();loading=false" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                    <i class="icofont icofont-stop"></i>{{ 'general.btn_stop_query' | translate }}</button>
            </div>

            <!-- <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6" *ngIf="dataFound">
                <label class="label-control">{{'general.show' | translate}}
                    <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                    </select>
                    {{'general.entries' | translate}}
                </label>
            </div> -->
            <div class="col-xs-12 col-sm-12 col-md-12 form-group" *ngIf="dataFound">
                <label class="col-form-label">{{'epdb.report_eva.organization_report.total_evaliation' | translate}}:
                    {{totalEval}}</label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" *ngIf="dataFound && report!=null && report != ''">
                <div class="text-right">
                    <i class="fa fa-file-excel-o"></i>
                    <a href="javascript:;" (click)="ExportExceltoXls()"> Export to .xls</a> &nbsp;
                    <a href="javascript:;" (click)="ExportExceltoXlSX()"> Export to .xlsx</a> &nbsp;
                    <a href="javascript:;" (click)="ExportExceltoCSV()"> Export to .csv</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;" *ngIf="dataFound">
                <!-- <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="report | dataFilter: filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder"> -->
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center">
                    <ngx-loading [show]="loading_1" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                    <thead>
                        <tr *ngIf="listkolom != null">
                            <th width="10%" *ngFor="let kolom of listkolom">{{kolom}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="report != null">
                        <!-- <tr *ngFor="let item of mf.data">
                            <td *ngFor="let kolom of listkolom">{{item[kolom]}}</td>
                        </tr> -->
                        <tr *ngFor="let item of report | paginate : { itemsPerPage:10, currentPage:page, id : 1, totalItems:countdata }">
                            <td *ngFor="let kolom of listkolom">{{item[kolom]}}</td>
                        </tr>
                    </tbody>
                    <!--Digunakan saat pindah halaman agar ukuran tinggi tabel tetap sama-->
                    <tbody *ngIf="report == null">
                        <!-- <tr *ngFor="let item of mf.data">
                            <td *ngFor="let kolom of listkolom">{{item[kolom]}}</td>
                        </tr> -->
                        <tr *ngFor="let item of report_temp | paginate : { itemsPerPage:10, currentPage:page, id : 1, totalItems:countdata }">
                            <td *ngFor="let kolom of listkolom">{{item[kolom]}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <!-- <tr *ngIf="report!=null">
                            <td colspan="75">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr> -->
                        <tr *ngIf="report!=null && report != ''">
                            <td colspan="75" class="text-right">
                                <pagination-controls (pageChange)="page = getServerData($event)" id="1" maxSize="8"
                                    directionLinks="true" autohide="true"></pagination-controls>
                            </td>
                        </tr>
                        <tr *ngIf="report==null">
                            <td colspan="75" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="report==''">
                            <td colspan="75" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!-- <div class="card-block" *ngIf="dataFound">
        <div class="dt-responsive dt-bootstrap4">
        </div>
    </div> -->
</div>