<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.report_eva.instructor_student_list.instructor_student_list' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-12 col-xl-12">
                <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">{{'eim.profile.my_profile.company' | translate}}:</label>
                    <label class="col-form-label col-md-5 col-xl-5">{{SiteName}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">Site ID:</label>
                    <label class="col-form-label col-md-5 col-xl-5">{{SiteId}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">{{'eva.manage_course.list_course.instructor_id' | translate}}:</label>
                    <label class="col-form-label col-md-5 col-xl-5">{{InstructorId}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">{{'student.my_course.course_date' | translate}}:</label>
                    <label class="col-form-label col-md-5 col-xl-5">{{CourseDate}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">{{'epdb.report_eva.organization_report.total_evaliation' | translate}}:</label>
                    <label class="col-form-label col-md-5 col-xl-5">{{Evals}}</label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="courseStudent | dataFilter: filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <!-- <th width="30%">{{'eva.manage_student_info.student_id' | translate}}</th> -->
                            <th width="40%">{{'eva.manage_student_info.student_name' | translate}}</th>
                            <th width="30%">{{'eva.manage_evaluation.evaluation_id' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="courseStudent != null">
                        <tr *ngFor="let item of mf.data">
                            <!-- <td>
                                <a [routerLink]="['/report-eva/student-course', item.StudentID,CourseId]">{{item.StudentID}}</a>
                            </td> -->
                            <td>
                                <a [routerLink]="['/report-eva/student-course', item.EvaluationAnswerId,InstructorId]">{{item.StudentName}}</a>
                            </td>
                            <td>{{item.EvaluationAnswerId}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="courseStudent!=null">
                            <td colspan="3">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="courseStudent==null">
                            <td colspan="3" class="text-center">{{'general.loading_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="courseStudent==''">
                            <td colspan="3" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>