<div class="row">
	<div class="col-md-12 col-xl-12 page-header-title">
	    <h4>{{'epdb.admin.territory.header-1' | translate}}</h4>
	    <br/>
	    <br/>
  	</div>
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary">
            <div class="m-4 card-block row dt-responsive">  
                <div class="col-md-6 col-xl-6 form-group text-left">
                    <label class="col-form-label"></label>
                    <button type="button" [routerLink]="['/epdb/territory/territory-add']" class="btn btn-primary btn-md text-center "><i class="icofont icofont-ui-add"></i> Add New Territory</button>
                </div>
                <div class="col-md-6 col-xl-6 form-group"></div>

                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                    <div>
                      <label class="label-control">Show
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                          <option [ngValue]="10">10</option>
                          <option [ngValue]="25">25</option>
                          <option [ngValue]="50">50</option>
                          <option [ngValue]="100">100</option>
                        </select>
                        entries
                      </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="text-right">
                        <label>Search:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                        </label>
                    </div>
                </div>  
                <table class="row table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="20%"><mfDefaultSorter by="id">{{'epdb.admin.territory.table.header-1' | translate}}</mfDefaultSorter></th>
                            <th width="80%"><mfDefaultSorter by="name">{{'epdb.admin.territory.table.header-2' | translate}}</mfDefaultSorter></th>
                            <th width="20%"><mfDefaultSorter by="id">{{'epdb.admin.territory.table.header-3' | translate}}</mfDefaultSorter></th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td> 
                            <td class="action-icon">
                                <a [routerLink]="['/epdb/territory/territory-update']" class="m-r-15 text-muted f-18" ngbTooltip="Edit Territory"><i class="icofont icofont-ui-edit"></i></a>
                                <a [routerLink]="['/epdb/territory/territory-list']" (click)="openConfirmsSwal()" class="text-muted f-18" ngbTooltip="Delete Territory"><i class="icofont icofont-delete-alt"></i></a>
                            </td> 
                        </tr>
                    </tbody>
                    <tfoot> 
                        <tr>
                            <td colspan="4"><mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator></td>
                        </tr>
                    </tfoot>
                </table> 
	        </div>
	    </div>
	</div>
</div>