<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'menu_report_epdb.db_integrity_report' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-3 col-xl-3 form-group">
                <h4>{{'epdb.manage.organization.detail.organization' | translate}}</h4>
                <ul class="a">
                    <li>
                        <a [routerLink]="['/report/database-integrity-report']" (click)="findReport('siteless_organization')">{{'epdb.report.database_integrity.organization.site_organization' | translate}}</a>
                    </li>
                    <li>
                        <a [routerLink]="['/report/database-integrity-report']" (click)="findReport('organization_no_address')">{{'epdb.report.database_integrity.organization.org_no_address' | translate}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-xl-3 form-group">
                <h4>{{'epdb.manage.site.detail.site' | translate}}</h4>
                <ul class="a">
                    <li>
                        <a [routerLink]="['/report/database-integrity-report']" (click)="findReport('orphaned_site')">{{'epdb.report.database_integrity.site.orphaned_site' | translate}}</a>
                    </li>
                    <li>
                        <a [routerLink]="['/report/database-integrity-report']" (click)="findReport('site_no_address')">{{'epdb.report.database_integrity.site.site_no_address' | translate}}</a>
                    </li>
                    <li>
                        <a [routerLink]="['/report/database-integrity-report']" (click)="findReport('site_no_contact')">{{'epdb.report.database_integrity.site.site_no_contact' | translate}}</a>
                    </li>
                    <!-- <li>
                        <a [routerLink]="['/report/database-integrity-report']">{{'epdb.report.database_integrity.site.site_address' | translate}}</a>
                    </li> -->
                    <!-- <li>
                        <a [routerLink]="['/report/database-integrity-report']">{{'epdb.report.database_integrity.site.siebel_site_address' | translate}}</a>
                    </li> -->
                    <!-- <li>
                        <a [routerLink]="['/report/database-integrity-report']">{{'epdb.report.database_integrity.site.bad_csn_match' | translate}}</a> (not found in Siebel Data)
                    </li> -->
                    <!-- <li>
                        <a [routerLink]="['/report/database-integrity-report']">{{'epdb.report.database_integrity.site.pdb_siebel_status' | translate}}</a>
                    </li> -->
                </ul>
            </div>
            <div class="col-md-3 col-xl-3 form-group">
                <h4>Contacts</h4>
                <ul class="a">
                    <!-- <li>
                        <a [routerLink]="['/report/database-integrity-report']">{{'epdb.report.database_integrity.contact.orphaned_contact' | translate}}</a>
                    </li> -->
                    <!-- <li>
                        <a [routerLink]="['/report/database-integrity-report']">{{'epdb.report.database_integrity.contact.duplicate_name' | translate}}</a>
                    </li> -->
                    <!-- <li>
                        <a [routerLink]="['/report/database-integrity-report']">{{'epdb.report.database_integrity.contact.duplicate_siebelid' | translate}}</a>
                    </li> -->
                    <!-- <li>
                        <a [routerLink]="['/report/database-integrity-report']">{{'epdb.report.database_integrity.contact.siebel_match' | translate}}</a> (names don't match) F
                    </li> -->
                    <li>
                        <a [routerLink]="['/report/database-integrity-report']" (click)="findReport('active_users')">{{'epdb.report.database_integrity.contact.active_user' | translate}}</a>
                    </li>
                    <li>
                        <a [routerLink]="['/report/database-integrity-report']" (click)="findReport('duplicate_email')">{{'epdb.report.database_integrity.contact.duplicate_email' | translate}}</a>
                    </li>
                    <li>
                        <a [routerLink]="['/report/database-integrity-report']" (click)="findReport('illegal_email')">{{'epdb.report.database_integrity.contact.illegal_email' | translate}}</a>
                    </li>
                    <!-- <li>
                        <a [routerLink]="['/report/database-integrity-report']">{{'epdb.report.database_integrity.contact.bad_primary' | translate}}</a>
                    </li> -->
                    <li>
                        <a [routerLink]="['/report/database-integrity-report']" (click)="findReport('missing_primary_site_id')">{{'epdb.report.database_integrity.contact.missing_primary' | translate}}</a>
                    </li>
                    <!-- <li>
                        <a [routerLink]="['/report/database-integrity-report']">{{'epdb.report.database_integrity.contact.missing_name' | translate}}</a>
                    </li> -->
                    <!-- <li>
                        <a [routerLink]="['/report/database-integrity-report']">{{'epdb.report.database_integrity.contact.duplicate_user_history' | translate}}</a>
                    </li> -->
                    <!-- <li>
                        <a [routerLink]="['/report/database-integrity-report']">{{'epdb.report.database_integrity.contact.duplicate_user_certification' | translate}}</a>
                    </li> -->
                </ul>
            </div>
            <div class="col-md-3 col-xl-3 form-group">
                <h4>{{'epdb.report.database_integrity.other.other' | translate}}</h4>
                <ul class="a">
                    <li>
                        <a [routerLink]="['/report/database-integrity-report']" (click)="findReport('duplicate_attributes')">{{'epdb.report.database_integrity.other.duplicate_attribute' | translate}}</a>
                    </li>
                    <li>
                        <a [routerLink]="['/report/database-integrity-report']" (click)="findReport('illegal_state')">{{'epdb.report.database_integrity.other.illegal_state' | translate}}</a>
                    </li>
                    <!-- <li>
                        <a [routerLink]="['/report/database-integrity-report']">{{'epdb.report.database_integrity.other.instructor_whose' | translate}}</a>
                    </li> -->
                    <!-- <li>
                        <a [routerLink]="['/report/database-integrity-report']">{{'epdb.report.database_integrity.other.atc_instructor' | translate}}</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
    <div class="card-block" *ngIf="dataFound">
        <div class="col-md-12 col-xl-12 row">
            <h4>{{'epdb.manage.organization.search.search_result' | translate}}</h4>
        </div>
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <!-- <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div> -->
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <i class="fa fa-file-excel-o"></i><a [routerLink]="['/report/database-integrity-report']" (click)="ExportExcel()"> Export to .xls</a>    
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="report | dataFilter : filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr *ngIf="listkolom != null">
                            <th *ngFor="let kolom of listkolom">{{kolom}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="report!=null">
                        <tr *ngFor="let item of mf.data">
                            <td *ngFor="let kolom of listkolom">{{item[kolom]}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="report!=null">
                            <td colspan="200">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="report==null">
                            <td colspan="200" class="text-center">{{'general.loading_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="report==''">
                            <td colspan="200" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <!-- <div class="col-md-12 col-xl-12 form-group"></div>
            <div class="col-md-12 col-xl-12 form-group"></div>
            <div class="col-md-12 col-xl-12 row">
                <div class="col-md-6 col-xl-6 form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto; border-style: none">
                        <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="datachecked">
                            <thead>
                                <tr>
                                    <th>Activity Name</th>
                                    <th>Activity Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6 form-group">
                    <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                        <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center">
                            <thead>
                                <tr>
                                    <th>Activity Name</th>
                                    <th>Activity Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>