<div class="row">
    <div class="col-md-10 col-xl-10 page-header-title">
        <h4>Answer Evaluation Form</h4>
        <br/>
        <br/>
    </div>
    <div class="col-md-12 col-xl-12">
        <!-- List view card start -->
        <div class="card">
            <div class="card-header">
                <h5>Hilman Abdurrahman Achmad</h5>
                <div class="card-header-right">
                    <i class="icofont icofont-rounded-left" ngbTooltip="Back"></i>
                </div>
            </div>
            <div class="row card-block">
                <div class="col-md-12">
                    <ul class="list-view">
                        <li>
                            <div class="card user-card">
                                <div class="card-block">
                                    <div class="media">
                                        <a class="media-left" href="#">
                                            <img class="media-object img-circle card-list-img" src="assets/images/avatar-5.png" alt="Generic placeholder image">
                                        </a>
                                        <div class="media-body">
                                            <div class="col-xs-12">
                                                <h6 class="d-inline-block">Name Course</h6>
                                                <label class="label label-info">Type Course</label>
                                            </div>
                                            <div class="f-13 text-muted m-b-15">Instructure Name</div>
                                            <p>Hi, This is my short intro text. Lorem ipsum is a dummy content sit dollar. You can copy and paste this dummy content from anywhere and to anywhere. Its all free and must be a good to folllow
                                                in prectice</p>
                                            <div class="m-t-15">
                                                <button type="button" class="btn btn-facebook btn-mini waves-effect waves-light">
                                                    <span class="icofont icofont-social-facebook"></span>
                                                </button>
                                                <button type="button" class="btn btn-twitter btn-mini waves-effect waves-light">
                                                    <span class="icofont icofont-social-twitter"></span>
                                                </button>
                                                <button type="button" class="btn btn-linkedin btn-mini waves-effect waves-light">
                                                    <span class="icofont icofont-brand-linkedin"></span>
                                                </button>
                                                <button type="button" class="btn btn-dribbble btn-mini waves-effect waves-light">
                                                    <span class="icofont icofont-social-dribble"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-header mt-5">
                                      <div class="card">
                                        <div class="card-header">
                                          <h5 class="card-header-text">Questionnaire</h5>
                                        </div>
                                        <div class="card-body">
                                          <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-radio">
                                                    <form>
                                                        <div class="col-md-12 form-group">
                                                            <p>1. Pertanyaan nomer satu adalah sebagai beriku:</p>
                                                              <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                                                <label>
                                                                  <input type="radio" name="radio">
                                                                  <i class="helper"></i>Jawaban 1
                                                                </label>
                                                              </div>
                                                              <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                                                  <label>
                                                                    <input type="radio" name="radio">
                                                                    <i class="helper"></i>Jawaban 2
                                                                  </label>
                                                              </div>
                                                              <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                                                    <label>
                                                                      <input type="radio" name="radio">
                                                                      <i class="helper"></i>Jawaban 3
                                                                    </label>
                                                              </div>
                                                              <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                                                      <label>
                                                                        <input type="radio" name="radio">
                                                                        <i class="helper"></i>Jawaban 4
                                                                      </label>
                                                              </div>
                                                          </div>
                                                          <div class="col-md-12 form-group">
                                                              <p>2. Pertanyaan nomer satu adalah sebagai beriku:</p>
                                                                <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                                                  <label>
                                                                    <input type="radio" name="radio2">
                                                                    <i class="helper"></i>Jawaban 1
                                                                  </label>
                                                                </div>
                                                                <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                                                    <label>
                                                                      <input type="radio" name="radio2">
                                                                      <i class="helper"></i>Jawaban 2
                                                                    </label>
                                                                </div>
                                                                <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                                                      <label>
                                                                        <input type="radio" name="radio2">
                                                                        <i class="helper"></i>Jawaban 3
                                                                      </label>
                                                                </div>
                                                                <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                                                        <label>
                                                                          <input type="radio" name="radio2">
                                                                          <i class="helper"></i>Jawaban 4
                                                                        </label>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-12 form-group">
                                                                <p>3. Pertanyaan nomer satu adalah sebagai beriku:</p>
                                                                  <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                                                    <label>
                                                                      <input type="radio" name="radio3">
                                                                      <i class="helper"></i>Jawaban 1
                                                                    </label>
                                                                  </div>
                                                                  <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                                                      <label>
                                                                        <input type="radio" name="radio3">
                                                                        <i class="helper"></i>Jawaban 2
                                                                      </label>
                                                                  </div>
                                                                  <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                                                        <label>
                                                                          <input type="radio" name="radio3">
                                                                          <i class="helper"></i>Jawaban 3
                                                                        </label>
                                                                  </div>
                                                                  <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                                                          <label>
                                                                            <input type="radio" name="radio3">
                                                                            <i class="helper"></i>Jawaban 4
                                                                          </label>
                                                                  </div>
                                                              </div>
                                                              <div class="col-md-12 form-group">
                                                                  <p>4. Pertanyaan nomer satu adalah sebagai beriku:</p>
                                                                    <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                                                      <label>
                                                                        <input type="radio" name="radio4">
                                                                        <i class="helper"></i>Jawaban 1
                                                                      </label>
                                                                    </div>
                                                                    <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                                                        <label>
                                                                          <input type="radio" name="radio4">
                                                                          <i class="helper"></i>Jawaban 2
                                                                        </label>
                                                                    </div>
                                                                    <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                                                          <label>
                                                                            <input type="radio" name="radio4">
                                                                            <i class="helper"></i>Jawaban 3
                                                                          </label>
                                                                    </div>
                                                                    <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                                                            <label>
                                                                              <input type="radio" name="radio4">
                                                                              <i class="helper"></i>Jawaban 4
                                                                            </label>
                                                                    </div>
                                                                </div>
                                                                <div class="col-md-12 form-group">
                                                                    <p>1. Pertanyaan nomer satu adalah sebagai beriku:</p>
                                                                      <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                                                        <label>
                                                                          <input type="radio" name="radio5">
                                                                          <i class="helper"></i>Jawaban 1
                                                                        </label>
                                                                      </div>
                                                                      <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                                                          <label>
                                                                            <input type="radio" name="radio5">
                                                                            <i class="helper"></i>Jawaban 2
                                                                          </label>
                                                                      </div>
                                                                      <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                                                            <label>
                                                                              <input type="radio" name="radio5">
                                                                              <i class="helper"></i>Jawaban 3
                                                                            </label>
                                                                      </div>
                                                                      <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                                                              <label>
                                                                                <input type="radio" name="radio5">
                                                                                <i class="helper"></i>Jawaban 4
                                                                              </label>
                                                                      </div>
                                                                  </div>
                                                                  <div class="col-md-3 col-xl-3 form-group text-right" style="margin-top: 20px">       
                                                                    <button type="button" [routerLink]="['/eim/profile']" (click)="openSuccessSwalChangeProfile()" class="btn btn-success btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-save"></i> {{ 'general.btn_save_change' | translate }}</button>
                                                                  </div>
                                                    </form>
                                                  </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                    </div> 
                                  
                                       


                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- List view card end -->

    </div>
</div>

