<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.admin.partner_type.edit_partner_type' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="updatepartnertypeform" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-12 col-xl-12 form-group" *ngIf="datadetail!=null">
                    <label class="col-form-label">{{ 'epdb.manage.site.detail.site_name' | translate}} : {{datadetail.SiteName}}</label>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.admin.partner_type.partner_type' | translate}}:
                        <code>*</code>
                    </label>
                    <select name="PartnerType" class="form-control" id="PartnerType" formControlName="PartnerType">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of partnertype" value={{item.RoleId}}>{{item.RoleName}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!updatepartnertypeform.get('PartnerType').valid && updatepartnertypeform.get('PartnerType').touched">* Please select status</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.admin.partner_type.partner_type_status' | translate}}:
                        <code>*</code>
                    </label>
                    <select class="form-control" id="Status" formControlName="Status">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of partnertypestatus" value={{item.Key}}>{{item.KeyValue}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!updatepartnertypeform.get('Status').valid && updatepartnertypeform.get('Status').touched">* Please select status</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.site.add_partner_type.csn' | translate}}:</label>
                    <input type="text" class="form-control" id="CSN" formControlName="CSN">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.site.add_partner_type.external_id' | translate}}:</label>
                    <input type="text" class="form-control" id="ExternalId" formControlName="ExternalId">
                </div>
                <div class="col-md-4 col-xl-4 form-group">&nbsp;</div>
                <div class="col-md-5 col-xl-5 form-group">&nbsp;</div>
                <div class="col-md-3 col-xl-3 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center" [disabled]="!updatepartnertypeform.valid">
                        <i class="icofont icofont-save"></i> {{'general.btn_save_change' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button *ngIf="datadetail!=null" type="button" [routerLink]="['/manage/site/detail-site',datadetail.SiteIdInt]" class="btn btn-danger btn-md btn-block text-center">
                        <i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>