/* .table-scrolled {
    height: 350px;
    overflow-y: auto;
    width: 100%;
} */

.table-responsive {
    display: table; 
}

th {
    text-align: center;
}

td {
    text-align: center;
}
.preview-table{
    font-family: 'Artifakt-Element-Regular';
}

.preview-table tr{
    border-bottom:solid 1px;
}

.preview-table th{
    padding: 5px;
    text-align: left;
}

.preview-table td{
    padding: 5px;
    text-align: left;
}
[hidden] {
    display: none !important;
  }