<div id="pcoded" (window:resize)="onResize($event)" class="pcoded iscollapsed" theme-layout="vertical" vertical-placement="left"
  vertical-layout="wide" [attr.pcoded-device-type]="deviceType" [attr.vertical-nav-type]="verticalNavType" [attr.vertical-effect]="verticalEffect"
  vnavigation-view="view1">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    <nav class="navbar header-navbar pcoded-header" header-theme="theme1" pcoded-header-position="fixed">
      <div class="navbar-wrapper">
        <div class="navbar-logo" navbar-theme="theme5">
          <a class="mobile-menu" id="mobile-collapse" href="javascript:;" [exclude]="'#main_navbar'" (clickOutside)="onClickedOutside($event)">
            <i class="ti-menu"></i>
          </a>
          <a [routerLink]="['/register']" style="margin-left:20px">
            <img class="img-fluid" src="assets/images/logo4.png" alt="Theme-Logo" />
          </a>
          <a (click)="onMobileMenu()" class="mobile-options">
            <i class="ti-more"></i>
          </a>
        </div>
        <div class="navbar-container">
          <div>
            <ul [@mobileMenuTop]="isCollapsedMobile" class="nav-right" [ngClass]="isCollapsedMobile" style="margin-right: 20px">
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <section class="login p-fixed d-flex text-center bg-primary common-img-bg2">
      <div class="auth-fluid col-md-9">
        <div class="row">
          <div class="col-md-12 col-sm-12 responsive-tab">
            <div class="login-card card-body auth-body kecilkan-tab" style="
                  background-color: #ffffff;
                  border-radius: 8px;
                  padding-bottom: 320px;
                  margin: 65px 0 10px 0;">
              <div style="color: #383636;font-size: 28px;text-align: center;font-weight: inherit;">
                <h2>Oops</h2>
                <h6>
                  {{'warning_under13.we_sorry' | translate}}
                  <br/> {{'warning_under13.product_service' | translate}}. {{'warning_under13.learn_more' | translate}}.
                  <br/>
                  <br/>
                  <i class="fa fa-file-text-o" aria-hidden="true" style="font-size:60px"></i>
                  <br/>
                  <br/> {{'warning_under13.you_many' | translate}},
                  <br/> {{'warning_under13.product_service' | translate}}. {{'warning_under13.more_info' | translate}}.
                </h6>
              </div>
              <p>&nbsp;
                <br/>
                <br/>
              </p>
              <button type="button" [routerLink]="['/register']" class="btn btn-primary btn-md waves-effect text-center m-b-20">{{'warning_under13.back_register' | translate}}</button>
            </div>
          </div>
        </div>
        <!-- <div class="text-bottom" style="color: black;bottom: 20px; margin: 0 auto; width: 50%; font-weight: 600;">
          <a href="https://www.autodesk.com/company/legal-notices-trademarks/privacy-statement" target="_blank"> Privacy </a> |
          <a href="https://www.autodesk.com/company/legal-notices-trademarks" target="_blank"> Legal Notices & Trademark </a> | © Copyright 2018 Autodesk, Inc. All right reserved.
        </div> -->
        <div class="text-bottom" style="color: black; bottom: 20px; margin: 0 auto; width: 100%; font-weight: 600; margin-top:10px">
          <a href="https://www.autodesk.com/company/legal-notices-trademarks/privacy-statement" target="_blank"> Privacy </a> |
          <a href="https://www.autodesk.com/company/legal-notices-trademarks" target="_blank"> Legal Notices & Trademark </a> | © Copyright 2019 Autodesk, Inc. All right reserved.
        </div>
      </div>
    </section>
  </div>
</div>