<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.sub_partner_type.edit_sub_partner_type' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="editsubpartner" (ngSubmit)="onSubmitUpdate()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group text-left">
                    <label>{{'epdb.admin.partner_type.partner_type' | translate}}</label>
                    <select name="oStatus" class="form-control" id="PartnerType" formControlName="PartnerType">
                        <option>-- {{ 'general.select' | translate }} --</option>
                        <option *ngIf="partnertype==null">{{'general.loading_data' | translate}}</option>
                        <option *ngIf="partnertype==''">{{'general.data_empty' | translate}}</option>
                        <option *ngFor="let item of partnertype" value={{item.RoleCode}}>{{item.RoleName}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editsubpartner.get('PartnerType').valid && editsubpartner.get('PartnerType').touched">* Please enter partner type</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.sub_partner_type.sub_partner_type_name' | translate}}</label>
                    <input type="text" name="RoleSubType" class="form-control" id="RoleSubType" formControlName="RoleSubType" placeholder="{{'epdb.admin.sub_partner_type.sub_partner_type_name' | translate}}">
                    <span class="messages text-danger" *ngIf="!editsubpartner.get('RoleSubType').valid && editsubpartner.get('RoleSubType').touched">* Please enter role sub type</span>
                </div>
                <div class="col-md-5 col-xl-5 form-group">&nbsp;</div>
                <div class="col-md-3 col-xl-3 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i> {{'general.btn_save_change' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="resetFormUpdate()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i>{{'general.btn_reset' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" [routerLink]="['/admin/partner-type/list-sub-partner-type']" class="btn btn-danger btn-md btn-block text-center">
                        <i class="icofont icofont-ui-close"></i>{{'general.btn_cancel' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>