<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>Setup Language</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4">
            <div class="col-md-12 col-xl-12 form-group row">
                <div class="col-md-6 col-xl-6">
                    <label class="col-form-label">Language</label>
                    <select name="oStatus" class="form-control" (change)="changetable($event.target.value)">
                        <option value="">{{'general.select' | translate}}</option>
                        <option *ngFor="let lang of translate.getLangs()" value={{lang}}>{{lang}}</option> 
                    </select>
                </div>
                <div class="col-md-6 col-xl-6" *ngIf="languageselect!=''">
                    <label class="col-form-label">Module</label>
                    <select name="oStatus" class="form-control" (change)="pickmodule($event.target.value)">
                        <option value="">{{'general.select' | translate}}</option>
                        <option *ngFor="let item of modulearr" value={{item.value}}>{{item.name}}</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12">&nbsp;</div>
                <div class="col-md-6 col-xl-6" *ngIf="moduleselect==true">
                    <label class="col-form-label">Sub Module</label>
                    <select name="oStatus" class="form-control" (change)="picksubmodule($event.target.value)">
                        <option value="">{{'general.select' | translate}}</option>
                        <option *ngFor="let item of submodulearr" value={{item.value}}>{{item.name}}</option>
                    </select>
                </div>
                <div class="col-md-6 col-xl-6" *ngIf="submoduleselect==true">
                    <label class="col-form-label">Sub Module</label>
                    <select name="oStatus" class="form-control" (change)="pickmenu($event.target.value)" (change)="picksubmenu($event.target.value)">
                        <option value="">{{'general.select' | translate}}</option>
                        <option *ngFor="let item of menuarr" value={{item.value}}>{{item.name}}</option>
                    </select>
                </div>
                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12">&nbsp;</div>
                <div class="col-md-6 col-xl-6" *ngIf="submenuselect==true">
                    <label class="col-form-label">Sub Menu</label>
                    <select name="oStatus" class="form-control" (change)="picksubmenucontent($event.target.value)">
                        <option value="">{{'general.select' | translate}}</option>
                        <option *ngFor="let item of submenuarr" value={{item.value}}>{{item.name}}</option>
                    </select>
                </div>
                <!-- <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12">&nbsp;</div>
                <div class="col-md-6 col-xl-6" *ngIf="submoduleselectcountry==true">
                    <label class="col-form-label">Sub Module</label>
                    <select name="oStatus" class="form-control" (change)="pickmenu($event.target.value)">
                        <option value="">-- Select Module --</option>
                        <option *ngFor="let item of menuarr" value={{item.value}}>{{item.name}}</option>
                    </select>
                </div> -->
                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12">&nbsp;</div>
                <table class="table table-striped table-bordered table-responsive" *ngIf="menuselect==true || submenuselectcontent==true">
                    <tbody>
                        <tr *ngFor="let item of contentarr">
                            <th width="50%">
                                {{item.name}}
                            </th>
                            <td width="50%">
                                <input (keyup)="inputchange($event.target.value,item.value)" type="text" class="form-control" value={{item.value}}/>
                            </td>
                            <td width="50%">
                                <a *ngIf="changevalue != '' && item.value == itemvalue" (click)="saveLanguage(item)" class="text-muted f-18" ngbTooltip="Save language"><i class="icofont icofont-save"></i></a>
                                <a *ngIf="changevalue == '' || item.value != itemvalue">&nbsp;</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- <form [formGroup]="addsetuplanguage" (ngSubmit)="onSubmit()">
    <div class="col-lg-12 col-xl-12 row">
        <div class="col-md-6 col-xl-6 form-group">
            <label class="col-form-label">{{'epdb.admin.setup-language.label-language' | translate}}</label>
            <select name="oStatus" class="form-control" id="geo" formControlName="geo">
                <option value="">{{'epdb.admin.setup-language.pholder-language' | translate}}</option>
                <option value="Contact Attribute">Indonesia</option>
                <option value="Contact Certification">Thai</option>
                <option value="Contact Journal Entry">Simplified Chinese</option>
                <option value="Contact Migration Anomalies">Germany</option>
                <option value="Contact Security Role">Spanyol</option> 
            </select>
        </div>
        <div class="col-md-12 col-xl-12 form-group">
            <table class="table table-striped table-bordered table-responsive full-data-table">
                <thead>
                    <tr>
                        <th width="40%">{{'epdb.admin.setup-language.table.header-1' | translate}}</th>
                        <th width="40%">{{'epdb.admin.setup-language.table.header-2' | translate}}</th>
                        <th width="40%">{{'epdb.admin.setup-language.table.header-3' | translate}}</th> 
                        <th width="40%">{{'epdb.admin.setup-language.table.header-4' | translate}}</th>
                    </tr> 
                </thead>
                <tbody>
                    <tr>
                        <td>1001</td>
                        <td>Click to Login</td> 
                        <td><input type="search"  class="form-control input-md full-data-search" placeholder="insert the language"></td> 
                        <td class="action-icon text-center"> 
                            <a (click)="openConfirmsSwal(item.invoice_type_id)" class="text-muted f-18" ngbTooltip="Save language"><i class="icofont icofont-save"></i></a>
                        </td> 
                    </tr> 
                    <tr>
                        <td>1002</td>
                        <td>Please Wait</td> 
                        <td><input type="search"  class="form-control input-md full-data-search" placeholder="insert the language"></td> 
                        <td class="action-icon text-center"> 
                            <a (click)="openConfirmsSwal(item.invoice_type_id)" class="text-muted f-18" ngbTooltip="Save language"><i class="icofont icofont-save"></i></a>
                        </td> 
                    </tr>
                    <tr>
                        <td>1003</td>
                        <td>Password Incorect</td> 
                        <td><input type="search"  class="form-control input-md full-data-search" placeholder="insert the language"></td> 
                        <td class="action-icon text-center"> 
                            <a (click)="openConfirmsSwal(item.invoice_type_id)" class="text-muted f-18" ngbTooltip="Save language"><i class="icofont icofont-save"></i></a>
                        </td> 
                    </tr>
                    <tr>
                        <td>1004</td>
                        <td>Redirecting</td> 
                        <td><input type="search"  class="form-control input-md full-data-search" placeholder="insert the language"></td> 
                        <td class="action-icon text-center"> 
                            <a (click)="openConfirmsSwal(item.invoice_type_id)" class="text-muted f-18" ngbTooltip="Save language"><i class="icofont icofont-save"></i></a>
                        </td> 
                    </tr>
                    <tr>
                        <td>1005</td>
                        <td>Session Expire</td> 
                        <td><input type="search"  class="form-control input-md full-data-search" placeholder="insert the language"></td> 
                        <td class="action-icon text-center"> 
                            <a (click)="openConfirmsSwal(item.invoice_type_id)" class="text-muted f-18" ngbTooltip="Save language"><i class="icofont icofont-save"></i></a>
                        </td> 
                    </tr>
                </tbody> 
            </table> 
            <br><br>
            <div class="mt-2 ml-2 col-md-12 col-xl-12 form-group row"> 
                <div class="col-md-3 col-xl-3 form-group"> 
                </div>
                <div class="col-md-3 col-xl-3 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center" (click)="openSuccessSwal()" [disabled]="!addsetuplanguage.valid"><i class="icofont icofont-save"></i> {{'general.btn_save' | translate}}</button>
                </div>
                <div class="col-md-3 col-xl-3 form-group"> 
                    <button type="button" [routerLink]="['/epdb/setup-language']" class="btn btn-default btn-md btn-block text-center"><i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}</button>
                </div>
                <div class="col-md-3 col-xl-3 form-group"> 
                    <button type="button" [routerLink]="['/epdb/setup-language']" class="btn btn-danger btn-md btn-block text-center"><i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</form> -->