
<div class="col-md-12 col-xl-4">
	<div class="card">
		<div class="card-block">
			<h3 style="text-align: center;vertical-align: middle;line-height: 90px;">THANK YOU!</h3>
		</div>
	</div>







</div>
