<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.currency.edit_currency' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="addCurrency" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.currency.currency' | translate}}</label>
                    <input type="text" class="form-control" formControlName="Key" placeholder="{{'epdb.admin.currency.currency' | translate}}">
                    <span class="messages text-danger" *ngIf="!addCurrency.get('Key').valid && addCurrency.get('Key').touched">* Please Enter Currency</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'general.description' | translate}}</label>
                    <textarea class="form-control" formControlName="KeyValue" rows="5" placeholder="{{'general.description' | translate}}"></textarea>
                    <span class="messages text-danger" *ngIf="!addCurrency.get('KeyValue').valid && addCurrency.get('KeyValue').touched">* Please Enter Description</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">&nbsp;</div>
                <div class="col-md-5 col-xl-5">&nbsp;</div>
                <div class="col-md-3 col-xl-3 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i>{{ 'general.btn_save_change' | translate }}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="resetCurrency()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }} </button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" [routerLink]="['/admin/currency']" class="btn btn-danger btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i> Back </button>
                </div>
                <!-- <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" [routerLink]="['/admin/currency']" class="btn btn-danger btn-md btn-block text-center">
                        <i class="icofont icofont-ui-close"></i>{{ 'general.btn_cancel' | translate }}</button>
                </div> -->
            </div>
        </form>
    </div>
</div>