<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.report_eva.student_search.student_search' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <form [formGroup]="queryForm" (ngSubmit)="onSubmit()">
                <div class="col-md-12 col-xl-12 form-group row">
                    <div class="col-md-12 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.report_eva.organization_report.filter_data' | translate}}:</label>
                        <br>
                        <label class="col-form-label">{{'eim.profile.my_profile.first_name' | translate}}</label>
                        <input type="text" class="form-control" id="FirstName" formControlName="filterByFirstName" placeholder="{{'eim.profile.my_profile.first_name' | translate}}">
                    </div>
                    <div class="col-md-12 col-xl-4 form-group">
                        <label class="col-form-label">&nbsp;</label>
                        <br>
                        <label class="col-form-label">{{'eim.profile.my_profile.last_name' | translate}}</label>
                        <input type="text" class="form-control" id="LastName" formControlName="filterByLastName" placeholder="{{'eim.profile.my_profile.last_name' | translate}}">
                    </div>
                    <div class="col-md-6 col-xl-4 form-group">
                        <label class="col-form-label">&nbsp;</label>
                        <br>
                        <label class="col-form-label">{{ 'epdb.manage.site.detail.site_id' | translate }}</label>
                        <!-- <input type="text" class="form-control" id="SiteId" formControlName="filterBySiteId" placeholder="{{ 'epdb.manage.site.detail.site_id' | translate }}"> -->
                        <ng2-completer [textSearching]="'Please wait...'" [(ngModel)]="siteId" [datasource]="dataService1" [minSearchLength]="2"
                        [inputClass]="['form-control']" (selected)="onSelected($event)" [matchClass]="completer-description"
                        formControlName="filterBySiteId" placeholder="Type to find Site here..." [clearUnselected]="true">
                        </ng2-completer>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.admin.country.geo.geo' | translate}}</label>
                        <angular2-multiselect [data]="dropdownListGeo " [(ngModel)]="selectedItemsGeo" [ngModelOptions]="{standalone:true}" [settings]="dropdownSettings"
                            (onSelect)="onGeoSelect($event)" (onDeSelect)="OnGeoDeSelect($event)" (onSelectAll)="onGeoSelectAll($event)"
                            (onDeSelectAll)="onGeoDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                    <!-- <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.admin.country.region.region' | translate}}</label>
                        <angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" [ngModelOptions]="{standalone: true}"
                            [settings]="dropdownSettings" (onSelect)="onRegionSelect($event)" (onDeSelect)="OnRegionDeSelect($event)"
                            (onSelectAll)="onRegionSelectAll($event)" (onDeSelectAll)="onRegionDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.admin.country.sub_region.sub_region' | translate}}</label>
                        <angular2-multiselect [data]="dropdownListSubRegion " [(ngModel)]="selectedItemsSubRegion" [ngModelOptions]="{standalone: true}"
                            [settings]="dropdownSettings" (onSelect)="onSubRegionSelect($event)" (onDeSelect)="OnSubRegionDeSelect($event)"
                            (onSelectAll)="onSubRegionSelectAll($event)" (onDeSelectAll)="onSubRegionDeSelectAll($event)">
                        </angular2-multiselect>
                    </div> -->
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.admin.country.countries.country' | translate}}</label>
                        <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" [settings]="dropdownSettings" [ngModelOptions]="{standalone: true}"
                            (onSelect)="onCountriesSelect($event)" (onDeSelect)="OnCountriesDeSelect($event)" (onSelectAll)="onCountriesSelectAll($event)"
                            (onDeSelectAll)="onCountriesDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                    <!-- <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">Sub Country</label>
                    </div> -->
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.report_eva.organization_report.survey_year' | translate}}</label>
                        <select name="oStatus" class="form-control" formControlName="filterByYear">
                            <!-- <option value="">{{ 'general.select' | translate }}</option> -->
                            <option *ngFor="let item of year" value="{{item.Key}}">{{item.KeyValue}}</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.report_eva.organization_report.month' | translate}}:</label>
                        <select name="date" class="form-control" formControlName="filterByDate">
                            <!-- <option value="">-- {{ 'general.select' | translate }} --</option> -->
                            <option *ngFor="let c of date" [ngValue]="c.id">{{c.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.admin.partner_type.partner_type' | translate}}</label>
                        <angular2-multiselect [data]="dropdownPartner" [(ngModel)]="selectedPartner" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                            (onSelect)="onPartnerSelect($event)" (onDeSelect)="OnPartnerDeSelect($event)" (onSelectAll)="onPartnerSelectAll($event)"
                            (onDeSelectAll)="onPartnerDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.admin.partner_type.certificate_type' | translate}}</label>
                        <angular2-multiselect [data]="dropdownCertificate" [(ngModel)]="selectedCertificate" [ngModelOptions]="{standalone: true}"
                            [settings]="dropdownSettings" (onSelect)="onCertificateSelect($event)" (onDeSelect)="OnCertificateDeSelect($event)"
                            (onSelectAll)="onCertificateSelectAll($event)" (onDeSelectAll)="onCertificateDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group" *ngIf="showEvent">
                        <label class="col-form-label">Event Type</label>
                        <angular2-multiselect [data]="dropdownEventType" [(ngModel)]="selectedEventType" [ngModelOptions]="{standalone: true}"
                            [settings]="dropdownSettings" (onSelect)="onEventTypeSelect($event)" (onDeSelect)="OnEventTypeDeSelect($event)"
                            (onSelectAll)="onEventTypeSelectAll($event)" (onDeSelectAll)="onEventTypeDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                    <!-- <div class="col-md-12 col-xl-12 form-group">
                        <div class="col-md-6 col-xl-6 row">
                            <label class="col-form-label">Results per page:</label>
                            <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                                <option [ngValue]="25">25</option>
                                <option [ngValue]="50">50</option>
                                <option [ngValue]="100">10</option>
                                <option [ngValue]="250">250</option>
                                <option [ngValue]="500">500</option>
                                <option [ngValue]="1000">1000</option>
                            </select>
                        </div>
                    </div> -->
                    <div class="col-md-10 col-xl-10">&nbsp;</div>
                    <div class="col-md-2 col-xl-2">
                        <button type="submit " class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                            <i class="icofont icofont-play-alt-1 "></i>{{ 'general.search' | translate }}</button>
                    </div>
                </div>
            </form>

            <div class="col-xs-12 col-sm-12 col-md-12 form-group" *ngIf="dataFound">
                <label class="col-form-label">{{'epdb.report_eva.organization_report.total_evaliation' | translate}}:
                    {{TotalEvaluation}}</label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" *ngIf="dataFound && report!=null && report != ''">
                <div class="text-right">
                    <i class="fa fa-file-excel-o"></i>
                    <a href="javascript:;" (click)="ExportExceltoXls()"> Export to .xls</a> &nbsp; 
                    <a href="javascript:;" (click)="ExportExceltoXlSX()"> Export to .xlsx</a> &nbsp; 
                    <a href="javascript:;" (click)="ExportExceltoCSV()"> Export to .csv</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;" *ngIf="dataFound">
        
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center">
                    <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                    <thead>
                        <tr *ngIf="cokelat != null">
                            <th width="10%" *ngFor="let kolom of cokelat">{{kolom}}</th>
                        </tr>
                    </thead>
                     <tbody *ngIf="report != null">
 
                        <tr *ngFor="let item of report | paginate : { itemsPerPage:10, currentPage:page, id : 1, totalItems:countdata }">
                            <td *ngFor="let kolom of cokelat">{{item[kolom]}}</td>
                        </tr>
                    </tbody>

                    <tbody *ngIf="report == null">
                       
                        <tr *ngFor="let item of report_temp | paginate : { itemsPerPage:10, currentPage:page, id : 1, totalItems:countdata }">
                            <td *ngFor="let kolom of cokelat">{{item[kolom]}}</td>
                        </tr>
                    </tbody>
                    <tfoot>

                        <tr *ngIf="report!=null && report != ''">
                            <td colspan="75" class="text-right">
                                <pagination-controls (pageChange)="page = getDetailData($event)" id="1" maxSize="8"
                                    directionLinks="true" autohide="true"></pagination-controls>
                            </td>
                        </tr>
                        <tr *ngIf="report==null">
                            <td colspan="75" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        
                        <tr *ngIf="report==''">
                            <td colspan="75" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                   
                </table>
            </div>
        </div>
    </div>

   

</div>