<div style="overflow: hidden; height: 100%">
	<object data="../../../assets/upload/usertraining/Learning_Partner_New_Training_Evaluation_System_FAQ_(7-2018)_FINAL.pdf" type="application/pdf" width="100%" height="100%"></object>
</div>

<!-- <embed src="../../../assets/upload/usertraining/File.pdf" width="100%" type="application/pdf" class="responsive"/> -->
