<div class="row">
    <div class="col-md-12 col-xl-12 page-header-title">
        <h4>Change Site Id</h4>
        <br/>
        <br/>
    </div>
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary">
            <br>
            <div class="col-md-12 col-xl-12">
                <label class="col-form-label">Change the SiteID for a site in the database. Use with caution. Should primarily be used for NOID sites.</label>
                <br/>
                <label class="col-form-label">
                    Use this form to change a Site's Id. The script modifies all of the tables that reference the site.
                </label>
                <br/>
                <label class="col-form-label">
                    <i>Please use with caution</i>
                </label>
            </div>
            <div class="col-lg-12 col-xl-12 form-group row" style="margin-top: 30px">
                <div class="col-md-12 col-xl-12 form-group">
                    <label class="col-form-label"><b>Old Id</b>:</label>
                    <input type="text" name="datefilter" class="form-control" value="" />
                </div>
            </div>
            <div class="col-lg-12 col-xl-12 form-group row">
                <div class="col-md-12 col-xl-12 form-group">
                    <label class="col-form-label"><b>New Id</b>:</label>
                    <input type="text" name="datefilter" class="form-control" value="" />
                </div>
            </div>
            <div class="col-md-12 col-xl-12 text-right"> 
                <div class="col-md-2 col-xl-2 page-header-title">
                    <button type="button" [routerLink]="['/epdb/change-site-id']" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-checked"></i> Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>