<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'menu_course.next_course' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}} &nbsp;
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        &nbsp; {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="">
                    <label class="label-control">{{'general.search' | translate}}: &nbsp;
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data | dataFilterNextCourse : filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="15%">
                                <mfDefaultSorter by="CourseId">{{'eva.manage_course.list_course.course_id' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="30%">
                                <mfDefaultSorter by="Name">{{'eva.manage_course.list_course.course_name' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="ContactName">{{'eva.manage_course.list_course.instructor' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="StartDate">{{'general.start_date' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="CompletionDate">{{'student.my_course.completion_date_on' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="5%">
                                <mfDefaultSorter by="Due">{{'student.my_course.due_days' | translate}}</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="data!=null">
                        <tr *ngFor="let item of mf.data">
                            <td data-label="CourseId">
                                <b class="availForMobile">{{'eva.manage_course.list_course.course_id' | translate}}</b>{{item.CourseId}}</td>
                            <td data-label="Name">
                                <b class="availForMobile">{{'eva.manage_course.list_course.course_name' | translate}}</b>{{item.Name}}</td>
                            <td data-label="ContactName">
                                <b class="availForMobile">{{'eva.manage_course.list_course.instructor_name' | translate}}</b>{{item.ContactName}}</td>
                            <td data-label="convertDate">
                                <b class="availForMobile">{{'general.start_date' | translate}}</b>{{item.StartDate}}</td>
                            <td data-label="CompletionDate">
                                <b class="availForMobile">{{'student.my_course.completion_course_date' | translate}}</b>{{item.CompletionDate}}</td>
                            <td data-label="Due">
                                <b class="availForMobile">Due</b>{{item.Due}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="data!=null">
                            <td colspan="7">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="7" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="7" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>




    <!-- <div class="card-block">
        <div class="dt-responsive dt-bootstrap4">
            <div class="col-sm-12" *ngFor="let item of data; let i = index">
                <div class="card card-border-default">
                    <div class="card-header">
                        <span>#{{i+1}}. {{item.Name}} ({{item.CourseId}}) </span>
                        <span class="label label-default f-right"> {{item.StartDate | convertDate}} </span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="task-detail">
                                    <strong>{{'eva.manage_course.list_course.instructor' | translate}} : </strong>{{item.ContactName}}
                                    <br/>
                                    <strong>Completion Date on : </strong>{{item.CompletionDate | convertDate}}
                                </p>
                                <p class="task-due" *ngIf="item.Due != ''">
                                    <strong> Due : </strong>
                                    <strong class="label label-success">{{item.Due}} Days</strong>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
</div>