<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid col-md-9">
    <div class="row">
      
      <div class="col-md-5 col-sm-12">
        <div class="login-card card-body auth-body">
          <div class="md-float-material">
            <div class="text-center">
              <img src="assets/images/auth/logo2.png" alt="logo2.png">
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left">Set Your Password</h3>
                </div>
              </div>
              <form [formGroup]="changepasswordform" (ngSubmit)="onSubmit()">
                <div class="col-md-12 col-xl-12 form-group text-left" *ngIf="contactid=='' || siteid == ''">
                  <input [(ngModel)]="password" type="password" class="form-control" id="currentpassword"  placeholder="Current Password" formControlName="currentpassword">
                  <span class="messages text-danger" *ngIf="!changepasswordform.get('currentpassword').valid && changepasswordform.get('currentpassword').touched">* Please Enter Current Password</span>
                </div>
                <div class="col-md-12 col-xl-12 form-group text-left">
                  <input type="password" class="form-control" id="password"  placeholder="New Password" formControlName="password">
                  <span class="messages text-danger" *ngIf="!changepasswordform.get('password').valid && changepasswordform.get('password').touched">* Password must be different with current password<br/>and min length 6 and must be use at least<br/>1 number and 1 special character</span>
                </div>
                <div class="col-md-12 col-xl-12 form-group text-left">
                  <input type="password" class="form-control" id="rpassword" placeholder="Repeat Password" formControlName="rpassword">
                  <span class="messages text-danger" *ngIf="!changepasswordform.get('rpassword').valid && changepasswordform.get('rpassword').touched">* Repeat Password Wrong</span>
                </div>
                <div class="col-md-12 col-xl-12 form-group">
                  <button type="submit" [disabled]="!changepasswordform.valid" class="btn btn-success btn-md btn-block text-center">
                      {{ 'eim.profile.change_password.change_password' | translate }}
                  </button>
                </div>
              </form>
              <hr/>
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">{{'login_register.thank_you' | translate}}.</p>
                </div>
                <div class="col-md-2">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 offset-md-1 col-sm-12">
        <div class="login-card card-body auth-body"  style="
          background-color: #ffffff;
          border-radius: 8px;
          padding-bottom: 60px;
          margin: 56px 0 0px 0;">
          <div style="color: #383636;font-size: 28px;text-align: left;font-weight: inherit;">
            {{'login_register.info_admin1' | translate}}
            <br/>& {{'login_register.info_admin2' | translate}}
            <br/>
            <br/>
          </div>
          <div style="color: #383636;font-size: 18px;text-align: left;font-weight: inherit;">
            <strong>
              {{'login_register.info_admin3' | translate}} &
              <br/>{{'login_register.info_admin4' | translate}}
            </strong>
            <br/>
            <br/> {{'login_register.info_admin5' | translate}}
            <br/>{{'login_register.info_admin6' | translate}}
            <br/>{{'login_register.info_admin7' | translate}}.
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>