<ngx-loading [show]="loading" [config]="{
  backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
  primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
  <div class="card-header">
      <div class="page-header-title">
          <h4>Merge Student</h4>
      </div>
  </div>
  <div class="card-block">
    <div class="">
      <table class="table table-bordered table-responsive" style="display:block">
        <thead>
          <tr>
            <th colspan="3" class="bg-disable">
              <div class="text-center"><b>Student to Mark as Duplicate</b></div>
              <div class="text-center text-danger">This Student will be "RETIRED"</div>
              <div class="text-center text-danger">Choose items to copy over to the Master</div>
            </th>
            <th colspan="3">
              <div class="text-center"><b>Master Student - the one to Keep</b></div>
              <div class="text-center"><b>This Student will get "bigger"</b></div>
              <div class="text-center"><b>Chosen items will be added or overwrite existing items</b></div>
            </th>
          </tr>
          <tr>
            <td>Item</td>
            <td>Value to copy</td>
            <td>Copy</td>
            <td colspan="3">Current Value - will be overwriten if checkbox is checked</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Student Id</td>
            <td>{{dup_data.studentID}}</td>
            <td></td>
            <td colspan="3">
              <div class="form-group row mb-0">
                <div class="col-sm-5 col-form-label pr-0" style="white-space: normal;">Id of the Student you want to keep</div>
                <div class="col-sm-3 p-0"><input class="form-control" [(ngModel)]="searchId"></div>
                <div class="col-sm-3"><button class="btn btn-primary" (click)="search()">Search</button></div>
              </div>
            </td>
          </tr>
          <tr>
            <th>First name</th>
            <th colspan="2">{{dup_data.firstname}} {{dup_data.firstname}}</th>
            <th>First name</th>
            <th colspan="2">{{base_master_data.firstname}} {{base_master_data.firstname}}</th>
          </tr>
          <tr>
            <th>Last name</th>
            <th colspan="2">{{dup_data.lastname}}</th>
            <th>Last name</th>
            <th colspan="2">{{base_master_data.lastname}}</th>
          </tr>
          <tr>
            <th>Email</th>
            <th colspan="2">{{dup_data.email}}</th>
            <th>Email</th>
            <th colspan="2">{{base_master_data.email}}</th>
          </tr>
          <tr>
            <th>Last Login</th>
            <th colspan="2">{{dup_data.lastLogin | date}}</th>
            <th>Last Login</th>
            <th colspan="2">{{base_master_data.lastLogin | date}}</th>
          </tr>
          <tr>
            <th colspan="3">Attributes, Journal Entries, etc</th>
            <th colspan="3">Attributes, Journal Entries, etc</th>
          </tr>
          <tr>
            <td colspan="3">
              <ng-container *ngIf="dup_data.journalEntries">
                <div *ngFor="let d of dup_data.journalEntries" class="d-flex justify-content-between pr-2">
                  <span>{{d.journalId}}</span>
                  <span>{{d.entryType}}</span>
                  <input type="checkbox" (change)="checkField($event,'journalEntries',d)" [disabled]="!base_master_data.studentID"/>
                </div>
              </ng-container>
            </td>
            <td colspan="3">
              <ng-container *ngIf="base_master_data.journalEntries">
                <div *ngFor="let d of base_master_data.journalEntries" class="d-flex justify-content-between pr-2">
                  <span>{{d.journalId}}</span>
                  <span>{{d.entryType}}</span>
                </div>
              </ng-container>
              <ng-container *ngIf="master_data.journalEntries">
                <div *ngFor="let d of master_data.journalEntries" class="d-flex justify-content-between pr-2">
                  <span>{{d.journalId}}</span>
                  <span>{{d.entryType}}</span>
                </div>
              </ng-container>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <button *ngIf="base_master_data.studentID" class="btn btn-secondary" (click)="merge()">Mark as duplicate</button>
            </td>
            <td colspan="3">
              <button *ngIf="base_master_data.studentID" class="btn btn-primary" (click)="reset()">Look up another</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>