table{
    table-layout: fixed;
}
table td{
    word-wrap:break-word;
    white-space: normal;
}
table th{
    text-align: center;
}

.table-responsive {
    display: table;
}

th {
    text-align: center;
}

td {
    text-align: center;
}