<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.distributor.add_distributor_site' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4  row p-20">
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.admin.country.geo.geo' | translate}}</label>
                <angular2-multiselect [data]="dropdownListGeo" [(ngModel)]="selectedItemsGeo" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                    (onSelect)="onGeoSelect($event)" (onDeSelect)="OnGeoDeSelect($event)" (onSelectAll)="onGeoSelectAll($event)"
                    (onDeSelectAll)="onGeoDeSelectAll($event)">
                </angular2-multiselect>
            </div>

            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.admin.country.region.region' | translate}}</label>
                <angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onRegionSelect($event)" (onDeSelect)="OnRegionDeSelect($event)"
                    (onSelectAll)="onRegionSelectAll($event)" (onDeSelectAll)="onRegionDeSelectAll($event)">
                </angular2-multiselect>
            </div>

            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.admin.country.sub_region.sub_region' | translate}}</label>
                <angular2-multiselect [data]="dropdownListSubRegion" [(ngModel)]="selectedItemsSubRegion" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onSubRegionSelect($event)" (onDeSelect)="OnSubRegionDeSelect($event)"
                    (onSelectAll)="onSubRegionSelectAll($event)" (onDeSelectAll)="onSubRegionDeSelectAll($event)">
                </angular2-multiselect>
            </div>

            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.admin.country.countries.country' | translate}}</label>
                <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownCountrySettings" (onSelect)="onCountriesSelect($event)" (onDeSelect)="OnCountriesDeSelect($event)">
                </angular2-multiselect>
            </div>

            <div class="col-md-2 col-xl-2 form-group">
                <label class="col-form-label">&nbsp;</label>
                <button type="button" (click)="search()" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                    <i class="icofont icofont-ui-search"></i>{{'general.btn_search' | translate}}
                </button>
            </div>
            <div class="col-md-6 col-xl-6"></div>
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="sites | dataFilterDistributorSite : filterQuery"
                #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy">
                <thead>
                    <tr>
                        <th width="20%">
                            <mfDefaultSorter by="SiteId">{{'epdb.manage.site.detail.site_id' | translate}}</mfDefaultSorter>
                        </th>
                        <th width="20%">
                            <mfDefaultSorter by="OrgId">{{'epdb.manage.organization.detail.organization_id' | translate}}</mfDefaultSorter>
                        </th>
                        <th width="20%">{{'general.type' | translate}}</th>
                        <th width="20%">
                            <mfDefaultSorter by="SiteName">{{'epdb.manage.site.detail.site_name' | translate}}</mfDefaultSorter>
                        </th>
                        <th width="10%">{{'general.btn_add' | translate}}</th>
                        <th width="10%">Primary</th>
                    </tr>
                </thead>
                <tbody *ngIf="sites!=null">
                    <tr *ngFor="let item of mf.data">
                        <td>{{item.SiteId}}</td>
                        <td>{{item.OrgId}}</td>
                        <td>{{item.Roles}}</td>
                        <td>{{item.SiteName}}</td>
                        <td>
                            <div class="checkbox-fade fade-in-primary">
                                <label *ngIf="primarySite != '' && primarySite == item.SiteId; else nothing">
                                    <input type="checkbox" (change)="addSite(item.SiteId, $event.target.checked)" checked>
                                    <span class="cr">
                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                    </span>
                                </label>

                                <ng-template #nothing>
                                    <label>
                                        <input type="checkbox" (change)="addSite(item.SiteId, $event.target.checked)">
                                        <span class="cr">
                                            <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                        </span>
                                    </label>
                                </ng-template>
                            </div>
                        </td>
                        <!-- <td>
                            <div class="checkbox-fade fade-in-primary">
                                <label>
                                    <input type="checkbox" (change)="addPrimary(item.SiteId, $event.target.checked)">
                                    <span class="cr">
                                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                    </span>
                                </label>
                            </div>
                        </td> -->
                        <div class="form-radio">
                            <div class="radio radiofill radio-inline">
                                <label>
                                    <input type="radio" name="radio" (change)="addPrimary(item.SiteId)">
                                    <i class="helper"></i>
                                </label>
                            </div>
                        </div>
                    </tr>
                </tbody>
                <tfoot>
                    <tr *ngIf="sites!=null">
                        <td colspan="6">
                            <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    <tr *ngIf="sites==null">
                        <td colspan="6" class="text-center">{{'general.cant_find_data' | translate}}</td>
                    </tr>
                    <tr *ngIf="sites==''">
                        <td colspan="6" class="text-center">{{'general.data_empty' | translate}}</td>
                    </tr>
                </tfoot>
            </table>

            <div class="col-md-6 col-xl-6 "></div>
            <div class="col-md-2 col-xl-2 form-group">
                <button type="button" (click)="saveSite()" class="btn btn-success btn-md btn-block text-center">
                    <i class="icofont icofont-save"></i>{{ 'general.btn_save' | translate }}</button>
            </div>
            <div class="col-md-2 col-xl-2 form-group">
                <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                    <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }} </button>
            </div>
            <div class="col-md-2 col-xl-2 form-group">
                <button type="button" (click)="backToAddDistributor()" class="btn btn-danger btn-md btn-block text-center">
                    <i class="icofont icofont-ui-close"></i>{{ 'general.btn_cancel' | translate }}</button>
            </div>
        </div>
    </div>
</div>