<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
	<div class="card-header">
		<div class="page-header-title">
			<h4>{{'epdb.manage.site.add_edit.edit_site' | translate}}</h4>
		</div>
	</div>
	<div class="card-block">
		<form [formGroup]="editsite" (ngSubmit)="onSubmit()">
			<div class="dt-responsive dt-bootstrap4 row p-20">
				<div class="col-md-12 col-xl-12 form-group" *ngIf="datadetail!=null">
					<label class="col-form-label">{{'epdb.manage.organization.detail.organization' | translate}} : {{datadetail.OrgName}} ({{datadetail.OrgId}})</label>
				</div>

				<div class="col-md-12 col-xl-4 form-group">
					<label class="col-form-label">{{'epdb.manage.site.detail.site_name' | translate}}</label>
					<input type="text" class="form-control" id="SiteName" formControlName="SiteName">
				</div>

				<div class="col-md-12 col-xl-4 form-group">
					<label class="col-form-label">{{'epdb.manage.site.add_edit.english_site_name' | translate}}</label>
					<input type="text" class="form-control" id="EnglishSiteName" formControlName="EnglishSiteName">
				</div>

				<div class="col-md-12 col-xl-4 form-group">
					<label class="col-form-label">{{'epdb.manage.site.add_edit.commercial_site_name' | translate}}</label>
					<input type="text" class="form-control" id="CommercialSiteName" formControlName="CommercialSiteName">
				</div>

				<div class="col-md-12 col-xl-4 form-group">
					<label class="col-form-label">{{'epdb.manage.site.add_edit.workstation' | translate}}
						<code>*</code>
					</label>
					<input type="text" class="form-control" id="Workstations" formControlName="Workstations">
					<span class="messages text-danger" *ngIf="!editsite.get('Workstations').valid && editsite.get('Workstations').touched">* Please Enter Workstations Number</span>
				</div>
				<!-- <div class="col-md-12 col-xl-4 form-group">
					<label class="col-form-label">{{'epdb.manage.site.add_edit.magellan_id' | translate}}</label>
					<input type="text" class="form-control" id="MagellanId" formControlName="MagellanId">
				</div> -->
				<div class="col-md-12 col-xl-4 form-group">
					<label class="col-form-label">{{'eim.profile.my_profile.telephone' | translate}}
						<code>*</code>
					</label>
					<input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43"
					 class="form-control" id="SiteTelephone" formControlName="SiteTelephone">
					<span class="messages text-danger" *ngIf="!editsite.get('SiteTelephone').valid && editsite.get('SiteTelephone').touched">* Please Enter Telephone Number</span>
				</div>

				<div class="col-md-12 col-xl-4 form-group">
					<label class="col-form-label">{{'epdb.manage.organization.detail.fax' | translate}}</label>
					<input type="text" class="form-control" id="SiteFax" formControlName="SiteFax">
				</div>

				<div class="col-md-12 col-xl-4 form-group">
					<label class="col-form-label">{{'general.email' | translate}}
						<code>*</code>
					</label>
					<input type="email" class="form-control" id="SiteEmailAddress" formControlName="SiteEmailAddress">
					<span class="messages text-danger" *ngIf="!editsite.get('SiteEmailAddress').valid && editsite.get('SiteEmailAddress').touched">* Please Enter Email Address</span>
				</div>
				<div class="col-md-12 col-xl-4 form-group">
					<label class="col-form-label">{{ 'epdb.admin.partner_type.partner_type' | translate }}
						<code>*</code>
					</label>
					<angular2-multiselect [data]="dropdownListPartnerType" [(ngModel)]="selectedItemsPartnerType" [ngModelOptions]="{standalone: true}"
					 [settings]="dropdownSettingsPartnerType" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
					 (onDeSelectAll)="onDeSelectAll($event)">
					</angular2-multiselect>
					<span class="messages text-danger" *ngIf="!validpartnertype">* Please Enter Partner Type</span>
				</div>

				<div class="col-md-12 col-xl-12 form-group row" *ngFor="let item of arrpartnertype">
					<div class="col-md-12 col-xl-12">{{item[3]}}</div>
          <div class="col-md-12 col-xl-4" *ngIf="item[0] == '1' || item[0] == '58' || item[0] == '60' || item[0] == '55' || item[0] == '54' || item[0] == '61' ">
            <label class="col-form-label">{{ 'epdb.admin.sub_partner_type.sub_partner_type' | translate }}</label>
            <select name="select" class="form-control" id="SubPartnerType_{{item[0]}}" *ngIf="item[0] == '1'">
              <option value="">-- {{ 'general.select' | translate }} --</option>
              <option *ngFor="let item2 of subpartnertype_1" value={{item2.RoleParamId}} [attr.selected]="item[10] == item2.RoleParamId ? true : null">{{item2.ParamValue}}</option>
            </select>
            <select name="select" class="form-control" id="SubPartnerType_{{item[0]}}" *ngIf="item[0] == '58'">
              <option value="">-- {{ 'general.select' | translate }} --</option>
              <option *ngFor="let item2 of subpartnertype_58" value={{item2.RoleParamId}} [attr.selected]="item[10] == item2.RoleParamId ? true : null">{{item2.ParamValue}}</option>
            </select>
            <select name="select" class="form-control" id="SubPartnerType_{{item[0]}}" *ngIf="item[0] == '60'">
              <option value="">-- {{ 'general.select' | translate }} --</option>
              <option *ngFor="let item2 of subpartnertype_60" value={{item2.RoleParamId}} [attr.selected]="item[10] == item2.RoleParamId ? true : null">{{item2.ParamValue}}</option>
            </select>
            <select name="select" class="form-control" id="SubPartnerType_{{item[0]}}" *ngIf="item[0] == '55'">
              <option value="">-- {{ 'general.select' | translate }} --</option>
              <option *ngFor="let item2 of subpartnertype_55" value={{item2.RoleParamId}} [attr.selected]="item[10] == item2.RoleParamId ? true : null">{{item2.ParamValue}}</option>
            </select>
            <select name="select" class="form-control" id="SubPartnerType_{{item[0]}}" *ngIf="item[0] == '54'">
              <option value="">-- {{ 'general.select' | translate }} --</option>
              <option *ngFor="let item2 of subpartnertype_54" value={{item2.RoleParamId}} [attr.selected]="item[10] == item2.RoleParamId ? true : null">{{item2.ParamValue}}</option>
            </select>
            <select name="select" class="form-control" id="SubPartnerType_{{item[0]}}" *ngIf="item[0] == '61'">
              <option value="">-- {{ 'general.select' | translate }} --</option>
              <option *ngFor="let item2 of subpartnertype_61" value={{item2.RoleParamId}} [attr.selected]="item[10] == item2.RoleParamId ? true : null">{{item2.ParamValue}}</option>
            </select>
          </div>
					<div class="col-md-12 col-xl-4">
						<label class="col-form-label">{{ 'general.status' | translate }}</label>
						<select name="select" class="form-control" id="Status_{{item[0]}}">
				<!--<option value="">-- {{ 'general.select' | translate }} --</option> -->
							<option *ngFor="let item2 of partnertypestatus" value={{item2.Key}} [attr.selected]="item[4] == item2.Key ? true : null">
								{{item2.KeyValue}}
							</option>
						</select>
					</div>
					<div class="col-md-12 col-xl-4" *ngIf="item[0]=='58'">
						<label class="col-form-label">{{ 'epdb.manage.site.add_edit.initial_accreditation_date' | translate}}</label>
						<div class="form-inline">
							<div class="form-group">
								<div class="input-group">
									<input class="form-control" placeholder="yyyy-mm-dd" name="dp1" ngbDatepicker #d1="ngbDatepicker" readonly="true" id="InitialAccreditationDate_{{item[0]}}"
									 value={{item[5]}}>
									<div class="input-group-addon bg-default" (click)="d1.toggle()">
										<span class="icofont icofont-ui-calendar"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12 col-xl-4">
						<label class="col-form-label">{{ 'epdb.manage.site.add_edit.location_csn' | translate }}</label>
						<input type="text" class="form-control" id="LocationCSN_{{item[0]}}" value={{item[6]}}>
					</div>
					<div class="col-md-12 col-xl-4">
						<label class="col-form-label">{{ 'epdb.manage.site.add_edit.parent_csn' | translate }}</label>
						<input type="text" class="form-control" id="ParentCSN_{{item[0]}}" value={{item[7]}}>
					</div>
					<div class="col-md-12 col-xl-4">
						<label class="col-form-label">{{ 'epdb.manage.site.add_edit.ultimate_parent_csn' | translate }}</label>
						<input type="text" class="form-control" id="UltimateParentCSN_{{item[0]}}" value={{item[8]}}>
					</div>
				</div>

				<div class="col-md-12 col-xl-10 form-group">
					<label class="col-form-label">{{'epdb.manage.site.add_edit.site_web_address' | translate}}</label>
					<input type="text" class="form-control" id="SiteWebAddress" formControlName="SiteWebAddress" (keyup)="getwebaddress($event.target.value)">
				</div>
				<div class="col-md-12 col-xl-2 form-group">
					<label class="col-form-label">&nbsp;</label>
					<button type="button" (click)="testwebaddress()" class="btn btn-primary btn-sm btn-block waves-effect text-center">Test</button>
				</div>

				<div class="col-md-12 col-xl-12 form-group">
					&nbsp;
				</div>

				<div class="col-md-12 col-xl-4 form-group">

					<div class="col-md-12 col-xl-12 form-group">
						<h4>{{'epdb.manage.site.add_edit.site_address' | translate}}</h4>
					</div>

					<!-- <div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'epdb.manage.organization.add_edit.department' | translate}}</label>
						<input type="text" class="form-control" id="SiteDepartment" formControlName="SiteDepartment">
					</div> -->
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.address' | translate}} 1
							<code>*</code>
						</label>
						<input type="text" class="form-control" id="SiteAddress1" formControlName="SiteAddress1">
						<span class="messages text-danger" *ngIf="!editsite.get('SiteAddress1').valid && editsite.get('SiteAddress1').touched">* Please Enter Site Address</span>
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.address' | translate}} 2</label>
						<input type="text" class="form-control" id="SiteAddress2" formControlName="SiteAddress2">
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.address' | translate}} 3</label>
						<input type="text" class="form-control" id="SiteAddress3" formControlName="SiteAddress3">
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.city' | translate}}
							<code>*</code>
						</label>
						<input type="text" class="form-control" id="SiteCity" formControlName="SiteCity">
						<span class="messages text-danger" *ngIf="!editsite.get('SiteCity').valid && editsite.get('SiteCity').touched">* Please Enter Site City</span>
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'epdb.admin.country.countries.country' | translate}}
							<code>*</code>
						</label>
						<select name="select" class="form-control" id="SiteCountryCode" formControlName="SiteCountryCode" (change)="getState2($event.target.value)">
							<option value="">-- {{'general.select' | translate}} --</option>
							<option *ngFor="let item of datacountry" value={{item.countries_code}}>{{item.countries_name}}</option>
						</select>
						<span class="messages text-danger" *ngIf="!editsite.get('SiteCountryCode').valid && editsite.get('SiteCountryCode').touched">* Please Enter Site Country</span>
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.state' | translate}}</label>
						<b>{{editsite.SiteStateProvince}}</b>
						<select name="select" class="form-control" id="SiteStateProvince" formControlName="SiteStateProvince">
							<option value="">-- {{'general.select' | translate}} --</option>
							<option *ngFor="let item of datastate2" value={{item.SiteStateProvince}} [attr.selected]="SiteStateProvince == item.SiteStateProvince ? true : null">{{item.SiteStateProvince}}</option>
						</select>
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.postal_code' | translate}}</label>
						<input type="text" class="form-control" id="SitePostalCode" formControlName="SitePostalCode">
					</div>
				</div>


				<div class="col-md-12 col-xl-4 form-group">

					<div class="col-md-12 col-xl-12 form-inline">
						<h4>{{'epdb.manage.organization.detail.mailing_address' | translate}}</h4>
						<button type="button" (click)="getSiteInvoice()" class="col-md-3 btn btn-default btn-sm btn-block waves-effect text-center m-b-10">copy</button>
					</div>

					<!-- <div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'epdb.manage.organization.add_edit.department' | translate}}</label>
						<input type="text" class="form-control" [(ngModel)]="MailingDepartment" id="MailingDepartment" formControlName="MailingDepartment">
					</div> -->
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.address' | translate}} 1
							<code>*</code>
						</label>
						<input type="text" class="form-control" [(ngModel)]="MailingAddress1" id="MailingAddress1" formControlName="MailingAddress1">
						<span class="messages text-danger" *ngIf="!editsite.get('MailingAddress1').valid && editsite.get('MailingAddress1').touched">* Please Enter Mailing Address</span>
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.address' | translate}} 2</label>
						<input type="text" class="form-control" [(ngModel)]="MailingAddress2" id="MailingAddress2" formControlName="MailingAddress2">
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.address' | translate}} 3</label>
						<input type="text" class="form-control" [(ngModel)]="MailingAddress3" id="MailingAddress3" formControlName="MailingAddress3">
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.city' | translate}}
							<code>*</code>
						</label>
						<input type="text" class="form-control" [(ngModel)]="MailingCity" id="MailingCity" formControlName="MailingCity">
						<span class="messages text-danger" *ngIf="!editsite.get('MailingCity').valid && editsite.get('MailingCity').touched">* Please Enter Mailing City</span>
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'epdb.admin.country.countries.country' | translate}}
							<code>*</code>
						</label>
						<select name="select" class="form-control" id="MailingCountryCode" formControlName="MailingCountryCode" (change)="getState3($event.target.value)">
							<option value="">-- {{'general.select' | translate}} --</option>
							<option *ngFor="let item of datacountry" value={{item.countries_code}}>{{item.countries_name}}</option>
						</select>
						<span class="messages text-danger" *ngIf="!editsite.get('MailingCountryCode').valid && editsite.get('MailingCountryCode').touched">* Please Enter Mailing Country</span>
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.state' | translate}}</label>
						<select name="select" class="form-control" id="MailingStateProvince" formControlName="MailingStateProvince">
							<option value="">-- {{'general.select' | translate}} --</option>
							<option *ngFor="let item of datastate3" value={{item.MailingStateProvince}}>{{item.MailingStateProvince}}</option>
						</select>
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.postal_code' | translate}}</label>
						<input type="text" class="form-control" [(ngModel)]="MailingPostalCode" id="MailingPostalCode" formControlName="MailingPostalCode">
					</div>
				</div>

				<div class="col-md-12 col-xl-4 form-group">

					<div class="col-md-12 col-xl-12 form-inline">
						<h4>{{'epdb.manage.organization.detail.shipping_address' | translate}}</h4>
						<button type="button" (click)="getSiteContract()" class="col-md-3 btn btn-default btn-sm btn-block waves-effect text-center m-b-10">copy</button>
					</div>

					<!-- <div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'epdb.manage.organization.add_edit.department' | translate}}</label>
						<input type="text" class="form-control" [(ngModel)]="ShippingDepartment" id="ShippingDepartment" formControlName="ShippingDepartment">
					</div> -->
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.address' | translate}} 1
							<code>*</code>
						</label>
						<input type="text" class="form-control" [(ngModel)]="ShippingAddress1" id="ShippingAddress1" formControlName="ShippingAddress1">
						<span class="messages text-danger" *ngIf="!editsite.get('ShippingAddress1').valid && editsite.get('ShippingAddress1').touched">* Please Enter Shiping Address</span>
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.address' | translate}} 2</label>
						<input type="text" class="form-control" [(ngModel)]="ShippingAddress2" id="ShippingAddress2" formControlName="ShippingAddress2">
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.address' | translate}} 3</label>
						<input type="text" class="form-control" [(ngModel)]="ShippingAddress3" id="ShippingAddress3" formControlName="ShippingAddress3">
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.city' | translate}}
							<code>*</code>
						</label>
						<input type="text" class="form-control" [(ngModel)]="ShippingCity" id="ShippingCity" formControlName="ShippingCity">
						<span class="messages text-danger" *ngIf="!editsite.get('ShippingCity').valid && editsite.get('ShippingCity').touched">* Please Enter Shiping City</span>
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'epdb.admin.country.countries.country' | translate}}
							<code>*</code>
						</label>
						<select name="select" class="form-control" id="ShippingCountryCode" formControlName="ShippingCountryCode" (change)="getState4($event.target.value)">
							<option value="">-- {{'general.select' | translate}} --</option>
							<option *ngFor="let item of datacountry" value={{item.countries_code}}>{{item.countries_name}}</option>
						</select>
						<span class="messages text-danger" *ngIf="!editsite.get('ShippingCountryCode').valid && editsite.get('ShippingCountryCode').touched">* Please Enter Shiping Country</span>
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.state' | translate}}</label>
						<select name="select" class="form-control" id="ShippingStateProvince" formControlName="ShippingStateProvince" >
							<option value="">-- {{'general.select' | translate}} --</option>
							<option *ngFor="let item of datastate4" value={{item.ShippingStateProvince}}>{{item.ShippingStateProvince}}</option>
						</select>
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.postal_code' | translate}}</label>
						<input type="text" class="form-control" [(ngModel)]="ShippingPostalCode" id="ShippingPostalCode" formControlName="ShippingPostalCode">
					</div>
				</div>

				<div class="col-md-12 col-xl-12 form-group">
					&nbsp;
				</div>

				<div class="col-md-6 col-xl-6 form-group">

					<div class="col-md-12 col-xl-12 form-group">
						<h4>{{'epdb.manage.site.add_edit.site_manager' | translate}}</h4>
					</div>

					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.first_name' | translate}}
							<code>*</code>
						</label>
						<input type="text" class="form-control" id="SiteManagerFirstName" formControlName="SiteManagerFirstName">
						<span class="messages text-danger" *ngIf="!editsite.get('SiteManagerFirstName').valid && editsite.get('SiteManagerFirstName').touched">* Please Enter Site Manager First Name</span>
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.last_name' | translate}}
							<code>*</code>
						</label>
						<input type="text" class="form-control" id="SiteManagerLastName" formControlName="SiteManagerLastName">
						<span class="messages text-danger" *ngIf="!editsite.get('SiteManagerLastName').valid && editsite.get('SiteManagerLastName').touched">* Please Enter Site Manager Last Name</span>
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'general.email' | translate}}
							<code>*</code>
						</label>
						<input type="email" class="form-control" id="SiteManagerEmailAddress" formControlName="SiteManagerEmailAddress">
						<span class="messages text-danger" *ngIf="!editsite.get('SiteManagerEmailAddress').valid && editsite.get('SiteManagerEmailAddress').touched">* Please Enter Email Address</span>
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.telephone' | translate}}
							<code>*</code>
						</label>
						<input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43 || event.charCode == 32 || event.charCode == 45"
						 class="form-control" id="SiteManagerTelephone" formControlName="SiteManagerTelephone">
						<span class="messages text-danger" *ngIf="!editsite.get('SiteManagerTelephone').valid && editsite.get('SiteManagerTelephone').touched">* Please Enter Telephone Number</span>
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'epdb.manage.organization.detail.fax' | translate}}</label>
						<input type="text" class="form-control" id="SiteManagerFax" formControlName="SiteManagerFax">
					</div>

				</div>

				<div class="col-md-6 col-xl-6 form-group">

					<div class="col-md-12 col-xl-12 form-inline">
						<h4>{{'epdb.manage.site.add_edit.site_administrator' | translate}}</h4>
						<button type="button" (click)="getManagerAdmin()" class="col-md-3 btn btn-default btn-sm btn-block waves-effect text-center m-b-10">copy</button>
					</div>

					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.first_name' | translate}}
							<code>*</code>
						</label>
						<input type="text" class="form-control" [(ngModel)]="SiteAdminFirstName" id="SiteAdminFirstName" formControlName="SiteAdminFirstName">
						<span class="messages text-danger" *ngIf="!editsite.get('SiteAdminFirstName').valid && editsite.get('SiteAdminFirstName').touched">* Please Enter Site Admin First Name</span>
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.last_name' | translate}}
							<code>*</code>
						</label>
						<input type="text" class="form-control" [(ngModel)]="SiteAdminLastName" id="SiteAdminLastName" formControlName="SiteAdminLastName">
						<span class="messages text-danger" *ngIf="!editsite.get('SiteAdminLastName').valid && editsite.get('SiteAdminLastName').touched">* Please Enter Site Admin Last Name</span>
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{ 'general.email' | translate }}
							<code>*</code>
						</label>
						<input type="email" class="form-control" [(ngModel)]="SiteAdminEmailAddress" id="SiteAdminEmailAddress" formControlName="SiteAdminEmailAddress">
						<span class="messages text-danger" *ngIf="!editsite.get('SiteAdminEmailAddress').valid && editsite.get('SiteAdminEmailAddress').touched">* Please Enter Email Address</span>
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'eim.profile.my_profile.telephone' | translate}}
							<code>*</code>
						</label>
						<input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43"
						 class="form-control" [(ngModel)]="SiteAdminTelephone" id="SiteAdminTelephone" formControlName="SiteAdminTelephone">
						<span class="messages text-danger" *ngIf="!editsite.get('SiteAdminTelephone').valid && editsite.get('SiteAdminTelephone').touched">* Please Enter Telephone Number</span>
					</div>
					<div class="col-md-12 col-xl-12 form-group">
						<label class="col-form-label">{{'epdb.manage.organization.detail.fax' | translate}}</label>
						<input type="text" class="form-control" [(ngModel)]="SiteAdminFax" id="SiteAdminFax" formControlName="SiteAdminFax">
					</div>

				</div>

				<div class="col-md-12 col-xl-12 form-group">
					<label class="col-form-label">{{'epdb.manage.organization.add_edit.administrative_notes' | translate}}</label>
					<textarea class="form-control" rows="5" id="AdminNotes" formControlName="AdminNotes"></textarea>
				</div>

				<div class="col-md-12 col-xl-12">
					<app-file-upload *ngIf="attachments.length<5" #fileUploader [cap] = "5-attachments.length"></app-file-upload>
					<ng-container *ngFor="let file of attachments">
						<div *ngIf="attachments_remove.indexOf(file.Id)==-1" style="display: flex;justify-content: space-between;margin-bottom: 5px;">
							<span style="padding-top: 10px;">{{file.Name}}</span> 
							<button 
								class="btn btn-danger btn-sm waves-effect rounded-circle" 
								(click)="attachments_remove.push(file.Id)" 
								type="button">
								<i class="icofont icofont-ui-close" style="margin:0;"></i>
							</button>
						</div>
					</ng-container>
				</div>
				<div class="col-md-3 col-xl-3"></div>
				<div class="col-md-2 col-xl-2 form-group">
					<button type="submit" class="btn btn-success btn-md btn-block text-center">
						<i class="icofont icofont-save"></i>{{ 'general.btn_save' | translate }}
					</button>
				</div>
				<div class="col-md-2 col-xl-2 form-group" *ngIf="datadetail!=null">
					<button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
						<i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}
					</button>
				</div>
				<div class="col-md-2 col-xl-2 form-group" *ngIf="datadetail!=null">
					<button type="button" [routerLink]="['/manage/site/detail-site',datadetail.SiteIdInt]" class="btn btn-danger btn-md btn-block text-center">
						<i class="icofont icofont-ui-close"></i>{{ 'general.btn_cancel' | translate }}
					</button>
				</div>
				<div class="col-md-3 col-xl-3 form-group" *ngIf="datadetail!=null">
					<button type="button" class="btn btn-default btn-md btn-block text-center" routerLink="/merge/site/{{datadetail.SiteId}}">
					   Mark as duplicate
					</button>
				</div>
			</div>
		</form>
	</div>
</div>
