<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid col-md-9">
    <div class="row">
     
      <div class="col-md-5 col-sm-12">
        <div class="login-card card-body auth-body">
          <div class="md-float-material">
            <div class="text-center">
              <img src="assets/images/auth/logo2.png" alt="logo2.png">
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left">You forgot your Password? </h3>
                  <h3 class="text-left">Don't worry.</h3>
                </div>
              </div> 
              <form [formGroup]="changepasswordform" (ngSubmit)="onSubmit()"> 
              <div class="col-md-12 col-xl-12 form-group text-left">
                  <input type="password" class="form-control" id="password" formControlName="password" placeholder="New Password">
                  <span class="messages text-danger" *ngIf="!changepasswordform.get('password').valid && changepasswordform.get('password').touched">* Password min length 6 and must be use at least<br/>1 number and 1 special character</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group  text-left">
                  <input type="password" class="form-control" id="rpassword" formControlName="rpassword" placeholder="Repeat Password">
                  <span class="messages text-danger" *ngIf="!changepasswordform.get('rpassword').valid && changepasswordform.get('rpassword').touched">* Repeat Password Not Equal</span>
              </div>
              <div class="col-md-12 col-xl-12 form-group">
                  <button type="submit" [disabled]="!changepasswordform.valid" class="btn btn-success btn-md btn-block text-center">
                      {{ 'eim.profile.change_password.change_password' | translate }}
                  </button> 
              </div>
              </form>
              <hr/>
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">{{'login_register.thank_you' | translate}}.</p> 
                </div>
                <div class="col-md-2"> 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    
      <div class="col-md-6 offset-md-1 col-sm-12">
          <div class="login-card card-body auth-body"  style="
          background-color: #ffffff; 
          border-radius: 8px;
          padding-bottom: 60px;
          margin: 56px 0 0px 0">
              <div style="color: #383636;font-size: 28px;text-align: left;font-weight: inherit;">
                {{'login_register.info_admin1' | translate}}
                <br/>& {{'login_register.info_admin2' | translate}}
                <br/>
                <br/>
              </div>
              <div style="color: #383636;font-size: 18px;text-align: left;font-weight: inherit;">
                <strong>
                  {{'login_register.info_admin3' | translate}} &
                  <br/>{{'login_register.info_admin4' | translate}}
                </strong>
                <br/>
                <br/> {{'login_register.info_admin5' | translate}}
                <br/>{{'login_register.info_admin6' | translate}}
                <br/>{{'login_register.info_admin7' | translate}}.
                <br/>
              </div>
          </div>
        </div>
    </div>
  </div>