<div class="row">

	<div class="col-md-12 col-xl-12 page-header-title">
    	<h4>Search Siebel Reference</h4>
        <br/>
        <br/>
	</div>
  
	<div class="col-md-12 col-xl-12">
		<div class="card card-border-primary"> 
		  	<div class="card-block row">  
                <form [formGroup]="searchsiebel" (ngSubmit)="onSubmit()">
                    <div class="col-lg-12 col-xl-12 row"> 
                        <div class="col-md-12 col-xl-12 form-group" *ngIf="datadetail!=null">
                            <label class="col-form-label">
                                <strong>Add Siebel Contact CSNs for</strong><br/><br/>
                                A Contact should ideally be linked to a Siebel CSN number.<br/> 
                                Please use the tools below to search for this Contact in the data we receive from Siebel.<br/>
                                Please Note: the Siebel Data we have in PDB may be several days old.<br/><br/>
                                {{datadetail.contactName}} ({{datadetail.contactId}}) 
                            </label>
                        </div>
                        <div class="col-md-8 col-xl-8 form-group">
                            <label class="col-form-label"><strong>Data to search for (copied from PDB)</strong></label>
                        </div>
                        <div class="col-md-4 col-xl-4 form-group">
                            <label class="col-form-label"><strong>Click to search in SIEBEL</strong></label>
                        </div>
                        <div class="col-md-8 col-xl-8 form-group">
                            <input class="form-control" type="text" id="searchContactName" formControlName="searchContactName">
                        </div>
                        <div class="col-md-4 col-xl-4 form-group">
                            <button class="btn btn-primary btn-sm btn-block"><i class="icofont icofont-search"></i> Search Contact Name</button>
                        </div>
                        <div class="col-md-8 col-xl-8 form-group">
                            <input class="form-control" type="text" id="searchEmailAddress" formControlName="searchEmailAddress">
                        </div>
                        <div class="col-md-4 col-xl-4 form-group">
                            <button class="btn btn-primary btn-sm btn-block"><i class="icofont icofont-search"></i> Search Email Address</button>
                        </div>
                        <div class="col-md-8 col-xl-8 form-group">
                            <input class="form-control" type="text" id="searchContactId" formControlName="searchContactId">
                        </div>
                        <div class="col-md-4 col-xl-4 form-group">
                            <button class="btn btn-primary btn-sm btn-block"><i class="icofont icofont-search"></i> Search Contact Id</button>
                        </div>
                        <div class="col-md-8 col-xl-8 form-group">
                            <input class="form-control" type="text" id="searchAccountCSN" formControlName="searchAccountCSN">
                        </div>
                        <div class="col-md-4 col-xl-4 form-group">
                            <button class="btn btn-primary btn-sm btn-block"><i class="icofont icofont-search"></i> Search Account CSN</button>
                        </div>
                    </div>
                </form>
            </div>
		</div>
    </div>
    
</div>

   

