<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'menu_report_epdb.history_report' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="searchHistory" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.manage.organization.detail.organization_id' | translate}}</label>
                    <ng2-completer [textSearching]="'Please wait...'" [(ngModel)]="OrgId" [datasource]="dataService1" [minSearchLength]="2" [inputClass]="['form-control']"
                        (selected)="OrgSelect($event)" [matchClass]="completer-description" [ngModelOptions]="{standalone: true}" [clearUnselected]="true" placeholder="Type to find OrgId ...">
                    </ng2-completer>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.manage.site.detail.site_id' | translate}}</label>
                    <ng2-completer [textSearching]="'Please wait...'" [(ngModel)]="SiteId" [datasource]="dataService2" [minSearchLength]="2" [inputClass]="['form-control']"
                        (selected)="SiteSelect($event)" [matchClass]="completer-description" [ngModelOptions]="{standalone: true}" [clearUnselected]="true" placeholder="Type to find SiteId ...">
                    </ng2-completer>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.manage.contact.detail.contact_id' | translate}}</label>
                    <ng2-completer [textSearching]="'Please wait...'" [(ngModel)]="ContactId" [datasource]="dataService3" [minSearchLength]="2" [inputClass]="['form-control']"
                        (selected)="ContactSelect($event)" [matchClass]="completer-description" [ngModelOptions]="{standalone: true}" [clearUnselected]="true" placeholder="Type to find ContactId ...">
                    </ng2-completer>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.report.history_report.text_match' | translate}}</label>
                    <input type="text" class="form-control" id="text" formControlName="TextToMatch" placeholder="ex Basic, Migration, Invoice, Site Attribute, Link, Qualification, Serial">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">Admin</label>
                    <input type="text" class="form-control" id="text" formControlName="Admin" placeholder="Admin">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.report.history_report.last_day' | translate}}</label>
                    <input type="text" class="form-control" id="text" formControlName="LastXDays" placeholder="LastXDays">
                    <span class="messages text-danger" *ngIf="!searchHistory.get('LastXDays').valid && searchHistory.get('LastXDays').touched">* X should be a number</span>
                </div>
                <div class="col-md-12 col-xl-12">&nbsp;</div>
                <div class="col-md-6 col-xl-6">&nbsp;</div>
                <div class="col-md-2 col-xl-2">
                    <button type="submit " class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-play-alt-1 "></i>{{ 'general.search' | translate }}</button>
                </div>
                <div class="col-md-2 col-xl-2 ">
                    <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}
                    </button>
                </div>
                <div class="col-md-2 col-xl-2">
                    <button type="button" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-stop"></i>{{ 'general.btn_stop_query' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card" *ngIf="reportHistory!=null">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.manage.organization.search.search_result' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <label class="label-control">{{'general.show' | translate}}
                    <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                    </select>
                    {{'general.entries' | translate}}
                </label>
            </div>
            <!-- <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>Search:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div> -->
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <i class="fa fa-file-excel-o"></i><a [routerLink]="['/report/history-report']" (click)="ExportExceltoXls()"> Export to .xls</a> &nbsp;   
                    <i class="fa fa-file-excel-o"></i><a [routerLink]="['/report/history-report']" (click)="ExportExceltoXlSX()"> Export to .xlsx</a> &nbsp;  
                    <i class="fa fa-file-excel-o"></i><a [routerLink]="['/report/history-report']" (click)="ExportExceltoCSV()"> Export to .csv</a>     
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="reportHistory | dataFilter: filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th>
                                <mfDefaultSorter by="Date">{{'general.date' | translate}}</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="Id">{{'epdb.report.history_report.user_id' | translate}}</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="Description">{{'general.description' | translate}}</mfDefaultSorter>
                            </th>
                            <th>
                                <mfDefaultSorter by="Admin">Admin</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="reportHistory != null">
                        <tr *ngFor="let item of mf.data">
                            <td [innerHTML]="item.Date"></td>
                            <td [innerHTML]="item.Id"></td>
                            <td [innerHTML]="item.Description"></td>
                            <td [innerHTML]="item.Admin"></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="reportHistory!=null">
                            <td colspan="75">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="reportHistory==null">
                            <td colspan="75" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="reportHistory==''">
                            <td colspan="75" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>