<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.manage.site.academic_project.edit_academic_project' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="editProject" (ngSubmit)="onSubmitAcademicProject()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.site.academic_project.project_type' | translate}}</label>
                    <select class="form-control" id="projecttype" formControlName="projecttype">
                        <option value="">-- {{ 'general.select' | translate}} --</option>
                        <option *ngFor="let item of listProject" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editProject.get('projecttype').valid && editProject.get('projecttype').touched">* Please Select Project Type</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.site.academic_project.completion_date' | translate}}</label>
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="modelPopup1" ngbDatepicker #dc="ngbDatepicker" readonly="true"
                                    id="completiondate" formControlName="completiondate" (ngModelChange)="onSelectDate($event)">
                                <div class="input-group-addon bg-default" (click)="dc.toggle()">
                                    <span class="icofont icofont-ui-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="messages text-danger" *ngIf="!editProject.get('completiondate').valid && editProject.get('completiondate').touched">* Please Enter Completion Date</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.admin.product.product' | translate}}</label>
                    <select class="form-control" id="product" formControlName="product" (change)="findVersion($event.target.value)">
                        <option value="">-- {{ 'general.select' | translate}} --</option>
                        <option *ngFor="let item of listProduct" value="{{item.productId}}">{{item.productName}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editProject.get('product').valid && editProject.get('product').touched">* Please Select Product</span>
                </div>
                <!-- <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.admin.product.product_year' | translate}}</label>
                    <select class="form-control" formControlName="productVersion">
                        <option value="">-- {{ 'general.select' | translate}} --</option>
                        <option *ngFor="let item of versions" value="{{item.ProductVersionsId}}">{{item.Version}}</option>
                    </select>
                </div> -->
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.site.academic_project.number_educator' | translate}}</label>
                    <input type="number" class="form-control" id="numbereducator" placeholder="0" formControlName="numbereducator" min="0">
                    <span class="messages text-danger" *ngIf="!editProject.get('numbereducator').valid && editProject.get('numbereducator').touched">* Please Enter Number of Educator</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.site.academic_project.number_student' | translate}}</label>
                    <input type="number" class="form-control" id="numberstudent" placeholder="0" formControlName="numberstudent">
                    <span class="messages text-danger" *ngIf="!editProject.get('numberstudent').valid && editProject.get('numberstudent').touched">* Please Enter Number of Student</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.admin.country.countries.country' | translate}}</label>
                    <select class="form-control" id="countryinstitution" formControlName="countryinstitution">
                        <option value="">-- {{ 'general.select' | translate}} --</option>
                        <option *ngFor="let item of listCountry" value="{{item.countries_code}}">{{item.countries_name}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editProject.get('countryinstitution').valid && editProject.get('countryinstitution').touched">* Please Select Country Institution</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'eva.manage_course.detail.institution' | translate}}</label>
                    <textarea class="form-control" id="institution" placeholder="Institution" formControlName="institution"></textarea>
                    <span class="messages text-danger" *ngIf="!editProject.get('institution').valid && editProject.get('institution').touched">* Please Enter Institution</span>
                </div>

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'general.note' | translate}}</label>
                    <textarea class="form-control" id="noteproject" placeholder="Notes" formControlName="noteproject"></textarea>
                </div>
                <div class="col-md-6 col-xl-6 form-group"></div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i>{{ 'general.btn_save' | translate }}
                    </button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}
                    </button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="go_Back_Bro()" class="btn btn-danger btn-md btn-block text-center">
                        <i class="icofont icofont-ui-close"></i>{{ 'general.btn_cancel' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>