<div class="row">
    <div class="col-md-12 col-xl-12 page-header-title">
        <h4>Administration : Add New Territory</h4>
        <br/>
        <br/>
    </div>
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary"> 
            <div class="card-block row" >  
                <div class="col-lg-12 col-xl-12"> 
                    <div class="mt-3 col-md-12 col-xl-12 row">
                    	<div class="col-md-12 col-xl-12 form-group">
                            <label class="col-form-label"><strong>Territory Name</strong> </label>
                            <input type="text" class="form-control" value="Europe" />
                        </div>  
                        <div class="col-md-6 col-xl-6 form-group">
                        	<label class="col-form-label" ><strong><u>Choose all that apply</u></strong></label>
                        </div>  
                        <div class="col-md-6 col-xl-6 form-group">
                        </div>  
                        <div class="col-md-3 col-xl-3 form-group">
                            <label class="col-form-label"><strong>Geo</strong></label>
                            <select name="oStatus" size="9" multiple="true" class="form-control">
                                <option value="All" selected="">All</option>
                                <option value="A">AMER</option> 
                                <option value="E">EMEA</option>
                                <option value="G">GCR</option>
                                <option value="P">APAC (excl. GCR)</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-xl-3 form-group">
                            <label class="col-form-label"><strong>Region</strong></label>
                            <select name="oStatus" size="9" multiple="true" class="form-control">
                                <option value="AZ">ANZ</option>
                                <option value="AS">ASEAN</option>
                                <option value="SA">India and SAARC</option>
                                <option value="JP">Japan</option>
                                <option value="KO">Korea</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-xl-3 form-group">
                            <label class="col-form-label"><strong>Sub Region</strong></label>
                            <select name="oStatus" size="9" multiple="true" class="form-control">
                                <option value="AS">ASEAN</option>
                            </select>
                        </div>
                        <div class="col-md-3 col-xl-3 form-group">
                            <label class="col-form-label"><strong>Country</strong></label>
                            <select name="oStatus" size="9" multiple="true" class="form-control">
                                <option value="Afganistan">Afganistan</option>
                                <option value="Albania">Albania</option>
                                <option value="Algeria">Algeria</option>
                                <option value="Andora">Andora</option>
                                <option value="Angola">Angola</option>
                            </select>
                        </div> 
                    </div>  
                    <div class="mt-2 col-md-12 col-xl-12 row" >  
                        <div class="col-md-5 col-xl-5 page-header-title">
                        </div>
                        <div class="col-md-3 col-xl-3 page-header-title">
                            <button type="button" (click)="openSuccessSwal()" [routerLink]="['/epdb/territory/territory-list']" class="btn btn-success btn-md btn-block text-center"><i class="icofont icofont-save"></i> Save Changes</button>
                        </div> 
                        <div class="col-md-2 col-xl-2 page-header-title">
                            <button type="button" [routerLink]="['/epdb/territory/territory-add']" class="btn btn-default btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-spinner-alt-3"></i> Reset</button>
                        </div>
                        <div class="col-md-2 col-xl-2 page-header-title">
                            <button type="button" [routerLink]="['/epdb/territory/territory-list']" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-ui-close"></i> Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary">
            <div class="m-4 card-block row dt-responsive">
                <div class="col-md-7 col-xl-7 row">
                    <ngx-datatable
                        class="data-table dt-chk"
                        [rows]="rows"
                        [columnMode]="'force'"
                        [headerHeight]="50"
                        [footerHeight]="50"
                        [rowHeight]="'auto'"
                        [limit]="10"
                        [selected]="selected"
                        [selectionType]="'checkbox'"
                        (activate)="onActivate($event)"
                        (select)='onSelect($event)'>
                        <ngx-datatable-column [width]="50" [sortable]="false" [canAutoResize]="false" [draggable]="false" [resizeable]="false">
                          <ng-template class="datatable-checkbox" ngx-datatable-header-template let-value="value" let-allRowsSelected="allRowsSelected" let-selectFn="selectFn">
                            <div class="checkbox-fade fade-in-default datatable-header-cell-label">
                              <label>
                                <input type="checkbox" [checked]="allRowsSelected" (change)="selectFn(!allRowsSelected)"/>
                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                              </label>
                            </div>
                          </ng-template>
                          <ng-template class="datatable-checkbox" ngx-datatable-cell-template let-value="value" let-isSelected="isSelected" let-onCheckboxChangeFn="onCheckboxChangeFn">
                            <div class="checkbox-fade fade-in-default datatable-header-cell-label">
                              <label>
                                <input type="checkbox" [checked]="isSelected" (change)="onCheckboxChangeFn($event)"/>
                                <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                              </label>
                            </div>
                          </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Name"></ngx-datatable-column>
                    </ngx-datatable>
                </div>
                <div class="col-md-5 col-xl-5 row">
                    <div class='col-sm-12 selected-column'>
                        <h4 class="sub-title p-t-15">Selected Row</h4>
                        <span *ngFor='let sel of selected'>
                          <label class="label label-primary">{{sel.name}}</label>
                        </span>
                        <span *ngIf="!selected.length">No Selections</span>
                        <button type="button" [disabled]="!selected.length" (click)="openConfirmsSwal()" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20 m-4"><i class="icofont icofont-trash"></i> Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>