.table-responsive {
    display: table;
}

th {
    text-align: center;
}

td {
    text-align: center;
}
@media print{
    
    .doNotPrint{display:none !important;}
    .page-break {  page-break-after: always !important; }
  }

  @media all {
    .page-break { display: none; }
}
.card2 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    page-break-before: always;
    display: block;
  }



  