<div class="row">
  	<div class="col-md-12 col-xl-12 page-header-title">
      	<h4>Report : ATC/AAP Accreditation Counts Report</h4>
        <br/>
        <br/>
  	</div>
  	<div class="col-md-12 col-xl-12">
        <div class="card card-border-primary">
            <div class="card-block row dt-responsive" style="margin:20px">
                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                    <div>
                      <label class="label-control">Show
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                          <option [ngValue]="10">10</option>
                          <option [ngValue]="25">25</option>
                          <option [ngValue]="50">50</option>
                          <option [ngValue]="100">100</option>
                        </select>
                        entries
                      </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div style="text-align: right;">
                        <label>Search:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                        </label>
                    </div>
                </div>  
                <table class="row table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="4%"><mfDefaultSorter by="id">Country</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Geo</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Region</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Sub Region</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Territory id</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Market id</mfDefaultSorter></th> 
                            <th width="4%"><mfDefaultSorter by="id"># Active Training<br/>Partner ORGs</mfDefaultSorter></th> 
                            <th width="4%"><mfDefaultSorter by="id"># Active ATC Only<br/>Sites</mfDefaultSorter></th> 
                            <th width="4%"><mfDefaultSorter by="id"># Active Academic<br/>Partner Only</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id"># Active ATC And<br/>AAP</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id"># Total Training<br/>Partner Sites</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id"># ATC Instructors</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id"># FY17 ATC AEC<br/>BIM 360 Field Glue</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id"># FY17 ATC AEC<br/>COREXV</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id"># FY17 ATC AEC<br/>FAB</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id"># FY17 ATC AEC<br/>INFRAWORKS</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id"># FY17 ATC AEC<br/>INFRSTR MAP<br/>SVR</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id"># FY17 ATC AEC<br/>RSAPRO</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id"># FY17 ATC AEC XV<br/>Plant</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id"># FY17 ATC CF<br/>CORE</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id"># FY17 ATC HRZ<br/>CORE</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id"># FY17 ATC MED<br/>COREXV</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id"># FY17 ATC MED<br/>SMFMAC</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id"># FY17 ATC MFG<br/>FUSION 360</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id"># FY17 ATC MFG<br/>ALIA SAUTO</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id"># FY17 ATC MFG<br/>ALIA S SURFACE</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id"># FY17 ATC MFG<br/>COREXV</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id"># FY17 ATC MFG<br/>MOLD</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id"># FY17 ATC MFG<br/>SIMULATION</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id"># FY17 ATC MFG<br/>VRED</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id"># FY17 ATC MFG<br/>XV Plant</mfDefaultSorter></th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data">
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                        </tr>
                    </tbody>
                    <tfoot> 
                        <tr>
                            <td colspan="31"><mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator></td>
                        </tr>
                    </tfoot>
                </table> 
	        </div>
	    </div>
  	</div>
</div>

 