<router-outlet>
  <ng-template #content let-modal let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Session About To Timeout</h4>     
    </div>
    <div class="modal-body">
		  <div class="row" style="padding-top:15px; padding-bottom:15px;">
		  You will be forced to logout within {{idelcounter}} seconds.<br/>
		  To remain logged in move your mouse over this window.
		  </div>
    </div>
  </ng-template>
<spinner></spinner>

</router-outlet>