<div class="card">
  <div class="card-header">
    <div class="page-header-title">
      <h4>Detail Course</h4>
    </div>
  </div>
  <div class="card-block">
    <div class="dt-responsive dt-bootstrap4 row p-20">
      <div class="col-md-12 col-xl-12">
        <ul class="list-view">
          <li>
            <div class="card user-card">
              <div class="card-block">
                <div class="media">
                  <a class="media-left" href="#">
                    <img class="media-object img-circle card-list-img" src="assets/images/avatar-1.png" alt="Generic placeholder image">
                  </a>
                  <div class="media-body">
                    <div class="col-xs-12">
                      <h6 class="d-inline-block">AutoCAD 2014 Workshop</h6>
                      <label class="label label-info">949901</label>
                    </div>
                    <div class="f-13 text-muted m-b-15">Hilman Achmad</div>
                    <p>Hi, This is my short intro text. Lorem ipsum is a dummy content sit dollar. You can copy and paste this
                      dummy content from anywhere and to anywhere. Its all free and must be a good to folllow in prectice</p>
                    <div class="m-t-15">
                      <button type="button" class="btn btn-facebook btn-mini waves-effect waves-light">
                        <span class="icofont icofont-social-facebook"></span>
                      </button>
                      <button type="button" class="btn btn-twitter btn-mini waves-effect waves-light">
                        <span class="icofont icofont-social-twitter"></span>
                      </button>
                      <button type="button" class="btn btn-linkedin btn-mini waves-effect waves-light">
                        <span class="icofont icofont-brand-linkedin"></span>
                      </button>
                      <button type="button" class="btn btn-dribbble btn-mini waves-effect waves-light">
                        <span class="icofont icofont-social-dribble"></span>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="card-header mt-5">
                  <h5>Detail Data</h5>
                </div>
                <div class="col-lg-12 col-xl-12">
                  <div class="md-tabs md-image-tab">
                    <ngb-tabset>
                      <ngb-tab>
                        <ng-template ngbTabTitle>
                          <img src="assets/images/icon/curriculum.png" class="img-fluid img-circle" alt="" ngbTooltip="The Course">
                        </ng-template>
                        <ng-template ngbTabContent>
                          <div class="m-t-15">
                            <div class="m-t-15">
                              <!-- info card start -->
                              <div class="card">
                                <div class="card-header">
                                  <h5 class="card-header-text">Detail</h5>
                                </div>
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-md-6">
                                      <div class="card b-l-success business-info services m-b-20">
                                        <div ngbDropdown class="card-header">
                                          <div class="service-header">
                                            <a href="javascript:;">
                                              <h5 class="card-header-text">Shivani Hero</h5>
                                            </a>
                                          </div>
                                          <span ngbDropdownToggle class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="true" role="tooltip">
                                          </span>
                                          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none services-list">
                                            <a class="dropdown-item" href="javascript:;">
                                              <i class="icofont icofont-edit"></i> Edit</a>
                                            <a class="dropdown-item" href="javascript:;">
                                              <i class="icofont icofont-ui-delete"></i> Delete</a>
                                            <a class="dropdown-item" href="javascript:;">
                                              <i class="icofont icofont-eye-alt"></i> View</a>
                                          </div>
                                        </div>
                                        <div class="card-body">
                                          <div class="row">
                                            <div class="col-sm-12">
                                              <p class="task-detail">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp
                                                or incidi dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
                                            </div>
                                            <!-- end of col-sm-8 -->
                                          </div>
                                          <!-- end of row -->
                                        </div>
                                        <!-- end of card-body -->
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="card b-l-danger business-info services">
                                        <div ngbDropdown class="card-header">
                                          <div class="service-header">
                                            <a href="javascript:;">
                                              <h5 class="card-header-text">Dress and Sarees</h5>
                                            </a>
                                          </div>
                                          <span ngbDropdownToggle class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="true" role="tooltip">
                                          </span>
                                          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none services-list">
                                            <a class="dropdown-item" href="javascript:;">
                                              <i class="icofont icofont-edit"></i> Edit</a>
                                            <a class="dropdown-item" href="javascript:;">
                                              <i class="icofont icofont-ui-delete"></i> Delete</a>
                                            <a class="dropdown-item" href="javascript:;">
                                              <i class="icofont icofont-eye-alt"></i> View</a>
                                          </div>
                                        </div>
                                        <div class="card-body">
                                          <div class="row">
                                            <div class="col-sm-12">
                                              <p class="task-detail">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp
                                                or incidi dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
                                            </div>
                                            <!-- end of col-sm-8 -->
                                          </div>
                                          <!-- end of row -->
                                        </div>
                                        <!-- end of card-body -->
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="card b-l-info business-info services">
                                        <div ngbDropdown class="card-header">
                                          <div class="service-header">
                                            <a href="javascript:;">
                                              <h5 class="card-header-text">Shivani Auto Port</h5>
                                            </a>
                                          </div>
                                          <span ngbDropdownToggle class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="true" role="tooltip">
                                          </span>
                                          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none services-list">
                                            <a class="dropdown-item" href="javascript:;">
                                              <i class="icofont icofont-edit"></i> Edit</a>
                                            <a class="dropdown-item" href="javascript:;">
                                              <i class="icofont icofont-ui-delete"></i> Delete</a>
                                            <a class="dropdown-item" href="javascript:;">
                                              <i class="icofont icofont-eye-alt"></i> View</a>
                                          </div>
                                        </div>
                                        <div class="card-body">
                                          <div class="row">
                                            <div class="col-sm-12">
                                              <p class="task-detail">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp
                                                or incidi dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
                                            </div>
                                            <!-- end of col-sm-8 -->
                                          </div>
                                          <!-- end of row -->
                                        </div>
                                        <!-- end of card-body -->
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="card b-l-warning business-info services">
                                        <div ngbDropdown class="card-header">
                                          <div class="service-header">
                                            <a href="javascript:;">
                                              <h5 class="card-header-text">Hair stylist</h5>
                                            </a>
                                          </div>
                                          <span ngbDropdownToggle class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="true" role="tooltip">
                                          </span>
                                          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none services-list">
                                            <a class="dropdown-item" href="javascript:;">
                                              <i class="icofont icofont-edit"></i> Edit</a>
                                            <a class="dropdown-item" href="javascript:;">
                                              <i class="icofont icofont-ui-delete"></i> Delete</a>
                                            <a class="dropdown-item" href="javascript:;">
                                              <i class="icofont icofont-eye-alt"></i> View</a>
                                          </div>
                                        </div>
                                        <div class="card-body">
                                          <div class="row">
                                            <div class="col-sm-12">
                                              <p class="task-detail">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp
                                                or incidi dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
                                            </div>
                                            <!-- end of col-sm-8 -->
                                          </div>
                                          <!-- end of row -->
                                        </div>
                                        <!-- end of card-body -->
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="card b-l-danger business-info services">
                                        <div ngbDropdown class="card-header">
                                          <div class="service-header">
                                            <a href="javascript:;">
                                              <h5 class="card-header-text">BMW India</h5>
                                            </a>
                                          </div>
                                          <span ngbDropdownToggle class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="true" role="tooltip">
                                          </span>
                                          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none services-list">
                                            <a class="dropdown-item" href="javascript:;">
                                              <i class="icofont icofont-edit"></i> Edit</a>
                                            <a class="dropdown-item" href="javascript:;">
                                              <i class="icofont icofont-ui-delete"></i> Delete</a>
                                            <a class="dropdown-item" href="javascript:;">
                                              <i class="icofont icofont-eye-alt"></i> View</a>
                                          </div>
                                        </div>
                                        <div class="card-body">
                                          <div class="row">
                                            <div class="col-sm-12">
                                              <p class="task-detail">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp
                                                or incidi dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
                                            </div>
                                            <!-- end of col-sm-8 -->
                                          </div>
                                          <!-- end of row -->
                                        </div>
                                        <!-- end of card-body -->
                                      </div>
                                    </div>
                                    <div class="col-md-6">
                                      <div class="card b-l-success business-info services">
                                        <div ngbDropdown class="card-header">
                                          <div class="service-header">
                                            <a href="javascript:;">
                                              <h5 class="card-header-text">Shivani Hero</h5>
                                            </a>
                                          </div>
                                          <span ngbDropdownToggle class="dropdown-toggle addon-btn text-muted f-right service-btn" data-toggle="dropdown" aria-haspopup="true"
                                            aria-expanded="true" role="tooltip">
                                          </span>
                                          <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right b-none services-list">
                                            <a class="dropdown-item" href="javascript:;">
                                              <i class="icofont icofont-edit"></i> Edit</a>
                                            <a class="dropdown-item" href="javascript:;">
                                              <i class="icofont icofont-ui-delete"></i> Delete</a>
                                            <a class="dropdown-item" href="javascript:;">
                                              <i class="icofont icofont-eye-alt"></i> View</a>
                                          </div>
                                        </div>
                                        <div class="card-body">
                                          <div class="row">
                                            <div class="col-sm-12">
                                              <p class="task-detail">Lorem ipsum dolor sit amet, consectet ur adipisicing elit, sed do eiusmod temp
                                                or incidi dunt ut labore et.Lorem ipsum dolor sit amet, consecte.</p>
                                            </div>
                                            <!-- end of col-sm-8 -->
                                          </div>
                                          <!-- end of row -->
                                        </div>
                                        <!-- end of card-body -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </ngb-tab>
                      <ngb-tab>
                        <ng-template ngbTabTitle>
                          <img src="assets/images/icon/tasks.png" class="img-fluid img-circle" alt="" ngbTooltip="The Task">
                        </ng-template>
                        <ng-template ngbTabContent>
                          <div class="row">
                            <div class="col-xl-4">
                              <div class="card">
                                <div class="card-body">
                                  <!-- <p>.col-sm-4</p> -->
                                  <div class="issue-list-progress">
                                    <h6>Overall Progress</h6>
                                    <div class="issue-progress">
                                      <div class="progress">
                                        <span class="issue-text1 txt-primary"></span>
                                        <div class="issue-bar1 bg-primary"></div>
                                      </div>
                                      <!-- end of progress -->
                                    </div>
                                    <!-- end of issue progress -->
                                  </div>
                                  <!-- end of issue list progress -->

                                  <!-- end of matric progress -->
                                  <table class="table matrics-table">
                                    <tbody>
                                      <tr>
                                        <td>
                                          <strong>Assigned Hours</strong>
                                        </td>
                                        <td class="txt-primary">70 Hours</td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <strong>Time Consumed</strong>
                                        </td>
                                        <td class="txt-danger">49 Hours</td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <strong>Issues</strong>
                                        </td>
                                        <td class="txt-primary">19</td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <strong>Bugs</strong>
                                        </td>
                                        <td class="txt-primary">16</td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <strong>Health</strong>
                                        </td>
                                        <td class="txt-success">75%</td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <strong>Commits</strong>
                                        </td>
                                        <td class="txt-primary">280</td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <strong>Bugs Percentage</strong>
                                        </td>
                                        <td class="txt-danger">25%</td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <strong>Assign Date</strong>
                                        </td>
                                        <td class="txt-info">02/11/2016</td>
                                      </tr>
                                      <tr>
                                        <td>
                                          <strong>Last closed on</strong>
                                        </td>
                                        <td class="txt-info">15/01/2017</td>
                                      </tr>
                                    </tbody>
                                    <!-- end of tbody -->
                                  </table>
                                  <!-- end of table -->
                                </div>
                              </div>
                            </div>
                            <div class="col-xl-8">
                              <div class="card">
                                <div class="card-body">
                                  <div class=" waves-effect waves-light m-r-10 v-middle issue-btn-group">
                                    Task Of Course

                                    <div class="f-right bug-issue-link">
                                      <ol class="breadcrumb bg-white m-0 p-t-5 p-b-0">
                                        <li class="breadcrumb-item">
                                          <a href="javascript:;">16 Bugs</a>
                                        </li>
                                        <li class="breadcrumb-item">
                                          <a href="javascript:;">19 Issue</a>
                                        </li>
                                      </ol>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="dt-responsive">
                                <div class="row">
                                  <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                                    <div>
                                      <label class="label-control">Show
                                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                                          <option [ngValue]="10">10</option>
                                          <option [ngValue]="25">25</option>
                                          <option [ngValue]="50">50</option>
                                          <option [ngValue]="100">100</option>
                                        </select>
                                        entries
                                      </label>
                                    </div>
                                  </div>
                                  <div class="col-xs-12 col-sm-12 col-md-6">
                                    <div style="text-align: right;">
                                      <label>Search:
                                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                                      </label>
                                    </div>
                                  </div>
                                </div>

                                <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
                                  [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                                  <thead>
                                    <tr>
                                      <th>
                                        <mfDefaultSorter by="type">Type</mfDefaultSorter>
                                      </th>
                                      <th>
                                        <mfDefaultSorter by="id">ID</mfDefaultSorter>
                                      </th>
                                      <th>
                                        <mfDefaultSorter by="description">Description</mfDefaultSorter>
                                      </th>
                                      <th>
                                        <mfDefaultSorter by="date">Start Date</mfDefaultSorter>
                                      </th>
                                      <th>
                                        <mfDefaultSorter by="priority">Priority</mfDefaultSorter>
                                      </th>
                                      <th>
                                        <mfDefaultSorter by="status">Status</mfDefaultSorter>
                                      </th>
                                    </tr>
                                    <tr>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>Type</td>
                                      <td>Id</td>
                                      <td>Item</td>
                                      <td>Date</td>
                                      <td>
                                        <span class="label label-danger">priority</span>
                                        <span class="label label-warning">priority</span>

                                      </td>

                                      <td>
                                        <span class="label label-primary">priority</span>
                                        <span class="label label-danger">priority</span>

                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Type</td>
                                      <td>Id</td>
                                      <td>Item</td>
                                      <td>Date</td>
                                      <td>
                                        <span class="label label-danger">priority</span>
                                        <span class="label label-warning">priority</span>

                                      </td>

                                      <td>
                                        <span class="label label-primary">priority</span>
                                        <span class="label label-danger">priority</span>

                                      </td>
                                    </tr>
                                    <tr>
                                      <td>Type</td>
                                      <td>Id</td>
                                      <td>Item</td>
                                      <td>Date</td>
                                      <td>
                                        <span class="label label-danger">priority</span>
                                        <span class="label label-warning">priority</span>

                                      </td>

                                      <td>
                                        <span class="label label-primary">priority</span>
                                        <span class="label label-danger">priority</span>

                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </ngb-tab>
                      <ngb-tab>
                        <ng-template ngbTabTitle>
                          <img src="assets/images/icon/calendar.png" class="img-fluid img-circle" alt="" ngbTooltip="The Date">
                        </ng-template>
                        <ng-template ngbTabContent>
                          <div class="card">
                            <div class="card-body">
                              <!-- <p>.col-sm-4</p> -->
                              <div class="issue-list-progress">
                                <h6>Your Calendar</h6>
                                <div class="issue-progress">
                                  <div class="progress">
                                    <span class="issue-text1 txt-primary"></span>
                                    <div class="issue-bar1 bg-primary"></div>
                                  </div>
                                  <!-- end of progress -->
                                </div>
                                <!-- end of issue progress -->
                              </div>
                              <div class="m-t-15">
                                <div class="col-md-12 col-xl-12">
                                  <div class="row">
                                    <div class="col-sm-12">
                                      <div class="card borderless-card">
                                        <app-calender></app-calender>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                        </ng-template>
                      </ngb-tab>
                      <ngb-tab>
                        <ng-template ngbTabTitle>
                          <img src="assets/images/icon/analytics-42.png" class="img-fluid img-circle" alt="" ngbTooltip="The Questionnaire">
                        </ng-template>

                        <ng-template ngbTabContent>
                          <div class="m-t-15">
                            <div class="card">
                              <div class="card-header">
                                <h5 class="card-header-text">Questionnaire</h5>
                              </div>
                              <div class="card-body">
                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="form-radio">
                                      <form>
                                        <div class="col-md-12 form-group">
                                          <p>1. Pertanyaan nomer satu adalah sebagai beriku:</p>
                                          <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                            <label>
                                              <input type="radio" name="radio">
                                              <i class="helper"></i>Jawaban 1
                                            </label>
                                          </div>
                                          <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                            <label>
                                              <input type="radio" name="radio">
                                              <i class="helper"></i>Jawaban 2
                                            </label>
                                          </div>
                                          <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                            <label>
                                              <input type="radio" name="radio">
                                              <i class="helper"></i>Jawaban 3
                                            </label>
                                          </div>
                                          <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                            <label>
                                              <input type="radio" name="radio">
                                              <i class="helper"></i>Jawaban 4
                                            </label>
                                          </div>
                                        </div>
                                        <div class="col-md-12 form-group">
                                          <p>2. Pertanyaan nomer satu adalah sebagai beriku:</p>
                                          <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                            <label>
                                              <input type="radio" name="radio2">
                                              <i class="helper"></i>Jawaban 1
                                            </label>
                                          </div>
                                          <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                            <label>
                                              <input type="radio" name="radio2">
                                              <i class="helper"></i>Jawaban 2
                                            </label>
                                          </div>
                                          <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                            <label>
                                              <input type="radio" name="radio2">
                                              <i class="helper"></i>Jawaban 3
                                            </label>
                                          </div>
                                          <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                            <label>
                                              <input type="radio" name="radio2">
                                              <i class="helper"></i>Jawaban 4
                                            </label>
                                          </div>
                                        </div>
                                        <div class="col-md-12 form-group">
                                          <p>3. Pertanyaan nomer satu adalah sebagai beriku:</p>
                                          <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                            <label>
                                              <input type="radio" name="radio3">
                                              <i class="helper"></i>Jawaban 1
                                            </label>
                                          </div>
                                          <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                            <label>
                                              <input type="radio" name="radio3">
                                              <i class="helper"></i>Jawaban 2
                                            </label>
                                          </div>
                                          <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                            <label>
                                              <input type="radio" name="radio3">
                                              <i class="helper"></i>Jawaban 3
                                            </label>
                                          </div>
                                          <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                            <label>
                                              <input type="radio" name="radio3">
                                              <i class="helper"></i>Jawaban 4
                                            </label>
                                          </div>
                                        </div>
                                        <div class="col-md-12 form-group">
                                          <p>4. Pertanyaan nomer satu adalah sebagai beriku:</p>
                                          <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                            <label>
                                              <input type="radio" name="radio4">
                                              <i class="helper"></i>Jawaban 1
                                            </label>
                                          </div>
                                          <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                            <label>
                                              <input type="radio" name="radio4">
                                              <i class="helper"></i>Jawaban 2
                                            </label>
                                          </div>
                                          <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                            <label>
                                              <input type="radio" name="radio4">
                                              <i class="helper"></i>Jawaban 3
                                            </label>
                                          </div>
                                          <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                            <label>
                                              <input type="radio" name="radio4">
                                              <i class="helper"></i>Jawaban 4
                                            </label>
                                          </div>
                                        </div>
                                        <div class="col-md-12 form-group">
                                          <p>1. Pertanyaan nomer satu adalah sebagai beriku:</p>
                                          <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                            <label>
                                              <input type="radio" name="radio5">
                                              <i class="helper"></i>Jawaban 1
                                            </label>
                                          </div>
                                          <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                            <label>
                                              <input type="radio" name="radio5">
                                              <i class="helper"></i>Jawaban 2
                                            </label>
                                          </div>
                                          <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                            <label>
                                              <input type="radio" name="radio5">
                                              <i class="helper"></i>Jawaban 3
                                            </label>
                                          </div>
                                          <div class="col-md-12 radio radiofill radio-primary radio-inline">
                                            <label>
                                              <input type="radio" name="radio5">
                                              <i class="helper"></i>Jawaban 4
                                            </label>
                                          </div>
                                        </div>
                                      </form>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </ng-template>
                      </ngb-tab>
                    </ngb-tabset>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>