<div class="card card-border-primary">
    <div class="card-header">
        <div class="page-header-title">
            <h4>Student Tag</h4>
        </div>
    </div>
    <div class="m-2 card-block row dt-responsive row p-20">
        <form [formGroup]="addstudentform" (ngSubmit)="onSubmitAddStudent()">
            <table class="table table-striped table-bordered table-responsive">
                <thead>
                    <tr>
                        <th width="5%">Add</th>
                        <th width="25%">Student Id</th>
                        <th width="25%">Student Name</th>
                        <th width="25%">Other Atributte</th>
                        <th width="25%">Other Atributte</th>
                        <th width="5%">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let field of fieldArray; let i = index">
                        <td>
                            <button (click)="modaladdstudent.show(i)" class="btn btn-primary btn-outline-primary" ngbTooltip="Add Student"><i class="icofont icofont-ui-add"></i></button>
                        </td>
                        <td>
                            <input [(ngModel)]="field.student_id" class="form-control" type="text" name="{{field.student_id}}" formControlName="student_id" id="student_id" readonly="true"/>
                        </td>
                        <td>
                            <input [(ngModel)]="field.student_name" class="form-control" type="text" name="{{field.student_name}}" formControlName="student_name" id="student_name" readonly="true"/>
                        </td>
                        <td>
                            <!-- <input [(ngModel)]="field.other_attribute1" class="form-control" type="text" name="{{field.other_attribute1}}" formControlName="other_attribute1" id="other_attribute1" readonly="true"/> -->
                            <select [(ngModel)]="field.other_attribute1" class="form-control" type="text" name="{{field.other_attribute1}}" formControlName="other_attribute1" id="other_attribute1" readonly="true">
                                <option>-Select All-</option>
                                <option>Course</option>
                                <option>Project</option>
                            </select>
                        </td>
                        <td>
                            <!-- <input [(ngModel)]="field.other_attribute2" class="form-control" type="text" name="{{field.other_attribute2}}" formControlName="other_attribute2" id="other_attribute2" readonly="true"/> -->
                            <select [(ngModel)]="field.other_attribute2" class="form-control" type="text" name="{{field.other_attribute2}}" formControlName="other_attribute2" id="other_attribute2" readonly="true">
                                <option>-Select All-</option>
                                <option>Course</option>
                                <option>Project</option>
                            </select>
                        </td>
                        <td>
                            <button (click)="deleteFieldValue(i)" class="btn btn-primary btn-outline-primary" ngbTooltip="Delete Student"><i class="icofont icofont-delete-alt"></i></button>
                        </td>
                    </tr>
                    <!-- <tr>
                        <td>

                        </td>
                        <td>
                            <input class="form-control" type="text" id="newAttributeStudentId" [(ngModel)]="newAttribute.student_id" name="newAttributeStudentId" readonly="true"/>
                        </td>
                        <td>
                            <input class="form-control" type="text" id="newAttributeStudentName" [(ngModel)]="newAttribute.student_name" name="newAttributeStudentName" readonly="true"/>
                        </td>
                        <td>
                            <input class="form-control" type="text" id="newOtherAttribute1" [(ngModel)]="newAttribute.other_attribute1" name="newOtherAttribute1" readonly="true" />
                        </td>
                        <td>
                            <input class="form-control" type="text" id="newOtherAttribute2" [(ngModel)]="newAttribute.other_attribute2" name="newOtherAttribute2" readonly="true" />
                        </td>
                        <td>

                        </td>
                    </tr> -->
                </tbody>
            </table>
            <div class="col-md-3 col-xl-3 form-group text-right pull-left">     
                <button type="button" (click)="addFieldValue()" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-ui-add"></i> Add Student</button>
            </div>
            <div class="col-md-3 col-xl-3 form-group text-right pull-right">       
                <button type="submit" (click)="openSuccessSwalAddStudent()" class="btn btn-success btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-save"></i> Save</button>
            </div>
        </form>
    </div>
</div>
  

<app-modal-basic #modaladdstudent [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">Add Student</h4>
        <button type="button" class="close basic-close" (click)="modaladdstudent.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <div class="card">
            <div class="dt-responsive table-responsive">
                <ngx-datatable
                    class="data-table"
                    [rows]="rows"
                    [columnMode]="'force'"
                    [columns]="columns"
                    [headerHeight]="50"
                    [footerHeight]="50"
                    [rowHeight]="'auto'"
                    [limit]="5"
                    [selected]="selected"
                    [selectionType]="'single'"
                    (activate)="onActivate($event)"
                    (select)='onSelect($event)'>
                </ngx-datatable>
            </div>
        </div>
        <div class="form-group row ">
            <div class="col-sm-12 text-right">
                <button type="button" class="btn btn-success waves-effect" (click)="tes()   "><i class="icofont icofont-ui-add"></i> Add</button>
                <button type="button" class="btn btn-danger waves-effect" (click)="modaladdstudent.hide()"><i class="icofont icofont-ui-close"></i> Cancel</button>
            </div>
        </div>
    </div>
</app-modal-basic>