<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.manage.contact.search.search_contact' | translate }}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="col-lg-12 col-xl-12">
            <ul class="nav nav-tabs md-tabs" role="tablist">
                <li class="nav-item col-md-4">
                    <a class="nav-link " data-toggle="tab" [routerLink]="['/manage/organization/search-organization']" role="tab" aria-expanded="true">{{ 'epdb.manage.organization.search.tab_organization' | translate }}</a>
                    <div class="slide"></div>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link " data-toggle="tab" [routerLink]="['/manage/site/search-site']" role="tab" aria-expanded="false">{{ 'epdb.manage.organization.search.tab_site' | translate }}</a>
                    <div class="slide"></div>
                </li>
                <li class="nav-item col-md-4">
                    <a class="nav-link active" data-toggle="tab" [routerLink]="['/manage/contact/search-contact']" role="tab" aria-expanded="false">{{ 'epdb.manage.organization.search.tab_contact' | translate }}</a>
                    <div class="slide"></div>
                </li>
            </ul>
        </div>
        <form [formGroup]="filtercontactform" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.contact.detail.contact_id' | translate }}</label>
                    <input type="text" class="form-control" id="ContactId" formControlName="ContactId" placeholder="{{ 'epdb.manage.contact.detail.contact_id' | translate }}">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.organization.add_edit.first_name' | translate }}</label>
                    <input type="text" class="form-control" id="FirstName" formControlName="FirstName" placeholder="{{ 'epdb.manage.organization.add_edit.first_name' | translate }}">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.organization.add_edit.last_name' | translate }}</label>
                    <input type="text" class="form-control" id="LastName" formControlName="LastName" placeholder="{{ 'epdb.manage.organization.add_edit.last_name' | translate }}">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.organization.detail.email' | translate }}</label>
                    <input type="email" class="form-control" id="EmailAddress" formControlName="EmailAddress" placeholder="{{ 'epdb.manage.organization.detail.email' | translate }}">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.admin.partner_type.partner_type' | translate }}</label>
                    <select name="PartnerType" class="form-control" formControlName="PartnerType" (change)="onPartnerSelect($event.target.value)">
                        <option value="">All</option>
                        <option *ngIf="partnertype==null">{{'general.loading_data' | translate}} ...</option>
                        <option *ngIf="partnertype==''">{{'general.data_empty' | translate}}</option>
                        <option *ngFor="let item of partnertype" value={{item.RoleCode}}>{{item.RoleName}}</option>
                    </select>
                </div>

                <div class="col-md-4 col-xl-4 form-group">
                    <!-- <label class="col-form-label">{{ 'epdb.admin.partner_type.partner_type_status' | translate }}</label> -->
                    <label class="col-form-label">Sub PartnerType</label>
                    <angular2-multiselect [data]="dropdownListSubPartnerType" [(ngModel)]="selectedItemsSubPartnerType" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                    </angular2-multiselect>
                </div>

                <div class="col-md-4 col-xl-4 form-group">
                    <!-- <label class="col-form-label">{{ 'epdb.admin.partner_type.partner_type_status' | translate }}</label> -->
                    <label class="col-form-label">Partner Type Status</label>
                    <angular2-multiselect [data]="dropdownListPartnerTypeStatus" [(ngModel)]="selectedItemsPartnerTypeStatus" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                    </angular2-multiselect>
                </div>

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.admin.country.geo.geo' | translate }}</label>
                    <angular2-multiselect [data]="dropdownListGeo" [(ngModel)]="selectedItemsGeo" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                        (onSelect)="onGeoSelect($event)" (onDeSelect)="OnGeoDeSelect($event)" (onSelectAll)="onGeoSelectAll($event)"
                        (onDeSelectAll)="onGeoDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.admin.country.territory.territory' | translate }}</label>
                    <angular2-multiselect [data]="dropdownListTerritories" [(ngModel)]="selectedItemsTerritories" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onTerritorySelect($event)" (onDeSelect)="onTerritoryDeSelect($event)"
                        (onSelectAll)="onTerritorySelectAll($event)" (onDeSelectAll)="onTerritoryDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.admin.country.countries.country' | translate }}</label>
                    <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onCountriesSelect($event)" (onDeSelect)="OnCountriesDeSelect($event)"
                        (onSelectAll)="onCountriesSelectAll($event)" (onDeSelectAll)="onCountriesDeSelectAll($event)">
                    </angular2-multiselect>
                </div>

              


                <!-- <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.organization.add_edit.state' | translate }}</label>
                    <input type="text" class="form-control" id="ContactStateProvince" formControlName="StateProvince" placeholder="{{ 'epdb.manage.organization.add_edit.state' | translate }}">
                </div> -->
                <!-- <div class="col-md-4 col-xl-4 form-group"></div> -->
                <div class="col-md-6 col-xl-6 page-header-title"></div>
                <div class="col-md-3 col-xl-3 page-header-title">
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-play-alt-1"></i> {{ 'general.search' | translate }}</button>
                </div>
                <div class="col-md-3 col-xl-3 page-header-title">
                    <button type="button" (click)="stop($event.target.value)" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-stop"></i> {{ 'general.btn_stop_query' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.manage.organization.search.search_result' | translate }}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4  row p-20">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data | dataFilterContact : filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="20%">
                                <mfDefaultSorter by="ContactId">{{ 'epdb.manage.contact.detail.contact_id' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="InstructorId">Instructor ID</mfDefaultSorter>
                            </th>
                            <th width="30%">
                                <mfDefaultSorter by="ContactName">{{ 'general.name' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="30%">
                                <mfDefaultSorter by="EmailAddress">{{ 'epdb.manage.organization.detail.email' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="countries_name">{{ 'epdb.admin.country.countries.country' | translate }}</mfDefaultSorter>
                            </th>
                            <th width="10%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data">
                            <td>
                                <a [routerLink]="['/manage/contact/detail-contact',item.ContactIdInt,item.SiteId]">{{item.ContactId}}</a>
                            </td>
                            <td>{{item.InstructorId}}</td>
                            <td [innerHTML]="item.ContactName"></td>
                            <td>{{item.EmailAddress}}</td>
                            <td>{{item.countries_name}}</td>
                            <td>
                                <button *ngIf="item.ContactIdInt!=null && item.ContactIdInt!='' && item.SiteId != null && item.SiteId != '' && item.OrganizationId != null && item.OrganizationId != ''"
                                    (click)="routeaffiliate(item.ContactIdInt,item.SiteId,item.OrganizationId)" type="button"
                                    class="btn btn-primary btn-sm">{{ 'epdb.manage.contact.site_affiliated.btn_choose_site' | translate }}</button>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="6" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="6" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>