<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.report_eva.student_course_evaluation.student_course_evaluation' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-12 col-xl-12 form-group">
                <label class="text-justify">Your First Name and Last Name is required to issue your Certificate of Completion. If you would like to receive
                    your Certificate of Completion by email or have consented to receive any of the email communications
                    set forth below, please provide your email address below. All other information is optional. You may
                    also request a paper copy of your Certificate of Completion from your Authorized Education Partner.
                </label>
            </div>
            <div class="col-md-12 col-xl-12 form-group">
                <!-- <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">{{'eva.manage_student_info.student_id' | translate}}:</label>
                    <label class="col-form-label col-md-5 col-xl-5">{{StudentID}}</label>
                </div> -->
                <div class="row">
                    <!-- <label class="col-form-label col-md-2 col-xl-2">{{'eva.manage_student_info.student_name' | translate}}:</label> -->
                    <label class="col-form-label col-md-2 col-xl-2">Name:</label>
                    <label class="col-form-label col-md-5 col-xl-5">{{StudentName}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">{{'eim.profile.my_profile.company' | translate}}:</label>
                    <label class="col-form-label col-md-5 col-xl-5">{{Company}}</label>
                </div>
                <!-- <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">{{'eim.profile.my_profile.address' | translate}} 1:</label>
                    <label class="col-form-label col-md-5 col-xl-5">{{Address1}}</label>
                </div> -->
                <!-- <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">{{'eim.profile.my_profile.phone_number' | translate}}:</label>
                    <label class="col-form-label col-md-5 col-xl-5">{{Phone}}</label>
                </div> -->
                <div class="row" *ngIf="studentName">
                    <label class="col-form-label col-md-2 col-xl-2">Email:</label>
                    <label class="col-form-label col-md-5 col-xl-5">{{Email}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">{{'student.my_course.course_date' | translate}}:</label>
                    <label class="col-form-label col-md-5 col-xl-5">{{CourseDate}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">{{'eva.manage_course.list_course.instructor_id' | translate}}:</label>
                    <label class="col-form-label col-md-5 col-xl-5">{{InstructorId}}</label>
                </div>
            </div>
            <div class="col-md-12 col-xl-12">&nbsp;</div>
            <div class="col-md-12 col-xl-12 form-group">
                <h5>{{'general.general_information' | translate}}</h5>
            </div>
            <div class="col-md-12 col-xl-12">
                <label class="col-form-label">1. {{'eva.manage_course.question.atc.question_1_atc1' | translate}}? </label>
                <br/>
                <b>{{TeachingLevel}}</b>
            </div>
            <div class="col-md-12 col-xl-12">
                <label class="col-form-label">2a. {{'eva.manage_course.question.atc.question_2a_atc2' | translate}}? </label>
                <br/>
                <b>{{PrimarySoftware}}</b>
            </div>
            <!-- <div class="col-md-12 col-xl-12">
                <label class="col-form-label">2b. {{'eva.manage_course.question.atc.question_2b_atc2' | translate}}? </label>
                <br/>
                <b>{{SecondarySoftware}}</b>
            </div> -->
            <div class="col-md-12 col-xl-12">
                <label class="col-form-label">3. {{'eva.manage_course.question.atc.question_3_atc3' | translate}}? </label>
                <br/>
                <b>{{TrainingHours}}</b>
            </div>
            <div class="col-md-12 col-xl-12">
                <label class="col-form-label">4. {{'eva.manage_course.question.atc.question_4_atc4' | translate}}? </label>
                <br/>
                <b>{{TrainingFormat}}</b>
            </div>
            <div class="col-md-12 col-xl-12">
                <label class="col-form-label">5. {{'eva.manage_course.question.atc.question_5_atc5' | translate}}?</label>
                <br/>
                <b>{{TrainingMaterials}}</b>
            </div>
            <div class="col-md-12 col-xl-12">&nbsp;</div>
            <div class="mt-2 ml-2 col-md-12 col-xl-12">
                <div id="surveyElement"></div>
                <div id="surveyResult"></div>
            </div>
        </div>
    </div>
</div>