
    <div class="card col-lg-12">
      <div class="card-header">
        <h5>{{'eva.dashboard.monthly-growth' | translate}}</h5>
      </div>
      <div class="card-block">
        <div id="chart4"></div>
      </div>
    </div>
  
    <div class="card table-1-card col-lg-12">
      <div class="card-block">
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr class="text-capitalize">
              <th>Type</th>
              <th>Lead Name</th>
              <th>Views</th>
              <th>Favourites</th>
              <th>Last Visit</th>
              <th>Last Action</th>
              <th>Last Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><a href="javascript:">Buyer</a>
              </td>
              <td>Denish Ann</td>
              <td>153</td>
              <td>100</td>
              <td>20</td>
              <td>9.23 A.M.</td>
              <td>9/27/2015</td>
            </tr>
            <tr>
              <td><a class="text-danger" href="javascript:">Lanload</a>
              </td>
              <td>John Doe</td>
              <td>121</td>
              <td>100</td>
              <td>20</td>
              <td>6.23 A.M.</td>
              <td>8/27/2015</td>
            </tr>
            <tr>
              <td><a href="javascript:">Buyer</a>
              </td>
              <td>Henry Joe</td>
              <td>154</td>
              <td>140</td>
              <td>30</td>
              <td>7.54 P.M.</td>
              <td>4/30/2015</td>
            </tr>
            <tr>
              <td><a class="text-danger" href="javascript:">Lanload</a>
              </td>
              <td>Sara Soudein</td>
              <td>153</td>
              <td>100</td>
              <td>20</td>
              <td>9.23 A.M.</td>
              <td>5/20/2016</td>
            </tr>
            <tr>
              <td><a href="javascript:">Buyer</a>
              </td>
              <td>Denish Ann</td>
              <td>153</td>
              <td>100</td>
              <td>20</td>
              <td>9.23 A.M.</td>
              <td>3/26/2015</td>
            </tr>
            <tr>
              <td><a class="text-info" href="javascript:">Lanload</a>
              </td>
              <td>Stefen Joe</td>
              <td>153</td>
              <td>100</td>
              <td>20</td>
              <td>11.45 A.M.</td>
              <td>5/20/2017</td>
            </tr>
            <tr>
              <td><a href="javascript:">Buyer</a>
              </td>
              <td>Mark Backlus</td>
              <td>153</td>
              <td>100</td>
              <td>20</td>
              <td>12.40 A.M.</td>
              <td>3/27/2017</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
 
    
  

