<div class="row">
  <div class="col-md-12 col-xl-12">
    <div class="card card-border-primary"> 
        <div class="card-block row">  
        <div class="col-lg-12 col-xl-12"> 

            <p class="mt-2"><b><a [routerLink]="['/epdb/activities/activities-list']" >{{ 'epdb.admin.administration.Activities' | translate }}</a></b>
            <br>{{ 'epdb.admin.administration.Activities-desc' | translate }}
            </p>
            <ul>
                <li>> {{ 'epdb.admin.administration.Activities-field-1' | translate }}</li>
                <li>> {{ 'epdb.admin.administration.Activities-field-2' | translate }}</li>
                <li>> {{ 'epdb.admin.administration.Activities-field-3' | translate }}</li>
                <li>> {{ 'epdb.admin.administration.Activities-field-4' | translate }}</li>
                <li>> {{ 'epdb.admin.administration.Activities-field-5' | translate }}</li>
                <li>> {{ 'epdb.admin.administration.Activities-field-6' | translate }}</li>
                <li>> {{ 'epdb.admin.administration.Activities-field-7' | translate }}</li>
                <li>> {{ 'epdb.admin.administration.Activities-field-8' | translate }}</li>
            </ul>
            <br>

            <p><b><a [routerLink]="['/epdb/invoice-type/invoice-type-list']" >{{ 'epdb.admin.administration.Activities-field-9' | translate }}</a></b>
            <br>{{ 'epdb.admin.administration.Activities-field-10' | translate }}</p>

            <p><b><a [routerLink]="['/epdb/line-item-summaries/line-item-summaries-list']" >{{ 'epdb.admin.administration.Activities-field-11' | translate }}</a></b>
            <br>{{ 'epdb.admin.administration.Activities-field-12' | translate }}</p>

            <p><b><a [routerLink]="['/epdb/products/products-list']" >{{ 'epdb.admin.administration.Activities-field-13' | translate }}</a></b>
            <br>{{ 'epdb.admin.administration.Activities-field-14' | translate }}</p>

            <p><b><a [routerLink]="['/epdb/glosarry/glosarry-list']" >{{ 'epdb.admin.administration.Activities-field-15' | translate }}</a></b>
            <br>{{ 'epdb.admin.administration.Activities-field-16' | translate }}</p>
            <!-- PDBDEV2012-010 010a 11 12 - country attributes extensions : Start -->
            <p><b><a [routerLink]="['/epdb/country']" >{{ 'epdb.admin.administration.Activities-field-17' | translate }}</a></b>
            <br>{{ 'epdb.admin.administration.Activities-field-17' | translate }}</p>

            <p><b><a [routerLink]="['/epdb/territory/territory-list']" >{{ 'epdb.admin.administration.Activities-field-18' | translate }}</a></b>
            <br>{{ 'epdb.admin.administration.Activities-field-19' | translate }}</p>

            <!-- PDBDEV2012-010 010a 11 12 - country attributes extensions : End -->
            <hr>


            <p>{{ 'epdb.admin.administration.Activities-field-20' | translate }}</p>

            <p><b><a [routerLink]="['/epdb/restore-duplicate-objects']">{{ 'epdb.admin.administration.Activities-field-21' | translate }}</a> - BETA</b>
            <br>{{ 'epdb.admin.administration.Activities-field-22' | translate }}</p>


            <p><b><a [routerLink]="['/epdb/restore-deleted-objects']">{{ 'epdb.admin.administration.Activities-field-23' | translate }}</a> - BETA</b>
            <br>{{ 'epdb.admin.administration.Activities-field-24' | translate }}</p>

            <!-- 
                    <p><b><a href="showUsers.asp">Show Administrative Users</a></b>
                    <br>Show a list of Administrative users.</p>
            -->
            <p><b><a [routerLink]="['/epdb/find-potential-duplicate-users']">{{ 'epdb.admin.administration.Activities-field-25' | translate }}</a></b>
            <br>{{ 'epdb.admin.administration.Activities-field-26' | translate }}</p>

            <p><b><a [routerLink]="['/epdb/database-information']">{{ 'epdb.admin.administration.Activities-field-27' | translate }}</a></b>
            <br>{{ 'epdb.admin.administration.Activities-field-28' | translate }}</p>

            <!--<p><b><a href="databaseDiagram_Views.asp">Expertus Database Views</a></b>
            <br>Get the latest database information filtered for export to ALC/SmartPortal/Expertus.</p>

            <p><b><a href="qtpExport.asp">QTP Export</a></b>
            <br>Get the latest contact information filtered for export to QTP/Siebel.</p>-->

            <p><b><a [routerLink]="['/epdb/technical-documentation']">{{ 'epdb.admin.administration.Activities-field-29' | translate }}</a></b>
            <br>{{ 'epdb.admin.administration.Activities-field-30' | translate }}</p>

            <p><b><a [routerLink]="['/epdb/change-site-id']">{{ 'epdb.admin.administration.Activities-field-31' | translate }}</a></b>
            <br>{{ 'epdb.admin.administration.Activities-field-32' | translate }}</p>

         
        </div>
        </div>
    </div>
  </div>

 