<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'menu_report_epdb.site_report' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="searchSite" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.report.organization_report.filter_by_name' | translate}}:</label>
                    <input type="text" class="form-control" id="text" formControlName="filterByName" placeholder="{{'epdb.report.organization_report.filter_by_name' | translate}}">
                </div>

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.report.organization_report.filter_by_partner_type' | translate}}:</label>
                    <angular2-multiselect [data]="dropdownListPartner" [(ngModel)]="selectedItemsPartner" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onItemSelectPartner($event)" (onDeSelect)="OnItemDeSelectPartner($event)"
                        (onSelectAll)="onSelectAllPartner($event)" (onDeSelectAll)="onDeSelectAllPartner($event)" >
                    </angular2-multiselect>
                    <span class="messages text-danger" *ngIf="showValidPartnerType">* Please Select Partner Type</span>
                </div>

      

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">PartnerType Status</label>
                    <angular2-multiselect [data]="dropdownListPartnerTypeStatus" [(ngModel)]="selectedItemsPartnerTypeStatus" [settings]="dropdownSettings"
                        [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"  >
                    </angular2-multiselect>
                    <span class="messages text-danger" *ngIf="showValidPartnerStatus">* Please Select Partner Status</span>
                </div>

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.report.organization_report.filter_by_market_type' | translate}}:</label>
                    <angular2-multiselect [data]="dropdownListMarketType" [(ngModel)]="selectedItemsMarketType" [settings]="dropdownSettings"
                        [ngModelOptions]="{standalone:true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                    </angular2-multiselect>
                    <span class="messages text-danger" *ngIf="showValidMarketType">* Please Select Market Type</span>
                </div>

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.report.site_report.filter_by_sub_partner_type' | translate}}:</label>
                    <angular2-multiselect [data]="dropdownListSubPartnerType" [(ngModel)]="selectedItemsSubPartnerType" [settings]="dropdownSettings"
                        [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-12 col-xl-12">&nbsp;</div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.report.organization_report.filter_by_location' | translate}}:</label>
                    <br>
                    <label class="col-form-label">{{ 'epdb.admin.country.geo.geo' | translate }}</label>
                    <angular2-multiselect [data]="dropdownListGeo " [(ngModel)]="selectedItemsGeo" [ngModelOptions]="{standalone:true}" [settings]="dropdownSettings"
                        (onSelect)="onGeoSelect($event)" (onDeSelect)="OnGeoDeSelect($event)" (onSelectAll)="onGeoSelectAll($event)"
                        (onDeSelectAll)="onGeoDeSelectAll($event)">
                    </angular2-multiselect>
                    <!-- <span class="messages text-danger" *ngIf="showValidGeo">* Please Select Geo</span> -->
                </div>
                <!-- <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">&nbsp;</label>
                    <br>
                    <label class="col-form-label">{{ 'epdb.admin.country.region.region' | translate }}</label>
                    <angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onRegionSelect($event)" (onDeSelect)="OnRegionDeSelect($event)"
                        (onSelectAll)="onRegionSelectAll($event)" (onDeSelectAll)="onRegionDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">&nbsp;</label>
                    <br>
                    <label class="col-form-label">{{ 'epdb.admin.country.sub_region.sub_region' | translate }}</label>
                    <angular2-multiselect [data]="dropdownListSubRegion " [(ngModel)]="selectedItemsSubRegion" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onSubRegionSelect($event)" (onDeSelect)="OnSubRegionDeSelect($event)"
                        (onSelectAll)="onSubRegionSelectAll($event)" (onDeSelectAll)="onSubRegionDeSelectAll($event)">
                    </angular2-multiselect>
                </div> -->
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label ">&nbsp;</label>
                    <br>
                    <label class="col-form-label">{{ 'epdb.admin.country.territory.territory' | translate }}</label>
                    <angular2-multiselect [data]="dropdownListTerritories" [(ngModel)]="selectedItemsTerritories" [settings]="dropdownSettings"
                        [ngModelOptions]="{standalone: true}" (onSelect)="onTerritorySelect($event)" (onDeSelect)="onTerritoryDeSelect($event)"
                        (onSelectAll)="onTerritorySelectAll($event)" (onDeSelectAll)="onTerritoryDeSelectAll($event)">
                    </angular2-multiselect>
                    <!-- <span class="messages text-danger" *ngIf="showValidTerritory">* Please Select Territory</span> -->
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label ">&nbsp;</label>
                    <br>
                    <label class="col-form-label">{{ 'epdb.admin.country.countries.country' | translate }} <code>*</code></label>
                    <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" [settings]="dropdownSettings" [ngModelOptions]="{standalone: true}"
                        (onSelect)="onCountriesSelect($event)" (onDeSelect)="OnCountriesDeSelect($event)" (onSelectAll)="onCountriesSelectAll($event)"
                        (onDeSelectAll)="onCountriesDeSelectAll($event)">
                    </angular2-multiselect>
                    <span class="messages text-danger" *ngIf="showValidCountry">* Please Select Country</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label ">&nbsp;</label>
                    <br>
                    <label class="col-form-label ">{{ 'eim.profile.my_profile.city' | translate }}</label>
                    <angular2-multiselect [data]="dropdownListcity" [(ngModel)]="selectedItemscity" [settings]="dropdownSettings" [ngModelOptions]="{standalone: true}"
                        (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                        (onDeSelectAll)="onDeSelectAll($event)">
                </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label ">&nbsp;</label>
                    <br>
                    <label class="col-form-label ">{{ 'eim.profile.my_profile.state' | translate }}</label>
                    <angular2-multiselect [data]="dropdownListstate" [(ngModel)]="selectedItemsstate" [settings]="dropdownSettings" [ngModelOptions]="{standalone: true}"
                        (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                        (onDeSelectAll)="onDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-12 col-xl-12">&nbsp;</div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.report.organization_report.field_show_result' | translate }}</label>
                    <br>
                    <label class="col-form-label">{{ 'epdb.report.site_report.organization_field' | translate }}</label>
                    <angular2-multiselect [data]="dropdownListFieldOrganization" [(ngModel)]="selectedItemsFieldOrganization" [settings]="dropdownSettings"
                        [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">&nbsp;</label>
                    <br>
                    <label class="col-form-label">{{ 'epdb.report.site_report.site_field' | translate }}</label>
                    <angular2-multiselect [data]="dropdownListFieldSite" [(ngModel)]="selectedItemsFieldSite" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                        [ngModelOptions]="{standalone: true}" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                        (onDeSelectAll)="onDeSelectAll($event)">
                    </angular2-multiselect>
                    <span class="messages text-danger" *ngIf="showValidFieldSite">* Please Select Field</span>
                    <hr>
                    <label class="col-form-label">Demographic Fields</label>
                    <angular2-multiselect [data]="dropdownListFieldShow2" [(ngModel)]="selectedItemsFieldShow2" [settings]="dropdownSettings"
                        [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event) ">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 from-group">
                    <br>
                    <br>
                    <br>
                    <label class="col-form-label">&nbsp;</label>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox"  (change)="RollupPartnerDataType($event.target.checked ? 'Y': 'N')">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span class="text-inverse">{{ 'epdb.report.organization_report.rollup_partner_type_data' | translate }}</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-12 col-xl-12">&nbsp;</div>
                <div class="col-md-6 col-xl-6">&nbsp;</div>
                <div class="col-md-2 col-xl-2">
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-play-alt-1 " *ngIf="!loading"></i>
                        <i class="fas fa-spinner fa-pulse" *ngIf="loading"></i>
                        {{ 'general.search' | translate }}</button>
                </div>
                <div class="col-md-2 col-xl-2">
                    <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}
                    </button>
                </div>
                <div class="col-md-2 col-xl-2">
                    <button type="button" (click)="apiCall.unsubscribe();loading=false" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-stop"></i>{{ 'general.btn_stop_query' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="card" *ngIf="dataFound">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.manage.organization.search.search_result' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4  row p-20">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <!-- <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div> -->
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <a [routerLink]="['/report/sites-report']" (click)="ExportExceltoXls()"> Export to .xls</a>  &nbsp;  
                    <a [routerLink]="['/report/sites-report']" (click)="ExportExceltoXlSX()"> Export to .xlsx</a> &nbsp;  
                    <a [routerLink]="['/report/sites-report']" (click)="ExportExceltoCSV()"> Export to .csv</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="reportSite | dataFilter: filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead *ngIf="listkey != null; else goAhead">
                        <tr>
                            <th *ngFor="let kolom of listkey">
                                <mfDefaultSorter by="{{kolom}}">{{kolom}}</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <ng-template #goAhead>
                        <thead>
                            <tr>
                                <th width="200%">&nbsp;</th>
                            </tr>
                        </thead>
                    </ng-template>
                    <tbody *ngIf="reportSite != null; else anotherBody">
                        <tr *ngFor="let item of mf.data">
                            <td *ngFor="let kolom of listkey" [innerHTML]="item[kolom]"></td>
                        </tr>
                    </tbody>
                    <ng-template #anotherBody>
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </ng-template>
                    <tfoot>
                        <tr *ngIf="reportSite!=null">
                            <td colspan="147">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="reportSite==null">
                            <td colspan="147" class="text-left">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="reportSite==''">
                            <td colspan="147" class="text-left">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- <div class="card" *ngIf="dataFound">
    <div class="card-header">
        <div class="page-header-title">
            <h4>Search Result</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <label class="label-control">Show
                    <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                    </select>
                    entries
                </label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>Search:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                    </label>
                </div>
            </div>
            <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery"
                #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                    <tr>
                        <th width="20%">
                            <mfDefaultSorter by="name">{{ 'epdb.report.org_report.tbl_1' | translate }}</mfDefaultSorter>
                        </th>
                        <th width="20%">
                            <mfDefaultSorter by="position">{{ 'epdb.report.org_report.tbl_2' | translate }}</mfDefaultSorter>
                        </th>
                        <th width="20%">
                            <mfDefaultSorter by="office">{{ 'epdb.report.org_report.tbl_3' | translate }}</mfDefaultSorter>
                        </th>
                        <th width="20%">
                            <mfDefaultSorter by="age">{{ 'epdb.report.org_report.tbl_4' | translate }}</mfDefaultSorter>
                        </th>
                        <th width="20%">
                            <mfDefaultSorter by="start-date">{{ 'epdb.report.org_report.tbl_5' | translate }}</mfDefaultSorter>
                        </th>
                        <th width="20%">
                            <mfDefaultSorter by="salary">{{ 'epdb.report.org_report.tbl_6' | translate }}</mfDefaultSorter>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of mf.data">
                        <td>{{item.name}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.name}}</td>
                        <td>{{item.name}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr *ngIf="data!=null">
                        <td colspan="6">
                            <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    <tr *ngIf="data==null">
                        <td colspan="6" class="text-center">{{'general.loading_data' | translate}}</td>
                    </tr>
                    <tr *ngIf="data==''">
                        <td colspan="6" class="text-center">{{'general.data_empty' | translate}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div> -->