<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.distributor.add_contact_distributor' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="addContactDistributor" (ngSubmit)="onSubmitContact()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.partner_type.partner_type' | translate}}
                    </label>
                    <select class="form-control" name="PartnerType" formControlName="PrimaryRoleId">
                        <option value="">-- {{'general.select' | translate}} --</option>
						<option *ngIf="partnerType==null">{{'general.loading_data' | translate}} ...</option>
						<option *ngIf="partnerType==''">{{'general.data_empty' | translate}}</option>
                        <option *ngFor="let item of partnerType" value="{{item.RoleId}}">{{item.RoleName}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!addContactDistributor.get('PrimaryRoleId').valid && addContactDistributor.get('PrimaryRoleId').touched">* Please Select Partner Type</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.first_name' | translate}}</label>
                    <input type="text" name="FirstName" id="FirstName" formControlName="FirstName" class="form-control" placeholder="{{'eim.profile.my_profile.first_name' | translate}}">
                    <span class="messages text-danger" *ngIf="!addContactDistributor.get('FirstName').valid && addContactDistributor.get('FirstName').touched">* Please Enter First Name</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.last_name' | translate}}</label>
                    <input type="text" name="LastName" id="LastName" formControlName="LastName" class="form-control" placeholder="{{'eim.profile.my_profile.last_name' | translate}}">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'general.email' | translate}}
                    </label>
                    <input type="text" name="EmailAddress" id="EmailAddress" formControlName="EmailAddress" class="form-control" placeholder="{{'general.email' | translate}}">
                    <span class="messages text-danger" *ngIf="!addContactDistributor.get('EmailAddress').valid && addContactDistributor.get('EmailAddress').touched">* Please Enter Email Address</span>
                </div>
                <div class="col-md-8 col-xl-8 form-group"></div>
                <div class="col-md-6 col-xl-6 form-group"></div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-play"></i>{{ 'general.btn_submit' | translate }}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }} </button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="backToAddDistributor()" class="btn btn-danger btn-md btn-block text-center">
                        <i class="icofont icofont-ui-close"></i>{{ 'general.btn_cancel' | translate }}</button>
                </div>
            </div>
        </form>

        <div class="dt-responsive dt-bootstrap4 row p-20" *ngIf="showResult">
            <!-- <div class="col-xs-12 col-sm-12 col-md-6">
                    <div>
                        <label class="label-control">{{'general.show' | translate}}
                            <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage1">
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="25">25</option>
                                <option [ngValue]="50">50</option>
                                <option [ngValue]="100">100</option>
                            </select>
                            {{'general.entries' | translate}}
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div style="text-align: right;">
                        <label>{{'general.search' | translate}}:
                            <input type="search" [(ngModel)]="filterQuery1" class="form-control input-sm full-data-search">
                        </label>
                    </div>
                </div> -->
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="datacontact | dataFilter : filterQuery1"
                    #mf1="mfDataTable" [mfRowsOnPage]="rowsOnPage1" [(mfSortBy)]="sortBy1" [(mfSortOrder)]="sortOrder1">
                    <thead>
                        <tr>
                            <th width="10%">
                                <mfDefaultSorter by="ContactIdInt">{{ 'epdb.manage.contact.detail.contact_id' | translate}}</mfDefaultSorter>
                            </th>
                            <!-- <th width="25%"><mfDefaultSorter by="InstructorId">{{ 'eva.manage_course.list_course.instructor_id' | translate}}</mfDefaultSorter></th> -->
                            <th width="40%">
                                <mfDefaultSorter by="ContactName">{{ 'general.name' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="40%">
                                <mfDefaultSorter by="EmailAddress">{{ 'general.email' | translate}}</mfDefaultSorter>
                            </th>
                            <!-- <th width="45%"><mfDefaultSorter by="CountSites">{{ 'epdb.manage.contact.site_affiliated.site_affiliated' | translate}}</mfDefaultSorter></th>  -->
                            <th width="10%">{{ 'general.action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf1.data">
                            <td>
                                <a [routerLink]="['/manage/contact/detail-contact/',item.ContactIdInt,item.SiteId]">{{item.ContactId}}</a>
                            </td>
                            <!-- <td>{{item.InstructorId}}</td> -->
                            <td>{{item.ContactName}}</td>
                            <td>{{item.EmailAddress}}</td>
                            <!-- <td>{{item.CountSites}}</td> -->
                            <td>
                                <!-- <button *ngIf="item.OnThisDistributor<1" (click)="addcontactdistributor(item.ContactId)" type="button" class="btn btn-primary btn-sm">Add Contact Distributor</button> -->
                                <button *ngIf="item.OnThisDistributor<1" (click)="addcontactdistributor(item.ContactId)" type="button" class="btn btn-primary btn-sm">{{'general.btn_add' | translate}}</button>
                                <span *ngIf="item.OnThisDistributor>0">Already on this Distributor</span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="datacontact!=null">
                            <td colspan="8">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="datacontact==''">
                            <td colspan="8" class="text-center">{{'epdb.admin.distributor.no_contact' | translate}}</td>
                        </tr>
                        <!-- <tr *ngIf="datacontact==''">
                                        <td colspan="8" class="text-center">{{'general.data_empty' | translate}}</td>
                                    </tr> -->
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!-- <div class="card-block" *ngIf="datacontact!=null&&datacontact!=''"> -->
    <!-- <div class="card-block" *ngIf="showResult">
        <div class="dt-responsive dt-bootstrap4">

        </div>
    </div> -->

</div>