<ngx-loading [show]="loading" [config]="{
  backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
  primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
  <div class="card-header">
      <div class="page-header-title">
          <h4>Merge Contact</h4>
      </div>
  </div>
  <div class="card-block">
    <div class="">
      <table class="table table-bordered table-responsive" style="display:block">
        <thead>
          <tr>
            <th colspan="3" class="bg-disable">
              <div class="text-center"><b>Contact to Mark as Duplicate</b></div>
              <div class="text-center text-danger">This Contact will be "RETIRED"</div>
              <div class="text-center text-danger">Choose items to copy over to the Master</div>
            </th>
            <th colspan="3">
              <div class="text-center"><b>Master Contact - the one to Keep</b></div>
              <div class="text-center"><b>This Contact will get "bigger"</b></div>
              <div class="text-center"><b>Chosen items will be added or overwrite existing items</b></div>
            </th>
          </tr>
          <tr>
            <td>Item</td>
            <td>Value to copy</td>
            <td>Copy</td>
            <td colspan="3">Current Value - will be overwriten if checkbox is checked</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Contact Id</td>
            <td>{{dup_data.contactId}}</td>
            <td></td>
            <td colspan="3">
              <div class="form-group row mb-0">
                <div class="col-sm-5 col-form-label pr-0" style="white-space: normal;">Id of the Contact you want to keep</div>
                <div class="col-sm-3 p-0"><input class="form-control" [(ngModel)]="searchId"></div>
                <div class="col-sm-3"><button class="btn btn-primary" (click)="search()">Search</button></div>
              </div>
            </td>
          </tr>
          <tr>
            <th>Name</th>
            <th colspan="2">{{dup_data.firstName}} {{dup_data.lastName}}</th>
            <th>Name</th>
            <th colspan="2">{{base_master_data.firstName}} {{base_master_data.lastName}}</th>
          </tr>
          <tr>
            <th>Username</th>
            <th colspan="2" [innerHTML]="dup_data.username"></th>
            <th>Username</th>
            <th colspan="2">{{base_master_data.username}}</th>
          </tr>
          <tr>
            <th>Email</th>
            <th colspan="2">{{dup_data.emailAddress}}</th>
            <th>Email</th>
            <th colspan="2">{{base_master_data.emailAddress}}</th>
          </tr>
          <tr>
            <th>Last Login</th>
            <th colspan="2">{{dup_data.lastLogin | date}}</th>
            <th>Last Login</th>
            <th colspan="2">{{base_master_data.lastLogin | date}}</th>
          </tr>
          <tr>
            <th>Sites</th>
            <th colspan="2">{{dup_data.primarySiteId}}</th>
            <th>Sites</th>
            <th colspan="2">{{base_master_data.primarySiteId}}</th>
          </tr>
          <tr>
            <th colspan="3">Items to be copied to the Master contact</th>
            <th colspan="3"></th>
          </tr>
          <tr>
            <td>Instructor Id</td>
            <td>{{dup_data.instructorId}}</td>
            <td class="text-center"><input type="checkbox" (change)="checkField($event,'instructorId')" [disabled]="!base_master_data.contactId"/></td>
            <td colspan="3">{{master_data.instructorId?master_data.instructorId:base_master_data.instructorId}}</td>
          </tr>
          <tr>
            <th colspan="3">Additional Sites to Link to</th>
            <th colspan="3">Additional Sites to Link to</th>
          </tr>
          <tr>
            <td colspan="3">
              <ng-container *ngIf="dup_data.additionSites">
                <div *ngFor="let d of dup_data.additionSites" class="d-flex justify-content-between pr-2">
                  <span>{{d.siteId}}</span>
                  <span [innerHTML]="d.siteName"></span>
                  <input type="checkbox" (change)="checkField($event,'additionSites',d)" [disabled]="!base_master_data.contactId"/>
                </div>
              </ng-container>
            </td>
            <td colspan="3">
              <ng-container *ngIf="base_master_data.additionSites">
                <div *ngFor="let d of base_master_data.additionSites" class="d-flex justify-content-between pr-2">
                  <span>{{d.siteId}}</span>
                  <span [innerHTML]="d.siteName"></span>
                </div>
              </ng-container>
              <ng-container *ngIf="master_data.additionSites">
                <div *ngFor="let d of master_data.additionSites" class="d-flex justify-content-between pr-2">
                  <span>{{d.siteId}}</span>
                  <span [innerHTML]="d.siteName"></span>
                </div>
              </ng-container>
            </td>
          </tr>
          <tr>
            <th colspan="3">Attributes, Journal Entries, etc</th>
            <th colspan="3">Attributes, Journal Entries, etc</th>
          </tr>
          <tr>
            <td colspan="3">
              <ng-container *ngIf="dup_data.journalEntries">
                <div *ngFor="let d of dup_data.journalEntries" class="d-flex justify-content-between pr-2">
                  <span>{{d.journalId}}</span>
                  <span>{{d.entryType}}</span>
                  <input type="checkbox" (change)="checkField($event,'journalEntries',d)" [disabled]="!base_master_data.contactId"/>
                </div>
              </ng-container>
            </td>
            <td colspan="3">
              <ng-container *ngIf="base_master_data.journalEntries">
                <div *ngFor="let d of base_master_data.journalEntries" class="d-flex justify-content-between pr-2">
                  <span>{{d.journalId}}</span>
                  <span>{{d.entryType}}</span>
                </div>
              </ng-container>
              <ng-container *ngIf="master_data.journalEntries">
                <div *ngFor="let d of master_data.journalEntries" class="d-flex justify-content-between pr-2">
                  <span>{{d.journalId}}</span>
                  <span>{{d.entryType}}</span>
                </div>
              </ng-container>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <button *ngIf="base_master_data.contactId" class="btn btn-secondary" (click)="merge()">Mark as duplicate</button>
            </td>
            <td colspan="3">
              <button *ngIf="base_master_data.contactId" class="btn btn-primary" (click)="reset()">Look up another</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>