<div  class="col-md-12 col-xl-12" > 
        <div class="card card-border-message">
                <font style = "color: red ; padding: 2% ;">
                        Attention—User Alert!
                        On 13 MAY 2019, Autodesk will release a major version update of the Training Evaluation System (TES) and Partner Database (PDB). All users are required to complete the following steps after this release date.
                       <ol><li> After 13 May 2019, each user must launch the TES or PDB System, and perform a user log out by selecting ‘Log Out’, located under their user name (email address). </li>
                        <li> User must clear their browser cache before logging back into the TES or PDB system.  User will refer to their browser help for instructions on clearing the browser cache.</li>
                        <li> User should log back into the TES or PDB after the browser cache is cleared.</li>
                        <li> If a user does not complete these steps they will experience performance issues with the new release of the TES or PDB Systems.</li></ol>
                      
                       </font>
        </div>
    </div>
<div class="col-lg-12 col-xl-4 form-group" *ngIf="adminkan">
    <label class="col-form-label">Choose the Organization
        <code>*</code>
    </label>
    <ng2-completer [textSearching]="'Please wait...'" [(ngModel)]="Organization" [datasource]="dataService" [minSearchLength]="2"
        [inputClass]="['form-control']" (selected)="PickedOrganization($event)" [matchClass]="completer-description" [ngModelOptions]="{standalone: true}">
    </ng2-completer>
</div>

<div class="row" *ngIf="tampilin">
    <div *ngIf="show1" class="col-md-12 col-xl-4">
        <div class="card card-border-primary">
            <div class="card-header">
                <h5>{{'dashboard.organization.top_instructor' | translate}}</h5>
            </div>
            <div class="card-block card-block-dashboard">
                <!--isu di grup AD tambah loading di setiap chart-->
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                <google-chart [data]="tableChartDataTopInstructor"></google-chart>
            </div>
        </div>
    </div>

    <div *ngIf="show2" class="col-md-12 col-xl-4">
        <div class="card card-border-primary">
            <div class="card-header">
                <h5>{{'dashboard.distributor.evaluation_survey_taken' | translate}}</h5>
            </div>
            <div class="card-block card-block-dashboard">
                <!--isu di grup AD tambah loading di setiap chart-->
                <ngx-loading [show]="loading_1" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                <div id="morris-bar-chart-month"></div>
            </div>
        </div>
    </div>

    <div *ngIf="show3" class="col-md-12 col-xl-4">
        <div class="card card-border-primary">
            <div class="card-header">
                <h5>Site Performance By Month</h5>
            </div>
            <div class="card-block card-block-dashboard">
                <!--isu di grup AD tambah loading di setiap chart-->
                <ngx-loading [show]="loading_2" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                <div id="id-month-site-performance"></div>
            </div>
        </div>
    </div>

    <div *ngIf="show4" class="col-md-12 col-xl-4">
        <div class="card card-border-primary">
            <div class="card-header">
                <h5>THIS MONTH COURSES DELIVERED BY PARTNERS</h5>
            </div>
            <div class="card-block card-block-dashboard">
                <!--isu di grup AD tambah loading di setiap chart-->
                <ngx-loading [show]="loading_3" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                <div id="morris-bar-chart-partner"></div>
            </div>
        </div>
    </div>

    <div *ngIf="show5" class="col-md-12 col-xl-4">
        <div class="card card-border-primary">
            <div class="card-header">
                <h5>{{ 'dashboard.admin.total_course_by_core' | translate }} (ATC)</h5>
            </div>
            <div class="card-block card-block-dashboard">
                <!--isu di grup AD tambah loading di setiap chart-->
                <ngx-loading [show]="loading_5" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                <google-chart [data]="doughATCParticipatedEvaSurvey"></google-chart>
            </div>
        </div>
    </div>

    <div  *ngIf="show6" class="col-md-12 col-xl-4">
        <div class="card card-border-primary">
            <div class="card-header">
                <h5>{{ 'dashboard.admin.total_course_by_core' | translate }} (AAP)</h5>
            </div>
            <div class="card-block card-block-dashboard">
                <!--isu di grup AD tambah loading di setiap chart-->
                <ngx-loading [show]="loading_6" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                <google-chart [data]="doughAAPParticipatedEvaSurvey"> </google-chart>
            </div>
        </div>
    </div>
    
    <div  *ngIf="show7" class="col-md-12 col-xl-4">
        <div class="card card-border-primary">
            <div class="card-header">
                <h5>TOTAL EVALUATION SURVEY TAKEN</h5>
            </div>
            <div class="card-block card-block-dashboard">
                <!--isu di grup AD tambah loading di setiap chart-->
                <ngx-loading [show]="loading_4" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                <div id="morris-bar-chart-month2"></div>
               
            </div>
        </div>
    </div>
</div>