<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.report_eva.instructor_course.instructor_course_list' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.report_eva.organization_report.filter_data' | translate}}:</label>
                <br>
                <label class="col-form-label">{{'epdb.report_eva.organization_report.survey_year' | translate}}</label>
                <select name="oStatus" class="form-control" [(ngModel)]="selectedYear">
                    <option value="">-- {{ 'general.select' | translate }} --</option>
                    <option *ngFor="let item of year" value="{{item.Key}}">{{item.KeyValue}}</option>
                </select>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">&nbsp;</label>
                <br>
                <label class="col-form-label">{{'epdb.report_eva.organization_report.month' | translate}}:</label>
                <select name="date" class="form-control" [(ngModel)]="selectedValueDate">
                    <!-- <option value="">-- {{ 'general.select' | translate }} --</option> -->
                    <option *ngFor="let c of date" [ngValue]="c.id">{{c.name}}</option>
                </select>
            </div>
            <div class="col-md-10 col-xl-10 form-group"></div>
            <div class="col-md-2 col-xl-2 form-group">
                <button type="button" (click)="getInstCourse()" class="btn btn-success btn-md btn-block text-center">
                    <i class="icofont icofont-save"></i>{{ 'general.btn_submit' | translate }}</button>
            </div>
            <div class="col-md-12 col-xl-12">
                <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">{{'eim.profile.my_profile.company' | translate}}:</label>
                    <label class="col-form-label col-md-5 col-xl-5">{{SiteName}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">Site ID:</label>
                    <label class="col-form-label col-md-5 col-xl-5">{{SiteId}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">{{'eva.manage_course.list_course.instructor_id' | translate}}:</label>
                    <label class="col-form-label col-md-5 col-xl-5">{{InstructorId}}</label>
                </div>
                <div class="row">
                    <label class="col-form-label col-md-2 col-xl-2">{{'epdb.report_eva.organization_report.total_evaliation' | translate}}:</label>
                    <label class="col-form-label col-md-5 col-xl-5">{{Evals}}</label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="courseList | dataFilter: filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="50%">{{'student.my_course.course_date' | translate}}</th>
                            <th width="50%">Total # of Students</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="courseList != null">
                        <tr *ngFor="let item of mf.data">
                            <td>
                                <a [routerLink]="['/report-eva/instructor-student',SiteId,InstructorId,item.CompletionDate]">{{item.CourseDate}}</a>
                            </td>
                            <td>{{item.TotalStudent}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="courseList!=null">
                            <td colspan="2">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="courseList==null">
                            <td colspan="2" class="text-center">{{'general.loading_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="courseList==''">
                            <td colspan="2" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>