<div class="row">
    <div class="col-md-12 col-xl-12 page-header-title">
        <h4>Report : ATC Locator 2012 Report ALPHA</h4>
        <br/>
        <br/>
    </div>
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary"> 
            <div class="card-block row" >  
                <div class="col-lg-12 col-xl-12"> 
                    <div class="col-md-12 col-xl-12 row"> 
                    	<div class="col-md-12 col-xl-12 form-group text-left">
		                    <label>ATC Locator 2012</label>
		                    <hr/>
		                </div> 
		                <div class="col-md-1 col-xl-1 form-group">
                        </div>
                        <div class="col-md-5 col-xl-5 form-group">
                            <label class="col-form-label">Geo</label>
                            <angular2-multiselect [data]="dropdownListGeo" [(ngModel)]="selectedItemsGeo" 
                                [settings]="dropdownSettingsGeo" 
                                (onSelect)="onItemSelect($event)" 
                                (onDeSelect)="OnItemDeSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                                (onDeSelectAll)="onDeSelectAll($event)">
                            </angular2-multiselect>
                        </div>
                        <div class="col-md-5 col-xl-5 form-group">
                            <label class="col-form-label">Region</label>
                            <angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" 
                                [settings]="dropdownSettingsRegion" 
                                (onSelect)="onItemSelect($event)" 
                                (onDeSelect)="OnItemDeSelect($event)"
                                (onSelectAll)="onSelectAll($event)"
                                (onDeSelectAll)="onDeSelectAll($event)">
                            </angular2-multiselect>
                        </div>
                        <div class="col-md-1 col-xl-1 form-group">
                        </div> 
                    </div>  
                    <div class="col-md-12 col-xl-12 row" >  
                        <div class="col-md-10 col-xl-10 page-header-title">
                        </div>
                        <div class="col-md-2 col-xl-2 page-header-title">
                            <button type="button" [routerLink]="['/epdb/ATC-AAP-static-report/ATC-locator-2012-report-ALPHA']" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-checked"></i> Submit</button>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary">
            <div class="card-block row dt-responsive m-20">
                <div class="col-xs-12 col-sm-12 col-sm-12">
                    <label>90 records found</label>
                </div>
                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                    <div>
                      <label class="label-control">Show
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                          <option [ngValue]="10">10</option>
                          <option [ngValue]="25">25</option>
                          <option [ngValue]="50">50</option>
                          <option [ngValue]="100">100</option>
                        </select>
                        entries
                      </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div class="text-right">
                        <label>Search:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                        </label>
                    </div>
                </div>  
                <table class="row table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="4%"><mfDefaultSorter by="id">Partner CNS</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Partner Name</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Partner Type</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Tier</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Address 1</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Address 2</mfDefaultSorter></th> 
                            <th width="4%"><mfDefaultSorter by="id">Address 3</mfDefaultSorter></th> 
                            <th width="4%"><mfDefaultSorter by="id">City</mfDefaultSorter></th> 
                            <th width="4%"><mfDefaultSorter by="id">State</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Zip</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Country</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Geo</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Phone</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Fax</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">URL</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Email</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Hierarchy Position</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Parent Partner Name</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Contract Number</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Contract Type</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Contract Status</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Addendums</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Access Group</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Primary Product Focus</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Business Type</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Sales Territory Country</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Sales Territory State</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Sales Territory City</mfDefaultSorter></th>
                            <th width="4%"><mfDefaultSorter by="id">Sales Territory Postal Code</mfDefaultSorter></th>
                        </tr> 
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data">
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.id}}</td>
                        </tr>
                    </tbody>
                    <tfoot> 
                        <tr>
                            <td colspan="31"><mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator></td>
                        </tr>
                    </tfoot>
                </table> 
            </div> 
	    </div>
	</div>
</div>