<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="card card-border-primary">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'eva.manage_student_info.edit_student_information' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="updatestudent" (ngSubmit)="onSubmit()">
          <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-4 col-xl-4 form-group">
              <label>
                <strong>{{'eim.profile.my_profile.first_name' | translate}}</strong>
              </label>
              <input type="text" name="Firstname" id="Firstname" class="form-control" formControlName="Firstname">
              <span class="messages text-danger" *ngIf="!updatestudent.get('Firstname').valid && updatestudent.get('Firstname').touched">* Please Enter First Name</span>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
              <label>
                <strong>{{'eim.profile.my_profile.last_name' | translate}}</strong>
              </label>
              <input type="text" name="Lastname" id="Lastname" class="form-control" formControlName="Lastname">
              <span class="messages text-danger" *ngIf="!updatestudent.get('Lastname').valid && updatestudent.get('Lastname').touched">* Please Enter Last Name</span>
            </div>

            <div class="col-md-4 col-xl-4 form-group">
              <label>
                <strong>{{'general.email' | translate}}</strong>
              </label>
              <input type="email" name="Email" id="Email" class="form-control" formControlName="Email">
              <span class="messages text-danger" *ngIf="!updatestudent.get('Email').valid && updatestudent.get('Email').touched">* Please Enter Email</span>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
              <label>
                <strong>{{'eva.manage_student_info.confirm_email' | translate}}</strong>
              </label>
              <input type="email" name="Email" id="ConfirmEmail" class="form-control" formControlName="ConfirmEmail">
              <span class="messages text-danger" *ngIf="!updatestudent.get('Email').valid && updatestudent.get('Email').touched">* Please Enter Confirm Email</span>
            </div>
            <!-- <div class="col-md-4 col-xl-4 form-group">
      <label>
          <strong>{{'epdb.admin.country.countries.country' | translate}}</strong>
      </label>
      <select name="CountryID" id="CountryID" class="form-control" formControlName="CountryID">
          <option value="">-- {{'general.select' | translate}} --</option>
          <option *ngFor="let item of country" value={{item.countries_code}}>{{item.countries_name}}</option>
      </select>
      <span class="messages text-danger" *ngIf="!updatestudent.get('CountryID').valid && updatestudent.get('CountryID').touched">* Please Enter Country</span>
  </div> -->
            <!-- <div class="col-md-4 col-xl-4 form-group">
      <label>
          <strong>{{'epdb.manage.organization.add_edit.city' | translate}}</strong>
      </label>
      <input type="text" class="form-control" formControlName="City">
      <span class="messages text-danger" *ngIf="!updatestudent.get('City').valid && updatestudent.get('City').touched">* Please Enter City</span>
  </div> -->
            <!-- <div class="col-md-4 col-xl-4 form-group">
      <label>
          <strong>{{'eva.manage_student_info.company' | translate}}</strong>
      </label>
      <input type="text" class="form-control" formControlName="Company">
      <span class="messages text-danger" *ngIf="!updatestudent.get('Company').valid && updatestudent.get('Company').touched">* Please Enter Company</span>
  </div> -->
            <!-- <div class="col-md-4 col-xl-4 form-group">
      <label>
          <strong>{{'eim.profile.my_profile.phone_number' | translate}}</strong>
      </label>
      <input type="a" class="form-control" formControlName="Phone">
      <span class="messages text-danger" *ngIf="!updatestudent.get('Phone').valid && updatestudent.get('Phone').touched">* Please Enter Company</span>
  </div> -->
        <!--  <div class="col-md-8 col-xl-8 form-group"></div>-->  
            <div class="col-md-4 col-xl-11"></div>
         
            <div class="col-md-2 col-xl-3 form-group">
                <label></label>
              <button type="submit" class="btn btn-success btn-md btn-block text-center">
                <i class="icofont icofont-save"></i>{{ 'general.btn_save' | translate }}
              </button>
            </div>
            <div class="col-md-2 col-xl-3 form-group">
                <label></label>
              <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}
              </button>
            </div>
            <div class="col-md-4 col-xl-3 form-group">
                <label></label>
              <button (click)="generatePasswordPopUp()" type="button" class="btn btn-success btn-block text-center">
                <i class="icofont icofont-lock"></i> Get Temporary Password
              </button>
            </div>

            <div class="col-md-2 col-xl-3 form-group">
                    <label></label>
              <button type="button" [routerLink]="['/studentinfo/search-student']" class="btn btn-danger btn-md btn-block text-center">
                <i class="icofont icofont-ui-close"></i>{{ 'general.btn_cancel' | translate }}
              </button>
            </div>

            <div class="col-md-3 col-xl-3 form-group">
                <button type="button" class="btn btn-default btn-md btn-block text-center" routerLink="/merge/student/{{id_student}}">
                    Mark as duplicate
                </button>
            </div>
          </div>
        </form>
        
        <div class="card">
          <div class="card-header">
              <div class="page-header-title">
                  <h4>{{'List StudentID' | translate}}</h4>
              </div>
          </div>
          <div class="card-block">
              
              <div class="dt-responsive dt-bootstrap4 row p-20">
                  <div class="col-xs-12 col-sm-12 col-sm-12 col-md-8">
                      <div>
                          <label class="label-control">{{'general.show' | translate}}
                              <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                                  <option [ngValue]="10">10</option>
                                  <option [ngValue]="25">25</option>
                                  <option [ngValue]="50">50</option>
                                  <option [ngValue]="100">100</option>
                               </select>
                              {{'general.entries' | translate}}
                          </label>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-4">
                    <div class="text-right form-inline">
                      <label>
                        {{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                      </label>
                      
                      <br />
                      <br />
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                      <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data | dataFilterStudent : filterQuery"
                          #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                          <thead>
                              <tr>
                                  <th width="25%">
                                      <!-- {{'eva.manage-student-info.list-student.table.no' | translate}} -->
                                      <mfDefaultSorter by="StudentID">{{'eva.manage_student_info.student_id' | translate}}</mfDefaultSorter>
                                  </th>
                                  <th width="36%">
                                      <mfDefaultSorter by="Firstname">{{'eva.manage_student_info.student_name' | translate}}</mfDefaultSorter>
                                  </th>
                                  <!-- <th width="15%">
                                      <mfDefaultSorter by="unique">{{'eva.manage_student_info.company' | translate}}</mfDefaultSorter>
                                  </th> -->
                                  <!-- <th width="15%">{{'epdb.manage.organization.add_edit.city' | translate}}</th> -->
                                  <!-- <th width="15%">{{'epdb.admin.country.countries.country' | translate}}</th> -->
                                  <!-- <th width="15%">{{'epdb.manage.organization.detail.telephone' | translate}}</th> -->
                                  <th width="25%">
                                      <mfDefaultSorter by="Email">{{'general.email' | translate}}</mfDefaultSorter>
                                  </th>
                                  <th width="12%">
                                    <mfDefaultSorter by="CourseCount">{{'Course Count' | translate}}</mfDefaultSorter>
                                </th>
                                  <th width="12%">
                                    <mfDefaultSorter by="Status">{{'Status' | translate}}</mfDefaultSorter>
                                </th>
                                
                                 <!-- <th width="10%" class="text-center" *ngIf="accesUpdateStudentInfoBtn">{{'general.action' | translate}}</th> -->
                              </tr>
                          </thead>
                          <tbody *ngIf="data!=null">
                            <tr *ngFor="let item of mf.data">
                              <td class="text-center">{{item.StudentID}}</td>
                              <td>{{item.Firstname}} {{item.Lastname}}</td>
                              <!-- <td>{{item.Company}}</td> -->
                              <!-- <td>{{item.City}}</td> -->
                              <!-- <td>{{item.countries_name}}</td> -->
                              <!-- <td>{{item.Phone}}</td> -->
                              <td>{{item.Email}}</td>
                              <td>{{item.CourseCount}}</td>
                              <td>{{item.Status}}</td>
                            
                            </tr>
                          </tbody>
                        <tfoot>
                              <tr *ngIf="data!=null">
                                  <td colspan="8">
                                      <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                                  </td>
                              </tr>
                              <tr *ngIf="data==null">
                                  <td colspan="8" class="text-center">{{'general.loading_data' | translate}} ...</td>
                              </tr>
                              <tr *ngIf="data==''">
                                  <td colspan="8" class="text-center">{{'general.data_empty' | translate}}</td>
                              </tr>
                          </tfoot>
                      </table>
                  </div>
                 

                  <div class="col-md-3 col-xl-9"></div>
                  <div class="col-md-2 col-xl-3 form-group">
                    <button type="button" (click)="Update()" class="btn btn-success btn-md btn-block text-center">
                      <i class="icofont icofont-update"></i>{{ 'Update' | translate }}
                    </button>
                  </div>
                  <div class="col-md-3 col-xl-1"></div>
                  <div class="col-md-2 col-xl-2 form-group">
                  <tr *ngIf="this.loading==true"  style="font-size: 22px ;font-weight: bold"  class="text-center">
                  
                 </tr>
                 </div>

              </div>
          </div>
      </div>
    </div>
</div>
