<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.market_type.market_type_list' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-4 col-xl-4">
                <label class="label-control">{{'epdb.admin.market_type.market_type' | translate}}</label>
                <select name="MarketName" id="MarketName" class="form-control" *ngIf="market!=null" (change)="findCountry($event.target.value)"
                    [(ngModel)]="marketId">
                    <option value="">-- {{'general.select' | translate}} --</option>
                    <option *ngIf="market==null">{{'general.loading_data' | translate}} ...</option>
                    <option *ngIf="market==''">{{'general.data_empty' | translate}}</option>
                    <option *ngFor="let item of market" value="{{item.MarketTypeId}}">{{item.MarketType}}</option>
                </select>
            </div>
            <div class="col-md-3 col-xl-3">&nbsp;</div>
            <div class="col-md-2 col-xl-2" *ngIf="showUpdate">&nbsp;</div>
            <div class="col-md-2 col-xl-2 form-group text-right" *ngIf="marketFound">
                <label class="col-md-12 label-control">&nbsp;</label>
                <button *ngIf="accesUpdateBtn" type="button" (click)="updateMarketType()" class="btn btn-primary btn-block btn-md text-center">
                    <i class="icofont icofont-ui-edit"></i> {{'general.btn_update' | translate}}</button>
                <!-- <button type="button" [routerLink]="['/admin/market-type/market-type-update']" class="btn btn-primary btn-md text-center"><i class="icofont icofont-ui-edit"></i> {{'general.btn_update' | translate}}</button> -->
            </div>
            <div class="col-md-3 col-xl-3 form-group text-right">
                <label class="col-md-12 label-control">&nbsp;</label>
                <button *ngIf="accesAddBtn" type="button" [routerLink]="['/admin/market-type/market-type-add']" class="btn btn-primary btn-block btn-md text-center">
                    <i class="icofont icofont-ui-add"></i> {{'epdb.admin.market_type.btn_add_market_type' | translate}}</button>
            </div>

            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6" *ngIf="marketFound">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6" *ngIf="marketFound">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data | dataFilterMarketType : filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="Country" [(mfSortOrder)]="sortOrder" *ngIf="marketFound">
                    <thead>
                        <tr>
                            <th width="100%">
                                <mfDefaultSorter by="countries_name">{{'epdb.admin.country.countries.country' | translate}}</mfDefaultSorter>
                            </th>
                            <!-- <th width="10%" class="text-center">{{'general.action' | translate}}</th> -->
                        </tr>
                    </thead>
                    <tbody *ngIf="data!=null">
                        <tr *ngFor="let item of mf.data">
                            <td>{{item.countries_name}}</td>
                            <!-- <td class="action-icon">
                                <a (click)="openConfirmsSwal(item.CountryId)" class="m-r-15 text-muted f-18 ml-4" ngbTooltip="{{'general.tool_tip_delete' | translate}}"><i class="icofont icofont-delete-alt"></i></a>
                            </td> -->
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>