<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.manage.contact.add_edit.add_new_contact' | translate }}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="filtercontact" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-12 col-xl-12 form-group" *ngIf="datadetail!=null">
                    <label class="col-form-label">{{ 'epdb.manage.site.detail.site_name' | translate }} : {{datadetail.SiteName}}</label>
                </div>

                <div class="col-md-12 col-xl-12 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.contact.add_edit.message_add_contact' | translate }}</label>
                </div>

                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.manage.contact.detail.contact_id' | translate }}</label>
                    <input type="text" class="form-control" id="ContactId" formControlName="ContactId" placeholder="Contact Id">
                </div>

                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'eim.profile.my_profile.first_name' | translate }}</label>
                    <input type="text" class="form-control" id="FirstName" formControlName="FirstName" placeholder="{{ 'epdb.manage.organization.add_edit.first_name' | translate }}">
                </div>

                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'eim.profile.my_profile.last_name' | translate }}</label>
                    <input type="text" class="form-control" id="LastName" formControlName="LastName" placeholder="{{ 'epdb.manage.organization.add_edit.last_name' | translate }}">
                </div>

                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.organization.detail.email' | translate }}
                        <code>*</code>
                    </label>
                    <input type="email" class="form-control" id="EmailAddress" formControlName="EmailAddress" placeholder="{{ 'epdb.manage.organization.detail.email' | translate }}">
                    <span class="messages text-danger" *ngIf="!filtercontact.get('EmailAddress').valid && filtercontact.get('EmailAddress').touched">* Please Enter Email Address</span>
                </div>

                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.admin.partner_type.partner_type' | translate }}</label>
                    <select name="PartnerType" class="form-control" formControlName="PartnerType">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of partnertype" value={{item.RoleName}}>{{item.RoleName}}</option>
                    </select>
                </div>

                <div class="col-md-6 col-xl-6 form-group">&nbsp;</div>

                <div class="col-md-2 col-xl-2 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-play"></i> {{'general.search' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" class="btn btn-default btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group" *ngIf="datadetail!=null">
                    <button type="button" [routerLink]="['/manage/site/detail-site',datadetail.SiteIdInt]" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-ui-close"></i> {{ 'general.btn_cancel' | translate }}</button>
                </div>
                <!-- <div class="col-md-8 col-xl-8 form-group"></div> -->
                <!-- <div class="col-md-4 col-xl-4 form-group">
                    <button type="button" class="btn btn-warning btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-warning-alt"></i> {{ 'general.btn_help' | translate }}</button>
                </div> -->

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">
                        <strong>{{ 'epdb.manage.contact.add_edit.or_please_click' | translate }}</strong>
                    </label>
                </div>
                <div class="col-md-8 col-xl-8 form-group"></div>
                <div class="col-md-4 col-xl-4 form-group">
                    <button (click)="affiliatebasedsite()" type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">{{ 'epdb.manage.contact.add_edit.btn_choose_affiliated' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
    <div class="card-block" *ngIf="datacontact==''">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-xs-12 col-sm-12 col-md-12 from-group row">
                <div class="col-md-12 col-xl-12 form-group">
                    <label class="col-form-label text-center">There are no contacts meeting the search criteria specified above.</label>
                </div>
                <div class="col-md-12 col-xl-3 form-group"></div>
                <div class="col-md-12 col-xl-6 form-group">
                    <label class="col-form-label">&nbsp;</label>
                    <button (click)="openaddnewcontact()" type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Add New Contact</button>
                </div>
                <div class="col-md-12 col-xl-3 form-group"></div>
            </div>
        </div>
    </div>
    <div class="card-block" *ngIf="datadetail!=null && dataorg!=null && choosesite==true">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">
                    {{'epdb.manage.contact.add_edit.sentence_1' | translate}}
                    <strong>{{datadetail.SiteName}}</strong> {{'epdb.manage.contact.add_edit.sentence_2' | translate}}
                    <br/> {{'epdb.manage.contact.add_edit.sentence_3' | translate}}
                    <strong>{{dataorg[0].OrgName}}</strong>, {{'epdb.manage.contact.add_edit.sentence_4' | translate}}
                </label>
            </div>
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="5">5</option>
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="20">20</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data | dataFilterAddContact : filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="20%"></th>
                            <th width="20%">
                                <mfDefaultSorter by="ContactId">{{'epdb.manage.contact.detail.contact_id' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="60%">
                                <mfDefaultSorter by="FirstName">{{'epdb.manage.contact.detail.contact_name' | translate}}</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="data!=null && data!=''">
                        <tr *ngFor="let item of mf.data">
                            <td>
                                <div class="checkbox-fade fade-in-primary">
                                    <label class="col-form-label">
                                        <input type="checkbox" (change)="selectContact($event,item.ContactId)" *ngIf="item.CheckedContact == true" checked="checked">
                                        <input type="checkbox" (change)="selectContact($event,item.ContactId)" *ngIf="item.CheckedContact == false">
                                        <span class="cr">
                                            <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                        </span>
                                    </label>
                                </div>
                            </td>
                            <td>{{item.ContactId}}</td>
                            <td>{{item.ContactName}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="data!=null">
                            <td colspan="7">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="7" class="text-center">{{'general.loading_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="7" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="col-md-7 col-xl-7 form-group"></div>
            <div class="col-md-3 col-xl-3 form-group">
                <button type="button" (click)="addcontactaffiliate();" class="btn btn-success btn-md btn-block text-center">
                    <i class="icofont icofont-save"></i> {{'general.btn_save_change' | translate}}</button>
            </div>
            <div class="col-md-2 col-xl-2 form-group">
                <button type="button" (click)="hideaffiliatesite()" class="btn btn-danger btn-md btn-block text-center">
                    <i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
            </div>
        </div>
    </div>
    <div class="card-block" *ngIf="datacontact!=null&&datacontact!=''">
        <div class="dt-responsive dt-bootstrap4">
            <div class="col-xs-12 col-sm-12 col-md-12 from-group row">
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div>
                        <label class="label-control">{{'general.show' | translate}}
                            <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage1">
                                <option [ngValue]="10">10</option>
                                <option [ngValue]="25">25</option>
                                <option [ngValue]="50">50</option>
                                <option [ngValue]="100">100</option>
                            </select>
                            {{'general.entries' | translate}}
                        </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6">
                    <div style="text-align: right;">
                        <label>{{'general.search' | translate}}:
                            <input type="search" [(ngModel)]="filterQuery1" class="form-control input-sm full-data-search">
                        </label>
                    </div>
                </div>
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="datacontact | dataFilter : filterQuery1"
                    #mf1="mfDataTable" [mfRowsOnPage]="rowsOnPage1" [(mfSortBy)]="sortBy1" [(mfSortOrder)]="sortOrder1">
                    <thead>
                        <tr>
                            <th width="25%">
                                <mfDefaultSorter by="ContactIdInt">{{ 'epdb.manage.contact.detail.contact_id' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="25%">
                                <mfDefaultSorter by="InstructorId">{{ 'eva.manage_course.list_course.instructor_id' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="45%">
                                <mfDefaultSorter by="ContactName">{{ 'general.name' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="45%">
                                <mfDefaultSorter by="EmailAddress">Email</mfDefaultSorter>
                            </th>
                            <th width="45%">
                                <mfDefaultSorter by="Timezone">Affiliate</mfDefaultSorter>
                            </th>
                            <th width="10%">{{ 'general.action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf1.data">
                            <td>
                                <a [routerLink]="['/manage/contact/detail-contact/',item.ContactIdInt,item.SiteId]">{{item.ContactId}}</a>
                            </td>
                            <td>{{item.InstructorId}}</td>
                            <td>{{item.ContactName}}</td>
                            <td>{{item.EmailAddress}}</td>
                            <td>{{item.CountSites}}</td>
                            <td>
                                <button *ngIf="item.OnThisSite<1" (click)="affiliate(item.ContactId,item.ContactIdInt,item.SiteId)" type="button" class="btn btn-primary btn-sm">Affiliate</button>
                                <span *ngIf="item.OnThisSite>0">Already affiliated</span>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="datacontact!=null">
                            <td colspan="8">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="datacontact==null">
                            <td colspan="8" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>