<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>Show Security Roles Assignments</h4>
            <!-- {{'epdb.report.show_security.show_security' | translate}} -->
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <!-- <div class="col-xs-12 col-sm-12 col-md-6">
                <div style="text-align: right;">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div> -->
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data | dataFilter : filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="20%">
                                <mfDefaultSorter by="ActivityName">
                                    Group Name
                                    <!-- {{ 'epdb.report.show_security.group_name' | translate }} -->
                                </mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="ContactName">
                                    {{ 'epdb.manage.contact.detail.contact_name' | translate }}
                                </mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="EmailAddress">
                                    {{ 'eim.profile.my_profile.email_address' | translate }}
                                </mfDefaultSorter>
                            </th>
                            <th width="20%">
                                <mfDefaultSorter by="SiteName">
                                    {{ 'epdb.manage.site.detail.site_name' | translate }}
                                </mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="LastModifiedBy">Last Modified by</mfDefaultSorter>
                                <!-- {{ 'general.last_modified_by' | translate }} -->
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="DateModified">Date Modified</mfDefaultSorter>
                                <!-- {{ 'general.date_modified' | translate }} -->
                            </th>
                        </tr>
                    </thead>
                    <tbody *ngIf="data != null">
                        <tr *ngFor="let item of mf.data">
                            <td>{{item.UserLevelId}}</td>
                            <td>
                                <a [routerLink]="['/manage/contact/detail-contact',item.ContactIdInt,item.SiteId]">{{item.ContactName}}</a>
                            </td>
                            <td>{{item.EmailAddress}}</td>
                            <td>{{item.SiteName}}</td>
                            <td>{{item.UserName}}</td>
                            <td>{{item.DateLastAdmin}};</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="data!=null">
                            <td colspan="6">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="6" class="text-center">{{'general.loading_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="6" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>