<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.report_eva.instructor_performance.instructor_performance' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="queryForm" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-12 col-xl-12 form-group row">
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.report_eva.organization_report.filter_data' | translate}}:</label>
                        <br>
                        <label class="col-form-label">{{'epdb.admin.country.geo.geo' | translate}}</label>
                        <angular2-multiselect [data]="dropdownListGeo " [(ngModel)]="selectedItemsGeo" [ngModelOptions]="{standalone:true}" [settings]="dropdownSettings"
                            (onSelect)="onGeoSelect($event)" (onDeSelect)="OnGeoDeSelect($event)" (onSelectAll)="onGeoSelectAll($event)"
                            (onDeSelectAll)="onGeoDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                    <!-- <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">&nbsp;</label>
                        <br>
                        <label class="col-form-label">{{'epdb.admin.country.region.region' | translate}}</label>
                        <angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" [ngModelOptions]="{standalone: true}"
                            [settings]="dropdownSettings" (onSelect)="onRegionSelect($event)" (onDeSelect)="OnRegionDeSelect($event)"
                            (onSelectAll)="onRegionSelectAll($event)" (onDeSelectAll)="onRegionDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">&nbsp;</label>
                        <br>
                        <label class="col-form-label">{{'epdb.admin.country.sub_region.sub_region' | translate}}</label>
                        <angular2-multiselect [data]="dropdownListSubRegion " [(ngModel)]="selectedItemsSubRegion" [ngModelOptions]="{standalone: true}"
                            [settings]="dropdownSettings" (onSelect)="onSubRegionSelect($event)" (onDeSelect)="OnSubRegionDeSelect($event)"
                            (onSelectAll)="onSubRegionSelectAll($event)" (onDeSelectAll)="onSubRegionDeSelectAll($event)">
                        </angular2-multiselect>
                    </div> -->
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">&nbsp;</label>
                        <br>
                        <label class="col-form-label">{{'epdb.admin.country.countries.country' | translate}}</label>
                        <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" [settings]="dropdownSettings" [ngModelOptions]="{standalone: true}"
                            (onSelect)="onCountriesSelect($event)" (onDeSelect)="OnCountriesDeSelect($event)" (onSelectAll)="onCountriesSelectAll($event)"
                            (onDeSelectAll)="onCountriesDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">&nbsp;</label>
                        <br>
                        <label class="col-form-label">{{'epdb.report_eva.organization_report.survey_year' | translate}}</label>
                        <select name="oStatus" class="form-control" formControlName="filterByYear">
                            <option value="">-- {{ 'general.select' | translate }} --</option>
                            <option *ngFor="let item of year" value="{{item.Key}}">{{item.KeyValue}}</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.report_eva.organization_report.month' | translate}}:</label>
                        <select name="date" class="form-control" formControlName="filterByDate">
                            <!-- <option value="">-- {{ 'general.select' | translate }} --</option> -->
                            <option *ngFor="let c of date" [ngValue]="c.id">{{c.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.report_eva.performance_overview.site_active' | translate}}</label>
                        <select name="SiteActive" class="form-control" formControlName="filterBySiteStatus">
                            <option value="">-- {{ 'general.select' | translate }} --</option>
                            <option *ngFor="let c of siteActive" [ngValue]="c.id">{{c.name}}</option>
                        </select>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.admin.partner_type.partner_type' | translate}}</label>
                        <angular2-multiselect [data]="dropdownPartner" [(ngModel)]="selectedPartner" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                            (onSelect)="onPartnerSelect($event)" (onDeSelect)="OnPartnerDeSelect($event)" (onSelectAll)="onPartnerSelectAll($event)"
                            (onDeSelectAll)="onPartnerDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group">
                        <label class="col-form-label">{{'epdb.admin.partner_type.certificate_type' | translate}}</label>
                        <angular2-multiselect [data]="dropdownCertificate" [(ngModel)]="selectedCertificate" [ngModelOptions]="{standalone: true}"
                            [settings]="dropdownSettings" (onSelect)="onCertificateSelect($event)" (onDeSelect)="OnCertificateDeSelect($event)"
                            (onSelectAll)="onCertificateSelectAll($event)" (onDeSelectAll)="onCertificateDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                    <div class="col-md-4 col-xl-4 form-group" *ngIf="showEvent">
                        <label class="col-form-label">Event Type</label>
                        <angular2-multiselect [data]="dropdownEventType" [(ngModel)]="selectedEventType" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                            (onSelect)="onEventTypeSelect($event)" (onDeSelect)="OnEventTypeDeSelect($event)" (onSelectAll)="onEventTypeSelectAll($event)"
                            (onDeSelectAll)="onEventTypeDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                    <!-- <div class="col-md-12 col-xl-12 form-group">
                        <div class="col-md-6 col-xl-6 row">
                            <label class="col-form-label">Results per page:</label>
                            <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                                <option [ngValue]="25">25</option>
                                <option [ngValue]="50">50</option>
                                <option [ngValue]="100">10</option>
                                <option [ngValue]="250">250</option>
                                <option [ngValue]="500">500</option>
                                <option [ngValue]="1000">1000</option>
                            </select>
                        </div>
                    </div> -->
                    <div class="col-md-8 col-xl-8">&nbsp;</div>
                    <div class="col-md-6 col-xl-6">&nbsp;</div>
                    <div class="col-md-2 col-xl-2">
                        <button type="submit " class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                            <i *ngIf="!loading" class="icofont icofont-play-alt-1 "></i>
                            <i class="fas fa-spinner fa-pulse" *ngIf="loading"></i>
                            {{ 'general.search' | translate }}
                        </button>
                    </div>
                    <div class="col-md-2 col-xl-2">
                        <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                            <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}
                        </button>
                    </div>
                    <div class="col-md-2 col-xl-2">
                        <button type="button" (click)="apiCall.unsubscribe();loading=false" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                            <i class="icofont icofont-stop"></i>{{ 'general.btn_stop_query' | translate }}</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="card-block" *ngIf="dataFound">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">{{'epdb.report_eva.organization_report.total_evaliation' | translate}}: {{totalEvaluation}}</label>
            </div>
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6" *ngIf="dataFound">
                <label class="label-control">{{'general.show' | translate}}
                    <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                    </select>
                    {{'general.entries' | translate}}
                </label>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6" *ngIf="data!=null && data!=''">
                <div class="text-right">
                    <i class="fa fa-file-excel-o"></i>
                    <a [routerLink]="['/report-eva/instructor-performance-eva']" (click)="ExportExceltoXls()"> Export to .xls</a> &nbsp; 
                    <a [routerLink]="['/report-eva/instructor-performance-eva']" (click)="ExportExceltoXlSX()"> Export to .xlsx</a> &nbsp; 
                    <a [routerLink]="['/report-eva/instructor-performance-eva']" (click)="ExportExceltoCSV()"> Export to .csv</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter: filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="10%">{{'epdb.manage.site.detail.site_id' | translate}}</th>
                            <th width="10%">{{'eva.manage_course.list_course.survey_partner_type' | translate}}</th>
                            <th width="30%">{{'epdb.manage.site.detail.site_name' | translate}}</th>
                            <th width="10%">{{'eva.manage_course.list_course.instructor_id' | translate}}</th>
                            <th width="20%">{{'eva.manage_course.list_course.instructor_name' | translate}}</th>
                            <th width="10%"># {{'epdb.report_eva.organization_report.of_eval' | translate}}</th>
                            <th width="10%">WDT %</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of mf.data">
                            <td *ngIf="showhiperlink">
                                <a [routerLink]="['/report-eva/instructor-performance-eva']" (click)="redirectsite(item.SiteId,item.InstructorId)" ngbTooltip="{{item.SiteName}}">{{item.SiteId}}</a>
                            </td>
                            <td *ngIf="!showhiperlink">
                                {{item.SiteId}}
                            </td>
                            <td>
                                <div *ngIf="item.RoleId == 1; else AAP">ATC</div>
                                <ng-template #AAP>AAP</ng-template>
                            </td>
                            <td>{{item.SiteName}}</td>
                            <td>
                                <!-- <a [routerLink]="['/report-eva/instructor-course']">{{item.ContactId}}</a> -->
                                {{item.InstructorId}}
                            </td>
                            <td>{{item.ContactName}}</td>
                            <td>{{item.Evals}}</td>
                            <td>{{item.WDT}}%</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="data!=null">
                            <td colspan="7">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="7" class="text-center">{{'general.loading_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="7" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>