<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'menu_report_epdb.qualification_contact_report' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">
                    Product (choose one or more)
                </label>
                <code>*</code>
                <angular2-multiselect [data]="dropdownListProduct" [(ngModel)]="selectedItemsProduct" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettingsProduct" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                </angular2-multiselect>
                <span class="messages text-danger" *ngIf="!productfill">* Please Select Product</span>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">
                    {{'epdb.report.organization_report.filter_by_partner_type' | translate}}:
                </label>
                <angular2-multiselect [data]="dropdownListPartner" [(ngModel)]="selectedItemsPartner" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                    (onDeSelectAll)="onDeSelectAll($event)">
                </angular2-multiselect>
                <span class="messages text-danger" *ngIf="showValidPartnerType">* Please Select Partner Type</span>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">
                    {{'epdb.report.organization_report.filter_by_partner_type' | translate}}:
                </label>
                <angular2-multiselect [data]="dropdownListPartnerTypeStatus" [(ngModel)]="selectedItemsPartnerTypeStatus" [settings]="dropdownSettings"
                    [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                </angular2-multiselect>
                <span class="messages text-danger" *ngIf="showValidPartnerStatus">* Please Select Status</span>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">
                    {{'epdb.report.organization_report.filter_by_market_type' | translate}}:
                </label>
                <angular2-multiselect [data]="dropdownListMarketType" [(ngModel)]="selectedItemsMarketType" [settings]="dropdownSettings"
                    [ngModelOptions]="{standalone:true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)">
                </angular2-multiselect>
                <span class="messages text-danger" *ngIf="showValidMarketType">* Please Select Market Type</span>
            </div>
            <div class="col-md-12 col-xl-12">&nbsp;</div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">
                    {{'epdb.report.organization_report.filter_by_location' | translate}}:
                </label>
                <br>
                <label class="col-form-label">
                    {{ 'epdb.admin.country.territory.territory' | translate }}
                </label>
                <angular2-multiselect [data]="dropdownListTerritories" [(ngModel)]="selectedItemsTerritories" [settings]="dropdownSettings"
                    [ngModelOptions]="{standalone: true}" (onSelect)="onTerritorySelect($event)" (onDeSelect)="onTerritoryDeSelect($event)"
                    (onSelectAll)="onTerritorySelectAll($event)" (onDeSelectAll)="onTerritoryDeSelectAll($event)">
                </angular2-multiselect>
                <!-- <span class="messages text-danger" *ngIf="showValidTerritory">* Please Select Territory</span> -->
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">
                    <b>&nbsp;</b>
                </label>
                <br>
                <label class="col-form-label">
                    {{ 'epdb.admin.country.geo.geo' | translate }}
                </label>
                <angular2-multiselect [data]="dropdownListGeo " [(ngModel)]="selectedItemsGeo" [ngModelOptions]="{standalone:true}" [settings]="dropdownSettings"
                    (onSelect)="onGeoSelect($event)" (onDeSelect)="OnGeoDeSelect($event)" (onSelectAll)="onGeoSelectAll($event)"
                    (onDeSelectAll)="onGeoDeSelectAll($event)">
                </angular2-multiselect>
                <!-- <span class="messages text-danger" *ngIf="showValidGeo">* Please Select Geo</span> -->
            </div>
            <!-- <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">
                    <b>&nbsp;</b>
                </label>
                <br>
                <label class="col-form-label">
                    {{ 'epdb.admin.country.region.region' | translate }}
                </label>
                <angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onRegionSelect($event)" (onDeSelect)="OnRegionDeSelect($event)"
                    (onSelectAll)="onRegionSelectAll($event)" (onDeSelectAll)="onRegionDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">
                    {{ 'epdb.admin.country.sub_region.sub_region' | translate }}
                </label>
                <angular2-multiselect [data]="dropdownListSubRegion " [(ngModel)]="selectedItemsSubRegion" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onSubRegionSelect($event)" (onDeSelect)="OnSubRegionDeSelect($event)"
                    (onSelectAll)="onSubRegionSelectAll($event)" (onDeSelectAll)="onSubRegionDeSelectAll($event)">
                </angular2-multiselect>
            </div> -->
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label ">&nbsp;</label>
                <br>
                <label class="col-form-label">
                    {{ 'epdb.admin.country.countries.country' | translate }} <code>*</code>
                </label>
                <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" [settings]="dropdownSettings" [ngModelOptions]="{standalone: true}"
                    (onSelect)="onCountriesSelect($event)" (onDeSelect)="OnCountriesDeSelect($event)" (onSelectAll)="onCountriesSelectAll($event)"
                    (onDeSelectAll)="onCountriesDeSelectAll($event)">
                </angular2-multiselect>
                <span class="messages text-danger" *ngIf="showValidCountry">* Please Select Country</span>
            </div>
            <div class="col-md-12 col-xl-12">&nbsp;</div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label ">&nbsp;</label>
                <br>
                <label class="col-form-label">
                    {{ 'epdb.report.organization_report.field_show_result' | translate }}:
                </label>
                <br>
                <label class="col-form-label">
                    {{ 'epdb.report.site_report.site_field' | translate }}
                </label>
                <angular2-multiselect [data]="dropdownListFieldSite" [(ngModel)]="selectedItemsFieldSite" [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                    [ngModelOptions]="{standalone: true}" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                    (onDeSelectAll)="onDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">
                    <b>&nbsp;</b>
                </label>
                <br>
                <label class="col-form-label">
                    {{ 'epdb.report.contact_report.contact_field' | translate }}
                </label>
                <angular2-multiselect [data]="dropdownListFieldContact" [(ngModel)]="selectedItemsFieldContact" [settings]="dropdownSettings"
                    (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
                    (onDeSelectAll)="onDeSelectAll($event)">
                </angular2-multiselect>
                <hr/>
                <label class="col-form-label">
                    Demographic Fields
                </label>
                <angular2-multiselect [data]="dropdownListFieldShow2" [(ngModel)]="selectedItemsFieldShow2" [settings]="dropdownSettings"
                    [ngModelOptions]="{standalone: true}" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event) ">
                </angular2-multiselect>
            </div>
            <div class="col-md-12 col-xl-12">&nbsp;</div>
            <div class="col-md-6 col-xl-6">&nbsp;</div>
            <div class="col-md-2 col-xl-2">
                <button type="button" (click)="onSubmit()" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                    <i class="icofont icofont-play-alt-1 "></i>{{ 'general.search' | translate }}</button>
            </div>
            <div class="col-md-2 col-xl-2">
                <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                    <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}
                </button>
            </div>
            <div class="col-md-2 col-xl-2">
                <button type="button" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                    <i class="icofont icofont-stop"></i>{{ 'general.btn_stop_query' | translate }}</button>
            </div>
        </div>
    </div>
</div>

<div class="card" *ngIf="dataFound">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.manage.organization.search.search_result' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <label class="label-control">{{'general.show' | translate}}
                    <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                    </select>
                    {{'general.entries' | translate}}
                </label>
            </div>
            <!-- <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>Search:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div> -->
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <i class="fa fa-file-excel-o"></i>
                    <a [routerLink]="['/report/qualifications-by-contact-report']" (click)=" ExportExceltoXls()"> Export to .xls</a>  &nbsp; 
                    <a [routerLink]="['/report/qualifications-by-contact-report']" (click)=" ExportExceltoXlSX()"> Export to .xlsx</a>  &nbsp; 
                    <a [routerLink]="['/report/qualifications-by-contact-report']" (click)=" ExportExceltoCSV()"> Export to .csv</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="contactRes | dataFilter: filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead *ngIf="listkey != null; else goAhead">
                        <tr>
                            <th *ngFor="let kolom of listkey">
                                <mfDefaultSorter by="{{kolom}}">{{kolom}}</mfDefaultSorter>
                            </th>
                        </tr>
                    </thead>
                    <ng-template #goAhead>
                        <thead>
                            <tr>
                                <th width="200%">&nbsp;</th>
                            </tr>
                        </thead>
                    </ng-template>
                    <tbody *ngIf="contactRes != null; else anotherBody">
                        <tr *ngFor="let item of mf.data">
                            <td *ngFor="let kolom of listkey">{{item[kolom]}}</td>
                        </tr>
                    </tbody>
                    <ng-template #anotherBody>
                        <tbody>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </ng-template>
                    <tfoot>
                        <tr *ngIf="contactRes!=null">
                            <td colspan="175">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="contactRes==null">
                            <td colspan="175" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="contactRes==''">
                            <td colspan="175" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>