<div class="row">

    <div class="col-md-12 col-xl-12 page-header-title">
        <h4>Americas ATC Locator Report</h4>
        <br/>
        <br/>
    </div>

    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary"> 
            <div class="card-block row">  
                <div class="col-lg-12 col-xl-12 text-center" > 
                    <label class="col-form-label"><a [routerLink]="['/epdb/ATC-AAP-static-report/americas-ATC-locator-report']">Download </a><i class="fa fa-file-excel-o fa-2x text-primary"></i></label>
                </div>
            </div>
        </div>
    </div>
</div>

 