<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'eva.manage-evaluation.list-survey.list-survey' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">

            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                      <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                      </select>
                      {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                    <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilterListSurvey : filterQuery"
                #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                    <tr>
                        <th width="20%">
                            <mfDefaultSorter by="EvaluationQuestionCode">{{'eva.manage-evaluation.list-survey.table.evaluation-code' | translate}}</mfDefaultSorter>
                        </th>
                        <th width="80%">{{'eva.manage-evaluation.list-survey.table.evaluation-title' | translate}}</th>

                        <th width="20%">{{'general.action' | translate}}</th>
                    </tr>
                </thead>
                <tbody *ngIf="data!=null">
                    <tr *ngFor="let item of mf.data">
                        <td>{{item.EvaluationQuestionCode}}</td>
                        <td>{{item.CourseId}}</td>

                        <td class="action-icon">

                            <a [routerLink]="['/evaluation/survey-answer-add/',item.EvaluationQuestionId]" class="m-r-15 text-muted f-18" ngbTooltip="Take Survey"><i class="icofont icofont-ui-edit"></i></a>

                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr *ngIf="data!=null">
                        <td colspan="4">
                            <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    <tr *ngIf="data==null">
                        <td colspan="4" class="text-center">{{'general.cant-find-data' | translate}}</td>
                    </tr>
                    <tr *ngIf="data==''">
                        <td colspan="4" class="text-center">{{'general.data-empty' | translate}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!-- modal view detail -->
<app-modal-basic #viewdetailmodal [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">Survey List Template Detail</h4>
        <button type="button" class="close basic-close" (click)="viewdetailmodal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <div class="col-md-12 col-xl-12 form-group row" *ngIf="datadetail!=null">
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">Evaluation Template Code</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.EvaluationQuestionCode}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">Evaluation Template Title</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.CourseId}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label"></label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label"></label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"> </label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label"> </label>
            </div>
        </div>
    </div>
</app-modal-basic>
<!-- end modal view detail -->
