<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.manage.distributor.list_distributor' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-10 col-xl-10"></div>
            <div class="col-md-2 col-xl-2 form-group">
                <label class="col-form-label"></label>
                <button type="button" [routerLink]="['/epdb/distributor/add-distributor']" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                    <i class="icofont icofont-ui-add"></i>{{'epdb.manage.distributor.btn_add_distributor' | translate}}
                </button>
            </div>
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show'| translate}}
                    <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                    </select>
                    {{'general.entries'| translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>{{'general.search'| translate}}:
                    <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilterDistributor : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                    <tr>
                        <th width="15%"><mfDefaultSorter by="SiteID">{{'epdb.manage.distributor.site_id' | translate}}</mfDefaultSorter></th>
                        <th width="50%"><mfDefaultSorter by="SiteName">{{'epdb.manage.distributor.site_name' | translate}}</mfDefaultSorter></th>
                        <th width="40%"><mfDefaultSorter by="PartnerType">{{'epdb.manage.distributor.partner_type' | translate}}</mfDefaultSorter></th>
                        <th width="10%"><mfDefaultSorter by="SiteStatus">{{'epdb.manage.distributor.site_status' | translate}}</mfDefaultSorter></th>
                    </tr> 
                </thead>
                <tbody *ngIf="data!=null">
                    <tr *ngFor="let item of mf.data">
                        <td>{{item.SiteId}}</td>
                        <td>{{item.SiteName}}</td>
                        <td>{{item.CSOpartner_type}}</td>
                        <td>{{item.SiteStatus_retired}}</td>
                    </tr>
                </tbody>
                <tfoot > 
                    <tr *ngIf="data!=null">
                        <td colspan="6"><mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator></td>
                    </tr>
                    <tr *ngIf="data==null">
                        <td colspan="6" class="text-right">{{'general.cant-find-data' | translate}}</td>
                    </tr>
                    <tr *ngIf="data==''">
                        <td colspan="6" class="text-right">{{'general.data-empty' | translate}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>