.switches-cerfified{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -20px;
}

.squeezebox .sb-item {
    overflow: hidden;
}

.squeezebox .sb-item .sb-item-body {
    height: 0;
    overflow: hidden;
    transition: 0.5s height;
}

.drag  {
    color: black;
    height: 0;
    width: auto;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: absolute;
  }

.drag:hover  {
font-weight: bold;
color: #29e;
}

.drag-me::before {
content: "#" attr(id);
font-weight: bold;
}



/* Configuration Certified */
.icon-box-autodesk{
    padding: 6px 7px 6px 7px;
    margin: 3px;
    border : 1px solid rgb(180, 173, 173);
    background-color: white;
    cursor: pointer;
}

.bold{
    background-color: #1abc9c;
    color: white!important;
    font-weight: bold;
    border: 1px solid #1abc9c;
    transition: 0.5s;
}

.italic{
    background-color: #1abc9c;
    color: white!important;
    font-style: italic;
    border: 1px solid #1abc9c;
    transition: 0.5s;
}

.underline{
    background-color: #1abc9c;
    color: white!important;
    text-decoration: underline;
    border: 1px solid #1abc9c;
    transition: 0.5s;
}

.table-responsive {
    display: table;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

/* 

#certtype {
  color: #009d9a;
  
  font-size: 20px;
  position:initial;
  font-family: sans-serif;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certtype:hover {
    font-weight: bold;
    color: #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certno {
    position:initial;
   
  color: black;
  font-size: 14px;
  font-family: sans-serif;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certno:hover {
    font-weight: bold;
    color: #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certnotext {
    position:initial;
    
  color: black;
  font-size: 10px;
  font-family: sans-serif;
 
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certnotext:hover {
    font-weight: bold;
   color: #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certlogo {

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certlogo:hover {
    font-weight: bold;
   color:  #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certregistered {
  color: black;
  font-size: 8px;
  font-family: sans-serif;
 
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certregistered:hover {
    font-weight: bold;
    color:  #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certstudenttag {
  color: black;
  font-size: 12px;
  font-family: sans-serif;
 
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certstudenttag:hover {
    font-weight: bold;
    color:  #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certstudent {
  color: black;
  font-size: 16px;
  font-family: sans-serif;
 
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certstudent:hover {
    font-weight: bold;
    color:  #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certtitletag {
  color: black;
  font-size: 12px;
  font-family: sans-serif;
 
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certtitletag:hover {
    font-weight: bold;
    color:  #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certtitle {
  color: black;
  font-size: 14px;
  font-family: sans-serif;
  
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certtitle:hover {
    font-weight: bold;
    color:  #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certproduct {
  color: black;
  font-size: 20px;
  font-family: sans-serif;
 
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certproduct:hover {
    font-weight: bold;
    color:  #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certdatetag {
  color: black;
  font-size: 12px;
  font-family: sans-serif;
  
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certdatetag:hover {
    font-weight: bold;
    color:  #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certdate {
  color: black;
  font-size: 14px;
  font-family: sans-serif;
 
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certdate:hover {
    font-weight: bold;
    color:  #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certsigntag {
  color: black;
  font-size: 12px;
  font-family: sans-serif;
 
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certsigntag:hover {
    font-weight: bold;
    color:  #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}
#certsignimg {
 
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certsignimg:hover {
   
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}  */