<ngx-loading [show]="loading" [config]="{
backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card card-border-primary">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'eva.manage_certificate.list_certificate_design' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <!-- <div class="col-md-4 col-xl-4 form-group text-left">
                <label>{{'epdb.admin.product.product_category' | translate}}</label>
                <select name="oStatus" class="form-control">
                    <option value="">-- {{'general.select_all' | translate}} --</option>
                    <option *ngIf="language==null">{{'general.loading_data' | translate}} ...</option>
                    <option *ngIf="language==''">{{'general.data_empty' | translate}}</option>
                    <option *ngFor="let item of language" value={{item.Key}}>{{item.KeyValue}}</option>
                </select>
            </div> -->
            <div class="offset-md-6 col-md-6 offset-lg-6 col-lg-6  form-group text-right ">
                <label class="col-form-label"></label>
                <button *ngIf="accesAddCertificateDesignBtn" type="button" [routerLink]="['/certificate/certificate-add-design']" class="btn btn-primary btn-md text-center ">
                    <i class="icofont icofont-ui-add"></i> {{'eva.manage_certificate.btn_add_design_template' | translate}}</button>
                </div>
            <!-- <div class="mt-5 col-md-12 col-xl-12 form-group">
                <h4>
                    <strong>{{title}}</strong>
                </h4>
            </div> -->
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" *ngIf="title!=''">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6" *ngIf="title!=''">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data | dataFilterCertificat : filterQuery"
                #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" *ngIf="title!=''">
                <thead>
                    <tr>
                        <th width="20%" class="text-center">
                            <mfDefaultSorter by="CertificateId">{{'eva.manage_certificate.template_id' | translate}}</mfDefaultSorter>
                        </th>
                        <th width="35%" class="text-center">
                            <mfDefaultSorter by="Code">{{'eva.manage_certificate.template_code' | translate}}</mfDefaultSorter>
                        </th>
                        <th width="35%" class="text-center">
                            <mfDefaultSorter by="Name">{{'eva.manage_certificate.template_name' | translate}}</mfDefaultSorter>
                        </th>
                        <th width="35%" class="text-center">
                            <mfDefaultSorter by="KeyValue">{{'epdb.admin.language.language' | translate}}</mfDefaultSorter>
                        </th>
                        <th width="10%" class="text-center" *ngIf="accesViewCertificateDesignBtn || accesEditCertificateDesignBtn || accesDeleteCertificateDesignBtn">
                            {{'general.action' | translate}}
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="data!=null">
                    <tr *ngFor="let item of mf.data">
                        <td>{{item.CertificateId}}</td>
                        <td>{{item.Code}}</td>
                        <td>{{item.Name}}</td>
                        <td>{{item.KeyValue}}</td>
                        <td class="action-icon" *ngIf="accesViewCertificateDesignBtn || accesEditCertificateDesignBtn || accesDeleteCertificateDesignBtn">
                            <a *ngIf="accesViewCertificateDesignBtn" style="cursor:pointer" (click)="PreviewDesignTemplate(item.CertificateId);" class="m-r-15 text-muted f-18"
                            ngbTooltip="{{'general.tool_tip_view' | translate}}">
                            <i class="icofont icofont-eye-alt"></i>
                        </a>
                        <a *ngIf="accesEditCertificateDesignBtn" [routerLink]="['/certificate/certificate-edit-design/',item.CertificateId]" class="m-r-15 text-muted f-18"
                        ngbTooltip="{{'general.tool_tip_edit' | translate}} ">
                        <i class="icofont icofont-ui-edit"></i>
                    </a>
                    <a *ngIf="accesDeleteCertificateDesignBtn" style="cursor:pointer" (click)="openConfirmsSwal(item.CertificateId)" class="text-muted f-18"
                    ngbTooltip="{{'general.tool_tip_delete' | translate}} ">
                    <i class="icofont icofont-delete-alt"></i>
                </a>

            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr *ngIf="data!=null">
            <td colspan="5">
                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
            </td>
        </tr>
        <tr *ngIf="data==null">
            <td colspan="5" class="text-center">{{'general.cant_find_data' | translate}}</td>
        </tr>
        <tr *ngIf="data==''">
            <td colspan="5" class="text-center">{{'general.data_empty' | translate}}</td>
        </tr>
    </tfoot>
</table>
</div>
</div>

</div>
</div>


        <div class="row" id="CardCanvas"  style="visibility: hidden;">
            <div class="col-md-12">
                <div class="card" style="border: 0;">
                    <div id="certificate_iframe" >
                    </div>
                </div>
            </div>
        </div>

