<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="row">
    <div class="col-md-3">
        <div class="card card-border-primary">
            <div class="card-header">
                <div class="page-header-title">
                    <h4>{{'general.navbar.setting' | translate}}</h4>
                </div>
            </div>
            <div class="card-block">
                <form [formGroup]="beforeSave" (ngSubmit)="onSubmitBeforeSave()">
                    <div class="row">
                        <div class="col-md-6">
                            <button class="button btn btn-primary btn-block" (click)="downloadPDF()">
                                <span class="fa fa-print"></span>&nbsp;{{'general.btn_print' | translate}}</button>
                        </div>
                        <div class="col-md-6">
                            <button class="button btn btn-primary btn-block" (click)="OpenModalUpdateCert.show()" [disabled]="!beforeSave.valid">
                                <span class="fa fa-save"></span>&nbsp;{{'general.btn_save' | translate}}</button>
                            <!-- (click)="SaveCertified()" -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xl-12">&nbsp;</div>
                        <div class="col-md-12 col-xl-12 form-group">
                            <select class="form-control" (change)="selectedPartner($event.target.value)" id="PartnerTypeId" formControlName="PartnerTypeId">
                                <option value="">-- {{'general.select' | translate}} {{'epdb.admin.partner_type.partner_type' | translate}}
                                    --
                                </option>
                                <option *ngFor="let item of dropdownPartner" value="{{item.RoleId}}">{{item.RoleName}}</option>
                            </select>
                        </div>
                        <div class="col-md-12 col-xl-12 form-group">
                            <select class="form-control" (change)="selectedCertificate($event.target.value)" id="CertificateTypeId" formControlName="CertificateTypeId">
                                <option value="">-- {{'general.select' | translate}} {{'epdb.admin.partner_type.certificate_type' | translate}}
                                    --
                                </option>
                                <option *ngFor="let item of dropdownCertificate" value="{{item.Key}}">{{item.KeyValue}}</option>
                            </select>
                        </div>
                        <div class="col-md-12 col-xl-12 form-group">
                            <select class="form-control" (change)="selectedYear($event.target.value)" id="Year" formControlName="Year">
                                <option value="">-- {{'general.select' | translate}} {{'general.year' | translate}} --</option>
                                <option *ngFor="let item of survey" value="{{item.Key}}">{{item.KeyValue}}</option>
                            </select>
                        </div>
                        <div class="col-md-12 col-xl-12 form-group">
                            <select class="form-control" (change)="selectedLanguage($event.target.value)" id="LanguageCertificateTemp" formControlName="LanguageCertificateTemp">
                                <option value="">-- Select Language --</option>
                                <option *ngFor="let item of LanguageCertificateTemp" value="{{item.Key}}">{{item.KeyValue}}</option>
                            </select>
                        </div>

                    </div>
                </form>
            </div>
            <app-card [blockClass]="'accordion-block scale-accordion'" style="overflow-y: scroll; height:555px">
              <squeezebox [multiple]="false">
                <!-- Background -->
                <sb-item class="accordion-panel">
                  <div class="row">
                    <div class="col-lg-10">
                      <sb-item-head class="accordion-msg">{{'eva.manage_certificate.backgound' | translate}}</sb-item-head>
                    </div>
                    <div class="col-lg-2 switches-cerfified">
                      <ui-switch style="margin-left:-5px" class="js-single pull-right switch_cartbackground checked" color="#1abc9c" switchColor="#fff"
                                 size="small" checked (change)="IfChecked('switch_cartbackground', 'content_background' )"></ui-switch>
                    </div>
                  </div>
                  <sb-item-body class="accordion-content">
                    <div class="accordion-desc">
                      <div class="form-group">
                        <label class="col-sm-12 col-form-label">{{'eva.manage_certificate.template' | translate}}</label>
                        <select name="oStatus" class="form-control" (change)="changebackground($event.target.value)">
                          <option value="/assets/certificate/default.png">-- {{'general.select' | translate}} --</option>
                          <option *ngIf="certificatedesign==''">{{'general.data_empty' | translate}}</option>
                          <option *ngFor="let item of certificatedesign" value={{item.FileLocation}}>{{item.Name}}</option>
                        </select>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.width' | translate}}</label>
                          <input class="form-control" type="input" (keyup)="Background_WIDTH($event.target.value, 'content_background')">
                        </div>
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.height' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_HEIGHT($event.target.value, 'content_background')">
                        </div>
                      </div>
                    </div>
                  </sb-item-body>
                </sb-item>
                <!-- Logo -->
                <sb-item id="DivLogo" class="accordion-panel">
                  <div class="row" style="border-top: 3px solid rgb(211, 211, 211);">
                    <div class="col-lg-10">
                      <sb-item-head class="accordion-msg">Logo</sb-item-head>
                    </div>
                    <div class="col-lg-2 switches-cerfified">
                      <ui-switch style="margin-left:-5px" id="logo" name="logo" class="js-single pull-right switch_cartlogo" color="#1abc9c" switchColor="#fff" size="small"
                      [(ngModel)]="Logoenable"    (change)="IfChecked('switch_cartlogo', 'content_logo' )"></ui-switch>
                    </div>
                  </div>
                  <sb-item-body class="accordion-content">
                  </sb-item-body>
                </sb-item>
                <!--Organizartion Logo -->
                <sb-item id="DivOrgLogo" class="accordion-panel">
                  <div class="row" style="border-top: 3px solid rgb(211, 211, 211);">
                    <div class="col-lg-10">
                      <sb-item-head class="accordion-msg">Organization Logo</sb-item-head>
                    </div>
                    <div class="col-lg-2 switches-cerfified">
                      <ui-switch style="margin-left:-5px" id="org" name="org" class="js-single pull-right switch_orglogo " color="#1abc9c" switchColor="#fff" size="small"
                             [(ngModel)]="enable"  (change)="IfChecked('switch_orglogo', 'orglogo' )"></ui-switch>
                    </div>
                  </div>
                  <sb-item-body class="accordion-content">
                  </sb-item-body>
                </sb-item>
                <!-- Text Header -->
                <sb-item class="accordion-panel">
                  <div class="row" style="border-top: 3px solid rgb(211, 211, 211);">
                    <div class="col-lg-10">
                      <sb-item-head class="accordion-msg">Text Header</sb-item-head>
                    </div>
                    <div class="col-lg-2 switches-cerfified">
                      <ui-switch style="margin-left:-5px" class="js-single pull-right switch_textheader checked" color="#1abc9c" switchColor="#fff"
                                 size="small" checked (change)="IfChecked('switch_textheader', 'textheader' )"></ui-switch>
                    </div>
                  </div>
                  <sb-item-body class="accordion-content">
                    <div class="accordion-desc">
                      <div class="row">
                        <label class="col-form-label col-md-12">{{'eva.manage_certificate.font_color' | translate}}</label>
                        <div class="col-md-3">
                          <input class="form-control " [(colorPicker)]="TextHeaderColor" [value]="TextHeaderColor" [style.background]="TextHeaderColor"
                                 [cpWidth]="200" (colorPickerChange)="FontColor($event, 'textheader')" />
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <label class="col-form-label col-md-12">{{'eva.manage_certificate.font' | translate}}</label>
                            <div class="col-md-4">
                              <input class="form-control" (keyup)="TextFontSize($event.target.value, 'textheader')" />
                            </div>
                            <div class="col-md-8">
                              <a id="textheader-bold-button" class="icon-box-autodesk fa fa-bold" (click)="TextBold($event.target.id, 'textheader')"></a>
                              <a id="textheader-italic-button" class="icon-box-autodesk fa fa-italic" (click)="TextItalic($event.target.id, 'textheader')"></a>
                              <a id="textheader-underline-button" class="icon-box-autodesk fa fa-underline" (click)="TextUnderline($event.target.id, 'textheader')"></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.width' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_WIDTH($event.target.value, 'textheader')">
                        </div>
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.height' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_HEIGHT($event.target.value, 'textheader')">
                        </div>
                      </div>


                      <div>
                        <label class="col-sm-12 col-form-label">Title</label>
                        <input class="col-md-12" class="form-control selectorArtBlack" (keyup)="change_TEXT($event.target.value, 'textheader')" value="{{TextTextHeader}}" />
                      </div>
                    </div>
                  </sb-item-body>
                </sb-item>
                <!-- End Text Header-->
                <!--  Text Header Description-->
                <sb-item class="accordion-panel">
                  <div class="row" style="border-top: 3px solid rgb(211, 211, 211);">
                    <div class="col-lg-10">
                      <sb-item-head class="accordion-msg">Header Description</sb-item-head>
                    </div>
                    <div class="col-lg-2 switches-cerfified">
                      <ui-switch style="margin-left:-5px" class="js-single pull-right switch_textheaderdescription checked" color="#1abc9c" switchColor="#fff"
                                 size="small" checked (change)="IfChecked('switch_textheaderdescription', 'textheaderdescription' )"></ui-switch>
                    </div>
                  </div>
                  <sb-item-body class="accordion-content">
                    <div class="accordion-desc">
                      <div class="row">
                        <label class="col-form-label col-md-12">{{'eva.manage_certificate.font_color' | translate}}</label>
                        <div class="col-md-3">
                          <input class="form-control " [(colorPicker)]="TextHeaderDescriptionColor" [value]="TextHeaderDescriptionColor" [style.background]="TextHeaderDescriptionColor"
                                 [cpWidth]="200" (colorPickerChange)="FontColor($event, 'textheaderdescription')" />
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <label class="col-form-label col-md-12">{{'eva.manage_certificate.font' | translate}}</label>
                            <div class="col-md-4">
                              <input class="form-control" (keyup)="TextFontSize($event.target.value, 'textheaderdescription')" />
                            </div>
                            <div class="col-md-8">
                              <a id="textheaderdescription-bold-button" class="icon-box-autodesk fa fa-bold" (click)="TextBold($event.target.id, 'textheaderdescription')"></a>
                              <a id="textheaderdescription-italic-button" class="icon-box-autodesk fa fa-italic" (click)="TextItalic($event.target.id, 'textheaderdescription')"></a>
                              <a id="textheaderdescription-underline-button" class="icon-box-autodesk fa fa-underline" (click)="TextUnderline($event.target.id, 'textheaderdescription')"></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.width' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_WIDTH($event.target.value, 'textheaderdescription')">
                        </div>
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.height' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_HEIGHT($event.target.value, 'textheaderdescription')">
                        </div>
                      </div>


                      <div>
                        <label class="col-sm-12 col-form-label">Title</label>
                        <textarea rows="5" cols="5" class="form-control selectorArtBook" (keyup)="change_TEXT($event.target.value, 'textheaderdescription')"
                                  value="{{TextTextHeaderDescription}}"></textarea>
                      </div>
                    </div>
                  </sb-item-body>
                </sb-item>
                <!-- End Text Header Description-->
                <!-- Text Header -->
                <sb-item class="accordion-panel">
                  <div class="row" style="border-top: 3px solid rgb(211, 211, 211);">
                    <div class="col-lg-10">
                      <sb-item-head class="accordion-msg">Text Footer</sb-item-head>
                    </div>
                    <div class="col-lg-2 switches-cerfified">
                      <ui-switch style="margin-left:-5px" class="js-single pull-right switch_textfooter checked" color="#1abc9c" switchColor="#fff"
                                 size="small" checked (change)="IfChecked('switch_textfooter', 'textfooter' )"></ui-switch>
                    </div>
                  </div>
                  <sb-item-body class="accordion-content">
                    <div class="accordion-desc">
                      <div class="row">
                        <label class="col-form-label col-md-12">{{'eva.manage_certificate.font_color' | translate}}</label>
                        <div class="col-md-3">
                          <input class="form-control " [(colorPicker)]="TextFooterColor" [value]="TextFooterColor" [style.background]="TextFooterColor"
                                 [cpWidth]="200" (colorPickerChange)="FontColor($event, 'textfooter')" />
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <label class="col-form-label col-md-12">{{'eva.manage_certificate.font' | translate}}</label>
                            <div class="col-md-4">
                              <input class="form-control" (keyup)="TextFontSize($event.target.value, 'textfooter')" />
                            </div>
                            <div class="col-md-8">
                              <a id="textfooter-bold-button" class="icon-box-autodesk fa fa-bold" (click)="TextBold($event.target.id, 'textfooter')"></a>
                              <a id="textfooter-italic-button" class="icon-box-autodesk fa fa-italic" (click)="TextItalic($event.target.id, 'textfooter')"></a>
                              <a id="textfooter-underline-button" class="icon-box-autodesk fa fa-underline" (click)="TextUnderline($event.target.id, 'textfooter')"></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.width' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_WIDTH($event.target.value, 'textfooter')">
                        </div>
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.height' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_HEIGHT($event.target.value, 'textfooter')">
                        </div>
                      </div>


                      <div>
                        <label class="col-sm-12 col-form-label">Title</label>
                        <input class="col-md-12" class="form-control selectorArtBook" (keyup)="change_TEXT($event.target.value, 'textfooter')" value="{{TextTextFooter}}" />
                      </div>
                    </div>
                  </sb-item-body>
                </sb-item>
                <!-- End Text Header-->
                <!-- Certificate No -->
                <sb-item class="accordion-panel">
                  <div class="row" style="border-top: 3px solid rgb(211, 211, 211);">
                    <div class="col-lg-10">
                      <sb-item-head class="accordion-msg">{{'eva.manage_certificate.certificate_no' | translate}}</sb-item-head>
                    </div>
                    <div class="col-lg-2 switches-cerfified">
                      <ui-switch style="margin-left:-5px" class="js-single pull-right switch_certno checked" color="#1abc9c" switchColor="#fff"
                                 size="small" checked (change)="IfChecked('switch_certno', 'certno' )"></ui-switch>
                    </div>
                  </div>
                  <sb-item-body class="accordion-content">
                    <div class="accordion-desc">
                      <div class="row">
                        <label class="col-form-label col-md-12">{{'eva.manage_certificate.font_color' | translate}}</label>
                        <div class="col-md-3">
                          <input class="form-control " [(colorPicker)]="certNoColor" [value]="certNoColor" [style.background]="certNoColor" [cpWidth]="200"
                                 (colorPickerChange)="FontColor($event, 'certno')" />
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <label class="col-form-label col-md-12">{{'eva.manage_certificate.font' | translate}}</label>
                            <div class="col-md-4">
                              <input class="form-control" (keyup)="TextFontSize($event.target.value, 'certno')" />
                            </div>
                            <div class="col-md-8">
                              <a id="certno-bold-button" class="icon-box-autodesk fa fa-bold" (click)="TextBold($event.target.id, 'titlecertno')"></a>
                              <a id="certno-italic-button" class="icon-box-autodesk fa fa-italic" (click)="TextItalic($event.target.id, 'titlecertno')"></a>
                              <a id="certno-underline-button" class="icon-box-autodesk fa fa-underline" (click)="TextUnderline($event.target.id, 'titlecertno')"></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.width' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_WIDTH($event.target.value, 'certno')">
                        </div>
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.height' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_HEIGHT($event.target.value, 'certno')">
                        </div>
                      </div>


                      <div>
                        <label class="col-sm-12 col-form-label">Title</label>
                        <input class="col-md-12" (keyup)="change_TEXT($event.target.value, 'titlecertno')" value="{{TextTitleCertificateNo}}" />
                      </div>
                      <div>
                        <label class="col-sm-12 col-form-label">{{'eva.manage_certificate.certificate_no' | translate}}</label>
                        <textarea rows="5" cols="5" class="form-control selectorArtBold" (keyup)="change_TEXT($event.target.value, 'certno')" value="{{TextCertificateNo}}"></textarea>
                      </div>
                    </div>
                  </sb-item-body>
                </sb-item>






                <!-- Student Name-->
                <sb-item class="accordion-panel">
                  <div class="row" style="border-top: 3px solid rgb(211, 211, 211);">
                    <div class="col-lg-10">
                      <sb-item-head class="accordion-msg">{{'eva.manage_student_info.student_name' | translate}}</sb-item-head>
                    </div>
                    <div class="col-lg-2 switches-cerfified">
                      <ui-switch style="margin-left:-5px" class="js-single pull-right switch_student checked" color="#1abc9c" switchColor="#fff"
                                 size="small" checked (change)="IfChecked('switch_student', 'certstudent' )"></ui-switch>
                    </div>
                  </div>
                  <sb-item-body class="accordion-content">
                    <div class="accordion-desc">
                      <div class="row">
                        <label class="col-form-label col-md-12">{{'eva.manage_certificate.font_color' | translate}}</label>
                        <div class="col-md-3">
                          <input class="form-control" [(colorPicker)]="StudentNameColor" [value]="StudentNameColor" [style.background]="StudentNameColor"
                                 [cpWidth]="200" (colorPickerChange)="FontColor($event, 'certstudent')" />
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <label class="col-form-label col-md-12">{{'eva.manage_certificate.font' | translate}}</label>
                            <div class="col-md-4">
                              <input class="form-control" (keyup)="TextFontSize($event.target.value, 'certstudent')" />
                            </div>
                            <div class="col-md-8">
                              <a id="certstudent-bold-button" class="icon-box-autodesk fa fa-bold" (click)="TextBold($event.target.id, 'certstudent')"></a>
                              <a id="certstudent-italic-button" class="icon-box-autodesk fa fa-italic" (click)="TextItalic($event.target.id, 'certstudent')"></a>
                              <a id="certstudent-underline-button" class="icon-box-autodesk fa fa-underline" (click)="TextUnderline($event.target.id, 'certstudent')"></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.width' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_WIDTH($event.target.value, 'certstudent')">
                        </div>
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.height' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_HEIGHT($event.target.value, 'certstudent')">
                        </div>
                      </div>
                      <div>
                        <label class="col-sm-12 col-form-label">Title</label>
                        <input class="col-md-12 selectorArtBlack" (keyup)="change_TEXT($event.target.value, 'titlecertstudent')" value="{{TextTitleStudentName}}" />
                      </div>
                      <div>
                        <label class="col-sm-12 col-form-label">
                          {{'eva.manage_certificate.certificate' | translate}} {{
'eva.manage_student_info.student_name'
                                        | translate
                          }}
                        </label>
                        <textarea rows="5" cols="5" class="form-control selectorArtBlack" (keyup)="change_TEXT($event.target.value, 'certstudent')"
                                  value="{{TextStudentName}}"></textarea>
                      </div>
                    </div>
                  </sb-item-body>
                </sb-item>


                <!-- Event -->
                <sb-item class="accordion-panel">
                  <div class="row" style="border-top: 3px solid rgb(211, 211, 211);">
                    <div class="col-lg-10">
                      <sb-item-head class="accordion-msg">Event</sb-item-head>
                    </div>
                    <div class="col-lg-2 switches-cerfified">
                      <ui-switch style="margin-left:-5px" class="js-single pull-right switch_event checked" color="#1abc9c" switchColor="#fff"
                                 size="small" checked (change)="IfChecked('switch_event', 'certevent' )"></ui-switch>
                    </div>
                  </div>
                  <sb-item-body class="accordion-content">
                    <div class="accordion-desc">
                      <div class="row">
                        <label class="col-form-label col-md-12">{{'eva.manage_certificate.font_color' | translate}}</label>
                        <div class="col-md-3">
                          <input class="form-control" [(colorPicker)]="EventColor" [value]="EventColor" [style.background]="EventColor" [cpWidth]="200"
                                 (colorPickerChange)="FontColor($event, 'certevent')" />
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <label class="col-form-label col-md-12">{{'eva.manage_certificate.font' | translate}}</label>
                            <div class="col-md-4">
                              <input class="form-control" (keyup)="TextFontSize($event.target.value, 'certevent')" />
                            </div>
                            <div class="col-md-8">
                              <a id="certevent-bold-button" class="icon-box-autodesk fa fa-bold" (click)="TextBold($event.target.id, 'certevent')"></a>
                              <a id="certevent-italic-button" class="icon-box-autodesk fa fa-italic" (click)="TextItalic($event.target.id, 'certevent')"></a>
                              <a id="certevent-underline-button" class="icon-box-autodesk fa fa-underline" (click)="TextUnderline($event.target.id, 'certevent')"></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.width' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_WIDTH($event.target.value, 'certevent')">
                        </div>
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.height' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_HEIGHT($event.target.value, 'certevent')">
                        </div>
                      </div>
                      <div>
                        <label class="col-sm-12 col-form-label">Title</label>
                        <input class="col-md-12 selectorArtBlack" (keyup)="change_TEXT($event.target.value, 'titlecertevent')" value="{{TextTitleEvent}}" />
                      </div>
                      <div>
                        <label class="col-sm-12 col-form-label">{{'eva.manage_certificate.certificate' | translate}} Event</label>
                        <textarea rows="5" cols="5" class="form-control selectorArtBlack" (keyup)="change_TEXT($event.target.value, 'certevent')"
                                  value="{{TextEvent}}"></textarea>
                      </div>
                    </div>
                  </sb-item-body>
                </sb-item>



                <!-- Course Title -->
                <sb-item class="accordion-panel">
                  <div class="row" style="border-top: 3px solid rgb(211, 211, 211);">
                    <div class="col-lg-10">
                      <sb-item-head class="accordion-msg">{{'eva.manage_certificate.title' | translate}}</sb-item-head>
                    </div>
                    <div class="col-lg-2 switches-cerfified">
                      <ui-switch style="margin-left:-5px" class="js-single pull-right switch_title checked" color="#1abc9c" switchColor="#fff"
                                 size="small" checked (change)="IfChecked('switch_title', 'certtitle' )"></ui-switch>
                    </div>
                  </div>
                  <sb-item-body class="accordion-content">
                    <div class="accordion-desc">
                      <div class="row">
                        <label class="col-form-label col-md-12">{{'eva.manage_certificate.font_color' | translate}}</label>
                        <div class="col-md-3">
                          <input class="form-control" [(colorPicker)]="TitleColor" [value]="TitleColor" [style.background]="TitleColor" [cpWidth]="200"
                                 (colorPickerChange)="FontColor($event, 'certtitle')" />
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <label class="col-form-label col-md-12">{{'eva.manage_certificate.font' | translate}}</label>
                            <div class="col-md-4">
                              <input class="form-control" (keyup)="TextFontSize($event.target.value, 'certtitle')" />
                            </div>
                            <div class="col-md-8">
                              <a id="certtitle-bold-button" class="icon-box-autodesk fa fa-bold" (click)="TextBold($event.target.id, 'certtitle')"></a>
                              <a id="certtitle-italic-button" class="icon-box-autodesk fa fa-italic" (click)="TextItalic($event.target.id, 'certtitle')"></a>
                              <a id="certtitle-underline-button" class="icon-box-autodesk fa fa-underline" (click)="TextUnderline($event.target.id, 'certtitle')"></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.width' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_WIDTH($event.target.value, 'certtitle')">
                        </div>
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.height' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_HEIGHT($event.target.value, 'certtitle')">
                        </div>
                      </div>
                      <div>
                        <label class="col-sm-12 col-form-label">Title</label>
                        <input class="col-md-12 selectorArtBlack" (keyup)="change_TEXT($event.target.value, 'titlecerttitle')" value="{{TextTitleTitle}}" />
                      </div>
                      <div>
                        <label class="col-sm-12 col-form-label">{{'eva.manage_certificate.title' | translate}}</label>
                        <textarea rows="5" cols="5" class="form-control selectorArtBlack" (keyup)="change_TEXT($event.target.value, 'certtitle')"
                                  value="{{TextTitle}}"></textarea>
                      </div>
                    </div>
                  </sb-item-body>
                </sb-item>

                <!-- Product -->
                <sb-item class="accordion-panel">
                  <div class="row" style="border-top: 3px solid rgb(211, 211, 211);">
                    <div class="col-lg-10">
                      <sb-item-head class="accordion-msg">{{'epdb.admin.product.product' | translate}}</sb-item-head>
                    </div>
                    <div class="col-lg-2 switches-cerfified">
                      <ui-switch style="margin-left:-5px" class="js-single pull-right switch_certproduct checked" color="#1abc9c" switchColor="#fff"
                                 size="small" checked (change)="IfChecked('switch_certproduct', 'certproduct' )"></ui-switch>
                    </div>
                  </div>
                  <sb-item-body class="accordion-content">
                    <div class="accordion-desc">
                      <div class="row">
                        <label class="col-form-label col-md-12">{{'eva.manage_certificate.font_color' | translate}}</label>
                        <div class="col-md-3">
                          <input class="form-control" [(colorPicker)]="ProductColor" [value]="ProductColor" [style.background]="ProductColor" [cpWidth]="200"
                                 (colorPickerChange)="FontColor($event, 'certproduct')" />
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <label class="col-form-label col-md-12">{{'eva.manage_certificate.font' | translate}}</label>
                            <div class="col-md-4">
                              <input class="form-control" (keyup)="TextFontSize($event.target.value, 'certproduct')" />
                            </div>
                            <div class="col-md-8">
                              <a id="certproduct-bold-button" class="icon-box-autodesk fa fa-bold" (click)="TextBold($event.target.id, 'certproduct')"></a>
                              <a id="certproduct-italic-button" class="icon-box-autodesk fa fa-italic" (click)="TextItalic($event.target.id, 'certproduct')"></a>
                              <a id="certproduct-underline-button" class="icon-box-autodesk fa fa-underline" (click)="TextUnderline($event.target.id, 'certproduct')"></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.width' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_WIDTH($event.target.value, 'certproduct')">
                        </div>
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.height' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_HEIGHT($event.target.value, 'certproduct')">
                        </div>
                      </div>
                      <div>
                        <label class="col-sm-12 col-form-label">Title</label>
                        <input class="col-md-12 selectorArtBlack" (keyup)="change_TEXT($event.target.value, 'titlecertproduct')" value="{{TextTitleProduct}}" />
                      </div>
                      <div>
                        <label class="col-sm-12 col-form-label">{{'epdb.admin.product.product' | translate}}</label>
                        <textarea rows="5" cols="5" class="form-control selectorArtBlack" (keyup)="change_TEXT($event.target.value, 'certproduct')"
                                  value="{{TextProduct}}"></textarea>
                      </div>
                    </div>
                  </sb-item-body>
                </sb-item>


                <!-- Instructor -->
                <sb-item class="accordion-panel">
                  <div class="row" style="border-top: 3px solid rgb(211, 211, 211);">
                    <div class="col-lg-10">
                      <sb-item-head class="accordion-msg">{{'eva.manage_course.list_course.instructor' | translate}}</sb-item-head>
                    </div>
                    <div class="col-lg-2 switches-cerfified">
                      <ui-switch style="margin-left:-5px" class="js-single pull-right switch_certinstructor checked" color="#1abc9c" switchColor="#fff"
                                 size="small" checked (change)="IfChecked('switch_certinstructor', 'certinstructor' )"></ui-switch>
                    </div>
                  </div>
                  <sb-item-body class="accordion-content">
                    <div class="accordion-desc">
                      <div class="row">
                        <label class="col-form-label col-md-12">{{'eva.manage_certificate.font_color' | translate}}</label>
                        <div class="col-md-3">
                          <input class="form-control" [(colorPicker)]="InstructorColor" [value]="InstructorColor" [style.background]="InstructorColor"
                                 [cpWidth]="200" (colorPickerChange)="FontColor($event, 'certinstructor')" />
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <label class="col-form-label col-md-12">{{'eva.manage_certificate.font' | translate}}</label>
                            <div class="col-md-4">
                              <input class="form-control" (keyup)="TextFontSize($event.target.value, 'certinstructor')" />
                            </div>
                            <div class="col-md-8">
                              <a id="certtitletag-bold-button" class="icon-box-autodesk fa fa-bold" (click)="TextBold($event.target.id, 'certinstructor')"></a>
                              <a id="certtitletag-italic-button" class="icon-box-autodesk fa fa-italic" (click)="TextItalic($event.target.id, 'certinstructor')"></a>
                              <a id="certtitletag-underline-button" class="icon-box-autodesk fa fa-underline" (click)="TextUnderline($event.target.id, 'certinstructor')"></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.width' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_WIDTH($event.target.value, 'certinstructor')">
                        </div>
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.height' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_HEIGHT($event.target.value, 'certinstructor')">
                        </div>
                      </div>
                      <div>
                        <label class="col-sm-12 col-form-label">Title</label>
                        <input class="col-md-12 selectorArtBlack" (keyup)="change_TEXT($event.target.value, 'titlecertinstructor')" value="{{TextTitleInstructor}}" />
                      </div>
                      <div>
                        <label class="col-sm-12 col-form-label">{{'eva.manage_course.list_course.instructor_name' | translate}}</label>
                        <textarea rows="5" cols="5" class="form-control selectorArtBlack" (keyup)="change_TEXT($event.target.value, 'certinstructor')"
                                  value="{{TextInstructor}}"></textarea>
                      </div>
                    </div>
                  </sb-item-body>
                </sb-item>


                <!-- Course Date -->
                <sb-item class="accordion-panel">

                  <div class="row" style="border-top: 3px solid rgb(211, 211, 211);">
                    <div class="col-lg-10">
                      <sb-item-head class="accordion-msg">{{'general.date' | translate}}</sb-item-head>
                    </div>
                    <div class="col-lg-2 switches-cerfified">
                      <ui-switch style="margin-left:-5px" class="js-single pull-right switch_certdate checked" color="#1abc9c" switchColor="#fff"
                                 size="small" checked (change)="IfChecked('switch_certdate', 'certdate' )"></ui-switch>
                    </div>
                  </div>
                  <sb-item-body class="accordion-content">
                    <div class="accordion-desc">
                      <form class="form-inline">
                        <div class="form-group">
                          <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="CertDateUpdate" ngbDatepicker #d="ngbDatepicker"
                                   (ngModelChange)="updateMyDate( parserFormatter.format(CertDateUpdate))">
                            <div class="input-group-addon bg-default" (click)="d.toggle()">
                              <span class="icofont icofont-ui-calendar"></span>
                            </div>
                          </div>
                        </div>
                      </form>
                      <div class="row">
                        <label class="col-form-label col-md-12">{{'eva.manage_certificate.font_color' | translate}}</label>
                        <div class="col-md-3">
                          <input class="form-control" [(colorPicker)]="DateColor" [value]="DateColor" [style.background]="DateColor" [cpWidth]="200"
                                 (colorPickerChange)="FontColor($event, 'certdate')" />
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <label class="col-form-label col-md-12">{{'eva.manage_certificate.font' | translate}}</label>
                            <div class="col-md-4">
                              <input class="form-control" (keyup)="TextFontSize($event.target.value, 'certdate')" />
                            </div>
                            <div class="col-md-8">
                              <a id="certdate-bold-button" class="icon-box-autodesk fa fa-bold" (click)="TextBold($event.target.id, 'certdate')"></a>
                              <a id="certdate-italic-button" class="icon-box-autodesk fa fa-italic" (click)="TextItalic($event.target.id, 'certdate')"></a>
                              <a id="certdate-underline-button" class="icon-box-autodesk fa fa-underline" (click)="TextUnderline($event.target.id, 'certdate')"></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">

                        <div>
                          <label class="col-sm-12 col-form-label">Title</label>
                          <input class="col-md-12 selectorArtBlack" (keyup)="change_TEXT($event.target.value, 'titlecertdate')" value="{{TextTitleDate}}" />
                        </div>
                        <div class="p-1">&nbsp;</div>
                        <h4 class="sub-title"> Select Today </h4>
                        <button class="btn btn-primary" (click)="selectToday()">Select Today</button>
                        <div class="p-2">&nbsp;</div>
                      </div>
                    </div>
                  </sb-item-body>
                </sb-item>

                <!-- Course Duration -->
                <sb-item class="accordion-panel">
                  <div class="row" style="border-top: 3px solid rgb(211, 211, 211);">
                    <div class="col-lg-10">
                      <sb-item-head class="accordion-msg">{{'eva.manage_certificate.duration' | translate}}</sb-item-head>
                    </div>
                    <div class="col-lg-2 switches-cerfified">
                      <ui-switch style="margin-left:-5px" class="js-single pull-right switch_certduration checked" color="#1abc9c" switchColor="#fff"
                                 size="small" checked (change)="IfChecked('switch_certduration', 'certduration' )"></ui-switch>
                    </div>
                  </div>
                  <sb-item-body class="accordion-content">
                    <div class="accordion-desc">
                      <div class="row">
                        <label class="col-form-label col-md-12">{{'eva.manage_certificate.font_color' | translate}}</label>
                        <div class="col-md-3">
                          <input class="form-control" [(colorPicker)]="DurationColor" [value]="DurationColor" [style.background]="DurationColor" [cpWidth]="200"
                                 (colorPickerChange)="FontColor($event, 'certduration')" />
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <label class="col-form-label col-md-12">{{'eva.manage_certificate.font' | translate}}</label>
                            <div class="col-md-4">
                              <input class="form-control" (keyup)="TextFontSize($event.target.value, 'certduration')" />
                            </div>
                            <div class="col-md-8">
                              <a id="certduration-bold-button" class="icon-box-autodesk fa fa-bold" (click)="TextBold($event.target.id, 'certduration')"></a>
                              <a id="certduration-italic-button" class="icon-box-autodesk fa fa-italic" (click)="TextItalic($event.target.id, 'certduration')"></a>
                              <a id="certduration-underline-button" class="icon-box-autodesk fa fa-underline" (click)="TextUnderline($event.target.id, 'certduration')"></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.width' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_WIDTH($event.target.value, 'certduration')">
                        </div>
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.height' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_HEIGHT($event.target.value, 'certduration')">
                        </div>
                      </div>

                      <div>
                        <label class="col-sm-12 col-form-label">Title</label>
                        <input class="col-md-12 selectorArtBlack" (keyup)="change_TEXT($event.target.value, 'titlecertduration')" value="{{TextTitleDuration}}" />
                      </div>
                      <div>
                        <label class="col-sm-12 col-form-label">{{'eva.manage_certificate.duration' | translate}}</label>
                        <input type="text" class="form-control selectorArtBlack" (keyup)="change_TEXT($event.target.value, 'certduration')" value="{{TextDuration}}">
                      </div>
                      <!--
          <div>
              <label class="col-sm-12 col-form-label">Certificate Sign</label>
              <input type="text" class="form-control" (keyup)="changeSignTag_TEXT($event.target.value)" value="{{TextSignTag}}">
          </div>
        -->
                    </div>
                  </sb-item-body>
                </sb-item>

                <!-- Partner -->
                <sb-item class="accordion-panel">
                  <div class="row" style="border-top: 3px solid rgb(211, 211, 211);">
                    <div class="col-lg-10">
                      <sb-item-head class="accordion-msg">{{'eva.manage_certificate.partner' | translate}}</sb-item-head>
                    </div>
                    <div class="col-lg-2 switches-cerfified">
                      <ui-switch style="margin-left:-5px" class="js-single pull-right switch_certpartner checked" color="#1abc9c" switchColor="#fff"
                                 size="small" checked (change)="IfChecked('switch_certpartner', 'certpartner' )"></ui-switch>
                    </div>
                  </div>
                  <sb-item-body class="accordion-content">
                    <div class="accordion-desc">
                      <div class="row">
                        <label class="col-form-label col-md-12">{{'eva.manage_certificate.font_color' | translate}}</label>
                        <div class="col-md-3">
                          <input class="form-control" [(colorPicker)]="certpartnerColor" [value]="certpartnerColor" [style.background]="certpartnerColor"
                                 [cpWidth]="200" [cpWidth]="200" (colorPickerChange)="FontColor($event, 'certpartner')" />
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <label class="col-form-label col-md-12">{{'eva.manage_certificate.font' | translate}}</label>
                            <div class="col-md-4">
                              <input class="form-control" (keyup)="TextFontSize($event.target.value, 'certpartner')" />
                            </div>
                            <div class="col-md-8">
                              <a id="certpartner-bold-button" class="icon-box-autodesk fa fa-bold" (click)="TextBold($event.target.id, 'certpartner')"></a>
                              <a id="certpartner-italic-button" class="icon-box-autodesk fa fa-italic" (click)="TextItalic($event.target.id, 'certpartner')"></a>
                              <a id="certpartner-underline-button" class="icon-box-autodesk fa fa-underline" (click)="TextUnderline($event.target.id, 'certpartner')"></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.width' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_WIDTH($event.target.value, 'certpartner')">
                        </div>
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.height' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_HEIGHT($event.target.value, 'certpartner')">
                        </div>
                      </div>

                      <div class="p-2">&nbsp;</div>

                      <div>
                        <label class="col-sm-12 col-form-label">Title</label>
                        <input class="form-control col-md-12 selectorArtBlack" (keyup)="change_TEXT($event.target.value, 'titlecertpartner')" value="{{TextTitlePartner}}" />
                      </div>

                      <div>
                        <label class="col-sm-12 col-form-label">{{'eva.manage_certificate.partner' | translate}}</label>

                        <textarea rows="5" cols="5" class="form-control selectorArtBlack" (keyup)="change_TEXT($event.target.value, 'certpartner')"
                                  value="{{TextPartner}}"></textarea>
                      </div>
                    </div>
                  </sb-item-body>
                </sb-item>

                <!--Institution for project-->
                <sb-item class="accordion-panel">
                  <div class="row" style="border-top: 3px solid rgb(211, 211, 211);">
                    <div class="col-lg-10">
                      <sb-item-head class="accordion-msg">{{'eva.manage_course.detail.institution' | translate}}</sb-item-head>
                    </div>
                    <div class="col-lg-2 switches-cerfified">
                      <ui-switch style="margin-left:-5px" class="js-single pull-right switch_certinstitution checked" color="#1abc9c" switchColor="#fff"
                                 size="small" checked (change)="IfChecked('switch_certinstitution', 'certinstitution' )"></ui-switch>
                    </div>
                  </div>
                  <sb-item-body class="accordion-content">
                    <div class="accordion-desc">
                      <div class="row">
                        <label class="col-form-label col-md-12">{{'eva.manage_certificate.font_color' | translate}}</label>
                        <div class="col-md-3">
                          <input class="form-control" [(colorPicker)]="CertInstitutionColor" [value]="CertInstitutionColor" [style.background]="CertInstitutionColor"
                                 [cpWidth]="200" (colorPickerChange)="FontColor($event, 'certinstitution')" />
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <label class="col-form-label col-md-12">{{'eva.manage_certificate.font' | translate}}</label>
                            <div class="col-md-4">
                              <input class="form-control" (keyup)="TextFontSize($event.target.value, 'certinstitution')" />
                            </div>
                            <div class="col-md-8">
                              <a id="certinstitution-bold-button" class="icon-box-autodesk fa fa-bold" (click)="TextBold($event.target.id, 'certinstitution')"></a>
                              <a id="certinstitution-italic-button" class="icon-box-autodesk fa fa-italic" (click)="TextItalic($event.target.id, 'certinstitution')"></a>
                              <a id="certinstitution-underline-button" class="icon-box-autodesk fa fa-underline" (click)="TextUnderline($event.target.id, 'certinstitution')"></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.width' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_WIDTH($event.target.value, 'certinstitution')">
                        </div>
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.height' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_HEIGHT($event.target.value, 'certinstitution')">
                        </div>
                      </div>
                      <div>
                        <label class="col-sm-12 col-form-label">Title</label>
                        <input class="form-control col-md-12 selectorArtBlack" (keyup)="change_TEXT($event.target.value, 'titlecertinstitution')"
                               value="{{TextTitleInstitution}}" />
                      </div>
                      <div>
                        <label class="col-sm-12 col-form-label">{{'eva.manage_course.detail.institution' | translate}}</label>
                        <textarea rows="5" cols="5" class="form-control selectorArtBlack" placeholder=".." (keyup)="change_TEXT($event.target.value, 'certinstitution')"
                                  value="{{TextInstitution}}"></textarea>

                      </div>

                    </div>
                  </sb-item-body>
                </sb-item>

                <!--Location for event-->
                <sb-item class="accordion-panel">
                  <div class="row" style="border-top: 3px solid rgb(211, 211, 211);">
                    <div class="col-lg-10">
                      <sb-item-head class="accordion-msg">{{'eva.manage_certificate.location' | translate}}</sb-item-head>
                    </div>
                    <div class="col-lg-2 switches-cerfified">
                      <ui-switch style="margin-left:-5px" class="js-single pull-right switch_certeventlocation checked" color="#1abc9c" switchColor="#fff"
                                 size="small" checked (change)="IfChecked('switch_certeventlocation', 'certeventlocation' )"></ui-switch>
                    </div>
                  </div>
                  <sb-item-body class="accordion-content">
                    <div class="accordion-desc">
                      <div class="row">
                        <label class="col-form-label col-md-12">{{'eva.manage_certificate.font_color' | translate}}</label>
                        <div class="col-md-3">
                          <input class="form-control" [(colorPicker)]="EventCocationColor" [value]="EventLocationColor" [style.background]="EventLocationColor"
                                 [cpWidth]="200" (colorPickerChange)="FontColor($event, 'certeventlocation')" />
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <label class="col-form-label col-md-12">{{'eva.manage_certificate.font' | translate}}</label>
                            <div class="col-md-4">
                              <input class="form-control" (keyup)="TextFontSize($event.target.value, 'certeventlocation')" />
                            </div>
                            <div class="col-md-8">
                              <a id="certeventlocation-bold-button" class="icon-box-autodesk fa fa-bold" (click)="TextBold($event.target.id, 'certeventlocation')"></a>
                              <a id="certeventlocation-italic-button" class="icon-box-autodesk fa fa-italic" (click)="TextItalic($event.target.id, 'certeventlocation')"></a>
                              <a id="certeventlocation-underline-button" class="icon-box-autodesk fa fa-underline" (click)="TextUnderline($event.target.id, 'certeventlocation')"></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.width' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_WIDTH($event.target.value, 'certeventlocation')">
                        </div>
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.height' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_HEIGHT($event.target.value, 'certeventlocation')">
                        </div>
                      </div>
                      <div>
                        <label class="col-sm-12 col-form-label">Title</label>
                        <input class="form-control col-md-12 selectorArtBlack" (keyup)="change_TEXT($event.target.value, 'titlecerteventlocation')"
                               value="{{TextTitleLocationEvent}}" />
                      </div>
                      <div>
                        <label class="col-sm-12 col-form-label">{{'eva.manage_certificate.location' | translate}}</label>
                        <textarea rows="5" cols="5" class="form-control selectorArtBlack" (keyup)="change_TEXT($event.target.value, 'certeventlocation')"
                                  value="{{TextLocationEvent}}"></textarea>
                      </div>
                    </div>
                  </sb-item-body>
                </sb-item>

                <!--Year title-->
                <sb-item class="accordion-panel">
                  <div class="row" style="border-top: 3px solid rgb(211, 211, 211);">
                    <div class="col-lg-10">
                      <sb-item-head class="accordion-msg">{{'general.year' | translate}}</sb-item-head>
                    </div>
                    <div class="col-lg-2 switches-cerfified">
                      <ui-switch style="margin-left:-5px" class="js-single pull-right switch_yeartitle checked" color="#1abc9c" switchColor="#fff"
                                 size="small" checked (change)="IfChecked('switch_yeartitle', 'yeartitle' )"></ui-switch>
                    </div>
                  </div>
                  <sb-item-body class="accordion-content">
                    <div class="accordion-desc">
                      <div class="row">
                        <label class="col-form-label col-md-12">{{'eva.manage_certificate.font_color' | translate}}</label>
                        <div class="col-md-3">
                          <input class="form-control" [(colorPicker)]="EventCocationColor" [value]="EventLocationColor" [style.background]="EventLocationColor"
                                 [cpWidth]="200" (colorPickerChange)="FontColor($event, 'yeartitle')" />
                        </div>
                        <div class="col-md-12">
                          <div class="row">
                            <label class="col-form-label col-md-12">{{'eva.manage_certificate.font' | translate}}</label>
                            <div class="col-md-4">
                              <input class="form-control" (keyup)="TextFontSize($event.target.value, 'yeartitle')" />
                            </div>
                            <div class="col-md-8">
                              <a id="yeartitle-bold-button" class="icon-box-autodesk fa fa-bold" (click)="TextBold($event.target.id, 'yeartitle')"></a>
                              <a id="yeartitle-italic-button" class="icon-box-autodesk fa fa-italic" (click)="TextItalic($event.target.id, 'yeartitle')"></a>
                              <a id="yeartitle-underline-button" class="icon-box-autodesk fa fa-underline" (click)="TextUnderline($event.target.id, 'yeartitle')"></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.width' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_WIDTH($event.target.value, 'yeartitle')">
                        </div>
                        <div class="col-md-6">
                          <label>{{'eva.manage_certificate.height' | translate}}</label>
                          <input type="input" class="form-control" (keyup)="Background_HEIGHT($event.target.value, 'yeartitle')">
                        </div>
                      </div>
                      <div>
                        <label class="col-sm-12 col-form-label">{{'eva.manage_certificate.location' | translate}}</label>
                        <textarea rows="5" cols="5" class="form-control selectorArtBlack" (keyup)="change_TEXT($event.target.value, 'yeartitle')"
                                  value="{{YearNow}}"></textarea>
                      </div>
                    </div>
                  </sb-item-body>
                </sb-item>

                
              </squeezebox>
            </app-card>
        </div>
    </div>
    <div class="col-md-9" style="max-width:900px">
        <div class="card card-border-primary">
            <div class="card-header">
                <div class="row">
                    <div class="col-sm-10 text-left">
                        <h4>{{'eva.manage_certificate.form_edit_certificate' | translate}}</h4>
                    </div>
                    <div class="col-sm-2 text-right">
                      <a [routerLink]="['/certificate/certificate-list-design']" style="color:black" ngbTooltip="Back">
                        <i style="font-size:25px" class="icofont icofont-arrow-left"></i>
                      </a>
                    
                    </div>

                </div>
            </div>
            <div id="forEditaCanvas">
              
              </div>

            </div>
    </div>
</div>

<app-modal-basic #OpenModalUpdateCert [dialogClass]="'modal-md'">
    <div class="app-modal-header">
        <h4 class="modal-title">Save Template Design Certificate</h4>
        <button type="button" class="close basic-close" (click)="OpenModalUpdateCert.hide()" style="cursor:pointer">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <form [formGroup]="updateTemplateCertificateForm" (ngSubmit)="onSubmitUpdateCert()">
            <div class="form-group row">
                <div class="col-sm-12 text-left">
                    <label class="col-form-label">Design Code</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                            <i class="icofont icofont-brush"></i>
                        </span>
                        <input type="input" class="form-control" id="Code" placeholder="Design Code" formControlName="Code">
                    </div>
                    <div class="messages text-danger error" *ngIf="updateTemplateCertificateForm.controls.Code.errors?.required">Design code can't be blank</div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 text-left">
                    <label class="col-form-label">Design Name</label>
                    <div class="input-group">
                        <span class="input-group-addon" id="basic-addon1">
                            <i class="icofont icofont-brush"></i>
                        </span>
                        <input type="input" class="form-control" id="Name" placeholder="Design Name" formControlName="Name">
                    </div>
                    <div class="messages text-danger error" *ngIf="updateTemplateCertificateForm.controls.Name.errors?.required">Design Name can't be blank</div>
                </div>
            </div>
            <hr/>
            <div class="form-group row">
                <div class="col-sm-12 text-right">
                    <button type="submit" class="btn btn-success waves-effect waves-light " [disabled]="!updateTemplateCertificateForm.valid"
                        (click)="OpenModalUpdateCert.hide()">
                        <i class="icofont icofont-save"></i> {{ 'general.btn_save_change' | translate }}</button>
                    <button type="button" class="btn btn-danger waves-effect" (click)="OpenModalUpdateCert.hide()">
                        <i class="icofont icofont-ui-close"></i> {{ 'general.btn_close' | translate }}</button>
                </div>
            </div>
        </form>
    </div>
</app-modal-basic>
