<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>Survey Template Example</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-12 col-xl-12">
                <div id='surveyElement'></div>
            </div>
        </div>
    </div>
</div>