<div class="row">
    <div class="col-md-12 col-xl-12 page-header-title">
        <h4>{{ 'epdb.admin.invoice-type.title2' | translate }}</h4>
        <br/>
        <br/>
    </div>
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary"> 
            <div class="card-block row">   
                <form class="md-float-material" [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <div class="col-lg-12 col-xl-12 row"> 
                        <div class="m-4 card-block row dt-responsive">

                            <div class="col-md-6 col-xl-6 form-group">
                                <label class="col-form-label"><strong>{{ 'epdb.admin.invoice-type.label2' | translate }}</strong></label>
                                <select name="oStatus" class="form-control" id="activity_type" formControlName="activity_type">
                                    <option value="">{{ 'epdb.admin.invoice-type.pholder2' | translate }}</option>
                                    <option *ngFor="let item of activitytype" value={{item.activity_type}}>{{item.activity_type}}</option>
                                </select>
                    
                                <label class="col-form-label"><strong>{{ 'epdb.admin.invoice-type.label3' | translate }}</strong></label>
                                <select name="oStatus" class="form-control" id="invoiced_currency" formControlName="invoiced_currency">
                                    <option value="">{{ 'epdb.admin.invoice-type.pholder3' | translate }}</option>
                                    <option value="USD">USD</option>
                                    <option value="EUR">EUR</option>
                                    <option value="JPY">JPY</option> 
                                </select>
                            </div>
                            <div class="col-md-6 col-xl-6 form-group">
                                <label class="col-form-label"><strong>{{ 'epdb.admin.invoice-type.label4' | translate }}</strong></label>
                                <input type="text" class="form-control" id="invoice_type" formControlName="invoice_type" placeholder="Invoice Type">
                                
                                <label class="col-form-label"><strong>{{ 'epdb.admin.invoice-type.label5' | translate }}</strong></label>
                                <input type="number" class="form-control" id="invoiced_amount" formControlName="invoiced_amount" placeholder="Amount">
                            </div>
                            
                            <div class="col-md-6 col-xl-6 form-group">
                            
                                <label class="col-form-label"><strong>{{ 'epdb.admin.invoice-type.label6' | translate }}</strong></label> 
                                <div class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="modelPopup1" ngbDatepicker #d1="ngbDatepicker" readonly="true" id="contract_start_date" formControlName="contract_start_date">
                                        <div class="input-group-addon bg-default" (click)="d1.toggle()" >
                                            <span class="icofont icofont-ui-calendar"></span>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                
                                <label class="col-form-label"><strong>{{ 'epdb.admin.invoice-type.label7' | translate }}</strong></label> 
                                <div class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="modelPopup2" ngbDatepicker #d2="ngbDatepicker" readonly="true" id="contract_end_date" formControlName="contract_end_date">
                                        <div class="input-group-addon bg-default" (click)="d2.toggle()" >
                                            <span class="icofont icofont-ui-calendar"></span>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="col-md-6 col-xl-6 form-group">
 
                                <label class="col-form-label"><strong>{{ 'epdb.admin.invoice-type.label8' | translate }}</strong></label>
                                <select name="oStatus" class="form-control" id="status" formControlName="status">
                                    <option value="">-All-</option>
                                    <option value="A">A</option>
                                    <option value="X">X</option> 
                                </select>
                                <br/>
                                <label class="col-form-label"><strong>{{ 'epdb.admin.invoice-type.label9' | translate }}</strong></label>
                                <textarea class="form-control" rows="6" id="description" formControlName="description"></textarea>

                            </div>
                            <div class="mt-2 ml-2 col-md-12 col-xl-12 form-group row"> 
                                <div class="col-md-6 col-xl-6 form-group"> 
                                </div>
                                <div class="col-md-2 col-xl-2 form-group">  
                                    <button type="submit" [disabled]="!myForm.valid" class="btn btn-success btn-md btn-block text-center"><i class="icofont icofont-save"></i>{{ 'general.btn_save' | translate }} </button>
                                </div>
                                <div class="col-md-2 col-xl-2 form-group"> 
                                    <button type="button" [routerLink]="['/epdb/invoice-type/invoice-type-add']" class="btn btn-default btn-md btn-block text-center"><i class="icofont icofont-spinner-alt-3"></i>{{ 'general.btn_reset' | translate }}</button>
                                </div>
                                <div class="col-md-2 col-xl-2 form-group"> 
                                    <button type="button" [routerLink]="['/epdb/invoice-type/invoice-type-list']" class="btn btn-danger btn-md btn-block text-center"><i class="icofont icofont-ui-close"></i> {{ 'general.btn_cancel' | translate }}</button>
                                </div>
                            </div>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
    
     