<ngx-loading [show]="loading" [config]="{
backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'dashboard.student.finished_course' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right-autodesk">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data | dataFilterActivities : filterQuery"
                #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                    <tr>
                        <th width="10%" class="text-center">
                            <mfDefaultSorter by="CourseId">{{'eva.manage_course.list_course.course_id' | translate}}</mfDefaultSorter>
                        </th>
                        <th width="15%" class="text-center">
                            <mfDefaultSorter by="Name">{{'eva.manage_course.list_course.course_name' | translate}}</mfDefaultSorter>
                        </th>
                        <th width="15%" class="text-center">
                            <mfDefaultSorter by="CompletionDate">{{'student.my_course.completion_course_date' | translate}}</mfDefaultSorter>
                        </th>
                        <!-- <th width="15%"><mfDefaultSorter by="ContactId">{{'eva.manage_course.list_course.instructor_id' | translate}}</mfDefaultSorter></th> -->
                        <th width="15%" class="text-center">
                            <mfDefaultSorter by="ContactName">{{'eva.manage_course.list_course.instructor_name' | translate}}</mfDefaultSorter>
                        </th>
                        <th width="15%" class="text-center">
                            <mfDefaultSorter by="SiteName">{{'epdb.manage.site.detail.site_name' | translate}}</mfDefaultSorter>
                        </th>
                            <!-- <th width="15%">
                                <mfDefaultSorter by="SiteAddress1">{{'epdb.manage.site.add_edit.site_address' | translate}}</mfDefaultSorter>
                            </th> -->
                            <th width="10%" class="text-center">{{'student.my_course.download_certificate' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="data!=null && data!=''">
                        <tr *ngFor="let item of mf.data">
                            <td data-label="CourseId">
                                <b class="availForMobile">{{'eva.manage_course.list_course.course_id' | translate}}</b>{{item.CourseId}}
                            </td>
                            <td data-label="Name">
                                <b class="availForMobile">{{'eva.manage_course.list_course.course_name' | translate}}</b>{{item.Name}}
                            </td>
                            <td data-label="CompletionDate">
                                <b class="availForMobile">{{'student.my_course.completion_course_date' | translate}}</b>{{item.CompletionDate}}
                            </td>
                                <!-- <td>{{item.ContactId}}</td> -->
                            <td data-label="ContactName">
                                <b class="availForMobile">{{'eva.manage_course.list_course.instructor_name' | translate}}</b>{{item.ContactName}}
                            </td>
                            <td data-label="SiteName">
                                <b class="availForMobile">{{'epdb.manage.site.detail.site_name' | translate}}</b>{{item.SiteName}}
                            </td>
                            <!-- <td>{{item.SiteAddress1}}</td> -->
                            <td data-label="Status Survey">
                                <a *ngIf="isMobile" style="cursor:pointer; color:blue"
                                    (click)="GetCertificateViaEmail(item.PartnerType, item.FYIndicatorKey, language, StudentId, item.CourseId)">
                                    Send to my Email
                                </a>
                                <a *ngIf="!isMobile" style="cursor:pointer; color:blue" 
                                    href="/api/Certificate/CertificateDownload/where/{{item.PartnerType}}/{{item.FYIndicatorKey}}/{{language}}/{{StudentId}}/{{item.CourseId}}" 
                                    download="{{item.PartnerType}}_{{item.CourseId}}_{{item.Name}}.pdf"
                                    ngbTooltip="{{'student.my_course.tool_tip_download' | translate}}">
                                    {{'student.my_course.click_here' | translate}}
                                </a>
                            </td>
                            <!-- Download Certificate With Modal -->
                             <!-- <td data-label="Status Survey">
                                <b class="availForMobile">{{'student.my_course.download_certificate' | translate}}</b>
                                <p class="availForMobileDownload">Download the certificate in the browser</p>
                                <a class="availForBrowser" style="cursor:pointer; color:blue" (click)="DownloadCertificateStudent(item.FYIndicatorKey,item.TrainingTypeKey,item.ProjectTypeKey,item.EventTypeKey,item.CourseId);viewdetailmodal.show()">{{'student.my_course.click_here' | translate}}</a>
                            </td> -->
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="data!=null">
                            <td colspan="7">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="7" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="7" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="row" id="CardCanvas"  style="visibility: hidden;">
    <div class="col-md-12">
        <div class="card" style="border: 0;">
            <div id="certificate_iframe" >
            </div>
        </div>
    </div>
</div>

<!-- Download Ceritifacte With Modal-->
<!-- <app-modal-basic #viewdetailmodal [dialogClass]="'modal-lg iframe-certificate'">
    <div class="app-modal-header">
        <button type="button" class="close basic-close" (click)="viewdetailmodal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <div class="row" id="CardCanvas"  >
            <div class="col-md-12">
                <div class="card" style="border: 0;">
                    <div id="certificate_iframe" >
                    </div>
                </div>
            </div>
        </div>

    </div>
</app-modal-basic> -->


