/* table{
    table-layout: fixed;
}
table td{
    word-wrap:break-word;
    white-space: normal;
}
table th{
    text-align: center;
} */

/* .table-responsive {
    display: table;
}

th {
    text-align: center;
}

td {
    text-align: center;
} */

@media only screen and (min-width: 760px){
    .text-right-autodesk{
        text-align: right
    }
   
}
@media only screen and (min-width: 500px) and (max-width:760px ){
    tbody, tfoot{
        display: block
    }
}


.availForMobile{
    display: none;
}
.availForMobileDownload{
    display: none
}
.availForBrowser{
    display: block;
}
/*Mobile View*/
@media only screen and  (max-width: 760px) {
    .availForMobile{
        display: block;
        font-weight: bold;
        font-size:12px;
        margin-top: -10px;
    }
    .availForMobileDownload{
        display: block;
        margin-bottom: 0rem;
        font-style: italic;
    }
    .availForBrowser{
        display: none;
    }

   
    

    td, tr { display: block; }
    
    /* Hide table headers (but not display: none;, for accessibility) */
    
    thead tr {
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    
   
    
    tr + tr { margin-top: 0; }
    
    td {
      /* make like a "row" */
      border: none;
     
      position: relative;
      padding-left: 50%;
      text-align: left;
      font-size: 12px;
      
    }
    
    td:before {
      content: attr(data-label);
      display: inline-block;
      line-height: 1;
      margin-left: -100%;
      width: 100%;
      white-space: nowrap;
      word-wrap: break-word
    }

    .card .card-block table tr {
        padding-bottom: 0;
    }

    
    .table td, .table th {
        
        vertical-align: top;
        border-top: 1px solid #e9ecef;
        padding-left: 10px!important;
        padding-right: 10px!important;
        padding-bottom: 5px!important;
        padding-top: 5px!important;
    } 

    .card-autodesk-student{
        padding-left: 10px!important;
        padding-right: 10px!important;
    }
    /* .table-bordered td, .table-bordered th {
        border: 0px

    } */
    
    }



