<div class="row">
	<div class="col-md-12 col-xl-12 page-header-title">
		<h4>Update Organization Attachments</h4>
		<br/>
		<br/>
	</div>
	<div class="col-md-12 col-xl-12">
		<div class="card card-border-primary">
			<div class="card-block row dt-responsive" style="margin:20px"> 
				<div class="col-md-3 col-xl-3 form-group">
					<label class="col-form-label"><strong>Attachment Id</strong></label>	
				</div>
				<div class="col-md-9 col-xl-9 form-group">
					<label class="col-form-label">10373</label>
				</div>
				<div class="col-md-3 col-xl-3 form-group">
					<label class="col-form-label"><strong>Date Added</strong></label>	
				</div>
				<div class="col-md-9 col-xl-9 form-group">
					<label class="col-form-label">Nov 28, 2017 7:59:36 AM (Local)</label>
				</div>
				<div class="col-md-12 col-xl-12 form-group">
					<label class="col-form-label">Attachment Type</label>
					<select class="form-control" >
						<option value="">-- Select Attachment Type --</option>
						<option value="Application Document" selected>Application Document</option>
					</select>
				</div>
				<div class="col-md-12 col-xl-12 form-group">
					<label class="col-form-label">Description</label>
					<textarea id="" class="form-control" style="height:100px"></textarea>
				</div>
				<div class="col-md-3 col-xl-3 form-group">
					<label class="col-form-label"><strong>Current Filename</strong></label>	
				</div>
				<div class="col-md-9 col-xl-9 form-group">
					<label class="col-form-label">OE303232_Global Site Enrolment and Bus Plan Form.pdf</label>
				</div>
				<div class="col-md-12 col-xl-12 form-group row">
					<div class="col-sm-12">
						<div class="col-form-label"><strong>File to be upload</strong> (leave blank to preserve existing file)</div>
						<label class="custom-file mb-3">
							<input type="file" ng2FileSelect [uploader]="uploader" multiple class="custom-file-input" id="file" formControlName="file">
							<span class="custom-file-control"></span>
						</label>
					</div>
					<div class="col-md-12">
						<div class="row" *ngFor="let item of uploader.queue">
							<label class="col-form-label col-md-4" id="filename" formControlName="filename"><strong>{{ item?.file?.name }}</strong></label>
							<label class="col-form-label col-md-4" *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</label>
							<div class="col-form-label col-md-4" nowrap>
								<button type="button" class="btn btn-success btn-sm" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">
									<span class="fa fa-upload"></span>
								</button>
								<button type="button" class="btn btn-warning btn-sm" (click)="item.cancel()" [disabled]="!item.isUploading">
									<span class="fa fa-ban"></span>
								</button>
								<button type="button" class="btn btn-danger btn-sm" (click)="item.remove()">
									<span class="fa fa-trash"></span>
								</button>
							</div>
						</div>
						<div>
							<div class="sub-title">Common Action</div>
							<button type="button" class="btn btn-success" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
								<span class="fa fa-upload"></span> Upload all
							</button>
							<button type="button" class="btn btn-warning" (click)="uploader.cancelAll()" [disabled]="!uploader.isUploading">
								<span class="fa fa-ban"></span> Cancel all
							</button>
							<button type="button" class="btn btn-danger" (click)="uploader.clearQueue()" [disabled]="!uploader.queue.length">
								<span class="fa fa-trash"></span> Remove all
							</button>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-xl-3 form-group">
					<button type="submit" class="btn btn-success btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-save"></i> Save Change</button>
				</div>
				<div class="col-md-3 col-xl-3 form-group">
					<button type="button" class="btn btn-default btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-spinner-alt-3"></i> Reset</button>
				</div>
				<div class="col-md-3 col-xl-3 form-group">
					<button type="button" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-ui-close"></i> Cancel</button>
				</div>
				<div class="col-md-6 col-xl-6 form-group"></div>
			</div> 
		</div>
	</div>
</div>

 