<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>

    

<div style="max-width: 1000px; margin: 0 auto; align-items: center;
justify-content: space-around;
display: flex;
float: none;">


<div id="forEditaCanvas" style="margin: 0 auto; height: 620px; align-items: center;
justify-content: space-around;
float: none;"></div>

</div>



