<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'menu_manage_evaluation.copy_template' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <!-- <div class="col-md-12 col-xl-12 form-group text-right">
                <label class="col-form-label"></label>
                <button type="button" [routerLink]="['/evaluation/add-edit-templatedata']" class="btn btn-primary btn-md text-center "><i class="icofont icofont-ui-add"></i> {{'eva.manage_evaluation.btn_add_template' | translate}}</button>
            </div> -->
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="evaluationData | dataFilterSurveyTemplate : filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="20%">
                                <mfDefaultSorter by="eva_code">{{'eva.manage_evaluation.evaluation_template_code' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="30%">
                                <mfDefaultSorter by="certificate_type">{{'epdb.admin.partner_type.certificate_type' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="30%">
                                <mfDefaultSorter by="eva_title">{{'eva.manage_evaluation.evaluation_template_title' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="year">{{'eva.manage_evaluation.year' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%" class="text-center">{{'general.action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="evaluationData!=null && evaluationData!=''">
                        <tr *ngFor="let item of mf.data">
                            <td>{{item.eva_code}}</td>
                            <td>{{item.certificate_type}}</td>
                            <td>{{item.eva_title}}</td>
                            <td>{{item.year}}</td>
                            <td class="action-icon text-center">
                                <a [routerLink]="['/evaluation/survey-template-copy-detail',item.eva_id]" class="text-muted f-18" ngbTooltip="Copy">
                                    <i class="icofont icofont-edit"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="evaluationData!=null">
                            <td colspan="6">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="evaluationData==null">
                            <td colspan="6" class="text-center">{{'general.loading-data' | translate}}</td>
                        </tr>
                        <tr *ngIf="evaluationData==''">
                            <td colspan="6" class="text-center">{{'general.data-empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>