<div class="col-md-12 col-xs-12 col-sm-12 col-xl-12 denied-body">
  <img class="" src="../../assets/accessdenied.gif" width="auto" height="auto"/>
  <div class="row">
      <div class="col align-self-center">
          <label class="text-center text-warning">Please Upgrade your browser to use the system</label>
      </div>
    
  </div>
</div>