.denied-body{
    background: grey !important;
    min-width: 100%;
    min-height: 100%;
    display: block;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    padding-top: 20px;;
}