body {
    background-color: #fff;
}

.svd_container{
    width: 100%; 
}
.svd_container .svd_pages_editor .nav-tabs > li > div{
    border-radius:20px
}

.modal-content{
    margin-top:60px;
}

.ddmenu-container{
    display: none!important
}

.svd_add_new_page_btn{
    display: none!important
}

.card h5{
    text-transform: none!important;
}