<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>Survey Template Data</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="copytemplatedata" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.partner_type.partner_type' | translate}}</label>
                    <select class="form-control" (change)="selectedPartner($event.target.value)" formControlName="PartnerType">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of dropdownPartner" value="{{item.RoleId}}">{{item.RoleName}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!copytemplatedata.get('PartnerType').valid && copytemplatedata.get('PartnerType').touched">* Please Select Partner Type</span>
                </div>
                <div class="col-md-8 col-xl-8" *ngIf="shadow1">&nbsp;</div>
                <div class="col-md-4 col-xl-4 form-group" *ngIf="CertificateType">
                    <label class="col-form-label">{{'epdb.admin.partner_type.certificate_type' | translate}}</label>
                    <select id="CertificateType" name="CertificateType" class="form-control" formControlName="CertificateType">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of dropdownCertificate" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!copytemplatedata.get('CertificateType').valid && copytemplatedata.get('CertificateType').touched">* Please Select Certificate Type</span>
                </div>
                <div class="col-md-4 col-xl-4" *ngIf="shadow2">&nbsp;</div>

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eva.manage_evaluation.evaluation_template_code' | translate}}</label>
                    <input type="text" class="form-control" id="EvaluationQuestionCode" formControlName="EvaluationQuestionCode" placeholder="{{'eva.manage_evaluation.evaluation_template_code' | translate}}">
                    <span class="messages text-danger" *ngIf="!copytemplatedata.get('EvaluationQuestionCode').valid && copytemplatedata.get('EvaluationQuestionCode').touched">* Please Enter Evaluation Template Code</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eva.manage_evaluation.evaluation_template_title' | translate}}</label>
                    <input type="text" class="form-control" id="CourseId" formControlName="CourseId" placeholder="{{'eva.manage_evaluation.evaluation_template_title' | translate}}">
                    <span class="messages text-danger" *ngIf="!copytemplatedata.get('CourseId').valid && copytemplatedata.get('CourseId').touched">* Please Enter Evaluation Template Title</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'general.year' | translate}}</label>
                    <select class="form-control" formControlName="Year">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of year" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!copytemplatedata.get('Year').valid && copytemplatedata.get('Year').touched">* Please Select Year</span>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="card">
    <!-- <div class="card-header">
        <div class="page-header-title">
            <h4>Survey Template Copy</h4>
        </div>
    </div> -->
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">Survey Language</label>
                <select class="form-control" [(ngModel)]="selectedLang">
                    <option value="">-- {{'general.select' | translate}} --</option>
                    <option *ngFor="let item of language" value="{{item.Key}}">{{item.KeyValue}}</option>
                </select>
            </div>
            <div class="col-md-12 col-xl-12">&nbsp;</div>
            <div id="surveyEditorContainer" style="width: 100%;"></div>
            <div class="col-md-12 col-xl-12">&nbsp;</div>
            <div class="col-md-10 col-xl-10">&nbsp;</div>
            <div class="col-md-2 col-xl-2 text-center">
                <button type="button" [routerLink]="['/evaluation/survey-template-copy']" class="btn btn-default btn-md btn-block text-center">
                    <i class="icofont icofont-arrow-left"></i> {{'general.btn_back' | translate}}</button>
            </div>
        </div>
    </div>
</div>