<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>Evaluation Edition - 0001661219FY12</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-12 col-xl-12 form-group">
                <label class="text-justify">The evaluation form are split into two tabs corresponding to the input forms. The modification of the evaluation
                    impact OLAP the day after the modification.
                </label>
            </div>
            <div class="col-lg-12 col-xl-12 form-group">
                <ngb-tabset>
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            <b class="text-dark">Course Information / Prefill Questions</b>
                        </ng-template>
                        <ng-template ngbTabContent>

                        </ng-template>
                    </ngb-tab>
                    <ngb-tab>
                        <ng-template ngbTabTitle>
                            <b class="text-dark">Student Evaluation</b>
                        </ng-template>
                        <ng-template ngbTabContent>

                        </ng-template>
                    </ngb-tab>
                </ngb-tabset>
            </div>
        </div>
    </div>
</div>