<div class="row">
    <div class="col-md-12 col-xl-12 page-header-title">
        <h4>Administration : Update Invoice Type</h4>
            <br/>
            <br/>
    </div>
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary"> 
            <div class="card-block row">  
                <form class="md-float-material" [formGroup]="myForm" (ngSubmit)="onSubmit()">
                    <div class="col-lg-12 col-xl-12 row"> 
                        <div class="m-4 card-block row dt-responsive">
                            <div class="col-md-4 col-xl-4 form-group">
                                <label class="col-form-label"><strong>Invoice Type ID</strong></label>
                                <input type="text" class="form-control" readonly="true" id="invoice_type_id" formControlName="invoice_type_id">
                            </div>
                            <div class="col-md-4 col-xl-4 form-group">
                                <label class="col-form-label"><strong>Date Added</strong> </label>
                                <input type="text" class="form-control" readonly="true" id="cdate" formControlName="cdate">
                            </div>
                            <div class="col-md-4 col-xl-4 form-group">
                                <label class="col-form-label"><strong>Admin Added</strong></label>
                                <input type="text" class="form-control" readonly="true" id="cuid" formControlName="cuid">
                            </div> 
                            
                            <div class="col-md-6 col-xl-6 form-group">
                                <label class="col-form-label"><strong>Activity Type</strong></label>
                                <select name="oStatus" class="form-control" id="activity_type" formControlName="activity_type">
                                    <option *ngFor="let item of activitytype" value={{item.activity_type}}>{{item.activity_type}}</option>
                                </select>
                    
                                <label class="col-form-label"><strong>Currency</strong></label>
                                <select name="oStatus" class="form-control" id="invoiced_currency" formControlName="invoiced_currency">
                                    <option value="">-All-</option>
                                    <option value="USD">USD</option>
                                    <option value="EUR">EUR</option>
                                    <option value="JPY">JPY</option> 
                                </select>
                            </div>
                            <div class="col-md-6 col-xl-6 form-group">
                                <label class="col-form-label"><strong>Invoice Type</strong></label>
                                <input type="text" class="form-control" id="invoice_type" formControlName="invoice_type" placeholder="Invoice Type">
    
                                <label class="col-form-label"><strong>Amount</strong></label>
                                <input type="number" class="form-control" id="invoiced_amount" formControlName="invoiced_amount" placeholder="Amount">
                            </div>
                            
                            <div class="col-md-6 col-xl-6 form-group">
                            
                                <label class="col-form-label"><strong>Contract Start Date</strong></label> 
                                <div class="form-inline">
                                    <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="modelPopup1" ngbDatepicker #d1="ngbDatepicker" readonly="true" id="contract_start_date" formControlName="contract_start_date">
                                        <div class="input-group-addon bg-default" (click)="d1.toggle()" >
                                        <span class="icofont icofont-ui-calendar"></span>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                
                                <label class="col-form-label"><strong>Contract End Date</strong></label> 
                                <div class="form-inline">
                                    <div class="form-group">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="modelPopup2" ngbDatepicker #d2="ngbDatepicker" readonly="true" id="contract_end_date" formControlName="contract_end_date">
                                        <div class="input-group-addon bg-default" (click)="d2.toggle()" >
                                        <span class="icofont icofont-ui-calendar"></span>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                
                            </div> 
                            <div class="col-md-6 col-xl-6 form-group">
                                
                                <label class="col-form-label"><strong>Status</strong></label>
                                <select name="oStatus" class="form-control" id="status" formControlName="status">
                                    <option value="">-All-</option>
                                    <option value="A">A</option>
                                    <option value="X">X</option> 
                                </select>
                                <br/>
                                <label class="col-form-label"><strong>Description</strong></label>
                                <textarea class="form-control" rows="6" id="description" formControlName="description"></textarea>
                            </div>
                            <div class="col-md-12 col-xl-12 form-group row"> 
                                <div class="col-md-5 col-xl-5 form-group"> 
                                </div>
                                <div class="col-md-3 col-xl-3 form-group"> 
                                    <button type="submit" class="btn btn-success btn-md btn-block text-center"><i class="icofont icofont-save"></i> Save Changes</button>
                                </div>
                                <div class="col-md-2 col-xl-2 form-group"> 
                                    <button type="button" [routerLink]="['/epdb/invoice-type/invoice-type-update']" class="btn btn-default btn-md btn-block text-center"><i class="icofont icofont-spinner-alt-3"></i> Reset</button>
                                </div>
                                <div class="col-md-2 col-xl-2 form-group"> 
                                    <button type="button" [routerLink]="['/epdb/invoice-type/invoice-type-list']" class="btn btn-danger btn-md btn-block text-center"><i class="icofont icofont-ui-close"></i> Cancel</button>
                                </div>
                            </div>
                        </div>  
                    </div> 
                </form>
            </div>
        </div>
    </div>
</div>
      
       