<div class="row">

	<div class="col-md-12 col-xl-12 page-header-title">
		<h4>{{ 'eim.audit_report.audit_report' | translate }}</h4>
		<br/>
		<br/>
	</div>
	<div class="col-md-12 col-xl-12">
		<div class="card card-border-primary"> 
			<div class="card-block row">  
				<div class="col-md-1 col-xl-1 form-group">
				</div>
				<div class="col-md-10 col-xl-10 form-group">  
					<label class="col-form-label"><strong>{{ 'eim.audit_report.label_audit_report_1' | translate }}</strong></label> 
					<form class="form-inline">
						<div class="form-group">
						  <div class="input-group">
						    <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="modelPopup1" ngbDatepicker #d1="ngbDatepicker">
						    <div class="input-group-addon bg-default" (click)="d1.toggle()" >
						      <span class="icofont icofont-ui-calendar"></span>
						    </div>
						  </div>
						</div>
					</form>
					<label class="col-form-label"><strong>{{ 'eim.audit_report.label_audit_report_2' | translate }}</strong></label> 
					<form class="form-inline">
						<div class="form-group">
						  <div class="input-group">
						    <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="modelPopup2" ngbDatepicker #d2="ngbDatepicker">
						    <div class="input-group-addon bg-default" (click)="d2.toggle()" >
						      <span class="icofont icofont-ui-calendar"></span>
						    </div>
						  </div>
						</div>
					</form>
					<br/>
					<br/>
					<button type="button" [routerLink]="['/eim/audit']" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-eye-alt"></i>{{ 'general.btn_preview' | translate }}</button>
				</div>
				<div class="col-md-1 col-xl-1 form-group">
				</div>
			</div>
		</div>
	</div>
</div>

   

