<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'eva.manage_course.list_course.list_course' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="SearchCourse" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.partner_type.partner_type' | translate}} <code>*</code></label>
                    <angular2-multiselect [data]="dropdownPartner" [(ngModel)]="selectedPartner" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                        (onSelect)="onPartnerSelect($event)" (onDeSelect)="OnPartnerDeSelect($event)" (onSelectAll)="onPartnerSelectAll($event)"
                        (onDeSelectAll)="onPartnerDeSelectAll($event)">
                    </angular2-multiselect>
                    <span class="messages text-danger" *ngIf="!valid">* Please select partner type</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.partner_type.certificate_type' | translate}}</label>
                    <angular2-multiselect [data]="dropdownCertificate" [(ngModel)]="selectedCertificate" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onCertificateSelect($event)" (onDeSelect)="OnCertificateDeSelect($event)"
                        (onSelectAll)="onCertificateSelectAll($event)" (onDeSelectAll)="onCertificateDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eva.manage_course.list_course.course_id' | translate}}</label>
                    <input type="text" class="form-control" formControlName="CourseId" placeholder="{{'eva.manage_course.list_course.course_id' | translate}}">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.manage.organization.detail.organization_id' | translate}}</label>
                    <input type="text" class="form-control" formControlName="OrganizationId" placeholder="{{'epdb.manage.organization.detail.organization_id' | translate}}">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.manage.site.detail.site_id' | translate}}</label>
                    <input type="text" class="form-control" formControlName="SiteId" placeholder="{{'epdb.manage.site.detail.site_id' | translate}}">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eva.manage_course.list_course.instructor_id' | translate}}</label>
                    <input type="text" class="form-control" formControlName="InstructorId" placeholder="{{'eva.manage_course.list_course.instructor_id' | translate}}">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eva.manage_course.list_course.course_title' | translate}}</label>
                    <input type="text" class="form-control" formControlName="CourseTitle" placeholder="{{'eva.manage_course.list_course.course_title' | translate}}">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'general.start_date' | translate}}</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="modelPopup1" ngbDatepicker #d1="ngbDatepicker" formControlName="CourseStartDate"
                            readonly="true" (ngModelChange)="onSelectDateStart($event)">
                        <div class="input-group-addon bg-default" (click)="d1.toggle()">
                            <span class="icofont icofont-ui-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'general.end_date' | translate}}</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="modelPopup2" ngbDatepicker #d2="ngbDatepicker" formControlName="CourseEndDate"
                            readonly="true" (ngModelChange)="onSelectDateEnd($event)">
                        <div class="input-group-addon bg-default" (click)="d2.toggle()">
                            <span class="icofont icofont-ui-calendar"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eva.manage_course.add.survey' | translate}}</label>
                    <select class="form-control" formControlName="SurveyYear">
                        <option value="">-- {{'general.select_all' | translate}} --</option>
                        <option *ngFor="let item of fyIndicator" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">Sort by</label>
                    <select class="form-control" formControlName="SortValue">
                        <option *ngFor="let item of pilihanSort" value="{{item.id}}">{{item.itemName}}</option>
                    </select>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">Sort Direction</label>
                    <div class="form-radio">
                        <div class="radio radio-inline">
                            <label>
                                <input type="radio" formControlName="SortDirection" value="1">
                                <i class="helper"></i>Ascending
                            </label>
                        </div>
                        <div class="radio radio-inline">
                            <label>
                                <input type="radio" formControlName="SortDirection" value="0">
                                <i class="helper"></i>Descending
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-xl-7 form-group"></div>
                <div class="col-md-2 col-xl-2 form-group">
                    <label class="col-form-label">&nbsp;</label>
                    <button type="submit" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-ui-search"></i>{{'general.search' | translate}}
                    </button>
                </div>
                <div class="col-md-3 col-xl-3 form-group">
                    <label class="col-form-label">&nbsp;</label>
                    <button (click)="clearFilterStorage()" *ngIf="accesAddCourseBtn" type="button" [routerLink]="['/course/course-add']" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                        <i class="icofont icofont-ui-add"></i>{{'eva.manage_course.list_course.btn_add_course' | translate}}
                    </button>
                </div>
            </div>
        </form>

        <!-- <div class="dt-responsive dt-bootstrap4 row p-20" *ngIf="foundCourse">
            <div class="col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-md-6 col-xl-6">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="kursus | dataFilterCourse : filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="10%">
                                <mfDefaultSorter by="CourseId">{{'eva.manage_course.list_course.course_id' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="CourseTitle">{{'eva.manage_course.list_course.course_title' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="SiteName">{{'epdb.manage.site.detail.site_name' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="PartnerType">{{'epdb.admin.partner_type.partner_type' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="StartDate">{{'general.start_date' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="CompletionDate">{{'general.end_date' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="InstructorId">{{'eva.manage_course.list_course.instructor_id' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="ContactName">{{'eva.manage_course.list_course.instructor' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%">
                                <mfDefaultSorter by="FYIndicatorKey">Survey</mfDefaultSorter>
                            </th>
                            <th width="5%">
                                <mfDefaultSorter by="Evals"># Eval</mfDefaultSorter>
                            </th>
                            <th width="5%" *ngIf="accesUpdateCourseBtn || accesConfirmStudentCourseBtn">{{'general.action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="kursus != null">
                        <tr *ngFor="let item of mf.data">
                            <td class="text-center">{{item.CourseId}}</td>
                            <td>{{item.CourseTitle}}</td>
                            <td>{{item.SiteName}}</td>
                            <td>{{item.PartnerType}}</td>
                            <td class="text-center">{{item.StartDate | convertDate}}</td>
                            <td class="text-center">{{item.CompletionDate | convertDate}}</td>
                            <td>{{item.InstructorId}}</td>
                            <td>{{item.ContactName}}</td>
                            <td>{{item.FYIndicatorKey}}</td>
                            <td>{{item.Evals}}</td>
                            <td class="action-icon text-center" *ngIf="accesUpdateCourseBtn || accesCopyCourseBtn || accesDeleteCourseBtn">
                                <a *ngIf="accesUpdateCourseBtn" class="m-r-15 text-muted f-18" ngbTooltip="Edit Course" (click)="confirmEdit(item.CourseId,item.CompletionDate,item.Evals); clearFilterStorage()">
                                    <i class="icofont icofont-ui-edit" style="cursor: pointer"></i>
                                </a>
                                <a *ngIf="accesCopyCourseBtn" class="m-r-15 text-muted f-18" ngbTooltip="Copy Course" (click)="CopyCourse(item.CourseId)">
                                    <i class="icofont icofont-copy" style="cursor: pointer"></i>
                                </a>
                                <a *ngIf="accesDeleteCourseBtn" class="m-r-15 text-muted f-18" ngbTooltip="Delete Course" (click)="DeleteCourse(item.CourseId)">
                                    <i class="icofont icofont-delete-alt" style="cursor: pointer"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="kursus!=null">
                            <td colspan="11">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="kursus==null">
                            <td colspan="11" class="text-center">{{'general.cant_find_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="kursus==''">
                            <td colspan="11" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div> -->

        <div class="dt-responsive dt-bootstrap4 row p-20" *ngIf="foundCourse">
            <div class="col-xs-10 col-sm-10 col-md-10"></div>
            <div class="col-xs-2 col-sm-2 col-md-2">
                <div class="text-right">
                    <i class="fa fa-file-excel-o"></i>
                    <a [routerLink]="['/course/course-list']" (click)="ExportExcel()"> Export to .xls</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12">&nbsp;</div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center">
                    <ngx-loading [show]="loading_1" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
                    <thead>
                        <tr>
                            <th width="10%">
                                {{'eva.manage_course.list_course.course_id' | translate}}
                            </th>
                            <th width="10%">
                                {{'eva.manage_course.list_course.course_title' | translate}}
                            </th>
                            <th width="10%">
                                {{'epdb.manage.site.detail.site_name' | translate}}
                            </th>
                            <th width="10%">
                                {{'epdb.manage.site.detail.site_id' | translate}}
                                </th>
                            <th width="10%">
                                {{'epdb.admin.partner_type.partner_type' | translate}}
                            </th>
                            <th width="10%">
                                {{'general.start_date' | translate}}
                            </th>
                            <th width="10%">
                                {{'general.end_date' | translate}}
                            </th>
                            <th width="10%">
                                {{'eva.manage_course.list_course.instructor_id' | translate}}
                            </th>
                            <th width="10%">
                                {{'eva.manage_course.list_course.instructor' | translate}}
                            </th>
                            <th width="10%">
                                {{'eva.manage_course.add.survey' | translate}}
                            </th>
                            <th width="5%">
                                # Eval
                            </th>
                            <th width="5%" *ngIf="accesUpdateCourseBtn || accesConfirmStudentCourseBtn">{{'general.action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="kursus != null">
                        <tr *ngFor="let item of kursus | paginate : { itemsPerPage:10, currentPage:page, id : 1, totalItems:countdata }">
                            <td class="text-center">
                                <a *ngIf="accesUpdateCourseBtn" [routerLink]="['/course/course-list']" (click)="confirmEdit(item.CourseId,item.CompletionDate,item.evalno,item.PartnerType); clearFilterStorage()">
                                    {{item.CourseId}}
                                </a>
                            </td>
                            <td [innerHTML] ="item.CourseTitle"></td>
                            <td>{{item.SiteName}}</td>
                            <td>{{item.SiteId}}</td>
                            <td>{{item.PartnerType}}</td>
                            <td class="text-center">{{item.StartDate}}</td>
                            <td class="text-center">{{item.CompletionDate}}</td>
                            <td>{{item.InstructorId}}</td>
                            <td [innerHTML] ="item.ContactName"></td>
                            <td>{{item.FYIndicatorKey}}</td>
                            <td *ngIf="item.PartnerType != 'AAP Event'">{{item.evalno}}</td>
                            <td *ngIf="item.PartnerType == 'AAP Event'">{{item.enroll_no}}</td>
                            <td class="action-icon text-center" *ngIf="accesUpdateCourseBtn || accesCopyCourseBtn || accesDeleteCourseBtn">
                                <a *ngIf="accesUpdateCourseBtn && validEdit(item)" class="m-r-15 text-muted f-18" ngbTooltip="Edit Course" (click)="confirmEdit(item.CourseId,item.CompletionDate,item.evalno,item.PartnerType); clearFilterStorage()">
                                    <i class="icofont icofont-ui-edit" style="cursor: pointer"></i>
                                </a>
                                <a *ngIf="accesCopyCourseBtn" class="m-r-15 text-muted f-18" ngbTooltip="Copy Course" (click)="CopyCourse(item.CourseId)">
                                    <i class="icofont icofont-copy" style="cursor: pointer"></i>
                                </a>
                                <a *ngIf="accesDeleteCourseBtn" class="m-r-15 text-muted f-18" ngbTooltip="Delete Course" (click)="DeleteCourse(item.CourseId)">
                                    <i class="icofont icofont-delete-alt" style="cursor: pointer"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="kursus==null">
                        <tr *ngFor="let item of kursustmp">
                            <td class="text-center">
                                <a *ngIf="accesUpdateCourseBtn" [routerLink]="['/course/course-list']" (click)="confirmEdit(item.CourseId,item.CompletionDate,item.evalno); clearFilterStorage()">
                                    {{item.CourseId}}
                                </a>
                            </td>
                            <td [innerHTML] ="item.CourseTitle"></td>
                            <td>{{item.SiteName}}</td>
                            <td>{{item.SiteId}}</td>
                            <td>{{item.PartnerType}}</td>
                            <td class="text-center">{{item.StartDate}}</td>
                            <td class="text-center">{{item.CompletionDate}}</td>
                            <td>{{item.InstructorId}}</td>
                            <td [innerHTML] ="item.ContactName"></td>
                            <td>{{item.FYIndicatorKey}}</td>
                            <td>{{item.evalno}}</td>
                            <td class="action-icon text-center" *ngIf="accesUpdateCourseBtn || accesCopyCourseBtn || accesDeleteCourseBtn">
                                <a *ngIf="accesUpdateCourseBtn" class="m-r-15 text-muted f-18" ngbTooltip="Edit Course" (click)="confirmEdit(item.CourseId,item.CompletionDate,item.evalno); clearFilterStorage()">
                                    <i class="icofont icofont-ui-edit" style="cursor: pointer"></i>
                                </a>
                                <a *ngIf="accesCopyCourseBtn" class="m-r-15 text-muted f-18" ngbTooltip="Copy Course" (click)="CopyCourse(item.CourseId)">
                                    <i class="icofont icofont-copy" style="cursor: pointer"></i>
                                </a>
                                <a *ngIf="accesDeleteCourseBtn" class="m-r-15 text-muted f-18" ngbTooltip="Delete Course" (click)="DeleteCourse(item.CourseId)">
                                    <i class="icofont icofont-delete-alt" style="cursor: pointer"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="kursus!=null && kursus != ''">
                            <td colspan="12" class="text-right">
                                <pagination-controls (pageChange)="page = getServerData($event)" id="1" maxSize="8" directionLinks="true" autohide="true">
                                </pagination-controls>
                            </td>
                        </tr>
                        <tr *ngIf="kursus==''">
                            <td colspan="12" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>

        </div>
    </div>
</div>

<!-- modal view detail -->
<app-modal-basic #viewdetailmodal [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">{{'eva.manage_course.detail.detail_course' | translate}}</h4>
        <button type="button" class="close basic-close" (click)="viewdetailmodal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <div class="col-md-12 col-xl-12 form-group row" *ngIf="datadetail!=null">
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">
                    <strong>{{'eva.manage_course.list_course.course_id' | translate}}</strong>
                </label>
            </div>
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">{{datadetail.CourseId}}</label>
            </div>
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">
                    <strong>{{'eva.manage_course.list_course.course_title' | translate}}</strong>
                </label>
            </div>
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">{{datadetail.Name}}</label>
            </div>
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">
                    <strong>{{'eva.manage_course.list_course.instructor_id' | translate}}</strong>
                </label>
            </div>
            <div class="col-md-9 col-xl-9 text-left">
                <label class="col-form-label">{{datadetail.ContactId}}</label>
            </div>
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">
                    <strong>{{'general.start_date' | translate}}</strong>
                </label>
            </div>
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">{{datadetail.StartDate}}</label>
            </div>
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">
                    <strong>{{'general.end_date' | translate}}</strong>
                </label>
            </div>
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">{{datadetail.CompletionDate}}</label>
            </div>
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">
                    <strong>{{'eva.manage_course.detail.hour_training' | translate}}</strong>
                </label>
            </div>
            <div class="col-md-9 col-xl-9 text-left">
                <label class="col-form-label">{{datadetail.HoursTraining}} Hour</label>
            </div>
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">
                    <strong>{{'eva.manage_course.detail.survey_indicator' | translate}}</strong>
                </label>
            </div>
            <div class="col-md-9 col-xl-9 text-left">
                <label class="col-form-label">{{datadetail.FYIndicatorKey}}</label>
            </div>
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">
                    <strong>{{'eva.manage_course.detail.institution' | translate}}</strong>
                </label>
            </div>
            <div class="col-md-9 col-xl-9 text-left">
                <label class="col-form-label">{{datadetail.Institution}}</label>
            </div>
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">
                    <strong>{{'eva.manage_course.detail.teaching_level' | translate}}</strong>
                </label>
            </div>
            <div class="col-md-9 col-xl-9 text-left" *ngIf="teachingLevel.length != 0">
                <ol>
                    <li *ngFor="let item of teachingLevel">{{item}}</li>
                </ol>
            </div>
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">
                    <strong>{{'epdb.admin.product.product' | translate}}</strong>
                </label>
            </div>
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">{{product}}</label>
            </div>
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">
                    <strong>{{'eva.manage_course.detail.version' | translate}}</strong>
                </label>
            </div>
            <div class="col-md-3 col-xl-3 text-left">
                <label class="col-form-label">{{version}}</label>
            </div>
        </div>
    </div>
</app-modal-basic>
<!-- end modal view detail -->