<div class="row">
    <div class="col-md-12 col-xl-12 page-header-title">
        <h4>Search Courses</h4>
        <br/>
        <br/>
    </div>
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary">
            <div class="card-block row">
                <div class="col-lg-12 col-xl-12 row">
                    <div class="col-md-12 col-xl-4 form-group">
                        <label class="col-form-label"><b>Partner Type:</b></label>
                        <angular2-multiselect [data]="dropdownListPartner" [(ngModel)]="selectedItemsPartner" 
                            [settings]="dropdownSettingsPartner" 
                            (onSelect)="onItemSelect($event)" 
                            (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                    <div class="col-md-12 col-xl-4 form-group">
                        <label class="col-form-label"><b>Certificate Type:</b></label>
                        <angular2-multiselect [data]="dropdownListCertificate" [(ngModel)]="selectedItemsCertificate" 
                            [settings]="dropdownSettingsCertificate" 
                            (onSelect)="onItemSelect($event)" 
                            (onDeSelect)="OnItemDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)">
                        </angular2-multiselect>
                    </div>
                    <div class="col-md-12 col-xl-4 form-group">
                        <label class="col-form-label"><b>Course ID:</b></label>
                        <input type="number" name="email" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-12 col-xl-12 row">
                    <div class="col-md-12 col-xl-4 form-group">
                        <label class="col-form-label"><b>Organization ID:</b></label>
                        <input type="text" name="email" class="form-control" />
                    </div>
                    <div class="col-md-12 col-xl-4 form-group">
                        <label class="col-form-label"><b>Site ID:</b></label>
                        <input type="number" name="email" class="form-control" />
                    </div>
                    <div class="col-md-12 col-xl-4 form-group">
                        <label class="col-form-label"><b>Instructor ID:</b></label>
                        <input type="number" name="email" class="form-control" />
                    </div>
                </div>
                <div class="col-lg-12 col-xl-12 row">
                    <div class="col-md-12 col-xl-4 form-group">
                        <label class="col-form-label"><b>Course Title:</b></label>
                        <input type="text" name="email" class="form-control" />
                    </div>
                    <div class="col-md-12 col-xl-4 form-group">
                        <label class="col-form-label"><b>Course Start Date:</b></label>
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="modelPopup1" ngbDatepicker #d1="ngbDatepicker">
                                <div class="input-group-addon bg-default" (click)="d1.toggle()" >
                                    <span class="icofont icofont-ui-calendar"></span>
                                </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-12 col-xl-4 form-group">
                        <label class="col-form-label"><b>Course End Date:</b></label>
                        <form class="form-inline">
                            <div class="form-group">
                                <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="modelPopup2" ngbDatepicker #d2="ngbDatepicker">
                                <div class="input-group-addon bg-default" (click)="d2.toggle()" >
                                    <span class="icofont icofont-ui-calendar"></span>
                                </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-12 row">
                    <div class="col-md-12 col-xl-4 form-group">
                        <label class="col-form-label"><b>Survey:</b></label>
                        <select name="oStatus" class="form-control">
                            <option value="">-All-</option>
                            <option value="2017">FY18 (2017)</option>
                            <option value="2016">FY17 (2016)</option>
                        </select>
                    </div>
                    <div class="col-md-12 col-xl-4 form-group">
                        <label class="col-form-label"><b>Sort by:</b></label>
                        <select name="oStatus" class="form-control">
                            <option value="0">Course ID</option>
                            <option value="1">Course title</option>
                            <option value="2">Site ID</option>
                        </select>
                    </div>
                    <div class="col-md-12 col-xl-4 form-group">
                        <label class="col-form-label"><b>Sort Direction:</b></label>
                        <div class="form-radio">
                            <div class="radio radiofill radio-primary radio-inline">
                                <label>
                                    <input type="radio" name="member" value="free" data-bv-field="member">
                                    <i class="helper"></i>Ascending
                                </label>
                            </div>
                            <div class="radio radiofill radio-primary radio-inline">
                                <label>
                                    <input type="radio" name="member" value="personal" data-bv-field="member">
                                    <i class="helper"></i>Descending
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-xl-12 row" >
                <div class="col-md-10 col-xl-10">
                </div>
                <div class="col-md-2 col-xl-2">
                    <button type="button" [routerLink]="['/eva/search-courses']" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-15"><i class="icofont icofont-checked"></i> Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>