<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>Manage Label</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-12 col-xl-12 form-group">
                <label class="col-form-label">{{ 'epdb.admin.language.language' | translate }}:
                    <strong>{{selectedLanguage}}</strong>
                </label>
            </div>
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12">&nbsp;</div>
            
            <div class="col-md-12 col-xl-12">
                <ul id="myUL">
                    <li *ngFor="let parent of dataInArray">
                        <span *ngIf="parent.hasChild"  class="caret" (click)="toggleChild($event.target)">
                            {{parent.name}}
                        </span>
                        <span *ngIf="!parent.hasChild"  class="row span">
                            <span class="col-md-6">{{parent.name}}</span>
                            <span class="col-md-4">
                                <input [(ngModel)]="data[parent.name]" placeholder="parent Value" class="form-control"/>
                            </span>
                            <span class="col-md-2 text-center">
                                <i class="icofont icofont-ui-delete" style="cursor: pointer" ngbTooltip="Delete language"
                                (click)="removeParentElement(parent.name)"></i>
                            </span>
                        </span>
                        <ul class="nested child-ul">
                            <li *ngFor="let child of parent.childs">
                                <span *ngIf="child.hasChild"  class="caret" (click)="toggleChild($event.target)">
                                        {{child.name}}
                                    </span>
                                    <span *ngIf="!child.hasChild"  class="row span">
                                        <span class="col-md-6">{{child.name}}</span>
                                        <span class="col-md-4">
                                            <input [(ngModel)]="data[parent.name][child.name]" placeholder="child Value" class="form-control"/>
                                        </span>
                                        <span class="col-md-2 text-center">
                                            <i class="icofont icofont-ui-delete" style="cursor: pointer" ngbTooltip="Delete language"
                                            (click)="removeChildElement(parent.name, child.name)"></i>
                                        </span>
                                    </span>
                                <ul class="nested grand-child-ul">
                                    <li *ngFor="let grandChild of child.childs">
                                        <span *ngIf="grandChild.hasChild"  class="caret" (click)="toggleChild($event.target)">
                                            {{grandChild.name}}
                                        </span>
                                        <span *ngIf="!grandChild.hasChild"  class="row span">
                                            <span class="col-md-6">{{grandChild.name}}</span>
                                            <span class="col-md-4">
                                                <input [(ngModel)]="data[parent.name][child.name][grandChild.name]" placeholder="grand child Value" class="form-control"/>
                                            </span>
                                            <span class="col-md-2 text-center">
                                                <i class="icofont icofont-ui-delete" style="cursor: pointer" ngbTooltip="Delete language element"
                                                (click)="removeGrandChildElement(parent.name, child.name, grandChild.name)"></i>
                                            </span>
                                        </span>
                                        <ul class="nested grand-grand-child-ul">
                                            <li *ngFor="let grandGrandChild of grandChild.childs">
                                                <span *ngIf="grandGrandChild.hasChild"  class="caret" (click)="toggleChild($event.target)">
                                                    {{grandGrandChild.name}}
                                                </span>
                                                <span *ngIf="!grandGrandChild.hasChild"  class="row span">
                                                    <span class="col-md-6">{{grandGrandChild.name}}</span>
                                                    <span class="col-md-4">
                                                        <input [(ngModel)]="data[parent.name][child.name][grandChild.name][grandGrandChild.name]" placeholder="grand grand child Value" class="form-control"/>
                                                    </span>
                                                    <span class="col-md-2 text-center">
                                                        <i class="icofont icofont-ui-delete" style="cursor: pointer" ngbTooltip="Delete language element"
                                                        (click)="removeGrandGrandChildElement(parent.name, child.name, grandChild.name, grandGrandChild.name)"></i>
                                                    </span>
                                                </span>
                                                <ul class="nested grand-grand-grand-child-ul">
                                                    <li *ngFor="let grandGrandGrandChild of grandGrandChild.childs">
                                                        <span class="row span">
                                                            <span class="col-md-6">{{grandGrandGrandChild}}</span>
                                                            <span class="col-md-4">
                                                                <input [(ngModel)]="data[parent.name][child.name][grandChild.name][grandGrandChild.name][grandGrandGrandChild]" placeholder="grand grand grand child Value" class="form-control"/>
                                                            </span>
                                                            <span class="col-md-2 text-center">
                                                                <i class="icofont icofont-ui-delete" style="cursor: pointer" ngbTooltip="Delete language element" 
                                                                (click)="removeGrandGrandGrandChildElement(parent.name, child.name, grandChild.name, grandGrandChild.name, grandGrandGrandChild)"></i>
                                                            </span>
                                                        </span>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12">&nbsp;</div>
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12">
                <span>After all of changes, you need to click Save Language Packs to push the change to server.</span>
            </div>
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12">&nbsp;</div>
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12">
                <button type="button" (click)="saveLanguagePacks()" class="btn btn-primary btn-sm btn-block waves-effect text-center m-b-20 col-xs-3 col-sm-3 col-sm-3 col-md-3">Save Language Packs</button>
            </div>

            
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12">&nbsp;</div>
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12">&nbsp;</div>
            <button type="button" (click)="displayAddElement = !displayAddElement" class="btn btn-primary btn-sm btn-block waves-effect text-center m-b-20">Add New Element</button>
            <div *ngIf="displayAddElement" class="row col-md-12">
                <div class="col-md-12 col-xl-12" style="padding: 0px 0px 30px 15px">
                    <div>
                        <label class="col-form-label">Parent</label>
                        <div class="row col-md-12 col-xl-12">
                            <div class="col-md-4 col-xl-4">
                                <select id="parentName" class="form-control" (change)="onChangeParent($event.target.value)">
                                    <option value="parentRoot">{{'general.select' | translate}}</option>
                                    <option *ngFor="let item of parents" value={{item.name}}>{{item.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button type="button" (click)="removeParent()" class="btn btn-primary btn-sm btn-block waves-effect text-center m-b-20">Remove</button>
                            </div>
                            
                            <div class="col-md-4">
                                <input [(ngModel)]="newParentName" placeholder="Add new Parent node" class="form-control"/>
                            </div>
                            <div class="col-md-2">
                                <button type="button" (click)="addParent()" class="btn btn-primary btn-sm btn-block waves-effect text-center m-b-20">Add</button>
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <label class="col-form-label">Child</label>
                        <div class="row col-md-12 col-xl-12">
                            <div class="col-md-4 col-xl-4">
                                <select id="childName" class="form-control" (change)="onChangeChild($event.target.value)">
                                    <option value="childRoot">{{'general.select' | translate}}</option>
                                    <option *ngFor="let item of childs" value={{item.name}}>{{item.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button type="button" (click)="removeChild()" class="btn btn-primary btn-sm btn-block waves-effect text-center m-b-20">Remove</button>
                            </div>
                            
                            <div class="col-md-4">
                                <input [(ngModel)]="newChildName" placeholder="Add new Child node" class="form-control"/>
                            </div>
                            <div class="col-md-2">
                                <button type="button" (click)="addChild()" class="btn btn-primary btn-sm btn-block waves-effect text-center m-b-20">Add</button>
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <label class="col-form-label">Grand Child</label>
                        <div class="row col-md-12 col-xl-12">
                            <div class="col-md-4 col-xl-4">
                                <select id="grandChildName" class="form-control" (change)="onChangeGrandChild($event.target.value)">
                                    <option value="grandChildRoot">{{'general.select' | translate}}</option>
                                    <option *ngFor="let item of grandChilds" value={{item.name}}>{{item.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button type="button" (click)="removeGrandChild()" class="btn btn-primary btn-sm btn-block waves-effect text-center m-b-20">Remove</button>
                            </div>
                            
                            <div class="col-md-4">
                                <input [(ngModel)]="newGrandChildName" placeholder="Add new Grand Child node" class="form-control"/>
                            </div>
                            <div class="col-md-2">
                                <button type="button" (click)="addGrandChild()" class="btn btn-primary btn-sm btn-block waves-effect text-center m-b-20">Add</button>
                            </div>
                        </div>
                    </div>
                    
                    <div>
                        <label class="col-form-label">Grand Grand Child</label>
                        <div class="row col-md-12 col-xl-12">
                            <div class="col-md-4 col-xl-4">
                                <select id="grandGrandChildName" class="form-control">
                                    <option value="grandGrandChildRoot">{{'general.select' | translate}}</option>
                                    <option *ngFor="let item of grandGrandChilds" value={{item.name}}>{{item.name}}</option>
                                </select>
                            </div>
                            <div class="col-md-2">
                                <button type="button" (click)="removeGrandGrandChild()" class="btn btn-primary btn-sm btn-block waves-effect text-center m-b-20">Remove</button>
                            </div>
                            
                            <div class="col-md-4">
                                <input [(ngModel)]="newGrandGrandChildName" placeholder="Add new Grand Grand Child node" class="form-control"/>
                            </div>
                            <div class="col-md-2">
                                <button type="button" (click)="addGrandGrandChild()" class="btn btn-primary btn-sm btn-block waves-effect text-center m-b-20">Add</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row col-md-12">
                    <div class="form-group text-left text-dark col-md-6">
                        Element Name
                    </div>
                    <div class="form-group text-left text-dark col-md-6">
                        <input [(ngModel)]="elementName" id="elementName" placeholder="element Name" class="form-control"/>
                    </div>
                </div>
    
                <div class="row col-md-12" *ngFor="let languagePack of languagePacks">
                    <div class="form-group text-left text-dark col-md-6">
                        {{languagePack.languageCountry}}
                    </div>
                    <div class="form-group text-left text-dark col-md-6">
                        <input [(ngModel)]="elementValues[languagePack.languagePackId]" placeholder="element Value in {{languagePack.languageCountry}}" class="form-control"/>
                    </div>
                </div>
                
                <div class="col-md-2">
                    <button type="button" (click)="addElement()" class="btn btn-primary btn-sm btn-block waves-effect text-center m-b-20">Save Element</button>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12">&nbsp;</div>
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12 text-right">
                <button type="button" [routerLink]="['/admin/language/list-language']" class="btn btn-default btn-md text-center">
                    <i class="icofont icofont-square-left"></i> {{'general.btn_back' | translate}}
                </button>
            </div>
        </div>
    </div>
</div>