/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  /* Style the caret/arrow */
  .caret {
    cursor: pointer; 
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg); 
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }

  .child-ul {
    margin: 5px 25px;
  }

  .grand-child-ul {
    margin: 5px 25px;
  }

  .grand-grand-child-ul {
    margin: 5px 25px;
  }

  .grand-grand-grand-child-ul {
    margin: 5px 25px;
  }

  .span {
    line-height: 36px;

  }
  .span:hover {
    background-color: bisque;
  }