<div class="card">
  <div class="card-header">
      <div class="page-header-title">
          <h4>Data Management</h4>
      </div>
  </div>
  <div class="card-block">
        <div class="dt-responsive dt-bootstrap4  row p-20">
 
        </div>
        <div class="form-group">
            <label for="reasonType">Table Name</label>
            <div class="input-group col-4">
             <select class="form-control" [(ngModel)]="selectedKey" aria-placeholder="Select Reason Type" (change)="ddlKeyChange(selectedKey)"> 
                  <option [ngValue]="undefined" disabled  selected> Please select </option>
                  <option *ngFor="let c of tablesModel" [ngValue]="c.key">{{c.name}}</option>
             </select>
             <div class="col-2">
                <button type="button" class="btn btn-outline-dark" (click)="GetChanges()">Search</button> 
             </div>
                     
            </div>
             
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
            <table class="table table-striped table-bordered table-responsive" style="display:table" [mfData]="dataManagementModel"
      #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage">
          <ngx-loading [show]="loading_1" [config]="{ backdropBorderRadius: '0px' }"></ngx-loading>
          <thead>
              <tr>
                  <th width="10%" >Code</th>
                  <th width="10%" >Changes</th>
                  <th width="10%" >Original</th>
                  <th width="10%" >Action</th>
              </tr>
          </thead>
          <tbody *ngIf="dataManagementModel != null">
              <tr *ngFor="let item of dataManagementModel">
                    <td style="vertical-align: text-top"><div style="padding-top: 45px;">{{item.keyCode}}</div></td>
                    <td>
                        <ul style="margin-top: 1px;padding-top: 2px;">
                            <li *ngFor="let changes of item.changesValue">{{changes}}</li>
                        </ul>
                    </td>
                    <td>
                         <ul style="margin-top: 1px;padding-top: 2px;">
                            <li *ngFor="let original of item.originalValue">{{original}}</li>
                        </ul>
                    </td>
                    <td style="text-align: center;">
                            <a *ngIf="item.status !== 'New' && item.status !== 'Invalid'" (click)="rollBack(item.id)" class="m-r-15 text-muted f-18" ngbTooltip="Roll back to original value" style="text-align: center;">
                                    <i class="icofont icofont-history" style="cursor: pointer;font-size: 32px !important;color: blue;"></i>                                  
                                </a>
                    </td>
              </tr>
            
          </tbody>
          <tfoot>
             
          </tfoot>
        </table>
        </div>
    </div>
