.selected-list[_ngcontent-c5] .c-btn[_ngcontent-c5]{
    padding: 16px !important;
}
td{
    white-space: pre-line;
    word-wrap: break-word;
    max-width: 160px !important;
    vertical-align: middle;
}