<div class="row">
    <div class="col-md-12 col-xl-12 page-header-title">
        <h4>{{ 'epdb.admin.invoice-type.title1' | translate }}</h4>
        <br/>
        <br/>
    </div>
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary">
            <div class="m-4 card-block row dt-responsive">
                <div class="col-md-6 col-xl-6 form-group text-left">
                    <label><strong>{{ 'epdb.admin.invoice-type.label1' | translate }}</strong></label>
                    <select name="oStatus" class="form-control" (change)="changetable($event.target.value)">
                        <option value="">{{ 'epdb.admin.invoice-type.pholder1' | translate }}</option>
                        <option *ngFor="let item of activitytype" value={{item.activity_type}}>{{item.activity_type}}</option>
                    </select>
                </div>
                <div class="col-md-6 col-xl-6 form-group text-right">
                    <label class="col-form-label"></label>
                    <button type="button" [routerLink]="['/epdb/invoice-type/invoice-type-add']" class="btn btn-primary btn-md text-center "><i class="icofont icofont-ui-add"></i> Add Invoice Type</button>
                </div>
                
                <div class="mt-5 col-md-12 col-xl-12 form-group">
                    <h4><strong>{{title}}</strong></h4>
                </div>
                <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6" *ngIf="title!=''">
                    <div>
                    <label class="label-control">Show
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                        </select>
                        entries
                    </label>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6" *ngIf="title!=''">
                    <div class="text-right">
                        <label>Search:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                        </label>
                    </div>
                </div>  
                <table class="row table table-striped table-bordered table-responsive full-data-table"  [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" *ngIf="title!=''">
                    <thead>
                        <tr>
                            <th width="20%"><mfDefaultSorter by="invoice_type_id">ID</mfDefaultSorter></th>
                            <th width="20%"><mfDefaultSorter by="invoice_type">Invoice Type</mfDefaultSorter></th>
                            <th width="20%"><mfDefaultSorter by="contract_start_date">Contract Start Date</mfDefaultSorter></th>
                            <th width="20%"><mfDefaultSorter by="contract_end_date">Contract End Date</mfDefaultSorter></th>
                            <th width="20%"><mfDefaultSorter by="invoiced_currency">Currency</mfDefaultSorter></th> 
                            <th width="20%"><mfDefaultSorter by="invoiced_amount">Amount</mfDefaultSorter></th> 
                            <th width="20%">Action</th>
                        </tr> 
                    </thead>
                    <tbody *ngIf="data!=null">
                        <tr *ngFor="let item of mf.data">
                            <td>{{item.invoice_type_id}}</td>
                            <td>{{item.invoice_type}}</td>
                            <td>{{item.contract_start_date.toString().substr(0,10)}}</td>
                            <td>{{item.contract_end_date.toString().substr(0,10)}}</td>
                            <td>{{item.invoiced_currency}}</td>
                            <td>{{item.invoiced_amount}}</td>
                            <td class="action-icon">
                                <a (click)="viewdetail(item.invoice_type_id);viewdetailmodal.show();" class="m-r-15 text-muted f-18" ngbTooltip="View Detail Invoice"><i class="icofont icofont-eye-alt"></i></a>
                                <a [routerLink]="['/epdb/invoice-type/invoice-type-update',item.invoice_type_id]" class="m-r-15 text-muted f-18" ngbTooltip="Edit Invoice"><i class="icofont icofont-ui-edit"></i></a>
                                <a (click)="openConfirmsSwal(item.invoice_type_id)" class="text-muted f-18" ngbTooltip="Delete Invoice"><i class="icofont icofont-delete-alt"></i></a>
                            </td> 
                        </tr>
                    </tbody>
                    <tfoot> 
                        <tr *ngIf="data!=null">
                            <td colspan="7"><mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator></td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="7" class="text-center">Cant Find Data</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="7" class="text-center">Data Empty</td>
                        </tr>
                    </tfoot>
                </table> 
            </div>
        </div>
    </div>    
</div>

<!-- modal view detail -->
<app-modal-basic #viewdetailmodal [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">Detail Invoice Type</h4>
        <button type="button" class="close basic-close" (click)="viewdetailmodal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <div class="col-md-12 col-xl-12 form-group row" *ngIf="datadetail!=null">
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"><strong>Invoice Type ID</strong></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.invoice_type_id}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"><strong>Date Added</strong></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.cdate.toString().substr(0,10)}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"><strong>Admin Added</strong></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.cuid}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"><strong>Activity Type</strong></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.activity_type}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"><strong>Currency</strong></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.invoiced_currency}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"><strong>Invoice Type</strong></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.invoice_type}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"><strong>Amount</strong></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.invoiced_amount}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"><strong>Contract Start Date</strong></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.contract_start_date.toString().substr(0,10)}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"><strong>Contract End Date</strong></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.contract_end_date.toString().substr(0,10)}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"><strong>Status</strong></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.status}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"><strong>Description</strong></label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.description}}</label>
            </div>
        </div>
    </div>
</app-modal-basic>
<!-- end modal view detail -->