<div id="pcoded" (window:resize)="onResize($event)" class="pcoded iscollapsed" theme-layout="vertical" vertical-placement="left"
    vertical-layout="wide" [attr.pcoded-device-type]="deviceType" [attr.vertical-nav-type]="verticalNavType" [attr.vertical-effect]="verticalEffect"
    vnavigation-view="view1">
    <div class="pcoded-overlay-box"></div>
    <div class="pcoded-container navbar-wrapper">
        <nav class="navbar header-navbar pcoded-header" header-theme="theme4" pcoded-header-position="fixed">
            <div class="navbar-wrapper">
                <div class="navbar-logo" navbar-theme="theme5">
                    <a class="mobile-menu" id="mobile-collapse" href="javascript:;" (click)="toggleOpened()" [exclude]="'#main_navbar'" (clickOutside)="onClickedOutside($event)">
                        <i class="ti-menu"></i>
                    </a>
                    <a [routerLink]="['/']" style="margin-left:20px">
                        <img class="img-fluid" src="assets/images/logo4.png" alt="Theme-Logo" />
                    </a>
                    <a (click)="onMobileMenu()" class="mobile-options">
                        <i class="ti-more"></i>
                    </a>
                </div>
 

                <div class="navbar-container">
                    <div>
                        <ul class="nav-left">
                            <li>
                                <div class="sidebar_toggle"><a href="javascript:;" (click)="toggleOpened()"><i class="ti-menu f-18"></i></a></div>
                            </li>
                            <li>
                                <a href="javascript:;" appToggleFullscreen>
                                    <i class="ti-fullscreen"></i>
                                </a>
                            </li> 
                        </ul>
                        <ul [@mobileMenuTop]="isCollapsedMobile" class="nav-right" [ngClass]="isCollapsedMobile" style="margin-right: 20px">
                                
                            <li class="user-profile header-notification">
                                <a [routerLink]="['/']">
                                    <img src="assets/images/avatar-2.png" alt="User-Profile-Image">
                                    <span></span>
                                    <i class="ti-angle-down"></i>
                                </a>
                                <ul class="show-notification profile-notification"> 
                                    <li>
                                        <a [routerLink]="['/profile']">
                                            <i class="ti-user"></i> Profile
                                        </a>
                                    </li>
                                    <li>
                                        <a [routerLink]="['/logout']">
                                            <i class="ti-layout-sidebar-left"></i> Logout
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    <!-- rightbar inner chat end-->
    <!-- rightbar chat end-->

    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">
        <div class="page-wrapper">
          <div class="page-body">
            <section class="login offline-404 p-fixed d-flex text-center">
              <!-- starts -->
              <div class="auth-fluid" style="margin-top: 200px">
                <div class="row">
                  <div class="col-sm-12">
                    <!-- auth body start -->
                    <div class="auth-body" >
                      <form>
                        <h1>Warning!</h1>
                        <h2>You don't have access to this page!</h2> 
                        <a [routerLink]="['/']" class="btn btn-primary btn-lg m-t-30">Back to Home</a>
                      </form>
                    </div>
                    <!-- auth body end -->
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>