<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.report_eva.submission_language.submission_language' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.report_eva.organization_report.filter_data' | translate}}:</label>
                <br>
                <label class="col-form-label">{{'epdb.admin.country.geo.geo' | translate}}</label>
                <angular2-multiselect [data]="dropdownListGeo " [(ngModel)]="selectedItemsGeo" [ngModelOptions]="{standalone:true}" [settings]="dropdownSettings"
                    (onSelect)="onGeoSelect($event)" (onDeSelect)="OnGeoDeSelect($event)" (onSelectAll)="onGeoSelectAll($event)"
                    (onDeSelectAll)="onGeoDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">&nbsp;</label>
                <br>
                <label class="col-form-label">{{'epdb.admin.country.countries.country' | translate}}</label>
                <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" [settings]="dropdownSettings" [ngModelOptions]="{standalone: true}"
                    (onSelect)="onCountriesSelect($event)" (onDeSelect)="OnCountriesDeSelect($event)" (onSelectAll)="onCountriesSelectAll($event)"
                    (onDeSelectAll)="onCountriesDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">&nbsp;</label>
                <br>
                <label class="col-form-label">{{'epdb.report_eva.organization_report.survey_year' | translate}}</label>
                <select name="oStatus" class="form-control" [(ngModel)]="selectedYear">
                    <option value="">-- {{ 'general.select' | translate }} --</option>
                    <option *ngFor="let item of year" value="{{item.Key}}">{{item.KeyValue}}</option>
                </select>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.admin.partner_type.partner_type' | translate}}</label>
                <angular2-multiselect [data]="dropdownPartner" [(ngModel)]="selectedPartner" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                    (onSelect)="onPartnerSelect($event)" (onDeSelect)="OnPartnerDeSelect($event)" (onSelectAll)="onPartnerSelectAll($event)"
                    (onDeSelectAll)="onPartnerDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.admin.partner_type.certificate_type' | translate}}</label>
                <angular2-multiselect [data]="dropdownCertificate" [(ngModel)]="selectedCertificate" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onCertificateSelect($event)" (onDeSelect)="OnCertificateDeSelect($event)"
                    (onSelectAll)="onCertificateSelectAll($event)" (onDeSelectAll)="onCertificateDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group" *ngIf="showEvent">
                <label class="col-form-label">Event Type</label>
                <angular2-multiselect [data]="dropdownEventType" [(ngModel)]="selectedEventType" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onEventTypeSelect($event)" (onDeSelect)="OnEventTypeDeSelect($event)"
                    (onSelectAll)="onEventTypeSelectAll($event)" (onDeSelectAll)="onEventTypeDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-6 col-xl-6">&nbsp;</div>
            <div class="col-md-2 col-xl-2">
                <button type="button" (click)="getReport()" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                    <i *ngIf="!loading" class="icofont icofont-play-alt-1 "></i>
                    <i class="fas fa-spinner fa-pulse" *ngIf="loading"></i>
                    {{ 'general.search' | translate }}
                </button>
            </div>
            <div class="col-md-2 col-xl-2">
                <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                    <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}
                </button>
            </div>
            <div class="col-md-2 col-xl-2">
                <button type="button" (click)="apiCall.unsubscribe();loading=false" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                    <i class="icofont icofont-stop"></i>{{ 'general.btn_stop_query' | translate }}</button>
            </div>
        </div>
    </div>
    <div class="card-block" *ngIf="dataFound">
        <div class="col-md-12 col-xl-12 form-group">
            <label class="col-form-label col-md-2 col-xl-2">{{'epdb.report_eva.organization_report.total_evaliation' | translate}}: {{evalTotal}}</label>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="text-right">
                <i class="fa fa-file-excel-o"></i>
                <a [routerLink]="['/report-eva/submissions-by-language-eva']" (click)="ExportExceltoXls()"> Export to .xls</a> &nbsp; 
                <a [routerLink]="['/report-eva/submissions-by-language-eva']" (click)="ExportExceltoXlSX()"> Export to .xlsx</a> &nbsp; 
                <a [routerLink]="['/report-eva/submissions-by-language-eva']" (click)="ExportExceltoCSV()"> Export to .csv</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
            <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="reportResult | dataFilter: filterQuery"
                #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                    <tr>
                        <th width="50%">{{'epdb.admin.language.language' | translate}}</th>
                        <th width="50%"># {{'epdb.report_eva.organization_report.of_eval' | translate}}</th>
                    </tr>
                </thead>
                <tbody *ngIf="reportResult != null">
                    <tr *ngFor="let item of mf.data">
                        <td>{{item.Text}}</td>
                        <td>{{item.Evals}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr *ngIf="reportResult!=null">
                        <td colspan="2">
                            <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    <tr *ngIf="reportResult==null">
                        <td colspan="2" class="text-center">{{'general.loading_data' | translate}} ...</td>
                    </tr>
                    <tr *ngIf="reportResult==''">
                        <td colspan="2" class="text-center">{{'general.data_empty' | translate}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>