<div class="row">
    <div class="col-md-12 col-xl-12 page-header-title">
        <h4>{{ 'epdb.admin.line-item-summaries.title2' | translate }}</h4>
        <br/>
        <br/>
    </div>
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary"> 
            <div class="card-block row"> 
                <form [formGroup]="addlineitemsumm" (ngSubmit)="onSubmit()">
                    <div class="col-lg-12 col-xl-12 row"> 
                        <div class="m-4 card-block row dt-responsive"> 
                            <div class="col-md-12 col-xl-12 form-group">
                                <label class="col-form-label"><strong>{{ 'epdb.admin.line-item-summaries.label2' | translate }}</strong></label>
                                <select name="oStatus" class="form-control" id="activity_type" formControlName="activity_type">
                                    <option value="">{{ 'epdb.admin.line-item-summaries.pholder2' | translate }}</option>
                                    <option *ngFor="let item of activitytype" value={{item.activity_type}}>{{item.activity_type}}</option>
                                </select>
                            </div>
                            <div class="col-md-6 col-xl-6 form-group">
                                <label class="col-form-label"><strong>{{ 'epdb.admin.line-item-summaries.label3' | translate }}</strong></label>
                                <input type="text" class="form-control" id="summary" formControlName="summary" placeholder="{{ 'epdb.admin.line-item-summaries.pholder3' | translate }}">
                            </div>
                            <div class="col-md-6 col-xl-6 form-group">
                                <label class="col-form-label"><strong>{{ 'epdb.admin.line-item-summaries.label4' | translate }}</strong></label>
                                <input type="text" class="form-control" id="quantity" formControlName="quantity" placeholder="{{ 'epdb.admin.line-item-summaries.pholder4' | translate }}">
                            </div>
                            <div class="col-md-6 col-xl-6 form-group">
                                <label class="col-form-label"><strong>{{ 'epdb.admin.line-item-summaries.label5' | translate }}</strong></label>
                                <textarea class="form-control" rows="5" placeholder="{{ 'epdb.admin.line-item-summaries.pholder5' | translate }}" id="description" formControlName="description"></textarea>
                            </div>
                            <div class="col-md-3 col-xl-3 form-group">
                                <label class="col-form-label"><strong>{{ 'epdb.admin.line-item-summaries.label6' | translate }}</strong></label>
                                <input type="text" class="form-control" id="unit_price" formControlName="unit_price" placeholder="{{ 'epdb.admin.line-item-summaries.pholder6' | translate }}">
                                
                                <label class="col-form-label"><strong>{{ 'epdb.admin.line-item-summaries.label7' | translate }}</strong></label>
                                <input type="text" class="form-control" id="vat_rate" formControlName="vat_rate" placeholder="{{ 'epdb.admin.line-item-summaries.pholder7' | translate }}">
                            </div>
                            <div class="col-md-3 col-xl-3 form-group">
                                <label class="col-form-label"><strong>{{ 'epdb.admin.line-item-summaries.label8' | translate }}</strong></label>
                                <input type="text" class="form-control" id="email" readonly="true"  >
                                <label class="col-form-label"><strong>{{ 'epdb.admin.line-item-summaries.label9' | translate }}</strong></label>
                                <input type="text" class="form-control" id="email" readonly="true"  >
                            </div>

                            <div class="mt-2 ml-2 col-md-12 col-xl-12 form-group row"> 
                                <div class="col-md-6 col-xl-6 form-group"> 
                                </div>
                                <div class="col-md-2 col-xl-2 form-group"> 
                                    <button type="submit" [disabled]="!addlineitemsumm.valid" class="btn btn-success btn-md btn-block text-center"><i class="icofont icofont-save"></i> {{ 'general.btn_save' | translate }}</button>
                                </div>
                                <div class="col-md-2 col-xl-2 form-group"> 
                                    <button type="button" [routerLink]="['/epdb/line-item-summaries/line-item-summaries-add']" class="btn btn-default btn-md btn-block text-center "><i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}</button>
                                </div>
                                <div class="col-md-2 col-xl-2 form-group"> 
                                    <button type="button" [routerLink]="['/epdb/line-item-summaries/line-item-summaries-list']" class="btn btn-danger btn-md btn-block text-center "><i class="icofont icofont-ui-close"></i> {{ 'general.btn_cancel' | translate }}</button>
                                </div>
                            </div>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

 