<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.admin.activities.edit_activities' | translate }}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="updateactivities" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.admin.activities.activity_id' | translate }}</label>
                    <input type="text" class="form-control" readonly="true" id="activity_id" formControlName="activity_id">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'general.date_added' | translate }}</label>
                    <input type="text" class="form-control" readonly="true" id="cdate" formControlName="cdate">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'general.last_admin' | translate }}</label>
                    <input type="text" class="form-control" readonly="true" id="cuid" formControlName="cuid">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.admin.activities.activity_name' | translate }}</label>
                    <input type="text" class="form-control" id="activity_name" formControlName="activity_name" placeholder="{{ 'epdb.admin.activities.activity_name' | translate }}">
                    <span class="messages text-danger" *ngIf="!updateactivities.get('activity_name').valid && updateactivities.get('activity_name').touched">* Please enter activity name</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.admin.activities.activity_type' | translate }}</label>
                    <select name="select" class="form-control" id="activity_category" formControlName="activity_category" (change)="findCategory($event.target.value)">
                        <option value="">-- {{ 'general.select' | translate }} --</option>
                        <option *ngFor="let item of activitytype" value={{item.ActivityType}}>{{item.ActivityType}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!updateactivities.get('activity_category').valid && updateactivities.get('activity_category').touched">* Please select activity category</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'general.status' | translate }}</label>
                    <select name="select" class="form-control" id="status" formControlName="status">
                        <option value="">-- {{ 'general.select' | translate }} --</option>
                        <option value="A">Active</option>
                        <option value="X">Deleted</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!updateactivities.get('status').valid && updateactivities.get('status').touched">* Please select status</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'general.description' | translate }}</label>
                    <textarea class="form-control" rows="5" id="description" formControlName="description" placeholder="{{ 'general.description' | translate }}"></textarea>
                    <span class="messages text-danger" *ngIf="!updateactivities.get('description').valid && updateactivities.get('description').touched">* Please enter description</span>
                </div>
                <div class="col-md-6 col-xl-6 form-group">
                    <label class="col-form-label">{{ 'epdb.admin.activities.must_be_unique' | translate }}</label>
                    <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" id="unique" formControlName="unique">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span class="text-inverse">{{ 'epdb.admin.activities.there_can_only' | translate }}</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-2 col-xl-2">&nbsp;</div>
                <div class="col-md-5 col-xl-5">&nbsp;</div>
                <div class="col-md-3 col-xl-3 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i> {{ 'general.btn_save_change' | translate }}
                    </button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}
                    </button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" [routerLink]="['/admin/activities/activities-list']" class="btn btn-danger btn-md btn-block text-center">
                        <i class="icofont icofont-ui-close"></i> {{ 'general.btn_cancel' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>