<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.manage.contact.partner_type_spec.edit_qualification' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="contactqualificationform" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.manage.contact.partner_type_spec.autodesk_product' | translate}}</label>
                    <select class="form-control" id="AutodeskProduct" formControlName="AutodeskProduct" (click)="findVersion($event.target.value)">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <optgroup *ngFor="let item of dropdownListProduct" [label]="item[0][0] != null ? item[0][0].familyId : ''">
                            <option *ngFor="let item2 of item[0]" value={{item2.productId}}>{{item2.productName}}</option>
                        </optgroup>
                    </select>
                    <span class="messages text-danger" *ngIf="!contactqualificationform.get('AutodeskProduct').valid && contactqualificationform.get('AutodeskProduct').touched">* Please Enter Target Educators in FY</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eva.manage_course.question.atc.select2a_version' | translate}}</label>
                    <select name="QVersion" class="form-control" formControlName="Version">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of versions" value="{{item.ProductVersionsId}}">{{item.Version}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!contactqualificationform.get('Version').valid && contactqualificationform.get('Version').touched">* Please Select Primary Product Version</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'general.type' | translate}}</label>
                    <select class="form-control" id="QualificationType" formControlName="QualificationType">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of typequalifications" value={{item.Key}}>{{item.KeyValue}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!contactqualificationform.get('QualificationType').valid && contactqualificationform.get('QualificationType').touched">* Please Enter Target Educators in FY</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'general.date' | translate}}</label>
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="modelPopup1" ngbDatepicker #d1="ngbDatepicker"
                                    readonly="true" id="QualificationDate" formControlName="QualificationDate">
                                <div class="input-group-addon bg-default" (click)="d1.toggle()">
                                    <span class="icofont icofont-ui-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="messages text-danger" *ngIf="!contactqualificationform.get('QualificationDate').valid && contactqualificationform.get('QualificationDate').touched">* Please Enter Qualification Date</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                  <label class="col-form-label">{{'epdb.manage.contact.detail.comment' | translate}}</label>
                  <textarea rows="5" class="form-control" id="Comments" placeholder="Comment" formControlName="Comments"></textarea>
                  <!-- <span class="messages text-danger" *ngIf="!contactqualificationform.get('Comments').valid && contactqualificationform.get('Comments').touched">* Please Enter Target Educators in FY</span>                                         -->
                </div>
                <div class="col-md-8 col-xl-8 form-group">&nbsp;</div>
                <div class="col-md-5 col-xl-5 form-group">&nbsp;</div>

                <div class="col-md-3 col-xl-3 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center ">
                        <i class="icofont icofont-save"></i> {{'general.btn_save_change' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button [routerLink]="['/manage/contact/detail-contact',ContactId,SiteId]" type="button" class="btn btn-danger btn-md btn-block text-center">
                        <i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>
