<ngx-loading [show]="loading" [config]="{
  backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
  primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
  <div class="card-header">
      <div class="page-header-title">
          <h4 *ngIf="isSuperAdmin">Agreements</h4>
          <h4 *ngIf="!isSuperAdmin">Org name: {{orgName}}</h4>
      </div>
  </div>
  <div class="card-block">
    <div class="row mt-2">
      <div *ngIf="isSuperAdmin" class="col-sm-4 mt-2">
        <label>Organization ID</label>
        <input class="form-control" placeholder="Organization ID" [(ngModel)]="filter.OrgId"/>
      </div>
      <div *ngIf="isSuperAdmin" class="col-sm-4 mt-2">
        <label>Organization Name</label>
        <input class="form-control" placeholder="Organization Name" [(ngModel)]="filter.OrgName"/>
      </div>
      <div class="col-sm-4 mt-2">
        <label>Program Type</label>
        <select class="form-control" [(ngModel)]="filter.PartnerType">
          <option value="">All</option>
          <option *ngFor="let pa of partners" [value]="pa.RoleId">{{pa.RoleName}}</option>
        </select>
      </div>
      <div *ngIf="isSuperAdmin" class="col-sm-4 mt-2">
        <label>Status</label>
        <angular2-multiselect [data]="statuses" [(ngModel)]="filter.PartnerTypeStatus" [settings]="dropdownSettings">
        </angular2-multiselect>
      </div>
      <div *ngIf="isSuperAdmin" class="col-sm-4 mt-2">
        <label>Geo</label>
        <angular2-multiselect [data]="geos" [(ngModel)]="filter.Geo" [settings]="dropdownSettings" (ngModelChange)="searchCountry()">
        </angular2-multiselect>
      </div>
      <div *ngIf="isSuperAdmin" class="col-sm-4 mt-2">
        <label>Territory</label>
        <angular2-multiselect [data]="territories" [(ngModel)]="filter.Territory" [settings]="dropdownSettings" (ngModelChange)="searchCountry()">
        </angular2-multiselect>
      </div>
      <div *ngIf="isSuperAdmin" class="col-sm-4 mt-2">
        <label>Country</label>
        <angular2-multiselect [data]="countries" [(ngModel)]="filter.RegisteredCountryCode" [settings]="dropdownSettings">
        </angular2-multiselect>
      </div>
      <div class="col-sm-4 mt-2">
        <label>Program Year</label>
        <select class="form-control" [(ngModel)]="filter.FY">
          <option value="">All</option>
          <option *ngFor="let fy of fys" [value]="fy.keyValue">{{fy.fyName}}</option>
        </select>
      </div>
    </div>
    <div class="row mt-2 justify-content-end">
      <div class="col-sm-3">
        <button class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" (click)="search()">
          <i class="icofont icofont-play-alt-1"></i> {{ 'general.search' | translate }}
        </button>
      </div>
    </div>
    <div class="row mt-2">
      <div *ngIf="data.length" class="col-xs-12 col-sm-12">
        <div class="text-right">
            <i class="fa fa-file-excel-o"></i><a [routerLink]="['/agreement']" (click)="ExportExcel()"> Export to .xls</a>    
        </div>
      </div>
      <div class="col-sm-12" style="overflow-x:auto;">
        <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
          <thead>
            <tr>
              <td>Program Year</td>
              <td>Territory</td>
              <td>OrgID</td>
              <td>Org Name</td>
              <td>Program Type</td>
              <td>Status</td>
              <td>Action by</td>
              <td>Action</td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let d of mf.data">
              <td>{{d.fyindicatorKey}}</td>
              <td>{{d.territoryName}}</td>
              <td>{{d.orgId}}</td>
              <td>{{d.orgName}}</td>
              <td>
                <span *ngIf="d.partnerType && d.partnerType.indexOf('ATC')>-1">Authorized Training Center (ATC)</span>
                <span *ngIf="d.partnerType && d.partnerType.indexOf('AAP')>-1">Authorized Academic Partner (AAP)</span>
              </td>
              <td>{{d.status}}</td>
              <td>{{d.approveBy}}</td>
              <td>
                <a routerLink="/agreement/approve/{{d.agreementMasterId}}/{{d.partnerType}}">View</a>
                <a *ngIf="isSuperAdmin" class="ml-2" (click)="export(d.partnerType,d)" style="cursor:pointer;color:#007bff">Download</a>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr *ngIf="data.length!=0">
              <td colspan="8">
                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div style="position: absolute;top:0;left:0;height:100vh;overflow: hidden;z-index:-1">
      <app-aap-agreement-template [data]="temp"></app-aap-agreement-template>
      <app-atc-agreement-template [data]="temp"></app-atc-agreement-template>
    </div>
  </div>
</div>