<div class="row">
  <div class="col-md-12 col-xl-12 page-header-title">
      <h4>Administration : Update Line Item Summaries</h4>
        <br/>
        <br/>
  </div>
  <div class="col-md-12 col-xl-12">
    <div class="card card-border-primary"> 
        <div class="card-block row">
            <form [formGroup]="updatelineitemsumm" (ngSubmit)="onSubmit()">  
                <div class="col-lg-12 col-xl-12 row"> 
                    <div class="m-4 card-block row dt-responsive"> 
                        <div class="col-md-6 col-xl-6 form-group">
                            <label class="col-form-label"><strong>Line Item Summary</strong></label>
                            <input type="text" class="form-control" id="summary" formControlName="summary">
                        </div>
                        <div class="col-md-6 col-xl-6 form-group">
                            <label class="col-form-label"><strong>Quantity</strong></label>
                            <input type="text" class="form-control" id="quantity" formControlName="quantity">
                        </div>
                        <div class="col-md-6 col-xl-6 form-group">
                            <label class="col-form-label"><strong>Line Item Description</strong></label>
                            <textarea class="form-control" rows="5" placeholder="Line Item Description" id="description" formControlName="description"></textarea>
                        </div>
                        <div class="col-md-3 col-xl-3 form-group">
                            <label class="col-form-label"><strong>Unit Price</strong></label>
                            <input type="text" class="form-control" id="unit_price" formControlName="unit_price">
                            <label class="col-form-label"><strong>VAT Rate</strong></label>
                            <input type="email" class="form-control" id="vat_rate" formControlName="vat_rate">
                        </div>
                        <div class="col-md-3 col-xl-3 form-group">
                            <label class="col-form-label"><strong>Total Amount</strong></label>
                            <input type="email" class="form-control" readonly="true"  >
                            <label class="col-form-label"><strong>VAT  Amount</strong></label>
                            <input type="email" class="form-control" readonly="true"  >
                        </div>

                        <div class="mt-2 ml-2 col-md-12 col-xl-12 form-group row"> 
                            <div class="col-md-5 col-xl-5 form-group"> 
                            </div>
                            <div class="col-md-3 col-xl-3 form-group"> 
                                <button type="submit" class="btn btn-success btn-md btn-block text-center"><i class="icofont icofont-save"></i> Save Changes</button>
                            </div>
                            <div class="col-md-2 col-xl-2 form-group"> 
                                <button type="button" [routerLink]="['/epdb/line-item-summaries/line-item-summaries-update']" class="btn btn-default btn-md btn-block text-center "><i class="icofont icofont-spinner-alt-3"></i> Reset</button>
                            </div>
                            <div class="col-md-2 col-xl-2 form-group"> 
                                <button type="button" [routerLink]="['/epdb/line-item-summaries/line-item-summaries-list']" class="btn btn-danger btn-md btn-block text-center "><i class="icofont icofont-ui-close"></i> Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

 