<input 
  style="display:none" 
  type="file" 
  accept="image/tiff,.tif,image/x-png,image/x-png,image/jpeg,application/pdf"
  multiple 
  (change)="fileChange($event)" 
  #input/>
<div 
  (click)="input.click()" 
  (drop)="onDrop($event)"
  (dragover)="onDragOver($event)"
  style="border: dashed 2px #aaa;border-radius: 5px;text-align: center;padding: 10px;cursor: pointer; background: #f3f3f3; margin-bottom:5px;">
  <b>Click Or Drop File Here To Upload</b>
</div>
<ng-container *ngFor="let file of files; let i = index">
  <div style="display: flex;justify-content: space-between;margin-bottom: 5px;">
    <span style="padding-top: 10px;">{{file.name}}</span> 
    <button class="btn btn-danger btn-sm waves-effect rounded-circle" (click)="removeImage(i)" type="button"><i class="icofont icofont-ui-close" style="margin:0;"></i></button>
  </div>
</ng-container>