<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.site_services.site_services_list' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-12 col-xl-12 form-group text-right">
                <label class="col-form-label"></label>
                <button type="button" [routerLink]="['/admin/site-services/site-services-add']" class="btn btn-primary btn-md text-center "><i class="icofont icofont-ui-add"></i>{{'epdb.admin.site_services.btn_add_site_services' | translate}}</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                    <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                      <option [ngValue]="10">10</option>
                      <option [ngValue]="25">25</option>
                      <option [ngValue]="50">50</option>
                      <option [ngValue]="100">100</option>
                    </select>
                    {{'general.entries' | translate}}
                  </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                    <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilterSiteService : filterQuery" #mf="mfDataTable"
                [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                    <tr>
                        <th width="10%">
                            <mfDefaultSorter by="site_service_code">{{'epdb.admin.site_services.code' | translate}}</mfDefaultSorter>
                        </th>
                        <th width="80%">
                            <mfDefaultSorter by="site_service_name">{{'general.name' | translate}}</mfDefaultSorter>
                        </th>
                        <th width="20%">
                            <mfDefaultSorter by="id">{{'general.action' | translate}}</mfDefaultSorter>
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="data!=null">
                    <tr *ngFor="let item of mf.data">
                        <td>{{item.site_service_code}}</td>
                        <td>{{item.site_service_name}}</td>
                        <td class="action-icon text-center">
                            <!-- <a [routerLink]="['/admin/site-services/site-services-detail',item.site_service_id]"  class="m-r-15 text-muted f-18" ngbTooltip="{{'general.tool_tip_view' | translate}}"><i class="icofont icofont-eye-alt"></i></a> -->
                            <a [routerLink]="['/admin/site-services/site-services-update',item.site_service_id]" class="m-r-15 text-muted f-18" ngbTooltip="{{'general.tool_tip_edit' | translate}}"><i class="icofont icofont-ui-edit"></i></a>
                            <a (click)="openConfirmsSwal(item.site_service_id)" class="text-muted f-18" ngbTooltip="{{'general.tool_tip_delete' | translate}}"><i class="icofont icofont-delete-alt"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr *ngIf="data!=null">
                        <td colspan="7">
                            <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    <tr *ngIf="data==null">
                        <td colspan="7" class="text-center">{{'general.cant-find-data' | translate}}</td>
                    </tr>
                    <tr *ngIf="data==''">
                        <td colspan="7" class="text-center">{{'general.data-empty' | translate}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!-- modal view detail -->
<app-modal-basic #viewdetailmodal [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">{{'epdb.admin.site_services.detail_site_service' | translate}}</h4>
        <button type="button" class="close basic-close" (click)="viewdetailmodal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <div class="col-md-12 col-xl-12 form-group row" *ngIf="datadetail!=null">
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'epdb.admin.site_services.site_service_id' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.site_service_id}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'general.date_added' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.cdate.toString().substr(0,10)}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'general.admin_added' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.cuid}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'epdb.admin.site_services.site_service_code' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.site_service_code}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'epdb.admin.site_services.site_service_name' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.site_service_name}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'general.description' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.description}}</label>
            </div>
        </div>
    </div>
</app-modal-basic>
<!-- end modal view detail -->