<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'eim.profile.my_profile.my_profile' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="myprofile" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-12 col-xl-6"></div>
                <div class="col-md-12 col-xl-3 form-group text-right">
                    <button type="button" class="btn btn-primary btn-block text-center" [routerLink]="['/student/change-password']">
                        <i class="icofont icofont-ui-password"></i> {{ 'eim.profile.my_profile.btn_change_password' | translate }}</button>
                </div>
                <div class="col-md-12 col-xl-3 form-group text-right">
                    <button (click)="generatePassword()" type="button"
                        class="btn btn-primary btn-block text-center">
                        <i class="icofont icofont-key"></i> {{'eim.profile.my_profile.reset_password' | translate}}</button>
                </div>

                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{'general.email_address' | translate}}</label>
                    <input type="text" class="form-control" readonly="true" id="EmailAddress" formControlName="EmailAddress" >
                </div>
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.email_address_2' | translate}}</label>
                    <input type="text" class="form-control" id="EmailAddress2" formControlName="EmailAddress2" readonly>
                </div>
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.date_birth' | translate}}</label>
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp2" [(ngModel)]="modelPopup2" ngbDatepicker #d2="ngbDatepicker" readonly="true" id="DateBirth" formControlName="DateBirth"
                            [minDate]="minDate" [maxDate]="maxDate">
                            <div class="input-group-addon bg-default" (click)="d2.toggle()" >
                                <span class="icofont icofont-ui-calendar"></span>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.honorific' | translate}}</label>
                    <select name="Salutation" id="Salutation" class="form-control" formControlName="Salutation" [(ngModel)]="selecthonorific">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of honorific" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                </div>
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.first_name' | translate}}</label>
                    <input type="text" class="form-control" id="FirstName" formControlName="FirstName" readonly >
                </div>
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.last_name' | translate}}</label>
                    <input type="text" class="form-control" id="LastName" formControlName="LastName" readonly >
                </div>
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.primary_industry' | translate}}</label>
                    <select name="PrimaryIndustryId" id="PrimaryIndustryId" class="form-control" formControlName="PrimaryIndustryId">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of primaryindustry" value="{{item.IndustryCode}}">{{item.Industry}}</option>
                    </select>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.countries.country' | translate}}</label>
                    <select name="CountryCode" id="CountryCode" class="form-control" formControlName="CountryCode" (change)="getStateProvince($event.target.value)"
                        (change)="getStudentCountryId($event.target.value)">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of country" value="{{item.countries_code}}">{{item.countries_name}}</option>
                    </select>
                </div>
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.language.language' | translate}}</label>
                    <select name="PrimaryLanguage" id="PrimaryLanguage" class="form-control" formControlName="PrimaryLanguage">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of primarylanguage" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                </div>
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{'login_register.expected_graduation_date' | translate}}</label>
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="dp1" [(ngModel)]="modelPopup1" ngbDatepicker #d1="ngbDatepicker" readonly="true" id="EGD" formControlName="EGD"
                            [minDate]="minDate2">
                            <div class="input-group-addon bg-default" (click)="d1.toggle()" >
                                <span class="icofont icofont-ui-calendar"></span>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">&nbsp;</label>
                    <select name="StatusLevel" id="StatusLevel" class="form-control" formControlName="StatusLevel">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of statusLevel" value="{{item}}">{{item}}</option>
                    </select>
                </div>

                <!-- <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.secondary_language' | translate}}</label>
                    <select name="SecondaryLanguage" id="SecondaryLanguage" class="form-control" formControlName="SecondaryLanguage">
                        <option value="">{{'general.select' | translate}}</option>
                        <option *ngFor="let item of secondarylanguage" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                </div> 
                <div class="col-md-12 col-xl-2 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.gender' | translate}}</label>
                    <select name="Gender" id="Gender" class="form-control" formControlName="Gender">
                        <option value="">{{'general.select' | translate}}</option>
                        <option *ngFor="let item of gender" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.state' | translate}}</label>
                    <select name="StateProvince" id="StateProvince" class="form-control" formControlName="StateProvince">
                        <option value="">{{'general.select' | translate}}</option>
                        <option *ngFor="let item of stateprovince" value="{{item.StateCode}}">{{item.StateName}}</option>
                    </select>
                </div> 
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.city' | translate}}</label>
                    <input type="text" class="form-control" id="City" formControlName="City">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.address' | translate}} 1</label>
                    <input type="text" class="form-control" id="Address1" formControlName="Address1">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.address' | translate}} 2</label>
                    <input type="text" class="form-control" id="Address2" formControlName="Address2">
                </div> 
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.postal_code' | translate}}</label>
                    <input type="number" class="form-control" id="PostalCode" formControlName="PostalCode">
                </div>
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.company' | translate}}</label>
                    <input type="text" class="form-control" id="Company" formControlName="Company">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.phone_number' | translate}}</label>
                    <div class="form-inline">
                        <select name="select" class="form-control col-md-3" id="TelephoneCode" formControlName="TelephoneCode">
                            <option *ngFor="let item of country" value="{{item.countries_tel}}">+{{item.countries_tel}}</option>
                        </select>
                        <input type="number" class="form-control col-md-7 ml-3" id="Telephone1" formControlName="Telephone1">
                    </div>
                </div>
                <div class="col-sm-4 col-sm-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.mobile_number' | translate}}</label>
                    <div class="form-inline">
                        <select name="select" class="form-control col-md-3" id="MobileCode" formControlName="MobileCode">
                            <option *ngFor="let item of country" value="{{item.countries_tel}}">+{{item.countries_tel}}</option>
                        </select>
                        <input type="number" class="form-control col-md-7 ml-3" id="Mobile1" formControlName="Mobile1">
                    </div>
                </div> -->
                <div class="col-md-9 col-xl-9 form-group text-right">
                </div>
                <div class="col-md-3 col-xl-3 form-group text-right" style="margin-top: 20px">
                    <button type="submit" class="btn btn-success btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-save"></i> {{ 'general.btn_save_change' | translate }}</button>
                    <!-- <span class="messages text-success" *ngIf="success">* {{'eim.profile.my_profile.profile_update' | translate}}</span> -->
                </div>
            </div>
        </form>
    </div>
</div>