<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'eva.manage-evaluation.list-template.view-detail.data-detail-template' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="col-md-12 col-xl-12 form-group row" *ngIf="datadetail==''">
            <div class="col-md-12 col-xl-12 text-center">
                <label class="col-form-label">{{'general.data-empty' | translate}}</label>
            </div>
        </div>
        <div class="col-md-12 col-xl-12 form-group row" *ngIf="datadetail==null">
            <div class="col-md-12 col-xl-12 text-center">
                <label class="col-form-label">{{'general.loading-data' | translate}}</label>
            </div>
        </div>
        <div class="col-md-12 col-xl-12 form-group row" *ngIf="datadetail!=null">
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'eva.manage-evaluation.list-template.view-detail.evaluation-code' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.EvaluationQuestionCode}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'eva.manage-evaluation.list-template.view-detail.evaluation-title' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.CourseId}}</label>
            </div>
            <div class="col-md-12 col-xl-12 text-left">&nbsp;</div>
            <div class="col-md-10 col-xl-10 text-left"></div>
            <div class="col-md-2 col-xl-2 text-center">
                <button type="button" [routerLink]="['/evaluation/survey-template-list']" class="btn btn-default btn-md text-center "><i class="icofont icofont-square-left"></i> Back</button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'eva.manage-evaluation.take-survey.evaluation-survey' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div id='surveyElement'></div>
    </div>
</div>
