<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.sub_partner_type.list_sub_partner_type' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-4 col-xl-4 form-group text-left">
                <label>{{'epdb.admin.partner_type.partner_type' | translate}}</label>
                <select name="oStatus" class="form-control" (change)="getAllSubPartner($event.target.value)" [(ngModel)]="category">
                    <option>-- {{ 'general.select' | translate }} --</option>
                    <option *ngIf="partnertype==null">{{'general.loading_data' | translate}}</option>
                    <option *ngIf="partnertype==''">{{'general.data-empty' | translate}}</option>
                    <option *ngFor="let item of partnertype" value={{item.RoleCode}}>{{item.RoleName}}</option>
                </select>
            </div>
            <div class="col-md-5 col-xl-5">&nbsp;</div>
            <div class="col-md-3 col-xl-3 form-group mt-4 text-right">
                <label class="col-form-label"></label>
                <button *ngIf="accesAddBtn" [routerLink]="['/admin/partner-type/add-sub-partner-type']" type="button" class="btn btn-primary btn-md text-center">
                    <i class="icofont icofont-ui-add"></i> {{'epdb.admin.sub_partner_type.btn_add_sub_partner_type' | translate}}</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6" *ngIf="dataFound">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                        <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                            <option [ngValue]="10">10</option>
                            <option [ngValue]="25">25</option>
                            <option [ngValue]="50">50</option>
                            <option [ngValue]="100">100</option>
                        </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6" *ngIf="dataFound">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;">
                <table class="table table-striped table-bordered table-responsive full-data-table text-center pull-center" [mfData]="data | dataFilterSubPartnerType : filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder" *ngIf="dataFound">
                    <thead>
                        <tr>
                            <th width="90%">
                                <mfDefaultSorter by="ParamValue">{{'epdb.admin.sub_partner_type.sub_partner_type' | translate}}</mfDefaultSorter>
                            </th>
                            <th width="10%" *ngIf="accesUpdateBtn || accesDeleteBtn">{{'general.action' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="data!=null">
                        <tr *ngFor="let item of mf.data">
                            <td>{{item.ParamValue}}</td>
                            <td class="action-icon" *ngIf="accesUpdateBtn || accesDeleteBtn">
                                <a *ngIf="accesUpdateBtn" [routerLink]="['/admin/partner-type/update-sub-partner-type',item.RoleParamId]" class="m-r-15 text-muted f-18"
                                    ngbTooltip="{{'general.tool_tip_edit' | translate}}">
                                    <i class="icofont icofont-ui-edit"></i>
                                </a>
                                <a *ngIf="accesDeleteBtn" (click)="openConfirmsSwal(item.RoleParamId)" class="text-muted f-18" ngbTooltip="{{'general.tool_tip_delete' | translate}}">
                                    <i class="icofont icofont-delete-alt" style="cursor: pointer"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="data!=null">
                            <td colspan="5">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="data==null">
                            <td colspan="5" class="text-center">{{'general.cant_find_data' | translate}}</td>
                        </tr>
                        <tr *ngIf="data==''">
                            <td colspan="5" class="text-center">{{'general.data_empty' | translate}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- modal view detail -->
<app-modal-basic #viewdetailmodal [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">{{'epdb.admin.sub_partner_type.detail_sub_partner_type' | translate}}</h4>
        <button type="button" class="close basic-close" (click)="viewdetailmodal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <div class="col-md-12 col-xl-12 form-group row" *ngIf="datadetail!=null">
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'epdb.admin.sub_partner_type.sub_partner_type_id' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.RoleSubTypeId}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'epdb.admin.sub_partner_type.sub_partner_type' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.RoleSubType}}</label>
            </div>
        </div>
    </div>
</app-modal-basic>
<!-- end modal view detail -->