@font-face {
    font-family: SourceSansProRegular;
    src: url(../../../assets/fonts/source-sans-pro/SourceSansPro-Regular.otf);
}

@font-face {
    font-family: ArtifaktLegendBlack;
    src: url(../../../assets/fonts/artifakt/Artifakt-Legend-Black.otf)
}

@font-face {
    font-family: ArtifaktLegendBold;
    src: url(../../../assets/fonts/artifakt/Artifakt-Legend-Bold.otf)
}

@font-face {
    font-family: ArtifaktLegendBook;
    src: url(../../../assets/fonts/artifakt/Artifakt-Legend-Book.otf)
}

@font-face {
    font-family: ArtifaktLegendRegular;
    src: url(../../../assets/fonts/artifakt/Artifakt-Legend-Regular.otf)
}

/* CSS Font */
.card-margin-hilman{
    margin-left: -5px;
}

.card-block-certificate{
    text-align: justify;
    padding-top: 0px;
    padding-left: 15px;
    /* margin-left: -5px; */
}

#textheader{
    font-family:ArtifaktLegendBlack;
    font-size: 18pt!important;
}
#textheaderdescription{
    font-family: ArtifaktLegendBook;
    font-size: 9pt!important;
}
#titlecertno{
    font-family:ArtifaktLegendBold;
    font-size: 12pt!important;
}
#certno{
    font-family:ArtifaktLegendBold;
    font-size: 12pt!important;
}

#textfooter{
    font-family: ArtifaktLegendBook;
    font-size: 5.5pt!important;
}

#titlecertstudent{
    font-family:ArtifaktLegendBlack;
    font-size: 8pt!important;
    text-transform: uppercase;
}
#certstudent{
    font-family:ArtifaktLegendBlack;
    font-size: 8pt!important;
    text-transform: uppercase;
}


#titlecerteventlocation{
    font-family:ArtifaktLegendBlack;
    font-size: 8pt!important;
    text-transform: uppercase;
}
                          
#certeventlocation{
    font-family:ArtifaktLegendBlack;
    font-size: 8pt!important;
    text-transform: uppercase;
}                    

                       
#titlecertevent{
    font-family:ArtifaktLegendBlack;
    font-size: 8pt!important;
    text-transform: uppercase;
}
                         
#certevent{
    font-family:ArtifaktLegendBlack;
    font-size: 8pt!important;
    text-transform: uppercase;
}
                     
#titlecertdate{
    font-family:ArtifaktLegendBlack;
    font-size: 8pt!important;
    text-transform: uppercase;
}
                   
#certdate{
    font-family:ArtifaktLegendBlack;
    font-size: 8pt!important;
    text-transform: uppercase;
}   
                        
#titlecertpartner{
    font-family:ArtifaktLegendBlack;
    font-size: 8pt!important;
    text-transform: uppercase;
}
                      
#certpartner{
    font-family:ArtifaktLegendBlack;
    font-size: 8pt!important;
    text-transform: uppercase;
}
                   


#titlecerttitle{
    font-family:ArtifaktLegendBlack;
    font-size: 8pt!important;
    text-transform: uppercase;
}
                 
#certtitle{
    font-family:ArtifaktLegendBlack;
    font-size: 8pt!important;
    text-transform: uppercase;
}
                   
#titlecertproduct{
    font-family:ArtifaktLegendBlack;
    font-size: 8pt!important;
    text-transform: uppercase;
}
                     
#certproduct{
    font-family:ArtifaktLegendBlack;
    font-size: 8pt!important;
    text-transform: uppercase;
}
                         
#titlecertinstructor{
    font-family:ArtifaktLegendBlack;
    font-size: 8pt!important;
    text-transform: uppercase;
}
                  
#certinstructor{
    font-family:ArtifaktLegendBlack;
    font-size: 8pt!important;
    text-transform: uppercase;
}
                     
#titlecertinstitution{
    font-family:ArtifaktLegendBlack;
    font-size: 8pt!important;
    text-transform: uppercase;
}
                    
#certinstitution{
    font-family:ArtifaktLegendBlack;
    font-size: 8pt!important;
    text-transform: uppercase;
}
                     
#titlecertduration{
    font-family:ArtifaktLegendBlack;
    font-size: 8pt!important;
    text-transform: uppercase;
}
                      
#certduration{
    font-family:ArtifaktLegendBlack;
    font-size: 8pt!important;
    text-transform: uppercase;
}
                    













/* CSS Font */

#content {
    font-feature-settings: "liga" 0;
}

.selectorArtBlack {
    font-family: 'ArtifaktLegendBlack';
}

.selectorArtBold {
    font-family: 'ArtifaktLegendBold';
}

.selectorArtBook {
    font-family: 'ArtifaktLegendBook';
}

.selectorArtRegular {
    font-family: 'ArtifaktLegendRegular';
}

.switches-cerfified {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -20px;
}

.squeezebox .sb-item {
    overflow: hidden;
}

.squeezebox .sb-item .sb-item-body {
    height: 0;
    overflow: hidden;
    transition: 0.5s height;
}

.drag {
    color: black;
    /* height: 0; */
    width: auto;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: absolute;
    text-align: left;
    font-size: 12px;
}

.dragtitle{
    color: #84c043;
    font-weight: bold;
    width: auto;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: absolute;
    text-align: justify;
    font-size: 12px;
}

.dragcertno{
    color: black;
    width: auto;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: absolute;
    text-align: justify;
    font-size: 12pt;

}
.dragtextheader{
    color: #84c043;
    font-weight: bold;
    width: auto;
    margin: 0;
    padding: 0;
    z-index: 2;
    position: absolute;
    text-align: justify;
    font-size: 24px;
}

.dragdescription{
    color: black;
    width: auto;
    min-height: 40px;
    z-index: 2;
    position: absolute;
    text-align: justify;
    font-size: 14px;
}
.dragstudent {
    color: black;
    padding: 10px;
    border-radius: 20px;
    z-index: 2;
    position: absolute;
}

.yeartitle{
    color: white;
    z-index: 2;
    position: absolute;
    font-size: 36px;
    font-weight: 800;
}
.dragstudent:hover {
    /* font-weight: bold; */
    color: white;
    background: darkturquoise
   
    
}

.drag:hover {
    /* font-weight: bold; */
    color: #29e;
}

.drag-me::before {
    content: "#" attr(id);
  
}


/* Configuration Certified */

.icon-box-autodesk {
    padding: 6px 7px 6px 7px;
    margin: 3px;
    border: 1px solid rgb(180, 173, 173);
    background-color: white;
    cursor: pointer;
}

.bold {
    background-color: #1abc9c;
    color: white!important;
    font-weight: bold;
    border: 1px solid #1abc9c;
    transition: 0.5s;
}

.italic {
    background-color: #1abc9c;
    color: white!important;
    font-style: italic;
    border: 1px solid #1abc9c;
    transition: 0.5s;
}

.underline {
    background-color: #1abc9c;
    color: white!important;
    text-decoration: underline;
    border: 1px solid #1abc9c;
    transition: 0.5s;
}


/* 

#certtype {
  color: #009d9a;
  
  font-size: 20px;
  position:initial;
  font-family: sans-serif;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certtype:hover {
    font-weight: bold;
    color: #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certno {
    position:initial;
   
  color: black;
  font-size: 14px;
  font-family: sans-serif;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certno:hover {
    font-weight: bold;
    color: #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certnotext {
    position:initial;
    
  color: black;
  font-size: 10px;
  font-family: sans-serif;
 
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certnotext:hover {
    font-weight: bold;
   color: #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certlogo {

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certlogo:hover {
    font-weight: bold;
   color:  #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certregistered {
  color: black;
  font-size: 8px;
  font-family: sans-serif;
 
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certregistered:hover {
    font-weight: bold;
    color:  #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certstudenttag {
  color: black;
  font-size: 12px;
  font-family: sans-serif;
 
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certstudenttag:hover {
    font-weight: bold;
    color:  #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certstudent {
  color: black;
  font-size: 16px;
  font-family: sans-serif;
 
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certstudent:hover {
    font-weight: bold;
    color:  #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certtitletag {
  color: black;
  font-size: 12px;
  font-family: sans-serif;
 
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certtitletag:hover {
    font-weight: bold;
    color:  #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certtitle {
  color: black;
  font-size: 14px;
  font-family: sans-serif;
  
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certtitle:hover {
    font-weight: bold;
    color:  #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certproduct {
  color: black;
  font-size: 20px;
  font-family: sans-serif;
 
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certproduct:hover {
    font-weight: bold;
    color:  #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certdatetag {
  color: black;
  font-size: 12px;
  font-family: sans-serif;
  
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certdatetag:hover {
    font-weight: bold;
    color:  #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certdate {
  color: black;
  font-size: 14px;
  font-family: sans-serif;
 
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certdate:hover {
    font-weight: bold;
    color:  #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}

#certsigntag {
  color: black;
  font-size: 12px;
  font-family: sans-serif;
 
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certsigntag:hover {
    font-weight: bold;
    color:  #29e;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}
#certsignimg {
 
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#certsignimg:hover {
   
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
}  */