<div class="row">
  <div class="col-md-12 col-xl-4">
    <div class="card card-border-primary">
      <div class="card-header"><h5>{{ 'eim.dashboard.distributor' | translate }}</h5></div>
      <div class="card-block">
        <google-chart [data]="donutChartData"></google-chart>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-xl-4">
    <div class="card card-border-primary">
      <div class="card-header"><h5>{{ 'eim.dashboard.instructor' | translate }}</h5></div>
      <div class="card-block">
        <google-chart [data]="donutChartData"></google-chart>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-xl-4">
    <div class="card card-border-primary">
      <div class="card-header"><h5>{{ 'eim.dashboard.student' | translate }}</h5></div>
      <div class="card-block">
        <google-chart [data]="donutChartData"></google-chart>
      </div>
    </div>
  </div>

</div>


<div class="row">

  <div class="col-md-12 col-xl-8">
    <div class="card card-border-primary">
      <div class="card-header"><h5>{{ 'eim.dashboard.evaluation_servey' | translate }}</h5></div>
      <div class="card-block">
        <div class="col-md-12 col-xl-8">
          <div id="chart4"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-xl-4">
    <div class="card card-border-primary">
      <div class="card-header"><h5>{{ 'eim.dashboard.new_contact' | translate }}</h5></div>
      <div class="card-block">
        <table style="width: 100%">
          <tr>
            <td style="width: 80%;">US</td>
            <td style="width: 20%;">52</td>
          </tr>
          <tr>
            <td>Malaysia</td>
            <td>46</td>
          </tr>
          <tr>
            <td>Singapore</td>
            <td>41</td>
          </tr>
          <tr>
            <td>Indonesia</td>
            <td>38</td>
          </tr>
          <tr>
            <td>Australia</td>
            <td>35</td>
          </tr>
          <tr>
            <td>Brunei</td>
            <td>29</td>
          </tr>
          <tr>
            <td style="width: 80%;">US</td>
            <td style="width: 20%;">52</td>
          </tr>
          <tr>
            <td>Malaysia</td>
            <td>46</td>
          </tr>
          <tr>
            <td>Singapore</td>
            <td>41</td>
          </tr>
          <tr>
            <td>Indonesia</td>
            <td>38</td>
          </tr>
          <tr>
            <td>Australia</td>
            <td>35</td>
          </tr>
          <tr>
            <td>Brunei</td>
            <td>29</td>
          </tr> 
        </table>
      </div>
    </div>
  </div>

</div>

   

