<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card card-border-primary">
    <div class="card-header">
        <div class="col-md-12 col-xl-12 page-header-title">
            <h4>{{'epdb.manage.contact.add_edit.add_new_contact' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="myprofile" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">

                <div class="col-md-12 col-xl-12 form-group text-left">
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" value="" id="ATCRole" formControlName="ATCRole" (change)="changeItsInstructor($event.target.checked)">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span class="text-inverse">Is an instructor?</span>
                        </label>
                    </div>
                </div>

                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.first_name' | translate}}
                        <code>*</code>
                    </label>
                    <input type="text" class="form-control" id="FirstName" formControlName="FirstName" placeholder="{{'eim.profile.my_profile.first_name' | translate}}">
                    <span class="messages text-danger" *ngIf="!myprofile.get('FirstName').valid && myprofile.get('FirstName').touched">* Please enter first name</span>
                </div>
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.last_name' | translate}}
                        <code>*</code>
                    </label>
                    <input type="text" class="form-control" id="LastName" formControlName="LastName" placeholder="{{'eim.profile.my_profile.last_name' | translate}}">
                    <span class="messages text-danger" *ngIf="!myprofile.get('LastName').valid && myprofile.get('LastName').touched">* Please enter last name</span>
                </div>

                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.honorific' | translate}}</label>
                    <select name="Salutation" id="Salutation" class="form-control" formControlName="Salutation">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngIf="honorific==null">{{'general.loading_data' | translate}} ...</option>
                        <option *ngIf="honorific==''">{{'general.data_empty' | translate}}</option>
                        <option *ngFor="let item of honorific" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                </div>
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.primary_language' | translate}} <code>*</code></label>
                    <select name="PrimaryLanguage" id="PrimaryLanguage" class="form-control" formControlName="PrimaryLanguage">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngIf="primarylanguage==null">{{'general.loading_data' | translate}} ...</option>
                        <option *ngIf="primarylanguage==''">{{'general.data_empty' | translate}}</option>
                        <option *ngFor="let item of primarylanguage" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!myprofile.get('PrimaryLanguage').valid && myprofile.get('PrimaryLanguage').touched">* Please select primary language</span>
                </div>
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.secondary_language' | translate}}</label>
                    <select name="SecondaryLanguage" id="SecondaryLanguage" class="form-control" formControlName="SecondaryLanguage">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngIf="secondarylanguage==null">{{'general.loading_data' | translate}} ...</option>
                        <option *ngIf="secondarylanguage==''">{{'general.data_empty' | translate}}</option>
                        <option *ngFor="let item of secondarylanguage" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                </div>
                <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.gender' | translate}}</label>
                    <select name="Gender" id="Gender" class="form-control" formControlName="Gender">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngIf="gender==null">{{'general.loading_data' | translate}} ...</option>
                        <option *ngIf="gender==''">{{'general.data_empty' | translate}}</option>
                        <option *ngFor="let item of gender" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                </div>

                <!-- <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.country' | translate}}</label>
                    <select name="CountryCode" id="CountryCode" class="form-control" formControlName="CountryCode" (change)="getStateProvince($event.target.value)">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of country" value="{{item.countries_code}}">{{item.countries_name}}</option>
                    </select>
                </div> -->
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.countries.country' | translate}}</label>
                    <select name="CountryCode" id="CountryCode" class="form-control" formControlName="CountryCode">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngIf="country==null">{{'general.loading_data' | translate}} ...</option>
                        <option *ngIf="country==''">{{'general.data_empty' | translate}}</option>
                        <option *ngFor="let item of country" value="{{item.countries_code}}">{{item.countries_name}}</option>
                    </select>
                </div>
                <!-- <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.state' | translate}}</label>
                    <select name="StateProvince" id="StateProvince" class="form-control" formControlName="StateProvince">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of stateprovince" value="{{item.StateCode}}">{{item.StateName}}</option>
                    </select>
                </div> -->
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.city' | translate}}</label>
                    <input type="text" class="form-control" id="City" formControlName="City" placeholder="{{'eim.profile.my_profile.city' | translate}}">
                </div>
                <!-- <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.address' | translate}} 1</label>
                    <input type="text" class="form-control" id="Address1" formControlName="Address1" placeholder="{{'eim.profile.my_profile.address' | translate}} 1">
                </div> -->
                <!-- <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.address' | translate}} 2</label>
                    <input type="text" class="form-control" id="Address2" formControlName="Address2" placeholder="{{'eim.profile.my_profile.address' | translate}} 2">
                </div> -->
                <!-- <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.address' | translate}} 3</label>
                    <input type="text" class="form-control" id="Address3" formControlName="Address3" placeholder="{{'eim.profile.my_profile.address' | translate}} 3">
                </div> -->
                <!-- <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.postal_code' | translate}}</label>
                    <input type="text" class="form-control" id="PostalCode" formControlName="PostalCode" placeholder="{{'eim.profile.my_profile.postal_code' | translate}}">
                </div> -->
                <!-- <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.website' | translate}}</label>
                    <input type="text" class="form-control" id="WebsiteUrl" formControlName="WebsiteUrl" placeholder="{{'eim.profile.my_profile.website' | translate}}">
                </div> -->
                <!-- <div class="col-md-12 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.primary_industry' | translate}}</label>
                    <select name="PrimaryIndustryId" id="PrimaryIndustryId" class="form-control" formControlName="PrimaryIndustryId">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of primaryindustry" value="{{item.IndustryCode}}">{{item.Industry}}</option>
                    </select>
                </div> -->
                <!-- <div class="col-md-12 col-xl-12 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.bio' | translate}}</label>
                    <textarea class="form-control" rows="6" id="Bio" formControlName="Bio" placeholder="{{'eim.profile.my_profile.bio' | translate}}"></textarea>
                </div> -->
                <!-- <div class="col-md-6 col-xl-6 form-group">
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" value="" id="ShowInSearch" formControlName="ShowInSearch">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span class="text-inverse">{{'eim.profile.my_profile.allow_other_to_see' | translate}}</span>
                        </label>
                    </div>
                </div> -->
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.manage.organization.detail.email_1' | translate}}
                        <code>*</code>
                    </label>
                    <input type="email" class="form-control" id="EmailAddress" formControlName="EmailAddress" (change)="checkEmailDuplicate($event.target.value)"
                        placeholder="{{'epdb.manage.organization.detail.email_1' | translate}}">
                    <span class="messages text-danger" *ngIf="!myprofile.get('EmailAddress').valid && myprofile.get('EmailAddress').touched">* Please enter email</span>
                    <span class="messages text-danger" *ngIf="!validemail">* Email address already registered</span>
                    <br>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" value="" id="DoNotEmail" formControlName="DoNotEmail">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span class="text-inverse">{{'eim.profile.my_profile.do_not_send_email' | translate}}</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.manage.organization.detail.email_2' | translate}}</label>
                    <input type="email" class="form-control" id="EmailAddress" formControlName="EmailAddress2" placeholder="{{'epdb.manage.organization.detail.email_2' | translate}}">
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.phone_number' | translate}}</label>
                    <!-- <div class="form-inline">
                        <select name="select" class="form-control col-md-3" id="TelephoneCode" formControlName="TelephoneCode">
                            <option *ngFor="let item of country_tel" value="{{item.countries_tel}}">+{{item.countries_tel}}</option>
                        </select>
                        <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43"
                            class="form-control col-md-7 ml-3" id="Telephone1" formControlName="Telephone1" placeholder="{{'eim.profile.my_profile.phone_number' | translate}}">
                    </div> -->
                    <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43" class="form-control"
                        id="Telephone1" formControlName="Telephone1" placeholder="{{'eim.profile.my_profile.phone_number' | translate}}">
                </div>
                <div class="col-sm-4 col-sm-4 form-group">
                    <label class="col-form-label">{{'eim.profile.my_profile.mobile_number' | translate}}</label>
                    <!-- <div class="form-inline">
                        <select name="select" class="form-control col-md-3" id="MobileCode" formControlName="MobileCode">
                            <option *ngFor="let item of country_tel" value="{{item.countries_tel}}">+{{item.countries_tel}}</option>
                        </select>
                        <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43"
                            class="form-control col-md-7 ml-3" id="Mobile1" formControlName="Mobile1" placeholder="{{'eim.profile.my_profile.mobile_number' | translate}}">
                    </div> -->
                    <input type="text" onkeypress="return event.charCode >= 48 && event.charCode <= 57 || event.charCode == 43" class="form-control"
                        id="Mobile1" formControlName="Mobile1" placeholder="{{'eim.profile.my_profile.mobile_number' | translate}}">
                </div>
                <div class="col-md-6 col-xl-6 form-group">
                    <!-- <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" value="" id="DoNotEmail" formControlName="DoNotEmail">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span class="text-inverse">{{'eim.profile.my_profile.do_not_send_email' | translate}}</span>
                        </label>
                    </div> -->
                    <!-- <br/>
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" value="" id="ShareEmail" formControlName="ShareEmail">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span class="text-inverse">{{'eim.profile.my_profile.share_my_email' | translate}}</span>
                        </label>
                    </div> -->
                </div>
                <!-- <div class="col-md-3 col-xl-3 form-group">
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" value="" id="ShareTelephone" formControlName="ShareTelephone">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span class="text-inverse">{{'eim.profile.my_profile.share_my_phone' | translate}}</span>
                        </label>
                    </div>
                </div> -->
                <!-- <div class="col-md-3 col-xl-3 form-group">
                    <div class="checkbox-fade fade-in-primary">
                        <label>
                            <input type="checkbox" value="" id="ShareMobile" formControlName="ShareMobile">
                            <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                            </span>
                            <span class="text-inverse">{{'eim.profile.my_profile.share_my_mobile_number' | translate}}</span>
                        </label>
                    </div>
                </div> -->

                <!-- <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">Date Birth</label>
                    <div class="form-inline">
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control" placeholder="Your Date Birth" name="dp1" [(ngModel)]="modelPopup1" ngbDatepicker #d1="ngbDatepicker"
                                    readonly="true" id="DateBirth" formControlName="DateBirth" readonly="true">
                                <div class="input-group-addon bg-default" (click)="d1.toggle()">
                                    <span class="icofont icofont-ui-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col-md-12 col-xl-12 form-group"></div>

                <br/>
                <br/>
                <br/>

                <div class="col-lg-4 col-xl-4 form-group">
                    <h5>{{'eim.profile.my_profile.permission_role' | translate}}</h5>
                    <hr/>
                    <label class="col-form-label">Job Title</label>
                    <input type="text" class="form-control" id="Designation" formControlName="Designation" placeholder="Job Title">


                </div>

                <!-- <div class="col-lg-12 col-xl-8 form-group" *ngIf="siteid==undefine"> -->
                <div class="col-lg-12 col-xl-8 form-group">
                    <h5>Affiliated Organizations and Sites</h5>
                    <hr />
                    <label class="col-form-label">{{'epdb.manage.organization.detail.organization' | translate}}
                        <code>*</code>
                    </label>
                    <!-- <angular2-multiselect [data]="dropdownListOrganization" [(ngModel)]="selectedItemsOrganization" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onItemSelect($event)">
                    </angular2-multiselect> -->
                    <ng2-completer [textSearching]="'Please wait...'" [(ngModel)]="Organization" [datasource]="dataService" [minSearchLength]="2"
                                   [inputClass]="['form-control']" (selected)="PickedOrganization($event)" [matchClass]="completer-description"
                                   [ngModelOptions]="{standalone: true}">
                    </ng2-completer>
                    <span class="messages text-danger" *ngIf="!affiliatesite">* Please select affiliated organization and sites</span>
                </div>
                <div class="col-md-12 col-xl-12 row">
                  <!-- <div class="col-lg-12 col-xl-8 form-group" *ngIf="siteid!=undefine">&nbsp;</div> -->
                  <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">
                      {{'epdb.manage.contact.detail.primary_job_role' | translate}}
                      <code>*</code>
                    </label>
                    <select class="form-control" id="PrimaryRoleId" formControlName="PrimaryRoleId">
                      <option value="">-- {{'general.select' | translate}} --</option>
                      <option *ngIf="jobrole==null">{{'general.loading_data' | translate}} ...</option>
                      <option *ngIf="jobrole==''">{{'general.data_empty' | translate}}</option>
                      <option *ngFor="let item of jobrole" value="{{item.RoleId}}">{{item.RoleName}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!myprofile.get('PrimaryRoleId').valid && myprofile.get('PrimaryRoleId').touched">* Please select primary job role</span>
                    <!-- <angular2-multiselect [data]="dropdownListRole" [(ngModel)]="selectedItemsRole" [ngModelOptions]="{standalone: true}"
              [settings]="dropdownSettings" (onSelect)="onItemSelectRole($event)" (onDeSelect)="OnItemDeSelectRole($event)">
          </angular2-multiselect> -->
                  </div>
            </div>
            <div class="col-md-12 col-xl-12 row">
                  <div class="col-md-4 col-xl-4 form-group">
                      <label class="col-form-label">Access Role
                          <code>*</code>
                      </label>
                      <angular2-multiselect #rolesDropdown [data]="dropdownListRoleAcces" [(ngModel)]="selectedItemsRoleAcces" [ngModelOptions]="{standalone: true}"
                                            [settings]="dropdownSettingsRoleAcces" (onSelect)="onItemSelectRoleAcces($event)" (onDeSelect)="OnItemDeSelectRoleAcces($event)"
                                            (onSelectAll)="onSelectAllRoleAcces($event)" (onDeSelectAll)="onDeSelectAllRoleAcces($event)">
                      </angular2-multiselect>
                      <span class="messages text-danger" *ngIf="!roleaccess">* Please select role access</span>
                  </div>
            </div>
              <div class="col-md-12 col-xl-12 row" *ngIf="OrganizationPicked">
                <!-- <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
          <div>
              <label class="label-control">{{'general.show' | translate}}
                  <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage" [ngModelOptions]="{standalone: true}">
                      <option [ngValue]="10">10</option>
                      <option [ngValue]="25">25</option>
                      <option [ngValue]="50">50</option>
                      <option [ngValue]="100">100</option>
                  </select>
                  {{'general.entries' | translate}}
              </label>
          </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6">
          <div class="text-right">
              <label>{{'general.search' | translate}}:
                  <input type="search" [(ngModel)]="filterQuery" [ngModelOptions]="{standalone: true}" class="form-control input-sm full-data-search">
              </label>
          </div>
      </div> -->
                <!-- <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="datasite | dataFilterAffiliation : filterQuery"
      #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder"> -->
                  <table class="table table-striped table-bordered table-responsive full-data-table">
                    <thead>
                      <tr>
                        <th width="30%">
                          <div class="checkbox-fade fade-in-primary">
                            <label class="col-form-label">
                              <input type="checkbox" (change)="checkAll($event)" checked>
                              <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                              </span>
                            </label>
                          </div>
                        </th>
                        <th width="30%">
                          <!-- <mfDefaultSorter by="siteId"> -->
                          {{ 'epdb.manage.site.detail.site_id' | translate }}
                          <!-- </mfDefaultSorter> -->
                        </th>
                        <th width="30%">
                          <!-- <mfDefaultSorter by="orgId"> -->
                          {{ 'epdb.manage.organization.detail.organization_id' | translate }}
                          <!-- </mfDefaultSorter> -->
                        </th>
                        <th width="30%">
                          <!-- <mfDefaultSorter by="status"> -->
                          {{ 'epdb.manage.site.detail.site_status' | translate }}
                          <!-- </mfDefaultSorter> -->
                        </th>
                        <th width="30%">
                          <!-- <mfDefaultSorter by="siteName"> -->
                          {{ 'epdb.manage.site.detail.site_name' | translate }}
                          <!-- </mfDefaultSorter> -->
                        </th>
                        <th width="30%">{{ 'epdb.manage.site.detail.primary_site' | translate }}</th>
                      </tr>
                    </thead>
                    <!-- <tbody *ngIf="data!=null && data!=''"> -->
                    <tbody *ngIf="datasite!=null && datasite!=''">
                      <!-- <tr *ngFor="let item of mf.data"> -->
                      <tr *ngFor="let item of datasite">
                        <td>
                          <div class="checkbox-fade fade-in-primary">
                            <label class="col-form-label">
                              <input type="checkbox" name="chksite" (change)="selectSite($event,item.SiteId)" checked>
                              <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                              </span>
                            </label>
                          </div>
                        </td>
                        <td>{{item.SiteId}}</td>
                        <td>{{item.OrgId}}</td>
                        <!-- <td>{{item.Status}}</td> -->
                        <!-- <td [innerHTML]="item.Status | replace"></td> -->
                        <td [innerHTML]="item.PartnerStatusDetail"></td> <!-- detail partner status -->
                        <td>
                          <a [routerLink]="['/manage/site/detail-site',item.SiteIdInt]" [innerHTML]="item.SiteName"></a>
                          <br />GEO : {{item.geo_name}} {{'epdb.admin.country.countries.country' | translate}} : {{item.SiteCountryCode}}
                        </td>
                        <td>
                          <div class="form-radio">
                            <div class="radio radiofill radio-inline">
                              <label>
                                <input type="radio" name="radio" (change)="onCheckboxChangeFn(item.SiteId)">
                                <i class="helper"></i>
                              </label>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                    <tfoot>
                      <!-- <tr *ngIf="data!=null"> -->
                      <tr *ngIf="datasite!=null">
                        <td colspan="7">
                          <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                        </td>
                      </tr>
                      <!-- <tr *ngIf="data==null"> -->
                      <tr *ngIf="datasite==null">
                        <td colspan="7" class="text-center">{{'general.loading_data' | translate}}</td>
                      </tr>
                      <!-- <tr *ngIf="data==''"> -->
                      <tr *ngIf="datasite==''">
                        <td colspan="7" class="text-center">{{'general.data_empty' | translate}}</td>
                      </tr>
                    </tfoot>
                  </table>
              </div>

              <div class="col-md-12 col-xl-10 form-group">&nbsp;</div>
              <div class="col-md-12 col-xl-2 form-group">
                <span class="messages text-danger" *ngIf="!primarysiteidselect">* Please select primary site</span>
              </div>

              <div class="col-md-12 col-xl-12 form-group">&nbsp;</div>

              <div class="col-md-12 col-xl-8 form-group"></div>
              <div class="col-md-12 col-xl-2 form-group">
                <button type="submit" class="btn btn-success btn-md btn-block text-center">
                  <i class="icofont icofont-save"></i> {{ 'general.btn_save' | translate }}
                </button>
              </div>
              <div class="col-md-12 col-xl-2 form-group">
                <button type="button" [routerLink]="['/manage/contact/search-contact']" class="btn btn-danger btn-md btn-block text-center">
                  <i class="icofont icofont-ui-close"></i>{{ 'general.btn_cancel' | translate }}
                </button>
              </div>
            </div>

</form>
    </div>
</div>
