<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>Edit {{title}}</h4> 
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="academicprogramform" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-sm-4 form-group">
                    <label class="col-form-label">{{'epdb.manage.site.academic_program.program_type' | translate}} <code>*</code></label>
                    <select class="form-control" id="ProgramType" formControlName="ProgramType">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of programtype" value={{item.Key}}>{{item.KeyValue}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!academicprogramform.get('ProgramType').valid && academicprogramform.get('ProgramType').touched">* Please Enter Program Types</span>
                </div>
                <div class="col-sm-4 form-group" *ngIf="AcademicType == 'AcademicTargets'">
                    <label class="col-form-label">{{'epdb.manage.site.academic_target.fy_indicator' | translate}}</label>
                    <select class="form-control" id="FYIndicator" formControlName="FYIndicator">
                        <option value = "">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of datayearcurrency" value={{item.Key}}>{{item.KeyValue}}</option>
                    </select>
                    <!-- <span class="messages text-danger" *ngIf="!academicprogramform.get('FYIndicator').valid && academicprogramform.get('FYIndicator').touched">* Please Enter FY Indicator</span>                     -->
                </div>
                <div class="col-sm-4 form-group">
                    <label class="col-form-label">{{'epdb.manage.site.academic_program.target_educator_fy' | translate}} <code>*</code></label>
                    <input type="number" class="form-control" id="TargetEducator"  placeholder="0" formControlName="TargetEducator">
                    <span class="messages text-danger" *ngIf="!academicprogramform.get('TargetEducator').valid && academicprogramform.get('TargetEducator').touched">* Please Enter Target Educators in FY</span>
                </div>
                <div class="col-sm-4 form-group">
                    <label class="col-form-label">{{'epdb.manage.site.academic_program.target_student_fy' | translate}} <code>*</code></label>
                    <input type="number" class="form-control" id="TargetStudent"  placeholder="0" formControlName="TargetStudent">
                    <span class="messages text-danger" *ngIf="!academicprogramform.get('TargetStudent').valid && academicprogramform.get('TargetStudent').touched">* Please Enter Target Students in FY</span>
                </div>
                <div class="col-sm-4 form-group">
                    <label class="col-form-label">{{'epdb.manage.site.academic_program.target_number_institution' | translate}} <code>*</code></label>
                    <input type="number" class="form-control" id="TargetInstitution"  placeholder="0" formControlName="TargetInstitution">
                    <span class="messages text-danger" *ngIf="!academicprogramform.get('TargetInstitution').valid && academicprogramform.get('TargetInstitution').touched">* Please Enter Target Numner of Institutions</span>
                </div>
                <div class="col-sm-4 form-group">
                    <label class="col-form-label">{{'general.note' | translate}}</label>
                    <textarea style="height:120px" class="form-control" id="Comment"  placeholder="Notes" formControlName="Comment"></textarea>
                </div>
                
                <div class="col-md-8 col-xl-8 form-group"></div>

                <div class="col-md-2 col-xl-2 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center"><i class="icofont icofont-save"></i> {{'general.btn_save' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button [routerLink]="['/manage/site/detail-site',SiteIdInt]" type="button" class="btn btn-danger btn-md btn-block text-center"><i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>  