<div class="row">
    <div class="col-md-12 col-xl-12 page-header-title">
        <h4>{{'epdb.admin.territory.header-2' | translate}}</h4>
        <br/>
        <br/>
    </div>
    <div class="col-md-12 col-xl-12">
        <div class="card card-border-primary"> 
            <div class="card-block row" >  
                <form [formGroup]="addterritory" (ngSubmit)="onSubmit()">
                    <div class="col-lg-12 col-xl-12"> 
                        <div class="mt-3 col-md-12 col-xl-12 row">
                        	<div class="col-md-12 col-xl-12 form-group">
                                <label class="col-form-label"><strong>{{'epdb.admin.territory.label-territory-name' | translate}}</strong> </label>
                                <input type="text" class="form-control" id="territoryname" formControlName="territoryname" placeholder="{{'epdb.admin.territory.label-territory-name' | translate}}">
                            </div>  
                            <div class="col-md-6 col-xl-6 form-group">
                            	<label class="col-form-label" ><strong><u>{{'epdb.admin.territory.label-choose-all' | translate}} </u></strong></label>
                            </div>  
                            <div class="col-md-6 col-xl-6 form-group">
                            </div>  
                            <div class="col-md-3 col-xl-3 form-group">
                                <label class="col-form-label"><strong>{{'epdb.admin.territory.label-geo' | translate}}</strong></label>
                                <select name="oStatus" size="9" multiple="true" class="form-control">
                                    <option value="All" selected="">All</option>
                                    <option value="A">AMER</option> 
                                    <option value="E">EMEA</option>
                                    <option value="G">GCR</option>
                                    <option value="P">APAC (excl. GCR)</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-xl-3 form-group">
                                <label class="col-form-label"><strong>{{'epdb.admin.territory.label-region' | translate}}</strong></label>
                                <select name="oStatus" size="9" multiple="true" class="form-control">
                                    <option value="AZ">ANZ</option>
                                    <option value="AS">ASEAN</option>
                                    <option value="SA">India and SAARC</option>
                                    <option value="JP">Japan</option>
                                    <option value="KO">Korea</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-xl-3 form-group">
                                <label class="col-form-label"><strong>{{'epdb.admin.territory.label-subregion' | translate}}</strong></label>
                                <select name="oStatus" size="9" multiple="true" class="form-control">
                                    <option value="AS">ASEAN</option>
                                </select>
                            </div>
                            <div class="col-md-3 col-xl-3 form-group">
                                <label class="col-form-label"><strong>{{'epdb.admin.territory.label-country' | translate}}</strong></label>
                                <select name="oStatus" size="9" multiple="true" class="form-control">
                                    <option value="Afganistan">Afganistan</option>
                                    <option value="Albania">Albania</option>
                                    <option value="Algeria">Algeria</option>
                                    <option value="Andora">Andora</option>
                                    <option value="Angola">Angola</option>
                                </select>
                            </div> 
                        </div>

                        <div class="mt-2 col-md-12 col-xl-12 row" >  
                            <div class="col-md-6 col-xl-6 page-header-title">
                            </div>
                            <div class="col-md-2 col-xl-2 page-header-title">
                                <button type="submit" [disabled]="!addterritory.valid" (click)="openSuccessSwal()" [routerLink]="['/epdb/territory/territory-list']" class="btn btn-success btn-md btn-block text-center"><i class="icofont icofont-save"></i>{{'general.btn_save' | translate}} </button>
                            </div> 
                            <div class="col-md-2 col-xl-2 page-header-title">
                                <button type="button" [routerLink]="['/epdb/territory/territory-add']" class="btn btn-default btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}</button>
                            </div>
                            <div class="col-md-2 col-xl-2 page-header-title">
                                <button type="button" [routerLink]="['/epdb/territory/territory-list']" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>