<div class="card">
  <div class="card-header">
    <div class="page-header-title">
      <h4>Review Organization Information</h4>
    </div>
  </div>
  <div class="card-block">
    <div *ngIf="step==1" class="row">
      <div class="col-sm-12">
        <p class="ml-4 text-danger">Attention: Please carefully review your Organization Name and Registered Address. If the information is not correct, please contact with your regional distributor to update your organization’s profile accordingly before you execute the agreement.</p>
        <form #executeForm="ngForm">
          <div class="mt-5">
            <table>
              <tr>
                <td><b>Organization Name</b></td>
                <td class="pl-5">{{data.orgName}}</td>
              </tr>
              <tr>
                <td><b>English Organization Name</b></td>
                <td class="pl-5">{{data.englishOrgName}}</td>
              </tr>
              <tr>
                <td><b>Registered Address</b></td>
                <td class="pl-5">{{data.registeredAddress}}</td>
              </tr>
              <tr>
                <td><b>Legal Contact Info</b></td>
                <td class="pl-5"></td>
              </tr>
              <tr>
                <td>Job Title</td>
                <td class="pl-5">
                  <input name="title" class="form-control" [(ngModel)]="form.JobTitle" required/>
                </td>
              </tr>
              <tr>
                <td>First Name</td>
                <td class="pl-5">
                  <input name="firstname" class="form-control" [(ngModel)]="form.FirstName" required/>
                </td>
              </tr>
              <tr>
                <td>Last Name</td>
                <td class="pl-5">
                  <input name="last name" class="form-control" [(ngModel)]="form.LastName" required/>
                </td>
              </tr>
            </table>
          </div>
          <div class="mt-5"> 
            <input class="form-check-input ml-1" name="agree" type="checkbox" [checked]="form.CheckTC" (change)="form.CheckTC = !form.CheckTC" required>
            <label class="form-check-label">I am accepting this Agreement on behalf of the entity (stated in above as Organization name) for which I am authorized to act and acknowledge that such entity is legally bound by this Agreement</label>
            <br/>
            <input class="form-check-input ml-1" name="agree2" type="checkbox" [checked]="agree2" (change)="agree2 = !agree2" required>
            <label class="form-check-label">I have reviewed <b>Program guide</b></label>
          </div>
          <div class="mt-2">
            <button class="btn btn-success" type="submit" (click)="confirm()">Continue to sign</button>
            <button class="btn btn-danger ml-2" routerLink="/agreement">Cancel</button>
          </div>
        </form>
      </div>
    </div>
    <div *ngIf="step==2" class="row">
      <div class="col-sm-12">
        <app-aap-agreement-template *ngIf="partnerType=='AAP'" [data]="detail"></app-aap-agreement-template>
        <app-atc-agreement-template *ngIf="partnerType=='ATC'" [data]="detail"></app-atc-agreement-template>
        <div class="mt-5 text-center"> 
          <input class="form-check-input" type="checkbox" [checked]="agree3" (change)="agree3 = !agree3">
          <label class="form-check-label">I acknowledge that the information above is correct</label>
        </div>
        <div class="text-center mt-2">
          <button class="btn btn-success" (click)="execute()">Sign Agreement</button>
          <button class="btn btn-danger ml-2" (click)="step=1">Back</button>
        </div>
      </div>
    </div>
  </div>
</div>