<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.partner_type.edit_partner_type' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="editpartner" (ngSubmit)="onSubmitUpdate()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.partner_type.code' | translate}}</label>
                    <input disabled type="text" class="form-control" id="RoleCode" formControlName="RoleCode" placeholder="{{'epdb.admin.partner_type.code' | translate}}">
                    <span class="messages text-danger" *ngIf="!editpartner.get('RoleCode').valid && editpartner.get('RoleCode').touched">* Please Enter Partner Code</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'general.name' | translate}}</label>
                    <input type="text" class="form-control" id="RoleName" formControlName="RoleName" placeholder="{{'general.name' | translate}}">
                    <span class="messages text-danger" *ngIf="!editpartner.get('RoleName').valid && editpartner.get('RoleName').touched">* Please Enter Partner Name</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.sub_partner_type.sub_partner_type' | translate}}</label>
                    <angular2-multiselect [data]="dropdownSubPartner" [(ngModel)]="selectedSubPartner" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onSubPartnerSelect($event)" (onDeSelect)="OnSubPartnerDeSelect($event)"
                        (onSelectAll)="onSubPartnerSelectAll($event)" (onDeSelectAll)="onSubPartnerDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'general.description' | translate}}</label>
                    <textarea rows="3" class="form-control" id="Description" formControlName="Description" rows="5" placeholder="{{'general.description' | translate}}"></textarea>
                    <span class="messages text-danger" *ngIf="!editpartner.get('Description').valid && editpartner.get('Description').touched">* Please Enter Description</span>
                </div>
                <!-- <div class="col-md-12 col-xl-12 form-group">
                    <label class="col-form-label">{{'epdb.admin.list_partner_type.sub-partner-type' | translate}}</label>
                    <select name="RoleSubType" class="form-control" id="RoleSubType" formControlName="RoleSubType">
                        <option value="">{{'epdb.admin.partner_type.select_sub_partner_type' | translate}}</option>
                        <option *ngFor="let item of subpartnertype" value={{item.RoleSubType}}>{{item.RoleSubType}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!editpartner.get('RoleSubType').valid && editpartner.get('RoleSubType').touched">* Please Enter Sub Partner Type</span>
                </div> -->
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.partner_type.certificate_type' | translate}}</label>
                    <br/>
                    <angular2-multiselect [data]="dropdownCertificateType" [(ngModel)]="selectedCertificateType" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onCertificateTypeSelect($event)" (onDeSelect)="OnCertificateTypeDeSelect($event)"
                        (onSelectAll)="onCertificateTypeSelectAll($event)" (onDeSelectAll)="onCertificateTypeDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-12 col-xl-12 form-group row">
                    &nbsp;
                </div>

                <div class="col-md-12 col-xl-5 form-group">&nbsp;</div>
                <div class="col-md-12 col-xl-3 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i> {{'general.btn_save_change' | translate}}
                    </button>
                </div>
                <div class="col-md-12 col-xl-2 form-group">
                    <button type="button" (click)="resetFormUpdate()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i>{{'general.btn_reset' | translate}}
                    </button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" [routerLink]="['/admin/partner-type/list-partner-type']" class="btn btn-danger btn-md btn-block text-center">
                        <i class="icofont icofont-ui-close"></i>{{'general.btn_cancel' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>