<ngx-loading [show]="loading" [config]="{
  backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
  primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
  <div class="card-header">
      <div class="page-header-title">
          <h4>Add / Edit Master SKU</h4>
      </div>
  </div>
  <div class="card-block">
      <form [formGroup]="addMasterSKU" (ngSubmit)="onSubmit()">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">FY</label>
                <select name="FYIndicatorKey" class="form-control" formControlName="FYIndicatorKey">
                    <option value="" style="display:none">Select FY</option>
                    <option *ngFor="let fy of fys" [value]="fy.value">{{fy.name}}</option>
                </select>
                <span class="messages text-danger" *ngIf="!addMasterSKU.get('FYIndicatorKey').valid && addMasterSKU.get('FYIndicatorKey').touched">* Please enter FY</span>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">Partner Type</label>
                <select name="PartnerType" class="form-control" formControlName="PartnerType">
                    <option value="" style="display:none">Select Partner Type</option>
                    <option *ngFor="let type of partnerTypes" [value]="type">{{type}}</option>
                </select>
                <span class="messages text-danger" *ngIf="!addMasterSKU.get('PartnerType').valid && addMasterSKU.get('PartnerType').touched">* Please enter partner type</span>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">SKU Name</label>
                <input class="form-control" name="SKUName" formControlName="SKUName" placeholder="">
                <span class="messages text-danger" *ngIf="!addMasterSKU.get('SKUName').valid && addMasterSKU.get('SKUName').touched">* Please enter SKU name</span>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">No. Licenses</label>
                <input class="form-control" name="License" formControlName="License" placeholder="">
                <span class="messages text-danger" *ngIf="!addMasterSKU.get('License').valid && addMasterSKU.get('License').touched">* Please enter no. license</span>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">Status</label>
                <select name="Status" class="form-control" formControlName="Status">
                    <option value="" style="display:none">Select Status</option>
                    <option value="A">Active</option>
                    <option value="D">Deactive</option>
                </select>
                <span class="messages text-danger" *ngIf="!addMasterSKU.get('Status').valid && addMasterSKU.get('Status').touched">* Please select status</span>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">Is this SKU for Primary Site</label>
                <select name="IsForPrimarySite" class="form-control" formControlName="IsForPrimarySite">
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                    <option value="">Any</option>
                </select>
                <span class="messages text-danger" *ngIf="!addMasterSKU.get('Status').valid && addMasterSKU.get('Status').touched">* Please select status</span>
            </div>
            <div class="col-md-6 col-xl-6"></div>
            <div class="col-md-2 col-xl-2">
                <button type="submit" class="btn btn-success btn-md btn-block text-center" [disabled]="!addMasterSKU.valid">
                    <i class="icofont icofont-save"></i> Save
                </button>
            </div>
            <div class="col-md-2 col-xl-2">
                <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block waves-effect text-center m-b-20">
                    <i class="icofont icofont-spinner-alt-3"></i> Reset
                </button>
            </div>
            <div class="col-md-2 col-xl-2">
                <button type="button" [routerLink]="['/admin/sku/list-sku']" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                    <i class="icofont icofont-ui-close"></i> Cancel
                </button>
            </div>
        </div>
    </form>
  </div>
</div>