<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.currency.edit_currency_conversion' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="addCurrencyConversion" (ngSubmit)="onSubmitConversion()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'general.year' | translate}}</label>
                    <select name="Year" id="Year" class="form-control" formControlName="Year" (change)="changecurrency($event.target.value)">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of fyindicator" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!addCurrencyConversion.get('Year').valid && addCurrencyConversion.get('Year').touched">* Please Enter Year</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.currency.currency' | translate}}</label>
                    <select name="Currency" id="Currency" class="form-control" formControlName="Currency">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of currencyValue" value="{{item.Key}}">{{item.KeyValue}} ({{item.Key}})</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!addCurrencyConversion.get('Currency').valid && addCurrencyConversion.get('Currency').touched">* Please Enter Currency</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.currency.value_1_usd' | translate}}</label>
                    <input type="text" name="ValuePerUSD" id="ValuePerUSD" class="form-control" formControlName="ValuePerUSD" placeholder="{{'epdb.admin.currency.value_1_usd' | translate}}">
                    <span class="messages text-danger" *ngIf="!addCurrencyConversion.get('ValuePerUSD').valid && addCurrencyConversion.get('ValuePerUSD').touched">* Please Enter Value Per USD</span>
                </div>

                <div class="col-md-5 col-xl-5 form-group"></div>
                <div class="col-md-3 col-xl-3 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i>{{ 'general.btn_save_change' | translate }}
                    </button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="resetConversion()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}
                    </button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" [routerLink]="['/admin/currency']" class="btn btn-danger btn-md btn-block text-center">
                        <i class="icofont icofont-ui-close"></i>{{ 'general.btn_cancel' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>