<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.manage.aci.aci_app_search' | translate }}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="searchingValue" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.product.product' | translate}}</label>
                    <angular2-multiselect [data]="dropdownProduct" [(ngModel)]="selectedItemsProduct" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                        (onSelect)="onProductSelect($event)" (onDeSelect)="OnProductDeSelect($event)">
                    </angular2-multiselect>
                </div>

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.aci.app_status' | translate }}</label>
                    <select name="select" class="form-control" formControlName="ApplicationStatus">
					<option value="">{{'general.select' | translate}}</option>
					<option *ngFor="let item of productStatus" value="item.Key">{{item.KeyValue}}</option>
				</select>
                </div>

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.aci.applicant_territory' | translate }}</label>
                    <angular2-multiselect [data]="dropdownApplTerritory" [(ngModel)]="selectedItemsAppTerr" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onApplTerrSelect($event)" (onDeSelect)="OnApplTerrDeSelect($event)">
                    </angular2-multiselect>
                </div>

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.aci.applicant_country' | translate }}</label>
                    <angular2-multiselect [data]="dropdownCountry" [(ngModel)]="selectedItemsCountry" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                        (onSelect)="onCountrySelect($event)" (onDeSelect)="OnCountryDeSelect($event)">
                    </angular2-multiselect>
                </div>

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.aci.originally_submitted_on' | translate }}</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="modelPopup1" ngbDatepicker #d1="ngbDatepicker" id="SubmitOn"
                            formControlName="SubmittedOn" readonly="true" (ngModelChange)="onSelectSubmitOn($event)">
                        <div class="input-group-addon bg-default" (click)="d1.toggle()">
                            <span class="icofont icofont-ui-calendar"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.aci.originally_submitted_by' | translate }}</label>
                    <ng2-completer [(ngModel)]="submitBy" [datasource]="dataService1" [minSearchLength]="2" [inputClass]="['form-control']" (selected)="onSubmitBy($event)" [matchClass]="completer-description"
                        formControlName="SubmittedBy"></ng2-completer>
                </div>

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.aci.last_modification_on' | translate }}</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="modelPopup2" ngbDatepicker #d2="ngbDatepicker" id="ModifOn"
                            formControlName="ModifOn" readonly="true" (ngModelChange)="onSelectDateModifOn($event)">
                        <div class="input-group-addon bg-default" (click)="d2.toggle()">
                            <span class="icofont icofont-ui-calendar"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.aci.last_modification_by' | translate }}</label>
                    <ng2-completer [(ngModel)]="modifBy" [datasource]="dataService1" [minSearchLength]="2" [inputClass]="['form-control']" (selected)="onModifBy($event)" [matchClass]="completer-description"
                        formControlName="ModifBy"></ng2-completer>
                </div>

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.aci.approve_reject_on' | translate }}</label>
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" [(ngModel)]="modelPopup3" ngbDatepicker #d3="ngbDatepicker" id="RejectOn"
                        formControlName="ApproveOrRejectOn" readonly="true" (ngModelChange)="onSelectRejectOn($event)">
                        <div class="input-group-addon bg-default" (click)="d3.toggle()">
                            <span class="icofont icofont-ui-calendar"></span>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{ 'epdb.manage.aci.approve_reject_by' | translate }}</label>
                    <ng2-completer [(ngModel)]="rejBy" [datasource]="dataService1" [minSearchLength]="2" [inputClass]="['form-control']" (selected)="onRejectBy($event)" [matchClass]="completer-description"
                        formControlName="ApproveOrRejectBy"></ng2-completer>
                </div>

                <div class="col-md-8 col-xl-8 "></div>
                <div class="col-md-8 col-xl-8 "></div>
                <div class="col-md-2 col-xl-2 ">
                    <button type="button" (click)="findApp()" class="btn btn-primary btn-md btn-block text-center">
					<i class="icofont icofont-ui-search"></i> {{ 'general.btn_search' | translate }}</button>
                </div>
                <div class="col-md-2 col-xl-2 ">
                    <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
					<i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}</button>
                </div>

            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{ 'epdb.manage.organization.search.search_result' | translate }}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4  row p-20">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
						<select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
							<option [ngValue]="10">10</option>
							<option [ngValue]="25">25</option>
							<option [ngValue]="50">50</option>
							<option [ngValue]="100">100</option>
						</select>
						{{'general.entries' | translate}}
					</label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 text-right">
                <label>{{'general.search' | translate}}:
					<input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
				</label>
            </div>
            <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="dataACI | dataFilter : filterQuery"
                #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                    <tr class="text-capitalize">
                        <th width="30%">
                            <mfDefaultSorter by="id">{{ 'epdb.admin.product.product_name' | translate }}</mfDefaultSorter>
                        </th>
                        <th width="30%">
                            <mfDefaultSorter by="id">{{ 'epdb.manage.aci.applicant_contact_id' | translate }}</mfDefaultSorter>
                        </th>
                        <th width="30%">
                            <mfDefaultSorter by="id">{{ 'epdb.manage.aci.applicant_first_name' | translate }}</mfDefaultSorter>
                        </th>
                        <th width="30%">
                            <mfDefaultSorter by="id">{{ 'epdb.manage.aci.applicant_last_name' | translate }}</mfDefaultSorter>
                        </th>
                        <th width="30%">
                            <mfDefaultSorter by="id">{{ 'epdb.manage.aci.submitted_on' | translate }}</mfDefaultSorter>
                        </th>
                        <th width="30%">
                            <mfDefaultSorter by="id">{{ 'epdb.manage.aci.approved_refuse_on' | translate }}</mfDefaultSorter>
                        </th>
                        <th width="30%">
                            <mfDefaultSorter by="id">{{ 'general.status' | translate }}</mfDefaultSorter>
                        </th>
                        <th width="30%">
                            <mfDefaultSorter by="id">{{ 'general.action' | translate }}</mfDefaultSorter>
                        </th>
                    </tr>
                </thead>
                <tbody *ngIf="dataACI!=null && dataACI!=''">
                    <tr *ngFor="let item of mf.data">
                        <td>{{item.productName}}</td>
                        <td>{{item.ContactId}}</td>
                        <td>{{item.FirstName}}</td>
                        <td>{{item.LastName}}</td>
                        <td>{{item.SubmissionDate}}</td>
                        <td>
                            <span *ngIf="item.Status=='A'">{{item.ApprovedDate}}</span>
                            <span *ngIf="item.Status=='R'">{{item.RejectedDate}}</span>
                        </td>
                        <td>
                            <label class="label label-md label-default" *ngIf="item.Status=='A'">
                                {{ 'epdb.manage.aci.approved' | translate }}
                            </label>
                            <label class="label label-md label-default" *ngIf="item.Status=='R'">
                                {{ 'epdb.manage.aci.approved' | translate }}
                            </label>
                        </td>
                        <td class="text-center">
                            <a [routerLink]="['/epdb/aci']" class="text-muted f-18" ngbTooltip="View Detail">
                                <i class="icofont icofont-eye-alt"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr *ngIf="dataACI!=null">
                        <td colspan="8">
                            <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    <tr *ngIf="dataACI==null">
                        <td colspan="8" class="text-center">{{'general.loading_data' | translate}}</td>
                    </tr>
                    <tr *ngIf="dataACI==''">
                        <td colspan="8" class="text-right">{{'general.data_empty' | translate}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>