<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.partner_type.add_new_partner_type' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="addpartner" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.partner_type.code' | translate}} <code>*</code></label>
                    <input type="text" class="form-control" id="RoleCode" formControlName="RoleCode" 
                        placeholder="{{'epdb.admin.partner_type.code' | translate}}">
                    <span class="messages text-danger" *ngIf="!addpartner.get('RoleCode').valid && addpartner.get('RoleCode').touched">* Please enter partner code</span>
                    <span class="messages text-danger" *ngIf="!validcode">* Code already exist</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'general.name' | translate}} <code>*</code></label>
                    <input type="text" class="form-control" id="RoleName" formControlName="RoleName" placeholder="{{'general.name' | translate}}">
                    <span class="messages text-danger" *ngIf="!addpartner.get('RoleName').valid && addpartner.get('RoleName').touched">* Please enter partner name</span>
                </div>
                <!-- <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.sub_partner_type.sub_partner_type' | translate}}</label>
                    <angular2-multiselect 
                        [data]="dropdownSubPartner" 
                        [(ngModel)]="selectedSubPartner" 
                        [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" 
                        (onSelect)="onSubPartnerSelect($event)" 
                        (onDeSelect)="OnSubPartnerDeSelect($event)"
                        (onSelectAll)="onSubPartnerSelectAll($event)" 
                        (onDeSelectAll)="onSubPartnerDeSelectAll($event)">
                    </angular2-multiselect>
                </div> -->

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.partner_type.certificate_type' | translate}}</label>
                    <angular2-multiselect [data]="dropdownCertificateType" [(ngModel)]="selectedCertificateType" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onCertificateTypeSelect($event)" (onDeSelect)="OnCertificateTypeDeSelect($event)"
                        (onSelectAll)="onCertificateTypeSelectAll($event)" (onDeSelectAll)="onCertificateTypeDeSelectAll($event)">
                    </angular2-multiselect>
                </div>

                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'general.description' | translate}} <code>*</code></label>
                    <textarea rows="3" class="form-control" id="Description" formControlName="Description" rows="5" placeholder="{{'general.description' | translate}}"></textarea>
                    <span class="messages text-danger" *ngIf="!addpartner.get('Description').valid && addpartner.get('Description').touched">* Please enter description</span>
                </div>


                <div class="col-md-12 col-xl-12 form-group row">
                    &nbsp;
                </div>

                <div class="col-md-6 col-xl-6 form-group">&nbsp;</div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i> {{'general.btn_save' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="resetFormAdd()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i>{{'general.btn_reset' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" [routerLink]="['/admin/partner-type/list-partner-type']" class="btn btn-danger btn-md btn-block text-center">
                        <i class="icofont icofont-ui-close"></i>{{'general.btn_cancel' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>