<ngx-loading [show]="loading" [config]="{
    backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
    primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.country.sub_region.add_new_sub_region' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="addsubregion" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.geo.geo' | translate}} <span style="color:#DC3538">*</span></label>
                    <select name="select" class="form-control" id="geo_code" formControlName="geo_code" (change)="getRegion($event.target.value)">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngIf="datageo==null">{{'general.loading_data' | translate}} ...</option>
                        <option *ngIf="datageo==''">{{'general.data_empty' | translate}}</option>
                        <option *ngFor="let item of datageo" value={{item.geo_code}}>{{item.geo_name}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!addsubregion.get('geo_code').valid && addsubregion.get('geo_code').touched">* Please select geo</span>
                </div>
                <!-- <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.territory.territory' | translate}}</label>
                    <select name="oStatus" class="form-control" id="territory_code" formControlName="territory_code">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <option *ngFor="let item of dataterritory" value={{item.TerritoryId}}>{{item.Territory_Name}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!addsubregion.get('territory_code').valid && addsubregion.get('territory_code').touched">* Please Enter Territory</span>
                </div> -->
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.region.region' | translate}} <span style="color:#DC3538">*</span></label>
                    <select name="select" class="form-control" id="region_code" formControlName="region_code">
                        <option value="">-- {{'general.select' | translate}} --</option>
                        <!-- <option *ngIf="dataregion==null">{{'general.loading_data' | translate}} ...</option>
                        <option *ngIf="dataregion==''">{{'general.data_empty' | translate}}</option> -->
                        <option *ngFor="let item of dataregion" value={{item.region_code}}>{{item.region_name}}</option>
                    </select>
                    <span class="messages text-danger" *ngIf="!addsubregion.get('region_code').valid && addsubregion.get('region_code').touched">* Please select region</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.sub_region.sub_region_code' | translate}} <span style="color:#DC3538">*</span></label>
                    <input type="text" class="form-control" id="subregion_code" formControlName="subregion_code" placeholder="{{'epdb.admin.country.sub_region.sub_region_code' | translate}}" maxlength="50">
                    <span class="messages text-danger" *ngIf="!addsubregion.get('subregion_code').valid && addsubregion.get('subregion_code').touched">* Please enter sub region</span>
                </div>
                <div class="col-md-4 col-xl-4 form-group">
                    <label class="col-form-label">{{'epdb.admin.country.sub_region.sub_region_name' | translate}} <span style="color:#DC3538">*</span></label>
                    <input type="text" class="form-control" id="subregion_name" formControlName="subregion_name" placeholder="{{'epdb.admin.country.sub_region.sub_region_name' | translate}}" maxlength="50">
                    <span class="messages text-danger" *ngIf="!addsubregion.get('subregion_name').valid && addsubregion.get('subregion_name').touched">* Please enter sub region</span>
                </div>
                <div class="col-md-4 col-xl-4">&nbsp;</div>
                <div class="col-md-6 col-xl-6">&nbsp;</div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center">
                        <i class="icofont icofont-save"></i> {{'general.btn_save' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" (click)="resetFormAdd()" class="btn btn-default btn-md btn-block text-center">
                        <i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}</button>
                </div>
                <div class="col-md-2 col-xl-2 form-group">
                    <button type="button" [routerLink]="['/admin/country/sub-region-list']" class="btn btn-danger btn-md btn-block text-center">
                        <i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>