<ngx-loading [show]="loading" [config]="{
  backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
  primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
  <div class="card-header">
    <div class="page-header-title">
      <h4>SQL Query</h4>
    </div>
  </div>
  <div class="card-block">
    <div class="row">
      <div class="col-sm-3">
        <ul class="list-group" style="height:500px;overflow: auto;">
          <ng-container *ngFor="let data of tables">
            <li class="list-group-item" [ngClass]="data.name==selectedTable?'active':''" (click)="selectTable(data.name)" style="cursor: pointer;">{{data.name}}</li>
            <ng-container *ngIf="data.name==selectedTable">
              <li class="list-group-item pl-5 bg-info" *ngFor="let sub of data.columns">{{sub.name}} {{sub.type}}</li>
            </ng-container>
          </ng-container>
        </ul>
      </div>
      <div class="col-sm-9">
        <div class="d-flex mb-2">
          <input class="form-control" [(ngModel)]="otp"/>
          <button class="btn btn-primary ml-5" (click)="generateToken()">Generate OTP</button>
        </div>
        <div>
          <textarea class="form-control" rows="5" [(ngModel)]="sqlQuery"></textarea>
        </div>
        <div class="text-right mt-2 mb-2">
          <button class="btn btn-primary" (click)="query()">Query</button>
        </div>
        <div style="height:300px;overflow: auto;">
          <table *ngIf="data && data.length" class="table table-striped table-bordered table-responsive full-data-table" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
            <thead>
              <tr>
                <th *ngFor="let header of headers">{{header}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let d of mf.data">
                <td *ngFor="let header of headers">{{d[header]}}</td>
              </tr>
            </tbody>
            <tfoot>
              <tr *ngIf="data.length!=0">
                <td colspan="75">
                  <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>