<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.report_eva.performance_overview.performance_overview' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.report_eva.organization_report.filter_data' | translate}}:</label>
                <br>
                <label class="col-form-label">{{'epdb.admin.country.geo.geo' | translate}}</label>
                <angular2-multiselect [data]="dropdownListGeo " [(ngModel)]="selectedItemsGeo" [ngModelOptions]="{standalone:true}" [settings]="dropdownSettings"
                    (onSelect)="onGeoSelect($event)" (onDeSelect)="OnGeoDeSelect($event)" (onSelectAll)="onGeoSelectAll($event)"
                    (onDeSelectAll)="onGeoDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <!-- <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">&nbsp;</label>
                <br>
                <label class="col-form-label">{{'epdb.admin.country.region.region' | translate}}</label>
                <angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onRegionSelect($event)" (onDeSelect)="OnRegionDeSelect($event)"
                    (onSelectAll)="onRegionSelectAll($event)" (onDeSelectAll)="onRegionDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">&nbsp;</label>
                <br>
                <label class="col-form-label">{{'epdb.admin.country.sub_region.sub_region' | translate}}</label>
                <angular2-multiselect [data]="dropdownListSubRegion " [(ngModel)]="selectedItemsSubRegion" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onSubRegionSelect($event)" (onDeSelect)="OnSubRegionDeSelect($event)"
                    (onSelectAll)="onSubRegionSelectAll($event)" (onDeSelectAll)="onSubRegionDeSelectAll($event)">
                </angular2-multiselect>
            </div> -->
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">&nbsp;</label>
                <br>
                <label class="col-form-label">{{'epdb.admin.country.countries.country' | translate}}</label>
                <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" [settings]="dropdownSettings" [ngModelOptions]="{standalone: true}"
                    (onSelect)="onCountriesSelect($event)" (onDeSelect)="OnCountriesDeSelect($event)" (onSelectAll)="onCountriesSelectAll($event)"
                    (onDeSelectAll)="onCountriesDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <!-- <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">Sub Country</label>
            </div> -->
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">&nbsp;</label>
                <br>
                <label class="col-form-label">{{'epdb.report_eva.organization_report.survey_year' | translate}}</label>
                <select name="oStatus" class="form-control" [(ngModel)]="YearSelected">
                    <!-- <option value="">-- {{ 'general.select' | translate }} --</option> --> <!-- issue export excel with year filter empty - (03102018) - old system no default year / empty year (-- select --) -->
                    <option *ngFor="let item of Year" value="{{item.Key}}">{{item.KeyValue}}</option>
                </select>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.report_eva.organization_report.month' | translate}}:</label>
                <select name="oStatus" class="form-control" [(ngModel)]="DateSelected">
                    <!-- <option value="">-- {{ 'general.select' | translate }} --</option> -->
                    <!-- <option value="All">All</option> -->
                    <option *ngFor="let item of date" value="{{item.val}}">{{item.name}}</option>
                </select>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.report_eva.performance_overview.site_active' | translate}}</label>
                <select name="oStatus" class="form-control" [(ngModel)]="SiteActive">
                    <option value="">-- {{ 'general.select' | translate }} --</option>
                    <option value="A">Active Only</option>
                    <option value="I">Inactive Only</option>
                </select>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.admin.partner_type.partner_type' | translate}}</label>
                <angular2-multiselect [data]="dropdownPartner" [(ngModel)]="selectedPartner" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                    (onSelect)="onPartnerSelect($event)" (onDeSelect)="OnPartnerDeSelect($event)" (onSelectAll)="onPartnerSelectAll($event)"
                    (onDeSelectAll)="onPartnerDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'epdb.admin.partner_type.certificate_type' | translate}}</label>
                <angular2-multiselect [data]="dropdownCertificate" [(ngModel)]="selectedCertificate" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onCertificateSelect($event)" (onDeSelect)="OnCertificateDeSelect($event)"
                    (onSelectAll)="onCertificateSelectAll($event)" (onDeSelectAll)="onCertificateDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group" *ngIf="showEvent">
                <label class="col-form-label">Event Type</label>
                <angular2-multiselect [data]="dropdownEventType" [(ngModel)]="selectedEventType" [ngModelOptions]="{standalone: true}"
                    [settings]="dropdownSettings" (onSelect)="onEventTypeSelect($event)" (onDeSelect)="OnEventTypeDeSelect($event)"
                    (onSelectAll)="onEventTypeSelectAll($event)" (onDeSelectAll)="onEventTypeDeSelectAll($event)">
                </angular2-multiselect>
            </div>
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'eva.manage_course.question.atc.select2a_primary_product' | translate}}</label>
                <select name="oStatus" class="form-control" [(ngModel)]="ProductSelected">
                    <option value="">-- {{ 'general.select' | translate }} --</option>
                    <option *ngFor="let item of dataProduct" value="{{item.productId}}">{{item.productName}}</option>
                </select>
            </div>
            <!-- issue 15112018 -->
            <div class="col-md-4 col-xl-4 form-group">
                <label class="col-form-label">{{'eva.manage_course.question.atc.select2b_secondary_product' | translate}}</label>
                <select name="oStatus" class="form-control" [(ngModel)]="Product2Selected">
                    <option value="">-- {{ 'general.select' | translate }} --</option>
                    <option *ngFor="let item of dataProduct" value="{{item.productId}}">{{item.productName}}</option>
                </select>
            </div>
            <!-- end line issue 15112018 -->
            <div class="col-md-4 col-xl-4 form-group">
                <label>&nbsp;</label>
                <div class="checkbox-fade fade-in-primary">
                    <label>
                        {{'epdb.report_eva.organization_report.exclude' | translate}}
                        <input type="checkbox" value="">
                        <span class="cr">
                            <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                        </span>
                    </label>
                </div>
            </div>
            <div class="col-md-8 col-xl-8">&nbsp;</div>
            <div class="col-md-6 col-xl-6">&nbsp;</div>
            <div class="col-md-2 col-xl-2">
                <button type="button" (click)="getReport()" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">
                    <i *ngIf="!loading" class="icofont icofont-play-alt-1 "></i>
                    <i class="fas fa-spinner fa-pulse" *ngIf="loading"></i>
                    {{ 'general.search' | translate }}
                </button>
            </div>
            <div class="col-md-2 col-xl-2">
                <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block text-center">
                    <i class="icofont icofont-spinner-alt-3"></i> {{ 'general.btn_reset' | translate }}
                </button>
            </div>
            <div class="col-md-2 col-xl-2">
                <button type="button" (click)="apiCall.unsubscribe();loading=false" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20">
                    <i class="icofont icofont-stop"></i>{{ 'general.btn_stop_query' | translate }}</button>
            </div>
            <div class="col-md-12 col-xl-12 form-group" *ngIf="dataFound">
                <label class="col-form-label">{{'epdb.report_eva.organization_report.total_evaliation' | translate}}: {{totalEva}}</label>
            </div>
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6" *ngIf="dataFound">
                <label class="label-control">{{'general.show' | translate}}
                    <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                    </select>
                    {{'general.entries' | translate}}
                </label>
            </div>
            <!-- <div class="col-xs-12 col-sm-12 col-md-6" *ngIf="dataFound">
                <div style="text-align: right;">
                    <label>{{'general.search' | translate}}:
                        <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                    </label>
                </div>
            </div> -->
            <div class="col-xs-12 col-sm-12 col-md-6" *ngIf="dataFound">
                <div class="text-right">
                    <i class="fa fa-file-excel-o"></i><a href="javascript:;" (click)="ExportExceltoXls()"> Export to .xls</a> &nbsp; 
                    <i class="fa fa-file-excel-o"></i><a href="javascript:;" (click)="ExportExceltoXlSX()"> Export to .xlsx</a> &nbsp; 
                    <i class="fa fa-file-excel-o"></i><a href="javascript:;" (click)="ExportExceltoCSV()"> Export to .csv</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12" style="overflow-x:auto;" *ngIf="dataFound">
                <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="performanceReport | dataFilter: filterQuery"
                    #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                    <thead>
                        <tr>
                            <th width="10%">{{'epdb.manage.site.detail.site_id' | translate}}</th>
                            <th width="10%">{{'eva.manage_course.list_course.survey_partner_type' | translate}}</th>
                            <th width="10%">{{'epdb.manage.site.detail.site_name' | translate}}</th>
                            <th width="10%">State</th>
                            <th width="10%">{{'epdb.admin.country.countries.country' | translate}}</th>
                            <th width="10%"># {{'epdb.report_eva.organization_report.of_eval' | translate}}</th>
                            <th width="10%">F&R %</th>
                            <th width="10%">IQ %</th>
                            <th width="10%">CC&M %</th>
                            <th width="10%">OP %</th>
                            <th width="10%">OE %</th>
                            <th width="10%">COE</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="performanceReport != null">
                        <tr *ngFor="let item of mf.data">
                            <td class="text-center">
                                <a href="javascript:;" (click)="redirectsite(item.SiteId,item.FYIndicatorKey,ProductSelected)"
                                    ngbTooltip="{{item.SiteName}}">{{item.SiteId}}</a>
									
                            </td>
                            <td>{{item.PartnerType}}</td>
                            <td>{{item.SiteName}}</td>
                            <td>{{item.StateName}}</td>
                            <td>{{item.countries_name}}</td>
                            <td class="text-center">{{item.Evals}}</td>
                            <td class="text-center">{{item.FR}}%</td>
                            <td class="text-center">{{item.IQ}}%</td>
                            <td class="text-center">{{item.CCM}}%</td>
                            <td class="text-center">{{item.OP}}%</td>
                            <td class="text-center">{{item.OE | convertPercent}}%</td>
                            <td class="text-center">{{item.COE| convertPercent}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr *ngIf="performanceReport!=null">
                            <td colspan="12">
                                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                            </td>
                        </tr>
                        <tr *ngIf="performanceReport==null">
                            <td colspan="12" class="text-center">{{'general.loading_data' | translate}} ...</td>
                        </tr>
                        <tr *ngIf="performanceReport==''">
                            <!-- <td colspan="12" class="text-center">{{'general.data_empty' | translate}}</td> -->
                            <td colspan="12" class="text-center">There are no data meeting the search criteria specified above</td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>