<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.country.sub-countries.sub_countries' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-xs-9 col-md-9"></div>
            <div class="col-xs-3 col-md-3 form-group text-right">
                <button (click)="modaladdform.show()" type="button" class="btn btn-primary btn-block text-center"><i class="icofont icofont-ui-add"></i> {{'epdb.admin.country.sub-countries.btn_add_sub_country' | translate}}</button>
            </div>
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                    <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                    </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                    <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilterSubCountry : filterQuery"
                #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                    <tr>
                        <th width="20%">
                            <mfDefaultSorter by="subcountries_id">{{'epdb.admin.country.sub-countries.tbl_sub_country_id' | translate}}</mfDefaultSorter>
                        </th>
                        <th width="50%">
                            <mfDefaultSorter by="geo_code">{{'epdb.admin.country.sub-countries.tbl_geo_code' | translate}}</mfDefaultSorter>
                        </th>
                        <th width="50%">
                            <mfDefaultSorter by="territory_code">{{'epdb.admin.country.sub-countries.tbl_territory_code' | translate}}</mfDefaultSorter>
                        </th>
                        <th width="50%">
                            <mfDefaultSorter by="region_code">{{'epdb.admin.country.sub-countries.tbl_region_code' | translate}}</mfDefaultSorter>
                        </th>
                        <th width="50%">
                            <mfDefaultSorter by="subregion_code">{{'epdb.admin.country.sub-countries.tbl_sub_region_code' | translate}}</mfDefaultSorter>
                        </th>
                        <th width="50%">
                            <mfDefaultSorter by="countries_code">{{'epdb.admin.country.sub-countries.tbl_country_code' | translate}}</mfDefaultSorter>
                        </th>
                        <th width="50%">
                            <mfDefaultSorter by="subcountries_code">{{'epdb.admin.country.sub-countries.tbl_sub_country_code' | translate}}</mfDefaultSorter>
                        </th>
                        <th width="50%">
                            <mfDefaultSorter by="subcountries_name">{{'epdb.admin.country.sub-countries.tbl_sub_country_name' | translate}}</mfDefaultSorter>
                        </th>
                        <th width="20%">{{'epdb.admin.country.sub-countries.tbl_action' | translate}}</th>
                    </tr>
                </thead>
                <tbody *ngIf="data!=null">
                    <tr *ngFor="let item of mf.data">
                        <td>{{item.subcountries_id}}</td>
                        <td>{{item.geo_code}}</td>
                        <td>{{item.territory_code}}</td>
                        <td>{{item.region_code}}</td>
                        <td>{{item.subregion_code}}</td>
                        <td>{{item.countries_code}}</td>
                        <td>{{item.subcountries_code}}</td>
                        <td>{{item.subcountries_name}}</td>
                        <td class="action-icon">
                            <a (click)="viewdetail(item.subcountries_id);viewdetailmodal.show();" class="m-r-15 text-muted f-18" ngbTooltip="{{'epdb.admin.country.sub-countries.tip-view' | translate}}"><i class="icofont icofont-eye-alt"></i></a>
                            <a (click)="viewdetail(item.subcountries_id);editmodalform.show();" class="m-r-15 text-muted f-18" ngbTooltip="{{'epdb.admin.country.sub-countries.tip-edit' | translate}}"><i class="icofont icofont-ui-edit"></i></a>
                            <a (click)="openConfirmsSwal(item.subcountries_id)" class="text-muted f-18" ngbTooltip="{{'epdb.admin.country.sub-countries.tip-delete' | translate}}"><i class="icofont icofont-delete-alt"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr *ngIf="data!=null">
                        <td colspan="9">
                            <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    <tr *ngIf="data==null">
                        <td colspan="9" class="text-right">{{'general.cant-find-data' | translate}}</td>
                    </tr>
                    <tr *ngIf="data==''">
                        <td colspan="9" class="text-right">{{'general.data-empty' | translate}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

<!-- modal view detail -->
<app-modal-basic #viewdetailmodal [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">Detail Sub Countries</h4>
        <button type="button" class="close basic-close" (click)="viewdetailmodal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <div class="col-md-12 col-xl-12 form-group row" *ngIf="datadetail!=null">
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label"> Sub Countries ID</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.subcountries_id}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">Geo Code</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.geo_code}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">Territory Code</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.territory_code}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">Region Code</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.region_code}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">Sub Region Code</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.subregion_code}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">Countries Code</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.countries_code}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">Sub Countries Code</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.subcountries_code}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">Sub Countries Name</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.subcountries_name}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'epdb.admin.country.sub-countries.created_by' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.cuid}}</label>
            </div>
            <div class="col-md-4 col-xl-4 text-left">
                <label class="col-form-label">{{'epdb.admin.country.sub-countries.created_date' | translate}}</label>
            </div>
            <div class="col-md-8 col-xl-8 text-left">
                <label class="col-form-label">{{datadetail.cdate}}</label>
            </div>
        </div>
    </div>
</app-modal-basic>
<!-- end modal view detail -->

<!-- modal form validation Add Geo -->
<app-modal-basic #modaladdform [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">{{'epdb.admin.country.sub-countries.add_new_sub_country' | translate}}</h4>
        <button type="button" class="close basic-close" (click)="modaladdform.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <form [formGroup]="addsubcountries" (ngSubmit)="onSubmit()">
            <div class="col-lg-12 col-xl-12 row">
                <div class="m-4 card-block row dt-responsive">
                    <div class="col-md-6 col-xl-6 form-group">
                        <label class="col-form-label">{{'epdb.admin.country.sub-countries.label-geo' | translate}}</label>
                        <select name="oStatus" class="form-control" id="geo_code" formControlName="geo_code">
                            <option value="">{{'epdb.admin.country.sub-countries.select_geo' | translate}}</option>
                            <option *ngFor="let item of datageo" value={{item.geo_code}}>{{item.geo_name}}</option> 
                        </select>
                        <span class="messages text-danger" *ngIf="!addsubcountries.get('geo_code').valid && addsubcountries.get('geo_code').touched">* Please Enter Geo</span>
                    </div>
                    <div class="col-md-6 col-xl-6 form-group">
                        <label class="col-form-label">{{'epdb.admin.country.sub-countries.label-territory' | translate}}</label>
                        <select name="oStatus" class="form-control" id="territory_code" formControlName="territory_code">
                            <option value="">{{'epdb.admin.country.sub-countries.select_territory' | translate}}</option>
                            <option *ngFor="let item of dataterritory" value={{item.territory_code}}>{{item.territory_name}}</option> 
                        </select>
                        <span class="messages text-danger" *ngIf="!addsubcountries.get('territory_code').valid && addsubcountries.get('territory_code').touched">* Please Enter Territory</span>
                    </div>
                    <div class="col-md-6 col-xl-6 form-group">
                        <label class="col-form-label">{{'epdb.admin.country.sub-countries.label-region' | translate}}</label>
                        <select name="oStatus" class="form-control" id="region_code" formControlName="region_code">
                            <option value="">{{'epdb.admin.country.sub-countries.select_region' | translate}}</option>
                            <option *ngFor="let item of dataregion" value={{item.region_code}}>{{item.region_name}}</option> 
                        </select>
                        <span class="messages text-danger" *ngIf="!addsubcountries.get('region_code').valid && addsubcountries.get('region_code').touched">* Please Enter Region</span>
                    </div>
                    <div class="col-md-6 col-xl-6 form-group">
                        <label class="col-form-label">{{'epdb.admin.country.sub-countries.label-subregion' | translate}}</label>
                        <select name="oStatus" class="form-control" id="subregion_code" formControlName="subregion_code">
                            <option value="">{{'epdb.admin.country.sub-countries.select_subregion' | translate}}</option>
                            <option *ngFor="let item of datasubregion" value={{item.subregion_code}}>{{item.subregion_name}}</option> 
                        </select>
                        <span class="messages text-danger" *ngIf="!addsubcountries.get('subregion_code').valid && addsubcountries.get('subregion_code').touched">* Please Enter Sub Region</span>
                    </div>

                    <div class="col-md-6 col-xl-6 form-group">
                        <label class="col-form-label">{{'epdb.admin.country.sub-countries.label-country' | translate}}</label>
                        <select name="oStatus" class="form-control" id="countries_code" formControlName="countries_code">
                            <option value="">{{'epdb.admin.country.sub-countries.select_country' | translate}}</option>
                            <option *ngFor="let item of datacountries" value={{item.countries_code}}>{{item.countries_name}}</option> 
                        </select>
                        <span class="messages text-danger" *ngIf="!addsubcountries.get('countries_code').valid && addsubcountries.get('countries_code').touched">* Please Enter Country</span>
                    </div>

                    <div class="col-md-6 col-xl-6 form-group">
                        &nbsp;
                    </div>


                    <div class="col-md-6 col-xl-6 form-group">
                        <label class="col-form-label">{{'epdb.admin.country.sub-countries.label-subcountry-code' | translate}}</label>
                        <input type="text" class="form-control" id="subcountries_code" formControlName="subcountries_code" placeholder="{{'epdb.admin.country.sub-countries.label-subcountry-code' | translate}}">
                        <span class="messages text-danger" *ngIf="!addsubcountries.get('subcountries_code').valid && addsubcountries.get('subcountries_code').touched">* Please Enter Sub Country Code</span>
                    </div>

                    <div class="col-md-6 col-xl-6 form-group">
                        <label class="col-form-label">{{'epdb.admin.country.sub-countries.label-subcountry-name' | translate}}</label>
                        <input type="text" class="form-control" id="subcountries_name" formControlName="subcountries_name" placeholder="{{'epdb.admin.country.sub-countries.label-subcountry-name' | translate}}">
                        <span class="messages text-danger" *ngIf="!addsubcountries.get('subcountries_name').valid && addsubcountries.get('subcountries_name').touched">* Please Enter Sub Country Name</span>
                    </div>

                    <div class="col-md-12 col-xl-12 form-group row">
                        &nbsp;
                        <br/>
                    </div>

                    <div class="ml-2 col-md-12 col-xl-12 form-group row">
                        <div class="col-md-3 col-xl-3 form-group">
                        </div>
                        <div class="col-md-3 col-xl-3 form-group">
                            <button type="submit" *ngIf="addsubcountries.valid" (click)="modaladdform.hide()" class="btn btn-success btn-md btn-block text-center"><i class="icofont icofont-save"></i> {{'general.btn_save' | translate}}</button>
                            <button type="submit" *ngIf="!addsubcountries.valid" class="btn btn-success btn-md btn-block text-center"><i class="icofont icofont-save"></i> {{'general.btn_save' | translate}}</button>
                        </div>
                        <div class="col-md-3 col-xl-3 form-group">
                            <button type="button" (click)="resetFormAdd()" class="btn btn-default btn-md btn-block text-center"><i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}</button>
                        </div>
                        <div class="col-md-3 col-xl-3 form-group">
                            <button type="button" (click)="modaladdform.hide()" class="btn btn-danger btn-md btn-block text-center"><i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</app-modal-basic>
<!-- end modal validation form Add Geo -->

<!-- modal form validation Update Geo -->
<app-modal-basic #editmodalform [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">{{'epdb.admin.country.sub-countries.update_sub_countries' | translate}}</h4>
        <button type="button" class="close basic-close" (click)="editmodalform.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <form [formGroup]="editsubcountries" (ngSubmit)="onSubmitUpdate()">
            <div class="col-lg-12 col-xl-12 row">
                <div class="m-4 card-block row dt-responsive">
                    <div class="col-md-6 col-xl-6 form-group">
                        <label class="col-form-label">{{'epdb.admin.country.sub-countries.label-geo' | translate}}</label>
                        <select name="oStatus" class="form-control" id="geo_code" formControlName="geo_code">
                            <option value="">{{'epdb.admin.country.sub-countries.select_geo' | translate}}</option>
                            <option *ngFor="let item of datageo" value={{item.geo_code}}>{{item.geo_name}}</option> 
                        </select>
                        <span class="messages text-danger" *ngIf="!editsubcountries.get('geo_code').valid && editsubcountries.get('geo_code').touched">* Please Enter Geo</span>
                    </div>
                    <div class="col-md-6 col-xl-6 form-group">
                        <label class="col-form-label">{{'epdb.admin.country.sub-countries.label-territory' | translate}}</label>
                        <select name="oStatus" class="form-control" id="territory_code" formControlName="territory_code">
                            <option value="">{{'epdb.admin.country.sub-countries.select_territory' | translate}}</option>
                            <option *ngFor="let item of dataterritory" value={{item.territory_code}}>{{item.territory_name}}</option> 
                        </select>
                        <span class="messages text-danger" *ngIf="!editsubcountries.get('territory_code').valid && editsubcountries.get('territory_code').touched">* Please Enter Territory</span>
                    </div>
                    <div class="col-md-6 col-xl-6 form-group">
                        <label class="col-form-label">{{'epdb.admin.country.sub-countries.label-region' | translate}}</label>
                        <select name="oStatus" class="form-control" id="region_code" formControlName="region_code">
                            <option value="">{{'epdb.admin.country.sub-countries.select_region' | translate}}</option>
                            <option *ngFor="let item of dataregion" value={{item.region_code}}>{{item.region_name}}</option> 
                        </select>
                        <span class="messages text-danger" *ngIf="!editsubcountries.get('region_code').valid && editsubcountries.get('region_code').touched">* Please Enter Region</span>
                    </div>
                    <div class="col-md-6 col-xl-6 form-group">
                        <label class="col-form-label">{{'epdb.admin.country.sub-countries.label-subregion' | translate}}</label>
                        <select name="oStatus" class="form-control" id="subregion_code" formControlName="subregion_code">
                            <option value="">{{'epdb.admin.country.sub-countries.select_subregion' | translate}}</option>
                            <option *ngFor="let item of datasubregion" value={{item.subregion_code}}>{{item.subregion_name}}</option> 
                        </select>
                        <span class="messages text-danger" *ngIf="!editsubcountries.get('subregion_code').valid && editsubcountries.get('subregion_code').touched">* Please Enter Sub Region</span>
                    </div>

                    <div class="col-md-6 col-xl-6 form-group">
                        <label class="col-form-label">{{'epdb.admin.country.sub-countries.label-country' | translate}}</label>
                        <select name="oStatus" class="form-control" id="countries_code" formControlName="countries_code">
                            <option value="">{{'epdb.admin.country.sub-countries.select_country' | translate}}</option>
                            <option *ngFor="let item of datacountries" value={{item.countries_code}}>{{item.countries_name}}</option> 
                        </select>
                        <span class="messages text-danger" *ngIf="!editsubcountries.get('countries_code').valid && editsubcountries.get('countries_code').touched">* Please Enter Countries</span>
                    </div>

                    <div class="col-md-6 col-xl-6 form-group">
                        &nbsp;
                    </div>


                    <div class="col-md-6 col-xl-6 form-group">
                        <label class="col-form-label">{{'epdb.admin.country.sub-countries.label-subcountry-code' | translate}}</label>
                        <input type="text" class="form-control" id="subcountries_code" formControlName="subcountries_code" placeholder="{{'epdb.admin.country.sub-countries.label-subcountry-code' | translate}}">
                        <span class="messages text-danger" *ngIf="!editsubcountries.get('subcountries_code').valid && editsubcountries.get('subcountries_code').touched">* Please Enter Countries Code</span>
                    </div>

                    <div class="col-md-6 col-xl-6 form-group">
                        <label class="col-form-label">{{'epdb.admin.country.sub-countries.label-subcountry-name' | translate}}</label>
                        <input type="text" class="form-control" id="subcountries_name" formControlName="subcountries_name" placeholder="{{'epdb.admin.country.sub-countries.label-subcountry-name' | translate}}">
                        <span class="messages text-danger" *ngIf="!editsubcountries.get('subcountries_name').valid && editsubcountries.get('subcountries_name').touched">* Please Enter Countries Code</span>
                    </div>

                    <div class="col-md-12 col-xl-12 form-group row">
                        &nbsp;
                        <br/>
                    </div>

                    <div class="ml-2 col-md-12 col-xl-12 form-group row">
                        <div class="col-md-4 col-xl-4 form-group">
                            <button type="submit" *ngIf="editsubcountries.valid" (click)="editmodalform.hide()" class="btn btn-success btn-md btn-block text-center"><i class="icofont icofont-save"></i> {{'general.btn_save' | translate}}</button>
                            <button type="submit" *ngIf="!editsubcountries.valid" class="btn btn-success btn-md btn-block text-center"><i class="icofont icofont-save"></i> {{'general.btn_save_change' | translate}}</button>
                        </div>
                        <div class="col-md-4 col-xl-4 form-group">
                            <button type="button" (click)="resetFormUpdate()" class="btn btn-default btn-md btn-block text-center"><i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}</button>
                        </div>
                        <div class="col-md-4 col-xl-4 form-group">
                            <button type="button" (click)="editmodalform.hide()" class="btn btn-danger btn-md btn-block text-center"><i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</app-modal-basic>
<!-- end modal validation form Update Geo -->