<ngx-loading [show]="loading" [config]="{
  backdropBackgroundColour: 'rgba(0, 0, 0, 0.3)',
  primaryColour: '#ffffff', secondaryColour: '#ffffff', tertiaryColour: '#ffffff', fullScreenBackdrop: true }"></ngx-loading>
<div class="card">
  <div class="card-header">
      <div class="page-header-title">
          <h4>Merge Org</h4>
      </div>
  </div>
  <div class="card-block">
    <div class="">
      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th colspan="3" class="bg-disable">
              <div class="text-center"><b>Organization to Mark as Duplicate</b></div>
              <div class="text-center text-danger">This Organization will be "RETIRED"</div>
              <div class="text-center text-danger">Choose items to copy over to the Master</div>
            </th>
            <th colspan="3">
              <div class="text-center"><b>Master Organization - the one to Keep</b></div>
              <div class="text-center"><b>This Organization will get "bigger"</b></div>
              <div class="text-center"><b>Chosen items will be added or overwrite existing items</b></div>
            </th>
          </tr>
          <tr>
            <td>Item</td>
            <td>Value to copy</td>
            <td>Copy</td>
            <td colspan="3">Current Value - will be overwriten if checkbox is checked</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>OrgId</td>
            <td>{{dup_data.orgId}}</td>
            <td></td>
            <td colspan="3">
              <div class="form-group row mb-0">
                <div class="col-sm-5 col-form-label pr-0" style="white-space: normal;">Id of the organization you want to keep</div>
                <div class="col-sm-3 p-0"><input class="form-control" [(ngModel)]="searchId"></div>
                <div class="col-sm-3"><button class="btn btn-primary" (click)="searchOrg()">Search</button></div>
              </div>
            </td>
          </tr>
          <tr>
            <td>OrgName</td>
            <td [innerHTML]="dup_data.orgName"></td>
            <td class="text-center"><input type="checkbox" (change)="checkField($event,'orgName')" [disabled]="!base_master_data.orgId"/></td>
            <td colspan="3">{{master_data.orgName?master_data.orgName:base_master_data.orgName}}</td>
          </tr>
          <tr>
            <td>EnglishOrgName</td>
            <td [innerHTML]="dup_data.englishOrgName"></td>
            <td class="text-center"><input type="checkbox" (change)="checkField($event,'englishOrgName')" [disabled]="!base_master_data.orgId"/></td>
            <td colspan="3">{{master_data.englishOrgName?master_data.englishOrgName:base_master_data.englishOrgName}}</td>
          </tr>
          <tr>
            <th>CommercialOrgName</th>
            <th colspan="2" [innerHTML]="dup_data.commercialOrgName"></th>
            <th>CommercialOrgName</th>
            <th colspan="2">{{base_master_data.commercialOrgName}}</th>
          </tr>
          <tr>
            <td>OrgWebAddress</td>
            <td [innerHTML]="dup_data.orgWebAddress"></td>
            <td class="text-center"><input type="checkbox" (change)="checkField($event,'orgWebAddress')" [disabled]="!base_master_data.orgId"/></td>
            <td colspan="3">{{master_data.orgWebAddress?master_data.orgWebAddress:base_master_data.orgWebAddress}}</td>
          </tr>
          <tr>
            <th>SAPSoldTo</th>
            <th colspan="2">{{dup_data.sapsoldTo}}</th>
            <th>SAPSoldTo</th>
            <th colspan="2">{{base_master_data.sapsoldTo}}</th>
          </tr>
          <tr>
            <th>TaxExempt</th>
            <th colspan="2">{{dup_data.taxExempt}}</th>
            <th>TaxExempt</th>
            <th colspan="2">{{base_master_data.taxExempt}}</th>
          </tr>
          <tr>
            <th>VATNumber</th>
            <th colspan="2">{{dup_data.vatnumber}}</th>
            <th>VATNumber</th>
            <th colspan="2">{{base_master_data.vatnumber}}</th>
          </tr>
          <tr>
            <th>YearJoined</th>
            <th colspan="2">{{dup_data.yearJoined}}</th>
            <th>YearJoined</th>
            <th colspan="2">{{base_master_data.yearJoined}}</th>
          </tr>
          <tr>
            <td>ATCDirector</td>
            <td>
              <div>{{dup_data.atcdirectorFirstName}} {{dup_data.atcdirectorLastName}}</div>
              <div>{{dup_data.atcdirectorEmailAddress}}</div>
              <div>{{dup_data.atcdirectorTelephone}}</div>
            </td>
            <td class="text-center">
              <input type="checkbox" (change)="checkField($event,'atcdirectorFirstName');checkField($event,'atcdirectorLastName');checkField($event,'atcdirectorEmailAddress');checkField($event,'atcdirectorTelephone')" [disabled]="!base_master_data.orgId"/>
            </td>
            <td colspan="3">
              <div>
                {{master_data.atcdirectorFirstName?master_data.atcdirectorFirstName:base_master_data.atcdirectorFirstName}} 
                {{master_data.atcdirectorLastName?master_data.atcdirectorLastName:base_master_data.atcdirectorLastName}}
              </div>
              <div>{{master_data.atcdirectorEmailAddress?master_data.atcdirectorEmailAddress:base_master_data.atcdirectorEmailAddress}}</div>
              <div>{{master_data.atcdirectorTelephone?master_data.atcdirectorTelephone:base_master_data.atcdirectorTelephone}}</div>
            </td>
          </tr>
          <tr>
            <td>LegalContact</td>
            <td>
              <div>{{dup_data.legalContactFirstName}} {{dup_data.legalContactLastName}}</div>
              <div>{{dup_data.legalContactEmailAddress}}</div>
              <div>{{dup_data.legalContactTelephone}}</div>
            </td>
            <td class="text-center">
              <input type="checkbox" (change)="checkField($event,'legalContactFirstName');checkField($event,'legalContactLastName');checkField($event,'legalContactEmailAddress');checkField($event,'legalContactTelephone')" [disabled]="!base_master_data.orgId"/>
            </td>
            <td colspan="3">
              <div>
                {{master_data.legalContactFirstName?master_data.legalContactFirstName:base_master_data.legalContactFirstName}} 
                {{master_data.legalContactLastName?master_data.legalContactLastName:base_master_data.legalContactLastName}}
              </div>
              <div>{{master_data.legalContactEmailAddress?master_data.legalContactEmailAddress:base_master_data.legalContactEmailAddress}}</div>
              <div>{{master_data.legalContactTelephone?master_data.legalContactTelephone:base_master_data.legalContactTelephone}}</div>
            </td>
          </tr>
          <tr>
            <td>BillingContact</td>
            <td>
              <div>{{dup_data.billingContactFirstName}} {{dup_data.billingContactLastName}}</div>
              <div>{{dup_data.billingContactEmailAddress}}</div>
              <div>{{dup_data.billingContactTelephone}}</div>
            </td>
            <td class="text-center">
              <input type="checkbox" (change)="checkField($event,'billingContactFirstName');checkField($event,'billingContactLastName');checkField($event,'billingContactEmailAddress');checkField($event,'billingContactTelephone')" [disabled]="!base_master_data.orgId"/>
            </td>
            <td colspan="3">
              <div>
                {{master_data.billingContactFirstName?master_data.billingContactFirstName:base_master_data.billingContactFirstName}} 
                {{master_data.billingContactLastName?master_data.billingContactLastName:base_master_data.billingContactLastName}}
              </div>
              <div>{{master_data.billingContactEmailAddress?master_data.billingContactEmailAddress:base_master_data.billingContactEmailAddress}}</div>
              <div>{{master_data.billingContactTelephone?master_data.billingContactTelephone:base_master_data.billingContactTelephone}}</div>
            </td>
          </tr>
          <tr>
            <td>Registered Address</td>
            <td>
              <div>{{dup_data.registeredAddress1}}</div>
              <div>{{dup_data.registeredAddress2}}</div>
              <div>{{dup_data.registeredAddress3}}</div>
              <div>{{dup_data.registeredCity}} {{dup_data.registeredCountryCode}}</div>
            </td>
            <td class="text-center">
              <input type="checkbox" 
                (change)="checkField($event,'registeredAddress1');
                  checkField($event,'registeredAddress2');
                  checkField($event,'registeredAddress3');
                  checkField($event,'registeredCity');
                  checkField($event,'registeredCountryCode')"
                [disabled]="!base_master_data.orgId"
              />
            </td>
            <td colspan="3">
              <div>{{master_data.registeredAddress1?master_data.registeredAddress1:base_master_data.registeredAddress1}}</div>
              <div>{{master_data.registeredAddress2?master_data.registeredAddress2:base_master_data.registeredAddress2}}</div>
              <div>{{master_data.registeredAddress3?master_data.registeredAddress3:base_master_data.registeredAddress3}}</div>
              <div>
                {{master_data.registeredCity?master_data.registeredCity:base_master_data.registeredCity}} 
                {{master_data.registeredCountryCode?master_data.registeredCountryCode:base_master_data.registeredCountryCode}}
              </div>
            </td>
          </tr>
          <tr>
            <td>Invoicing Address</td>
            <td>
              <div>{{dup_data.invoicingAddress1}}</div>
              <div>{{dup_data.invoicingAddress2}}</div>
              <div>{{dup_data.invoicingAddress3}}</div>
              <div>{{dup_data.invoicingCity}} {{dup_data.invoicingCountryCode}}</div>
            </td>
            <td class="text-center">
              <input type="checkbox" 
                (change)="checkField($event,'invoicingAddress1');
                  checkField($event,'invoicingAddress2');
                  checkField($event,'invoicingAddress3');
                  checkField($event,'invoicingCity');
                  checkField($event,'invoicingCountryCode')"
                [disabled]="!base_master_data.orgId"
              />
            </td>
            <td colspan="3">
              <div>{{master_data.invoicingAddress1?master_data.invoicingAddress1:base_master_data.invoicingAddress1}}</div>
              <div>{{master_data.invoicingAddress2?master_data.invoicingAddress2:base_master_data.invoicingAddress2}}</div>
              <div>{{master_data.invoicingAddress3?master_data.invoicingAddress3:base_master_data.invoicingAddress3}}</div>
              <div>
                {{master_data.invoicingCity?master_data.invoicingCity:base_master_data.invoicingCity}} 
                {{master_data.invoicingCountryCode?master_data.invoicingCountryCode:base_master_data.invoicingCountryCode}}
              </div>
            </td>
          </tr>
          <tr>
            <td>Contact Address</td>
            <td>
              <div>{{dup_data.contractAddress1}}</div>
              <div>{{dup_data.contractAddress2}}</div>
              <div>{{dup_data.contractAddress3}}</div>
              <div>{{dup_data.contractCity}} {{dup_data.contractCountryCode}}</div>
            </td>
            <td class="text-center">
              <input type="checkbox" 
                (change)="checkField($event,'contractAddress1');
                  checkField($event,'contractAddress2');
                  checkField($event,'contractAddress3');
                  checkField($event,'contractCity');
                  checkField($event,'contractCountryCode')"
                [disabled]="!base_master_data.orgId"
              />
            </td>
            <td colspan="3">
              <div>{{master_data.contractAddress1?master_data.contractAddress1:base_master_data.contractAddress1}}</div>
              <div>{{master_data.contractAddress2?master_data.contractAddress2:base_master_data.contractAddress2}}</div>
              <div>{{master_data.contractAddress3?master_data.contractAddress3:base_master_data.contractAddress3}}</div>
              <div>
                {{master_data.contractCity?master_data.contractCity:base_master_data.contractCity}} 
                {{master_data.contractCountryCode?master_data.contractCountryCode:base_master_data.contractCountryCode}}
              </div>
            </td>
          </tr>
          <tr>
            <th colspan="3">Sites</th>
            <th colspan="3">Sites</th>
          </tr>
          <tr>
            <td colspan="3">
              <ng-container *ngIf="dup_data.sites">
                <div *ngFor="let d of dup_data.sites" class="d-flex justify-content-between pr-2">
                  <span>{{d.siteId}}</span>
                  <span [innerHTML]="d.siteName"></span>
                  <input type="checkbox" (change)="checkField($event,'sites',d)" [disabled]="!base_master_data.orgId"/>
                </div>
              </ng-container>
            </td>
            <td colspan="3">
              <ng-container *ngIf="base_master_data.sites">
                <div *ngFor="let d of base_master_data.sites" class="d-flex justify-content-between pr-2">
                  <span>{{d.siteId}}</span>
                  <span [innerHTML]="d.siteName"></span>
                </div>
              </ng-container>
              <ng-container *ngIf="master_data.sites">
                <div *ngFor="let d of master_data.sites" class="d-flex justify-content-between pr-2">
                  <span>{{d.siteId}}</span>
                  <span [innerHTML]="d.siteName"></span>
                </div>
              </ng-container>
            </td>
          </tr>
          <tr>
            <th colspan="3">Attributes, Journal Entries, etc</th>
            <th colspan="3">Attributes, Journal Entries, etc</th>
          </tr>
          <tr>
            <td colspan="3">
              <ng-container *ngIf="dup_data.journalEntries">
                <div *ngFor="let d of dup_data.journalEntries" class="d-flex justify-content-between pr-2">
                  <span>{{d.journalId}}</span>
                  <span>{{d.entryType}}</span>
                  <input type="checkbox" (change)="checkField($event,'journalEntries',d)" [disabled]="!base_master_data.orgId"/>
                </div>
              </ng-container>
            </td>
            <td colspan="3">
              <ng-container *ngIf="base_master_data.journalEntries">
                <div *ngFor="let d of base_master_data.journalEntries" class="d-flex justify-content-between pr-2">
                  <span>{{d.journalId}}</span>
                  <span>{{d.entryType}}</span>
                </div>
              </ng-container>
              <ng-container *ngIf="master_data.journalEntries">
                <div *ngFor="let d of master_data.journalEntries" class="d-flex justify-content-between pr-2">
                  <span>{{d.journalId}}</span>
                  <span>{{d.entryType}}</span>
                </div>
              </ng-container>
            </td>
          </tr>
          <tr>
            <td colspan="3">
              <button *ngIf="base_master_data.orgId" class="btn btn-secondary" (click)="merge()">Mark as duplicate</button>
            </td>
            <td colspan="3">
              <button *ngIf="base_master_data.orgId" class="btn btn-primary" (click)="reset()">Look up another</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>