<div class="card">
    <div class="card-header">
        <div class="page-header-title">
            <h4>{{'epdb.admin.sku.add-update-sku' | translate}}</h4>
        </div>
    </div>
    <div class="card-block">
        <form [formGroup]="addSKU" (ngSubmit)="onSubmit()">
            <div class="dt-responsive dt-bootstrap4 row p-20">
                <div class="col-md-6 col-xl-6 form-group">
                    <label class="col-form-label">{{'epdb.admin.sku.geo' | translate}}</label>
                    <angular2-multiselect [data]="dropdownListGeo" [(ngModel)]="selectedItemsGeo" [ngModelOptions]="{standalone: true}" [settings]="dropdownSettings"
                        (onSelect)="onGeoSelect($event)" (onDeSelect)="OnGeoDeSelect($event)" (onSelectAll)="onGeoSelectAll($event)"
                        (onDeSelectAll)="onGeoDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-6 col-xl-6 form-group">
                    <label class="col-form-label">{{'epdb.admin.sku.region' | translate}}</label>
                    <angular2-multiselect [data]="dropdownListRegion" [(ngModel)]="selectedItemsRegion" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onRegionSelect($event)" (onDeSelect)="OnRegionDeSelect($event)"
                        (onSelectAll)="onRegionSelectAll($event)" (onDeSelectAll)="onRegionDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-6 col-xl-6 form-group">
                    <label class="col-form-label">{{'epdb.admin.sku.sub-region' | translate}}</label>
                    <angular2-multiselect [data]="dropdownListSubRegion" [(ngModel)]="selectedItemsSubRegion" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onSubRegionSelect($event)" (onDeSelect)="OnSubRegionDeSelect($event)"
                        (onSelectAll)="onSubRegionSelectAll($event)" (onDeSelectAll)="onSubRegionDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-6 col-xl-6 form-group">
                    <label class="col-form-label">{{'epdb.admin.sku.country' | translate}}</label>
                    <angular2-multiselect [data]="dropdownListCountry" [(ngModel)]="selectedItemsCountry" [ngModelOptions]="{standalone: true}"
                        [settings]="dropdownSettings" (onSelect)="onCountriesSelect($event)" (onDeSelect)="OnCountriesDeSelect($event)"
                        (onSelectAll)="onCountriesSelectAll($event)" (onDeSelectAll)="onCountriesDeSelectAll($event)">
                    </angular2-multiselect>
                </div>
                <div class="col-md-12 col-xl-12 form-group">
                    <label class="col-form-label">{{'epdb.admin.sku.distributor' | translate}}</label>
                    <select name="SiteID" id="SiteID" class="form-control" formControlName="SiteID">
                        <option value="">{{'epdb.admin.sku.select-distributor' | translate}}</option>
                        <option *ngFor="let item of dataSite" value="{{item.SiteId}}">{{item.SiteName}}</option>
                    </select>
                </div>
                <div class="col-md-6 col-xl-6 form-group">
                    <label class="col-form-label">Description</label>
                    <textarea name="SKUDescription" id="SKUDescription" class="form-control" rows="5" formControlName="SKUDescription"></textarea>
                </div>
                <div class="col-md-3 col-xl-3 form-group">
                    <label class="col-form-label">{{'epdb.admin.sku.price-license' | translate}}</label>
                    <input type="text" name="PricePerLicense" id="PricePerLicense" class="form-control" formControlName="PricePerLicense">
                </div>
                <div class="col-md-3 col-xl-3 form-group">
                    <label class="col-form-label">{{'epdb.admin.sku.currency' | translate}}</label>
                    <select name="Currency" id="Currency" class="form-control" formControlName="Currency">
                        <option value="">{{'epdb.admin.sku.select-currency' | translate}}</option>
                        <option *ngFor="let item of currency" value="{{item.Key}}">{{item.KeyValue}}</option>
                    </select>
                </div>
                <div class="col-md-12 col-xl-12">&nbsp;</div>
                <div class="col-md-3 col-xl-3"></div>
                <div class="col-md-3 col-xl-3">
                    <button type="submit" class="btn btn-success btn-md btn-block text-center"><i class="icofont icofont-save"></i> {{'general.btn_save' | translate}}</button>
                </div>
                <div class="col-md-3 col-xl-3">
                    <button type="button" (click)="resetForm()" class="btn btn-default btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-spinner-alt-3"></i> {{'general.btn_reset' | translate}}</button>
                </div>
                <div class="col-md-3 col-xl-3">
                    <button type="button" [routerLink]="['/epdb/dashboard']" class="btn btn-danger btn-md btn-block waves-effect text-center m-b-20"><i class="icofont icofont-ui-close"></i> {{'general.btn_cancel' | translate}}</button>
                </div>
            </div>
        </form>
    </div>

    <div class="card-block">
        <div class="dt-responsive dt-bootstrap4 row p-20">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                <div>
                    <label class="label-control">{{'general.show' | translate}}
                    <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                    </select>
                        {{'general.entries' | translate}}
                    </label>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <div class="text-right">
                    <label>{{'general.search' | translate}}:
                    <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search">
                    </label>
                </div>
            </div>
            <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="SKU | dataFilterSKU : filterQuery"
                #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                    <tr>
                        <th width="5%" class="text-center">{{'epdb.admin.sku.table.no' | translate}}.</th>
                        <th width="55%" class="text-center">{{'epdb.admin.sku.table.sku-description' | translate}}</th>
                        <th width="20%" class="text-center">{{'epdb.admin.sku.table.price/license' | translate}}</th>
                        <th width="20%" class="text-center">{{'epdb.admin.sku.table.currency' | translate}}</th>
                        <th width="20%" class="text-center">{{'epdb.admin.sku.table.action' | translate}}</th>
                    </tr>
                </thead>
                <tbody *ngIf="SKU!=null">
                    <tr *ngFor="let item of mf.data; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{item.SKUDescription}}</td>
                        <td>{{item.PricePerLicense}}</td>
                        <td>{{item.KeyValue}} ({{item.Currency}})</td>
                        <td class="action-icon">
                            <a (click)="getDetail(item.SiteCountryDistributorSKUId);editmodal.show();" class="m-r-15 text-muted f-18 ml-4" ngbTooltip="Edit SKU"><i class="icofont icofont-ui-edit"></i></a>
                            <a (click)="openConfirmsSwal(item.SiteCountryDistributorSKUId)" class="m-r-15 text-muted f-18 ml-4" ngbTooltip="Delete SKU"><i class="icofont icofont-delete-alt"></i></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr *ngIf="SKU!=null">
                        <td colspan="6">
                            <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                        </td>
                    </tr>
                    <tr *ngIf="SKU==null">
                        <td colspan="6" class="text-right">{{'general.cant-find-data' | translate}}</td>
                    </tr>
                    <tr *ngIf="SKU==''">
                        <td colspan="6" class="text-right">{{'general.data-empty' | translate}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>


<app-modal-basic #editmodal [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
        <h4 class="modal-title">{{'epdb.admin.sku.edit-sku' | translate}}</h4>
        <button type="button" class="close basic-close" (click)="editmodal.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="app-modal-body">
        <form [formGroup]="updateSKU" (ngSubmit)="onSubmitUpdate()">
            <div class="col-lg-12 col-xl-12 row">
                <div class="m-4 card-block row dt-responsive">
                    <div class="col-md-12 col-xl-12 form-group">
                        <label class="col-form-label">{{'epdb.admin.sku.description' | translate}}</label>
                        <input type="text" name="SKUDescription" id="SKUDescription" class="form-control" formControlName="SKUDescription">
                    </div>
                    <div class="col-md-6 col-xl-6 form-group">
                        <label class="col-form-label">{{'epdb.admin.sku.price-license' | translate}}</label>
                        <input type="text" name="PricePerLicense" class="form-control" id="PricePerLicense" formControlName="PricePerLicense">
                    </div>
                    <div class="col-md-6 col-xl-6 form-group">
                        <label class="col-form-label">{{'epdb.admin.sku.currency' | translate}}</label>
                        <select name="Currency" id="Currency" class="form-control" formControlName="Currency">
                            <option value="">{{'epdb.admin.sku.select-currency' | translate}}</option>
                            <option *ngFor="let item of currency" value="{{item.Key}}">{{item.KeyValue}}</option>
                        </select>
                    </div>

                    <div class="col-md-12 col-xl-12">&nbsp;</div>

                    <div class="mt-4 ml-2 col-md-12 col-xl-12 form-group row">
                        <div class="col-md-4 col-xl-4 form-group">
                            <button type="submit" (click)="editmodal.hide()" class="btn btn-success btn-md btn-block text-center"><i class="icofont icofont-save"></i>{{'general.btn_save_change' | translate}}</button>
                        </div>
                        <div class="col-md-4 col-xl-4 form-group">
                            <button type="button" class="btn btn-default btn-md btn-block text-center"><i class="icofont icofont-spinner-alt-3"></i>{{'general.btn_reset' | translate}}</button>
                        </div>
                        <div class="col-md-4 col-xl-4 form-group">
                            <button type="button" (click)="editmodal.hide()" class="btn btn-danger btn-md btn-block text-center"><i class="icofont icofont-ui-close"></i>{{'general.btn_cancel' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</app-modal-basic>